[2017-03-26 04:33] schellap commented on #174
@eerhardt, you wouldn't disable `%PATH%\dotnet.exe` activation for
standalone apps as it requires explicit extra arguments like `dotnet
app.dll`.

On Friday, March 24, 2017, Rama krishnan Raghupathy <
notifications@github.com> wrote:

[2017-03-26 04:41] schellap commented on #215
I don't think #215 is fully fixed. See the expected behavior section in the
bug description. `dotnet.exe` should not load sxs hostfxr, otherwise
someone can simply copy over the exe.

Basically, remove this code:

https://github.com/dotnet/core-setup/blob/master/src/corehost/corehost.cpp#L131

This wasn't removed earlier because CLI didn't start using apphost.

On Friday, March 24, 2017, Rama kris

[2017-03-26 06:43] ramarag commented on #215
@schellap did you mean that we should move the check for sxs hostfxr to the start of resolve_fxr_path(const pal::string_t& own_dir) ?

[2017-03-27 14:17] #1816 closed

[2017-03-27 18:02] gkhanna79 commented on #174
@schellap Thank you for chiming in. As long as we disable 2.0 dotnet.exe to not support standalone apps explicitly, is there a reason we would need the approach you outlined above? Essentially:

1) For portable scenarios, 2.0 dotnet will load 1.X hostfxr and that will work.
2) For standalone apps using 2.0 FX, apphost will be used and 2.0 dotnet.exe, even if copied, will not work.
3) For standalon

[2017-03-27 18:16] gkhanna79 commented on #215
@ramarag I believe @schellap is requesting that the error is more appropriate:

_Using dotnet.exe should produce an error that it cannot load standalone app._

Based upon the current implementation, it will _also_ give the error at https://github.com/dotnet/core-setup/blob/master/src/corehost/corehost.cpp#L164, which is incorrect interms of the expected experience.

[2017-03-27 19:41] rakeshsinghranchi commented on #1192
Followed exactly the same steps, issue does not repro.

[2017-03-27 19:50] rakeshsinghranchi opened #1856 "Enable Runtime Ubuntu installers upload to feed for daily builds."
This issue tracks the work item required to enabling build workflow to upload the runtime packages to azure feed for Ubuntu installers . As of today, CLI (SDK) installers are upload the packages and their dependencies ( runtime ).

[2017-03-28 06:32] hqueue commented on #790
Except Tizen armel CI for core-setup,  other ARM32 CI has been enabled as default.

Tizen armel CI will be enabled after pipeline build for Tizen armel is available.

[2017-03-28 06:56] hqueue commented on #1566
@gkhanna79 Is there any update for the pipeline build of Tizen (armel) ?

[2017-03-28 14:37] gkhanna79 opened #1868 "Enable shared host signing"
Tracking issue to enable it.

CC @ramarag @eerhardt

[2017-03-28 15:38] ericstj commented on #1564
That is correct.  We no longer have the granular System.* references.  Instead just build the self-contained app in the normal way (not bothering with dependencies) then you can enable trimming as described here: https://github.com/dotnet/standard/blob/master/Microsoft.Packaging.Tools/docs/trimming.md.

@blackdwarf can you update the docs?

[2017-03-28 15:45] Thealexbarney commented on #1564
@ericstj Should issues with trimming be reported, or is trimming just not completely implemented yet? I tried it out, and had issues with transitive project dependencies being trimmed when they're actually needed.

[2017-03-28 16:19] ericstj commented on #1564
@Thealexbarney go ahead and file an issue in the standard repo on that if it is a bug.

Here's some relevant info we'd want to know.
Was NuGet package C actually used? (eg: did A or B use types in C)
Was Project B actually used?  (eg: did A use types in B)

Even better would be an isolated repro.

To workaround, in project A you can specify <TrimFilesRootPackages Include="C" /> and that will expli

[2017-03-28 16:49] rahulreddy65 commented on #725
Can anyone tell me when will I be able to build and run programs on arm32 linux? thanks

[2017-03-28 17:03] hqueue commented on #725
@rahulreddy65 If you are using Ubuntu 14.04 or Ubuntu 16.04 for arm, I think you can run C# programs on arm32 linux by installing binary from https://github.com/dotnet/core-setup#daily-builds.
- Ubuntu 14.04-arm https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/dotnet-ubuntu-arm.latest.tar.gz
- Ubuntu 16.04-arm https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Late

[2017-03-28 19:39] Thealexbarney commented on #1564
@ericstj Well, I tried to reproduce the issue, but it wouldn't even make it to managed code before getting an error, so I filed that issue instead: dotnet/standard#264

[2017-03-28 20:43] #1217 closed

[2017-03-28 21:52] mairaw commented on #1564
@ericstj I haven't followed this thread closely, but can you please open an issue at https://github.com/dotnet/docs and work with @GuardRex on the updates needed?

[2017-03-28 22:26] ramarag opened #1871 "Remove version info from apphost.exe"
cc @gkhanna79 @eerhardt

[2017-03-28 22:37] ramarag commented on #934
cc @eerhardt do update the list above

[2017-03-29 02:18] hqueue commented on #1411
@gkhanna79 As you may already know, arm32 binary is still built using clang 3.6 with -O1 optimization, not -O3. And I think it's same for the official pipeline build for arm32. (right?)
Is is ok to use this approach for the official pipeline build ? Or should we move to clang 3.9 for arm32 cross build and enable -O3 optimiozation to prepare 2.0.0 ? For other architectures, I'm not sure about wheth

[2017-03-29 02:46] ramarag commented on #570
@gkhanna79 what is the error message that we should be giving ?

[2017-03-29 08:11] janvorli commented on #1411
I think it would be the best to switch our build to clang 3.9 now all over the board.

[2017-03-29 14:29] mklement0 commented on #1593
@davkean:

Not only that, but the specific wording even suggests that *host* information will be supplied:

[code]

And, of course, that would be helpful too, but with the current hybrid approach (single entry point to both host CLI  and SDK CLI - wouldn't know which incarnation to call Jekyll and which Hyde :), that's not possible if the SDK is *also* installed.

For those looking for a better un

[2017-03-29 14:34] gkhanna79 commented on #570
@ramarag Why don't you suggest an appropriate solution for this :) ?

[2017-03-29 15:36] omajid commented on #1593
AFAIK, for 1.x , it actually prints the version of the muxer (host) not CoreCLR. It generally matches the host version, but the two can differ. I don't know if there's any command to actually display the CoreCLR/CoreFX version.

[2017-03-29 19:00] mklement0 commented on #1593
I appreciate the clarification, @omajid  - once I have the full picture,  I will clean up my previous post and the SO answer accordingly.

* Is there really no way to determine the actual CoreCLR version?

* Does anybody know under what circumstances the host and the CoreCLR version can differ?

* Similarly, with multiple CoreCLRs / SDKs installed, is there a way to _select_  a specific CoreCLR /

[2017-03-29 19:18] gkhanna79 commented on #1871
We should also add an explicit resource (on Windows) that carries the original filename and explicitly set major/minor versions that can be updated when the shared host (i.e. dotnet.exe) is updated.

[2017-03-29 20:15] omajid commented on #1593
I have been looking directory names under `$PATH_TO_DOTNET/shared/Microsoft.NETCore.App/` to see what shared runtime versions this .NET Core installation supports.

There's many ways. The host corresponds to the https://github.com/dotnet/core-setup repo. The runtime (also called shared framework) includes CoreCLR (https://github.com/dotnet/coreclr) and CoreFX (https://github.com/dotnet/corefx). Al

[2017-03-29 20:43] ramarag commented on #259
@gkhanna79 i am moving this to future

[2017-03-29 20:45] ramarag commented on #1230
@rakeshsinghranchi is this part of your investigation ? i am assigning this to you. if you are not going to look into this please assign it back

[2017-03-29 20:45] dagood commented on #259
FYI @chcosta

[2017-03-29 20:49] chcosta commented on #259
As part of my core-setup transition to BuildTools work, I'm updating the versioning to use the versioning logic from buildtools.  I still need to close on how to embed the MSI version based off of a BuildTools version string, but the rest of the work is largely done.

[2017-03-29 20:59] Petermarcu commented on #1411
If we're going to do this, we need to do it soon.

[2017-03-29 21:03] gkhanna79 commented on #1411
Yes, this is correct since official images do not carry clang 3.9. Before switching whole sale to 3.9, can you please help confirm that CoreCLR tests are passing with it for x64 as well? Once you can help confirm that, we can look into transitioning to 3.9.

[2017-03-29 21:04] gkhanna79 commented on #1411
@janvorli Have you validated that this works as expected for x64 on Linux (since on OSX we endup using whatever clang comes with XCode)?

[2017-03-29 21:41] janvorli commented on #1411
@gkhanna79 I have not done a full validation yet. But I can do an easy way of validation - create a PR that makes clang 3.9 the default and let the lab run the tests. We already have clang3.9 installed in the lab for Ubuntu to support CoreRT builds.

[2017-03-29 21:44] gkhanna79 commented on #1566
@hqueue Sorry for the delay - I was heads down with few other things that needed to complete. Yes, I have had chance to think about this and had few questions that I was hoping you can help answer. Also, please correct me wherever applicable.

- For shipping Tizen, are you planning to take a snapshot of .NET Core 2.0 repos (CoreCLR/CoreFX/Core-Setup), once 2.0 ships, and build the corresponding bi

[2017-03-29 21:45] gkhanna79 commented on #1411
@janvorli If you can give it a shot, that will be great and will help us get answers soon.

[2017-03-29 22:37] eerhardt opened #1884 "runtime.RID.Microsoft.NETCore.App packages contain all the symbols"
## Steps to reproduce
Look at the latest package on https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.opensuse.42.1-x64.Microsoft.NETCore.App

## Expected  behavior
It should be a reasonable size.

## Actual behavior
It is 90MB, since it contains all the symbol files.

/cc @ericstj @gkhanna79 @chcosta

[2017-03-29 22:48] chcosta commented on #1884
I'd imagine that it's expanding the transport packages from CoreFx and then just repackaging everything into the Microsoft.NETCore.App runtime package.  I'll look into adding an exclusion so that it doesn't repackage symbols.

[2017-03-29 22:59] eerhardt commented on #1884
FYI - this issue is blocking the CLI tests on the new runtime.  See https://github.com/dotnet/cli/pull/6181#issuecomment-290251792.  It breaks the `dotnet cache` command.

[2017-03-29 23:10] eerhardt opened #1886 "DependencyContextLoader should load all dependency files it is given to it"
## Steps to reproduce
After https://github.com/dotnet/sdk/pull/1053 is merged, it is possible for an app to run on the shared framework, but not be "portable".  In one of these apps, if you inspect the `DependencyContext.Default`

## Expected  behavior
It should have all the framework assemblies, since it runs on the shared framework.

## Actual behavior
It doesn't contain the framework assemblies

[2017-03-30 01:44] gkhanna79 commented on #618
@ellismg Did you get a chance to think more about this post our discussion few weeks ago?

[2017-03-30 02:06] #1605 closed

[2017-03-30 02:10] gkhanna79 commented on #1805
@eerhardt Should this be in 2.0? If not, please update as appropriate.

[2017-03-30 02:12] gkhanna79 commented on #1840
CC @eerhardt @bleroy

[2017-03-30 02:13] gkhanna79 commented on #1848
CC @eerhardt

[2017-03-30 02:14] gkhanna79 commented on #1758
@eerhardt Thoughts?

[2017-03-30 02:15] gkhanna79 commented on #1673
@DamianEdwards Can you help move this to appropriate repo and assign to right folks?

[2017-03-30 02:32] mklement0 commented on #1593
@omajid:

That's very helpful, thank you (original post updated).

So the SDK versions, Host (fxr) versions, and CoreCLR versions are reflected in folder names.

I presume that the CoreFX DLLs are hosted inside the folder for the CoreCLR that they depend on, correct?

Given that CoreFX versions therefore don't have their own folders reflecting their version numbers, how can you determine the CoreF

[2017-03-30 03:18] hqueue commented on #1566
@lemmaa @jyoungyun Let's have a discussion about this.

@gkhanna79 Not everything is decided yet. I will leave a reply after discussion.

[2017-03-30 03:57] Petermarcu commented on #618
Id really like to push towards a world where components are crossgening themselves when they build and we don't have to include tools in the runtime. Seems fine to carry crossgeb with the toolset.

[2017-03-30 05:46] ellismg commented on #618
Given that going forward we'll have small number of rid specific packages (e.g linux, osx, windows) and crossgen is now in Microsoft.NETCore.App in the tools folder, it will be easy enough for my scenarios to pull down the right cross-gen, so I'm happy to punt this.

Do you have a plan for how you would package cross-arch crossgen.  e.g. the crossgen that runs on x64 but targets arm64, how would b

[2017-03-30 08:44] hseok-oh commented on #1411
CoreCLR cross build (linux arm, x86) depends on docker images: `microsoft/dotnet-buildtools-prereqs:ubuntu1404_cross_prereqs_v3`, `microsoft/dotnet-buildtools-prereqs:ubuntu1604_cross_prereqs_v3`
But these docker images look like don't have clang-3.9 yet.

[2017-03-30 14:33] eerhardt commented on #1758
We've already removed the SHA check in .NET Core 2.0.  So this isn't a problem moving forward.

The only question is:  Is this issue important enough to ship a servicing fix for 1.0/1.1?  Is it blocking any scenario?

If the issue isn't blocking, I'd say we allow this issue to be fixed in 2.0 (which is already is) and not make any changes in 1.0/1.1.

[2017-03-30 14:45] eerhardt commented on #1805
I think we could live without it for 2.0.

[2017-03-30 17:28] gkhanna79 commented on #1758
I concur. I am not aware of it being blocking and making this change will be a feature level change in a servicing branch, something that we should **only** do when warranted.

[2017-03-30 17:35] eerhardt commented on #1017
I'm fixing this to return "null" when `Assembly.GetEntryAssembly()` returns null.

Unfortunately, a "null object" can't really be returned because of the way the `Merge` logic works.  It uses the TargetInfo and CompilationOptions of the context it was invoked on.  See https://github.com/dotnet/core-setup/blob/master/src/Microsoft.Extensions.DependencyModel/DependencyContext.cs#L72-L78.

Callers wi

[2017-03-30 18:11] DamianEdwards commented on #1758
I agree

[2017-03-30 22:36] gkhanna79 commented on #618
When we need to expose crossgen for any reason for public use, I expect that both (regular and cross-arch) crossgen implementations will be part of the toolset (or be pulled in by it).

[2017-03-31 01:14] eerhardt commented on #1884
This is not fixed with build `2.0.0-preview1-001875-00.

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win7-x64.Microsoft.NETCore.App/2.0.0-preview1-001875-00

It is still 64MB, and opening the package up, I see symbols:

![image](https://cloud.githubusercontent.com/assets/8291187/24532343/6a2dd456-1585-11e7-8002-d5b4807a163c.png)

This is still blocking the CLI from taking a new

[2017-03-31 02:16] muratg commented on #1758
+1. If this is already fixed in 2.0, I think this bug can be closed. Thanks folks!

[2017-03-31 02:37] mklement0 commented on #1593
@omajid: To close this tangent of mine:

* To answer my own question: in each CoreCLR folder, file `Microsoft.NETCore.App.deps.json` contains version information about related components such as CoreFX (in keys [starting with] `microsoft.netcore.platforms`), as far as I can tell.

* I've updated [my SO answer](http://stackoverflow.com/a/43096219/45375) based on your information.

* I've wrapped up

[2017-03-31 04:02] hqueue commented on #1566
@gkhanna79

Right, we (1) take a snaphot of .NET Core 2.0 repos and (2) build it in Tizen build infra and (3) will ship Tizen which also contains .NET Core 2.0 on devices.

This is also right. Visual Studio Tools for Tizen (https://blogs.msdn.microsoft.com/visualstudio/2017/02/01/samsung-releases-second-preview-of-visual-studio-tools-for-tizen/) will restore .NET Core 2.0 binaries with Tizen RID.

[2017-03-31 07:48] hqueue commented on #725
@olegsavelos I think you'd better open an issue about supporting armv6 at https://github.com/dotnet/coreclr, because most of required works is relevant to coreclr and experts who can answer your questions are there too :)

[2017-03-31 08:10] olegsavelos commented on #725
@hqueue Thanks ! Will do that :)

[2017-03-31 09:45] davidfowl opened #1903 "RID calculation in CoreHost is broken"
On a debian linux I see the following when enabling `COREHOST_TRACE=1`:

[code]

Meanwhile dotnet --info shows this:

[code]

This causes RID fallback to fail when the assets don't exactly match the target RID. I ran into this because we moved libuv out of the shared framework (which is the reason we never hit this before).

## Repro steps

1. Get a machine with docker
2. `docker run -it --rm micr

[2017-03-31 10:15] davidfowl commented on #1903
This code:

https://github.com/dotnet/core-setup/blob/37849adf87d8eb8c1e4f3fb7b81ac2079ec6950b/src/corehost/common/pal.unix.cpp#L361-L373

seems to assume that the ID will always appear before the VERSION_ID fields in `/etc/os-release`. Here's what that looks like in the container:

[code]

[2017-03-31 10:34] jyoungyun commented on #725
Finally, I got below results!!!
[code]
The performance is very.... low, but Raspberry PI can build cs file itself!

[2017-03-31 11:15] janvorli commented on #725
@jyoungyun are these results from release build of coreclr?

[2017-03-31 15:32] gkhanna79 commented on #1758
Closing this per the discussion.

[2017-03-31 15:32] #1758 closed

[2017-03-31 16:16] chcosta commented on #1884
I don't know why I didn't get a notification about your post @eerhardt , but I just checked the feed and found the same thing.  I'm investigating.

[2017-03-31 16:37] chcosta commented on #1884
A couple of strange things.  It looks like my change did fix the package.  We are now producing an 18 MB runtime.win7-x64.Microsoft.NETCore.App package without symbols (`.nupkg`),, and a 64 MB symbols package (`.symbols.nupkg`).  If I look at our internal storage, I can confirm that these are both present.  On MyGet, it appears that the package listed is the symbols package.  On the MyGet feed, we

[2017-03-31 16:39] Tragetaschen opened #1908 "The ARM build contains x86_64 assemblies"
I have updated the core-setup build from my Yocto layer (https://github.com/Tragetaschen/meta-aspnet) to something more recent (1ccdf2e8cee) and compared to the old commit, the build system now complains about `libhostfxr.so` being in the wrong format. It's actually an x86-64 binary.

I've only slightly modified the core-setup build. Most notably, I'm [setting `__rid_plat` manually](https://github

[2017-03-31 16:48] Petermarcu commented on #1903
@gkhanna79, do we have tests that run on different OS's to ensure we have coverage here?

[2017-03-31 17:07] gkhanna79 commented on #1903
We runs tests on all the OS that we support in CI @Petermarcu. Also, this came to light within Docker that is not necessarily the environment in which builds and tests are always run.

[2017-03-31 17:14] chcosta commented on #1884
@ericstj informed me that symbols packages need to be pushed to a different feed, myget doesn't distinguish based on filename.  I'm looking at enabling this.

[2017-03-31 19:22] gkhanna79 opened #1913 "Cleanup unsupported platforms for 2.0 build"

[2017-03-31 19:45] #1884 closed

[2017-03-31 20:50] dagood commented on #1824
@MattGal pointed out that Core-Setup is using a very old version of `WindowsAzure.Storage`, `6.2.2-preview` (Dec 2015). Latest: `8.1.1` (Feb 2017). We should try updating it.

[2017-03-31 20:54] #1903 closed

[2017-03-31 21:13] janvorli commented on #1411
@gkhanna79 my clang3.9 test build in the CI ran ok (with help from @mmitche to ensure that it is built on a VM that has clang3.9 installed), all the CoreCLR tests passed (except for the spanbench that's failing on all jobs now).

[2017-03-31 21:58] chcosta commented on #1801
I haven't heard anything further on this.  I believe that the issue is fixed (though cli may not have picke dup a newere version of core-setup yet).  Please feel free to reopen if necessary.

[2017-03-31 21:59] chcosta commented on #1884
Fixed with version `2.0.0-preview1-001887-00` and later.

[2017-04-01 02:10] eerhardt commented on #1884
Confirmed this fixed it. Thanks @chcosta !

[2017-04-01 08:04] davidfowl commented on #1903
unit tests would be sufficient for this sort of code...

[2017-04-02 22:36] bradwilson opened #1926 "Have implicit DLL loading rules changed between .NET Core 1.0 and 1.1?"
## Background

I work on [xUnit.net](https://github.com/xunit). I'm writing a console test runner which is deployed as a .NET CLI command line tool.

The [runner shim](https://github.com/xunit/xunit/tree/master/src/dotnet-xunit) works by finding the unit test DLL (after building), and then issuing a `dotnet exec` to run a .NET Core port of our [console runner](https://github.com/xunit/xunit/tree/m

[2017-04-02 22:39] bradwilson commented on #1926
Here is a gist with the output from `COREHOST_TRACE=1`: https://gist.github.com/bradwilson/bf2e06679cd0992416e8654b618cf6d1

[2017-04-03 01:32] bradwilson commented on #1926
/tag @eerhardt on the advice of Nate McMaster

[2017-04-03 10:01] uffebjorklund opened #1931 "Fedora ARM support"
This is a question and not really an issue... If I should post somewhere else, just let me know.

We are doing a POC and have been using dotnetcore daily build (on ubuntu 16.04 arm32) to control hardware. Works like a charm :)

Now our partner wants us to run dotnetcore on Artik5 from samsung, but that ships with Fedora ARM. Are there any plans to support Fedora ARM, and if so... is there any esti

[2017-04-03 16:47] eerhardt commented on #1926
The `xunit.runner.utility.netcoreapp10` assembly is not listed in the .deps.json file of the test, which is why it is failing to load.

This was an explicit bug fix/change from netcoreapp1.0 to netcoreapp1.1.  It was a bug in 1.0 that assemblies in the app folder were getting loaded without being in the .deps.json file.

I *think* the issue that fixed it was https://github.com/dotnet/core-setup/is

[2017-04-03 16:56] natemcmaster commented on #1926
🤔 Interesting.... I was under the impression this was how it was supposed to work.

cref https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/corehost.md#files-in-the-application-folder

[2017-04-03 17:05] gkhanna79 commented on #1926
Yes, that is an incorrect statement that should have been fixed but was not. @ramarag Can you please update the document?

[2017-04-03 17:30] #617 closed

[2017-04-03 17:30] #622 closed

[2017-04-03 17:30] #1017 closed

[2017-04-03 17:30] #1886 closed

[2017-04-03 17:42] eerhardt commented on #622
To follow up here, this environment variable completely went away in 2.0, thus the whole resolver is now deleted.

The new support for resolving assemblies from the `dotnet cache` locations will be completed by https://github.com/dotnet/core-setup/issues/624#issuecomment-288245699

[2017-04-03 18:06] bradwilson commented on #1926
@eerhardt Do you have any documentation/examples of how I would implement an `AssemblyLoadContext`?

[2017-04-03 18:08] gkhanna79 commented on #1926
See https://github.com/dotnet/coreclr/blob/master/Documentation/design-docs/assemblyloadcontext.md

[2017-04-03 18:11] bradwilson commented on #1926
@gkhanna79 Thanks!

Closing now, since this is expected behavior.

[2017-04-03 18:11] #1926 closed

[2017-04-03 19:04] dagood commented on #1824
The first build with https://github.com/dotnet/core-setup/pull/1935 merged worked. I'm going to proactively close this, in case this issue never repros.

[2017-04-04 13:43] akoeplinger opened #1947 "APT repo returns gnutls_handshake() failed: Handshake failed"
## Steps to reproduce
Try to install .NET Core on Ubuntu 14.04 by following steps on https://www.microsoft.com/net/core#linuxubuntu

## Expected  behavior
It works.

## Actual behavior
It fails to fetch the packages from the repo, which means .NET Core can't be installed:

[code]

Interestingly, fetching the file via curl/wget succeeds. But gnutls-cli prints this:

[code]

This breaks all .NET Cor

[2017-04-04 13:52] akoeplinger commented on #1947
According to https://www.ssllabs.com/ssltest/analyze.html?d=apt-mo.trafficmanager.net the server only supports these cipher suites:

[code]

but none of those is included in `gnutls-cli -l`:

[code]

[2017-04-04 13:54] CedricFinance commented on #1947
Those cipher suites are supported in gnutls-cli 3.4.17.

[2017-04-04 13:56] CedricFinance commented on #1947
apt-mo.trafficmanager.net must have switched to TLS1.2 only and the version of gnutls used by apt does not support TLS1.2.

[2017-04-04 13:57] akoeplinger commented on #1947
@CedricFinance Ubuntu 14.04 ships with this:

[code]

[2017-04-04 18:10] rakeshsinghranchi opened #1950 "Installers are not published to Latest blob path for 1.0.x and 1.1.x servicing"
## Steps to reproduce
Go to Readme page : https://github.com/dotnet/core-setup
Install 1.1.x or 1.0.x installer for Windows
## Expected  behavior
Installer should be from latest daily build

## Actual behavior
Downloaded installer is of 1.1.0 RTM and 1.0.0 RTM

## Environment data

[2017-04-04 18:41] RheaAyase commented on #1931
Ubuntu package actually works on Fedora 25 ARM and you can deploy your applications on it - we did not test anything from the SDK side of things...

Microsoft and .NET Foundation should not support this at all, nor any other distribution for that matter, you should direct that towards [Fedora DotNet SIG](https://fedoraproject.org/wiki/SIGs/DotNet)

Tracking Issue for Linux ARM #725 already mention

[2017-04-04 18:46] dagood commented on #1950
The blobs in `dotnet/release/1.1.0/Installers/Latest/` have last modified dates that correspond with the latest 1.1.x build. This makes me think the build is using the version `1.1.0` rather than `1.1.x-servicing-x-x` as the copy source, making it copy the 1.1.0 build to Latest during every build.

It looks like `SharedFrameworkNugetVersion` having the wrong value in https://github.com/dotnet/core

[2017-04-04 18:58] ramarag commented on #1126
@omajid does this issue no longer repros ?

[2017-04-04 19:07] gkhanna79 commented on #736
@wtgodbe Assigning this to you to finish the Core-Setup side of changes once the coreCLR package is merged in by Maestro.

@Petermarcu Do you have a change for it that you wish to merge?

[2017-04-04 19:21] gkhanna79 commented on #685
@richlander Is this actionable post our discussion yesterday about localization?

CC @Petermarcu

[2017-04-04 19:31] uffebjorklund commented on #1931
👍 ok, thanks for clarifying that!

[2017-04-04 19:31] #1931 closed

[2017-04-04 19:44] bradwilson commented on #1926
@gkhanna79 I'm unclear after reading the documentation as to how you replace the default load context (since the things that are failing to load are implicit dependencies). How is this achieved?

[2017-04-04 22:41] #1507 closed

[2017-04-04 23:46] leecow commented on #1947
I just tried a clean install of 14.04.5 and the https://www.microsoft.com/net/core#linuxubuntu steps worked. I have not yet done an apt-get upgrade to see if some other update is getting causing the trouble.

/cc @gkhanna79

[2017-04-04 23:48] gkhanna79 commented on #1947
CC @mmitche @chcosta

[2017-04-04 23:59] leecow commented on #1947
Still getting a good read from apt-mo.trafficmanager.net after installing all available updates.

[code]

[2017-04-05 00:09] mmitche commented on #1947
@gkhanna79 Anything I can do here?

[2017-04-05 01:05] akoeplinger commented on #1947
I can still repro in a Ubuntu 14.04 Docker container here:

[code]

[2017-04-05 01:08] akoeplinger commented on #1947
I see that https://www.ssllabs.com/ssltest/analyze.html?d=apt-mo.trafficmanager.net lists more cipher suites now so maybe I'm just hitting an endpoint that doesn't have the new config yet (I'm in Europe)?

I'd still be curious to know why this was changed in the first place and how we can prevent it in the future :)

[2017-04-05 06:15] bradwilson commented on #1926
I made it work using the default load context's Resolving event. Thanks!

[2017-04-05 11:35] xied75 commented on #1947
My apt get now works. Travis-CI should switch back to https now. Would be great to find out the root cause though.

[2017-04-05 11:39] akoeplinger commented on #1947
It works from here too now, so I'm going to close the issue but I'd be interested in more background info about the change as well :)

[2017-04-05 11:39] #1947 closed

[2017-04-05 14:05] FailMelon commented on #570
Can there not be an option in build settings and in back-end to check for it as an embedded resource since it is a required file?

[2017-04-05 14:55] gkhanna79 commented on #570
This file is not an embedded resource but a metadata option.

[2017-04-05 15:27] gkhanna79 opened #1960 "Cross-Arch targeting crossgen should not come from AnyCPU location"
See https://github.com/dotnet/coreclr/issues/9884#issuecomment-291897875 for details.

CC @ericstj

[2017-04-05 15:34] FailMelon commented on #570
When building either through just a debug build or a published build runtimeconfig is required for the dll  to run, should there not be a way to embed a required config file into the app itself? It seems a bit silly to require a config file outside of the app for it to even work.

[2017-04-05 16:20] leecow commented on #1947
@akoeplinger - checking with some folks to see if we can figure out what happened.

[2017-04-05 16:49] livarcocc opened #1961 "Latest CLI throws exception - System.DllNotFoundException : Unable to load DLL 'libuv': The specified module could not be found. (Exception from HRESULT: 0x8007007E)"
_From @kichalla on April 5, 2017 5:51_

## Steps to reproduce
- Clone the repo http://github.com/aspnet/kestrelhttpserver
- Set the environment variable `KOREBUILD_DOTNET_VERSION` to `2.0.0-preview1-005685` (this tells the build to use this CLI version)
- Run `build.cmd`

## Expected  behavior
Build runs successfully

## Actual behavior
Build fails with error:
[code]

## Environment data
`dotnet -

[2017-04-05 17:07] gkhanna79 commented on #570
The metadata will be inserted in <app>.deps.json, which is a build time artifact that is required and generated by the build all the time.

[2017-04-05 17:24] kichalla commented on #1961
This blocks ASP.NET Core build to move to latest CLI

@mikeharder

[2017-04-05 17:35] Petermarcu commented on #1961
@kichalla , is that library being put with the application? @ramarag @gkhanna79 to dig in.

[2017-04-05 17:45] FailMelon opened #1964 "Optional setting to have deps.json metadata built into the application."
This is more for the sake of ease but this would be a nice to have for these three reasons alone:

1.  If you have say 10 portable dotnet dll's in one folder that now becomes 20 files to search through.

2.  Being able to launch the application with a single command and then a tab, with having the json file there as well you'll have to two part tab completion.

3. Being able to wget a single file

[2017-04-05 17:52] gkhanna79 commented on #1961
Libuv was part of the SharedFX and was removed as part of the refactoring @eerhardt did in https://github.com/dotnet/core-setup/commit/dfcb6f272144c7bab58fda96b2d41b47a92a2f34#diff-873c95bf8557aaaff0254fb7a81d49fd.

@eerhardt How is libuv getting installed post the change above?

[2017-04-05 17:53] Petermarcu commented on #1961
Folks need to reference the package. I expected that this was already referenced from kestrel.

[2017-04-05 17:56] eerhardt commented on #1961
Correct ASP.NET needs to reference Libuv explicitly now.

This is a dupe of https://github.com/dotnet/cli/issues/6072.

[2017-04-05 17:57] leecow commented on #1947
Here's the background:

[2017-04-05 18:01] FailMelon commented on #570
Think you've misunderstood what I've mean i have moved it over to here #1964 since its kind of off topic sorry .

[2017-04-05 19:39] akoeplinger commented on #1947
@leecow thank you!

[2017-04-05 21:50] bleroy commented on #1599
I put a draft of the recommendation doc here: https://github.com/bleroy/core-docs/blob/2461840574c40940a028d8642fd3fbc2d0fb80fb/docs/core/building/distribution-packaging.md

[2017-04-05 23:52] dagood commented on #1950
From the logs, I see that the first `Installers` copy actually works, e.g.

Then it gets stomped over by the [second `Installers` copy](https://github.com/dotnet/core-setup/blob/7d020e76689fa0e312a27294c7c6bc035e5511a7/build_projects/dotnet-host-build/PublishTargets.cs#L117):

That source `1.1.0` is `SharedHostNugetVersion`
 * [which is set by](https://github.com/dotnet/core-setup/blob/7d020e76689

[2017-04-06 00:00] gkhanna79 commented on #1950
@dagood The host is divided into 3 parts depending upon the degree of change the various components go through:

1) Hostpolicy - changed with SharedFX
2) HostFXR - changed much less frequently
3) dotnet.exe - changed even more infrequently

Given that (2) and (3) do not change every release, but the installer packages need to carry them every release, we _lock_ the last version we released and res

[2017-04-06 06:35] tmds commented on #1599
@bleroy Looks great.

`dotnet` is a latest runtime package? Since apps need a specific major.minor to work, I don't get why this package is useful. Can it be removed? Does that make sense?

[2017-04-06 06:38] Petermarcu commented on #1599
@rakeshsinghranchi @vivmishra to make sure they see this and follow along on the proposed changes.

[2017-04-06 08:16] jyoungyun commented on #1566
@gkhanna79 Regarding above comments, we have some concerns about shipping .NET Core in Tizen.

First, in tizen, .NET Core will build and ship in our infrastructure after taking a snapshot from github code, and then when user develop their application, they use Visual studio by restoring .NET Core 2.0 nupkgs. At this time, nupkg used in the development of the app is the same as the code snapshot we

[2017-04-06 08:39] jyoungyun commented on #1566
@gkhanna79 And.. When can you publish Tizen nupkgs to myget server? I want to test restoring tizen nupkg with our rid by using latest sdk. If there is some error, we need to reflect it before .NET Core 2.0 release. Could you let me know the schedule?

[2017-04-06 09:03] jyoungyun commented on #725
@janvorli All of the nupkg used in the cli build got downloaded from myget server so this runtime(coreclr) is release build with -O1 option. If `clang3.9` is enable, the result will be faster. :)

[2017-04-06 09:37] janvorli commented on #725
@jyoungyun it was discovered in another issue that dotnet run command adds quite a lot of overhead to the start of the managed app (on x64 Linux, it adds about 2 seconds) compared to passing the managed assembly directly to dotnet without the "run".
Could you please try to measure that case as well? Just to be clear, I mean running `time dotnet /home/pi3/Downloads/c/bin/Debug/netcoreapp2.0/c.dll`

[2017-04-06 10:39] jyoungyun commented on #725
@janvorli In raspberry PI3, passing dll as a directy argument is about 40 seconds faster than using dotnet run. This seems to be quite a lot of overhead in dotnet run command...
[code]

[2017-04-06 10:41] janvorli commented on #725
@jyoungyun Thank you for measuring it! We really need to do something with it. I'll add this information to the other issue where the slowness was reported for x64.

[2017-04-06 10:44] hqueue commented on #725
@janvorli @jyoungyun I think one of huge timze difference can be due to lack of native image for arm clli, which may be  available for x64 cli.

[2017-04-06 10:46] janvorli commented on #725
Well, even on x64, there is a huge difference in those two ways of launching the app. See https://github.com/dotnet/cli/issues/6241

[2017-04-06 13:44] RheaAyase commented on #1599
@tmds we've discussed this for a month, I don't see why would we _not_ have the `dotnet` package with latest version. That should be the default thing when someone installs sdk, framework, etc. If they want specific version, there are specific versions.

[2017-04-06 13:47] RheaAyase commented on #1599
Also @bleroy this document does not reflect what was discussed here at all.

[2017-04-06 14:00] tmds commented on #1599
@RheaAyase In the discussion I miss the rationale for the package. I am asking why this package is useful.

[2017-04-06 14:10] RheaAyase commented on #1599
This should be in the "Optional additional packages" list, and the version should reflect the sdk, the tooling, not the framework, as it doesn't really care about the framework version... And whoever installs it, will care about the specific version of the tooling, especially _right now_ in the transition period with project.json and csproj.

We did not discuss version naming of this kind of _opti

[2017-04-06 14:42] dagood commented on #1950
Thanks, that makes sense. The overlap between the SharedFX bits and locked bits strikes me as odd, then--here's the full log of what each copy is doing:

[code]

If this is intended, then we are intentionally not delivering new SharedFX installers. If that's true, we can close this issue, but it seems odd to me.

A workaround if we actually do want to put the new SharedFX installers in the Latest

[2017-04-06 16:40] gkhanna79 commented on #1566
@hqueue Will the nuget packages being used to restore the binaries for VS Tools for Tizen be also built in the Tizen build infra that you mention above? If not, is there a specific reason for that given that the build you do in Tizen build infra will produce them anyways.

Possibly decoupling this specific dependency is what this discussion is about. If Tizen build infra can produce the nuget pack

[2017-04-06 16:40] livarcocc opened #1973 ".Net Core 1.0.4 will not install. All Core removed from machine and cannot put it back on"
_From @Mattacks on April 6, 2017 12:51_

## Steps to reproduce
Download .Net Core 1.0.4 runtime rom the main landing page
Start Install

## Expected  behavior
.Net core installed

## Actual behavior
Get error 0x8007066 - Another version of this product is installed.
But it is not.
There is no programfiles\dotnet folder
Add/remove programs does not list anything related to core

## Log
[376C:0540][

[2017-04-06 16:43] gkhanna79 commented on #1973
This is a VC redist installer issue and not a Core-Setup installer issue, right?

[2017-04-06 16:46] bleroy commented on #1599
Some context about versioning... We've observed massive confusion about the version of packages being the version of the SDK, which is what we've been doing with early 1.x versions. We had to change that: almost nobody understands the distinction between SDK and runtime versions, and everybody is interested in the version of .NET Core that will effectively run their code, not the version of the CL

[2017-04-06 16:56] gkhanna79 commented on #1842
This has been fixed in CoreCLR and @wtgodbe is cleaning up Core-Setup for VCRedist.

[2017-04-06 17:11] RheaAyase commented on #1599
Oh did I miss the discussion about that change?

What if I'm not, I'm interested in project.json vs csproj. What if I want latest framework and the sdk of my choice. I mean that's the **only** instance when I would opt into installing _"`dotnet-sdk-[major].[minor]`"_ over `dotnet-sdk`. And if I were in the need of the other thing, being specific framework version, only then I would install both th

[2017-04-06 17:42] eerhardt opened #1974 "dotnet.exe should not be appending the shared framework to the %PATH%"
See https://github.com/dotnet/core-setup/issues/1961 for original issue.

## Steps to reproduce
`dotnet run` this:

[code]

## Expected  behavior
The output should match what `echo %PATH%` outputs from the command line where you called `dotnet run`

## Actual behavior
The output has the shared framework appended (twice if you are running on .net core and once if you are using desktop), which doesn

[2017-04-06 17:47] eerhardt commented on #1961
I’ve debugged this and figured out a bunch of things.

### This only fails on Desktop
* The error only happens when running tests on desktop net46.  The netcore tests pass on my machine.
* Libuv is not getting placed in the test’s net46 output folder.
* When I attached a debugger to a net46 run of when the tests pass (using my 1.0 installed “dotnet test”), libuv is getting loaded out of the .NET C

[2017-04-06 17:47] #1961 closed

[2017-04-06 17:53] gkhanna79 commented on #1974
APISets are no longer needed, so this code (and supporting PAL APIs) should all be deleted.

[2017-04-06 18:19] gkhanna79 commented on #444
@vivmishra Was this fixed with https://github.com/dotnet/core-setup/pull/1838? If so, please close the issue.

[2017-04-06 18:20] gkhanna79 commented on #1574
@vivmishra Was this fixed with https://github.com/dotnet/core-setup/pull/1838? If so, please close the issue.

[2017-04-06 18:20] gkhanna79 commented on #1645
@vivmishra Was this fixed with https://github.com/dotnet/core-setup/pull/1838? If so, please close the issue.

[2017-04-06 18:21] gkhanna79 commented on #1596
@ravimeda Is this fixed for the upcoming servicing release?

[2017-04-06 18:34] ravimeda commented on #1596
No. Instead https://github.com/dotnet/core-setup/pull/1870  changed NUGET_FEED_URL from "https://dotnet.myget.org/F/dotnet-core" to "ENV_VAR_EMPTY_WORKAROUND"
@dagood is fixing this issue still relevant?

[2017-04-06 18:43] dagood commented on #1596
It is fixed now. These variables are now passed from the pipebuilds, and they're set up with the v2 urls.

[2017-04-06 18:43] #1596 closed

[2017-04-06 18:46] Mattacks commented on #1973
Repairing the VC++ redistributables has made it work.
It's still a bug though. I don't see how you can close it without some 'work'. E.G. to detect the condition in your installer

[2017-04-06 18:47] gkhanna79 commented on #1973
The issue is not closed yet @Mattacks

[2017-04-06 18:52] livarcocc opened #1975 ".Net Core 1.0.4 mislabeled 1.0.3"
_From @Mattacks on April 6, 2017 12:53_

## Steps to reproduce
Download .Net Core 1.0.4 from main landing page
Install
Accept EULA

## Expected  behavior
UAC control dialog pops up - says it is 1.0.4

## Actual behavior
UAC control dialog pops up - says it is 1.0.3

_Copied from original issue: dotnet/cli#6260_

[2017-04-06 18:52] livarcocc commented on #1975
Can you provide a link to what you are downloading and installing? I mean, is it  a link to the 1.0.1 SDK or to the 1.0.4 shared framework?

[2017-04-06 18:52] livarcocc commented on #1975
_From @Mattacks on April 6, 2017 18:44_

It's from here https://www.microsoft.com/net/download/core#/runtime
NET Core 1.0.4 runtime (LTS)
Windows (x64) Installer
.exe download
Copy of download link: https://go.microsoft.com/fwlink/?linkid=843412

If you choose to run as administrator you see the error straight away

[2017-04-06 18:59] vivmishra commented on #1574
Fixed

[2017-04-06 18:59] #1574 closed

[2017-04-06 19:01] vivmishra commented on #1645
No, this is still open.

[2017-04-06 19:04] vivmishra commented on #444
This is related to OSx so not fixed by #1838

[2017-04-06 19:05] gkhanna79 commented on #444
Is the fix for this issue understood?

[2017-04-06 19:07] rakeshsinghranchi commented on #1557
Issue doesnot repro anymore in the latest daily builds produced  : https://dotnetcli.blob.core.windows.net/dotnet/master/Installers/Latest/dotnet-win-x64.latest.exe .

[2017-04-06 19:07] #1557 closed

[2017-04-06 19:24] rakeshsinghranchi commented on #1856
Daily build is already enabled to upload the Ubuntu and Debian installers for Debian 8.0,Ubuntu 14.04 and 16.04 .

[2017-04-06 19:24] #1856 closed

[2017-04-06 19:38] rakeshsinghranchi commented on #444
Not yet, will try to repro the issue later today.

[2017-04-06 19:49] #736 closed

[2017-04-06 19:49] wtgodbe commented on #1842
https://github.com/dotnet/core-setup/pull/1963 resolves

[2017-04-06 19:49] #1842 closed

[2017-04-06 19:53] rakeshsinghranchi commented on #1573
New build definition for 1.1.x uses MicroBuild for Signing and this has resolved the issue. Closing the bug. Note: Latest blob for 1.1.x does not point to daily build of 1.1.x . Issue under investigation : https://github.com/dotnet/core-setup/issues/1950

[2017-04-06 19:53] #1573 closed

[2017-04-06 20:00] rakeshsinghranchi commented on #1230
Dupe of https://github.com/dotnet/core-setup/issues/572. This issue does repro anymore in 2.0.0

[2017-04-06 20:00] #1230 closed

[2017-04-06 20:02] wtgodbe opened #1977 "Sign arm32/arm64 Windows binaries in build pipeline"
Today we only sign x64 & x86 - we should be signing arm32 & arm64 as well. This could be done as part of refactoring the pipeline .json blobs to use shared definitions.

CC @gkhanna79 @dagood @leecow @crummel

[2017-04-06 20:03] gkhanna79 commented on #1977
We should get this in place before feature complete if we can.

[2017-04-06 20:07] rakeshsinghranchi commented on #1408
All the issues mentioned above are fixed for 2.0.0 installers.
This issue can be closed once below are closed ( for 1.1.x and 1.0.x ) :
https://github.com/dotnet/core-setup/issues/1645
https://github.com/dotnet/core-setup/issues/1646

[2017-04-06 20:09] gkhanna79 commented on #1646
The last day for checkin is 4/10.

[2017-04-06 20:09] gkhanna79 commented on #1645
The last day for checkin is 4/10.

[2017-04-06 20:40] wtgodbe commented on #1977
@MichaelSimons do you know of any reason we're not already doing this?

[2017-04-06 20:45] MichaelSimons commented on #1977
@wtgodbe - this is outside my realm.  @dagood, @crummel - can you answer Will's question?

[2017-04-06 20:46] wtgodbe commented on #1977
Also, does anyone know why the environment variable SIGNED_PACKAGES gets set in the x64 build (https://github.com/dotnet/core-setup/blob/master/buildpipeline/Core-Setup-Signing-Windows-x64.json#L461), but not in the x86 build?

[2017-04-06 20:50] JensNordenbro commented on #1832
Is this to enable all native binaries to be compatible cross the different Linux-distributions @eerhardt, hence eliminating the need for different linux-arm-RIDs in the long run or is it more of an internal thing?

[2017-04-06 20:50] gkhanna79 commented on #1977
Is that a regression from the original change that brought in checked in build definitions for Core-Setup (e.g. https://github.com/dotnet/core-setup/commit/22e89978651525436965791f11613ebd0cb4edc6#diff-3867ee2c3921d2e2988404fcb10bb64e)?

I do not see SIGNED_PCKAGES in either 1.0.0 and 1.1.0 build definitions for WinX86.

@ravimeda What are your thoughts?

@wtgodbe Can you please take a look at the

[2017-04-06 21:01] eerhardt commented on #1832
Yes, this is for all native binaries to be compatible cross the different Linux distros.  This isn't an internal thing.  We are already producing linux-arm for coreclr and corefx repos.  We just need to use those packages and build linux-arm packages for core-setup.

See

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.linux-arm.Microsoft.NETCore.Runtime.CoreCLR
https://dotnet.myge

[2017-04-06 21:03] wtgodbe commented on #1977
@weshaggard do you know what SIGNED_PACKAGES is doing? looks like it's at least used here https://github.com/dotnet/core-setup/blob/69eeba979b44cee29b84cfd64193d838eb572c09/pkg/projects/Microsoft.NETCore.UniversalWindowsPlatform/Microsoft.NETCore.UniversalWindowsPlatform.pkgproj#L17, along with a couple of other places

[2017-04-06 21:05] dagood commented on #1977
If things haven't changed, setting `SIGNED_PACKAGES` in only one build leg is intentional--it's an indicator of the single build that should publish its managed NuGet packages, to avoid builds overwriting each other. It's not (afaik) an indicator of whether or not the build attempts to sign its binaries.

I believe the name is `SIGNED_PACKAGES` because previously only one build leg signed its pack

[2017-04-06 21:05] crummel commented on #1977
SIGNED_PACKAGES appears to be informative rather than directive; it's read [here](https://github.com/dotnet/core-setup/blob/50f02306d151453edefac602934f480b27cb7209/build_projects/dotnet-host-build/PublishTargets.cs#L337) to determine whether to publish packages, and [here](https://github.com/dotnet/core-setup/blob/69eeba979b44cee29b84cfd64193d838eb572c09/pkg/projects/Microsoft.NETCore.UniversalWi

[2017-04-06 21:29] JensNordenbro commented on #1832
Thanks @eerhardt . This sounds nice!
Just to get a better feeling for what this will mean in the long run; am I right in that this will:
1) Help me as a Nuget producer to target Linux-ARM as long as I only target .net standard for the managed parts and for the native parts target glibc. Basically I will need to build and publish for each CPU-architecture,
2)Help me supporting CoreClr on meta distr

[2017-04-06 21:40] gkhanna79 commented on #1832
With linux-arm in picture, you would be able to publish your application for any linux distribution that is glibc based (we will define the minimum supported version). Ofcourse, the assumption is that any native artifacts that conform to linux-arm follow similar rules of minimum supported version for linkages.

Once the above is done, the app should work on my glibc based Linux >= minimum supporte

[2017-04-06 21:54] gkhanna79 commented on #1950
This is not intended. We only want to copy the binaries that are not expected to change.

I agree - this is a good approach. Do you want to take a stab at fixing this for the servicing branches (1.0.0 and 1.1.0)?

[2017-04-06 22:00] gkhanna79 commented on #1411
Thanks @janvorli. how about we bring this up in stages:

1) Stage 1 - Update the Arm build definitions to carry clang 3.9 and transition the builds to it.
2) Stage 2 - once (1) is stable, we update X64 docker images to use clang 3.9 as well.

With this, we could even stop after stage (1) and yet use -O3 across the board without switching x64 to 3.9, if required.

What do you think?

[2017-04-06 22:01] JensNordenbro commented on #1832
@gkhanna79 , I take that as a yes to question 1 and 2, provided fullfilment of native dependencies .
That is really nice to see and will help a lot!!

Just out of curiosity, I was under the impression that corert and coreclr are related(at least jit-based aot), also that they share corefx; therefor I assumed this work also would help enable cross building to linux-arm profile for corert builds in

[2017-04-06 22:11] janvorli commented on #1411
@gkhanna79 that sounds good to me. We would just need to make the clang3.9 the default optionally for arm.

[2017-04-06 22:23] dagood commented on #1950
Sure. Created PRs, sending to shiproom.

[2017-04-06 22:25] gkhanna79 commented on #1411
I agree.

[2017-04-06 22:28] gkhanna79 commented on #1832
This is a current implementation detail for CoreRT. In future, it could use any code generator (or we could choose to change the codegenerator). However, this only impacts generated code and not the linkages introduced in sections like IAT.

Targeting a general purpose Arm profile is really about ensuring that your dependencies are either minimum such that all supported platforms have it OR you ca

[2017-04-06 22:33] gkhanna79 commented on #1411
@hqueue Per https://github.com/dotnet/core-setup/issues/1411#issuecomment-277866406, what changes need to be made to sources file to pull down clang 3.9  (for Arm) so that the Docker image can be updated?

We will need to update Core-Setup's cross build scripts for this since that is what is used for building the Docker images.

[2017-04-06 22:45] bleroy commented on #1599
I'm sorry if I gave the impression that discussions about packaging recommendations happened outside of this thread.

Then you would install the specific `dotnet-sdk-major.minor` sdk version you want, and then `dotnet`. You would even be able to target different SDK versions per app.

Installing `dotnet-sdk` and then a specific `dotnet-major.minor` is also an option. Both are valid choices.

In al

[2017-04-06 22:57] Petermarcu commented on #1973
x666 = 1638. This should be treated as success and we should fix it in 1.0.X and 1.1.X.  This dependency is gone in 2.0.

[2017-04-06 23:03] gkhanna79 commented on #1973
Getting fixed in https://github.com/dotnet/core-setup/pull/1982 and https://github.com/dotnet/core-setup/pull/1983

[2017-04-06 23:07] #1559 closed

[2017-04-06 23:43] Petermarcu opened #1984 "Windows installer common error codes from corruption"
There used to be a list we had that listed common error codes and what to do about them. I dont recall if the burn engine baked a lot of these in but in previous installers, we had implemented retry logic, "fixups", and failure to success mappings. We should try to track that list down and see if it is applicable to our MSI's.

[2017-04-06 23:44] Petermarcu commented on #1984
@rakeshsinghranchi @robmen

[2017-04-06 23:45] rakeshsinghranchi commented on #444
Issue does not repro against latest build daily build of 1.0.5 and 1.1.2.

├── LICENSE.txt
├── ThirdPartyNotices.txt
├── dotnet
├── host
│   └── fxr
│       ├── 1.0.1
│       ├── 1.1.0
│       └── 2.0.0-beta-001611-00
└── shared
    └── Microsoft.NETCore.App
        ├── 1.0.5-servicing-004885-00
        ├── 1.1.2-servicing-001491-00
        └── 2.0.0-beta-001611-00

Below PRs should have fixed the

[2017-04-06 23:45] #444 closed

[2017-04-07 01:04] rakeshsinghranchi commented on #1984
Things to be done here:
1. Determine if Burn supports retry logic
2. Determine the specific set of error codes that are applicable to our MSIs.
3. Implement in burn bundles for .NET Core.

Copied from .NET Desktop setup chainer:

     <CustomError ReturnCode="1603" MSIErrorMessage="1310">
          <Retry Delay="1" Limit="1">
            <ItemRef Name="SetupUtility.exe" />
          </Retry>

[2017-04-07 03:56] livarcocc opened #1987 "Dotnet.exe does not exisit under "C:\Program Files\dotnet" after installation"
_From @ferrancg on February 18, 2017 0:55_

## Steps to reproduce
1. I was using VS 2015, and with dotnet sdk version : _1.0.0-preview2-003121_
2. I downloaded a newer version to try out _SDK 1.0 RC3_
3. New version sdk does not work with current project, switched back to _1.0.0-preview2-003121_  by changing the endpoint in global.json
4. Things are messed up in dotnet cli with error “A fatal erro

[2017-04-07 03:56] livarcocc commented on #1987
@ferrancg is it only dotnet.exe that is missing? are the other files present, like sdk and shared folders?

[2017-04-07 03:56] livarcocc commented on #1987
_From @ferrancg on February 19, 2017 6:0_

right

[2017-04-07 03:56] livarcocc commented on #1987
_From @byyyt on February 22, 2017 13:4_

Same issue for me. Broken installations. Had a bunch of previous versions, tried uninstalling, some stuff was left, so just deleted whole dotnet folder. Then after installing VS 17 with dotnet tooling, I went to install dotnet RC4.
Now it either installs only partially: sdk and shared are installed, swidtag (or whatever its named) is missing, dotnet.exe is

[2017-04-07 03:59] jyoungyun commented on #1411
I added below codes to create new docker image including clang 3.9.
[code]

I uploaded `t2wish/dotnetcore:ubuntu1404_cross_prereqs_v4` docker image which contains clang 3.9 for tizen build. And let me know if  you ready to use new docker image for clang 3.9, then I will update core-setup build script code.

[2017-04-07 04:25] gkhanna79 commented on #1973
Closing since the PRs are merged.

[2017-04-07 04:25] #1973 closed

[2017-04-07 04:34] hqueue commented on #1411
@gkhanna79 I think @jyoungyun addressed how to pull clang 3.9 down for Docker image.

There is one concern with arm cross CI regarding upgrading clang to 3.9.
Are you going to prepare Docker image with both clang 3.6 and clang 3.9 ?
If we include only clang 3.9, then arm cross CI may break until build scripts is merged.

Therefore I suggest follow steps,

1. Prepare new Docker image for ARM CI (ar

[2017-04-07 04:47] gkhanna79 commented on #1411
Sounds good to me @hqueue. Thanks for sharing the steps @jyoungyun. Can you please get a PR going for updating Core-Setup cross build scripts to pull clang 3.9?

@MichaelSimons Will it be possible for you to use the steps above to create v4 version of crossbuild docker images that contain clang 3.9 as well?

[2017-04-07 04:50] hqueue commented on #1411
@gkhanna79 Are you talking about updating build script to use clang 3.9 for arm cross build ?

[2017-04-07 05:25] jyoungyun commented on #1411
@gkhanna79 I'm sorry but I don't understand what `Core-Setup cross build scripts` does mean. If the new docker image which contains clang 3.9 is available, I will update the scripts/arm32_ci_script.sh script to use new docker image and update the src/corehost/build.sh script to change default clang version to clang 3.9 in cross build case. However, both of these fixes require the new docker image

[2017-04-07 07:45] RheaAyase commented on #1599
@tmds what about the _"`dotnet` package is kinda useless?"_ Any thoughts?

I brought it up in a meeting/call last night with the following scenario as a problem:

The user installs `dotnet-sdk` depending on `dotnet` (or just the `dotnet`, works both ways) and they start working on their project or deploy it somewhere using this latest framework. This project is of course depending on this specific

[2017-04-07 08:18] tmds commented on #1599
:+1:

I'd keep the sdk meta package as it provides an easy way to install the sdk without knowing which is the latest. The sdk should have a somewhat consistent user experience across versions.

[2017-04-07 08:25] JensNordenbro commented on #1832
ok @gkhanna79 . thanks for the info!

[2017-04-07 08:30] JensNordenbro commented on #1908
Although not to the point of your question, have you tried building for Linux-arm RID. That rid seems to have progressed lately: [issue 1832](https://github.com/dotnet/core-setup/issues/1832).

According too my intepretation that will be much more inline with the issues of a meta-dist like Yocto.
Regardless, maybe these guys can help you!

[2017-04-07 11:03] RheaAyase commented on #1599
@bleroy @ellismg any thoughts about that from your side of things?

[2017-04-07 11:16] jyoungyun commented on #1566
@gkhanna79 Thanks for kindly reply :)

First of all, I want to clear what we need nupkgs for .NET Core SDK release. And then I want to check if all of nupkgs we need can build in our infrastructure or not.
[code]

Is there any nupkg missing for .NET Core release from the list above? Please let me know. The things that **coreclr**, **corefx** and **core-setup** generate can be built by ourselves. B

[2017-04-07 12:09] Tragetaschen commented on #1908
Thanks for the pointer!

[2017-04-07 13:46] dagood commented on #1950
Builds have been done with the PRs and the current Latest installers are from the new builds. Closing.

@rakeshsinghranchi Can you confirm if what's in Latest now matches what you expect?

[2017-04-07 13:46] #1950 closed

[2017-04-07 13:52] MichaelSimons commented on #1411
@gkhanna79, yes this is possible.  What is the time frame this needs to be done in?

[2017-04-07 15:20] hqueue commented on #1566
@jyoungyun Thank you for summarizing discussion.

@gkhanna79 In addition to comment by @jyoungyun, my another simple question is that is it possible to publish a binary which will be appeared on daily build page at https://github.com/dotnet/core-setup#daily-builds when using separated Tizen build infra. I think @jyoungyun raised similar concern regarding publishing nupkgs.

[2017-04-07 15:57] bleroy commented on #1599
I like the certainty that comes with fixing what `dotnet-major.minor` the `dotnet-sdk` package references. But what if the `dotnet` package was itself an empty package that just references the latest `dotnet-major.minor`? Updating would get the new latest, but wouldn't remove the old one, and this way we can be both side-by-side and have a simple way to get the latest. Wouldn't that work?

[2017-04-07 16:00] bleroy opened #1993 "Include ASP.NET's target manifests and runtime package store in setup"
This work item is about integrating the output from [ASP.NET/coherence-signed#428](https://github.com/aspnet/Coherence-Signed/issues/428) into the .NET Core setup.

[2017-04-07 16:05] Petermarcu commented on #1993
This should go in the cli repo as it will be part of the ask, not the core runtime.

[2017-04-07 16:09] Petermarcu commented on #1984
Thanks, isn't there another set that was a list of return codes that should be treated as success?

[2017-04-07 16:13] robmen commented on #1984
There is retry logic supported in Burn. There is a library that tried to capture the knowledge of the time in https://github.com/wixtoolset/wix3/blob/develop/src/libs/balutil/balretry.cpp. That mechanism does not allow running an elevated "fix it" utility but we were interested in adding any "fix its" to the engine directly.

[2017-04-07 16:20] Petermarcu commented on #1984
Thanks!

[2017-04-07 16:33] #1993 closed

[2017-04-07 16:35] dagood opened #1994 "Apparent published output overlap between build legs"
This is the most likely cause of https://github.com/dotnet/core-setup/issues/1824:

When multiple files are published to the same blob at the same time, they fail because the change references the state of the blob when the copy begins.

First, I want to port https://github.com/dotnet/core-setup/pull/1951 to master so that we can tell exactly what each leg is publishing.

If it turns out there is

[2017-04-07 16:35] bleroy commented on #1993
Yes, I think this is [CLI#5505: Add ASP.NET "2.0" packages to offline cache when they are available](https://github.com/dotnet/cli/issues/5505)

[2017-04-07 16:39] gkhanna79 commented on #1566
@jyoungyun Your list looks correct with respect to .NET Core nuget packages. Few comments:

- Core-Setup also produces DependencyModel and PlatformAbstractions nuget packages. You should consider them in the .NET Core list of nuget packages and not .NET Core SDK.

 - I agree that you can build the packages listed under .NET Core above, in Tizen Build infrastructure and the list above looks correct

[2017-04-07 16:40] gkhanna79 commented on #1566
@hqueue In general, it should be possible for us to reflect status of Tizen daily build of Core-Setup on Core-Setup main page.

[2017-04-07 16:44] gkhanna79 commented on #1994
Sounds good to me.

[2017-04-07 17:09] gkhanna79 commented on #1411
@MichaelSimons when do you think you will be able to get it done? Can it be done by Monday, if not today? I would like this to have a bake time and once this is in place, @hqueue and @jyoungyun would need to get the scripts updated.

[2017-04-07 18:03] gkhanna79 commented on #1977
I added support in Core-Setup to produce portable RID builds in https://github.com/dotnet/core-setup/commit/62c26d8405661d0bae21ad78544e7681644ab08b. As a result, the Windows-X64 Signing build definition is used twice:

1) Once for non-portable build
2) Once for portable build (in https://github.com/dotnet/core-setup/commit/62c26d8405661d0bae21ad78544e7681644ab08b#diff-c9539d529b27144215b930ab94c5

[2017-04-07 18:11] weshaggard commented on #325
I believe we have this all sort-out now so I'm closing. We have APICompat verification in corefx to catch any discrepancies.

[2017-04-07 18:11] #325 closed

[2017-04-07 18:52] dagood commented on #1977
Yes--having it true there might actually explain at least part of https://github.com/dotnet/core-setup/issues/1994 (package overlap), although there's more investigation I'm doing there to know for sure.

[2017-04-07 20:00] MichaelSimons commented on #1411
@gkhanna79, I can work on this now.  I assume you want this done for both 14.04 and 16.04, correct?  If so, can someone specify the changes I should make for 16.04?

[2017-04-07 21:35] dagood commented on #1994
There is a lot of overlap. For source/dest info: https://gist.github.com/dagood/a5d06e2ffaebeb3a9e92c06087ea82c2

[code]

(That doesn't include every build leg, because some failed during the build I pulled that from.)

I think we can find an easier workaround for https://github.com/dotnet/core-setup/issues/1824 rather than trying to fix this issue right now.

[2017-04-07 22:36] dagood commented on #1824
https://github.com/dotnet/core-setup/issues/1994 is the underlying problem, but I think we can safely ignore this exception: it indicates that some other build successfully copied the same file, so the publish that encountered the error was unnecessary in the first place.

[2017-04-08 16:36] tmds commented on #1599
That would work, but it is not adding anything useful. Apps require a specific dotnet version. The sdk meta package points to a specific sdk. The specific sdk points to specific dotnet version. So, it's not useful as a dependency.

As part of an update, you want to get the fixes for the versions you have installed (patch update). Updating to the latest (major/minor update), installs a version of d

[2017-04-09 00:56] bleroy commented on #1599
Yes, apps require a specific version, but that's just one scenario. There is value in being able to install "dotnet", and having updates that add the latest to the system. I agree it's not useful as a dependency, but it's useful by itself. I'm fine with making it optional, however.

[2017-04-09 05:20] tmds commented on #1599
How did you reach that conclusion? I miss the rationale for the package when reading this thread.

[2017-04-09 06:43] bleroy commented on #1599
"There is value in being able to install "dotnet", and having updates that add the latest to the system". Makes it easier to maintain a runtime environment in a back compat way. "dotnet" without version number is also more discoverable.
But, again, if you're unconvinced, and would rather not ship a `dotnet` package, I can move that one to be optional.

[2017-04-09 08:23] RheaAyase commented on #1599
My opinion from my two points of view:

As a user I see no reason to have always the latest major.minor on my server. When I update my server-side application's code, to use newer version, then I'll also manually update the framework - always keeping but one installed to save HDD space for economical reasons (I don't have freebie Azure VM)

As a developer I would like my SDK to be the latest, and

[2017-04-10 04:00] livarcocc opened #2007 "Get process description from dll info"
_From @benaadams on April 9, 2017 18:15_

Currently if you run a dotnet program with the shared host its listing in Task manager isn't particularly informative:

![image](https://cloud.githubusercontent.com/assets/1142958/24839744/3780ca9c-1d58-11e7-8b6b-5f72aa67e7dc.png)

They all look the same; with more and more adoption will get harder to distinguish between portable dotnet apps.

It would be

[2017-04-10 06:35] hqueue commented on #1411
@MichaelSimons Yes, we need both 14.04 and 16.04 image for ARM CI.

I think @jyoungyun shared Docker file for Trusty (Ubuntu 14.04) which contains followings.
[code]

And I think you can use followings for Xenial (Ubuntu 16.04)
[code]

[2017-04-10 14:02] MichaelSimons commented on #1411
@hqueue @jyoungyun - I could not get Xenial to build.

[code]

[code]

If you can specify how the Dockerfile should be defined, I will get the microsoft/dotnet-buildtools-prereqs image updated.

[2017-04-10 15:21] hqueue commented on #1411
@MichaelSimons Can you try with below file ? I've just tested and successfully add clang-3.9 by extending microsoft Docker image and add command for llvm 3.9.

https://github.com/hqueue/docker/blob/master/dotnet/ubuntu1604_cross_prereqs/Dockerfile
[code]

[2017-04-10 16:09] glennc commented on #1673
I think @joeloff is the right person for this, and can move it to where it should belong.

[2017-04-10 16:15] joeloff commented on #1673
Yup, you can assign to me. The requirement though is a minimum version

@tloo Can you share your setup logs? We specifically look at HKLM\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full and examine the Release value.

[2017-04-10 16:21] eerhardt opened #2014 "runtime.win10*.Microsoft.NETCore.UniversalWindowsPlatform packages are getting built on linux/osx builds"
## Steps to reproduce
build dotnet/core-setup on a linux or OSX machine.

## Expected  behavior
We should not be producing `runtime.win10` packages, since this isn't building on win10.

## Actual behavior
[code]

[2017-04-10 16:46] eerhardt commented on #2014
From my naive investigation, I believe the problem is:

https://github.com/dotnet/core-setup/blob/master/pkg/projects/Microsoft.NETCore.UniversalWindowsPlatform/uapRIDs.props#L3-L5

[code]

Which hard-codes `win10` even when not building on windows.  Thus, later when we try to [FilterProjects](https://github.com/dotnet/core-setup/blob/master/pkg/projects/dir.traversal.targets#L11), we are picking

[2017-04-10 16:54] joperezr commented on #2014
those package RIDS are fine, since we actually want the rids to only build on windows builds. This package is for UAP, hence there are no runtime-specific assets for anything other than Windows. The problem here is that we don't have a good way to filter out a package from building, I'll try to figure out a way.

[2017-04-10 17:01] eerhardt commented on #2014
I believe there already is a good way of filtering out packages from building using the existing `OfficialBuildRID` mechanism.

If you would set `$(PackageRID)` to the RID that is currently being built, instead of hard-coding it, then that FilterProjects target wouldn't pick up any of the `OfficialBuildRID`s.

Then, all you need to do to tell [this piece](https://github.com/dotnet/core-setup/blob/

[2017-04-10 17:05] gkhanna79 commented on #1673
@joeloff Is not on the assigned to list - @joeloff Can you please move this bug to appropriate repo?

[2017-04-10 17:06] eerhardt commented on #2014
Unless you just want to skip building everything in the `UniversalWindowsPlatform` package when not building on Windows...  which would probably be best.

[2017-04-10 17:07] joperezr commented on #2014
yup, that is actually what I want, since It's ok if the identity package is not built at all on non-Windows.

[2017-04-10 17:10] eerhardt commented on #2014
Note that this issue appears to be blocking getting a clean core-setup official build.  We keep getting errors like:

[code]

Which according to @dagood, that error is caused by 2 legs of the build uploading the same blob at the same time (which is happening here).

[2017-04-10 17:15] dagood commented on #2014
To link them together:
 * This issue tracks a specific case of https://github.com/dotnet/core-setup/issues/1994 (tracking all overlap).
 * Regardless of solution, stopping this exception from blocking builds is https://github.com/dotnet/core-setup/issues/1824.

[2017-04-10 17:48] joperezr commented on #2014
I've put up a PR to fix this specific issue. To be clear, as @dagood this is only one of the many instances of the problem, since even for netcoreapp, we have the case where the Identity package gets produced by multiple builds, so we might run into the same issue.

[2017-04-10 17:53] gkhanna79 opened #2016 "Add Unsupported Blocker to Runtime Bundle ( Windows Platform only )"
@gmeena commented on [Sun Apr 09 2017](https://github.com/dotnet/coreclr/issues/10832)

hosting machine, window server 2008, IIS 7
running dotner --help giving this error. attached in image
![dotnetcore error](https://cloud.githubusercontent.com/assets/8595001/24836743/f46c375c-1d41-11e7-9f52-54a2fe022018.jpg)

After so much googling could not able to find solution so posting here. same is working

[2017-04-10 17:54] gkhanna79 commented on #2016
@rakeshsinghranchi Can you please look into adding such detection for our installers for 2.0? Once that is done, we should look into doing so for future 1.0.x and 1.1.x as well.

[2017-04-10 18:17] bleroy commented on #1599
Yes, those are two important scenarios.

There's also the scenario where as a hoster, I want to keep my servers ready to welcome apps written for all versions of .NET Core. This can be achieved in two ways: I can manually install versioned shared frameworks as they come out, or I can install `dotnet` once and update it to get new versions side by side.

Another is the one where as a a new user, I

[2017-04-10 18:41] #2014 closed

[2017-04-10 19:25] joeloff commented on #1673
This issue was moved to aspnet/Home#1991

[2017-04-10 19:26] joeloff commented on #1673
@gkhanna79 I've moved the issue. you can go ahead and close it. I don't think I have permissions to do that.

[2017-04-10 19:41] gkhanna79 commented on #1673
Thank you @joeloff

[2017-04-10 19:41] #1673 closed

[2017-04-10 20:20] vivmishra commented on #1645
Merged

[2017-04-10 20:20] #1645 closed

[2017-04-10 20:20] vivmishra commented on #1646
Merged

[2017-04-10 20:20] #1646 closed

[2017-04-10 20:23] vivmishra commented on #1575
Fixed and merged.

[2017-04-10 20:23] #1575 closed

[2017-04-10 20:33] rakeshsinghranchi commented on #1408
Closing as both issues are closed : #1645 and  #1646 .

[2017-04-10 20:33] #1408 closed

[2017-04-10 21:03] tmds commented on #1599
I like the idea of a `dotnet` package as a user-experience but it doesn't work well:
- If a user wants to do development, he should install the `dotnet-sdk` package.
- If a user wants to run an app, he should install the specific `dotnet-x.y` the app requires.

Now, what if we rename the `dotnet-host` package to `dotnet`?
When installed, the user gets the `dotnet `executable which can tell him man

[2017-04-10 21:47] bleroy commented on #1599
That's an interesting idea, especially as the host consists of a "dotnet" executable, but the host remains pretty useless on its own, which is why the package so far has been considered as a dependency only, not as a standalone thing.

It also comes with strong constraints on how much it can do without an SDK, and what help messages we can put in there (and how they can be localized). We also can'

[2017-04-10 23:16] RheaAyase commented on #1599
True, I haven't thought of that, however in that case they could just install the sdk which will effectively do the same thing. The only in-production actual use of this that comes to my mind is an university, where every student has an account on some powerful server to run their heavy calculations or projects, etc... They won't cry for the extra 100MBs from having an sdk instead of just the fram

[2017-04-10 23:20] bleroy commented on #1599
Yes.

I'll remove the `dotnet` package from the doc entirely then.

[2017-04-11 05:00] MichaelSimons commented on #1411
@hqueue - I built the new cross images requested.

microsoft/dotnet-buildtools-prereqs:ubuntu-14.04-cross-0cd4667-20172211042239
microsoft/dotnet-buildtools-prereqs:ubuntu-16.04-cross-ef0ac75-20175511035548

We have introduced a new naming scheme for the images.  This is in support of our forkable engineering effort.  The name indicates the commit sha of the Dockerfile the image was generated from

[2017-04-11 07:13] hqueue commented on #1411
@MichaelSimons Looks good and nice to hear the news  :)

[2017-04-11 10:01] jyoungyun commented on #1411
@MichaelSimons Thanks for sharing. I will update the ci script for using new docker image soon. And it is good news to add a new repository(?) to access the Dockerfile. :)

[2017-04-11 15:00] eerhardt commented on #625
@pakrym - let me know if you think https://github.com/eerhardt/core-setup/commit/71bde9e9c04cb5b2355bec6ec843959d54d402e1 will address this issue.  If it will, I'll add tests and send it out for a PR.

[2017-04-11 15:53] pakrym commented on #625
@eerhardt It's a start, I'm sure some other issues will rise when people start using DependencyModel this way.

[2017-04-11 15:54] eerhardt commented on #625
Well, let me know if this is something you want to pursue. If it is, I can make the change. If it isn't, then we can move this bug out of 2.0.

[2017-04-11 16:44] davidfowl opened #2025 "Multi level lookup for SDK"
I was just looking at this document to see if we can take advantage of this in our builds (ASP.NET Core and others):

https://github.com/dotnet/core-setup/blob/c0aac4d98d3af034d8b9f8ca54ed49ec766db320/Documentation/design-docs/multilevel-sharedfx-lookup.md

I was looking to see if we could use the user location for the dotnet hive and I noticed there's no mention of the SDK here. The goal of the m

[2017-04-11 17:06] gkhanna79 commented on #1566
@hqueue @jyoungyun Any thoughts?

[2017-04-11 18:27] rakeshsinghranchi opened #2031 "Consume prebuilt images from dockerhub registry than building during pipeline build"
As of today, docker images are built on the fly during the pipeline build. @gkhanna79  suggested to consume the pre-build docker images from dockerhub registry . This involves pushing all required docker images to dockerhub.

[2017-04-11 18:46] gkhanna79 commented on #2031
CC @MichaelSimons

[2017-04-11 18:50] MichaelSimons commented on #2031
This is a dup of https://github.com/dotnet/core-setup/issues/1719

[2017-04-11 19:14] omajid opened #2033 "How to identify when a change in corefx/coreclr is available in core-setup"
I am trying to trace how features go from corefx and coreclr to core-setup (and from core-setup into cli). I see that various PRs (such as https://github.com/dotnet/core-setup/pull/1957) for updating the version of coreclr/corefx in core-setup refer to version strings like "2.0.0-preview1-25205-03". Is there some way to find out which commit/tag these version strings correspond to?

Is there some

[2017-04-11 20:49] gkhanna79 commented on #2033
@ellismg @joperezr What was the command that could be used to get commit SHA out of the binaries we build?

[2017-04-11 20:50] gkhanna79 commented on #2031
Closing since it is a dup.

[2017-04-11 20:50] #2031 closed

[2017-04-11 20:54] joperezr commented on #2033
`git rev-parse HEAD`

[2017-04-11 20:57] gkhanna79 commented on #2033
I was asking about the SHA your versioning change embedded within the binaries @joperezr

[2017-04-11 21:05] joperezr commented on #2033
Oh, you can find that information here: https://github.com/dotnet/corefx/blob/master/Documentation/building/versioning.md#getting-the-version-of-a-native-binary-in-non-windows-platforms

Assuming you are asking for a non-Windows native binary, you call: `strings myNativeNonWindowsBinary.so | grep "@(#)"`
For every other case (IL assembly or Windows native assembly) just right click the assembly ->

[2017-04-11 21:16] gkhanna79 commented on #1975
@rakeshsinghranchi Can you please see if this is applicable to 1.0.5 as well? If so, can we get a fix for it?

Likwise for 1.1.x and 2.0.0 as well.

[2017-04-11 21:24] ellismg commented on #2033
It may be obvious but strings also works on IL (and I would assume native windows PE files):

[code]

It helps to filter things such that you only pull out things that look like SHA1 hashes, as I do above with the grep pattern.

[2017-04-11 21:37] rakeshsinghranchi commented on #1975
Issue doesn't repro any more on 1.0.5 or 1.1.2 or 2.0.0 . Issue occurred in 1.0.4 because in-correct value set for ProductMoniker variable. Moving to new build definition and signing microbuild has resolved the issue.

[2017-04-11 21:37] #1975 closed

[2017-04-11 21:38] rakeshsinghranchi commented on #2016
Fix is in 1.0.x,1.1.x and 2.0.0 . Closing this now.

[2017-04-11 21:38] #2016 closed

[2017-04-12 02:08] #215 closed

[2017-04-12 02:38] danmosemsft commented on #2007
@livarcocc how is this a setup issue? wouldn't it be dotnet.exe that would set its own process name (if such a thing is possible)?

[2017-04-12 04:38] mellinoe commented on #2007
@danmosemsft dotnet.exe is produced from core-setup.

[2017-04-12 04:45] danmosemsft commented on #2007
Ah that makes sense.

[2017-04-12 10:49] jyoungyun commented on #1566
@gkhanna79 Okay, as you said, we are considering running a separate release infra to upload nupkg for tizen. But there are a few things you need to check.

1. When we release tizen nupkg separately, you should refer to myget for tizen during development process and refer to nupkg with owner Samsung(or Tizen) at official release. Therefore, tizen myget should be added to NuGet.Config of each projec

[2017-04-12 14:51] eerhardt commented on #2025
The lookup works for the SDK as well, but there are bugs in the feature.  For example, see https://github.com/dotnet/cli/issues/6298.

Closing as the lookup works as expected.

Note: the location under `%USERPROFILE%` is:

![image](https://cloud.githubusercontent.com/assets/8291187/24963916/85bab52e-1f65-11e7-9222-c8287757e2a1.png)

[2017-04-12 14:51] #2025 closed

[2017-04-12 14:59] eerhardt commented on #189
Are we going to bump this issue out of 2.0, like we did for 1.1 and 1.2?

[2017-04-12 15:01] eerhardt commented on #1868
Duplicate of #174.

[2017-04-12 15:01] #1868 closed

[2017-04-12 15:12] eerhardt commented on #618
There is a "Microsoft.NET.CrossGen.targets" that ships in the .NET Core SDK.  See https://github.com/dotnet/sdk/blob/master/src/Tasks/Microsoft.NET.Build.Tasks/build/Microsoft.NET.CrossGen.targets.

It would be great, IMO, if we could start using that more broadly.

[2017-04-12 15:19] eerhardt commented on #200
This should be fixed in 2.0 now, right?  On macOS, we are no longer requiring OpenSSL.

[2017-04-12 15:21] bartonjs commented on #200
@eerhardt Yup, that's been done for a couple weeks now.  I don't know if anything in the setup experience needs to be adjusted because of that, so I'll leave this for you to close.

[2017-04-12 15:44] eerhardt commented on #200
Looks like there is some installer work that needs to be undone.

https://github.com/dotnet/core-setup/blob/eca152525e19a41d489cd5845afa14982653cc0a/packaging/osx/sharedframework/scripts/postinstall#L13

[2017-04-12 15:54] gkhanna79 commented on #1832
Closing as this is complete.

[2017-04-12 15:54] #1832 closed

[2017-04-12 15:56] gkhanna79 commented on #685
@ramarag Is this issue being used to track moving host help pieces CLI for localization?

CC @livarcocc

[2017-04-12 17:08] ericstj commented on #189
Some of this has changed.  1 and 2 are actually done but it was decided to not do it in core-setup but in VS, so that it can be closer in-sync with the templates.
I think 3 is also being done upstack, not sure if there is any desire to move it down.  By the same logic that moved 1 and 2 closer to VS/templates I think 3 should also be closer to VS.  /cc @livarcocc @joeloff

[2017-04-12 17:49] joeloff commented on #189
@ericstj These are for the feed/fallback installers, correct? We have a subset of the .NET Core packages in ASP.NET (we agreed to carry them back in 1.0 RC timeframe), not the full set, only what satisfies our closure to support web templates.

[2017-04-12 18:06] ericstj commented on #189
Who's building out the VS package with the .NET Core templates?

[2017-04-12 18:14] blackdwarf commented on #200
@eerhardt yup, the checks and whatnot need to be removed. :)

[2017-04-12 18:34] joeloff commented on #189
@srivatsn @jinujoseph might know.

[2017-04-12 18:38] ericstj commented on #189
Yep, @jinujoseph picked up 1 & 2.  It probably makes sense to build 3 in the same way.

[2017-04-12 19:52] ericstj commented on #1749
This isn't actionable.  Its a question and I don't own that decision.

[2017-04-12 21:34] terrajobst commented on #1749
I don't think we should rename the package; as you said: it's expensive and potentially far reaching.

@Petermarcu, what falls apart when the Mac treat the folder for this package as an application? In the end, we don't expect customers to see or interact with that folder at all.

[2017-04-12 21:42] #200 closed

[2017-04-12 22:33] wtgodbe commented on #1719
@MichaelSimons can you confirm that this has already been done?

[2017-04-12 22:56] ramarag commented on #300
the verb that should be used to get this info is --info

[2017-04-12 22:56] #300 closed

[2017-04-12 23:35] gkhanna79 commented on #1994
@dagood Can this be closed or is still actionable?

[2017-04-13 04:56] #1840 closed

[2017-04-13 07:57] lemmaa commented on #1566
Nevertheless, we hope that this situation will not happen. This second repository is only intended to serve as a gatekeeper for the different release cadence of .NET Core and Tizen, not to reflect different code. We will reflect upstream in all cases.

[2017-04-13 11:04] mazong1123 opened #2050 "Update cli code to reflect the new inteface of coreclr"
## Steps to reproduce
Based on the discuss of [this PR](https://github.com/dotnet/coreclr/pull/10842#issuecomment-293623966), we need to update https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/coreclr.cpp to reflect the changes. Otherwise the nuget would not be aware of the new interface.

## Expected  behavior
New interface can be awared by the nuget.

[2017-04-13 14:02] MichaelSimons commented on #1719
@wtgodbe - Nothing has been done on this.  A dup was just logged yesterday - #2031.

[2017-04-13 14:04] dagood commented on #1994
I believe almost all of the overlap above is still in the build, and it's still a problem. Unassigning myself for now because I haven't worked on this since creating that list.

[2017-04-13 14:19] gkhanna79 commented on #1994
@dagood will you be able to look into this for 2.0? If not, please update the milestone to reflect when you will be.

[2017-04-13 14:35] gkhanna79 commented on #1566
Are you referring to the feed to which you will upload the packages? If so, we could add reference to your feed or, for simplicity, could we consider having them uploaded to .NET Core feed. What do you think?

@weshaggard Do Nuget.org feed's have owner-specific URIs? Or, can Tizen folks upload their runtime.* packages to nuget and anyone will be able to pull them down (including us). I would expec

[2017-04-13 15:24] dagood commented on #1994
I took another look at what issues I have right now, and I should actually be able to work on this this week. I'll update if not.

[2017-04-13 15:59] jkotas commented on #2050
@gkhanna79 Is https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/coreclr.cpp used with latest CoreCLR only, or does the change need to be done as light up (use the old method if the new one is not there) so that it works on older runtimes too?

[2017-04-13 16:51] gkhanna79 commented on #2050
Yes, that file is used with the latest M.N.App only (see https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/hostpolicy.cpp#L146 where the bind to CoreCLR happens) which is used only by hostpolicy.dll (https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/dll/CMakeLists.txt#L40) that is part of the latest sharedFX.

[2017-04-13 16:51] gkhanna79 commented on #2050
@mazong1123 Please update the file above to correspond to your change as well.

[2017-04-13 16:52] gkhanna79 commented on #2050
CC @ramarag @eerhardt

[2017-04-13 18:07] gkhanna79 commented on #1740
I have thought about this more - this only applies to servicing scenarios and, conservatively, it is fine to do it there.

I will close this issue.

[2017-04-13 18:07] #1740 closed

[2017-04-13 18:08] gkhanna79 commented on #618
Closing this as there is no action required for now.

[2017-04-13 18:08] #618 closed

[2017-04-13 18:37] #1835 closed

[2017-04-13 20:09] livarcocc opened #2054 "How to make dotnet use a different runtime?"
_From @hadibrais on April 13, 2017 19:49_

I have installed on my Linux system precompiled .NET CLI tools version 2.0.0-beta-001776-00. The runtime libraries (libcoreclr.so and libclrjit.so) and the .NET libraries are installed in the default directory. I made some small changes to the CoreCLR (specifically to the JIT) and verified that my runtime is working correctly. However, I wanted dotnet and

[2017-04-13 20:09] livarcocc commented on #2054
What you are changing is not really the CLI, but rather the runtime. I will move your issue to core-setup.

[2017-04-13 21:24] gkhanna79 commented on #1411
@wtgodbe @MichaelSimons updated the crossbuild images to support clang 3.9 for cross builds (see https://github.com/dotnet/core-setup/issues/1411#issuecomment-293150266). Can you please update CoreCLR build definitions to consume these Docker images for cross build?

Likewise, can you create PRs for the same for CoreFX and Core-Setup too?

[2017-04-13 21:25] gkhanna79 commented on #1411
@jyoungyun Once the official build pipeline is updated to use the above images, will you create the PRs for CoreCLR/CoreFX/Core-Setup to specify -O3 for Arm/armel builds?

[2017-04-13 21:36] wtgodbe commented on #1411
Here are the PR's to update the images in the 3 repos:

https://github.com/dotnet/core-setup/pull/2057
https://github.com/dotnet/corefx/pull/18349
https://github.com/dotnet/coreclr/pull/10953

[2017-04-13 23:06] rakeshsinghranchi commented on #1719
Please consider these docker files as well : https://github.com/dotnet/core-setup/tree/master/scripts/docker

[2017-04-14 09:58] jyoungyun commented on #1566
@gkhanna79

If you don't mind, we can use .NET Core feed too.

Oh, I should have explained more about our build infra, I'm sorry. :) We can not use network in our build infra. So we have to separate the repository for shipping to Tizen devices and the repository for uploading nupkgs.

This is a beside, you can access [Tizen build system](https://build.tizen.org/) and you can also see the [coreclr]

[2017-04-14 16:38] gkhanna79 commented on #1566
I think it should possible to have your infrastructure publish packages during build to .NET Core feed on myget for simplicity (CC @weshaggard for context).

Thanks for describing your build infrastructure @jyoungyun. Does it mean that when you need to push to myget, it will be done by the second repo?

I think we can look into doing so if you are not able to get the infra for uploading Tizen runt

[2017-04-14 16:58] gkhanna79 commented on #1411
@jyoungyun @hqueue We have updated the build pipeline to use the new Docker images @MichaelSimons produced that contain clang 3.9. Will you be updating the repos to use the -O3 switch for the build?

Also, can I merge https://github.com/dotnet/core-setup/pull/2038/files?

[2017-04-14 17:48] gkhanna79 commented on #1653
@tmat Do you have an ETA on this?

[2017-04-14 17:50] gkhanna79 commented on #1564
@ericstj Is there anything actionable on this?

[2017-04-14 17:51] gkhanna79 commented on #1267
Closing as dup of https://github.com/dotnet/core-setup/issues/1489

[2017-04-14 17:51] #1267 closed

[2017-04-14 17:52] gkhanna79 commented on #627
@ellismg Is this being tracked for 2.0?

[2017-04-14 17:55] ellismg commented on #627
The plan is to provided a limited source tarball with some caveats (e.g. there will be some prebuilt binaries that come with it that are rebuilt during the build process and we may not support every linux distro) for 2.0 and then keep improving that after 2.0.

The other angle is we are moving to the portable linux binaries so they should have larger reach (and can be installed with dotnet-install

[2017-04-14 18:21] zamont opened #2070 "Update Microsoft.Net.UWPCoreRuntimeSdk with open CoreCLR artifacts"
We expect the following artifacts to be built in the open and included in Microsoft.Net.UWPCoreRuntimeSdk:

- UWPShim.exe
- UWPHost.dll
- Microsoft.Net.CoreRuntime Appx FW package

When these are added to Microsoft.Net.UWPCoreRuntimeSdk, we need to do the following

- Port Microsoft.Net.CoreRuntime.targets. This includes updating the paths to the newly included binaries
- Port Microsoft.Net.CoreRu

[2017-04-14 19:12] ericstj commented on #1564
@Thealexbarney and I worked out a couple issues with trimming.  I believe this is working now.  If not please open a new issue.

[2017-04-14 19:12] #1564 closed

[2017-04-14 20:53] #1653 closed

[2017-04-14 22:58] gkhanna79 commented on #2054
CC @ramarag

[2017-04-14 22:59] gkhanna79 commented on #1987
@rakeshsinghranchi @vivmishra Is this fixed in master?

[2017-04-14 23:02] gkhanna79 commented on #1762
The host does not do anything to block/wait against the application aside from invoking its entrypoint. Someone in CoreFX should take a stab.

[2017-04-14 23:03] #1762 closed

[2017-04-14 23:03] gkhanna79 commented on #1762
Issue moved to [dotnet/corefx #18408](https://github.com/dotnet/corefx/issues/18408) via [**ZenHub**](https://www.zenhub.com/)

[2017-04-15 02:02] #174 closed

[2017-04-15 02:07] ramarag opened #2076 "Follow up of DependencyModelResolution"
followup https://github.com/dotnet/core-setup/pull/2039 with end to end test
and see if all probing paths should be exposed or not

[2017-04-16 15:51] aolney commented on #545
Here's what I did to fix dotnet on Debian unstable (sid)

- Modified the [install script](https://gist.github.com/aolney/8d951cc15692e772e0ace8e27800555a) to handle Debian 9 and a bash shell
- Executed `sudo dotnet-install.sh -Version 2.0.0-preview1-005791 --verbose -InstallDir /opt/dotnet`
- After it runs do `find /opt/dotnet -name '*.so' -type f -print | xargs ldd | grep 'not found'` to see if y

[2017-04-17 15:40] dagood commented on #1994
I haven't had time to try to fix this, but now I have a mapping of *every* overlapped publish, derived from the build logs for a successful build: https://gist.github.com/dagood/4aa125b07ad373d772a684f9509f9f59.

A few notes:
 * Every build seems to try to publish the corehost packages.
 * Portable builds overlap with their non-portable counterparts a lot.
 * The CentOS build is publishing RHEL ar

[2017-04-17 15:40] hqueue commented on #1411
@gkhanna79 Yes, please :)

[2017-04-17 16:58] chcosta opened #2081 "Reduce occurences of build publishing race condition"
We are occasionally hitting this failure in our official builds

Sent: Monday, April 17, 2017 9:49 AM
To: dotnet-bot <dn-bot@microsoft.com>; .NET Core Builds <dncbuilds@microsoft.com>
Subject: RE: DevDiv Build 20170417-04 failed
Looking into this. At first glance, it’s a publish semaphore locking issue, which is normally caused by two builds happening too close together:
Build failed: System.Excep

[2017-04-17 17:04] dagood commented on #2081
Doesn't this introduce the race condition again?

I'm also not sure if this solves the issue because the code here is for multiple build legs of the same pipebuild finishing at the same time. (Comment terminology is outdated.) The build issue is when multiple builds of different pipebuilds (different commits) finish at the same time, and are both are in that `else` block.

[2017-04-17 17:10] chcosta commented on #2081
I titled the issue "reduce", not "eliminate".  I think this would help reduce the occurrences where we try to acquire a lease but are already on the specified version.  You're right, this would only apply to the current Pipebuild instance.  For fixing multiple pipebuild instances (multiple commits merged close together), we'd probably have to do something with how maestro schedules jobs.

I think

[2017-04-17 17:17] chcosta commented on #2081
@dagood has more experience investigating the semaphore locking issues and hasn't really seen them as an issue for within a single PipeBuild instance.  I'll close this issue for now.

[2017-04-17 17:17] #2081 closed

[2017-04-17 17:21] jmarolf opened #2082 ".NET Core 1.1.1 runtime exe installer has unsigned files"
See the following internal bugs:
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/408746
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/408748
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/409061
https://devdiv.visualstudio.com/DevDiv/_workitems/edit/409063

These scans are looking at both the [x86](https://go.microsoft.com/fwlink/?linkid=843437) and [x64](https://go.microso

[2017-04-17 17:37] dagood commented on #2081
I ask if it would introduce it again because currently this semaphore is used here to make sure two build legs don't try to start publishing at the same time--it's a fix for a race condition. After the change suggested above, I can see this happening:

 * Legs A and B complete at the same time, and both see that all legs are done building.
 * Legs A and B check targetVersionFile to see if another

[2017-04-17 18:43] #624 closed

[2017-04-17 20:07] ramarag commented on #685
This will be tracked by https://github.com/dotnet/cli/issues/6255

[2017-04-17 20:07] #685 closed

[2017-04-17 20:09] ramarag commented on #934
The only remaining item here is adding tests, which is dependent on the latest cli, which i believe is blocked on the change to update the repo's build system.

So moving it to 2.1

[2017-04-17 21:00] pcgeek86 commented on #570
I downloaded an older version of the .NET Core SDK on Mac, because I need to support `project.json`, but I'm getting this error:

[code]

How can I work around this?

[2017-04-17 22:13] ramarag commented on #623
dupe of https://github.com/dotnet/core-setup/issues/174.
fixed by https://github.com/dotnet/core-setup/issues/2048

[2017-04-17 22:13] #623 closed

[2017-04-18 04:07] dhasenan opened #2096 "Linux SDK downloads are for 1.0.1 despite being labeled for 1.0.4 and 1.1.1"
## Steps to reproduce
1. Visit https://www.microsoft.com/net/download/linux
2. Download Ubuntu 16.04 SDK deb packages for 1.0.4 and 1.1.1

## Expected  behavior
I would have SDK deb packages for Ubuntu 16.04 for dotnet-core-1.0.4 and dotnet-core-1.1.1

## Actual behavior
I have SDK deb packages for Ubuntu 16.04 for dotnet-core-1.0.1.

## Environment data

[2017-04-18 04:07] dhasenan commented on #2096
Whoops, I just saw the line in the checksum file: "1.0.1 SDK (includes 1.0.4 & 1.1.1 Runtime)"

Might be nice to document that.

[2017-04-18 04:07] #2096 closed

[2017-04-18 09:16] Tragetaschen commented on #1908
I just checked the official builds that are linked in README.md and those have that problem as well.

In all of
- https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/dotnet-linux-arm.latest-portable.tar.gz
- https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/dotnet-ubuntu-arm.latest.tar.gz
- https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/

[2017-04-18 17:52] eerhardt commented on #625
It's been a week and no reply.  Moving out of 2.0.

[2017-04-18 18:30] danroth27 commented on #625
I'd still like to see this go into 2.0. I hit this issue as part of the ASP.NET Core Modules prototyping work and I still think we want this. Right now things are pretty crazy getting basic stuff working for BUILD, but can we revisit this in May?

[2017-04-18 18:54] JensNordenbro commented on #1832
I am trying to build an exe targeting linux-arm according to:
https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

My csproj:
[code]
The nuget.config points to a directory containg the corfx- and coreclr-nuget from the links above (versions in sync).
When building using .net core 2.0.0 sdk, the output is:
[code]

Am I doing something wrong or is it just not suppor

[2017-04-18 18:56] eerhardt commented on #1832
You are using the wrong version for the runtime.  `RuntimeFrameworkVersion` refers to which `Microsoft.NETCore.App` package you are referencing.

See https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.App for the latest versions of this package.  (`2.0.0-preview1-002028-00` is the latest package right now.)

[2017-04-18 19:52] JensNordenbro commented on #1832
Thanks @eerhardt , now it publishes! I have no arm to test my build on at this point in time but will try tomorrow.
How does
https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.linux-arm.Microsoft.NETCore.Runtime.CoreCLR fit into all of this? I never is mentioned in the csproj.

[2017-04-18 20:01] eerhardt commented on #1832
From a "normal" user standpoint, none of this shows up in the .csproj.  The way you pick your runtime is using the `TargetFramework(s)` property, and which packages are referenced underneath are an implementation detail:  `netcoreapp1.1` => `Microsoft.NETCore.App v1.1x` (where `x` is the latest patch).  `netcoreapp2.0` => `Microsoft.NETCore.App v2.0.x`.  etc.

The `Microsoft.NETCore.App` package t

[2017-04-19 07:28] jyoungyun commented on #1566
@gkhanna79 I'm building a new infra for uploading runtime.tizen.4.0.0-armel-* nupkg and let's talk about synchronization when it is finished. I will ping you again. :)

[2017-04-19 19:15] mikeharder opened #2113 "ASP.NET MVC fails with "Cannot find compilation library location for package 'Microsoft.Win32.Registry'" on Ubuntu"
## Steps to reproduce
1. VM with clean Ubuntu 16.04
2. Install dotnet-dev-1.0.1 to install dependencies (https://www.microsoft.com/net/core#linuxubuntu)
3. wget https://dotnetcli.azureedge.net/dotnet/Sdk/2.0.0-preview1-005817/dotnet-dev-ubuntu-x64.2.0.0-preview1-005817.tar.gz
4. mkdir dotnet-dev-ubuntu-x64.2.0.0-preview1-005817
5. tar xf dotnet-dev-ubuntu-x64.2.0.0-preview1-005817.tar.gz -C dotnet

[2017-04-19 19:39] mikeharder commented on #2113
Root cause suspected to be https://github.com/dotnet/sdk/issues/1130.

[2017-04-19 20:48] eerhardt commented on #2113
Fixing now.

[2017-04-19 21:27] kichalla opened #2117 "[Windows] No 'refs' directory in published output results in error "Cannot find compilation library location for package 'Microsoft.Win32.Registry'""
## Steps to reproduce
- Install `2.0.0-preview1-005815` of CLI
- md test
- cd test
- dotnet new webapi
- dotnet publish
- Run the app
   `dotnet C:\test\bin\Debug\netcoreapp2.0\publish\test.dll`
- The above step works
- Stop the server (Ctrl + C)
- Open the published output folder and rename the `refs` directory to something else
- Run the app again
  `dotnet C:\test\bin\Debug\netcoreapp2.0\publis

[2017-04-19 22:00] dagood commented on #1824
To make sure "2. Catch and ignore this specific exception." is a valid solution I checked two of the repros we've had to make sure the files weren't corrupted by the conflict. They weren't. I also wasn't able to find any web search results for `corrupt The specified block list is invalid` or anything similar.

[2017-04-19 22:48] eerhardt commented on #2113
PR up to fix this:  https://github.com/dotnet/sdk/pull/1134.

Will need to get that merged into dotnet/sdk and then that build merged into dotnet/cli.

[2017-04-20 00:06] gkhanna79 commented on #1566
@jyoungyun my point of "sync" was to check on how things are going :) Do you still feel you will be able to make end of April?

[2017-04-20 01:43] jyoungyun commented on #1566
I'm trying now. :) However, to build corefx or core-setup for the first time, nupkg for bootstrapping must be loaded first, but the `Microsoft.NETCore.Platforms` nupkg is not created.

[2017-04-20 18:44] ravimeda opened #2127 "Tests should restore a specific version of Microsoft.NETCore.DotNetAppHost, and not the highest version available on MyGet"
## Steps to reproduce
Restore `Microsoft.NETCore.DotNetAppHost` package, which is needed for tests located at `/opt/code/TestAssets/TestProjects`
This can be by running `build.sh` or `build.cmd`.

## Expected  behavior
Version matching should not be `*`. Rather should match a specific version. For example, `2.0.0-preview1-002042-00`

## Actual behavior
Restores the highest version matching `2.0.0-

[2017-04-20 18:45] ravimeda commented on #2127
FYI @chcosta @weshaggard

[2017-04-20 18:47] chcosta commented on #2127
I think the issue is restoring "Microsoft.NETCore.App", not DotNetAppHost specifically.  The tests reference Microsoft.NETCore.App and then that package pulls in its dependencies , which include DotNetAppHost

[2017-04-20 20:00] danroth27 opened #2130 "Win32 exception when using "dotnet run -f netcoreapp2.0""
## Steps to reproduce
-	Clone https://github.com/aspnet/identityservice
-	build
-	cd samples\WebApplication
-	dotnet run -f netcoreapp2.0

This seems to be a crash in the host itself. This is the command that is causing the crash:

`dotnet exec "E:\git\identityservice\samples\WebApplication\bin\Debug\netcoreapp2.0\WebApplication.dll"`

Also note that if you attach a debugger and hit continue, it w

[2017-04-20 20:55] gkhanna79 commented on #2117
@eerhardt Is this CLI or DependencyModel?

[2017-04-20 20:57] gkhanna79 commented on #2127
The * enables referencing the version to be restored that built during the build. Thus, it cannot be the specific version.

[2017-04-20 20:57] gkhanna79 commented on #2127
CC @eerhardt @ramarag

[2017-04-20 21:23] weshaggard commented on #2127
Yes but once we move to PackageReference vs project.json we should directly reference the specific version we are building to eliminate the trouble we have with the * versioning.

[2017-04-20 21:31] eerhardt commented on #2127
Yes, the main issue here is that the tests *need* to reference the version of the product that was just built.  This was not as feasible in project.json world since you couldn't use parameters.

I agree with @weshaggard that moving to MSBuild will help this issue.

[2017-04-20 21:51] ramarag commented on #2130
@danroth27 please give the output of ``dotnet --info``

[2017-04-20 21:55] kichalla commented on #2117
I filed this issue before we discussed with @eerhardt . We made some fixes at our end.

[2017-04-20 22:00] eerhardt commented on #2130
Attaching a debugger, I see this callstack:

[code]

Looking at the code: https://github.com/aspnet/IdentityService/blob/25b693cdb40ce35375ed8ef286e7b3e09e2946df/samples/WebApplication/Program.cs#L14

[code]

Seems to be doing what you wanted it to do.

[2017-04-20 22:00] #2130 closed

[2017-04-20 22:06] eerhardt commented on #2117
This behavior is "by design".

When you have `<PreserveCompilationContext>true</>` in your .csproj, a `refs` folder is created on publish.  If you are going to call, `Microsoft.Extensions.DependencyModel.CompilationLibrary.ResolveReferencePaths()`, you need this folder in order to get your compilation libraries.  If you move/delete the `refs` folder, the libraries can't be resolved, and the correc

[2017-04-20 22:06] #2117 closed

[2017-04-20 22:09] danroth27 commented on #2130
😝

[2017-04-20 22:34] wtgodbe commented on #1721
https://github.com/dotnet/core-setup/issues/2116 resolves

[2017-04-20 22:34] #1721 closed

[2017-04-21 01:43] eerhardt commented on #2113
This is fixed by above PR

[2017-04-21 01:43] #2113 closed

[2017-04-21 14:55] eerhardt opened #2136 "Need to set SIGNED_PACKAGES on portable windows builds"
Today, we have 2 flavors of windows builds: portable `win7-arch` and non-portable `win-arch`.

Our plan is to ship the non-portable builds. We are already consuming the portable builds in the .NET Core SDK.

However, we are not setting the `SIGNED_PACKAGES` build variable in our portable builds.  This is a problem because we are using that variable here:
https://github.com/dotnet/core-setup/blob/9

[2017-04-21 14:57] gkhanna79 commented on #2136
I asked this to @ericstj in email as well. What all legs need this to be defined? Based upon the description, I would assume, atleast, all Windows legs need to have it, right? What if, in future, a non-Windows leg takes the longest and attempts to perform the publish. Should it be defined for those as well?

[2017-04-21 16:45] ericstj commented on #2136
/cc @chcosta

This was merely done as a hack.  Better yet would be to just define the property on the leg we want to ship the identity package.  That's what I suggested when I initially added it. https://github.com/dotnet/core-setup/commit/4772778ba76f51abeaa01973f6c33e91cc3de530

build to be completely vertical we still have a build-leg that will
run after all verticals of dependencies are comple

[2017-04-21 16:49] chcosta commented on #2136
Wouldn't this still be a problem for building the manifest because of what Gaurav mentioned?

[2017-04-21 16:54] gkhanna79 commented on #2136
And I am pretty sure we are going to have a change soon that will make non-Windows leg run the longest (that change is temporarily pulled out for other reasons).

What is the right fix for this @ericstj ?

[2017-04-21 17:33] ericstj commented on #2136
When this change was made I discussed with @eerhardt and @dagood and was directed that I should use SIGNED_PACKAGES and that this property was the one that was **already designated** to ship any package which may have overlapped with a package produced from another leg.  The things you're saying about "take the longest" did not enter the discussion as far as I recall.  The impression I got was tha

[2017-04-21 18:14] gkhanna79 commented on #2136
Today, SIGNED_PACKAGES is set only for Windows X64 build and is used for two cases:

1) Publish the DependencyModel and RuntimeAbstraction packages (see https://github.com/dotnet/core-setup/blob/master/build_projects/dotnet-host-build/PublishTargets.cs#L348)

2) Used for the scenario Eric called out above that expects all RID specific artifacts to have been published by then.

Today, the invariant

[2017-04-21 18:35] gkhanna79 commented on #2082
@mikem8361 @dagood Please look into this for 2.0 and also for 1.0.X and 1.1.x.

CC @leecow @lt72

[2017-04-21 19:18] mikeharder commented on #2113
Verified fixed in the latest ASP.NET builds.

[2017-04-21 19:19] gkhanna79 commented on #2136
CC @wtgodbe who can help with the build definition change.

[2017-04-21 20:11] wtgodbe commented on #2136
Here's the PR for the suggested change - https://github.com/dotnet/core-setup/pull/2142

[2017-04-21 20:28] eerhardt commented on #2136
I think @ericstj's #2 is the right way above.

A little background:

For both the dotnet/cli and dotnet/core-setup repos, we use a model where all legs of the build run at the same time.  When each leg finishes, it uploads its built assets to azure storage, then checks to see if it is the ["last leg" to finish](https://github.com/dotnet/core-setup/blob/master/build_projects/dotnet-host-build/Publi

[2017-04-21 20:36] gkhanna79 commented on #2136
Per Eric's comment in his commit, he mentioned that the identity package needs to be built once all rid specific assets can be restored and downloaded.

Did I misunderstand it? If not, then wouldnt the leg needing to wait for all rid specific assets end up being blocked until they are available, and making the build do finalization as well?

Thanks,
Gaurav
________________________________
From: Er

[2017-04-21 21:00] ramarag commented on #636
@pgrm can you check if https://github.com/dotnet/coreclr/issues/9014#issuecomment-290677198 solves your issue

[2017-04-21 21:18] gkhanna79 opened #2144 "Generate Native (crossgen) PDBs for Profiling for M.N.App"
These are required for enabling profiling scenarios. This is for post 5/10.

@eerhardt Can you please file the corresponding issue against @ramarag to enable support for the same in store command as well?

CC @vancem @lt72 @brianrob @Petermarcu

[2017-04-21 21:54] gkhanna79 commented on #1719
We should do this for 2.0 @wtgodbe.

CC @eerhardt

[2017-04-21 21:55] ericstj commented on #2136
If you want to go with option 2 then we need to plumb through a convention for building identity packages like I did in corefx.
https://github.com/dotnet/corefx/blob/b7153b2f56f1a3dd49a67d4eca7dd78c791e8539/pkg/dir.traversal.targets#L6-L12

If we do that then we can use ShouldBuildIdentityPackage in the same way I'm using SIGNED_PACKAGES today.  In CoreFx we had the AllConfigurations leg to design

[2017-04-21 22:07] ericstj commented on #2136
Actually option-2 isn't going to work well in core-setup without additional work.  Tests and shared framework publishing rely on having identity packages produced in all legs.  You need to do the filtering at publish time.

[2017-04-22 09:42] mazong1123 commented on #2050
@jkotas @gkhanna79 Since [coreclr.cpp](https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/coreclr.cpp) only used by latest CoreCLR based on the comment(https://github.com/dotnet/core-setup/issues/2050#issuecomment-293958400), I guess I can update the signature of [coreclr_shutdown_fn](https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/coreclr.cpp#L22) instead of creat

[2017-04-24 05:15] #1400 closed

[2017-04-24 09:40] jyoungyun commented on #1566
@gkhanna79 To make tizen runtime nupkgs is almost finished. So we need to talk about **sync** btw yours and ours buildpipeline.  What about use a specific branch for triggering builds at the same time?

[2017-04-24 12:39] Tragetaschen commented on #1908
@gkhanna79 Does this deserve a change in the milestone?

[2017-04-24 16:06] dagood commented on #1994
@eerhardt will be solving this as part of the fix for https://github.com/dotnet/core-setup/issues/2136 (better control over building/publishing identity packages). That will also fix https://github.com/dotnet/core-setup/issues/1824 (invalid block list).

[2017-04-24 17:47] gkhanna79 commented on #1908
It does - I have assigned it to myself.

CC @eerhardt

[2017-04-24 19:41] eerhardt commented on #625
I've submitted a PR for the initial ask of "Add ability to customize resolver settings in DependencyModel".

https://github.com/dotnet/core-setup/pull/2154

Since the scenario outlined in [@pakrym's comment](https://github.com/dotnet/core-setup/issues/625#issuecomment-288145796) isn't a .NET Core 2.0 runtime scenario, I can't guarantee we will fix any other bugs that come up in this scenario - esp

[2017-04-24 20:24] leecow opened #2155 "Update Branding in Mac and Windows Runtime installers"
**Window title**

* Current: "Install Microsoft .NET Core 2.0.0 - Runtime Preview 1 (x64)"
* Change to: "Microsoft .NET Core 2.0.0 Preview 1 Runtime (x64) Installer"

**Banner**

* Current: "Microsoft .NET Core 2.0.0 - Runtime Preview 1 (x64)"
* Change to: "Microsoft .NET Core 2.0.0 Preview 1 Runtime (x64)"

[2017-04-24 20:28] danroth27 commented on #625
Thank you!

@glennc take a look at this for the site extension.

[2017-04-24 20:29] gkhanna79 commented on #2155
@rakeshsinghranchi @vivmishra Can you PTAL at the earliest into this?

[2017-04-24 20:34] rakeshsinghranchi commented on #2155
Will take care of this today.

[2017-04-24 20:35] gkhanna79 commented on #1908
I downloaded the portable zip linked above and can confirm everything is an Arm binary:

[code]

[2017-04-24 20:38] gkhanna79 commented on #1908
I can confirm that libhostfxr.so that is within SharedFX folder is ELF64:

[code]

[2017-04-24 20:39] gkhanna79 commented on #1908
@eerhardt @ramarag I thought we had decided to remove hostfxr from sharedFX folder, no? If so, do you know why that is present?

[2017-04-24 20:49] gkhanna79 commented on #1908
Looks like it didn't removed because of a bug in https://github.com/dotnet/core-setup/commit/60230ccc6bc88f5388efa4172134609ae460a11a#diff-906b5578c0cbf081f1f173d5922e4a16 that does not account for platform-specific prefix/suffix to be applied.

CC @ramarag

I will get a fix in place for this.

[2017-04-24 21:16] ericstj opened #2156 "Include source in Core.App and UAP packages"
We are flowing symbols and source from corefx but it looks like its not all making it into the meta-packages.

[2017-04-24 21:43] pakrym opened #2157 "Published app fails to run when referencing package with satellite assemblies and targeting netcoreapp2.0"
## Steps to reproduce

1. dotnet new web
2. Change package reference from Microsoft.AspNetCore to Microsoft.AspNetCore.All
3. dotnet restore
3. dotnet publish
4. dotnet repoapp.dll

## Expected  behavior
App runs

## Actual behavior
`Error: assembly specified in the dependencies manifest was not found -- package: 'Microsoft.Data.Edm', version: '5.8.2', path: 'lib/netstandard1.1/de/Microsoft.Data.E

[2017-04-24 22:33] rakeshsinghranchi commented on #2155
@leecow  , the latest bundle installer branding from master branch ( readme page ) shows the Setup UI as below
![image](https://cloud.githubusercontent.com/assets/6225949/25361438/eb566ddc-2902-11e7-9203-32e5f7c31694.png)

My assumption is that you picked the package from release/2.0.0 . Please confirm.

Also, what is the package installer path for the issue you mentioned as below ?

Current: "Ins

[2017-04-24 22:46] leecow commented on #2155
@rakeshsinghranchi

Copy/paste error from the SDK installer this comes from whatever branch is populating the daily builds at https://github.com/dotnet/core-setup.

Updated the post above to account for current Win and Mac differences.

[2017-04-24 23:16] eerhardt commented on #2157
This is a regression from `netcoreapp1.1` to `netcoreapp2.0`.

A simpler/smaller repro:

[code]

Using the latest 2.0 SDK and runtime, restore, publish and run that project.  It runs fine.

Now change  `<TargetFramework>netcoreapp1.1</TargetFramework>` to     `<TargetFramework>netcoreapp2.0</TargetFramework>`.

Restore, publish and run that app, and it fails with the same error message.

It appear

[2017-04-25 00:38] #625 closed

[2017-04-25 00:53] gkhanna79 commented on #1908
I have requested @ramarag to drive this fix.

[2017-04-25 06:09] gkhanna79 commented on #2157
Fix in PR https://github.com/dotnet/core-setup/pull/2160

[2017-04-25 06:41] gkhanna79 opened #2161 "M.N.App Identity package does not have reference to Tizen and ArmEl (Identity?) packages"
@weshaggard this is the issue we were looking into on Friday that @eerhardt broughtup. Can you please look into this as we should get this in for Preview1?

CC @ericstj

[2017-04-25 06:43] gkhanna79 commented on #1566
Great to hear that @jyoungyun - Can you please elaborate on your question? I would expect that you should be able to able to get your runtime.* packages built on your own schedule and publish them to the same myget feed (dotnet-core) as us (I chatted with @weshaggard about this on Friday and he can help with it).

[2017-04-25 07:17] gkhanna79 commented on #2082
What are the next steps for this? Is this issue present for 1.1.2/1.0.5 and Preview1 @mikem8361 and @dagood ?

[2017-04-25 13:31] qmfrederik commented on #1411
I'm a bit late to this thread, but since we're making clang 3.9 the default for arm and armel, would it make sense to use clang3.9 by default for arm64 (aarch64) as well?

We've seen some issues with older versions of clang, so this seems like a good default to me.

[2017-04-25 14:57] RheaAyase commented on #1599
//bump

Is this published already?

[2017-04-25 15:09] #2157 closed

[2017-04-25 15:15] #2136 closed

[2017-04-25 15:22] gkhanna79 commented on #2157
Fix merged in master and ported to release/2.0.0 as https://github.com/dotnet/core-setup/pull/2164

[2017-04-25 15:34] eerhardt commented on #1994
Closed by https://github.com/dotnet/core-setup/pull/2153.

[2017-04-25 15:34] #1994 closed

[2017-04-25 15:35] eerhardt commented on #1824
Closed by https://github.com/dotnet/core-setup/pull/2153.

[2017-04-25 15:35] #1824 closed

[2017-04-25 16:33] ericstj commented on #2161
/cc @Petermarcu

This shouldn't be a bug.  It's a DCR.  Please provide reasoning for including these along with statement about commitment for support.  That way folks can understand what work is involved.

[2017-04-25 16:38] eerhardt commented on #638
This scenario is supported by DependencyModel.  You just need to walk the dependencies (possibly using recursion).  Flattening out the dependencies would be a waste both in the .deps.json file, and in memory.

Here's an example of how MVC uses the DependencyContext to figure out which assemblies reference MVC:

https://github.com/aspnet/Mvc/blob/c8a1bb69142792d1046044bde7082b4e3ac8ac27/src/Microso

[2017-04-25 16:38] #638 closed

[2017-04-25 16:38] mikem8361 commented on #2082
I have no idea how to fix this. I assumed the build system in coreclr would take care of it.

@weshaggard I thought SOS.NETCore was going to be moved to the corefx repo?

[2017-04-25 16:46] gkhanna79 commented on #2082
@mikem8361 Please work with @dagood to figure out the resolution for this and determine the impacted releases. I would suggest starting by confirming if master and release/2.0.0 branches are affected or not.

[2017-04-25 16:48] gkhanna79 commented on #2161
With the work Samsung has been doing, it was always expected that M.N.App Identity package will have a reference to corresponding Armel packages. Samsung's E2E experience will not work if these are missing.

[2017-04-25 16:49] gkhanna79 commented on #2161
Also, https://github.com/dotnet/core-setup/blob/master/pkg/projects/netcoreappRIDs.props#L37 exists but the reference is missing. This is what was identified on Friday - can you please understand why is that?

[2017-04-25 17:01] ericstj commented on #2161
I see, I can help you with that.

It'd probably be good if a comment was added around that Tizen RID.  It's very unusual for us to emit an arbitrary dangling reference to our build version without producing that package.  Also it might make sense for the version of the tizen package to be authored in some way...

[2017-04-25 17:18] ericstj commented on #1566
I'm not sure if putting Tizen mappings in the Microsoft.NETCore.App runtime.json is the right point of hook-up.  It seems like we're adding an unnecessary additional piece to these.  Have you considered creating your own package with a runtime.json that just hooks up the tizen RID-specific packages?  Runtime.json's can come from any package and NuGet merges them in.  You could automatically refere

[2017-04-25 17:33] ericstj commented on #2161
When I build locally I am getting a runtime.json with tizen.  See: https://gist.github.com/ericstj/b0ba7d363c6a9138af7155316a2cf941

It looks like this may be due to the *casing* of OfficialBuildRid in the props file, see
https://github.com/dotnet/core-setup/blob/671992d3f198082f10820a4075ec421283848359/pkg/projects/netcoreappRIDs.props#L37
Vs
https://github.com/dotnet/core-setup/blob/master/pkg/p

[2017-04-25 17:45] gkhanna79 commented on #2157
release/2.0.0 PR is merged and fix is in Preview1.

[2017-04-25 17:46] #1908 closed

[2017-04-25 17:51] ericstj commented on #2161
Confirmed, building with Dev15 msbuild *doesn't repro*.  Build with the MSBuild from the core-setup\pkg\tools folder *does repro*.  Build with latest MSBuild from 2.0 CLI *doesn't repro*.

I can workaround this by fixing up the casing.

[2017-04-25 17:51] gkhanna79 commented on #2161
Thank you @ericstj - this is good to know. Looks like this may not be an issue anymore.

For completeness, @eerhardt, you had mentioned on Friday that you didn't see those references. Was there specific steps that led to it?

[2017-04-25 17:52] gkhanna79 commented on #2161
Thank you @ericstj. Can you please get a PR going for master and release/2.0.0 for this?

[2017-04-25 18:09] ericstj commented on #2161
I'll merge to master.  I'll create a PR for release but you will need to drive getting that in.

[2017-04-25 18:18] weshaggard commented on #2082
That has definitely been talked about for the build form source effort in order to eliminate the repo cycle but there hasn't been any planned work to do it (yet).

[2017-04-25 18:21] eerhardt commented on #2161
I was removing other RIDs from this list.  See https://github.com/dotnet/core-setup/pull/2146.  When doing that, I was verifying what was actually going into the `runtime.json` file in `Microsoft.NETCore.App` was what we were expecting.  I didn't see these 2 show up in the real packages.

[2017-04-25 18:22] jmarolf commented on #2082
@gkhanna79 for reasons not related to this bug I am removing the setup authoring that pulls in these installers https://devdiv.visualstudio.com/DevDiv/_git/VS/pullrequest/65511 This should unblock devdiv from shipping for the time being.

[2017-04-25 18:23] poke opened #2169 "multilevel-sharedfx-lookup.md documents incorrect semver ordering"
Hey, I just read about the [Multi-level SharedFX Lookup](https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/multilevel-sharedfx-lookup.md), when I stumbled across the following part:

That is incorrect according to Semantic Versioning spec. To quote from [item 9](http://semver.org/#spec-item-9):

In [item 11](http://semver.org/#spec-item-11) there is also an example of how

[2017-04-25 18:26] gkhanna79 commented on #2082
Can you please elaborate on the reason and what does it specifically unblock?

[2017-04-25 18:32] jmarolf commented on #2082
@gkhanna79 this all started when I checked in setup authoring for Visual Studio that allowed users to choose to install older CoreClr versions (1.0 and 1.1) in addition to 2.0 if they wanted.  This pulled in the  installers from https://www.microsoft.com/net/download/core#/runtime. As part of the Visual Studio build they check to see if everything that is being referenced is signed.  Currently bec

[2017-04-25 18:38] gkhanna79 commented on #2082
So, are you saying that 2.0 binaries are signed?

Also, was this setup authoring (to including 1.0 and 1.1) recent or has been there since day 1?

CC @leecow incase this impacts any releases and @dagood and @ravimeda from the signing perspective.

[2017-04-25 18:59] gkhanna79 commented on #2155
Will it be possible to get this change in release/2.0.0 today?

[2017-04-25 19:01] jmarolf commented on #2082
@gkhanna79 I cannot state if 2.0 binaries are signed.  I do not think there is any setup authoring that deploys them today.  this setup authoring to including 1.0 and 1.1 runtime installers was very recent ~ last 2wks.

[2017-04-25 19:29] bleroy commented on #1599
The PR has been submitted: https://github.com/dotnet/docs/pull/2014. Publication date will depend on the doc team's schedule. I'll close this issue when that's done.

[2017-04-25 19:46] #2161 closed

[2017-04-25 22:04] #1848 closed

[2017-04-25 22:53] ramarag opened #2176 "AppDomain.CurrentDomain.BaseDirectory does not end with a slash on Desktop"
@ViktorHofer commented on [Wed Apr 12 2017](https://github.com/dotnet/coreclr/issues/10920)

`AppDomain.CurrentDomain.BaseDirectory` does not contain a slash at the end. Failing test in corefx with targetgroup **netfx** here: https://github.com/dotnet/corefx/issues/18196

netfx:
`C:\Users\vikto\Documents\src\corefx\bin\AnyOS.AnyCPU.Debug\System.Configuration.ConfigurationManager.Tests\netstandard`

[2017-04-25 22:55] danmosemsft commented on #2176
Where is the fix? Is ("APP_CONTEXT_BASE_DIRECTORY" set somewhere in this repo?

[2017-04-25 22:56] danmosemsft commented on #2176
Marking as blocking because I think thisi s a potentially important compat issue.

[2017-04-25 22:56] ramarag commented on #2176
@danmosemsft fix will come from core-setup, you can keep this as a tracking bug if you wish

[2017-04-25 22:57] gkhanna79 commented on #2176
Is it blocking RTM or Preview1? If the latter, why do we think it will be blocking since there is a workaround for it?

[2017-04-25 22:58] ramarag commented on #2176
This is an appcompat issue, where there is a trailing slash at the end of the string, i would not call it blocking Preview1 but will let @danmosemsft decide on it

[2017-04-25 22:59] danmosemsft commented on #2176
I meant, I believe we should fix this for RTM. I don't know the best way to mark that in this repo... I guess I won't ..:)

[2017-04-26 00:08] mikem8361 commented on #2082
@dagood @gkhanna79 who knows how/where SOS.NETCore.dll is supposed to get signed? In the coreclr repo where it is built or is it part of core-setup? System.Private.CoreLib.dll is built in coreclr and it is signed. When I added SOS.NETCore I assumed it would be signed like that one. I need some help with this issue.

[2017-04-26 00:18] mikem8361 commented on #2082
I noticed the SOS.NETCore.csproj doesn't have these properties and System.Private.CoreLib.csproj does.

<SignAssembly>true</SignAssembly>
<DelaySign>true</DelaySign>

Would adding them enable signing?  How do I tell if an assembly is properly signed?

[2017-04-26 00:20] rakeshsinghranchi commented on #2155
Working on it. Will send the PR soon.Do we want this fix in master branch as well ?

[2017-04-26 00:26] rakeshsinghranchi commented on #1987
Issue caused in step 1 -4  is fixed in master.

[2017-04-26 03:05] gkhanna79 commented on #1987
Can you close this issue in that case if nothing is actionable?

[2017-04-26 03:06] gkhanna79 commented on #2155
Yes, we will want to fix this in master as well.

[2017-04-26 05:00] gkhanna79 commented on #2169
I believe this is a documentation mistake - we always prefer the stable over corresponding pre-release.

Do you mind pushing a PR for this?

[2017-04-26 05:01] gkhanna79 commented on #2169
Thanks for catching this.

[2017-04-26 05:01] gkhanna79 commented on #2169
CC @ramarag

[2017-04-26 05:48] gkhanna79 commented on #2082
@weshaggard Do you have thoughts on this?

[2017-04-26 07:27] poke commented on #2169
Sure thing, I’ve submitted a PR for this at #2182.

[2017-04-26 15:34] weshaggard commented on #2082
Not sure without digging into the project in this repo. In general for corefx this is handled for projects because they automatically (indirectly) import https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/sign.targets.

Even if you set those properties you need to make sure you give it a key and you also need to make sure it is setup to get real signed.

[2017-04-26 17:00] gkhanna79 opened #2188 "Remove CWD support for Multi-level Lookup"
This is not used and has potential to trigger unexpected behavior.

CC @eerhardt @ramarag @davidfowl @morganbr

[2017-04-26 17:33] gkhanna79 commented on #1550
@ericstj Is this done?

[2017-04-26 17:37] gkhanna79 commented on #1913
I believe this is done.

[2017-04-26 17:37] #1913 closed

[2017-04-26 17:38] gkhanna79 commented on #1871
@ramarag Are we using this as a tracker inspite of your comment at https://github.com/dotnet/core-setup/pull/2090#issuecomment-297218769?

[2017-04-26 17:38] gkhanna79 commented on #1749
@Petermarcu I am moving this out to Future. Please close if this is not actionable.

[2017-04-26 17:41] gkhanna79 commented on #627
@ellismg Can this be closed?

[2017-04-26 17:42] Petermarcu commented on #1749
I think I agree that we have to leave it alone. If we could start over, we would have chosen a different name :(

[2017-04-26 17:42] #1749 closed

[2017-04-26 17:43] omajid commented on #627
IMO, this issue shouldn't be closed until the source-build stuff is available publicly for everyone to use.

[2017-04-26 17:55] ericstj commented on #1550
No, I did the bulk of the infrastructure, but it needs to be plumbed into official builds so that signing happens correctly.  I passed it off to @chcosta for that since its dependent on his core-setup infrastructure work.

[2017-04-26 18:15] rakeshsinghranchi commented on #2155
@leecow
Current Window title is "Microsoft .NET Core 2.0.0 - Runtime Preview 1 (x64) Setup"
Do you want to replace "Setup" with "Installer" ?
All burn bundles (.NET Framework setup) have "Setup" in Windows title and is relevant.

Updated Branding string will look as below :
Windows Title will show up as : Microsoft .NET 2.0.0 Preview 1 Runtime (x86) Setup
Banner string : Microsoft .NET 2.0.0 Previ

[2017-04-26 18:27] mikem8361 commented on #2082
It looks like in the coreclr repo build files "sign.targets" is included by SOS.NETCore.csproj (indirectly).  The
property:
`    <UseOpenKey Condition="'$(UseOpenKey)'==''">true</UseOpenKey>
`
is already in the .csproj file so it looks adding the above properties should do it. Does anybody know if my local coreclr build will signed the binaries? Or does it have to be an "official" build for some r

[2017-04-26 18:37] chcosta opened #2189 "Replace GetWix.ps1 with MSBuild tasks"
There's a `src\pkg\packaging\windows\getWix.ps1` powershell script used to obtain the wix tools.  This script appears to be used to download the wix tools and extract them.  This creates a dependency on powershell, also, the extracting part is a dependency on powershell v5.0+.  Jenkins uses powershell v3.x.  I moved the extraction piece into `src\pkg\packaging\package.targets`, but I think this wh

[2017-04-26 18:37] eerhardt commented on #2144
We already have a work item for it https://github.com/dotnet/sdk/issues/1126.  It is assigned to me and I'm working on it.

[2017-04-26 21:00] chcosta opened #2190 "ZipFileExtractToDirectory creates parent of directories directory"
https://github.com/dotnet/buildtools/blob/24cf2f8a5e3a1d36676e170a12ce15a65fd6b8f8/src/Microsoft.DotNet.Build.Tasks/ZipFileExtractToDirectory.cs#L50

The ZipFileExtractToDirectory task in buildtools creates the parent directory of the destinationdirectory specified.  This task is used in codeoptimization.targets and symbols.targets.  The behavior seems wrong, and it causes a failure where it is us

[2017-04-26 21:19] chcosta commented on #2190
Also, this comment is misleading because it's not the archive that gets overwritten, the entire destination directory gets deleted.

https://github.com/dotnet/buildtools/blob/24cf2f8a5e3a1d36676e170a12ce15a65fd6b8f8/src/Microsoft.DotNet.Build.Tasks/ZipFileExtractToDirectory.cs#L28

The functionality should match the comment, or vice-versa

[2017-04-26 21:28] chcosta commented on #2190
I'm able to work around this without branching the task.

[2017-04-26 21:28] #2190 closed

[2017-04-26 22:27] mikem8361 commented on #2082
@jmarolf Is only strong name signing is required for SOS.NETCore.dll and not Authenticode?

[2017-04-26 22:42] chcosta opened #2191 "Enable portable builds"
I wired up the portable builds last night (it was mostly done before the decision to cut over).  The work here is to validate that it's producing properly portable binaries, check the packaging, general cleanup, etc...  I've left the "PortableLinux" leg in the netci.groovy file because it is building clean now.

[2017-04-26 22:48] chcosta opened #2192 "Convert core-setup from project.json to msbuild project system"
Core-setup needs to be converted to not utilize project.json based projects.

[2017-04-26 22:49] chcosta opened #2193 "Update versions repo during or after finalization"
The dotnet/versions repo should be updated after core-setup finalization.  This is a regression from core-setup functionality prior to the buildtools change over.

[2017-04-26 22:50] chcosta opened #2194 "Enable crossbuild"
Arm builds have been disabled in core-setup after the core-setup change over to build on a buildtools system.  This is a regression from previous behavior.

[2017-04-26 22:51] chcosta opened #2195 "Extract / sign engine bundle / re-bundle"
Our Windows official builds used to extract the engine bundle, sign it, and then re-bundle it.  This capability has been lost and needs to be added back for official builds.

[2017-04-26 22:53] chcosta opened #2196 "Crossgen binaries in flat NETCoreApp package"
https://github.com/dotnet/corefx/issues/14595#issuecomment-297149207

This work was started by @ericstj, and needs to be completed in core-setup after the buildtools cut over

[2017-04-26 22:53] chcosta opened #2197 "validate debian repo push"
The debian repository push which happens during finalization has been ported to run on the buildtools system, but it needs to be validated.

[2017-04-26 22:55] chcosta opened #2198 "Infer-runtimes cleanup"
There was some work to remove "infer-runtimes" from core-setup builds (it was re-enabled), but that work has likely regressed further after the buildtools change.

https://github.com/dotnet/core-setup/pull/2059

[2017-04-26 22:56] chcosta opened #2199 "validate signing"
Validate signing of all required binaries after core-setup transitions to buildtools

[2017-04-26 22:57] chcosta opened #2200 "validate readme.md links"
transitioning core-setup to buildtools may change some of the expected links documented on README.md (badge names may change, for example).  Update readme to provide accurate data / links.

[2017-04-26 22:58] chcosta opened #2201 "validate build pipeline"
Individual pieces of the build pipeline have been validated.  Ensure those pieces continue to work, bring up new pieces as the work is completed, and ensure consistent reliable official builds.

[2017-04-26 23:26] danmosemsft commented on #2176
@ViktorHofer please keep an  eye out to make sure the test starts passing when we pick up core-setup (and will start failing for netcoreapp .. will need fixing)

[2017-04-27 00:02] ViktorHofer commented on #2176
Will do. There is a failing test currently in corefx and will check if it stops failing in some days...

[2017-04-27 00:45] natemcmaster commented on #1664
Was this fixed in https://github.com/dotnet/core-setup/pull/2055? I'm not seeing this bug anymore in 2.0.0-preview1-005842

[2017-04-27 02:15] jyoungyun commented on #1566
@gkhanna79

I think the packages which have a same name should be built from the same code. But if we have a different build cycle, the file name can be different and the result is not built from the same code.

And, to build corefx and core-setup, it should resolve the dependency of those modules. I mean if the [`CoreClrExpectedPrerelease`](https://github.com/dotnet/corefx/blob/master/dependencie

[2017-04-27 02:55] livarcocc commented on #1664
Correct. This was fixed. Closing this issue.

[2017-04-27 02:55] #1664 closed

[2017-04-27 05:20] ellismg commented on #2198
Since I caused the debt, I'll try to clean this up.

[2017-04-27 12:59] dagood opened #2208 "Fix auto-update with Core-Setup on BuildTools"
Right now auto-update fails because the update-dependencies script/project isn't where it used to be: https://devdiv.visualstudio.com/DevDiv/_build?buildId=706573.

It's been debated how to solve this--keeping (adding back) the update-dependencies .NET project vs. using BuildTools `UpdateDependenciesAndSubmitPullRequest`. Either way, we'll most likely need to update https://github.com/dotnet/versi

[2017-04-27 15:41] gkhanna79 commented on #2188
We should keep this issue open until this is fixed in master as well.

[2017-04-27 16:19] eerhardt commented on #637
We also need to add the license file to both DependencyModel and PlatformAbstractions.

From a customer:

@Petermarcu @gkhanna79 - should this be fixed for 2.0?

[2017-04-27 16:45] dagood commented on #637
/cc @chcosta, the move to BuildTools might resolve this. (Or let us resolve it easily.)

[2017-04-27 17:17] gkhanna79 commented on #637
If we are doing the same thing for other binaries/packages, we should fix it for 2.0.

[2017-04-27 17:24] chcosta opened #2210 "Re-implement 'publish identity package from a single build leg'"
The core-setup on buildtools change completely changed publishing, and the recent work to ensure we publish the identity package from a single build leg work was lost.  Re-implement this https://github.com/dotnet/core-setup/commit/2bd171a3cf633244ba08b5944c2ace4191aea684 change

[2017-04-27 22:34] chcosta commented on #1801
@mikem8361 as an FYI

[2017-04-27 23:16] vivmishra opened #2214 "Generate RPM packages for Portable Linux binaries"
This work item tracks the work for generating RPM packages for distros (RHEL/Centos/Fedora) supporting RPM.

[2017-04-27 23:45] rakeshsinghranchi opened #2216 "Update Branding in Mac and Windows Runtime installers - Re-implement with new build system (master)"
Issue :  https://github.com/dotnet/core-setup/issues/2155
Fix is in release/2.0.0 branch, similar fix is needed for master branch

[2017-04-27 23:46] rakeshsinghranchi commented on #2155
Fix is in release/2.0.0 branch.

[2017-04-27 23:50] gkhanna79 commented on #2155
We should port this to master as well.

[2017-04-28 01:12] rakeshsinghranchi commented on #2155
@gkhanna79 : I already opened a separate issue : https://github.com/dotnet/core-setup/issues/2216 to track the work for master. Let me know if you are fine with closing this issue.

[2017-04-28 01:50] gkhanna79 commented on #2155
Sounds good.

[2017-04-28 01:50] #2155 closed

[2017-04-28 06:24] danmosemsft commented on #118
@piotrpMSFT @gkhanna79 is this still on track to happen by 5/10 (9 working days)?

[2017-04-28 06:25] danmosemsft commented on #198
@gkhanna79 this sounds like a feature, and we're past feature complete..

[2017-04-28 07:20] jyoungyun commented on #1566
@ericstj

Is there any source file that contains Tizen mappings for the `Microsoft.NETCore.App`? If you mean the `Microsoft.Private.CoreFx.NETCoreApp`, we are still considering about tizen tfm and netcoreapp tfm. Also we requires preview1 release to use tizen tfm. But we have to work on it before release, so we added some patch for tizen rid to `Microsoft.Private.CoreFx.NETCoreApp`. We have a plan

[2017-04-28 08:41] JensNordenbro commented on #1832
Ok, so I have tried to run this using Yocto, Poky.
The first output was libuv.so.9 is missing; if I add this dependency along with others by piggy backing on the Yocto-recipes in https://github.com/Tragetaschen/meta-aspnet/tree/master/recipes-dotnet it works. This recipe includes Kestrel along with OpenSSL etc.
However I notice that when doing a publish I notice that the folder publish/runtimes/li

[2017-04-28 14:56] gkhanna79 commented on #118
I think this will get addressed by BFS work that @ellismg is doing. We can close this.

[2017-04-28 14:56] #118 closed

[2017-04-28 14:57] gkhanna79 commented on #198
Yeah, this nice to have and can move out.

[2017-04-28 16:21] eerhardt commented on #1832
`libuv` was built into the "shared framework" in .NET Core 1.0 and 1.1.  This was put there only for asp.net.

In .NET Core 2.0, we've removed `libuv` from "shared framework", and instead asp.net brings that dependency in itself.  So you will need to update your asp.net references to use a recent asp.net 2.0.0-preview1 build.

I'm not aware of a document stating them all, but if you look in the `d

[2017-04-28 16:29] danmosemsft commented on #1801
Assigning to @crummel per @gkhanna79
@crummel let us know if this isn't on track for 5/10 - thanks!

[2017-04-28 16:30] chcosta opened #2222 "Symbols zips missing from new build system"
The symbols zips / tarballs are missing from azure after the new build system change.  Investigate if they are still getting produced, get them produced, ensure they get pushed to azure.

[2017-04-28 16:34] danmosemsft commented on #2082
Per @gkhanna79 , this is a dupe of #1801
@crummel

[2017-04-28 16:37] danmosemsft commented on #1607
Assigning to @rakeshsinghranchi per @gkhanna79
@rakeshsinghranchi please let us k now if this will not be resolved by 5/10 ZBB cutoff for 2.0.

[2017-04-28 16:39] danmosemsft commented on #1288
@russellhadley is this on your radar for ZBB? just going through the core-setup issues with @gkhanna79

[2017-04-28 16:39] danmosemsft commented on #1192
@rakeshsinghranchi if this dosn't repro, please close this

[2017-04-28 16:43] danmosemsft commented on #676
@richlander @ellismg where are we at with this one? going through all the core-setup issues with @gkhanna79 for ZBB...

[2017-04-28 16:44] danmosemsft commented on #620
@mellinoe since you say nothing to do, we're closing this.

[2017-04-28 16:44] #620 closed

[2017-04-28 16:44] danmosemsft commented on #298
According to @weshaggard we don't need this anymore as we're shipping them directly in netcoreapp.

[2017-04-28 16:44] #298 closed

[2017-04-28 16:47] danmosemsft commented on #279
@dleeapho @dagood @chcosta who is the appropriate owner for this one? to drive this for ZBB.
cc @gkhanna79

[2017-04-28 16:47] danmosemsft commented on #256
@ravimeda @dleeapho is this closable now?
//cc @gkhanna79

[2017-04-28 16:48] russellhadley commented on #1288
The static linking feature was cut (bundler).  We may need this in the future but it's not required for 2.0.

[2017-04-28 16:49] danmosemsft commented on #253
@gkhanna79 tells me @eerhardt completed this.

[2017-04-28 16:49] #253 closed

[2017-04-28 16:49] chcosta commented on #283
All of the "known issues" have been fixed except that the checked in build definitions are still being updated.  Other active issues (marked with label "[area-CoreSetup-on-BuildTools](https://github.com/dotnet/core-setup/issues?q=is%3Aopen+is%3Aissue+label%3Aarea-CoreSetup-on-BuildTools)") are being used to track additional work.  Closing this issue.

[2017-04-28 16:49] #283 closed

[2017-04-28 16:50] danmosemsft commented on #238
Moved out of 2.0 per discussion with @markwilkie

[2017-04-28 16:50] ravimeda commented on #256
Yes. Sorry for keeping it open.

[2017-04-28 16:50] #256 closed

[2017-04-28 16:51] danmosemsft commented on #186
@dagood is this still on track for 5/10 ZBB?
/cc @markwilkie @dleeapho

[2017-04-28 16:52] danmosemsft commented on #158
@gkhanna79 says this will take him 3 seconds.

[2017-04-28 16:53] danmosemsft commented on #158
Irelevant now.

[2017-04-28 16:53] #158 closed

[2017-04-28 17:59] dleeapho commented on #279
@gkhanna79 I don't think @dagood or @chcosta has bandwidth. Anyone from your team?

[2017-04-28 18:00] dagood commented on #186
@gkhanna79 Is this needed for 2.0.0? I haven't had it on my radar.

I think it would be most efficient if someone working on the BuildTools Core-Setup effort picked it up, especially if they are familiar with packaging in the new world.

[2017-04-28 18:10] ericstj commented on #1566
Right now https://github.com/dotnet/core-setup/blob/6887ab556bc8302390782711dcdd75b75e769cf5/src/pkg/projects/netcoreappRIDs.props#L41-L43 is causing us to emit Tizen RIDs into the runtime.json that is part of the Microsoft.NETCore.App package.  Same for all the host packages.

I'm ok with `Microsoft.Private.CoreFx.NETCoreApp` package referring to tizen RIDs.  That package is private and only used

[2017-04-28 18:15] ericstj commented on #2196
I was hoping to get your help with the build infrastructure plumbing.  Do we have a phase where we build native bits and can plug in the crossgen portion of the build, prior to signing, sign, then do the packaging step?

[2017-04-28 18:24] livarcocc opened #2223 "A netcoreapp2.0 version of the dotnet-deb-tool needs to be provided"
Cli no longer carries 1.0 runtimes with it and it no longer rolls tool forward across major versions. Which means that a tool that targets 1.0 won't run on 2.0. This is because the runtime itself does not support this roll-forward.

However, this now prevents the CLI from using the current tool, because we don't have a runtime to run it at.

[2017-04-28 18:26] chcosta commented on #2196
I was hoping to get this done as well, but there are a lot of pieces to validate / complete before the deadline. :(

The native build happens here - https://github.com/dotnet/core-setup/blob/master/src/dir.proj#L16

This happens before signing.  The Windows legs which do signing are still an explosion of steps, just as they previously were - https://devdiv.visualstudio.com/DefaultCollection/DevDiv

[2017-04-28 18:50] ericstj commented on #2196
This is a dup of #1550

[2017-04-28 18:50] ericstj commented on #1550
Self-assigning.  @chcosta and I will need to work on this together.

[2017-04-28 19:07] ericstj commented on #1550
Copied from corefx issue:
I've gotten part of the way there: ericstj/core-setup@1693be3

The change I've made so far runs cross-gen on the binaries that we pick up from other repos. The remainder of the work is to plumb an entry point to these depprojs so that they can be built after the host and before signing. Then update the host signing to also sign the cross-gen'ed bits. After doing that the

[2017-04-28 20:09] jmarolf commented on #2082
@danmosemsft the underlying issue may be fixed by #1801 but the installers listed on https://www.microsoft.com/net/download/core#/runtime still contain unsigned binaries.  To fix this issue new installers will need to be generated for 1.0 and 1.1 that have this fix

[2017-04-28 20:12] jmarolf commented on #2082
@danmosemsft I think the intention was to have #1801 track the work of generating the installers? Closing in that case

[2017-04-28 20:12] #2082 closed

[2017-04-28 21:04] chcosta commented on #2222
Fixed, symbols zips / tarballs are now getting produced and symbols are getting published to azure along with other binaries.

[2017-04-28 21:04] #2222 closed

[2017-04-28 21:40] eerhardt opened #2224 "Deb packages are not getting built after BT conversion"
Today we have:

[code]

But no one is setting `BuildDebPkg` anywhere, so we are never building deb packages.

[2017-04-28 22:15] dagood commented on #2082
I think this isn't quite a dupe, but still should be closed: I think it's resolved by https://github.com/dotnet/core-setup/pull/2221 that was applied to `release/1.1.0`, and generating the installers sounds to me like what we're planning on doing by releasing 1.1.2. (I don't know if that needs a specific new issue.)

#1801 looks to me like it needs (or already has) a specific `master` and/or `rele

[2017-04-28 22:25] chcosta opened #2225 "Compressed files not including -portable moniker"
The dotnet-host-fxr-linux-x64-***.tar.gz, and other compressed files (zips / tarballs), used to include a "-portable" moniker, that moniker is missing form the latest zips.

[2017-04-28 23:52] chcosta opened #2228 "Symbol zips have wrong paths"
We used to tar files using the "-C" option, this causes a problem and you get a "file content has changed" error when using this option.  I moved to just compressing an explicit filelist so that we wouldn't hit that error, but it looks like doing so may include additional root directory paths in the filenames which are compressed.  May have to bring back the '-C' option and just ignore any errors

[2017-04-29 00:56] jmarolf commented on #2082
@dagood well as long as new installers for 1.0 and 1.1 (I assume 1.0.5 and 1.1.2) get released with this fix I am fine with it.

[2017-04-29 15:35] gkhanna79 commented on #1760
@livarcocc @johnbeisner Is this being fixed for 2.0?

[2017-04-29 16:00] gkhanna79 commented on #1801
@crummel Can you please port https://github.com/dotnet/core-setup/pull/2221 to master and release/2.0.0 branches as well?

[2017-04-29 19:00] chcosta commented on #1801
This should be fixed in master https://github.com/dotnet/core-setup/commit/af172161bc0eb9926a0ed9cdc1464e98db8f239d#diff-11b08ec15f36de5e99accd1d8d60e578, it doesn't appear that this was regressed with the buildtools change.

Please do double check

[2017-04-29 19:09] chcosta opened #2230 "Regression: Build Native Debian installers consuming Port…"
It's not clear what the current state of this work is, in core-setup after the buildtools change.

Revert "Revert "Revert "Build Native Debian installers consuming Port…

From <https://github.com/dotnet/core-setup/commit/ead13ca320af6984a8bcb0eb31ad5c20f3eae513>

[2017-04-29 19:10] chcosta opened #2231 "Regression: Remove signing for host binary"
Probable regression from buildtools work - From <https://github.com/dotnet/core-setup/commit/6e2d59e2fc3227fe355cf97a4a670d3ccf5b79bf>

[2017-04-29 19:12] chcosta opened #2232 "Regression: test cleanup for using apphost"
Possible regression from buildtools work, triage required.

From <https://github.com/dotnet/core-setup/commit/5e09b5d0912353639a549bd5fdd3d86b2d7d4dbe>

[2017-04-29 19:13] chcosta opened #2233 "Regression: Remove Dotnet.exe from M.N.App"
Possible regression from buildtools conversion work

From <https://github.com/dotnet/core-setup/commit/60230ccc6bc88f5388efa4172134609ae460a11a>

[2017-04-29 19:59] gkhanna79 commented on #1801
clrcompression.dll seems to be missing in the commit you linked about @chcosta

[2017-04-29 20:23] #2196 closed

[2017-04-29 21:03] chcosta commented on #279
I'm not an expert in this area, but I can try to pick this up later this week if there are no other resources.  It looks like it's mostly porting work.  It'd be great if @MichaelSimons had a few cycles to validate the docker side of this once it's ready.

[2017-04-29 21:53] chcosta commented on #1801
That's fair. I was under the impression that this was related to  the recent SOS.Netcore.Dll discussion. Carry on

[2017-04-29 21:57] gkhanna79 commented on #1126
Closing for now as it does not appear to repro. Please reactivate the issue if it does and share details of repro steps.

[2017-04-29 21:57] #1126 closed

[2017-04-29 22:10] mstum commented on #2007
So I know that CoreRT is kinda intended to solve the "Let's make a monolithic executable with no dependencies" scenario, but I do wonder if it makes sense to explore the idea of "Let's create a monolithic, big executable (thing static linking in C++)" here, without worrying about the AOT/.net Native part that CoreRT tries to solve.

But that might be an entirely different issue altogether.

[2017-04-29 22:24] benaadams commented on #2007
@mstum [il-repack](https://github.com/gluck/il-repack) might do this? https://github.com/dotnet/corefx/issues/11672#issuecomment-295844213

[2017-04-30 01:21] chcosta commented on #1801
clrcompression is authenticode signed in CoreFx.  Nothing which happens in Core-Setup invalidates the certification.  I think this is a redundant operation.  I'm not certain that it hurts anything, it would seem to be a no op

[2017-04-30 22:49] chcosta commented on #2193
May be able to reuse this task - https://github.com/dotnet/cli/blob/master/build_projects/dotnet-cli-build/UpdateVersionsRepo.cs

[2017-05-01 03:50] gkhanna79 commented on #2223
@eerhardt ?

[2017-05-01 14:34] eerhardt commented on #2223
I'm working on this.  I already have the deb-tool ported to netcoreapp2.0 (https://github.com/dotnet/core-setup/pull/2227).  We just aren't publishing anything from `core-setup/master` at the moment.

[2017-05-01 15:11] #2050 closed

[2017-05-01 17:12] ericstj opened #2238 "Core-setup writes build output to .\packages folder"
Build core-setup.

Observe built Core.App package is restored to packages/Microsoft.NETCore.App/<version>.

Run clean

Make some change to Core.App.

Build again

Expect: change is observed in tests

Actual: tests still run against old package since it was placed in packages folder and not cleaned.

To fix this we should root out all uses of the packages folder and ensure its only used as a packag

[2017-05-01 17:13] #2210 closed

[2017-05-01 21:27] gkhanna79 commented on #1566
@jyoungyun @hqueue If you intend to go this route, it needs to be done by 5/10 (see https://github.com/dotnet/coreclr/issues/11248).

[2017-05-01 21:31] gkhanna79 commented on #1566
@jyoungyun Did you get a chance to look into this approach that @ericstj suggested?

[2017-05-01 21:54] #2225 closed

[2017-05-01 21:54] #2228 closed

[2017-05-01 22:33] #2200 closed

[2017-05-01 22:38] chcosta opened #2245 "validate servicing flow"
Validate version numbers are properly updated, packages are properly built / etc.. for servicing releases in core-setup on buildtools

[2017-05-01 22:40] chcosta opened #2246 "Validate installers"
Validate the installers which are produced as part of core-setup on buildtools.  This is above and beyond  what is consumed by the cli.

[2017-05-01 22:43] chcosta opened #2247 "Move publishing to a separate build leg"
Core-setup on buildtools finalization / publishing should happen in a different (dependent) build step of the pipeline.  This likely means disabling the `CheckIfAllBuildsArePresent` step, or otherwise skipping finalization during each build leg, but adding a step which performs those steps in a separate leg and fails if it fails the `CheckIfAllBuildsArePresent` condition.

[2017-05-02 02:02] chcosta commented on #259
This is resolved with the transition to buildtools.

[2017-05-02 02:02] #259 closed

[2017-05-02 02:38] jyoungyun commented on #1566
@gkhanna79 We need to discuss how to sync btw our release infra and yours build pipeline. Now I'm building coreclr,corefx and core-setup six times a day, every four hours. But we have to trigger those release infra at the same time. Could you worry about this first? This should allow me to successfully upload tizen nupkgs to dotnet-core myget and build the relevant build infrastructure properly.

[2017-05-02 02:54] mellinoe commented on #2127
Thanks for letting me know about this. I was banging my head against the wall trying to figure out some problems related to this.

[2017-05-02 10:05] ViktorHofer commented on #2176
@ramarag any idea how long it takes to sync into corefx? Our test is still failing

[2017-05-02 14:53] ericstj opened #2252 "Standardize OS detection when updating to build tools 2"
Once we have the new build tools in core-setup we need to make the repo consistent about how it detects which OS it is running on and which OS it is packaging for.

The OS it is running on should be RuntimeOS calculated by buildtools unless that property is explicitly passed in.  There are places in the repo that are using OS, OSEnvioronment, OSGroup, and others where they intended RuntimeOS and t

[2017-05-02 18:16] ericstj commented on #1550
Fixed with https://github.com/dotnet/core-setup/pull/2244

[2017-05-02 18:16] #1550 closed

[2017-05-02 18:33] ramarag commented on #2176
@ViktorHofer oops just realized that process is not automatic. will put up a PR

[2017-05-02 19:42] chcosta commented on #1960
Fixed with https://github.com/dotnet/core-setup/pull/2244

[2017-05-02 20:21] ericstj commented on #1960
To fix this we need https://github.com/dotnet/coreclr/issues/9884

[2017-05-02 22:02] ericstj opened #2257 "Share source between depprojs that build framework packages"
Microsoft.NETCore.App and Microsoft.NETCore.UniversalWindowsPlatform duplicate a lot of targets source.  We should unify this.

[2017-05-02 22:07] #1974 closed

[2017-05-02 22:27] eerhardt opened #2260 "Need devscripts and debhelper on Jenkins machines"
In order to build our installers during CI on Jenkins, we need to install our dependencies on the ubuntu machines.  We need this to ensure we don't break our installer build before checking in.

Before the conversion to buildtools, we did this by running the Ubuntu 14.04 build in a docker container that had the necessary dependencies.  See

https://github.com/dotnet/core-setup/blob/a2ad2fa31fbbb08

[2017-05-02 22:31] chcosta commented on #2260
ack, i'm working on this.
/cc @rakeshsinghranchi @vivmishra as an FYI

[2017-05-02 22:47] #2195 closed

[2017-05-02 22:53] #2188 closed

[2017-05-02 23:17] rakeshsinghranchi commented on #2260
@chcosta - Will your change replace the docker image build with the pre-built docker image as used during the official build : https://github.com/dotnet/core-setup/blob/master/buildpipeline/pipeline.json#L37 ?

[2017-05-02 23:24] rakeshsinghranchi opened #2261 "Remove portable suffix from all publishing artifacts"
As of today, packages built are suffixed with "-portable". This includes tars,zips and installers

[2017-05-02 23:28] rakeshsinghranchi commented on #2261
This suffixes the product name with "-portable"
https://github.com/dotnet/core-setup/blob/release/2.0.0/build_projects/dotnet-host-build/PrepareTargets.cs#L291

[2017-05-02 23:28] Petermarcu opened #2262 "Update downloads table in readme to reflect 2.0.0 releases"
Also need to clean up to account for portable.

[2017-05-02 23:31] Petermarcu opened #2263 "Stop producing distro specific archives"
Once the table in the readme is cleaned up, we shouldn't have any links to those archives but we need to make sure the obtain scripts in the CLI repo continue to work.

[2017-05-02 23:49] wtgodbe commented on #1719
Resolved by https://github.com/dotnet/core-setup/commit/6887ab556bc8302390782711dcdd75b75e769cf5

[2017-05-02 23:49] #1719 closed

[2017-05-03 01:17] chcosta commented on #2230
@rakeshsinghranchi , can you remind me of the status of this?

[2017-05-03 01:37] ramarag commented on #2232
This is a non issue, the test's behavior is as expected

[2017-05-03 01:37] #2232 closed

[2017-05-03 04:15] gkhanna79 commented on #2261
@Petermarcu do we care about producing Distro-RID specific artifacts anymore? If not, then we need to switch to simply making builds to be portable (i.e. produce win/osx/linux-<arch>) for all cases (Official, CI, end-developers) and have installers to be similarly named.

CC @leecow @eerhardt

[2017-05-03 06:40] Petermarcu commented on #2261
Two things. I think for now, the only thing we need to build is portable and that we should just switch. We need to make sure the build can still build distro specific and in the future, we may need to build for a specific distro and need to make sure the plumbing is still all there. Alpine is a good example of where we will need to do distro specific. I believe FreeBSD would also be in the boat.

[2017-05-03 14:22] ViktorHofer commented on #2176
@ramarag I think we got a misunderstanding here. The bug was that `AppDomain.Current.BaseDirectory` does not end with a slash on **Desktop**. I just tested the new behavior and now in corefx the slash is also gone. So now with have at least the same behavior between corefx and netfx but not the correct one.

**Netfx behavior (tested in a Console Application with .NET Framework):**
`Console.WriteLi

[2017-05-03 14:29] gkhanna79 commented on #2176
I am bit confused - are you saying that the original NETFX behavior you called out in the first entry of this issue was incorrect and that .NET Core had the correct behavior? If so, the issue description clearly didn't get that message across which you are just calling out.

If what you are ascertaining to be the expected behaviour in https://github.com/dotnet/core-setup/issues/2176#issuecomment-2

[2017-05-03 14:34] ViktorHofer commented on #2176
Believe me, I'm confused too... Just a short recap:

Issue title:

Issue description:

The issue is only happening when running corefx tests with TargetGroup netfx (see the four different behaviors above)

[2017-05-03 14:40] eerhardt opened #2265 "Remove /t:GenerateVersionSourceFile from our official builds"
In all our official builds we have a step like the following:

[code]
See https://github.com/dotnet/core-setup/blob/571fdf07301ed6367890fac3812cd87c0998c8d3/buildpipeline/Core-Setup-OSX-BT.json#L88

Looking into what this target does:

https://github.com/dotnet/buildtools/blob/03988127f489bcd1cf58d71131ac628620d53de9/src/Microsoft.DotNet.Build.Tasks/PackageFiles/versioning.targets#L181-L186

1. Th

[2017-05-03 15:02] gkhanna79 commented on #2176
@danmosemsft This is not a host bug and should move to CoreFX for someone to look into, especially since it pertains to Desktop only.

@ramarag Can you please revert your CoreFX PR from yesterday (to consume the newer host) and undo the change in Core-Setup?

[2017-05-03 15:21] gkhanna79 commented on #2231
@ramarag Assigning this to you since you were looking into this? Please close if this is a no-op.

[2017-05-03 15:39] gkhanna79 opened #2266 "Mark dotnet.exe and apphost.exe as largeaddressaware"
Similar to https://github.com/dotnet/coreclr/blob/796cd8bd3c153af929844fcc4b4c950c1f9ad690/CMakeLists.txt#L330.

@ramarag Can you PTAL?

CC @jkotas

[2017-05-03 16:16] eerhardt commented on #2261
FYI - this is fixed in 'master'.

The reason we were using `-portable` in our assets was to avoid conflicts (we had windows and macOS assets with different contents, but trying to write to the same files).  In the future, when building for distro-specific, we should be using distro-specific RIDs in the asset name.  That will avoid conflicting file names, and we won't need to use `-portable` or any

[2017-05-03 16:25] eerhardt opened #2267 "Investigate setting <Framework> to netcoreapp1.1 on arm64"
See https://github.com/dotnet/core-setup/blob/231b561d93e78eb07369d3c9a2428ab2f41bf70c/dir.props#L220

We use this `<Framework>` property to generate the shared framework.  I don't think we should be setting it to `netcoreapp1.1` ever.

/cc @gkhanna79 @chcosta

[2017-05-03 16:41] Petermarcu commented on #2261
So can this be closed?

[2017-05-03 16:45] gkhanna79 commented on #2267
I agree, we should delete that condition for arm64 and make it consistent with other arch since it has not been released.

Thanks,
Gaurav
________________________________
From: Eric Erhardt <notifications@github.com>
Sent: May 3, 2017 9:25 AM
To: dotnet/core-setup
Cc: Gaurav Khanna (CLR); Mention
Subject: [dotnet/core-setup] Investigate setting <Framework> to netcoreapp1.1 on arm64 (#2267)

See ht

[2017-05-03 16:53] eerhardt opened #2268 "Investigate usage of $(HostVersion) properties and other version properties"
We have a bunch of places that are using $(HostVersion) incorrectly.

Here's an example https://github.com/dotnet/core-setup/blob/c9154ce462025e2300ec2a685ace08a8b698df34/src/pkg/packaging/osx/package.props#L6

` <HostFxrComponentId>com.microsoft.dotnet.hostfxr.$(HostVersion).component.osx.x64</HostFxrComponentId>`

Here we are building the hostfxr component, but we are using the `$(HostVersion)`

[2017-05-03 16:55] eerhardt commented on #2268
/cc @gkhanna79 @chcosta

[2017-05-03 17:31] gkhanna79 commented on #2268
@rakeshsinghranchi PTAL.

[2017-05-03 17:51] eerhardt commented on #2268
FYI - I'm fixing the ones in the shared framework logic now.

[2017-05-03 17:55] rakeshsinghranchi commented on #2261
Yes. Closing this now.

[2017-05-03 17:55] #2261 closed

[2017-05-03 18:08] rakeshsinghranchi commented on #2230
This work has dependency on debian installer https://github.com/dotnet/core-setup/pull/2256

[2017-05-03 18:18] rakeshsinghranchi commented on #2246
Waiting for master to build debian installers.

[2017-05-03 18:34] gkhanna79 commented on #2268
Will you endup fixing this as well, as part of it?

[2017-05-03 18:36] gkhanna79 commented on #1987
@rakeshsinghranchi Can this be closed?

[2017-05-03 18:37] rakeshsinghranchi commented on #1987
Yes.

[2017-05-03 18:37] #1987 closed

[2017-05-03 18:41] #2233 closed

[2017-05-03 18:43] eerhardt opened #2270 "Need to port TestInstaller from old build system to new BuildTools based build system"
In the old build system we had a step that would test our debian installers by installing them.

We don't have that in the new build system.

We should port the old installer tests to the new system.

[2017-05-03 18:43] eerhardt commented on #2268
No, not the whole thing.  I'm only concentrating on shared framework logic for now.  I wrote this bug so it is addressed wholistically.

[2017-05-03 18:46] ericstj commented on #2156
I'm currently blocked on core-setup infrastructure not handling long paths ☹️

[2017-05-03 19:30] rakeshsinghranchi commented on #2246
cc @chcosta
CI produces MSIs with rid in the file name . for e.g.
dotnet-win7-x86-2.0.0-preview2-25303-9.exe. Official build,however, does not have rid in the package name.
https://ci.dot.net/job/dotnet_core-setup/job/master/job/debug_windows_nt_x86_prtest/1371/consoleFull

[2017-05-03 19:40] JensNordenbro commented on #2263
What happened to the Linux(arm) daily build in the Readme.md?

[2017-05-03 20:32] chcosta commented on #2246
Thanks, i'll address that with some other artifact naming issues i'm fixing today

[2017-05-03 20:36] mellinoe opened #2273 "Some HostActivationTests do not work with the 2.0 host"
Three test cases here assume that various paths will be returned from `PackageCompilationAssemblyResolver.GetDefaultProbeDirectories` when set as environment variables:

https://github.com/dotnet/core-setup/blob/6887ab556bc8302390782711dcdd75b75e769cf5/src/test/Microsoft.Extensions.DependencyModel.Tests/PackageResolverTest.cs#L23

However, [that method](https://github.com/dotnet/core-setup/blob/68

[2017-05-03 20:36] mellinoe commented on #2273
My current PR (#2259) has these tests disabled right now.

[2017-05-03 20:38] mellinoe commented on #2266
This would help a lot of our test runs in corefx. We've had to change lots of tests because they are using more than 1.5 GB of memory in a 32-bit process.

[2017-05-03 21:00] #2176 closed

[2017-05-03 21:38] ramarag commented on #2231
I have verified that as of build 2.0.0-preview2-25303-01, we are signing dotnet.exe .
 apphost.exe  is still unsigned

[2017-05-03 21:38] #2231 closed

[2017-05-04 01:03] #2127 closed

[2017-05-04 01:53] rakeshsinghranchi commented on #2246
cc @chcosta

OS : Mac
Issue : Package title in Installer UI shows the branding within single quotes (' ' ' )  . for e.g
'Microsoft .NET Core 2.0.0 - Runtime' (x64) Installer . Quotes are not expected.

[2017-05-04 02:01] rakeshsinghranchi commented on #2246
cc @chcosta

OS : Mac
All pkg Installers are failing to install .
Installer master/Installers/2.0.0-preview2-25304-02/dotnet-osx-x64-2.0.0-preview2-25304-02.pkg
 :
storedownloadd)
May  3 18:53:27 Rakeshs-MacBook-Pro Installer[9756]: ================================================================================
May  3 18:53:27 Rakeshs-MacBook-Pro Installer[9756]: User picked Standard Install
May

[2017-05-04 05:13] gkhanna79 commented on #1566
@jyoungyun I was chatting with @ericstj and he pointed me to https://github.com/NuGet/NuGet.Client/pull/1083 that added the Tizen TFM to Nuget. Given this, it is not clear whether you are building your packages for Tizen TFM or the NETCoreApp2.0 TFM. Can you please comment on this? That is, are you building _runtime.tizen.4-armel.Samsung.Tizen.App_ package OR are you building _runtime.tizen.4-arme

[2017-05-04 05:32] livarcocc opened #2279 "CurlHandler fails to initialize if have only shared runtime rather than full SDK"
_From @JohnRusk on May 4, 2017 5:27_

## Steps to reproduce

I run my app, which uses WindowsAzure.Storage (version 8.0.0) and targets .NET Core 1.1.1.  I get this exception:

[code]

## Expected  behavior

It should work, regardless of whether I have the full SDK or just the shared runtime.

## Actual behavior

I get the above error if I just have the shared runtime.  It works if I have the full

[2017-05-04 05:50] Petermarcu commented on #2279
This should probably go to corefx but @Priya91 can decide :) @karelz

[2017-05-04 07:44] karelz commented on #2279
From this exception text `Unable to load DLL 'System.Net.Http.Native'` it looks like the right binaries are not present in the app.
@JohnRusk can you please provide a repro? (ideally minimal one)

[2017-05-04 08:02] olegsavelos opened #2280 "Ubuntu Arm Builds"
There was an Ubuntu arm builds available previously.
Anyone aware of where did they go and when we can have them back ?

[2017-05-04 09:54] rakeshsinghranchi opened #2281 "Add static analysis tests for MSIs and Bundles"
There is opportunity to add static analysis tests to validate MSIs statically  ( by reading MSI database ) . This will help to validate Product Branding, Payload list,Product version etc.

[2017-05-04 10:18] mellinoe commented on #196
I've implemented a version of this, roughly as described above. There's two pieces involved, one in this repo and one in dotnet/sdk. Overall it only needed a few small changes and is fairly isolated.

dotnet/core-setup: https://github.com/mellinoe/core-setup/commit/dacf01d0a1445e0d36b0ba23a556caa919f2d393
* Add another CMake project called `apphostw`. It's identical to `apphost`, except it only bu

[2017-05-04 10:44] jyoungyun commented on #1566
@gkhanna79

We will use and support both TFMs, NETCoreApp2.0 TFM and Tizen TFM. The plan to support Tizen TFM is scheduled for a next preview release. So now I'm trying to build `runtime.tizen.4.0.0-armel.Microsoft.NETCore.App` package.

If coreclr and corefx upload nupkgs for tizen to dotnet-core myget, then tizen rid is described in Microsoft.NETCore.App as @ericstj said, so it will be restored

[2017-05-04 14:41] JensNordenbro commented on #2280
Also generic linux-arm is missing

[2017-05-04 15:37] gkhanna79 commented on #186
@chcosta Can you help look into this?

[2017-05-04 16:06] #1960 closed

[2017-05-04 16:31] chcosta commented on #2191
@eerhardt , can we close this?

[2017-05-04 16:37] chcosta commented on #2265
We should probably change the step to call the `CreateVersionFileDuringBuild` target.  I think that's the real intent.  We need the version file to be created so that we produce the `BuildVersion.props` file which defines the buildtools versioning `BuildVersionMajor` and `BuildVersionMinor`.  I don't think it's hurting anything as-is, but i'll look into changing this after some of the other stabil

[2017-05-04 18:04] rakeshsinghranchi commented on #2197
Debian installers are not yet building in master and thus, this verification is blocked.

[2017-05-04 18:34] nguerrera commented on #196
@mellinoe Cool!

I'm thinking we should use OutputType=WinExe, which controls this for .NET framework exectuables. We have some bugs around it in the SDK (see dotnet/sdk#1176), but we're going to get those fixed. The nice things there beyond consistency with .NET Framework is that we can get VS property page support for free.

[2017-05-04 18:36] chcosta opened #2283 "Add an explicit dependency on ICU"
@ellismg provided some additional changes for core-setup.  We took the layout related changes in https://github.com/dotnet/core-setup/pull/2256, but didn't yet take the libicu related changes.  This issue is to track ensuring that we get the additional changes ported once our debian packages have been created / validated / stabilized.

https://github.com/ellismg/core-setup/commit/16ee3bbd121f95db9

[2017-05-04 18:37] #2266 closed

[2017-05-04 18:41] livarcocc opened #2284 "Ubuntu 14.04/Mint 17 Installation is failing"
_From @shawnwildermuth on February 19, 2017 22:29_

## Steps to reproduce
- Go to https://github.com/dotnet/cli#ubuntu-installers
- Install the installers in order on a clean Mint 17 installation
- Last installer fails to run because of missing dependency.

## Expected  behavior
Should work and rc4 gets installed on Mint 17

## Actual behavior
![image](https://cloud.githubusercontent.com/assets/56

[2017-05-04 18:41] livarcocc commented on #2284
_From @shawnwildermuth on February 19, 2017 22:30_

The 1.0.1 Shared Framework is installed by step 2, don't think 1.0.4 is available.

[2017-05-04 18:41] livarcocc commented on #2284
_From @blackdwarf on February 21, 2017 4:10_

/cc @livarcocc

[2017-05-04 18:41] livarcocc commented on #2284
_From @piotrpMSFT on February 22, 2017 7:50_

/cc @gkhanna79

[2017-05-04 18:41] livarcocc commented on #2284
_From @gkhanna79 on February 22, 2017 16:46_

Isn't this because 1.0.4 has not been released and thus, its packages are not available?

CC @leecow

[2017-05-04 18:41] livarcocc commented on #2284
_From @leecow on February 22, 2017 18:57_

Looks like the sharedframework installers at https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/Latest/ are all 1.0.1 or 1.0.3. https://github.com/dotnet/core-setup strongly suggests that daily builds of the sharedframework are being pushed to latest but this obviously isn't the case.

[2017-05-04 18:41] livarcocc commented on #2284
_From @gkhanna79 on February 22, 2017 19:28_

Daily build installers are at https://dotnetcli.blob.core.windows.net/dotnet/master/Installers/Latest/.

1.0.4 installers are at https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/1.0.4/.

There are no daily builds of release branches.

[2017-05-04 18:41] livarcocc commented on #2284
_From @leecow on February 22, 2017 19:40_

Alright - The release columns on https://github.com/dotnet/core-setup report 1.0.4 and 1.1.1 which haven't happened yet.

[2017-05-04 18:41] livarcocc commented on #2284
_From @gkhanna79 on February 22, 2017 19:41_

Yes, this is what we discussed when the table was being done - some of the release will show here _before_ they get released.

[2017-05-04 18:41] livarcocc commented on #2284
_From @shawnwildermuth on February 22, 2017 23:23_

So I'm confused, is any of this a help on getting it running on Linux or is this just a discussion on how to handle releases long-term (with the core-setup discussion which seems to be about 2.0, not the 1.1 RC4 Updates.

[2017-05-04 18:41] livarcocc commented on #2284
_From @TrevorNewsome on March 18, 2017 11:18_

Has this been resolve do you know?

[2017-05-04 18:41] livarcocc commented on #2284
_From @TrevorNewsome on March 18, 2017 12:0_

Hi Guys, I found a solution to this, unfortunately not my solution, rather someone else's, but I have verified it as working and has solved my issue on Mint 18.

http://hudosvibe.net/post/install-.net-core-on-mint-18-or-elementary-os

Hope this helps.
Trev

[2017-05-04 18:41] livarcocc commented on #2284
@gkhanna79 according to the link above the issue seems to be installing the shared framework. Can you take a look?

[2017-05-04 18:41] livarcocc commented on #2284
_From @gkhanna79 on March 29, 2017 19:51_

IIUC, It seems like Mint 17/18/Elementary have different dependencies than U14.04 (which is supported for 1.0.X). Once they are in place, installation works as expected.

I think documenting these issues is the right step ahead - we cannot build 1.0.X with different dependencies than what we shipped for.

@leecow can you please capture this on dotnet/core

[2017-05-04 18:41] livarcocc commented on #2284
_From @leecow on March 29, 2017 20:41_

Interesting, I can run both SDK 1.0.0-preview2-003131 with SharedFX 1.0.4/1.1.1 and SDK 1.0.1 with SharedFX 1.0.1 without libicu52.

[code]

Seems like there's something else going on in the failure cases.

[2017-05-04 18:41] livarcocc commented on #2284
Moving this over to core-setup, since the issue is about the shared framework.

[2017-05-04 19:38] tannergooding commented on #196
It would be great if we "just worked" with the existing `OutputType=WinExe` (especially since this essentially resolves down to a compiler switch that sets a PE Header flag).

It would be even better if we respected this flag on all platforms and not just on Windows.

[2017-05-04 20:05] mellinoe commented on #196
@nguerrera Yeah, OutputType=WinExe is probably the obvious choice here. My only hangup is the fact that it makes you put a "windows-ism" into your project file. That's just a small problem, though; it's probably overcome by the fact that years of tooling understand "WinExe".

@tannergooding What would respecting this flag look like on other platforms? As far as I can tell, there is no such distinc

[2017-05-04 20:31] tannergooding commented on #196
@mellinoe, I would imagine it would do (or attempt to do) the same thing that Windows does. Launching a "regular" executable would cause a terminal window to appear for all output (or use the current terminal if launched from there). Launching a "WinExe" executable would not cause any terminal window to appear and would require the end user to construct and display a window, if desired.

Also, I t

[2017-05-04 20:34] dasMulli commented on #196
Sadly, I think a lot of tools/"SDKs" picked up conditioning on `OutputType` being `Exe`.
It also seems weird that if I want to multi-target for multiple TFMs and RIDs, I would need to condition the output type on two other properties. (inverse: it would seem weird if it just worked)

[2017-05-04 20:43] dasMulli commented on #196
@tannergooding I think this console-window experience is pretty much a vs-specific thing.. most other IDEs have integrated console windows and route the stdin/out through it. Even for "Gui type" apps, or mobile apps that run in simulators or attached devices.

Furthermore, I believe the ability to select a different app host is more a deployment-time choice than an app model selection - just like

[2017-05-04 21:29] #2216 closed

[2017-05-04 21:31] rakeshsinghranchi commented on #2246
@karajas  - Please take a look at the osx installer issue. Also, the branding issue of extra single quotes (' ' ) in branding. Let me know if you need more contexts.

[2017-05-04 21:40] rakeshsinghranchi commented on #1192
Closing this as this doesn't repro.

[2017-05-04 21:40] #1192 closed

[2017-05-04 23:24] chcosta commented on #2280
@gkhanna79

Our build system underwent some major changes recently.  We are working on bringing back arm support in the next few days.

[2017-05-04 23:26] chcosta commented on #2265
I see that the "CreateVersionFile" target is now a build dependency in build.proj.  That would indeed make this target irrelevant.

[2017-05-04 23:28] chcosta commented on #2260
Yes, that is likely the direction this will go.  I'll look into making this change after our official builds have stabilized and proven out the docker images.

[2017-05-04 23:30] chcosta commented on #186
Ack

[2017-05-04 23:45] JohnRusk commented on #2279
Hi @karelz.  I'll put together a minimal repro next week.

[2017-05-05 00:23] Priya91 commented on #2279
@JohnRusk Can you check if system.net.http.native.so is found in dotnet/shared/Microsoft.NETCore.App/<version>? If it's present please provide a repro, if not the native shims have to be found, you may want to check your install.

[2017-05-05 02:14] #1871 closed

[2017-05-05 16:31] #2194 closed

[2017-05-05 16:31] gkhanna79 commented on #2267
Fixed with https://github.com/dotnet/core-setup/pull/2274

[2017-05-05 16:31] #2267 closed

[2017-05-05 16:55] AlexGhiondea opened #2294 "Make sure the UWP host understands that there is no ni file anymore"
Related to https://github.com/dotnet/buildtools/pull/1473

[2017-05-05 16:57] gkhanna79 commented on #2294
Requires updating https://github.com/dotnet/core-setup/pull/2115

[2017-05-05 18:33] karajas commented on #2246
So it seems like the current theory is that the postinstall scripts don't have executable permissions. Testing this now.

[2017-05-05 21:10] eerhardt commented on #2224
This work is now done.  Latest builds are producing them.  https://dotnetcli.blob.core.windows.net/dotnet/master/Installers/2.0.0-preview2-25305-19/dotnet-sharedframework-debian.8-x64.2.0.0-preview2-25305-19.deb

[2017-05-05 21:10] #2224 closed

[2017-05-06 20:02] chcosta opened #2301 "Validate OSX installer"
OSX installers are not currently working.  They are broken executing PostInstall scripts.  @karajas is investigating.

[2017-05-06 20:03] chcosta opened #2302 "Enable official build support for arm builds"
Work is in progress

https://github.com/dotnet/core-setup/pull/2300

[2017-05-06 20:05] chcosta opened #2303 "Enable Jenkins arm builds"

[2017-05-07 00:51] chcosta commented on #2302
This has been completed, we're now producing / publishing windows arm32 / arm64, and linux arm builds.

[2017-05-07 00:51] #2302 closed

[2017-05-07 19:34] pauldotknopf opened #2306 "Provide another "hostfxr_main" that calls a c-style callback (instead of Program.Main) for a more custom implementation of .NET Core."
I spoke on slack about a tight C++ integration with .NET Core, and @davidfowl suggested I possibly look into creating a pull-request for my scenario. Before I go creating a pull-request, I want to discuss it first to ensure that it will be accepted.

Some background. I am trying to integrate .NET Core into Qt/Qml, similar to [pyotherside](https://github.com/thp/pyotherside). In order to provide th

[2017-05-08 15:00] eerhardt commented on #2191
I've checked that we are producing `win-x64, `win-x86`, and `osx-x64` runtime.XXX.Microsoft.NETCore.App packages, which we are.

Also, we are producing `linux-x64` builds, which are working for the CLI on all its platforms: https://github.com/dotnet/cli/pull/6493 (sans the ubuntu deb package issue).

And we are also producing `linux-arm`, `win-arm`, and `win-arm64` builds now as well.

Closing.

[2017-05-08 15:00] #2191 closed

[2017-05-08 16:42] livarcocc opened #2307 "DependencyContext.Default.RuntimeLibraries can't find referenced assemblies !!!"
_From @TimRowe on May 8, 2017 13:49_

## Steps to reproduce

I can't upload the .png file to show the details.

I used the code to find the referenced assemblies.
DependencyContext.Default.RuntimeLibraries.Where(l => l.Name.Contains("rdp"));

But it can only discover the referenced project assemblies and the nuget assemblies. the dll assemblies which I added to the project can't Find. Why?

## Exp

[2017-05-08 17:44] gkhanna79 commented on #1566
If, for the first preview release you are going to target netcoreapp2.0 TFM, then this is necessary and you will need to upload the packages.

@weshaggard Is there a property that @jyoungyun can you to specify the build number to be used when they do a build, as opposed to trying to sync with out build?

@jyoungyun assuming there is a way for you to specify a build number, will you be able to dete

[2017-05-08 18:39] weshaggard commented on #1566
Assuming these are using the BuildTools versions now they can be overridden by setting these properties https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Tasks/PackageFiles/versioning.targets#L11.

[2017-05-08 18:58] JensNordenbro commented on #2280
generic linux-arm is back. Do you use the same build @olegsavelos ?

[2017-05-08 21:21] gkhanna79 commented on #934
@eerhardt @ramarag Do we still need tests for this in Core-Setup or do we have sufficient coverage in SDK/CLI repo for it?

[2017-05-08 21:22] gkhanna79 commented on #636
Closing the issue due to lack of details. Please reopen if the issue persists with the latest runtime.

[2017-05-08 21:22] #636 closed

[2017-05-08 21:27] karajas commented on #2301
this should be fixed.

[2017-05-08 21:27] #2301 closed

[2017-05-09 00:48] ellismg opened #2313 "build.sh should just call run.sh directly"
Today build.sh does some parsing and then calls run.sh with a different set of arguments.  This is different from build.cmd which just forwards its arguments to run.cmd.

Because of how this is done, you can't use the -- trick to pass additional properties to MSBuild on *nix.

We should either adopt `run.sh` fully or remove it and go back to parsing in shell scripts.  Landing on run.sh is probably

[2017-05-09 00:49] ellismg commented on #2313
/cc @chcosta Thoughts?

[2017-05-09 00:50] ellismg commented on #2283
Talking with @Petermarcu it sounded like we'd want icu to be installed by default when you install our debs, but we should not block it's removal.  In Debian land, I believe this means adding it as Recommends in the control file.  apt should install Recommends by default, but they could be removed later.

[2017-05-09 01:27] chcosta commented on #2313
Completely agree. Thanks for filing an issue on this, it's something that I've mentioned in passing to a few people, but never remembered to create an issue for when I'm at my desk.

My hope is that we move away from run, or at least make it sane , but there is no alternative at the moment. I think I that using run for Unix right now makes the most sense because having two different parsing system

[2017-05-09 01:29] ellismg commented on #2313
Okay, this is sort of blocking some things I want to do, so I'll come up with a PR.

[2017-05-09 02:41] #1489 closed

[2017-05-09 06:58] #2076 closed

[2017-05-09 07:41] olegsavelos commented on #2280
Generic linux-arm did not work for me , not sure if they even should.
@chcosta any news on when ubuntu builds will be back ?

[2017-05-09 13:40] eerhardt commented on #2307
@TimRowe - Can you please provide the following information:

What does `dotnet --info` output?  Can you also please show your .csproj?  Or at least the relevant parts?

[2017-05-09 13:57] gkhanna79 commented on #2280
@olegsavelos Where did you pickup the linux-arm build from and why didn't it work for you? Can you please share the failure details?

[2017-05-09 15:38] gkhanna79 commented on #628
@ramarag Will you be able to get a fix for this in before EOD tomorrow?

[2017-05-09 16:47] chcosta opened #2319 "Build DependencyModel and PlatformAbstractions on all platforms"
DependencyModel and PlatformAbstractions should get built on all platforms.  Currently they only build on Windows.  They should only publish on one leg of the build (perhaps `PublishRidAgnosticPackages=true`), but we should be building them everywhere.

[2017-05-09 16:56] olegsavelos commented on #2280
I have tried "Linux (arm) (for glibc based OS)" on ubuntu 16.04 (32bit)
What i get is "cannot execute binary file: Exec format error"
To be frank i am not sure if it should have worked anyway?
I was using previously available builds and they worked but i was still getting "Segmentation fault" when trying ASPNetCore projects.

[2017-05-09 18:59] bleroy commented on #1599
Following the discussion that happened elsewhere on naming of .NET downloads, packages, and container images (https://github.com/dotnet/designs/issues/2), we'd like to make the following change to the package naming guidelines... Instead of just `dotnet-[major].[minor]`, we'd like to align on other names and call it `dotnet-runtime-[major].[minor]`. This is also more explicit, and hopefully can st

[2017-05-09 19:02] eerhardt opened #2322 "Ensure all project's 'bin' and 'obj' folder goes into the root "bin" folder"
See https://github.com/dotnet/core-setup/pull/2275#discussion_r114846764.  Some of our project's bin and obj folders are going in the source tree.

Ex.

`src\managed\Microsoft.Extensions.DependencyModel`
`src\managed\Microsoft.DotNet.PlatformAbstractions`
`src\sharedFramework\framework`

[2017-05-09 19:08] RheaAyase commented on #1599
Fine by me.
---
* `dotnet-host` - Always the latest host _[No relevant dotnet dependency]_
* `dotnet-runtime-major.minor`: A shared framework with the specified version (only the latest patch version for a given major+minor combination should be available in the package manager). _[Depends on `dotnet-host`]_
* `dotnet-sdk-major.minor`: An SDK with the specified version, where the version specified

[2017-05-09 19:15] karelz commented on #2246
@gkhanna79 is it infra or setup? -- only 1 area label is needed to avoid double counting.

[2017-05-09 19:29] gkhanna79 commented on #2246
Fixed as setup.

[2017-05-09 20:53] karajas opened #2327 "Official Builds should archive the logs for analysis"
Currently the publish step and build steps do not archive their diagnostic logs for analysis.

@chcosta

[2017-05-09 20:59] chcosta commented on #2303
https://github.com/dotnet/core-setup/pull/2305
https://github.com/dotnet/core-setup/pull/2324

[2017-05-09 20:59] #2303 closed

[2017-05-09 21:00] chcosta commented on #2260
https://github.com/dotnet/core-setup/issues/2303

[2017-05-09 21:00] #2260 closed

[2017-05-09 21:01] chcosta commented on #2201
Build pipeline is now working, producing all build legs, and @karajas moved publishing to a separate step.  There are other build items to be investigated (debian package publishing and such), but the build pipeline appears to be working so I'm closing this issue.

[2017-05-09 21:01] #2201 closed

[2017-05-09 21:12] karajas commented on #2208
https://github.com/dotnet/versions/pull/153

[2017-05-09 21:19] karajas commented on #2193
This is in now.

[2017-05-09 21:19] #2193 closed

[2017-05-09 21:20] karajas commented on #2247
This is in a separate step but has some missing pieces from the actual publish. Like pushing to the debian feed and the cli feed. Will resolve.

[2017-05-09 21:55] gkhanna79 commented on #1411
Closing as this work complete.

[2017-05-09 21:55] #1411 closed

[2017-05-09 22:08] gkhanna79 commented on #790
@hqueue When do you expect to add Tizen Armel leg to CI?

[2017-05-09 22:10] gkhanna79 commented on #2230
@rakeshsinghranchi Your PR was merged, so can we close this?

[2017-05-09 22:18] gkhanna79 commented on #2273
@eerhardt @ramarag Is this a breaking change in 2.0 DependencyModel?

[2017-05-09 22:20] gkhanna79 commented on #676
@richlander @ellismg What are the next steps for this?

[2017-05-09 22:20] gkhanna79 commented on #1638
@leecow What are the next steps on this?

[2017-05-09 23:57] nguerrera opened #2334 "If sdk version specified in global.json is not found, latest sdk is used silently"
## Steps to reproduce

* Use a global.json specifying an SDK that is not installed.
* Check `dotnet --version` (or more generally, use any cli verb and see which sdk it uses)

[code]

## Expected  behavior
An error is reported indicating that the version specified in global.json is not present

## Actual behavior
It just uses latest SDK instead (effectively ignoring global.json)

## Scenarios
* Ty

[2017-05-10 00:21] kichalla opened #2335 "Running just 'dotnet' crashes the process"
## Steps to reproduce
- Download CLI from https://dotnetcli.azureedge.net/dotnet/Sdk/2.0.0-preview1-005973/dotnet-dev-win-x64.2.0.0-preview1-005973.zip
- Run `dotnet --info` and it should work fine
- Type `dotnet` and hit enter and you should see it crash

## Expected  behavior
Does not crash

## Actual behavior
Crashes

## Environment data
`dotnet --info`
[code]

@gkhanna79 suggested that the reg

[2017-05-10 00:39] nguerrera opened #2336 "multilevel sdk lookup policy does not consider different versions across more than one level"
Once any sdk is found at any level, none of the SDKs at different levels are considered.

For example, if there's an sdk version at the local location, it will be used irrespective of global.json or if there are newer versions available globally.

## Steps to reproduce

* Install a version of the CLI that you don't already have in the global location to the local location. For example:

Global ins

[2017-05-10 01:07] ramarag commented on #628
moving it to future

[2017-05-10 02:32] gkhanna79 commented on #2336
@livarcocc Please triage for milestone and assign to appropriate individual.

[2017-05-10 02:32] gkhanna79 commented on #2335
@ramarag Can you PTAL to get this fixed before EOD tomorrow?

[2017-05-10 02:33] gkhanna79 commented on #2334
@livarcocc Please triage for milestone and assign to appropriate individual.

[2017-05-10 02:37] gkhanna79 commented on #2280
@olegsavelos I presume you are running on Ubuntu Arm32 bit, right?

[2017-05-10 02:37] ramarag commented on #2335
@kichalla can you paste the callstack under the debugger, i just tried out the repro and the issue does not occur for me

@gkhanna79 wereyou able to repro the issue ?

[2017-05-10 02:39] gkhanna79 commented on #2335
I didnt try the repro but did look at the callstack in Windbg. Are you not able to use preview1-02111 sharedFX which is where this is supposed to repro?

[2017-05-10 02:40] ramarag commented on #2335
![image](https://cloud.githubusercontent.com/assets/10203266/25880976/4e3cea8c-34ef-11e7-856f-93fde59906c6.png)

[2017-05-10 02:41] gkhanna79 commented on #2335
Under Windbg, what is the version of hostfxr.dll that is loaded for you @ramarag (output of lm vm hostfxr)?

[2017-05-10 02:43] ramarag commented on #2335
ok i kind of get it, @kichalla did you update dotnet.exe to the latest version ?
With the latest dotnet.exe hostfxr should not be loaded for invocations without arguments

[2017-05-10 02:43] gkhanna79 commented on #2335
The following is the callstack in the dump:

[code]

[2017-05-10 02:47] eerhardt commented on #2335
What version of the host muxer are we using?  I just downloaded https://dotnetcli.blob.core.windows.net/dotnet/Sdk/release/2.0.0/dotnet-dev-win-x64.latest.zip and I can't repro the issue.

[code]

[2017-05-10 02:49] gkhanna79 commented on #2335
@kichalla Is this in Antares scenario where you are using older muxer against 2.0 hostfxr/SharedFX?

[2017-05-10 02:49] ramarag commented on #2335
@eerhardt i think the @kichalla using a 1.0 or 1.1 dotnet.exe

[2017-05-10 03:27] chcosta opened #2338 "Merge core-setup buildtools changes back into buildtools"
Core-setup has a tools-override and a tools-local\Microsoft.DotNet.Build.Tasks.Local folder, both of which should be merged back into buildtools.  This issue is tracking that work.

/cc @weshaggard @eerhardt @karajas

[2017-05-10 03:39] livarcocc opened #2339 "dotnet-dev-1.0.4 package fails to install on Ubuntu"
_From @ed-alertedh on May 10, 2017 0:32_

## Steps to reproduce
(taken from: https://www.microsoft.com/net/core#linuxubuntu )
[code]
## Expected  behavior
dotnet-dev-1.0.4 package installs

## Actual behavior
[code]

If I run ```cat /var/lib/apt/lists/apt-mo.trafficmanager.net_repos_dotnet-release_dists_yakkety_main_binary-amd64_Packages``` then I can confirm what apt-get is saying. There is no li

[2017-05-10 03:39] livarcocc commented on #2339
@leecow @dagood It seems like we missed publishing the debian packages to the feed.

[2017-05-10 03:40] jyoungyun commented on #1566
@gkhanna79 @weshaggard As I know, the `-OfficialBuildId` is to specify build number, isn't it? I already use the `-OfficialBuildId` option to build coreclr and corefx by setting the same build number. So I can build those module with a specific build number. But what I worried about is the build trigger point. I think if your build is building with a 20170510-01 as `-OfficialBuildId`, you need to

[2017-05-10 03:46] leecow commented on #2339
@livarcocc @dagood

@ed-alertedh is running 17.04 which is not supported by 1.0 or 1.1. There will be generic Linux binary archives available for 2.0 which should work though I haven't attempted with 17.04 yet.

[2017-05-10 04:23] leecow commented on #2339
Confirmed the generic Linux binaries work on 17.04. Have a go with https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-dev-linux-x64.latest.tar.gz.

[2017-05-10 04:30] kichalla commented on #2335
Ah, you are right. Since 1.1 and 1.0 runtimes do not ship along with the latest CLI we install these *after* the CLI is installed and as you mentioned the dotnet.exe is getting overwritten these older versions. Sorry for the false alarm.

[2017-05-10 04:30] #2335 closed

[2017-05-10 05:13] ed-alertedh commented on #2339
OK, happy to install via a different method! My main reason for raising this issue is that it appears that this will happen under Ubuntu 16.10 as well, which is the supported version. If I have time I'll confirm in a VM.

[2017-05-10 05:15] chcosta commented on #186
@dagood, is the native part of this something you have context on? Specifically, related to core-setup.

[2017-05-10 05:32] ed-alertedh commented on #2339
It occurred to me that a Docker container would be enough to confirm that this is an issue under 16.10. As suspected, it is! Put this in a Dockerfile:
[code]
Now run ```docker build .```  and you should get the following output at the end:
[code]

[2017-05-10 05:52] gkhanna79 commented on #1566
I don't think that is correct as OfficialBuildId is different from the build number that is appended in `2.0.0-preview2-<build number>-<build leg number>`. Please see https://github.com/dotnet/core-setup/issues/1566#issuecomment-299953723 that explains which version number to use.

To confirm, you would like to ensure that your build triggers using the same SHA commit as our build did, and not rea

[2017-05-10 05:56] hqueue commented on #790
@jyoungyun Can you estimate when we can enable Tizen armel CI as in #17541 ?

[2017-05-10 06:06] gkhanna79 commented on #1566
I think you should be using SHA commit to sync builds instead of time. Given that we embed the SHA commit within the binaries (see https://github.com/dotnet/buildtools/blob/c566e3430e491606824a69bde745eb0e6dd80d38/src/Microsoft.DotNet.Build.Tasks/PackageFiles/versioning.targets#L260), to get the various SHA commits (for CoreCLR, CoreFX, Standard and Core-Setup repos), I would suggest extracting it

[2017-05-10 09:28] olegsavelos commented on #2280
@gkhanna79 Armv71 on  Ubuntu 16.04.2 LTS .

[2017-05-10 11:24] jyoungyun commented on #790
@gkhanna79 @hqueue I will post a PR for enabling Tizen armel CI at least unil May 14. I will ping again. :)

[2017-05-10 14:03] eerhardt commented on #1566
Looks like we are adding a versions file to our `Microsoft.NETCore.App` packages with this information.  See https://github.com/dotnet/core-setup/pull/2330

[2017-05-10 14:14] eerhardt opened #2341 "Restructure the src/pkg folder so it builds logically top-down"
Today we have the following folder structure:

![image](https://cloud.githubusercontent.com/assets/8291187/25902880/6e5f5de2-3560-11e7-88e7-8fc70dc1d3c4.png)

In our builds, the `src/dir.proj` file builds the `src/pkg/dir.proj` file.  But the `src/pkg/dir.proj` file only builds the `src/pkg/projects` directory.  It is up to a separate build file to build the `src/pkg/packaging` folder.

See the [r