[2016-05-26 14:43] vcsjones opened #18 "Installing packages appends many times to /etc/paths.d/dotnet"
## Steps to reproduce

Run the .pkg for the SDK installer multiple times. Can be the same version, can be different ones.

## Expected  behavior

The `/etc/paths.d/dotnet` file contains a single line to the path of where the CLI tools are run.

## Actual behavior

Every time the package installer is run, another path line is added:

[code]

I only discovered this because it looks like at some poin

[2016-05-26 14:49] vcsjones commented on #18
The culprit is this line, [here](https://github.com/dotnet/core-setup/blob/1db6c07638a70a621b312e78d4dc9fb31a530f2f/packaging/osx/sharedhost/scripts/postinstall#L14):

[code]

This echoes the path into the file as many times as it runs without checking if it exists.

I would propose just making this a straight overwrite:

[code]

If more paths need to be added later, it could be done as such:

[co

[2016-05-26 16:05] weshaggard opened #20 "Improve how we are passing the versions to msbuild/BuildTools projects"
See https://github.com/dotnet/core-setup/blob/master/build_projects/dotnet-host-build/CompileTargets.cs#L185 where we are setting a bunch of properties as environment variables to get them passed to our msbuild for the packages. We should instead generate a versions.props that we can import from the msbuild side and not need to pass all these through to pack.cmd or pack.sh.

We also need to figure

[2016-05-26 16:18] blackdwarf commented on #18
`tee` already solves this, and its default is to actually overwrite, so just removing the `-a` fixes the thing. :)

[2016-05-26 16:23] vcsjones commented on #18
@blackdwarf any particular reason to use `tee`? Does the path need to be printed to standard out?

[2016-05-26 16:26] blackdwarf commented on #18
@vcsjones I believe I had problems with standard redirection under sudo to `/etc/` path.

[2016-05-26 18:35] sokket opened #23 "Building on OS X fails"
## Steps to reproduce

1) Have an OS X box without XCode
2) Install dependencies via homebrew
3) Run build.sh
## Expected  behavior

Success!
## Actual behavior

Scanning dependencies of target dotnet
[  2%] Building CXX object cli/CMakeFiles/dotnet.dir/fxr/fx_ver.cpp.o
/Users/jon/Repositories/personal/dotnet/core-setup/src/corehost/cli/fxr/fx_ver.cpp:4:10: fatal error: 'cassert' file not found
#

[2016-05-26 18:51] schellap commented on #23
Why is this failing, there was no change in the codebase from CLI repo?

Cc @brthor

[2016-05-26 18:55] sokket commented on #23
For the record, this was failing in the CLI repo too...I just always forgot to open an issue :(

[2016-05-26 18:57] brthor commented on #23
@sokket has been talking about this for some time @schellap I don't think this is related to the move

[2016-05-26 18:59] schellap commented on #23
Yeah I remembered post commenting, that he showed this to me during the build fork meeting. Anyway, the timing of this confused me a bit... I'll look into this. AFAIK, I did not install XCode on my El-Capitan and was able to build before that.

[2016-05-26 22:19] brthor opened #25 "Re-enable Deb publishing."

[2016-05-26 22:20] brthor opened #26 "Ship Debian Package Tool as a CLI Tool"
This will let us reduce code duplication across repos.

[2016-05-26 22:21] brthor opened #27 "Unify shared-build-targets-utils with CLI"
The sources of these projects should be identical.

Currently there is one forked method and some code which should be copy/pasted between the two.

[2016-05-27 04:50] #18 closed

[2016-05-27 20:04] brthor opened #33 "Add tests for the Host"
cc @schellap Let's figure out the base set of activations

[2016-05-27 20:04] brthor opened #34 "Add Tests for SharedFramework Packages"

[2016-05-27 21:12] brthor commented on #27
Fixed in #31

[2016-05-27 21:12] #27 closed

[2016-05-27 21:13] brthor commented on #26
Fixed in #30

[2016-05-27 21:13] #26 closed

[2016-05-27 22:20] gkhanna79 opened #37 "Review references to mscorlib"
An example is
https://github.com/dotnet/core-setup/blob/22c97b59b6442eb3454c9a1407b6de91ca11eaa2/src/corehost/cli/deps_resolver.cpp#L393

Please ensure that places that require core library reference are referencing System.Private.CoreLib as opposed mscorlib.

[2016-05-28 17:47] leecow opened #40 "Registry entries left behind after uninstalling DotNetCore.1.0.0.RC2-SDK.Preview1-x64"
Don't know if we're leaving these behind of if they are Windows Installer artifacts

HKEY_CLASSES_ROOT\Installer\Dependencies\Dotnet_CLI_1.0.0.002702_x64
HKEY_CURRENT_USER\SOFTWARE\Microsoft\Windows NT\CurrentVersion\AppCompatFlags\Compatibility Assistant\Store
- C:\ProgramData\Package Cache\{2adee9e7-1f53-47dc-8e30-49ff0dec528e}\dotnet-dev-win-x64.1.0.0-preview1-002702.exe
- C:\Users\[username]\A

[2016-05-28 19:50] schellap opened #41 "Move to stable versions in the host"
As we RTM, make sure the versioning of host conforms to the runtime -- coreclr, corefx versioning schemes.

[2016-05-28 22:43] joshfree opened #42 ".Net Foundation Contribution License Agreements"
We need to add the @dnfclas bot to /dotnet/core-setup

cc: @BethMassi @martinwoodward @richlander

[2016-05-31 08:17] martinwoodward commented on #42
Should be enabled now

[2016-05-31 08:17] #42 closed

[2016-05-31 17:13] schellap commented on #33
I will take a look at this, this week.

[2016-05-31 18:09] schellap commented on #33
@brthor, could you please comment on what all exists in the CLI repo and can be ported over?

## Primary tests
### Activation Tests
1. Published Standalone app activation
2. Published Portable app activation
3. Dotnet run activation of standalone app
4. Dotnet run activation of portable app
5. Dotnet test of standalone app
6. Dotnet test of portable app
7. Dotnet extension activation

Portable and

[2016-06-02 16:19] eerhardt opened #71 "Add build info to README"
https://github.com/dotnet/core-setup's readme should look like CLI's readme, with links to download Shared FX, latest build version, build status, etc.

[2016-06-02 20:05] tmat opened #72 "Microsoft.DiaSymReader.Native.*.dll needs to be added to Shared FX"
Binaries

[code]

from package https://www.nuget.org/packages/Microsoft.DiaSymReader.Native/1.4.0-rc

need to be present in the Windows build of Shared FX in order for the compiler to be able to emit Windows PDBs on Windows.

[2016-06-02 20:27] tmat commented on #72
We are currently discussing other options.

[2016-06-02 20:34] joshfree commented on #72
This is actually against the wrong branch too for 1.0.0

[2016-06-02 20:51] brthor commented on #33
@schellap for 1,2,3,4 we could copy over a standalone and portable test asset.

If we restore these against the built Microsoft.NETCore.App package, then this will also encompass #34

Well need to manually copy over an sdk directory from the downloaded cli and patch together a stage2 like directory with the currently built host + sharedfx.

for 5,6 I think we should create new, targetted projects.

[2016-06-02 20:55] schellap commented on #33
Really appreciate. I will sync with you in an hour. We might have to do it before we freeze, so we can divvy up.

[2016-06-03 01:21] tmat commented on #72
The library is actually loaded from SDK as it is supposed to be. The path to the library is correctly specified in deps.json and picked up from there by the loader.

[2016-06-03 01:21] #72 closed

[2016-06-03 18:47] brthor opened #80 "Make CI Build NuGet Cache Independent"
See https://github.com/dotnet/cli/issues/3368 for an explanation of the issues present.

[2016-06-03 20:47] brianrob opened #84 "HelloWorldMVC Start-Up JIT Compiles Many Methods in the Shared FX"
Of particular interest are non-generic methods such as:

System.Reflection.Metadata.MetadataReader.get_IsAssembly()
System.Reflection.Metadata.AssemblyDefinition.get_Version()
System.Reflection.Metadata.AssemblyDefinition.get_Flags()
System.Reflection.Metadata.AssemblyDefinition.get_PublicKey()
System.Reflection.Metadata.AssemblyDefinition.get_Name()
System.Reflection.Metadata.AssemblyDefinition.g

[2016-06-04 21:35] joshfree opened #89 "Update maestro to cc @dotnet/core-setup-contrib on PRs"

[2016-06-04 23:18] eerhardt commented on #89
This should be fixed now:  https://github.com/dotnet/versions/commit/4979fb642f036589bb249c24f7d06b7a8655a208.

I will close the issue when I see a successful PR created with the 'cc'.

[2016-06-05 23:42] JohnChen0 commented on #84
The Ready-to-Run images included in current shared framework are partial NGen images, and do not contain native code for all possible methods. The `COMPlus_PartialNGen=0` environment variable isn't passed to CrossGen during shared framework build. The problem seems to be in the definition of `ExecSilent` method, which isn't passing the env to `ExecCore`.

[2016-06-05 23:44] gkhanna79 commented on #84
CC @brthor

[2016-06-05 23:44] gkhanna79 commented on #84
CC @schellap

[2016-06-06 14:10] eerhardt commented on #84
Fixed by #92

[2016-06-06 14:10] #84 closed

[2016-06-06 18:26] schellap opened #94 "Author msi, deb, osx packages and zips for hostfxr.dll"
1. We need zips, installers and Unix packaging for `hostfxr.dll` as it is a SxS component.
2. `hostfxr.dll` is clubbed with the `dotnet.exe` installer at this point. As we update `hostfxr.dll` we want to deliver it SxS instead of delivering it with the muxer.

Each build should produce this layout and the installers should produce the following layout:

`$DOTNET_ROOT/host/fxr/{version}/{hostfxr li

[2016-06-07 01:16] schellap opened #102 "Release notes link should come from branchinfo.txt"
Currently it is hard-coded in `dir.props`

[2016-06-07 02:56] eerhardt commented on #89
I needed to make the same change in 2 places: https://github.com/dotnet/versions/commit/9e022bde83f64bcc37dc09badcd87e0ae2051962

Maestro now does this correctly.

Closing

[2016-06-07 02:56] #89 closed

[2016-06-07 06:07] schellap commented on #102
Not for rtm.

[2016-06-07 18:18] piotrpMSFT opened #108 "Author servicing patch installer"
We need this for RTM, at the minimum.

CC @leecow @ericstj @schellap @piotrpMSFT

porting from CLI on behalf of @gkhanna79

[2016-06-07 18:22] piotrpMSFT opened #110 "Build DotNetHostPolicy packages with serviceable attribute"
Since we decided not to mark assemblies as serviceable, instead, the packages as serviceable, the host policy package needs to be marked so as well.

@gkhanna79, just filing a tracking issue for RTM.

Ported from https://github.com/dotnet/cli/issues/2582 for @schellap

[2016-06-07 18:26] gkhanna79 commented on #110
I believe @schellap had a PR for this. @schellap Can you comment on its status?

[2016-06-07 20:27] gkhanna79 commented on #94
@piotrpMSFT @ellismg @brthor Is this something that you can help drive since you already are familiar with package authoring across the platforms, as opposed to @schellap ramping up on it?

[2016-06-07 22:19] gkhanna79 commented on #94
@piotrpMSFT I have assigned this to you to route to someone who can help with this.

[2016-06-08 00:15] schellap commented on #110
The PR is in, buildtools is taken, will close post validation on the feed.

[2016-06-08 13:52] gkhanna79 opened #118 "Plugin private builds into Core-Setup and CLI"
For basic E2E validation, currently core-setup needs to consume packages (CoreCLR, CoreFX) to create NETCore.App metapackage and then CLI consumes it to produce the CLI redists/packages - and this is only supported via automation, post commit.

There is no way for a developer to validate if their change will introduce a regression in core-setup or CLI. For example, if one were to build a private C

[2016-06-08 14:43] gkhanna79 commented on #94
@piotrpMSFT @eerhardt What are the next steps on this?

[2016-06-08 14:45] gkhanna79 commented on #108
@leecow Based upon the recent validations @ericstj, @schellap and you have been driving, is there anything required at this point in time?

[2016-06-08 15:53] #20 closed

[2016-06-08 17:01] ericstj commented on #108
We have manually created one.  It's not clear to me if this issue is tracking that and testing or if this is meant to track the infrastructure to make it more repeatable.

[2016-06-08 17:26] pakrym opened #119 "Microsoft.NETCore.DotNetHostPolicy package issue."
After https://github.com/dotnet/corefx/commit/4227a248952518e3588801cb701ff0d188f43947 that removed ubuntu fallbacks `Microsoft.NETCore.DotNetHostPolicy` could not be restored on Ubuntu version different than `14.04` and `16.04`.

@davidfowl @muratg @ellismg @piotrpMSFT @eerhardt

[2016-06-08 17:27] eerhardt commented on #119
@schellap @gkhanna79

[2016-06-08 17:30] ellismg commented on #119
14.04 and 16.04 are the supported distributions for RTM.  The fallbacks we had were incorrect because not every package provides binary compatibily across all versions.  To me, it feels like things are working as designed now.

If Microsoft.NETCore.DotNetHostPolicy wants it could publish for the general "ubuntu-x64" rid if it believed the binary was applicable across all ubuntu versions.

What is

[2016-06-08 17:51] gkhanna79 commented on #119
What was the RID fallback that was in place that is no longer working?

Is there any precedent for it in other packages? Is there any reason for HostPolicy package to support general ubuntu while other native components do not?

[2016-06-08 19:17] ellismg commented on #119
Previously we would fall back from Ubuntu 15.10 -> Ubuntu 15.04 -> Ubuntu 14.10 -> Ubuntu 14.04.  We no longer do that.

I don't understand why this is causing a problem for @pakrym.  Even if this was addressed, every other package in CoreFX/CoreCLR is going to behave the same way.  We don't build or test on any Ubuntu platforms except for 14.04 and 16.04.  The only other native component that I k

[2016-06-08 19:21] ellismg commented on #118
Wouldn't updating the project.json here: `https://github.com/dotnet/core-setup/blob/master/pkg/projects/Microsoft.NETCore.App/project.json` with whatever private version you wanted and then adding an entry to the directory containing that package to the NuGet.Config work?

[2016-06-08 19:28] pakrym commented on #119
This just was the first restore issue we've hit, I thought "non supported" means "we do not grantee that things would" work as opposite to "we would stop things from working", especially since everything worked fine with **rc2** and **preview1** on those systems (15.04).

[2016-06-08 19:31] eerhardt commented on #118
The issue we encountered over and over in the CLI repo was that NuGet attempted to restore for all RIDs specified in the "runtimes" section of a project.json.  Thus, you needed a private version for every RID we support, or else your restore would fail.

To solve that, we generated stub/fake packages for the DotNetHost* packages for the RIDs we didn't have. Here, we would need to create stub/fake

[2016-06-08 20:24] muratg commented on #119
cc @Petermarcu @joshfree

[2016-06-08 20:39] ellismg commented on #119
FWIW, While this component probably works across all Ubuntu versions, we know there are cases where these fallbacks would result in restoring the runtime that failed to boot on platforms (e.g. Ubuntu 15.10)

Is it not possible to force using a rid of ubuntu.14.04-x64 when you are doing the restore here?

[2016-06-08 20:48] brthor opened #121 "HostFxr Fails to resolve hostpolicy from additionalprobingpath on CentOS"
See failures here:
http://dotnet-ci.cloudapp.net/job/dotnet_core-setup/job/release_1.0.0/job/debug_centos7.1_x64_prtest/74

Going to skip the test exposing this issue for the time being.

[2016-06-08 20:57] gkhanna79 commented on #121
And it does not repro on other platforms?

Thanks,
Gaurav

-------- Original message --------
From: Bryan Thornbury <notifications@github.com>
Date: 6/8/16 1:48 PM (GMT-08:00)
To: dotnet/core-setup <core-setup@noreply.github.com>
Subject: [dotnet/core-setup] HostFxr Fails to resolve hostpolicy from cache on CentOS (#121)

See failures here:
http://dotnet-ci.cloudapp.net/job/dotnet_core-setup/job/r

[2016-06-08 21:04] brthor commented on #121
No, CentOS only. @schellap has a good understanding, it seems to have something to do with CentOS rids not falling back to Rhel rids.

[2016-06-08 21:19] gkhanna79 commented on #121
Matt?

Thanks,
Gaurav

-------- Original message --------
From: Bryan Thornbury <notifications@github.com>
Date: 6/8/16 2:04 PM (GMT-08:00)
To: dotnet/core-setup <core-setup@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Comment <comment@noreply.github.com>
Subject: Re: [dotnet/core-setup] HostFxr Fails to resolve hostpolicy from additionalprobingpath on CentOS (#121)

[2016-06-08 21:53] schellap commented on #121
Does this need to be fixed for RTM? Given the "emitEntryPoint" discovery? We do probe the app dir as fallback.

[code]

[2016-06-08 22:07] gkhanna79 commented on #121
@ellismg What are your thoughts on this?

@schellap What is this?

[2016-06-08 22:21] ellismg commented on #121
We have the fallback for CentOS because there is binary compatibility between RHEL and CentOS.  CentOS is a rebuild of RHEL removing Red Hat specific branding.  Note that we have some additional RIDs in the graph that fall back as well (ol, which is Oracle Linux).

[2016-06-08 22:29] gkhanna79 commented on #121
@ellismg So is there any RID fallback bug for CentOS as alluded to above in the RID fallback graph? Or, is the bug in the host not being able to support it @brthor @schellap ?

[2016-06-08 22:32] brthor commented on #121
The `emitEntrypoint` being present in a test app is not guaranteed as xunit tests are actually libraries and the host is not required in the output for it to be runnable. If all else fails it could be a workaround for this scenario however (only on CentOS).

[2016-06-08 23:26] eerhardt commented on #71
This is now fixed by #75.

[2016-06-08 23:26] #71 closed

[2016-06-09 00:19] gkhanna79 commented on #108
This was about going through the servicing patch installer creation and validating it. We can use this to track enabling automation post rtm.

[2016-06-09 00:25] gkhanna79 commented on #41
Coordinating with @ericstj

[2016-06-09 01:04] brthor commented on #33
#97 covers all cases except point 7 above.

[2016-06-09 04:52] gkhanna79 commented on #110
@schellap Close this?

[2016-06-09 04:54] schellap commented on #110
Verified on the feed for latest rc3 packages. Closing...

[2016-06-09 04:54] #110 closed

[2016-06-09 15:21] schellap commented on #41
WIP PR #128

[2016-06-09 16:20] brthor commented on #121
This scenario is only present for the case of standalone test apps (a scenario which may not be important going forward), where hostpolicy.dll needs to be resolved from the `additionalprobingpath`. Given that we have an easy workaround `emitEntrypoint: true`, I don't think this needs to be a blocking bug.

[2016-06-09 16:23] gkhanna79 commented on #121
Thanks @brthor but I am still not clear why is this an issue only on CentOS. Can you please elaborate on it? Is there a RID fallback bug in the fallback graph or the host? If the latter, why does this not show in other platforms?

[2016-06-09 16:27] brthor commented on #121
Hostfxr uses the current rid in an attempt to find hostpolicy from the graph of the application. In the case of CentOS there is no centos hostpolicy package, only rhel, since they are binary compatible. But since hostfxr doesn't know about rid fallback it fails to find hostpolicy.

This would only exist on platforms where we don't ship an explicit host package, but rely on rid fallback.

[2016-06-09 16:31] gkhanna79 commented on #121
Thanks for the explanation @brthor. How come we didnt run into this earlier and only now?

@schellap This sounds like a bug in hostfxr. Do you have a sense of the fix?

[2016-06-09 16:35] brthor commented on #121
Standalone test apps aren't a widely used scenario and it appears we have a gap there in cli testing (all of our test apps are portable). This scenario will become non-existent if standalone were a publish-time decision, and not build time.

[2016-06-09 16:46] gkhanna79 commented on #121
Sounds good.

[2016-06-09 19:03] gkhanna79 commented on #94
@schellap Please sync with @ellismg on how to get this done.

[2016-06-09 19:10] brthor commented on #94
I can help with debs/pkgs here.

[2016-06-09 22:02] brthor commented on #94
@schellap  I pushed a commit to your branch but messed up, squashed my changes and couldn't force push to your branch.

You can pick up my commit here: https://github.com/brthor/core-setup/commit/7ce358a95ee44327b40035a18b0f82ea99560300

I've added the debs, pkgs, publishing of both to azure, publishing of the new deb to the deb repo.

I manually verified installations of both the new debs and pkg

[2016-06-09 22:10] gkhanna79 commented on #94
@brthor you are awesome! Thank you :)

[2016-06-09 22:49] brthor commented on #94
Thanks @gkhanna79 !

@schellap also see here for cli changes
https://github.com/brthor/cli/commit/a8da9011c7e8edb31e0c54bf299cac11eb2cce2b

[2016-06-10 04:36] leecow commented on #108
@gkhanna79 - The patch installer we created for validation was certainly not automated. I'm fine closing this issue from an initial validation perspective as long as we open a larger tracking item for working out the automated infrastructure work.

cc - @ericstj @piotrpMSFT

[2016-06-10 17:32] piotrpMSFT commented on #80
@brthor can this be closed?

[2016-06-10 17:33] #80 closed

[2016-06-10 17:33] #34 closed

[2016-06-10 17:33] brthor commented on #33
Leaving this open to track additional tests which should be added.

[2016-06-10 17:56] brthor commented on #40
@leecow What installer did you use, and how did you find that these files were being left behind?

[2016-06-10 18:03] piotrpMSFT commented on #40
@leecow can you provide @brthor with repro steps to get the results you see above? I assume you installed the preview1 bundle, then uninstalled something via ARP. How did you identify the diff specified above? What ARP entry did you uninstall?

[2016-06-10 20:05] leecow commented on #40
@brthor @piotrpMSFT This would have been installed via the SDK and/or Runtime MSI and uninstalled through ARP. No diff involved, discovered doing manual spelunking through the registry.

[2016-06-11 00:06] brthor commented on #40
First time digging into the MSIs, but with help from @jhendrixMSFT and @ericstj , tracked down the issue to the static component id here:
https://github.com/dotnet/cli/blob/rel/1.0.0/packaging/windows/clisdk/provider.wxs#L5

causing these components not to get removed properly on uninstall. I changed it to be auto generated and confirmed that sXs installation of cli still works, and that the keys

[2016-06-11 15:09] gkhanna79 opened #150 "Multiple System.Private.CoreLib in SharedFW package."
System.Private.CoreLib.dll does not have “.dll” suffix in both core-setup (https://github.com/dotnet/core-setup/blob/6d22159ebd7508bf223d500593b2740d7d030d66/build_projects/shared-build-targets-utils/Utils/Crossgen.cs#L20) and CLI (https://github.com/dotnet/cli/blob/80d3476fd16609a41fde37e4cdaa78e15f659115/build_projects/shared-build-targets-utils/Utils/Crossgen.cs#L19).
 
As a result, https://git

[2016-06-11 15:13] gkhanna79 commented on #41
@schellap Please coordinate with @ericstj on this as it is expected to happen today or tomorrow.

[2016-06-11 15:55] gkhanna79 commented on #94
Reopening to track merge of release branch fix (at https://github.com/dotnet/core-setup/pull/141)

[2016-06-11 18:41] Petermarcu commented on #40
@brthor , @eerhardt let's get this one in. CI is failing on one Linux leg but this has no impact on that so things look green.

[2016-06-11 18:50] Petermarcu commented on #94
Merged

[2016-06-11 18:50] #94 closed

[2016-06-11 18:54] Petermarcu commented on #25
@brthor , when does this need do go in?

[2016-06-11 20:01] #150 closed

[2016-06-11 22:26] joshfree commented on #40
@brthor can this be verified and closed now?

[2016-06-11 23:20] joshfree commented on #119
Setting this to 1.0.0-rtm to force the discussion.  @pakrym can you get back to @ellismg?  running on 14.04 LTS and 16.04 LTS is our story for 1.0.0-rtm.  We can revisit / adjust post 1.0.

[2016-06-12 16:36] joshfree opened #154 "Update core-setup with final libuv package"

[2016-06-12 17:15] gkhanna79 commented on #41
@schellap @ericstj Is this on track as part of @ericstj change for stable versions?

[2016-06-12 17:48] joshfree commented on #40
Closing this for 1.0.0-RTM

[2016-06-12 17:48] #40 closed

[2016-06-12 21:27] joshfree commented on #154
MyGet feed updated.

[2016-06-12 21:27] #154 closed

[2016-06-13 17:53] brthor commented on #25
https://github.com/dotnet/core-setup/pull/155

[2016-06-13 18:40] brthor opened #158 "Fix .gitignore not to ignore `scripts/publish/repoapi_client.sh`"
All in the title

`publish/` is causing this.

[2016-06-13 20:54] gkhanna79 commented on #41
Is this fixed?

[2016-06-13 20:55] schellap commented on #41
Closing...

[2016-06-13 20:55] #41 closed

[2016-06-13 20:56] schellap commented on #41
Fixed by above #128

[2016-06-13 21:17] brthor opened #161 "Debian Package Variable substitution incorrect"
Did manual deb verification post-publishing.

## Steps to reproduce
install 1.0.0 package
apt-cache search dotnet-sharedframework-1.0.0

See
[code]

## Expected  behavior
variables are replaced.

Fix incoming, we will need to delete the current packages on the feed (sharedfx, hostfxr, host) packages before spinning a new build.

This is causing dependency versions to be set up incorrectly as well.

[2016-06-13 21:19] eerhardt commented on #161
/cc @MichaelSimons

[2016-06-13 21:20] brthor commented on #161
#162

[2016-06-13 21:29] brthor commented on #161
Edit: won't need to delete packages, confirmed with repo provider, they'll be overwritten

[2016-06-14 02:29] #25 closed

[2016-06-14 02:29] #161 closed

[2016-06-14 02:42] brthor opened #165 "Add Ubuntu 16.04 debian packages"

[2016-06-14 04:12] brthor opened #167 "Get Docker on ubuntu 16.04 Jenkins CI machines"
See #164

Docker is not available on Jenkins CI machines so we cannot build ubuntu 16.04 debian packages.

[2016-06-14 07:02] joshfree commented on #165
/cc @piotrpMSFT @Petermarcu

[2016-06-14 07:03] joshfree commented on #167
@piotrpMSFT @Petermarcu

[2016-06-14 07:12] brthor commented on #165
This is fixed.

[2016-06-14 07:12] #165 closed

[2016-06-14 07:12] brthor commented on #165
[code]

[2016-06-14 07:32] piotrpMSFT commented on #167
This doesn't block us from building the packages in VSO. We still get the packages, but have to do a workaround in Jenkins CI.

/cc @livarcocc

[2016-06-14 08:01] brthor opened #169 "FinalizeBuild Semaphore is based on version"
This causes multiple 1.0.0 builds not to update Latest

[2016-06-14 14:57] piotrpMSFT commented on #169
fixed by #168

[2016-06-14 14:57] #169 closed

[2016-06-14 23:49] joshfree opened #172 "Review licenses and attributions"

[2016-06-15 16:56] gkhanna79 opened #174 "Sign the muxer (dotnet.exe)"
Currently, dotnet.exe is not signed since it is used by CLI for standalone apps. We need to determine how to enable "muxer" scenario to have signed binary and standalone scenarios do not run into issues with signing.

CC @piotrpMSFT @joshfree @leecow @ericstj

[2016-06-15 18:17] ellismg commented on #167
I can take care of this after RTM.

[2016-06-15 18:22] eerhardt opened #176 "Need to bump Microsoft.NETCore.App version in master"
The 'master' branch currently has Microsoft.NETCore.App versioned as "1.0.0-rc4", but we've already released "1.0.0".

We need to bump the first 3 digits to be higher than "1.0.0".

[2016-06-15 18:24] weshaggard commented on #176
@ericstj I assume this is in your list of version bumps you are working on but if not and you need assistance I can pick-up this work.

[2016-06-15 18:38] ericstj commented on #176
Could you pick up core-setup?  I'm going to do CoreFx, WCF, and TFS.

[2016-06-15 18:42] weshaggard commented on #176
Yes I will pick it up.

[2016-06-15 20:50] gkhanna79 opened #177 "Update host for OS specific security considerations"
Based upon discussions with Reid.

[2016-06-16 00:16] joshfree commented on #172
Fixed by @mellinoe with https://github.com/dotnet/core-setup/pull/175 and https://github.com/dotnet/core-setup/pull/173

[2016-06-16 00:16] #172 closed

[2016-06-16 01:53] schellap opened #181 "HostFXR.dll is published to Azure under SharedFX version"
## Steps to reproduce

Download:
https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.1/dotnet-hostfxr-win-x86.1.0.1.zip

You get a 404.
## Expected  behavior

https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.1/dotnet-hostfxr-win-x86.1.0.1.zip
should succeed
## Actual behavior

https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0/dotnet-hostfxr-wi

[2016-06-16 01:54] schellap commented on #181
Fixed by #180

[2016-06-16 06:36] gkhanna79 commented on #181
Marking for RTM to understand if this is required.

[2016-06-16 07:23] joshfree commented on #181
FYI @mellinoe

[2016-06-16 16:30] gkhanna79 commented on #181
Based upon offline discussion with @eerhardt, this is not required to be fixed for RTM. Thus, I am moving  the bug to 1.1.0 and closing the associated PR (https://github.com/dotnet/core-setup/pull/180).

[2016-06-16 17:20] eerhardt opened #183 "The "latest" folder in Azure for core-setup doesn't contain the exact artifacts as "1.0.0""
Download https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/Latest/dotnet-debian-x64.latest.tar.gz

Download https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0/dotnet-debian-x64.1.0.0.tar.gz

Compare byte-for-byte, these two artifacts should be the same.

I think the issue is because "FinalizeBuild" gets confused because we've run multiple builds on the same build n

[2016-06-16 17:21] eerhardt commented on #183
We should be able to fix this in Azure, no code changes needed and no need to run a new build.

[2016-06-16 17:45] brthor commented on #183
These two artifacts should be the same, but FinalizeBuild is now based on a commit hash:
https://github.com/dotnet/core-setup/issues/169

More important, are the myget bits getting updated

[2016-06-16 19:45] piotrpMSFT commented on #183
for `1.0.0-rtm` we will fix this offline

[2016-06-17 02:25] schellap opened #185 "Support UTF-16 encoding for global.json"
The deps.json, runtimeconfig.json files are build generated, but global.json is user generated. So this can be encoded in UTF-16.

See https://github.com/dotnet/cli/issues/2159

[2016-06-17 02:27] schellap commented on #185
Cc @naamunds

@blackdwarf could you please call this out in `1.0.0` Release Notes that the global.json file should be in UTF-8. This is the encoding VS uses, but powershell could write a text file in UTF-16.

[2016-06-17 02:28] schellap commented on #185
Cc @piotrpMSFT

[2016-06-17 18:29] piotrpMSFT commented on #183
Fixed.

[2016-06-17 18:29] #183 closed

[2016-06-17 21:28] schellap opened #186 "Strip symbols for x-plat assemblies and publish as NuPkgs"
## Steps to reproduce

`objdump -t libhostpolicy.so`
## Expected  behavior

Similar to coreclr,
`objdump -t libcoreclr.so`
and a separate file for the symbol information.

This separate file needs to be archived in symbol nupkgs like Windows .pdbs
## Actual behavior

`objdump -t libhostpolicy.so`
contains the full symbol table.
## Environment data

`dotnet --info` output:
Microsoft.NETCore.App 1.0

[2016-06-20 18:20] ericstj opened #189 "Add package installers"
We need to produce the following in the core-setup repo:
~~1. WixLib for machine wide package folder / fallback packages folder.~~
~~2. MSI for UWP packages~~
3. MSI for .NET core packages.

/cc @MichaelSimons @jhendrixMSFT

[2016-06-22 13:00] blackdwarf commented on #185
/cc @leecow @joshfree for visibility.

Sure, I will add this to the release notes.

[2016-06-23 17:46] anurse opened #191 "dotnet.exe fails to load hostfxr.dll on Windows Server 2008 R2 Server Core"
## Steps to reproduce
1. Provision/find/etc. a machine running Windows Server 2008 R2 Server Core
2. Install the Windows x64 Installer from https://github.com/dotnet/cli/blob/rel/1.0.0/README.md
3. Upon completion, run "C:\Program Files\dotnet\dotnet.exe --help"

## Expected  behavior
The help page is displayed

## Actual behavior
Error message

[code]

## Environment data
`dotnet --info` output:

[2016-06-23 17:51] gkhanna79 commented on #191
CC @schellap

@anurse Does hostfxr.dll exist in that location?

[2016-06-23 17:52] anurse commented on #191
Yes. I will confirm, but it appears to be present.

[2016-06-23 17:53] gkhanna79 commented on #191
And do you have uCRT installed?

[2016-06-23 17:55] schellap commented on #191
How did you install? Unzip? You need https://support.microsoft.com/en-us/kb/2999226

The SDK setup would install this for you through VC 2015 redist chaining.

[2016-06-23 19:09] anurse commented on #191
I used the EXE

[2016-06-23 20:00] anurse commented on #191
Repurposed this issue to cover adding a check to the installer. This issue is fixed by applying KB2533623, which is a security update, so the installer should indicate that this fix is required if it is not installed.

[2016-06-24 17:48] gkhanna79 opened #193 "Host should not pass App_Paths and App_Ni_Paths"
In RC2, the host used to load everything from the app-local unconditionally, which we fixed to load only the assemblies specified in app.deps.json.

However, the host continues to pass app_paths and app_ni_paths to the runtime (https://github.com/dotnet/core-setup/blob/22c97b59b6442eb3454c9a1407b6de91ca11eaa2/src/corehost/cli/hostpolicy.cpp#L70). This means if the application carried additional as

[2016-06-25 02:30] schellap opened #194 "Host is not adding "project" dependencies to TPA"
## Steps to reproduce

`dotnet new`
Edit project.json and remove type: platform to make it standalone
[code]

Replace "package" to "project" for the CoreCLR runtime reference in "libraries" section of `app.deps.json`

[code]

## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
`dotnet --info` output:

[code]

## Notes
* This works in 1.0.0 because of #193
* This bug could

[2016-06-25 02:45] schellap commented on #193
**Note** when fixing this issue, provide adequate compat switches...

[2016-06-28 08:43] mellinoe opened #196 "Consider providing a "GUI" version of dotnet.exe"
Currently, dotnet.exe unconditionally spawns a console window on Windows. This can be annoying / problematic if you are building an app which creates its own UI, or for some other reason do not want a console window to be created. It's possible to "dismiss" the console after it is spawned, but this results in an undesirable "flicker" on app startup.

In practice, this simply means linking against

[2016-06-28 13:40] gkhanna79 commented on #196
Can you share more details on what needs this?

[2016-06-28 17:47] mellinoe commented on #196
This is just motivated by my own uses currently, but I expect that this will become a more common now that RTM is out. The only alternative right now is to build a host yourself. The complexity of the shared host (and its friends), and the size of our runtime support list is high enough that forking is a pretty daunting task.

Anyways, I mainly just wanted to poke at our thoughts here for future u

[2016-06-29 00:40] piotrpMSFT commented on #185
@schellap it looks like @pakrym added a test asset to dotnet/cli which exhibited this scenario. However, I don't see an associated test being created so it did not get moved when @brthor moved host tests to dotnet/core-setup. I'm going to be removing the test asset from CLI since we don't need it anymore. However, here is the commit so you can grab it as needed.

https://github.com/dotnet/cli/comm

[2016-06-30 16:34] eerhardt opened #198 "dotnet.exe host should have a --debug switch"
## Steps to reproduce
It is too hard to debug applications when they aren't launched from VS.  Today, you need to add some "Console.ReadLine()" calls in order to have the process wait for you to attach to the process.

## Expected  behavior
There should be an easy way to say "launch this .net core app and attach a debugger" or "wait for a debugger to be attached".

## Actual behavior
This isn't po

[2016-06-30 16:52] gkhanna79 commented on #198
@eerhardt Are you not able to use VS debugger do the same by pointing it to a command line?

[2016-06-30 17:03] eerhardt commented on #198
That approach is less than ideal because:

1. I need to create a dummy project so I can tell VS to "point to a command line"
2. I need to ensure I created a .NET Core dummy project.
 - If I use a Windows Desktop C# console app I get an error:
[code]
3. Maybe I don't have VS, and I only have WinDBG, or some other debugger.  When I move my app into "production" or off of my dev box, I don't want to

[2016-06-30 17:06] blackdwarf commented on #198
@eerhardt so, in summary, the proposal is to, at least, have an easy way for people to get a PID of the host running?

[2016-06-30 17:06] eerhardt commented on #198
BTW - without this 'feature', folks have been inventing it themselves by using `DebugHelper.HandleDebugSwitch` and copying that file around.

See https://github.com/search?p=3&q=org%3Adotnet+DebugHelper&type=Code for all the places it is used in our 'dotnet' repos today.

[2016-06-30 17:07] eerhardt commented on #198
AND pause the app until I say "GO"

[2016-06-30 17:09] blackdwarf commented on #198
@eerhardt got it. The pause part is actually the more useful one, as getting the PID can be done in different ways. I have to say, this could be useful actually, from a user's POV.

[2016-06-30 17:38] schellap commented on #198
@eerhardt trying to understand this ask... how did desktop framework work without this feature?

AFAIK, no program suspends on its own for a potential debugger attach, so why should a managed program host do this?

[2016-06-30 19:30] eerhardt commented on #198
See my link above.  That shows at least 3 programs that we wrote in the CLI and in core-setup.

Also, CoreRun.exe does this today:

[code]

I won't go searching for all the programs in the world that do this, but suffice it to say, this seems valuable to a lot of people if we have that DebugHelper class, and CoreRun.exe implemented it. And the only reason I knew about CoreRun.exe is because @raine

[2016-06-30 19:38] rainersigwald commented on #198
@schellap The problem is that it's easy to `vsjitdebugger.exe MyProgram.exe` or `windbg.exe MyProgram.exe` or set ImageFileExecutionOptions to break into the start of a desktop executable. Those are much less desirable here because I don't want to step into the CLR host--I want to step into my program.

Also, every program I maintain has a clause [like this](https://github.com/Microsoft/msbuild/bl

[2016-06-30 19:51] schellap commented on #198
@rainersigwald and @eerhardt, thanks. We can bake this in with some switch that doesn't conflict with dotnet.dll.

@eerhardt, sorry... I wanted to call out that most programs native or managed (incl. Desktop apps) don't have this support, for these handful of programs you quoted. They are being debugged fine... did not ask to list what programs do this today.

[2016-07-02 11:47] mmc41 opened #200 "Installer for Mac OSX should be self-contained and not require brew / openssl"
The current installer for Mac says this "In order to be able to use .NET Core on OS X, you need to install OpenSSL version 1.0.1/1.0.2. There are many ways to install/update your libssl. Using Homebrew is the easiest. You can view the instructions here or if you're updating, on this page."

It is quite a hurdle to get brew installed and opensll updated. For me both failed. First brew failed updati

[2016-07-05 16:01] gkhanna79 commented on #198
I guess I still have more questions to understand this better. If the goal is to attach the debugger before any managed application is launched, then doing "windbg dotnet <app.dll>" is equivalent to what you are requesting for.

@rainersigwald Can you please explain your workflow while using the switch? Is it the case that you do not own the process that launches the application?

[2016-07-05 16:28] rainersigwald commented on #198
@gkhanna79 I use this all the time to debug unit tests with xunit: `corerun /d xunit.console.netcore.exe ...`.

I like being able to use VS to debug using the session I'm using to develop, with persistent breakpoints and mental state built up over multiple runs of the program under test. But when the entry-point application is a netcore app that's not my code, it's really inconvenient to set VS up

[2016-07-08 08:02] sec opened #204 "Wrong symlinkEntrypointExecutable define for FreeBSD"
Defined in - src/corehost/common/pal.unix.cpp
Under FreeBSD this should be - /proc/curproc/file

The same is for CoreCLR - https://github.com/dotnet/coreclr/issues/6184

[2016-07-08 15:54] gkhanna79 commented on #204
CC @janvorli

[2016-07-08 17:25] janvorli commented on #204
We should not be using procfs on FreeBSD, since it is not turned on by default. We should rather follow the NetBSD way and use the sysctl with KERN_PROC_PATHNAME.
NetBSD build falls back to procfs if the KERN_PROC_PATHNAME is not defined, but I don't know if that's necessary for FreeBSD too.

[2016-07-13 23:50] parjong opened #211 "Build failure on Ubuntu 14.04"
## Steps to reproduce

,/build.sh
## Expected  behavior

Provide binaries
## Actual behavior

[code]
## Environment data

`dotnet` is not installed, yet. I used ubuntu 14.04 on x86_64 machine.

[2016-07-13 23:59] parjong commented on #211
It seems that the issue is related with ``tmux``. The above log comes inside ``tmux``. When I run the build outside ``tmux``, it still shows some strange messages, but provides binaries:
[code]

[2016-07-16 07:52] schellap opened #215 "Disallow dotnet.exe to load standalone apps and sxs hostfxr"
## Steps to reproduce

[code]
## Expected  behavior

Using dotnet.exe should produce an error that it cannot load standalone app.
Apphost.exe must be used.

Also make sure dotnet.exe doesn't load sxs hostfxr.dll

## Actual behavior

dotnet.exe can still load executables under own name.
## Environment data

`dotnet --info` output:

[2016-07-16 07:58] schellap commented on #215
See PR #212 and related to https://github.com/dotnet/cli/issues/3850

[2016-07-16 07:59] schellap commented on #174
Blocked by https://github.com/dotnet/core-setup/issues/215 and https://github.com/dotnet/cli/issues/3850

[2016-07-16 08:25] schellap opened #216 "Flag error when apphost.exe's default hash is not invalidated"
This is about neutering the apphost.exe by default.
## Steps to reproduce

[code]
## Expected  behavior

The `c3ab8ff13720e8ad9047dd39466b3c8974e592c2fa383d4a3960714caef0c4f2` signature in its resource section should be replaced with another SHA256.

Otherwise the app.dll should not load.
## Actual behavior

Currently, app.dll is loaded even if the hash is not replaced (i.e., the exe is still neut

[2016-07-16 08:29] schellap opened #217 "Fix dependency of DotNetHostResolver to resolve to DotNetAppHost"
## Steps to reproduce

dotnet new
dotnet restore
## Expected  behavior

The project.lock.json contains only apphost.exe and not dotnet.exe
## Actual behavior

The project.lock.json contains both the executables
## Environment data

`dotnet --info` output:

Blocked on https://github.com/dotnet/cli/issues/3850

[2016-07-16 09:01] schellap commented on #215
https://github.com/dotnet/core-setup/blob/cc564bd08a1f76be06b5d4a9bfc6dc0eb593d613/src/corehost/cli/fxr/fx_muxer.cpp#L832

Remove the `is_dotnet_host`

[2016-07-16 09:02] schellap commented on #217
Remove https://github.com/dotnet/core-setup/blob/cc564bd08a1f76be06b5d4a9bfc6dc0eb593d613/pkg/projects/Microsoft.NETCore.DotNetHost/Microsoft.NETCore.DotNetHostResolver.pkgproj#L16

[2016-07-16 09:04] schellap commented on #216
https://github.com/dotnet/core-setup/blob/cc564bd08a1f76be06b5d4a9bfc6dc0eb593d613/src/corehost/common/pal.windows.cpp#L348-L349

Change warning to error and return false.

[2016-07-16 19:41] josteink commented on #204
This was actually fixed in the following PR and is now merged to master:

https://github.com/dotnet/core-setup/pull/213

I suggest closing this issue.

[2016-07-17 18:45] #204 closed

[2016-07-17 20:38] schellap commented on #174
Before signing, we must also prevent loading of all hostfxr.dll that don't do any checks and freely allow standalone loads. This includes hostfxr.dll 1.0.0 upto now.

The way to fix this would be to: make a new hostfxr.dll set a field on `hostfxr_interface_t` called `allow_signed_dotnet` in `hostfxr_load`. This field will be initialized to false by the new dotnet (before signing) when passing the

[2016-07-18 06:06] bluemmc commented on #200
Dot net core on Mac should embed dependencies like OpenSSL. Otherwise self-contained application (XCOPY deployment) will NOT work as advertised

[2016-07-21 19:50] sec opened #223 "Undefined symbol "pthread_create" under FreeBSD when running apps"
When running core apps using dotnet cli under FreeBSD I get:
`/usr/home/asus/sdk/shared/Microsoft.NETCore.App/1.0.0/System.Native.so: Undefined symbol "pthread_create"`

The fix is to link pthread, adding following code to https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/exe/CMakeLists.txt fixed this for me:
[code]

[2016-07-23 05:32] Mark92630 opened #225 "Mac OS X 10.11.6 install fails"
## Steps to reproduce

https://www.microsoft.com/net/core?wt.mc_id=AID531812_EML_4418735#macos

## Expected  behavior

$ dotnet run
will execute successfully

## Actual behavior

Unhandled Exception: System.IO.FileNotFoundException: Could not load file or assembly 'System.Console, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The system cannot find

[2016-07-27 03:15] eerhardt opened #228 "DotNetHost can't handle a trailing slash in additional probing paths"
## Steps to reproduce

Build an app that has a dependency on Newtonsoft.Json.

[code]

Ensure the runtimeconfig.dev.json file is deleted.  Execute your app like below:

[code]

Note this applies to the `additionalProbingPaths` in runtimeconfig.dev.json as well.
## Expected  behavior

Both commands should work successfully since `C:\Users\eerhardt\.nuget\packages` and `C:\Users\eerhardt\.nuget\pack

[2016-07-27 15:41] ericstj opened #229 "Portable apps for binary-compatible RIDs"
Opened from discussion on https://github.com/dotnet/corefx/pull/10348.

Consider a RID like `ubuntu.16.10-x64`.  We don't specifically cross-compile for this, instead we use a previous build of ubuntu, `ubuntu.16.04-x64`, and that's expected to work for coreclr/corefx/core-setup native components.

Folks upstack, however, can use the `ubuntu.16.10-x64` RID in their packages if they need to disting

[2016-07-27 16:44] ellismg commented on #229
Just to be clear, for `ubuntu.16.10-x64` we do expect to cross compile, correct?  Looking at the existing runtime.json file, it looks like that is what we expect.  However, for something like `linuxmint.18-x64` which is parented to `ubuntu.16.04-x64`, we have this problem?

[2016-07-27 17:29] mellinoe commented on #229
Thanks for opening this.

Yep. linuxmint18 is the only one we can re-use packages for, I think.

Yes, I think so, and also for existing "binary-compatible rids", like linuxmint17 -> 17.3. I'm guessing that the host will just see these as ubuntu14.04 currently.

[2016-07-27 17:51] schellap commented on #229
If 2 rids are binary compatible, then wouldn't the package already provide the assets in the lowest compatible rid (ex: `win7-x64`), in which case the lower rid in the host will select these assets?

If this is not the case, for compatible rids, the host has to be built/released on the highest rid machines from the lab, so its own baked-in rid can be used to lookup into the rid fallback graph as t

[2016-07-31 18:25] wjk opened #230 "Question: Locating host bits"
I was examining the behavior of core-setup and .NET CLI in regards to publishing an app that references `Microsoft.NETCore.App` as a platform reference. I have observed two different behaviors, neither of which exactly align with my goals for this kind of deployment:
1. If I deploy the app using a `"type": "platform"` reference in the `project.json`, .NET CLI copies only the project DLL into the `

[2016-08-01 17:37] gkhanna79 commented on #229
@schellap I think the intent is to enable picking up higher RID assets, if available.

@ericstj @mellinoe @schellap is correct that for such a case the host will need to be rebuilt. During the design of this aspect, the underlying premise was that .NET Core will be rebuilt whenever we have to support a new RID to account for the highest RID available at the time of build.

This discussion implies

[2016-08-02 18:18] joshfree commented on #200
@blackdwarf @bartonjs @Priya91

[2016-08-06 04:57] mellinoe commented on #230
Related: https://github.com/dotnet/core-setup/issues/196

Is your main motivation behind creating a custom host to avoid creating a console window, or are there additional reasons for that? I.e. is part of you application going to be written with native code, or would the host's only real job be to launch the CLR?

Building a custom host is an option, but I think it's going to be extremely hard to

[2016-08-06 18:22] wjk commented on #230
@mellinoe Yeah, my main motivation is to avoid creating a console window. I do have to use a bit of C++ code to implement my app's features, but as long as I can easily P/Invoke into those DLLs, I don't need any special support in the entry point.

[2016-08-06 18:33] wjk commented on #196
👍 I need this for my projects as well. I would recommend copying the functionality in `corehost.cpp` re finding and loading `hostfxr.dll` into a custom GUI-based entry point (i.e. an executable that uses `WinMain`), and trampolining into that DLL as the current corehost program does. This would be needed because GUI applications usually don't get any parameters passed to them. Hence, I would need

[2016-08-07 14:23] gkhanna79 commented on #196
Do note that copying hostfxr.dll into the application is only supported for standalone apps its related invariants - runtime is next to it, so is the jit and so on. Hostfxr.dll, when not used in standalone scenario, expects the layout in which Microsoft.NETCore.App is installed to do the same lookup.

I think what you are looking for the following:

1) Get location of hostfxr.dll on a machine
2) P

[2016-08-07 14:23] gkhanna79 commented on #230
Please have a look at my comment in #196 - will that work for your scenario?

[2016-08-07 19:42] wjk commented on #196
@gkhanna79 Yes, this is exactly what I need. As long as I have a solid, future-proofed, hopefully Linux-compatible way of finding hostfxr.dll, that technique will work great.

[2016-08-09 16:46] naamunds opened #233 "update-dependencies.ps1 uses nonexistent CLI channel"
[update-dependencies.ps1](https://github.com/dotnet/core-setup/blob/master/build_projects/update-dependencies/update-dependencies.ps1) invokes dotnet-install.ps1 from CLI with the "preview" channel:
`& "$RepoRoot\artifacts\dotnet-install.ps1" -Channel preview -Architecture $Architecture -Verbose`

This channel no longer exists, causing this to fail.

In https://github.com/dotnet/core-setup/commit/

[2016-08-10 22:14] brthor opened #234 "Bash Build script should download install script"
The build.sh file is using a copied version of the cli install script:
https://github.com/dotnet/core-setup/blob/master/build_projects/dotnet-host-build/build.sh#L97

This was changed here:
https://github.com/dotnet/core-setup/commit/5caaef7647fee38da701f3772aa3e710ddd10ccc#diff-7b84801f06d5633f2cf51f06931e27c8

We should integrate whatever changes went into the install script in cli (not sure wha

[2016-08-10 22:17] brthor commented on #234
Looks like windows and linux are pulling different channels, and getting different CLI binaries.

https://github.com/dotnet/core-setup/blob/master/build_projects/dotnet-host-build/build.ps1#L69

[2016-08-13 18:25] WaelBassem commented on #191
@anurse
I had the same issue on Windows 7 x64 and once I installed IE 11 it's fixed :).

[2016-08-23 23:49] dagood opened #238 "Automatically create meta-packages when new builds available on dotnet/versions"
core-setup should produce meta-packages for the latest builds on dotnet/versions.

This probably means kicking off builds with [Maestro](https://github.com/dotnet/versions), to trigger when a new applicable build is finished. Rebuilding isn't enough, though, since core-setup currently uses commit-count versions. To produce uniquely versioned meta-packages, we need to either:
1. Change to use a dif

[2016-08-24 18:32] dagood commented on #238
Note after talking with @MattGal: however this goes, the build pipeline should be what's triggered (for telemetry), rather than the current way where each leg has its own GitHub commit trigger. It seems like a good time to make sure this change happens.

[2016-08-29 18:50] weshaggard commented on #238
cc @ramarag who will be working on the core-setup engineering.

When we convert this repo to using BuildTools we should switch to the same versioning scheme we use everywhere else we use BuildTools.

[2016-08-30 15:46] dagood commented on #238
@weshaggard Are you thinking that this issue should wait until that's complete and use option (1) above? Some more of my thoughts on the options:

Repeatability isn't typical with (1)--listing the versions repo sha used inside the meta-package description would make it possible, but not as straightforward as checking out a commit and building. Since the meta-packages are basically sets of versions

[2016-08-31 00:02] weshaggard commented on #238
@dagood yes I think this issue can wait until we get the build in order. Generally for the meta-packages we are very explicit about the versions anyway so we may not even want their dependencies to be fully automated all the time.

[2016-09-02 03:29] wjk commented on #200
I stumbled upon this issue just now and decided to add my 2¢. I wholeheartedly agree with @bluemmc regarding the XCOPY deployment, which was one of the greatest features of .NET Core to begin with. Checking the build script for this library in question in corefx reveals that [it uses `install_name_tool` to search for libcrypto/libssl in the same directory as the corefx dylib](https://github.com/do

[2016-09-02 21:39] bartonjs commented on #200
@wjk There are two conflicting models at play here:

1. Don't have external dependencies / be xcopyable
2. Security updates to cryptographic components should apply without re-releasing a product

Let's say a new vulnerability is found in TLS (happens every couple of years).  By using loose dynamic linking whenever the system copy gets upgraded (via brew, apt-get, emerge, et cetera) then .NET proj

[2016-09-12 17:17] dagood opened #253 "When auto-updating, update a single PR when possible"
This should happen "for free" when changing core-setup to use buildtools. This issue tracks making sure auto-PRs get set up correctly.

[2016-09-12 18:24] gkhanna79 commented on #253
@ramarag Please sync with @dagood on this.

CC @schellap

[2016-09-12 21:13] wtgodbe opened #256 "Move Core-Setup build definitions from MSENG to VSO"
CoreCLR and CoreFX have their build definitions in VSO - we should do the same from Core-Setup. The pipebuild definition for Core-Setup is already in VSO, so it's just a matter of replicating the existing MSENG definitions in VSO. I actually plan on refactoring those definitions first, as well.

[2016-09-12 23:05] eerhardt commented on #256
The reason core-setup's build definitions are on MSENG is because it has special signing requirements (I think it is windows installers that are the problem). In order to sign correctly for core-setup, we are calling the `Microsoft Code Signing` VSO build step, which isn't available on devdiv.visualstudio.com (and the owners of devdiv tenant didn't want to enable it).

So signing will need to be f

[2016-09-12 23:10] gkhanna79 commented on #256
CC @weshaggard

[2016-09-12 23:13] wtgodbe opened #259 "Pull in versioning logic from BuildTools to allow more than one build per-commit in Build Pipeline"
We need to be able to have more than one build of core-setup per commit in the build pipeline - this involves bringing in versioning logic from buildtools.

CC @dagood @gkhanna79 @ramarag

[2016-09-15 23:06] gkhanna79 opened #274 "Cleanup dotnet.exe presence from SharedFW"
CC @blackdwarf

[2016-09-16 01:56] dagood opened #275 "Upgrading PlatformAbstractions dependencies causes test error: "Could not load file or assembly 'System.IO.FileSystem...""
## Steps to reproduce
 1. Upgrade dependencies in `src\Microsoft.DotNet.PlatformAbstractions\project.json` to above 1.0.0 RTM. (Or check out dagood:repro-update then rebase on release/1.1.0 to avoid unrelated errors.)
 2. Build, running tests.

## Behavior
Get the following error when running `HostActivationTests`:
[code]
Same for `Microsoft.Extensions.DependencyModel.Tests`.

See https://github.c

[2016-09-16 14:21] gkhanna79 commented on #275
As discussed yesterday, I have marked this bug blocking both release and servicing. We need to get a resolution for this at the earliest and consider taking those fixes to release/1.0.0 servicing branch as well. When ready to do so, please coordinate with @wtgodbe and me.

CC @leecow @livarcocc @piotrpMSFT @eerhardt @weshaggard

[2016-09-16 14:34] Innocence opened #276 "Install .NET Core failed"
Setup Failed

One or more issues caused the setup to fail.Please fix the issues and then retry setup.
For more information see the log file.

[2016-09-16 18:23] brthor commented on #275
My suspicion here based on conversation yesterday was that the DependencyContextLoader is merging sharedfx and app deps.json incorrectly.

@livarcocc Said he will take a look at this later today.

[2016-09-16 18:49] naamunds opened #279 "Builds should publish checksums for artifacts"
The core-setup builds should be producing SHA hashes for the various artifacts that customers would download on their machine. This will allow them to do checksum verification to ensure MITM has not occurred.

This is needed for the [.NET Dockerfiles](https://github.com/dotnet/dotnet-docker) as it is part of the criteria for making the .NET images official Docker images.

This issue corresponds to

[2016-09-16 19:01] mellinoe commented on #276
There isn't enough information here for us to help you. Could you provide some of the following?

* Operating system type, version, etc.
* Which installer you used
* What the logs mentioned contain

[2016-09-16 20:21] gkhanna79 opened #283 "Transition Core-Setup build to MSBuild/BuildTools"
CC @schellap

[2016-09-19 16:43] joperezr opened #298 "Need to generate a Compatibility package from mscorlib-based frameworks to contracts"
Internally we used to produce the package `Microsoft.NETCore.Portable.Compatibility.nupkg` that worked as a facade between mscorlib based frameworks (like Desktop or Xamarin) and a Contract based world (.Net Core, UWP). We turned the build of that package off internally, so we need to add it into this repo instead, which is what this issue is going to track.

cc: @ericstj @weshaggard @danmosemsft

[2016-09-19 20:31] naamunds opened #300 "Running `dotnet --version` outputs full usage help"
## Steps to reproduce
1.  Install the .NET Core Shared Framework Host.
2.  Run `dotnet --version`.
## Expected  behavior

Just the .NET Core version info is output:

## Actual behavior

The full usage help is output, like if running `dotnet --help`.

## Environment data

`dotnet --info` output:

[2016-09-19 23:53] gkhanna79 commented on #229
@ericstj Is this required for 1.1.0?

[2016-09-19 23:56] #193 closed

[2016-09-19 23:57] #194 closed

[2016-09-20 00:41] weshaggard commented on #176
Yes this was already done.

[2016-09-20 00:41] #176 closed

[2016-09-20 03:52] gkhanna79 commented on #189
@ericstj Is this required for 1.1.0? Does not seem like that but want to confirm.

[2016-09-20 03:55] gkhanna79 commented on #234
@brthor Is this intended to be fixed for 1.1.0?

[2016-09-20 03:56] gkhanna79 commented on #238
@dagood We dont intend to make fundamental engineering changes for 1.1.0. Should this be moved to 1.2.0?

[2016-09-20 14:37] dagood commented on #238
@gkhanna79 Definitely. Moved.

[2016-09-20 17:08] jhendrixMSFT commented on #189
@ericstj FYI I'm no longer on the .NET team, can you work with Mark to find the correct owner for this work item?

[2016-09-20 17:22] dagood opened #306 "Publish signed packages through finalize mechanism"
Right now, some packages are published by build tasks in the build legs. It doesn't seem necessary, and this should be changed to publish them through the Finalize mechanism used for other package publishes.

This would fix a build issue where the nuget.exe version used by the build task is old:

[code]

[2016-09-20 17:22] ericstj commented on #229
@mellinoe might know more here as he's been scouting new distros.

[2016-09-20 17:56] mellinoe commented on #229
Most RIDs aren't binary-compatible, so it's not a big deal. It sounds like the current design implies that we are going to need to compile for each binary-compatible distro independently at some point. Given that there's so few of them, I'm not sure it will ever actually be worth it.

[2016-09-20 17:59] ericstj commented on #229
@mellinoe what about for solving the bootstrapping problem?  Perhaps even just exposing a couple things like "active RID" and "RID fallback" as env variables that folks can set?

[2016-09-20 18:50] brthor commented on #234
Yes this should be fixed so that the windows and linux builds are running on the same version of cli binaries.

Otherwise we may see some weird differences between the builds.

[2016-09-20 18:51] gkhanna79 commented on #234
Who has context on the CLI changes to these scripts and can help bring the changes over?

[2016-09-20 18:54] brthor commented on #234
Anyone with some bash knowledge can revert this change:
https://github.com/dotnet/core-setup/commit/5caaef7647fee38da701f3772aa3e710ddd10ccc#diff-7b84801f06d5633f2cf51f06931e27c8R94

The platforms which have been added only to the core setup install script need to also be committed to the official install script in the cli.

[2016-09-20 18:55] brthor commented on #234
The powershell scripts are already doing this:
https://github.com/dotnet/core-setup/blob/master/build_projects/dotnet-host-build/build.ps1#L102

[2016-09-20 19:25] gkhanna79 commented on #234
Which platforms are you referring to?

[2016-09-20 20:12] brthor commented on #234
These ones: https://github.com/dotnet/core-setup/blob/master/scripts/obtain/dotnet-install.sh#L59

cc @mellinoe @ellismg

[2016-09-20 20:18] gkhanna79 commented on #234
@wtgodbe Can you please work with @brthor  to get this addressed in master (for CLI and Core-Setup) and then port the Core-Setup fix to release/1.1.0?

[2016-09-22 18:13] terrajobst opened #325 "Update shared framework to support .NET Standard 2.0"
This is meant to be a tracking issue for adding the necessary support in order to support .NET Standard 2.0. We're still working on the details. I'll update this issue once we have the details sketched out.

[2016-09-22 18:21] weshaggard commented on #325
This needs to include ValueTyple as well.

[2016-09-22 18:57] dagood opened #327 "Parallel restore HTTP timeout failure"
During xplat builds that use docker containers, sometimes `dotnet restore` results in an error like this:
[code]

Using `--disable-parallel` with a recent version of NuGet is the known workaround: https://github.com/NuGet/Home/issues/2945.

[2016-09-24 16:40] xrkolovos opened #347 "Cant install .net core on Ubuntu Server 16.04.1 LTS"
## Steps to reproduce
I just make a clean installation of Ubuntu Server 16.04.1 LTS.
i followed this guide -> [https://www.microsoft.com/net/core#ubuntu](https://www.microsoft.com/net/core#ubuntu)
and when i am running  sudo apt-get update
i get this error
N: Ignoring file 'dotnetdev.listsudo' in directory '/etc/apt/sources.list.d/' as it has an invalid filename extension
W: http://repo.ajenti.org

[2016-09-24 17:10] gkhanna79 commented on #347
@mellinoe Can you PTAL?

[2016-09-25 00:50] mellinoe commented on #347
I just tried the steps on a VM here and they worked fine for me. @brthor or @blackdwarf might know more about the Debian installers specifically.

Here's the output I saw:

[code]

[2016-09-25 19:35] blackdwarf commented on #347
@xrkolovos this line:

Indicates to mi like you've got an invalid list file. rename dotnetdev.listsudo to just dotnetdev.list and see if that fixes it.

[2016-09-26 14:09] blackdwarf opened #361 "PKG postinall script for the host needs to create /etc/paths.d"
On macOS Sierra, users have been unable to get `dotnet` on the path. After gracious help from @the-darkvoid, the root cause was narrowed down to the fact that on a clean install of Sierra, the `/etc/paths.d` path does not exist, and thus the `/etc/paths.d/dotnet` file cannot be created.

The installer should include this step in the post-install script via `mkdir -p`.

[2016-09-26 14:21] dagood commented on #327
Earlier PRs didn't touch all restore commands. Touchups: https://github.com/dotnet/core-setup/pull/355 (master), https://github.com/dotnet/core-setup/pull/356 (release/1.1.0)

[2016-09-26 15:48] #327 closed

[2016-09-26 18:34] zhenlan opened #364 "Include serialization packages in the next UWP meta-package preview release"
The **`preview1`** versions of following NuGet packages enabled reflection-based serialization feature for UWP (serialization during UWP runtime). Please include them in the next UWP meta-package update.
- [System.Xml.XmlSerializer](https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Xml.XmlSerializer)
- [System.Runtime.Serialization.Xml](https://dotnet.myget.org/feed/dotnet-core/packag

[2016-09-27 21:55] dagood commented on #283
Just to explicitly link the issues together, this is required for https://github.com/dotnet/core-setup/issues/253 (better auto-PR), https://github.com/dotnet/core-setup/issues/238 (automatically create new metapackages), and https://github.com/dotnet/core-setup/issues/259 (multiple builds per commit).

[2016-09-28 05:11] ericstj opened #378 "Downgrade of host packages"
## Steps to reproduce
Restore following project.json
[code]

## Expected  behavior
No warnings

## Actual behavior
Warnings:
[code]

Copied from https://github.com/dotnet/corefx/issues/12114. /cc @pakrym

[2016-09-28 15:38] gkhanna79 commented on #378
@ericstj Can you please elaborate on what this warning means? 1.1.0 build does not have dependency on 1.2.0 DotNetHostResolver, so how is that coming into the mix?

[2016-09-28 15:54] ericstj commented on #378
You'll need to investigate to determine what is happening.  Perhaps your runtime.json has the incorrect value or there is a non-exact match and nuget is picking the "closest" which happens to be 1.2.0-*

[2016-09-28 16:03] ericstj commented on #378
If you look at the lock file you can see what's happening.

NuGet's only ref to `runtime.win7-x64.Microsoft.NETCore.DotNetHostPolicy` is `1.1.0-preview1-001069-00`, but NuGet downloaded `1.2.0-beta-000984-00`.

If I check the feed for [runtime.win7-x64.Microsoft.NETCore.DotNetHostPolicy](https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win7-x64.Microsoft.NETCore.DotNetHostPolicy) I

[2016-09-28 16:56] gkhanna79 commented on #378
@dagood do you know why publishing will skip runtime* packages? I can confirm that the build is producing all of them.

[2016-09-28 17:21] dagood commented on #378
Looking into this, I don't have a known reason for it.

[2016-09-28 17:40] jimmyca15 commented on #191
Will this be fixed for 1.0.* versions? I believe I will have to add this check into our current installer because we are depending on .NET Core.

[2016-09-28 19:24] dagood commented on #378
I believe this was because the build infra wasn't compatible with the arm64 build. For now I've disabled the arm64 build (cc @wtgodbe) and made a dummy commit which triggered https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/index?buildId=351282.

The blob storage for `1.1.0-preview1-001071-00` for example has these Windows badges:
[code]

The logic in https://github.com/dotnet/core-

[2016-09-28 19:26] dagood commented on #378
Once arm64 is supported we can revert https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_git/DotNet-BuildPipeline/pullrequest/38537?path=%2Fsrc%2FPipeBuild%2FPipeBuild%2Fpipelines.core-setup.json&fullScreen=false&_a=overview to turn arm64 builds back on.

[2016-09-28 19:28] gkhanna79 commented on #378
I believe we need to update https://github.com/dotnet/core-setup/blob/aa07f3c166977c9adea8e2ce50c43577fae9d74f/build_projects/dotnet-host-build/PublishTargets.cs#L178 Dictionary as well to account for WinArm64 build.

Likewise, the list at https://github.com/dotnet/core-setup/blob/aa07f3c166977c9adea8e2ce50c43577fae9d74f/build_projects/dotnet-host-build/PublishTargets.cs#L114.

@ianhays PTAL at th

[2016-09-28 19:54] dagood commented on #378
The build just succeeded that had arm64 disabled, and https://github.com/dotnet/versions/blob/10d7042c096cee2e458884cb7d049d9f178f75ab/build-info/dotnet/core-setup/release/1.1.0/Latest_Packages.txt looks good to me. Once MyGet warms up, we should be able to have the restore succeed.

[2016-09-28 20:04] gkhanna79 commented on #378
Agreed - this looks much better!

@dagood Can you please confirm that Azure blob has all the right artifacts?

[2016-09-28 20:06] dagood commented on #378
Yes, here's the full list of badges for 1.0.0-preview1-001075-00:
[code]

[2016-09-28 20:19] mellinoe opened #385 "[release/1.1.0] Microsoft.NETCore.App being published for netcoreapp1.0"
It looks like the shared framework is still being published for netcoreapp1.0, even in the release/1.1.0 branch. [This variable here](https://github.com/dotnet/core-setup/blob/release/1.1.0/build_projects/dotnet-host-build/PrepareTargets.cs#L55) seems to control the TFM we use for publishing it. I also see that the deps.json file in the shared framework lists `NETCoreApp,Version=v1.0` as the runti

[2016-09-28 20:33] ianhays commented on #378
So it looks like the version badge creation is using the current architecture instead of the target architecture, so during the finalize step it's thinking we're done because we have the win10-arm64 badge labeled as an x64 badge.

We should be able to fix this by using TargetArch instead of CurrentArch [when the badge name is determined](https://github.com/dotnet/core-setup/blob/e11bcfa7bd4928755b

[2016-09-28 20:34] ianhays commented on #378
I'll put up a PR in a few but it's not really locally testable so we'll just have to re-enable the arm64 build and fire off a run to see what happens.

[2016-09-28 20:59] gkhanna79 commented on #378
@ianhays Please test the fix on master first and then bring it over to 1.1.0.

[2016-09-28 21:06] gkhanna79 commented on #385
@weshaggard Would know about how the metapackage was composed and all the places we need to fix. Clearly, this needs to make today to get into Escrow.

CC @leecow

[2016-09-28 23:29] Petermarcu opened #390 "Multiple ARP entries for 1.0.1"
## Steps to reproduce
Install builds before and after the 1.0.1 fix for the VC Redist and notice there are two entries in add remove programs for 1.0.1 Runtime

## Expected  behavior
Only one entry

## Actual behavior
Two entries

## Environment data
`dotnet --info` output:

[2016-09-29 00:13] gkhanna79 opened #392 "Update TFM for NETCoreApp for 1.2.0"
Update needs to be done at https://github.com/dotnet/core-setup/blob/05ce78fa94159446cb814e5fac1fa193455e7452/build_projects/dotnet-host-build/PrepareTargets.cs#L55

[2016-09-29 15:09] gkhanna79 commented on #378
@ianhays I am reopening this until both the following are true:

1. You have validated that the blob storage for master is looking as expected. You czn work with @dagood to confirm the same.

2. Post 10/10, we need to port this change to 1.1.0 branch as well. Until then, Arm64 builds are disabled in 1.1.0 branch and once ported, work with @dagood to enable them again.

[2016-09-30 17:15] gkhanna79 opened #400 "Lock Muxer Version for RTM"
Muxer version needs to be locked for RTM release of 1.1.0.

[2016-09-30 20:05] gkhanna79 commented on #390
Closing per discussion as there is no action required. This was a consequence of generating two different builds, from installer perspective, but with same display string.

[2016-09-30 20:05] #390 closed

[2016-09-30 20:25] gkhanna79 commented on #385
@mellinoe I thought this was fixed. If so, can you please close this issue?

[2016-09-30 20:26] gkhanna79 opened #402 "Move Core-Setup LTS to version 1.0.2"
Update the LTS version of Core-Setup, and its packages, to 1.0.2.

[2016-09-30 20:34] #385 closed

[2016-09-30 21:39] #402 closed

[2016-10-03 22:50] gkhanna79 commented on #238
@wtgodbe Will be looking into fixing the commit count problem.

[2016-10-03 23:19] dagood commented on #238
To be clear, the plan is to fix it by moving to buildtools (https://github.com/dotnet/core-setup/issues/283) and using its version generator, correct?

[2016-10-03 23:25] wtgodbe commented on #238
We can do an intermediate fix by allowing for an officialBuildID to be passed in (similar to what we do in the CoreCLR and CoreFX pipelines), then returning that value from getCommitCount when appropriate (And most likely changing the name of that function to something more appropriate). Do you think it makes more sense to hold off on that until we move core-setup to buildtools/msbuild?

[2016-10-03 23:37] dagood commented on #238
We still would need to convert from build id to something that doesn't go above what buildtools would give us so we can have consistently increasing numbers, but if that's doable, that sounds ok.

My understanding, though, is that this would be throwaway work once we get core-setup truly on top of buildtools--and I think using buildtools is more important than not having to do dummy commits. I don

[2016-10-03 23:42] ramarag opened #409 "Fix pal::get_default_servicing_directory"
## Steps to reproduce

run a standalone and a portable app cross-published from the CLI using a Win10-x64 box for a win10-arm64 RID.

Both apps run and iget the message I was expecting, however, I also got some extra:

## Expected  behavior
Hello World!

## Actual behavior
Error resolving full path []
Error resolving full path []
Hello World!

[2016-10-05 00:02] gkhanna79 commented on #234
@wtgodbe Do we need to port this to

[2016-10-05 15:44] gkhanna79 commented on #234
@wtgodbe Please get a fix for https://github.com/dotnet/core-setup/pull/336#issuecomment-251555042 in today so that this change is complete in master.

[2016-10-06 13:08] #409 closed

[2016-10-06 14:49] gkhanna79 commented on #191
We will try to get it done for an upcoming 1.0.X release but in any case, will have it fixed for 1.2.0 and 1.1.0 RTM.

@schellap Lets chat about this when you get a chance.

[2016-10-06 19:14] gkhanna79 opened #421 "Port VCRedist Link update to 1.1.0"
Port the fix from https://github.com/dotnet/core-setup/pull/301

[2016-10-06 19:16] gkhanna79 opened #422 "Port VC Redist Link fixes"
Port https://github.com/dotnet/core-setup/issues/421 to master

[2016-10-06 19:33] eerhardt opened #423 "Need to remove more "ToLowerInvariant" workarounds in DependencyModel"
There are some additional ToLowerInvariant() workarounds in the DependencyModel that we need to remove:

https://github.com/dotnet/core-setup/blob/release/1.1.0/src/Microsoft.Extensions.DependencyModel/Resolution/ResolverUtils.cs#L16-L17

https://github.com/dotnet/core-setup/blob/release/1.1.0/src/Microsoft.Extensions.DependencyModel/Resolution/PackageCacheCompilationAssemblyResolver.cs#L55

Inste

[2016-10-06 19:55] gkhanna79 commented on #423
Isn't this required for 1.1.0 Preview?

[2016-10-06 19:56] eerhardt commented on #423
Yes, but there is no 1.1.0 Preview milestone.  1.1.0 is the closest that I see.

[2016-10-06 19:58] gkhanna79 commented on #423
Just send email to shiproom once the PR is ready.

[2016-10-06 22:45] eerhardt commented on #423
Reopening to port to 1.1.0.

[2016-10-07 16:23] #422 closed

[2016-10-07 20:48] gkhanna79 opened #432 "Upload CLI under different version to workaround Azure caching"
Azure caching is preventing Core-Setup builds (in master and 1.1.0) from picking up a fix in CLI. Once the CLI is uploaded under a new version, we will need a change in Core-Setup to consume that.

[2016-10-07 22:39] eerhardt commented on #423
This has been ported to release/1.1.0.

[2016-10-07 22:39] #423 closed

[2016-10-08 02:57] billwert opened #436 "Published apps running in the root of a drive fail"
This failure seems to be related to the loop at [AppDomain.cs:3665](https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/AppDomain.cs#L3665). Specifically, when a program is run from the root of the drive, APP_PATHS ends up being just the drive root (C: or whatever.) This fails Path.IsRelative and tears down the process. It seems we're too early for the managed exception to be sur

[2016-10-09 05:53] algosig opened #438 "VSCODE setup from Ubuntu Xenial: Error: E: Unable to locate package dotnet-dev-1.0.0-preview2-003121"
## Steps to reproduce
I'm following this wiki for dotnet core installation:[dotnet core setup in ubuntu](https://www.microsoft.com/net/core#ubuntu)

## Expected  behavior
command used: `sudo apt-get install dotnet-dev-1.0.0-preview2-003121`
This should actually install dotnet-dev-1.0.0-preview2-003121.

## Actual behavior
[code]

## Environment data
`dotnet --info` output:
Since I'm having problem

[2016-10-09 15:33] gkhanna79 commented on #438
@piotrpMSFT @brthor @livarcocc PTAL.

[2016-10-10 16:43] algosig commented on #438
@piotrpMSFT @gkhanna79

- Shouldn't the issue also be labeled something as issue on  **setup**. Because I couldn't even download the packages during installation.

[2016-10-10 16:44] gkhanna79 commented on #438
@algosig The "dev" setups are not generated in Core-Setup repo but in http://github.com/dotnet/cli repo.

[2016-10-10 16:45] gkhanna79 commented on #438
@algosig Can you please file this bug in the CLI repo and close this one so that it be tracked correctly?

[2016-10-10 17:21] gkhanna79 commented on #432
Closing since this is fixed by https://github.com/dotnet/core-setup/pull/434 and https://github.com/dotnet/core-setup/pull/435

[2016-10-10 17:21] #432 closed

[2016-10-10 17:22] gkhanna79 commented on #421
Closing since fixed.

[2016-10-10 17:22] #421 closed

[2016-10-10 17:23] gkhanna79 commented on #361
Closing since this is fixed.

[2016-10-10 17:23] #361 closed

[2016-10-10 17:24] gkhanna79 commented on #347
@piotrpMSFT @livarcocc @brthor This looks like dup of https://github.com/dotnet/cli/issues/4365

[2016-10-10 17:26] gkhanna79 commented on #234
@wtgodbe Can we close this since this is fixed?

[2016-10-10 17:26] wtgodbe commented on #234
Yes, I believe this is now fully resolved in all 3 branches. Closing.

[2016-10-10 17:26] #234 closed

[2016-10-10 17:27] gkhanna79 commented on #225
@blackdwarf Have you been able to repro this?

CC @schellap @ramarag

[2016-10-10 17:27] gkhanna79 commented on #167
@ellismg What is this issue about and is there anything outstanding for it?

[2016-10-10 17:29] gkhanna79 commented on #275
@brthor @livarcocc Are you tracking fixing this for 1.1.0 RTM and 1.0.2 (upcoming)?

[2016-10-10 18:10] ellismg commented on #167
The issue here is that we don't have docker install on our Ubuntu 16.04 machines, so core-setup can not build in a docker container during CI.  This prevents them from doing some testing because they don't have an isolated environment in which to install the packages they build to test them.

[2016-10-10 18:26] brthor commented on #438
@algosig Did you accidently add the ubuntu 14 feed? I've seen this happen a few times.

[2016-10-10 18:28] brthor commented on #347
This definitely looks like the issue

[2016-10-10 18:28] brthor commented on #167
Ping @mmitche

He had a thread with DDIT for setting this up in July. Did that ever come through?

[2016-10-10 18:58] gkhanna79 commented on #229
We will need to fix this for 1.1.0 RTM for Sierra support.

[2016-10-10 20:32] algosig commented on #438
@brthor I'm trying to setup vscode on **Xenial Xerus Ubuntu 16.04 LTS**.
Above is the output from my terminal.

[2016-10-10 20:34] brthor commented on #438
can you show the output of `cat /etc/apt/sources.list.d/dotnetdev.list`

[2016-10-10 22:01] algosig commented on #438
@brthor
`deb [arch=i386] https://apt-mo.trafficmanager.net/repos/dotnet-release/ xenial main
`

[2016-10-10 22:04] brthor commented on #438
@algosig There is no `arch=i386` debian package currently available, are you able to use the `arch=amd64` version?

[2016-10-10 22:55] mmitche commented on #167
I thought this got finished.  Lemme hunt down some emails.

[2016-10-11 16:57] mmitche commented on #167
Yes this is available in the latest 16.04 images.

[2016-10-11 20:58] leecow opened #444 "1.0.x host is removed when installing 1.1 preview"
/host/fxr/1.0.1 is removed when installing a 1.1.0 preview Shared FX. Previous versions of the host should remain installed side-by-side.
1. Removed /usr/local/share/dotnet
2. Installed dotnet-osx-x64.1.0.1.pkg
3. Verified /host/fxr/1.0.1
4. Installed dotnet-osx-x64.1.1.0-preview1-001100-00
5. host/fxr/ now only contains 1.1.0-preview1-001100-00

cc/ @gkhanna79

[2016-10-11 21:00] gkhanna79 commented on #444
I chatted with @schellap and he is going to take a look at this asap.

[2016-10-12 14:14] gkhanna79 commented on #444
@schellap Do you have an update on what is going on here?

[2016-10-12 21:32] gkhanna79 commented on #444
@schellap Please prepare a fix for release/1.0.0 branch as well for the next LTS release.

[2016-10-14 13:20] SpiraMira opened #455 "dotnet Abort Trap: 6"
## Steps to reproduce

On macOS Sierra build (16B2548a)
mac pro 3,1

Step 1: brew install openssl (add to $path and fix rpath etc...)
Step 2: install .NET Core using [https://www.microsoft.com/net/core#macos]
Step 3: any dotnet command results in ...

Unhandled Exception: System.TypeInitializationException: The type initializer for 'Microsoft.DotNet.InternalAbstractions.RuntimeEnvironment' threw a

[2016-10-14 13:23] SpiraMira commented on #455
The exception is thrown here GetKernelRelease() in core-setup->NativeMethods.Darwin.cs

[code]
My equivalent test

[code]
which returns

[code]

Any ideas why this is crashing...

[2016-10-14 13:43] gkhanna79 commented on #455
@eerhardt @piotrpMSFT PTAL.

[2016-10-14 13:51] SpiraMira commented on #455
closed related cli #4409

[2016-10-14 14:11] SpiraMira commented on #455
Some clues from my man 3 sysctl

[code]
and...

[code]

Hence, my two calls to sysctl.  First to get the length of the desired result buffer in oldp. Second to actually get the data.

Hope this helps...

[2016-10-14 15:36] gkhanna79 opened #456 "M.N.App 1.1.0 should have netcoreapp1.1 as TFM"

[2016-10-14 16:37] algosig commented on #438
@brthor How can I use amd64 when I have i686 arch.
uname -a : `Linux xenial 4.4.0-38-generic #57-Ubuntu SMP Tue Sep 6 15:41:41 UTC 2016 i686 i686 i686 GNU/Linux`

Even though I change the arch=i686 to arch=amd64
the error is same:
[code]

Are there any ways to tweak the arch?
@piotrpMSFT  @gkhanna79

[2016-10-15 15:38] SpiraMira opened #458 "Question: rebuild PlatformAbstractions for Sierra"
Hi - I need some guidance on how to build a new dotnet that can address #455 myself. Just need some guidance on navigating this project on macOS Sierra.

I would like to explore some possible changes in Dotnet.PlatformAbstractions/Native/PlatformApis.cs
-If I rebuild core-setup with my patches, will it generate the new native libraries?
-If so, how do I set up my project so that a new build of cli

[2016-10-15 15:46] gkhanna79 commented on #458
@piotrpMSFT @eerhardt @brthor Can you please help?

[2016-10-17 01:54] gkhanna79 opened #459 "Build MSIs for WinArm64"
Currently, we only produce zip archives.

[2016-10-17 15:53] SpiraMira commented on #458
Hi again, I temporarily addressed some of my issues by resetting my DYDL_FALLBACK_LIBRARY_PATH so that GetKernelRelease() can find my dylibs (libc). It was set in support of another project and dotnet couldn't dynamically bind to /usr/lib/libc.dylib anymore.
Also had to set DOTNET_RUNTIME_ID to osx.10.11-x64 to let the build progress.  Seems like a temporary fix at best to build on Sierra. It's al

[2016-10-19 17:44] gkhanna79 opened #461 "Enable test runs for Arm64 build"

[2016-10-21 00:58] schellap opened #467 "Compatibility with CLI preview2 deps.json with library path null"
## Steps to reproduce
https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/deps_format.cpp#L34
Make it null resilient for all string values.

If we use an old CLI and compile an app targeting NETCore.App 1.1.0, the `path` property is null in `libraries` section. This throws a JSON parsing exception.

The null value for the string could be interpreted as empty.

1. Install the latest s

[2016-10-21 01:06] brianrob commented on #467
@schellap, added repro steps.

[2016-10-21 14:01] gkhanna79 commented on #467
This is a regression from https://github.com/dotnet/core-setup/commit/690e5cfabd74098fc3d5f57dad91e8726caa4c11#diff-ff424df9de64563880ba20413b435710.

@joelverhagen PTAL at this at the earliest. I am marking it as release blocking.

[2016-10-21 14:19] gkhanna79 opened #472 "Generate MSIs for Arm32"

[2016-10-21 14:32] joelverhagen commented on #467
@schellap, step 2 is failing:
[code]

[2016-10-21 14:36] gkhanna79 commented on #467
@livarcocc @mellinoe Are you aware of this failure?

[2016-10-21 15:32] brianrob commented on #467
@joelverhagen, sorry, I got the version string wrong.  It's preview3 not preview2.  I've updated the repro steps.

[2016-10-21 16:13] joelverhagen commented on #467
@brianrob, I tried this with latest preview3 (1.0.0-preview3-003892) and the null path property is not written out. How did you pick that specific old version?

[2016-10-21 16:17] joelverhagen commented on #467
Back in August, I made a fix to `DependencyContextWriter` to not write out the `path` or `hashPath` properties if they are null:
https://github.com/dotnet/core-setup/commit/d7bf2e9f13c297043772935e75fce7cec52b860a

[2016-10-24 16:16] eerhardt commented on #455
@gkhanna79 and @piotrpMSFT - I'm going on leave from now until the end of the year.  I won't be able to get to this before January.

[2016-10-24 16:16] eerhardt commented on #458
@gkhanna79 and @piotrpMSFT - I'm going on leave from now until the end of the year.  I won't be able to get to this before January.

[2016-10-24 17:03] gkhanna79 commented on #458
CC @livarcocc

[2016-10-24 17:03] gkhanna79 commented on #455
CC @livarcocc

[2016-10-24 18:26] gkhanna79 opened #499 "Publish Microsoft.Dotnet.PlatformAbstractions and Microsoft.Extensions.DependencyModel"
These packages are built in the repo but dont get published to Azure blob (though, they are published to myget).

@wtgodbe Can you please look into fixing this for 1.1.0? And also for 1.0.0 (assuming the issue is present there)?

[2016-10-24 20:12] wtgodbe commented on #499
I spoke with Davis, and it sounds like the reason we weren't doing this is that we _only_ want to publish the signed, Windows versions of these packages to myget, so if we were publishing them to Azure from every build, we would wind up with unsigned packages on MyGet. I put up a PR here https://github.com/dotnet/core-setup/pull/500/ that should publish these to Azure, only if we're building & sig

[2016-10-24 21:08] joelverhagen commented on #467
Resolved offline. Not an issue for preview2 and already resolved in preview3.

[2016-10-24 21:08] #467 closed

[2016-10-24 22:27] wtgodbe commented on #499
https://github.com/dotnet/core-setup/pull/500 solved this in Master, and is already merged. https://github.com/dotnet/core-setup/pull/504 and https://github.com/dotnet/core-setup/pull/503 are up for 1.0.0 and 1.1.0 respectively, and can be merged pending Shiproom approval (once https://github.com/dotnet/core-setup/pull/504 goes in, I'll need to make a change to the 1.0.0 build definitions in MSEng

[2016-10-25 16:08] gkhanna79 commented on #275
@piotrpMSFT @livarcocc Please take a look at this ASAP for 1.1.0.

[2016-10-25 16:11] gkhanna79 commented on #189
@markwilkie Assigned to you per Joel's comment.

@ericstj What is outstanding here and does that block 1.1.0?

[2016-10-25 16:27] blackdwarf commented on #225
@gkhanna79 nope, I haven't seen this.

@Mark92630 did this continue to repro?

[2016-10-25 16:28] weshaggard commented on #456
Fixed with #464

[2016-10-25 16:28] #456 closed

[2016-10-25 18:23] gkhanna79 opened #510 "Move M.N.App to 1.0.3"
Fixed by https://github.com/dotnet/core-setup/pull/478

[2016-10-25 20:22] gkhanna79 commented on #510
Fixed with https://github.com/dotnet/core-setup/pull/478

[2016-10-25 20:22] #510 closed

[2016-10-25 20:49] ianhays commented on #378
for release/1.1.0, this was resolved  in https://github.com/dotnet/core-setup/pull/394

The pipebuild for these changes passed without issue: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/index?buildId=395486&_a=summary

[The x86 build triggered by the pipebuild successfully uploaded the packages as 1139-00](https://mseng.visualstudio.com/DefaultCollection/dotnetcore/_build/index

[2016-10-25 20:49] #378 closed

[2016-10-25 21:05] #499 closed

[2016-10-25 22:02] wtgodbe opened #514 "Publish packages & symbol packages into separate folders in Azure"
Right now .nupkg & .symbols.nupkg files are getting published into the same dir in Azure storage - they should be in separate dirs like in CoreClr & CoreFx

[2016-10-25 22:39] mellinoe opened #515 "[release/1.1.0] Build code doesn't handle fedora.24 rid in all places"
The official build uses a couple of extra code paths to handle asset publishing. We need to fix a couple of extra places to handle the new platform name.

[2016-10-25 23:25] gkhanna79 commented on #167
@mmitche @ellismg What is next here?

[2016-10-25 23:31] mellinoe commented on #515
Should be fixed by #516

[2016-10-25 23:31] #515 closed

[2016-10-26 08:32] Mark92630 commented on #225
I am now getting a slightly different error message (see below). Changes:

1. I'm now running macOS Sierra (10.12.1).
2. I uninstalled and reinstalled Homebrew, and then installed openssl. I did get a complaint from Homebrew about having MacPorts on my system.

Unhandled Exception: System.DllNotFoundException: Unable to load DLL 'api-ms-win-core-localization-l1-2-0.dll': The specified module could

[2016-10-26 12:56] blackdwarf commented on #225
@Mark92630 which version you are downloading? The latest one from the page you referenced? Does the install from the PKG finish properly?

[2016-10-26 14:13] mmitche commented on #167
@gkhanna79 Done

[2016-10-26 14:13] #167 closed

[2016-10-26 16:57] Mark92630 commented on #225
![screen shot 2016-10-26 at 09 56 55](https://cloud.githubusercontent.com/assets/8611158/19735968/93d2a928-9b62-11e6-9e9e-e896a7522f2d.png)

[2016-10-26 17:20] livarcocc commented on #275
Given that your only dependency in the test is to test utils, could you try adding a global.json to it so that it does not look for projects under src, so that the new PlatformAbstraction is not picked up?

[2016-10-26 17:28] dagood commented on #275
My understanding is the tests need the P2P reference because the point is to test the `PlatformAbstractions` project: https://github.com/dotnet/core-setup/blob/26b63a4c46f6a3d1ff3bdeeb57e56683a8a4b5e7/test/Microsoft.Extensions.DependencyModel.Tests/project.json#L16-L18.

[2016-10-26 19:13] gkhanna79 commented on #438
@piotrpMSFT Is this on for 1.1.0?

[2016-10-26 19:29] gkhanna79 commented on #347
@piotrpMSFT Should this issue move to CLI repo for 1.1.0?

[2016-10-26 19:36] gkhanna79 commented on #455
@piotrpMSFT Should this go into CLI repo for 1.1.0?

[2016-10-26 22:30] piotrpMSFT commented on #455
@gkhanna79 @SpiraMira we [CLI team] develops on Mac OS Sierra day to day and we're not hitting this issue. I just explicitly followed the steps enumerated by @SpiraMira to be sure and found no repro. I wonder if the installed version of openssl is the same as recommended in the installation instructions. Let's hold off on addressing this until we can get a repro to diagnose.

[2016-10-26 22:33] piotrpMSFT commented on #438
We don't currently support 32-bit CPU architectures on Linux. This is true across the board [CLI, CoreFx, CLR]. We should first have an issue opened regarding adding support for this platform into the product. Once that is added to the roadmap we will look at scheduling for related ancillary work like CLI builds.

[2016-10-26 22:33] #438 closed

[2016-10-26 22:35] piotrpMSFT commented on #347
This issue was identified as being an invalid file name, per @blackdwarf and @brthor above.

[2016-10-26 22:35] #347 closed

[2016-10-26 22:43] piotrpMSFT commented on #275
Why are we moving PlatformAbstractions to 1.1.0? Is there a new feature dependency?

[2016-10-26 23:56] gkhanna79 commented on #444
@schellap Moving this to 1.0.x milestone to track getting this in for it.

[2016-10-26 23:57] gkhanna79 commented on #189
@markwilkie Since I have not heard back from you on this, I am moving this out to 1.2.0 as I dont see it blocking 1.1.0.

[2016-10-27 01:24] gkhanna79 commented on #225
I installed the SDK installer for OSX from https://www.microsoft.com/net/download#core and did the following:

1) dotnet new
2) dotnet restore
3) dotnet run

I successfully get the template HelloWorld app running.

[code]

I looked at your project.json. It appears custom and referencing old and prerelease versions of packages. Here is the one that was generated for me:

[code]

Does the problem re

[2016-10-27 04:39] Mark92630 commented on #225
This is further than I have ever gotten before, and a new (to me) error message. To get this far, I found and removed some symbolic links that were in my PATH and referred to old versions, and then installed using the URL you provided. I'm guessing that the remaining error has something to do with openssl, so I'm showing a "which" and a "version" for that at the bottom.

==========================

[2016-10-27 05:35] gkhanna79 commented on #225
@bartonjs @stephentoub Are you aware of issues with OpenSSL on Sierra?

[2016-10-27 06:01] bartonjs commented on #225
Nope.  @Mark92630 do you have the symlinks as described in https://www.microsoft.com/net/core#macos?

Short version:
[code]

We don't use the openssl command line utility, but rather libcrypto.1.0.0 and libssl.1.0.0; and we expect them to be present in /usr/local/lib/.  (If you have symlinks there you can verify them as valid by running something like `otool -L` on them... if it gives an error the

[2016-10-27 18:24] gkhanna79 commented on #436
Moving this to 1.2.0

[2016-10-27 18:59] gkhanna79 commented on #275
It is less about feature dependency but more about being in current with the set of dependencies that will come with new versions from CoreFX for a given release to test the component works well with them.

[2016-10-27 19:19] #436 closed

[2016-10-27 20:06] gkhanna79 commented on #400
This change needs to be done once 1.1.0 RTM is shipped.

[2016-10-27 22:38] gkhanna79 commented on #275
@piotrpMSFT @livarcocc What are the next steps for this?

[2016-10-28 00:02] Mark92630 commented on #225
**@bartonjs** - Once I corrected the symlinks to refer to the actual locations of those dylib files on my system (/opt/local/lib/), I finally got the "dotnet new" command to work. And then the "restore" and "run" commands, as @**gkhanna79** showed above, resulting in the "Hello World!" output.

I got my openssl through MacPorts rather than Homebrew.

[2016-10-28 00:02] #225 closed

[2016-10-28 02:22] gkhanna79 opened #538 "Port Sierra RID fix to 1.0.3"
From PR https://github.com/dotnet/core-setup/pull/536

CC @leecow

[2016-10-28 04:08] gkhanna79 commented on #229
Moving this to 1.2.0 for a general solution that spans various OS distros.

[2016-10-28 04:22] piotrpMSFT commented on #275
To test the component working with newer dependencies please reference it from a test project which references the newer version. We don't see a benefit to customers or the team for bumping the dependencies of this package.

[2016-10-28 04:22] #275 closed

[2016-10-28 15:00] dagood commented on #275
@piotrpMSFT My impression from when this was discussed at the beginning is that we don't necessarily want to upgrade these now, but this potentially DependencyContextLoader bug is being exposed by the upgrade and it prevents us from upgrading the packages' dependencies should we need to at any point in the future.

[2016-10-31 05:52] Petermarcu opened #544 "Provide installer links in the readme to the latest bits"
We need to make the links to the installers that come out of this build more obvious to get. Always pointing to the latest but with an explanation on how to get older ones assuming they are still around.

[2016-10-31 07:21] piotrpMSFT opened #545 "Segmentation fault on dotnet restore on Debian"
## Steps to reproduce

[code]
## Expected  behavior

`dotnet restore` should succeed
## Actual behavior

`dotnet restore` doesn't download or do anything.
## Environment data

`dotnet --info` output:

[code]
## Cause of this problem

There are two different versions of libssl linked. Maybe the build happend in an unclean environment or it the package got incrementally built.

[code]

As you can se

[2016-10-31 07:21] piotrpMSFT commented on #545
Moved from https://github.com/dotnet/cli/issues/4477 on behalf of @jo-so.

@schellap @gkhanna79 can you guys take a look?

[2016-10-31 14:45] gkhanna79 commented on #545
@stephentoub  @bartonjs Can you PTAL?

[2016-10-31 14:47] gkhanna79 commented on #544
@wtgodbe PTAL.

Cc @schellap

[2016-10-31 17:29] gkhanna79 commented on #538
@schellap Please get this addressed soon for LTS.

[2016-10-31 17:41] bartonjs commented on #545
I'm still working on having a Debian machine to see what they look like, but my psychic debugging says that our build machines are stale somehow.
* System.Net.Http.Native doesn't link against libssl, it only links against libcurl (which links against libssl).
* System.Security.Cryptography.Native(.OpenSsl) does link against libssl, using CMake's find_package.
* If a rebuild worked for @jo-so then

[2016-10-31 18:32] jo-so commented on #545
libssl 1.0.2 doesn't exist in Debian 8.0. Do you have any backports installed?

https://packages.debian.org/search?suite=default&section=all&arch=arm64&searchon=names&keywords=libssl1

[2016-10-31 19:22] bartonjs commented on #545
@jo-so I guess I'd have to ask you the same question.  Using a relatively clean install of debian8:

[code]
[code]
[code]

And, using the LD_DEBUG output:
[code]

Everything looks good on my clean debian8.

[2016-11-02 01:28] zwcloud commented on #196
@gkhanna79 I'm developing a GUI framework so the built application should be a **window** application.
I have done that before on .NET 4.5.
1. Create a C# project.
2. Change output type to *Windows Application*
![image](https://cloud.githubusercontent.com/assets/6965758/19913484/eb9b5918-a0dd-11e6-9573-870885e50150.png)
3. In the `main()` method, call `CreateWindowEx` via P/Invoke to create the ma

[2016-11-02 19:38] gkhanna79 commented on #196
Current POR is for .NET Core to be targeted to enable console and cloud scenarios. While supporting GUI applications is not in the cards for now, this is good datapoint nonetheless that we should account for in our planning.

CC @richlander @blackdwarf

[2016-11-02 22:20] bretambrose opened #565 "(Question) How to build a Microsoft.NETCore.App package against private builds of Coreclr & Corefx"
It seems like core-setup is the project that actually constructs the Microsoft.NETCore.App package as an artifact but I haven't had any luck finding a way to create this package using internal builds of Coreclr/Corefx.  There don't seem to be any additional build instructions and I haven't found anything so far going through the top-level build shell scripts (haven't looked into project files yet

[2016-11-02 22:50] gkhanna79 commented on #565
@ellismg Should be able to help as he has been looking into an effort to achieve this goal.

[2016-11-02 22:56] ellismg commented on #565
@bretambrose Can you help me understand exactly why you want to build a new Microsoft.NETCore.App package?  Are you trying to get a version of the package with some hot fixes, trying to add a new supported RID to the package, something else?

[2016-11-03 00:06] mellinoe commented on #196
Even if it isn't our main focus currently, I think we ought to come up with a plan for how this will work. With the MSBuild SDK being designed right now, and with knowledge of the host being baked into that, we should at least come up with some sort of plan for how you would override it with your own host, even if that isn't one that we directly provide (although I still think we should do that).

[2016-11-03 01:24] gkhanna79 commented on #196
I am not sure what is being baked into MSBuild about the host, but that does not sound right to me. Can you share  more details?

The current design does support the flexibility to enable overriding the defaults or changing them.  I think it would be prudent to first understand the various implications and needs of the GUI scenario before determining the solutions to make that happen.  The key her

[2016-11-03 08:03] TheRealPiotrP opened #570 "dotnet host should provide clearer error messages when app content is missing"
## Steps to reproduce
`dotnet new; dotnet build; cp bin/Debug/netcoreapp1.0/hello.dll . dotnet hello.dll`

## Expected  behavior
Error message stating that `runtimeconfig.json` is missing, or something describing the artifact that is preventing the app from launching.

## Actual behavior
`library 'libhostpolicy.dylib' required to execute the application was not found`

Granted, running an app that

[2016-11-03 14:44] gkhanna79 commented on #570
@ramarag PTAL.

CC @schellap

[2016-11-03 15:01] schellap commented on #570
If runtimeconfig is missing, we default to running a standalone app with dotnet. The next step is to find hostpolicy.dll which is missing.

We could probably detect that this is a standalone invocation using dotnet.exe and print a slightly different message.

But I don't think we should go through the pains of detecting such an invocation just for flagging. We should just modify the error message

[2016-11-03 15:08] schellap commented on #570
Also, the error message is actually accurate, but it can be more helpful. The artifact that is missing is hostpolicy. Missing runtimeconfig is still a valid app and is also an implementation detail that users should not need to know about.

[2016-11-03 16:09] bretambrose commented on #565
This is probably going to be one those "How do we do X?" questions that turn into "X is totally unnecessary, do Y instead", so apologies for that.  Here's our situation:

We are building a .NET execution platform -- using Microsoft.NETCore.App as the baseline -- for several closely-related flavors of rhel7.  For reasons of security policy and glibc versioning we aren't able to use Microsoft rhel7

[2016-11-03 16:30] Petermarcu commented on #544
I'm going to reopen this one to track the changes I made in the comments of https://github.com/dotnet/core-setup/pull/566

[2016-11-03 18:47] shirhatti opened #572 "Uninstalling 1.1.0-preview1 runtime breaks 1.0.1 runtime - Fix in 2.0.x"
## Steps to reproduce

1. Install [1.0.1 runtime](https://go.microsoft.com/fwlink/?LinkID=827515)
(I see that the `C:\Program Files\dotnet\host\fxr\1.0.1` directory gets created)
2. Install [1.1.0-preview1 runtime](https://go.microsoft.com/fwlink/?LinkID=831444)
3. Uninstall 1.1.0-preview1 runtime
(There is no longer a `C:\Program Files\dotnet\host` directory)
## Expected  behavior
[code]

## Actu

[2016-11-03 18:50] mellinoe commented on #196
I don't know how the new SDK stuff handles this. At the very least, it's always possible to create post-publish targets that rearrange things for a custom host, but things like that are always a bit fragile and hacky. Since the SDK is still being designed and worked on, I was just suggesting that we consider this scenario so that something nicer than "make a post-publish target" is an option. I wa

[2016-11-03 20:12] gkhanna79 commented on #572
I believe @schellap has this fixed in 1.1.0 final builds. @schellap can you confirm and if so, close this issue.

[2016-11-03 22:58] Petermarcu opened #579 "Readme official build links"
It looks like we're missing links to the official builds of a few distro's that we're providing binaries for. The build status should also just me moved inline with the other table.

[2016-11-03 23:09] gkhanna79 commented on #579
Looks like you are already on cleaning this space up @Petermarcu :)

[2016-11-03 23:49] Petermarcu commented on #579
@gkhanna79 , Is there an official build for Win ARM32?

[2016-11-03 23:51] gkhanna79 commented on #579
Yes, that is how packages are published that get linked here.

Thanks,
Gaurav

-------- Original message --------
From: Peter Marcu <notifications@github.com>
Date: 11/3/16 4:49 PM (GMT-08:00)
To: dotnet/core-setup <core-setup@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [dotnet/core-setup] Readme official build link

[2016-11-03 23:53] Petermarcu commented on #579
Ah, I missed the "show more" in the official builds list.

[2016-11-04 00:04] Petermarcu commented on #579
@gkhanna79, we have 3 trains, 1.0.X, 1.1.X, and master. We're only tracking two so far and I only see pairs in the official definitions. Is it correct that release.1.0.0 is 1.0.X and master is master. That means we don't have anything for 1.1.X?

[2016-11-04 00:42] gkhanna79 commented on #579
Yes, that is correct. I didnt know if we wanted to call out unreleased binaries (given that they are in Escrow) ahead of the release.

[2016-11-04 00:47] #544 closed

[2016-11-04 02:01] #579 closed

[2016-11-04 17:29] #364 closed

[2016-11-05 02:33] wjk commented on #230
Sorry to bump this old issue, but I have some further questions.

I previously stated that all I would need in a custom main executable was a `WinMain()` entry point. Unfortunately, I have since realized this won’t be enough. To make my app fully integrate with the Windows environment, I would need to provide, _inter alia_, an icon, a custom version information resource, and a Windows SxS manifest

[2016-11-06 22:51] dasMulli commented on #196
Me too, currently working around it using `editbin.exe /SUBSYSTEM:windows my.exe` as a post-publish step for a self-contained app. Hacky and relies on VC++ installed but works great.

[2016-11-08 16:07] dagood opened #595 "Add switch in source to stop publishing symbol packages to MyGet"
For release branches, we need to stop publishing symbol packages to MyGet. We need to continue publishing them for other branches.

This can be implemented with filters in https://github.com/dotnet/core-setup/blob/master/build_projects/dotnet-host-build/PublishTargets.cs checking the end of the files for `.symbols.nupkg` based on the `BRANCH_NAME` or `CHANNEL` in https://github.com/dotnet/core-set

[2016-11-08 17:59] gkhanna79 commented on #595
@leecow @Petermarcu Should this be done for 1.1.0? Doing so would require respinning and I would suggest we do this for 1.1.x.

CC @schellap @wtgodbe

[2016-11-08 18:08] dagood commented on #595
The alternative is to remove the package from the MyGet feed manually, and if we can't do that by normal means we can ask MyGet to help. I'll test this out this afternoon on a test feed to see if we can remove it ourselves.

We can also overwrite what's there with a blank symbol package, although that's a bit misleading.

[2016-11-08 20:25] dagood commented on #595
I didn't find any endpoint to delete the symbol package directly, but if you delete the package, the symbol package gets deleted too. So, to remove the symbol package we can just delete and reupload the library package.

[2016-11-08 23:27] #595 closed

[2016-11-09 19:33] ellismg commented on #565
Sorry for the delay in replying.

I assume you're building CoreCLR and CoreFX from the release branches, so the packages that are produced have the correct version numbers to match what Core-Setup is expecting.

In that case, I would suggest you do the following:

0. Copy the nupkg's produced by the CoreCLR and CoreFX builds to some local folder.
1. Edit https://github.com/dotnet/core-setup/blob/m

[2016-11-10 02:47] piotrpMSFT opened #617 "Remove DependencyModel RuntimeLibrary hacks for xunit"
https://github.com/dotnet/cli/pull/1932 will introduce some small hacks to DependencyModel in order to allow coreclr.xunit to run. Once that's in, fix xunit and remove the hacks

Moved from https://github.com/dotnet/cli/issues/1998 on behalf of @anurse.

[2016-11-10 02:48] VikSab commented on #572
is there any workaround or fix for this issue

my system is hosed currently with the same problem

[2016-11-10 02:51] piotrpMSFT opened #618 "Include crossgen in the shared framework."
Moving from https://github.com/dotnet/cli/issues/2013 on behalf of @ellismg and @brianrob

-----

@brianrob Would like us to include crossgen as part of the shared framework so that during profiling it's possible to generate symbols for NGEN and R2R images, which requires the matching version of crossgen.

[2016-11-10 03:15] piotrpMSFT opened #619 "dotnet run passing ` --additionalprobingpath` to standalone app"
Moving from https://github.com/dotnet/cli/issues/2127 on behalf of @pakrym

----

## Steps to reproduce

dotnet run standalone app
## Expected  behavior

It get executed only with arguments passed to `dotnet run` command
## Actual behavior

`--additionalprobingpath` gets passed to standalone app

[code]
## Environment data

`dotnet --version` output:

[code]

[2016-11-10 03:44] piotrpMSFT opened #620 "Audit the list of Ubuntu runtime dependencies - currently 44"
Moving from https://github.com/dotnet/cli/issues/2308 on behalf of @jeffschwMSFT. CLI's pre-req's all come from the shared framework.

----

We should audit the list of 44 libs required to run on Ubuntu with the goal of reducing the list to a more manageable set (eg. Windows has 1, Mac has 1, and Centos has 9).

Current list of dependencies for Ubuntu:
libc6
libedit2
libffi6
libgcc1
libicu52
libll

[2016-11-10 04:03] mellinoe commented on #620
I don't think there's anything to do here, at least not anything that is specific to Ubuntu. All of our platforms have the same prerequisites, at a high level. The list here is just a raw list of all packages that are transitively linked to by corefx and coreclr, so it's not really very interesting.

[2016-11-10 06:43] piotrpMSFT opened #622 "DependencyModel uses wrong package cache environment variable name"
Moved from https://github.com/dotnet/cli/issues/3034 for @pakrym.

I verified the issue still exists, though the code has moved:
https://github.com/dotnet/core-setup/blob/master/src/Microsoft.Extensions.DependencyModel/Resolution/PackageCacheCompilationAssemblyResolver.cs#L75

----

In PR https://github.com/dotnet/cli/pull/2156 `DOTNET_PACKAGES_CACHE` variable name was changes to `DOTNET_HOSTING_O

[2016-11-10 07:32] piotrpMSFT opened #623 "dotnet.exe should have proper file information embedded in it"
Moving from https://github.com/dotnet/cli/issues/3041 on behalf of @Petermarcu.

----

## Steps to reproduce

Run dotnet and look at the view in task manager on Windows.
## Expected  behavior

All the information about the process and its brand should be there. It should show up as something like ".NET Application Host" with all the details about versions, product names, etc should be complete.
##

[2016-11-10 07:49] piotrpMSFT opened #624 "Support nuget's "fallback package target" feature in DependencyContext"
Moving from https://github.com/dotnet/cli/issues/3569 on behalf of @muratg.

NuGet now supports a secondary package target to improve `dotnet restore` performance. The idea is to populate the secondary folder for Azure Web Sites to improve kudu restore performance.

This WI is to complete the work and add the support for this secondary package folder in DependencyContext as well. This would fix th

[2016-11-10 08:30] piotrpMSFT opened #625 "Ability to load dependency model from non-app assembly"
Moved from https://github.com/dotnet/cli/issues/3253 on behalf of @pakrym.

----

To allow custom compilation assembly load locations.

@pranavkm @davidfowl

[2016-11-10 10:08] piotrpMSFT opened #626 "If global.json has a B.S. version string for SDK, the CLI doesn't care"
Moving from https://github.com/dotnet/cli/issues/3662 on behalf of @shanselman.

I verified that this still repros on:

[code]

-----

## Steps to reproduce

global.json:

## Expected  behavior

A warning? A freak out? Something?
## Actual behavior

It uses the latest SDK/CLI without a whimper.

[2016-11-10 10:45] piotrpMSFT opened #627 "Provide a default linux friendly installer"
Moving from https://github.com/dotnet/cli/issues/3714 on behalf of @gochev.

CLI's ability to provide a cross-linux-distro installer depends on a matching Shared Framework, so putting the issue in the right repo.

----

Currently you have provided downloads for 7-8 linux distributions, however there are 1000 of linux distros out there.

Please provide a unix friendly installation method from sourc

[2016-11-10 15:12] gkhanna79 commented on #617
It is not clear what is this for. Can someone elaborate on it, who should it be assigned to and why it needs to be in Core-Setup?

CC @schellap

[2016-11-10 15:13] gkhanna79 commented on #572
Have you tried to reinstall the 1.0.1 SharedFW again?

[2016-11-10 15:19] gkhanna79 commented on #618
@brianrob Is this scenario still applicable as there are no current plans to crossgen standalone apps?

[2016-11-10 15:27] gkhanna79 commented on #622
@piotrpMSFT @muratg @pakrym Who owns DependencyModel that lives in Core-Setup so that this issue can be routed to them?

[2016-11-10 15:29] gkhanna79 commented on #624
Who is the owner for DependencyContext to whom this bug should be routed?

CC @schellap

[2016-11-10 15:37] gkhanna79 commented on #627
This is something @ellismg is looking into as part of enabling building from source.

[2016-11-10 15:52] schellap commented on #572
@gkhanna79, this issue has different repro steps. Will take a look.

[2016-11-10 16:44] VikSab commented on #572
@schellap Yes i have done that as well - but it doesnt work... the only way it to roll forward it seems

[2016-11-10 17:35] muratg commented on #624
@piotrpMSFT @Petermarcu  is there someone on your teams that can take this on? @pakrym can do a code review, but he'll be busy with ASP.NET tasks.

[2016-11-10 17:39] gkhanna79 commented on #624
@muratg Historically, @piotrpMSFT 's team and folks in ASP.NET have been involved in design and implementation of this component, IIRC. Will @pakrym not be able to bring this up for 1.2.0 Preview next year?

[2016-11-11 00:11] livarcocc opened #628 "COREHOST_TRACE=1 lines are being terminated with \r\r\n"
## Steps to reproduce

[code]

...currently outputs:

[code]
## Expected  behavior

I would expect lines to be terminated with "\r\n" (or maybe just "\n").
## Actual behavior

Lines are terminated with "\r\r\n".
## Environment data

`dotnet --info` output:

.NET Command Line Tools (1.0.0-preview2-003121)

Moving this here from https://github.com/dotnet/cli/issues/3847

[2016-11-11 15:40] gkhanna79 commented on #628
CC @schellap

[2016-11-11 17:24] fogzot commented on #545
`libssl1.0.2` is currently in testing and unstable. It is not in Jessie/Debian 8.
[code]

[2016-11-12 08:56] piotrpMSFT opened #634 "Failed to resolve library symbol hostfxr_main, error: dotnet: undefined symbol: hostfxr_main using 1.0.0-preview2-003121 on Fedora 23"
Moved from https://github.com/dotnet/cli/issues/4010 on behalf of @dcorns.

----

## Steps to reproduce

run dotnet with any option on Fedora 23 64x and the error above will be displayed
## Expected  behavior

dotnet commands should work
## Actual behavior

Failed to resolve library symbol hostfxr_main, error: dotnet: undefined symbol: hostfxr_main is returned to the console
## Environment data

`

[2016-11-12 09:02] piotrpMSFT opened #635 "Cannot resolve runtime and native assets from dependency context of a class library"
Moving from https://github.com/dotnet/cli/issues/4005 on behalf of @natemcmaster.

-----

I am attempting to solve the problem of creating an AssemblyLoadContext from a class library project (https://github.com/aspnet/EntityFramework/issues/5320) with only 3 inputs: dependency context, nuget package directory, and application base path. (NB: no project context)
## Problem

The build trims "runtime

[2016-11-12 13:49] gkhanna79 commented on #635
@piotrpMSFT Why should this be moved to Core-Setup and not remain in CLI as this talks about build generated artifacts being trimmed?

CC @schellap

[2016-11-12 13:52] gkhanna79 opened #636 "Failed to initialize CoreCLR, HRESULT: 0x80004005 when deploying on sandstorm"
Moved from github.com/dotnet/cli/issues/4111 on behalf of @pgrm

## Steps to reproduce
- [Install vagrant-spk](https://docs.sandstorm.io/en/latest/vagrant-spk/installation/)
- clone the sample repository [pgrm/sandstorm-asp-net-core-test](https://github.com/pgrm/sandstorm-asp-net-core-test)
- inside the repository run

[code]
- open the browser and go to http://local.sandstorm.io:6080/
- sign in w

[2016-11-12 13:53] gkhanna79 commented on #636
CC @schellap

[2016-11-12 20:16] piotrpMSFT opened #637 "DependencyModel lacks Copyright assembly attribute"
Moved from https://github.com/dotnet/cli/issues/3829 on behalf of @dagood.

----

## Steps to reproduce

Look at properties for `Microsoft.Extensions.DependencyModel.dll` (1.0.0).
## Expected  behavior

Properties are like these (`System.Collections.dll` shown):

[code]
## Actual behavior

Properties are these (`Microsoft.Extensions.DependencyModel.dll` shown):

[code]

(In CoreFX, the attributes

[2016-11-13 02:43] piotrpMSFT opened #638 "DependencyContext resolution of deep dependencies"
Moved from dotnet/cli#3608 on behalf of @stephenpope

-----

## Steps to reproduce

(Apologies for the long setup here !)

`Framework.Abstractions` contains interface `IAmAnInterface`
`Framework` references `Framework.Abstractions` in its `project.json`

`MyLibraryOne` references `Framework` in its `project.json`
`MyLibraryOne` has `ClassOne` that inherits from `IAmAnInterface`

`MyLibraryTwo` ref

[2016-11-13 15:49] gkhanna79 commented on #637
@schellap This is likely tied to moving Core-Setup rep to use BuildTools.

[2016-11-14 16:37] brianrob commented on #618
Yes, this is still applicable.

[2016-11-14 16:55] gkhanna79 commented on #618
@brianrob How are you enabling the profiling experience? I would expect that when you profile the app, you will need to determine the M.N.App the app targets, as opposed to what is present on the machine, to generate the PDBs. As a result, shouldn't the profiling infrastructure take care of pulling down the right CoreCLR nuget package and extracting crossgen from it?

[2016-11-17 00:27] brianrob opened #650 "Size Regression in Shared Framework"
## Steps to reproduce
1. Download dotnet-obtain.ps1: https://raw.githubusercontent.com/dotnet/cli/rel/1.0.0/scripts/obtain/dotnet-install.ps1.
2. Run powershell .\dotnet-obtain.ps1 -SharedRuntime -InstallDir . -Channel master.
3. cd Microsoft.NetCore.App\<latest shared framework directory>.
4. dir

## Expected  behavior
Expect to have a single binary for each managed assembly in the shared framewo

[2016-11-17 00:29] brianrob opened #651 "dotnet migrate puts the backup project.json file for project to project dependencies in the wrong place."
## Steps to reproduce
1. Create two project.json based projects where one depends on the other via project to project reference.
2. dotnet migrate the root package.
3. Look in the directory of the root package and you'll have a directory with the name of the leaf project that contains its project.json rather than it being in the backup directory of the leaf project directory.

## Environment data

[2016-11-17 00:29] brianrob commented on #651
cc: @piotrpMSFT

[2016-11-17 00:40] gkhanna79 commented on #651
@brianrob Can you please file this issue in CLI repo and close it here?

[2016-11-17 00:54] brianrob commented on #651
Yup, sorry, that's where I meant to file this one.  Filed https://github.com/dotnet/cli/issues/4757.

[2016-11-17 00:54] #651 closed

[2016-11-18 01:03] #650 closed

[2016-11-21 13:32] nswali commented on #572
@shirhatti  Workaround in windows: if you repair the previous 1.0.1 install seems, you get your expected behavior.

[2016-11-21 22:22] livarcocc opened #675 "Expose an API in the host that returns all the shared frameworks available next to it"
We could use that with tools, for instance.

@schellap @piotrpMSFT

[2016-11-21 22:45] omajid opened #676 "Proprietary license"
The main repository contains the MIT license in the https://github.com/dotnet/core-setup/blob/master/LICENSE file. But the packaging dir contains a proprietary license file: https://github.com/dotnet/core-setup/blob/master/packaging/LICENSE.txt.

Specifically, this other license file says:

There are other copies of this license too:
- https://github.com/dotnet/core-setup/blob/master/resources/LIC

[2016-11-22 02:30] ellismg commented on #676
/cc @richlander.

Rich, what's the strategy here?  I know other MSFT open source products have MIT licenses, but we license the specific build that MSFT does differently.  What's the plan here for third parties that want to build .NET?

[2016-11-22 07:05] kierenj opened #679 "Make global.json "sdk/version" support min/max, or wildcards"
Today, I tried to deploy to Azure App Services, but they had updated to the latest tools SDK (preview3).  This broke the build for my project.

Eventually, I found that I can specify an sdk/version to use a different version of the SDK.  However, App Services have a range of versions installed, and the previous version I had (`1.0.0-preview2-003133`) wasn't an option - they have `1.0.0-preview2-00

[2016-11-22 08:12] tmds opened #680 "Microsoft.NETCore.App 1.0.1 app does not run on .NET Core 1.1.0"
[code]

As a developer, I want to build my app once and have it working on as many distributions possible for as long as possible without having to do anything myself :)

Currently an app for A.B.C will run on A.B.D (D>=C). It would be nicer if it were also running on A.E.F (E>B) if no A.B.D was found.

This will be very annoying when you upgrade your distro and all your compiled apps no longer ru

[2016-11-22 16:15] gkhanna79 commented on #680
@tmds In general, our policy is to keep patch version updates rolling forward as they maintain strict compatibility requirement of being functional equivalent with their predecessors.

When incrementing minor version, we may not be bug-to-bug compatible while still being functionally compatbility. Hence, rolling forward is not necessarily going to work and thus, you see the behaviour above.

To ta

[2016-11-22 16:17] gkhanna79 commented on #679
@ramarag @schellap PTAL

[2016-11-22 17:10] tmds commented on #680
Can you clarify what you mean by bug-to-bug compatible? And how this is different between patch and minor increments?

[2016-11-22 17:57] leecow commented on #680
@tmds @gkhanna79 The only time updated tooling would be needed to target an particular shared framework is if specific functionality were added to the tooling. An example might be additional Linux distro support that did not previously exist.

@tmds Our LTS releases are meant to satisfy exactly your long-running scenario. Careful attention is paid to patch compatibility so there can be confidence

[2016-11-22 20:41] tmds commented on #680
The LTS releases satisfy the long-running scenario but not the ability to widely deploy. New versions of a distro supported by a new current release won't run your app since new the support is not back-ported to the LTS release. E.g. if your app targets 1.0, it doesn't run on fedora 24 which is now supported by 1.1. So if you want to support these new versions, you need to re-target your app on ea

[2016-11-22 21:59] richlander commented on #676
This is what should happen:

- Arbitrary person clones and builds the product in the comfort of their own home or business. They should end up with the MIT license in their built assets by default.
- A person or business with specific goals (Microsoft comes to mind) around .NET Core can optionally put their own license in the package. They should include a 3rd party notice in their distribution to

[2016-11-23 04:39] omajid commented on #676
Yes, I think a solution where a license is used by default but there's a way to add a different license, satisfies everyone's need. I am mostly concerned with the open source aspect of .NET Core, so MIT by default would be fantastic. It would address any confusion from anyone who might build .NET Coreand be surprised by the unexpected license of the built product.

IANAL, and this is mostly for my

[2016-11-23 05:51] richlander commented on #676
IANAL either. Three points:

- The MIT license basically says "do whatever you want" including sublicense. It is GPL that is prescriptive on outgoing licenses, not MIT.
- We include 3rd party notice files in distributions to account for dependencies. The new experience we are discussing needs to include a 3rd party notice for the .NET Core repos with the copyright holder being .NET Foundation, if

[2016-11-23 13:26] omajid commented on #676
Thanks for the clarifications!

[2016-11-23 14:07] tmds commented on #680
\cc @DamianEdwards

[2016-11-23 22:45] blackdwarf opened #685 "Help and error messages from the host (dotnet.exe) need to be localized"
## Steps to reproduce
Run `dotnet` while having your machine locale set to French.

## Expected  behavior
See the help text in French.

## Actual behavior
See the help text in English.

All of the errors and help texts need to be localized.

/cc @schellap @gkhanna79

[2016-11-23 22:46] gkhanna79 commented on #685
@schellap @ramarag PTAL

[2016-11-23 22:47] gkhanna79 commented on #685
@blackdwarf What all OS platforms is this for?

[2016-11-26 20:02] davidfowl opened #695 "Microsoft.NETCore.App 1.2.0-* should target netcoreapp1.2"
It still only targets 2 tfms.

https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.App

/cc @weshaggard

[2016-11-29 16:30] davidfowl commented on #695
It should target 3.

- netcoreapp1.0
- netcoreapp1.1
- netcoreapp1.2

[2016-11-29 16:43] weshaggard commented on #695
I don't have any plans to do this right now as nothing is actually using netcoreapp1.2 in corefx yet. Is this blocking something for you @davidfowl?

[2016-11-29 17:04] davidfowl commented on #695
It's not blocking anything right this moment but it has the potential for errors:

I think *this* is a BIG mistake. I'd love for us to get in the habit of bumping the version immediately after we branch (like you do with netstandard1.7). Corefx/CoreCLR has to create the slot for other teams to build upon. As soon as there's a new API, it needs to go into the right folder automatically or it will c

[2016-11-29 17:32] Petermarcu commented on #695
Yeah, I believe we need NuGet support with the proper mappings to also come online right away to be able to do that properly.

[2016-11-29 22:35] weshaggard commented on #695
Agreed. We should do our best to bump these when we version but in some cases the tooling blocks our ability to do it right away. We will be bumping over the next few weeks in corefx and then I will follow-up with the change to the meta-package here.

cc @ericstj

[2016-11-30 19:49] blackdwarf commented on #685
@gkhanna79 this is for all the platforms we support.

[2016-12-01 08:43] tmds commented on #680
Picking this up after a week.

This issue is about this 1 line in [core/support](https://www.microsoft.com/net/core/support) that says:

Because [.NET Core versioning uses SemVer](https://docs.microsoft.com/en-us/dotnet/articles/core/versions/index), a change of minor guarantees the API to be backwards compatible.

I understand that changing a minor may have differences in behavior (e.g. a bugfix

[2016-12-01 10:28] JustArchi commented on #545
This issue is misleading. It is indeed libssl1.0.0 library that is segfaulting, but on behalf of libcurl3 one. This is because dotnet depends on old versions of libcurl3 for some reason, at least in ubuntu 16.04/14.04 + debian8 packages.

```apt-get install libcurl3=7.38.0-4+deb8u5 libcurl4-openssl-dev=7.38.0-4+deb8u5```

This fixes it. Grab any version from jessie and install it on testing/sid.

[2016-12-01 10:43] fogzot commented on #545
Indeed! I can confirm that this fixes the problem un Debian testing/unstable as of today.

[2016-12-01 11:05] JustArchi commented on #545
Nice to hear that it works for you too. I silently hope that dotnet team will put more efforts into this bug, because it has at least half a year by now.

[2016-12-01 11:22] RheaAyase commented on #680
That is already a question i'm about to ask in our next meeting...
Regards,
"Alice"

[2016-12-01 16:28] bartonjs commented on #545
If the problem is only on testing/unstable versions of Debian then the problem is likely that we don't build for (or support) those versions.  We only have support for stable (Jessie).

If you have a Stretch (or Sid) system and would like to try rebuilding the native corefx components to match the libraries you have present, https://github.com/dotnet/corefx/issues/13221#issuecomment-262070038 ment

[2016-12-02 17:29] gkhanna79 opened #715 "Update versions of additional Nuget packages for 1.1.x servicing"
Please see the changes done in https://github.com/dotnet/core-setup/commit/3f9e52752857442a4b41aca085548863e0b6a24a#diff-68a141467209dfeea5bc5130245d26f4.

These packages need to be updated for servicing 1.1.x as well. @schellap Can you PTAL at this at the earliest?

[2016-12-02 18:44] terrajobst commented on #680
That sounds great in principle, but it doesn't work so well in practice. The .NET Framework has exactly the characteristic you describe and as a result, the degrees of freedom we have with adding new features to it are severely limited.

Keep in mind that compatibility isn't a black & white thing: even changes most devs would describe as compatible have resulted in applications not being able to r

[2016-12-02 18:59] tmds commented on #680
@terrajobst Totally agree. It's preferable to use the exact minor to avoid these issues.

What's your advice for Alice and Bob?

[2016-12-04 22:47] JPBlanc opened #721 "First step with 1.2.0-beta-001137-00 on Windows ARM32"
## Steps to reproduce

I download 1.2.0-beta-001137-00 for Windows ARM32 at https://github.com/dotnet/core-setup and copy the folder layout to my Raspberry PI3.
I build a portable app on my x64 machine and publish it locally.
I copy the published app to my device modifying the runtimeconfig.json.
I run dotnet <path to my publishedapp.dll> on my device.

here is a close to hello world program that

[2016-12-05 05:02] hqueue opened #723 "Cross compiling corehost for Linux ARM32"
This is a part of  Enabling Linux ARM32 core-setup #725.

# New Plan (Dec. 7, 2016~)

## Prerequisite
We need rootfs (issue #729) for cross-compilation.

## Proposed approach
After rootfs for ARM32 is setup, we can build corehost for ARM using following command.
[code]

# Old Plan (Before Dec. 7, 2016) (Dropped)

## Steps to reproduce
You have to installed arm cross toolchain on host machine., e.g

[2016-12-05 05:26] hqueue opened #725 "Enabling Linux ARM32 for .NET Core"
Host: Ubuntu 14.04 x64
Target: Ubuntu 14.04 or(and) 16.04 ARM, Ubuntu 14.04 ARM Softfp and Tizen

To enable core-setup for Linux ARM32, we are going to follow steps suggested in PR #712.

## ARM hardfp

**Common**
- [x] stable default clang version for cross compilation (#1411)
- [x] Use same logic to prepare rootfs across dotnet (#1432)

**CoreCLR**
- [x] Update CoreCLR to generate nuget packages

[2016-12-05 08:14] schellap commented on #715
@gkhanna79, even though nothing changed in these packages, these just have to be produced with new version numbers?

[2016-12-05 08:16] schellap commented on #715
I believe this is to not overwrite uploaded blob storage packages.

[2016-12-05 17:12] gkhanna79 commented on #715
Correct.

[2016-12-05 17:17] gkhanna79 commented on #721
What is the error you are seeing? Do you have an exception stacktrace or crash dump?

[2016-12-05 17:54] gkhanna79 commented on #723
Please keep @schellap and @ramarag in PR.

[2016-12-05 19:02] terrajobst commented on #680
My advice for Bob is simple: create a self-contained console app. We're also planning in investing more into linker tools so that the app can be tree shaken. In other words, Bob wouldn't run on a shared framework. This allows Bob to use whatever he wants with no external dependencies (besides the OS, of course).

For Alice, that's a bit more nuanced. Generally speaking, I'd expect the distros to s

[2016-12-05 20:31] JPBlanc commented on #721
No Error, no Exception,

 is not waiting for characters, and firstName remains null (the actual behavior is really what I see on the console).

[2016-12-05 21:29] gkhanna79 commented on #723
CC @janvorli

[2016-12-05 21:32] gkhanna79 commented on #725
CC @schellap @ramarag @janvorli

[2016-12-06 08:42] tmds commented on #680
As far as I understand, this involves Bob to publish against each RID. Which means as distros create new releases, Bob will have to target those as well otherwise his app won't run there. He will also need to package his app for each RID. Since the RIDs he targets have a .NET runtime, he's better off depending on the shared framework and providing a single download.
To have an advantage by publish

[2016-12-06 14:30] janvorli commented on #725
As I have mentioned in the discussion in #724, I believe that we should be consistent in the way we do cross build over our repos. That means to use rootfs and to do the cross build using clang and not GCC. The same way we do it in CoreCLR and CoreFX.
I hope we can reuse the logic from the build.sh in CoreCLR here.

[2016-12-06 19:40] danroth27 commented on #625
Renaming to reflect what we really want here.

[2016-12-07 07:45] hqueue opened #729 "Preparing ROOTFS for cross-compilation"
As discussed in PR #724  and suggested in issue #725, we believe that we should keep consistency with other repos (e.g. CoreCLR and CoreFX) in the way we do cross compilation.

Therefore we need ROOTFS as a first step and I'm going to prepare ROOTFS following the logic from CoreCLR.

## Overall structure
### Target
- ARM (only ARM this time, or do we need other architectures too?)
### New director

[2016-12-07 07:47] hqueue commented on #729
@gkhanna79 @schellap @ramarag @janvorli Looking for any comment. Thank you in advance!

[2016-12-07 17:20] gkhanna79 commented on #729
For now, Arm support is sufficient @hqueue. Thank you for getting this enabled.

CC @kouvel

[2016-12-07 20:37] Mech0z opened #734 ".Net core not installing"
I installed https://dotnetcli.blob.core.windows.net/dotnet/release/1.1.0/Installers/Latest/dotnet-win-x64.latest.exe

But when I do
dotnet --version
I get:
1.0.0-preview3-004056

When I start my aspnet core app I upgraded to 1.1 I get

The specified framework 'Microsoft.NETCore.App', version '1.1.0' was not found.

Am I doing something wrong?

[2016-12-07 21:15] gkhanna79 commented on #734
Are you able to run a console (HelloWorld) app?

CC @schellap @ramarag

[2016-12-07 21:26] Mech0z commented on #734
Yes that works, wonder why it gives me that error then :/

My code is here https://github.com/Mech0z/FoosballCore2/tree/Core-1.1-upgrade

Its running in docker if thats relevant

[2016-12-07 21:29] gkhanna79 commented on #734
Your CSProj only references Microsoft.NETCore.App 1.0.0. Where is the reference for 1.1.0?

@davidfowl do you have any thoughts?

[2016-12-07 21:38] Mech0z commented on #734
Tried changing it to 1.1 but didnt help

The full error message is

[2016-12-07 21:41] gkhanna79 commented on #734
Your output above refers to a non-Windows path location but your link above is for Windows installer. Did you try the correct installer for the platform?

[2016-12-07 21:43] Mech0z commented on #734
Maybe because I am running Docker for windows with Linux containers, maybe I need to upgrade the container somehow all though I would expect it to figure that out itself

[2016-12-07 22:13] Mech0z commented on #734
Fixed with https://github.com/Mech0z/FoosballCore2/commit/068cf5bc106680a1f4e478b7e7b1a25175645df0

Just thought NuGet upgrade packages would take care of that :) but thanks for pointing me in the right direction 👍

[2016-12-07 22:13] #734 closed

[2016-12-07 22:49] schellap commented on #715
Fixed by https://github.com/dotnet/core-setup/pull/727

[2016-12-08 00:43] gkhanna79 opened #736 "Carry uCRT binaries app-local"
This is required to alleviate the dependency on an external installer (of CRT). This will be achieved in the following manner once @weshaggard has enabled a flat-file version of Microsoft.NETCore.App in  Core-Setup repo:

1) Pull in uCRT binaries in Microsoft.NETCore.App (flat-file) package
2) Update the installer to no longer chain into CRT installer.

CC @schellap @ramarag @Petermarcu

[2016-12-09 00:11] #538 closed

[2016-12-10 01:03] schellap opened #753 "Add --sdk-version to select SDK"
## Expected  behavior
`dotnet --sdk-version 1.0.0 help`

should select the appropriate CLI SDK and invoke help

[2016-12-10 01:04] schellap commented on #753
See related discussion in: https://github.com/dotnet/cli/issues/4804

[2016-12-12 01:36] jyoungyun opened #764 "Add '--hostbuildonly' option"
## Expected  behavior

 `./build.sh --build-driver-only`

## Actual behavior
This option only builds the dotnet-host-build binary. This is useful when you want to call it directly after we modify the dotnet-host-build tool.

[2016-12-12 18:57] gkhanna79 commented on #725
@hqueue @hseok-oh Is Ubuntu 14.04 an intended target for Arm32?

[2016-12-13 02:16] hqueue commented on #725
@gkhanna79 AFAIK default rid is ubuntu.14.04-arm for coreclr ARM and default ARM rootfs is also 14.04.

[2016-12-13 02:27] hseok-oh commented on #725
@hqueue @gkhanna79 RaspberryPI2 used ubuntu 14.04. (but no longer maintained)
https://wiki.ubuntu.com/ARM/RaspberryPi

[2016-12-13 08:22] tmds commented on #680
@terrajobst Is there still something you want to add? Should I close the issue?

[2016-12-13 17:43] gkhanna79 commented on #725
@hseok-oh If Ubuntu 14.04 is not maintained and supported, is there a specific reason to support it for Linux Arm32? If not, it will simplify bunch of things (e.g. libcoreclrtraceptprovider.so builds just fine for 16.04 but needs additional work for 14.04).

What do you think?

[2016-12-13 17:46] gkhanna79 commented on #725
I don't know who chose those defaults or why. Could it be cause Tizen OS is based upon Ubuntu 14.04? do we build libcoreclrtraceptprovider.so for Tizen?

[2016-12-13 18:02] gkhanna79 commented on #725
@kouvel This is the Linux Arm32 main work-list issue.

[2016-12-13 18:03] gkhanna79 commented on #725
CC @schellap

[2016-12-13 21:49] terrajobst commented on #680
That' correct.

The packaging for self-contained apps is either XCOPY or OS-specific installer/package manager. Sharing vs. non sharing doesn't change that.

Whether Bob is better off depends on the goals Bob has: does he care about control of his dependencies? Does he care about being able to use the latest bits? Would Bob prefer an AOT tool chain?

Sharing isn't net wise better; it comes with a

[2016-12-14 04:53] hqueue commented on #729
Close this issues, since PR #747 is merged.

[2016-12-14 04:53] #729 closed

[2016-12-14 05:34] hqueue commented on #725
@gkhanna79
I don't think it's related to Tizen OS.
The most possible explanation will be that ubuntu 14.04 is selected because of ARM Emulator for CorecCLR and Raspberry pi 2 which were used to bring up CoreCLR ARM.
Please check out https://github.com/dotnet/coreclr/issues/3805 for ARM emulator which is used at the very early stage of CoreCLR ARM32 bring up.

[2016-12-14 05:42] hqueue commented on #764
@jyoungyun  I think you meant `build_projects/dotnet-host-build/build.sh` not `dotnet ` right?

[2016-12-14 05:53] tmds commented on #680
If by this you mean "use a higher minor if the exact is not available": 👍 👍 👍

By doing this, Alice can adopt the strategy of supporting LTS releases and the latest minor release (for each LTS). If Bob wants to minimize the chance of breaking due to automatic minor upgrades, he'll target an LTS release.

[2016-12-14 06:31] jyoungyun commented on #764
@hqueue Yes, right. I correct the content of this issue. Thank you.

[2016-12-14 12:03] hqueue commented on #723
Since #749 is merged, closing this issue

[2016-12-14 12:03] #723 closed

[2016-12-14 18:52] gkhanna79 opened #789 "Enable Pipeline Build support for Linux Arm32"
@kouvel Please assign this to Caio.

CC @wtgodbe

FYI @hqueue

[2016-12-14 18:54] gkhanna79 opened #790 "Enable CI support for Linux Arm32"
CC @hqueue @kouvel @wtgodbe

[2016-12-15 04:58] hqueue commented on #790
I think CI for Linux Arm32 will be based on cross build as in CoreCLR, right?

[2016-12-15 04:59] hqueue commented on #789
@gkhanna79 What does "Pipeline" build mean exactly ?

[2016-12-15 05:04] gkhanna79 commented on #789
It is the automated daily build infrastructure that we have to build .NET Core repos (CoreCLR, CoreFX, Core-Setup) so that we can produce a complete Microsoft.NETCore.App SharedFW as listed in the DailyBuilds section on Core-Setup repo main page.

[2016-12-15 05:04] gkhanna79 commented on #790
@hqueue Correct. CI build is just like a developer build, but happens automatically for PRs.

[2016-12-15 11:13] jyoungyun opened #801 "Add '--verbose' option"
## Steps to reproduce
`./build.sh --verbose`

## Expected  behavior
export DOTNET_BUILD_VERBOSE=1

Add '--verbose' option to show more detailed build messages.

[2016-12-15 17:53] kouvel commented on #789
@cakine

[2016-12-15 19:12] #801 closed

[2016-12-15 20:54] gkhanna79 commented on #725
Thanks for the explanation @hqueue. For now, we can continue to build for both 14.04 and 16.04 and  see how far we will need the 14.04 implementation.

With regards to the emulator, I noticed that in CoreCLR repo, we bootup the emulator and setup the rootfs within it and then perform the build. This is different from the build instructions we have at https://github.com/dotnet/coreclr/blob/master/D

[2016-12-16 07:35] hqueue commented on #725
@gkhanna79
For the first question,  I will call @sjsinju @wateret, since I'm not aware of the latest of ARM CI.
@sjsinju @wateret Can you please answer the first question above regarding CI and ARM emulator ?

For the second one, I also think tests are not sufficient to cover key sccenarios. We will look into them.

[2016-12-16 08:19] hqueue opened #811 "Incorrect PKG_RID selected during cross-build of corehost"
## Steps to reproduce
Host: Ubuntu 14.04 x64

`./build.sh --env-vars TARGETPLATFORM=arm,TARGETRID=ubuntu.16.04-arm,CROSS=1`

## Expected  behavior
Build script correctly invoke cmake with `-DCLI_CMAKE_PKG_RID:STRING=ubuntu.16.04-arm`

## Actual behavior
cmake is invoked with `-DCLI_CMAKE_PKG_RID:STRING=ubuntu.14.04-arm`

## Reason
In the src/corehost/build.sh(https://github.com/dotnet/core-setup/b

[2016-12-16 11:38] jyoungyun opened #813 "Generate DotNetHost nupkgs for ubuntu.14.04-arm and ubuntu.16.04-arm"
## Steps to reproduce
`./build.sh --verbose --env-vars CONFIGURATION=Release,TARGETPLATFORM=arm,TARGETRID=ubuntu.14.04-arm,CROSS=1,ROOTFS_DIR=/home/jyoung/git/dotnet/rootfs-coreclr/arm/`
or
`./build.sh --verbose --env-vars CONFIGURATION=Release,TARGETPLATFORM=arm,TARGETRID=ubuntu.16.04-arm,CROSS=1,ROOTFS_DIR=/home/jyoung/git/dotnet/rootfs-coreclr/arm/`

## Expected  behavior
Generate DotNetHost nu

[2016-12-19 04:53] hqueue commented on #811
Closing this issue, since PR #812 is merged.

[2016-12-19 04:53] #811 closed

[2016-12-19 07:54] #813 closed

[2016-12-20 05:01] #764 closed

[2016-12-20 05:56] wateret commented on #725
@gkhanna79
CI cross-builds the same way as any developers would. You can check out [arm32_ci_script.sh#L227](https://github.com/dotnet/coreclr/blob/master/tests/scripts/arm32_ci_script.sh#L227). The emulator is only for running tests. Of course, we still need pre-built rootfs to cross-build though.

One more thing that may be confusing is that the CI has arm-softfp rootfs only which cannot be crea

[2016-12-20 07:03] jyoungyun opened #847 "Add '--skiptests' option to skip tests"
## Steps to reproduce
`./build.sh --skiptests`

## Expected  behavior
[code]

[2016-12-20 07:44] jyoungyun opened #849 "Disable to generate Debian packages during the cross builds"
## Steps to reproduce
[code]

## Expected  behavior
Build succeed

## Actual behavior
[code]

In my opinion, when the cross builds, we should not generate debian packages.
I will post a PR, which is to use 'DOTNET_CROSS_BUILD' environment.
If there is a better way, please give me advice.

[2016-12-20 07:46] jyoungyun commented on #849
cc: @hqueue @idkiller @hseok-oh @chunseoklee

[2016-12-20 07:52] jyoungyun commented on #725
@gkhanna79 I couldn't find where libuv.so is built. Could you give me an advice?

[2016-12-20 12:58] qmfrederik commented on #725
@jyoungyun not sure if it's the way libuv is build for .NET, but for raspberry pi the instructions so far have been to download it from the libuv project & compile it:

See the [these comments](https://github.com/dotnet/coreclr/issues/6321#issuecomment-233813817) from @leemgs related to dotnet/coreclr#6321

[code]

That worked for me to get Kestrel up & running on Raspberry Pi; but note that newer

[2016-12-20 18:28] gkhanna79 commented on #725
@wateret My point is that we should decouple cross building in CI from emulator. The nuance is that in CI, we setup rootfs from emulator and then perform cross-build while a regular developer will not. My suggestion is to fix the script to do the following:

1) Without the emulator, perform the cross build (e.g. cross/build-rootfs.sh arm)
2) Load the emulator only for running tests. Thus, if we we

[2016-12-20 18:28] gkhanna79 commented on #725
@hqueue did you find anything interesting about running the 22 tests in CI?

[2016-12-20 18:30] gkhanna79 commented on #849
Does this happen only when you build on a Debian box (since I thought it was validated to work on Ubuntu 14.04 and 16.04?

[2016-12-20 19:20] gkhanna79 commented on #283
Assigning to @AlfredoMS who is working on this for build-from-source.

[2016-12-20 19:21] gkhanna79 commented on #253
Assigning to @AlfredoMS since he is working on moving the repo to use build-tools.

[2016-12-21 01:53] jyoungyun commented on #725
@qmfrederik Thank you for your answer. What you are talking about is how to download libuv.so directly. But I want to know where the libuv*.nupkg is generated. The NETCoreApp is dependent on libuv module so I wanna generate libuv*.nupkg for arm.

[2016-12-21 04:58] wateret commented on #725
@gkhanna79

Just make things clear, the emulator image is nothing but pre-built rootfs. Of course the emulator also needs it for running tests.

For the first one you suggested, basically I agree with you. However it takes pretty long to build rootfs with `build-rootfs.sh`. As far as I remember it took 1-2 hours on my linux machine. I'm not sure if it is acceptable.
For the second one, the emulato

[2016-12-21 06:04] hqueue commented on #725
@gkhanna79 Those 22 tests are TCs where we observed regression frequently when brining-up CoreCLR for Linux ARM32.  Therefore the coverage of 22 tests does not cover the code which is not modified freqeuently. However we cannot run all TCs (11K+) with ARM emulator becasue it took very long time and we faced timeout in CI environment.

I also think we need more TCs for CI, but not sure about how to

[2016-12-21 08:05] qmfrederik commented on #725
@jyoungyun I think the libuv NuGet package is located here: https://github.com/aspnet/libuv-package?files=1

[2016-12-21 09:51] jyoungyun commented on #725
@qmfrederik  Thank you! I will check that repository.

Finally, I succeeded in obtaining a dotnet-ubuntu-arm.1.2.0-beta-001206-00.tar.gz file, which confirmed that it works well on Raspberry PI2. I built the core-setup repository using the local nupkg source and these are the results built from CoreCLR and CoreFX(including https://github.com/dotnet/corefx/pull/14655 patch). If CoreCLR and CoreFX n

[2016-12-21 10:12] tmds commented on #680
@terrajobst the tools are not following the rules...

netcoreapp1.0 tools run on 1.1.
and prefercliruntime makes it a feature: https://github.com/dotnet/cli/pull/4814.

[2016-12-21 10:28] qmfrederik commented on #725
Awesome! If there's any way for you to share the NuGet packages/tarballs, I'd be happy to try them out on a RPi 2 & 3, and see how far I get with our .NET Core-based product :)

[2016-12-21 15:55] gkhanna79 commented on #725
This is excellent news @jyoungyun! Thank you all for driving this through :)

The LibUV package does come from ASP.NET repository. @Eilon Can you please advise which repo to enlist to build this package from?

[2016-12-21 15:56] gkhanna79 commented on #725
This is the work I am tracking to get done as part of the E2E pipeline build support across the three .NET Core repos (CoreCLR, CoreFX, Core-Setup).

[2016-12-21 16:00] gkhanna79 commented on #725
@wateret

That is interesting. For me, creating a new rootfs takes about 7 or so mins on my USB 3.0 SSD for both Trusty and Xenial builds. Everything else is cost of a regular cross build from there on. Hence, my question around why we need to pickup rootfs from emulator and not just fetch it everytime. Building upon this, to enable CI build for Ubuntu 16.04 arm, are you planning to add another em

[2016-12-21 16:03] janvorli commented on #725
I can also confirm that creating a new rootfs takes a couple of minutes on my Linux box. It is probably related to the speed of the internet connection, since  the process fetches all the necessary packages.

[2016-12-21 19:04] Eilon commented on #725
The libuv source code is 3rd party and is here: https://github.com/libuv/libuv

The ASP.NET team's build process for compiling libuv is in our own repo here: https://github.com/aspnet/libuv-build/

And it references the libuv source code via a Git submodule: https://github.com/aspnet/libuv-build/tree/dev/submodules

[2016-12-21 19:23] Eilon commented on #725
cc @moozzyk who knows the most about the libuv build.

[2016-12-21 19:39] moozzyk commented on #725
What @Eilon said.
Packages for different OS/architectures (currently Windows Win32/x64/arm, Linux (64-bit), macOS) are built from this repo https://github.com/aspnet/libuv-build/ (which pulls libuv code as a submodule) and pushed to the [myget feed](https://dotnet.myget.org/gallery/aspnetcore-ci-dev) as OS specific Microsoft.AspNetCore.Internal.libuv-* packages. The [libuv-package](https://github.

[2016-12-22 01:52] #847 closed

[2016-12-22 02:52] jyoungyun commented on #725
@qmfrederik I attached a .NET Core Runtime tarball for Ubuntu 14.04 ARM. When I am ready for Ubuntu 16.04, I will share the file here.
[dotnet-ubuntu-arm.1.2.0-beta-001206-00.tar.gz](https://github.com/dotnet/core-setup/files/667836/dotnet-ubuntu-arm.1.2.0-beta-001206-00.tar.gz) (Ubuntu 14.04 ARM)

@gkhanna79

Thank you for your support!

@Eilon @moozzyk @qmfrederik Thank you for comments. In fact

[2016-12-22 04:09] moozzyk commented on #725
@jyoungyun - the only thing that currently requires libuv is the Asp.NET Core Http Server - [Kestrel](https://github.com/aspnet/KestrelHttpServer). If you don't use Asp.NET Core you can get by without libuv.
Currently we use kind of a homebrew way to build libuv for different platforms (one of the reasons was that their scripts did not support Windows ARM) but eventually it would be good just to b

[2016-12-22 05:11] hqueue commented on #725
FYI. I've ran above dotnet tarball at Raspberry Pi3 which is ubuntu.16.04-arm.
At least, it works well with HelloWorld.exe and other simple applications. :) Thanks @jyoungyun !

[2016-12-22 17:30] hqueue commented on #725
@gkhanna79 Unfortunately we don't have automated CoreCLR/CoreFX tests on HW and it also takes several hours to perform full CoreCLR unit tests on ARM device, e.g. Rpi2 or Rpi3.
We are also interested in the test infra but I'm afraid that full CoreCLR/CoreFX tests may not be feasible for ARM HW due to timeout, e.g. CoreFX tests run much longer than CoreCLR. Therefore I think we may have to choose t

[2016-12-22 18:54] stevedesmond-ca commented on #725
Looks like #712 has been merged, so we can check that one off!

[2016-12-26 00:56] jyoungyun commented on #849
@gkhanna79 Yes, this error occurs only when I build on a Debian box. I think we cross-builds, so it seems that the debian package for ARM can not be created properly on x64 host environment. I'm checking how to create a debian package for cross-builds. If there is no good way, I will post a PR for disabling 'GenerateDebs' Target when we cross-builds.

[2016-12-26 07:47] hqueue commented on #849
@gkhanna79  We thought we need to generate tarball only and don't need debian pacakge files for Linux ARM32 after your comment at https://github.com/dotnet/core-setup/pull/712#issuecomment-267478168. Do we need deb files for Linux ARM32 too ?

[2016-12-27 16:52] gkhanna79 commented on #849
@hqueue Yes, we only need to generate the tarball for all the cross builds (including arm32). @jyoungyun Please add a check to conditionally disable generating the deb packages.

[2016-12-27 16:58] gkhanna79 commented on #725
@jyoungyun I believe you have completed this for Core-Setup, right? If so, can you please add PR details above and check this off :) ?

[2016-12-27 16:58] gkhanna79 commented on #725
@hqueue What is this item about (it is listed under Core-Setup section)?

[2016-12-27 17:02] gkhanna79 commented on #725
@jyoungyun I think it will be a good idea to get the changes ready to build lib-uv for arm32 (as tracked by https://github.com/aspnet/libuv-build/issues/19).

[2016-12-27 19:56] schellap opened #934 "Enable dotnet cache experience"
### [`dotnet cache` core experience](https://github.com/dotnet/sdk/issues/554)
- [x] Enable [`dotnet cache` shim](https://github.com/dotnet/cli/issues/5161)   for the `cache` target and the command line switch in the CLI(@ramarag)
- [x] Implement the `cache` build target. i.e., allow `packages.targets` MSBuild target to be `restore`-ed into output directory (@ramarag)
- [x] Parse and filter the ap

[2016-12-28 00:01] moozzyk commented on #725
@gkhanna79 @jyoungyun - is Linux/arm RID sufficient though? How about hard float vs. soft float? The linux-arm RID does not convey this information....

[2016-12-28 00:13] stevedesmond-ca commented on #725
Convention in the dotnet repos seems to be that arm=armhf, and softp must
be specified explicitly. Perhaps an arm-softp rid could be added if
necessary

On Dec 27, 2016 7:01 PM, "Pawel Kadluczka" <notifications@github.com> wrote:

@gkhanna79 <https://github.com/gkhanna79> @jyoungyun
<https://github.com/jyoungyun> - is Linux/arm RID sufficient though? How
about hard float vs. soft float? The linux-

[2016-12-28 02:23] hqueue commented on #725
@gkhanna79 At first, we were planning to make a seperate PR for each task. But as you already noticed, PR #712 has all of them together. I will checked them off. Thank you for notifying us :)

[2016-12-28 02:30] hqueue commented on #725
@moozzyk @stevedesmond-ca @gkhanna79 @jyoungyun I also have same question since when this task  was started and for example there is no distinction in Ubuntun rids among different float ABI. This may affect  all other dotent repos inclduing CoreCLR and CoreFX.

[2016-12-28 03:39] jyoungyun commented on #725
be specified explicitly. Perhaps an arm-softp rid could be added if
necessary

@stevedesmond-ca @moozzyk @gkhanna79 @hqueue Linux RID does not contain the float ABI information, but we use in combination with RID and float ABI information as a buildarch. As @stevedesmond-ca mentioned above, if necessary, we can add an arm-softfp rid like CoreCLR and CoreFX repos. I would like to keep the existing

[2016-12-28 03:39] hqueue commented on #725
@gkhanna79 I'm also thinking about adding Tizen to Linux ARM32 and it will be started bottom up, i.e. starting from CoreCLR and CoreFX as we did it for ubuntu 14.04 and 16.04.

[2016-12-28 04:22] gkhanna79 commented on #725
@hqueue @jyoungyun I must admit I am not very familiar with the difference between soft and hard fp. Can you please elaborate on them before we go down the path of determining whether they require new RIDs or not?

[2016-12-28 04:24] gkhanna79 commented on #725
@hqueue In general, the concept sounds fine to me. however, before proceeding ahead with it, I would like to understand the difference between Tizen (built for Linux Arm32) and a regular Linux Arm32 .NET Core - can you share more details on it?

[2016-12-28 04:46] hqueue commented on #725
@gkhanna79  GNU defines three floating ABIs, i.e. `soft`, `softfp` and `hard`. (see `-mfloat-abi=name` part at https://gcc.gnu.org/onlinedocs/gcc/ARM-Options.html) The major difference between `softfp` and `hard` is as follows.
- GNU `hard ` ABI: use of floating point instructions + use FPU-specific calling conventions (i.e. use FP registers for floating-point parameters and return values)
- GNU `

[2016-12-28 04:59] hqueue commented on #725
@gkhanna79 Basically  you can consider Tizen as an distribution of arm-soft Linux.
The major difference is version of kernel and libraries and composion of packages in each distribution.
The difference is similar to the difference between ubuntu.14.04 and ubuntu.16.04.

In short,
We have one ubuntu.14.04 rootfs for Linux/arm-soft now.
If we add Tizen, we will have two rootfs for Linux/arm-soft, i.

[2016-12-28 16:35] gkhanna79 commented on #725
Thanks for the explanation @hqueue. I concur that we lazily enable soft-fp if/once the need arises.

[2016-12-28 16:42] gkhanna79 commented on #725
Thanks for the brief explanation of Tizen @hqueue. Aside from the platform binaries/kernel version differences, is Tizen carrying the same set of binaries as .NET Core usually does? That is, when building a Tizen app, do you basically target .NET Core (and thus, have a shared FX based of Microsoft.NETCore.App) OR do you have (or plan to have) a different targeting mechanism (e.g. Samsung.Tizen pac

[2016-12-28 16:42] gkhanna79 commented on #725
Basically, @hqueue, I am trying to understand if Tizen is just another distro equivalent for .NET Core or completely new targeting/AppModel experience.

[2016-12-28 18:41] qmfrederik opened #949 ".dll files in the .NET Core tarball for Linux have incorrect permissions"
(copied from dotnet/cli#5166)

## Steps to reproduce
Download the latest .NET Core tarball for Linux.
Unpackage the tarball.
The various `.dll` files in the tarball have permission `600`, making the files accessible for the owner, but not any other user.

## Expected  behavior
The files to be readable by any user in the system (I'm guessing that would be `644`)

## Actual behavior
The files have p

[2016-12-29 07:20] hqueue commented on #725
@gkhanna79 I thinks there are several questions here.

For CoreCLR and CoreFX,  right. We will use exactly same set of binaries in Linux/arm-softfp, and AFAIK there is no difference between Linux/ARM and Linux/arm-softfp by now.

Tizen itself use RPM packaging system for platform and CoreCLR and CoreFX for Tizen are already being built with Tizen build system (https://build.tizen.org) at Tizen com

[2016-12-30 01:44] ramarag commented on #934
Implements https://github.com/dotnet/core-proposals/pull/33

[2016-12-30 03:06] jyoungyun commented on #725
@gkhanna79 @hqueue @hseok-oh What do you think of naming the `arm-softfp` as `armsf` for nupkgs? I think it does not look so pretty to have a `-` between nupkg name. Please give me good idea. :)

[2016-12-30 07:05] hqueue commented on #725
@jyoungyun How about using `armel` for our arm softfp ? It seems that armel is used for  ARM softfp binaries in Ubuntu.

See https://wiki.ubuntu.com/ToolChain

[2016-12-30 08:35] idkiller commented on #725
@gkhanna79  If `target`  means "base framework library", current Tizen use `Microsoft.NETCore.App` as a base framework for developing User apps.
but we only use it as a "base framework", Tizen Apps does not executed like other dotnet application.
Tizen has not used `dotnet.exe` or another tool like corerun, coreconsole.
Tizen has own original launcher and internally it use interface of `libcoreclr

[2017-01-02 06:08] wjk commented on #949
@qmfrederik Actually, the standard permission level for files that should be readable by any user is `644`. Permission settings of `666` would grant any user on the system _write_ access to the file as well, which is probably not what you intended.

[2017-01-02 10:20] qmfrederik commented on #949
@wjk That's correct, thanks! I updated the bug description.

[2017-01-03 16:12] gkhanna79 commented on #949
@schellap PTAL

[2017-01-03 18:55] AlfredoMS commented on #283
My dev branch: My dev branch: https://github.com/AlfredoMS/core-setup/tree/buildtools

Work so far:
- Product build is almost complete. I still need to add crossgening

To be done:
- Packaging
- Publishing

Also I need to rebase to include the changes made by @schellap on https://github.com/dotnet/core-setup/pull/711

[2017-01-03 19:31] dagood commented on #283
@AlfredoMS Do you plan on maintaining the current CLI-style publishing logic, or changing to the way corefx/coreclr/wcf do it?

[2017-01-03 19:32] gkhanna79 commented on #283
CC @wtgodbe @ramarag

[2017-01-03 19:45] AlfredoMS commented on #283
@gkhanna79 the idea is to replace all the CLI style with buildtools

cc @ellismg

[2017-01-03 19:46] AlfredoMS commented on #283
I haven't started the work on publishing, but if there are any particular concerns please let me know soon.

[2017-01-03 19:54] gkhanna79 commented on #725
@jyoungyun I concur with @hqueue on following the convention. Given that we already have an "arm" RID (at https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json), we will use it for hardfp (and synonym for armhf above). For softfp support, armel sounds good to me and something that we should add at https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCor

[2017-01-03 20:03] janvorli commented on #725
It makes sense to me.

[2017-01-04 02:09] jyoungyun commented on #725
@hqueue @gkhanna79 @janvorli I also agree with @hqueue opinion! Sounds good to me too. I will post a PR to support armel build on core-setup soon.

[2017-01-04 03:14] hqueue commented on #725
@gkhanna79 @janvorli We already prepared `armel` for CoreCLR and updated the agenda of this issue releated to `armel`. We are working on CoreFX and Core-Setup. Also I have updated `Tizen` topic in arm-softfp (armel) part. Please take a look.

[2017-01-04 03:37] hqueue commented on #725
@gkhanna79  I've made a mistake in previous answers. For ARM softfp, we use `debian 8` (jessie) rootfs not `ubuntu14.04`. Therefore rid will be `debian.8-armel` if we use `armel` for ARM softfp.

[2017-01-04 14:47] jbogard opened #1017 "DependencyContext.Default throws when Assembly.GetEntryAssembly returns null"
I have some code that depends on DependencyContext.Default (an extension to IServiceCollection that scans DependencyContext.Default for assemblies. MVC Core gets around this by assuming the IHostingEnvironment.ApplicationName is the entry point assembly name.

MVC Core tooling assumes that DependencyContext.Default can be null (but it can't).

## Steps to reproduce
Create an AppDomain and do not s

[2017-01-04 18:32] gkhanna79 commented on #725
@hqueue i have cleanedup/reordered the workitems for armel and Tizen.

[2017-01-04 23:01] Petermarcu opened #1021 "VCRedist is out of date"
Porting this bug: https://github.com/dotnet/core/issues/356

[2017-01-04 23:04] gkhanna79 commented on #1021
We want to point to the page that controls the actual links (hence, https://www.microsoft.com/en-us/download/details.aspx?id=48145) - we dont want to link the DL center direct links.

[2017-01-04 23:18] Petermarcu commented on #1021
I misread the initial bug. Closing this and reopening that one. It was in the right place.

[2017-01-04 23:18] #1021 closed

[2017-01-06 00:35] dagood opened #1030 "NuGet push timeout is too low"
The build may partially publish because the default timeout of 300 seconds is exceeded. (https://mseng.visualstudio.com/DefaultCollection/dotnetcore/_build?_a=summary&buildId=3534007)

We should add a larger (3600s) timeout here: https://github.com/dotnet/core-setup/blob/aa0e0329cdda5070d497eb582e5f948171353d3b/build_projects/dotnet-host-build/NugetUtil.cs#L34-L38

[2017-01-06 17:20] moozzyk commented on #1017
@gkhanna79 - I don't think I am the right assignee for this bug

[2017-01-06 22:32] #1030 closed

[2017-01-09 22:22] gkhanna79 commented on #1017
@schellap @pakrym Do either of you own this in Core-Setup repo?

[2017-01-10 04:35] schellap commented on #1017
@eerhardt any idea who this should go to?

[2017-01-10 15:05] eerhardt commented on #1017
Probably someone from the CLI team (either me or @livarcocc). Or possibly @pakrym, if he wants to take it.

[2017-01-10 22:13] ericstj commented on #736
Can you add details about specifically which files are required and on what versions of the OS?

[2017-01-11 18:17] ericstj commented on #736
Also, it makes more sense to me that these get packaged in the CoreCLR repo.  That way they remain in sync with the actual dependencies that CoreCLR takes.  Putting this in core-setup feels to me like we're going to be in a place where CoreCLR makes an update and we need to *remember* make a corresponding update in core-setup to pick up newer bits that are in sync with what CoreCLR needs.

Adding

[2017-01-11 18:44] tmds commented on #680
Looks like this is being worked on in the coreclr/corefx repos. 👍

[2017-01-11 21:11] natemcmaster commented on #635
Ping. Can we revisit this again?

re @gkhanna79 I believe @piotrpMSFT put the issue here because this is where DependencyContext code lives, even though deps.json generation is now in dotnet/sdk.

[2017-01-11 21:14] gkhanna79 commented on #635
DependencyContext issues are being looked into by @livarcocc and @eerhardt.

@livarcocc Can you PTAL?

CC @schellap @ramarag

[2017-01-11 21:19] natemcmaster commented on #635
cc @pranavkm @bricelam - if this gets resolved, it _might_ re-open the door for design-time tooling to use AssemblyLoadContext.

[2017-01-12 00:13] ellismg opened #1121 "System.ValueTuple should be part of the shared framework."
I was looking at ingesting the newest version of Roslyn in dev/eng and I ran into an issue:

[code]

This is because newer version of Roslyn depend on Value tuple but it's not in Microsoft.NETCore.App.

[2017-01-12 00:14] ellismg commented on #1121
/cc @ericstj @weshaggard

[2017-01-12 05:09] blackdwarf opened #1126 "No executable found matching command "dotnet-.....dll""
## Steps to reproduce
Starting a Linux-based WebApi with systemd:
\# **sudo systemctl start kestrel-wolverine.service**

On command line this works (in current directory of dll):
$ dotnet Wolverine.dll
Hosting environment: Production
Content root path: /var/aspnetcore/Wolverine
Now listening on: http://localhost:5000
Application started. Press Ctrl+C to shut down.

**This doesn't:**
$ /usr/bin/dot

[2017-01-12 16:35] gkhanna79 commented on #1126
@schellap PTAL at this.

@blackdwarf Is the kestrel-Wolverine service always installed on a Linux box? If not, how should it be installed to get the repro going?

[2017-01-12 16:35] gkhanna79 commented on #1126
CC @ramarag

[2017-01-12 16:42] daneb commented on #1126
@gkhanna79 I just create a new boilerplate C# WebAPI from dotnet cli - just named it Wolverine.
Followed instructions [Dotnet Core Docs](https://docs.microsoft.com/en-us/aspnet/core/publishing/linuxproduction)

I published the project, made a zip of the output and setup Nginx and created a service definition file called for the Project which is kestrel-Wolverine.

HTH

[2017-01-12 17:02] schellap commented on #1126
When you run on the command line, can you share the `export COREHOST_TRACE=1` output on a github Gist or pastebin?

[2017-01-12 17:04] daneb commented on #1126
@schellap (from this initial issue on core-cli)

[code]

[2017-01-12 17:22] ericstj commented on #1121
I think we want ValueTuple to be part of shared framework so this is a good catch.  @weshaggard do you agree?

[2017-01-12 21:35] weshaggard commented on #1121
Yes it should be added. I was tracking it with https://github.com/dotnet/core-setup/issues/325.

[2017-01-12 21:39] moozzyk commented on #725
@gkhanna79 https://dotnet.myget.org/feed/aspnetcore-ci-dev/package/nuget/Libuv/1.10.0-preview1-22036 contains arm versions of Libuv for Linux. Let me know once the package has been replicated and I can update https://github.com/dotnet/core-setup/blob/master/pkg/projects/Microsoft.NETCore.App/project.json#L43

[2017-01-12 21:54] gkhanna79 commented on #725
@moozzyk I have uploaded it to myget and should be visible as soon as myget will make it visible in :)

[2017-01-12 22:50] moozzyk commented on #725
@gkhanna79 - updated. I guess you mark "Build LibUV for Arm32 (Issue aspnet/libuv-build#19)." checked.

[2017-01-13 00:06] gkhanna79 commented on #725
@moozzyk Done!

[2017-01-16 01:50] #849 closed

[2017-01-17 21:09] leecow opened #1183 "Windows installation: Installing 1.1 removes 1.0.x host\fxr"
Install 1.0.3 on a Win10 box

PS C:\Program Files\dotnet> dotnet --version
1.0.0-preview2-003156
PS C:\Program Files\dotnet> ls .\host\fxr\

    Directory: C:\Program Files\dotnet\host\fxr

Mode                LastWriteTime         Length Name
----                -------------         ------ ----
da----        1/17/2017  11:00 AM                1.0.1

Install 1.1

PS C:\Program Files\dotnet> ls .\

[2017-01-17 21:11] gkhanna79 commented on #1183
We will need to get a fix for this in 1.0.x and 1.1.0 possibly. @schellap PTAL.

CC @ramarag

[2017-01-18 05:01] jyoungyun commented on #725
@gkhanna79 Should we provide `sdk` to release arm and armel officially? The sdk tarball What I made from `cli` project does not resolve the `NETCoreApp1.1` due to `unable to resolve dependency 'Microsoft.CodeAnalysis.CSharp'` error. If we have to provide `sdk` for the official release, the `roslyn` project should be modifed as well.

[2017-01-18 09:59] piotrpMSFT opened #1192 "dotnet not recogonized - possible PATH issue?"
Moving https://github.com/dotnet/cli/issues/5148 on behalf of @fmorriso

We've seen a number of such reports about Shared Framework setup resulting in no dotnet on the Path.

-----

## Steps to reproduce

1. Install
DotNetCore.1.0.1-VS2015Tools.Preview2.0.3.exe

2. Install
dotnet-win-x64.1.1.0.exe

3. Install
dotnet-dev-win-x64.1.0.0-preview2-1-003177.exe

4. Open command prompt

5. Type
dotnet --

[2017-01-18 17:40] gkhanna79 commented on #1192
FYI @ramarag

@schellap PTAL.

[2017-01-18 22:03] scrambler86 commented on #725
Please @jyoungyun , can you upload your HellowWorld project and the bins? I have:
Raspberry Pi3 + ubuntu.16.04-arm + dotnet-ubuntu-arm.1.2.0-beta-001206-00.tar.gz.

Could you please tell me how to compile a netcore project to run on raspy? I'm using windows.

Thanks

[2017-01-19 04:09] jyoungyun commented on #725
@scrambler86 Hi, I attached sdk tarball for ubuntu.14.04-arm. Even this file is for ubuntu.14.04-arm but i think it's okay to run on ubuntu.16.04-arm. After installing sdk tarball, you can use `dotnet new` command for creating a HelloWorld project. I usually build core-setup and cli project in the following order.
1. Build CoreCLR for ubuntu.14.04-arm
2. Build CoreFX for ubuntu.14.04-arm
3. Copy r

[2017-01-19 05:40] Gonkers commented on #725
@jyoungyun Thank you for your help it's much appreciated!
@scrambler86 I just found this post as well that could be helpful https://github.com/dotnet/core/blob/RaspberryPi/samples/RaspberryPiInstructions.md

[2017-01-19 11:02] jyoungyun commented on #725
I updated the shared runtime tarball for ubuntu.14.04 arm and ubuntu.16.04 arm. These tarballs contain libuv.so and CodeAnalysis dlls that were missing from the last tarballs.

[2017-01-19 17:11] Petermarcu commented on #725
I just pushed some simple instructions to dotnet/core master. They point at some older tarballs. I will adjust it to point to these. Looking forward to when these can be part of the daily build. :)

[2017-01-19 17:14] Petermarcu commented on #725
@scrambler86 , in the next couple weeks, we should be able to get all the packages published in order to actually build a standalone app on Windows that that targets arm32 linux. This is what we need to have the developer experience on Windows targeting Raspberry Pi complete. For now, if the app you write doesn't carry the runtime with it and can just run on the shared runtime, then you should be

[2017-01-19 17:22] Petermarcu commented on #725
@jyoungyun, do you have a nuget.config that points to a local folder containing your packages? Without that, I dont think it would know how to find them.

[2017-01-19 18:16] gkhanna79 commented on #725
@jyoungyun All master branches will be updated to resolve .NETCoreApp 2.0. However, before that happens, we need to have the nuget packages published that I am working through since the build-rootfs.sh fails in our official build infrastructure.

[2017-01-19 19:39] ellismg opened #1217 "Should Microsoft.DotNet.PlatformAbstractions treat all RHEL 7 versions as "rhel.7"?"
Today, the logic for computing the Runtime ID is very simple, look at [/etc/os-release and concatenate the version and version id fields](https://github.com/dotnet/core-setup/blob/afdc2ba4a62c860ac62265f8fc64081d465dc725/src/Microsoft.DotNet.PlatformAbstractions/Native/PlatformApis.cs#L100).

One place this falls down is with RHEL and some RHEL derivatives (Oracle Linux, Scientific Linux and other

[2017-01-19 19:43] ericstj commented on #1217
/cc @anurse

Can we guarantee that RedHat is always binary compatible across their minor versions and folks will never need to carry a different asset for say RedHat 7.1 and 7.2 (presumably to deal with functional differences)?

[2017-01-19 20:05] tmds commented on #1217
Yes, per [Red Hat Enterprise Linux Life Cycle](https://access.redhat.com/support/policy/updates/errata/):

[2017-01-19 20:06] Petermarcu opened #1219 "Consider putting the runtime in a sub folder"
## Steps to reproduce
Publish a standalone app

## Expected  behavior
My app is in the root and all the runtime goo is hidden in a sub folder

## Actual behavior
I publish my app and I get over 100 binaries that aren't mine. They are just noise for my users who try to launch my app from my folder.

## Environment data

[2017-01-19 20:09] gkhanna79 commented on #1219
The output is a function of publish operation that CLI implements. Secondly, the layout has strong dependencies with the host and where SharedFX can be found.

[2017-01-19 20:14] Petermarcu commented on #1219
yeah, I put the issue here because I assumed publish was putting it where the host could find. In order to do something like this, I assume we'd have to change the host and then update publish. Is that correct?

[2017-01-19 20:23] omajid commented on #1217
It's worth taking a look at https://access.redhat.com/articles/rhel-abi-compatibility too for some additional information on how to best preserve binary compatibility and some specifics on which libraries will stay ABI compatible even across major RHEL releases.

[2017-01-19 20:54] ericstj commented on #1217
I see, in that sense this isn't much different to Windows, where we call a different API and ignore the minor version, build, etc due to the compat guarantee's of the OS.  I'm fine with it 👍

[2017-01-19 21:16] nguerrera opened #1221 "Host cannot find satellite assemblies listed in deps.json when using version Microsoft.NETCore.App 2.0"
## Steps to reproduce

* Install https://dotnetcli.blob.core.windows.net/dotnet/master/Installers/Latest/dotnet-win-x64.latest.exe

* From Windows command prompt:
  * git clone https://github.com/nguerrera/repros
  * cd repros\SatelliteAssemblyHostIssue
  * repro.cmd

## Expected  behavior

The program runs fine.

## Actual behavior
[code]

## Environment data

[code]

@gkhanna79 @ramarag

[2017-01-19 21:51] nguerrera commented on #1221
cc @Eilon @pranavkm @ryanbrandenburg

This has been blocking ASP.NET for a while. It was logged first as a CLI issue (dotnet/CLI#5172), then an SDK (dotnet/sdk#673) issue, but after preparing the repro above and talking offline, this appears to be an issue in the 2.0 host.

[2017-01-19 22:02] Eilon commented on #1221
Thanks for the update. If you have a private build that you want us to try out, we can certainly do that as well to make sure the ASP.NET Core scenario is functional.

[2017-01-19 22:03] gkhanna79 commented on #1221
@schellap Can you please take an initial stab at this?

[2017-01-19 22:24] JensNordenbro commented on #725
So all this nice work is aiming for 2.0, or is it 1.2 release?

[2017-01-19 22:26] stevedesmond-ca commented on #725
1.2 is in the process of being renamed 2.0

[2017-01-20 00:22] RheaAyase commented on #1217
This would definitely make life easier for both sides :+1:

[2017-01-20 01:14] hqueue commented on #725
@gkhanna79 Do you have problem with buiild-rootfs.sh for arm and armel, i.e. `./build-rootfs.sh arm` ? What kind of problem are you suffering ? I think we can also look into the porblem if possible.

[2017-01-20 01:17] Petermarcu commented on #725
It was something about building in Docker which is how we build many of our Linux legs of our build.

[2017-01-20 01:51] jyoungyun commented on #725
@Petermarcu Yes, I updated a NuGet.Config file to point to a local folder containing our nupkgs. But it was still failed to resolve NETCoreApp1.1. The error message is like below.
[code]
I doubt if it is an issue of the corporate network. Have you ever seen such an error?

[2017-01-20 02:15] Petermarcu commented on #725
I haven't. @ericstj any thoughts?

[2017-01-20 04:48] ericstj commented on #725
NuGet will usually fail if it has any feed in its list that can't be resolved.  NuGet/dotnet restore will usually echo all the feeds its using as well as all the config sources to the console when you run it.  Double check that you aren't using any nuget feeds that are unresolvable in your private network.

[2017-01-20 05:19] blackdwarf opened #1229 "Shared framework MSI has embedded cab"
(Moved from dotnet/cli#3062)

## Steps to reproduce
- Install DotNetCore.1.0.0.RC2-SDK.Preview1-x64.exe.
## Expected  behavior

Like dotnet-dev-win-x64.1.0.0-preview1-002702.msi, the cab for dotnet-sharedframework-win-x64.1.0.0-rc2-3002702.msi should be external. That ~20MB is duplicated in the package cache and the MSI cache (\Windows\Installer).
## Actual behavior
- Note ~20MB installed for dotn

[2017-01-20 07:29] JensNordenbro commented on #725
Ok, 2.0 it is. Thanks @stevedesmond-ca.
Will the core-setup effort for arm be backported to 1.*-release branches or is it as I suspect for the future releases only?

[2017-01-20 07:37] piotrpMSFT opened #1230 "[MSI]: Host msi package enters into obsolete state making it uninstallable"
Moving from https://github.com/dotnet/cli/issues/2827

----

## Steps to reproduce
- Install v1
- Install v2
- Uninstall v2
- Uninstall v1

For more context the following comment thread is useful
https://github.com/dotnet/cli/pull/2789#issuecomment-216357037
https://github.com/dotnet/cli/pull/2789#issuecomment-216359950
## Expected  behavior

The host MSI is completely removed/uninstalled.
## Actu

[2017-01-20 07:47] piotrpMSFT opened #1231 "Implement MU Opt-In as part of setups"
Moved from https://github.com/dotnet/cli/issues/2953 on behalf of @schellap
This switch is most pertinent in the Shared Framework installer as that is what apps, including CLI, will use to get the host which in turn depends on the ability to service via MU.

----

If Microsoft Update is not turned on in the box by default, the installing dotnet should allow to turn this on machine wide as part of

[2017-01-20 12:26] hqueue commented on #725
@Petermarcu @gkhanna79 FYI. Among arm rootfs, rootfs for armel(`Tizen`) (constructed from `build-rootfs.sh armel tizen`) has more simpler structure than other rootfs (ubuntu and debian) and requires less effort. For example, Tizen rootfs just contains only required components for build (about 100MB), but other rootfs, i.e. arm (`Ubuntu`) and armel (`Debian`),  have all Linux components of  default

[2017-01-20 18:04] gkhanna79 commented on #1229
@blackdwarf Can you please elaborate on this?

[2017-01-20 18:06] blackdwarf commented on #1229
@gkhanna79 I wish I could, but I'm also not sure what that means. I just know that the installers are generated here, so moved it here for tracking/discussion.

@Petermarcu do you know by any chance?

[2017-01-20 18:44] gkhanna79 commented on #725
@hqueue The fact that Docker images are a container and not a virtualized environment created problems - it had nothing to do with the rootfs creation.

The specific issue was that I was able to build LinuxArm32 in Docker image on my dev machine but couldn't do so in our official build. After investigating various options, I took a different approach to compare differences between the success and

[2017-01-23 01:51] hqueue commented on #725
@gkhanna79 Glad to here the progress and thank you for all your efforts :)

[2017-01-23 04:33] piotrpMSFT opened #1267 "Host should show message if failing due to Windows long file path"
## Steps to reproduce
On Windows:
Create a directory whose full name is > 270 characters
Copy a portable .NET Core app into the directory
`dotnet {path to app}/app.dll`

## Expected  behavior
Ideally, the app will run despite the long file path. Likely impossible, so instead print an error message upon failure that suggests that long file paths are a likely culprit.

## Actual behavior
Difficult-t

[2017-01-23 05:29] Petermarcu commented on #1267
I think this goes all the way down to the loader in the runtime.

[2017-01-23 05:32] Petermarcu commented on #1267
Does seem like a good idea to give a better error and once long file paths are handled in the loader, this would just work.

[2017-01-23 15:20] gkhanna79 commented on #1267
Inability to load hostpolicy.dll stems from host and not from the loader.

[2017-01-23 15:24] gkhanna79 commented on #789
@hqueue As mentioned in https://github.com/dotnet/core-setup/issues/725#issuecomment-274379440, once CoreCLR bring is validated, this should get unblocked as well (once the Arm32 build issues in CoreFX are addressed that @ericstj is helping with).

[2017-01-23 15:28] gkhanna79 commented on #790
@hqueue  Since you brought up Arm32 CI support for CoreCLR, can you look into bringin this up as well? It will also help the Tizen armel build that you have been bringing up post the filing of this issue.

[2017-01-23 15:29] gkhanna79 commented on #789
For tracking, I will assign this to myself.

[2017-01-23 15:30] Petermarcu commented on #1267
Oh good. Hopefully and easier fix then.

[2017-01-23 21:16] gkhanna79 commented on #680
Is there anything outstanding on this issue?

[2017-01-23 21:17] gkhanna79 commented on #618
@brianrob any thoughts on this?

[2017-01-23 21:20] ellismg commented on #618
Roslyn and CoreFX/CoreCLR and other repositories would actually use this if it was present to crossgen tools we restore as part of the build.  The current strategy is to manually restore a CoreCLR package, figure out how to find crossgen and then use it.  Having it in the shared framework would be a big win.

[2017-01-23 22:13] gkhanna79 commented on #949
@qmfrederik I examined https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/dotnet-ubuntu.16.04-x64.latest.tar.gz (available from the Daily Builds section at https://github.com/dotnet/core-setup/blob/master/README.md) and I see the *.dlls with 644 (rw-r--r--) permission.

Can you point me to where you see the discrepancy?

[2017-01-23 22:17] #715 closed

[2017-01-23 23:25] qmfrederik commented on #949
@gkhanna79 This appears to have been fixed in meanwhile, thanks!

[2017-01-23 23:25] #949 closed

[2017-01-24 14:22] RheaAyase commented on #680
With recent changes and linux-x64 rid, Bob will sure be happy. Not that much for Alice, however, this will in a way solve her problem as well - because Bob will be able to simply target linux-x64 and publish with all the things included, if they can't keep up with dotnet minor versions. They won't really need any kind of framework installed on the target machine, therefor Alice is not fully respon

[2017-01-24 14:25] #680 closed

[2017-01-24 15:40] blackdwarf opened #1285 "Validate NETCoreApp redist"
Moving from dotnet/cli#1859.

[2017-01-24 18:55] ellismg opened #1288 "Should we be including System.Native.a in the Microsoft.NETCore.App?"
System.Native.a is included in the Microsoft.NETCore.App today because it ships as part of runtime package that provides the System.Native.so shim.  My understanding is it's only used by corert for static linking of native dependencies, since they pick up parts of CoreFX which depend on a System.Native.

Do we need to be shipping it as part of Microsoft.NETCore.App?  Is there a scenario that uses

[2017-01-24 19:10] jkotas commented on #1288
It is correct today. It may be also get use by statically linked CoreCLR that @russellhadley team is prototyping. @russellhadley ?

[2017-01-25 07:29] hqueue commented on #790
@gkhanna79 Sorry for late reply. I almost missed this issue. I will take a look at this. It seems that core-setup has somewhat difference structure than CoreCLR. Please let me know where I can start, inclduing docuement, CI scripts and etc.

[2017-01-25 17:08] gkhanna79 commented on #790
@hqueue The CI script is the same (netci.groovy) though its contents would be different. CoreCLR's arm32 CI support is implemented in https://github.com/dotnet/coreclr/commits/master/tests/scripts/arm32_ci_script.sh and was enabled by @prajwal-aithal.

This should be a good starting point. CoreCLR CI integration is done at https://github.com/dotnet/coreclr/blob/master/netci.groovy#L2132.

Let me k

[2017-01-25 22:26] gkhanna79 commented on #725
Updating the primary thread - CoreCLR pipeline build is now publishing Arm32 (armhf) packages for Ubuntu 14.04 and Ubuntu 16.04 on myget! Here are the first set of packages that got published today from the repo:

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.14.04-arm.Microsoft.NETCore.Runtime.CoreCLR

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu

[2017-01-25 22:57] brianrob commented on #618
@gkhanna79, having crossgen next to the coreclr in both the shared framework and in standalone apps would be useful for tracing.  The tracing infra is designed to not have a dependency on things like Nuget or other managed code so that it can function when the runtime is not working properly.

[2017-01-26 00:36] hqueue commented on #790
@gkhanna79 Oh, I think I misunderstood this task somewhat. At first, I thought this task is about arm32 CI for Core-Setup. You are talking about arm (hardfp) CI for CoreCLR, right ?

[2017-01-26 00:41] gkhanna79 commented on #790
@hqueue Yes, it is :) You had asked for pointers on how to go about doing it, so I pointed you to how it was enabled for CoreCLR.

[2017-01-26 00:41] hqueue commented on #790
@gkhanna79 Please ignore my last comment above :) I find out that there is netci.groovy here and I will take a look into it. Sorry for any confusion I made.

[2017-01-26 00:48] hqueue commented on #790
@gkhanna79 Are we using same CI machine for Core-Setup and CoreCLR ? We need ARM Emulator installed in CI machine to enable arm32 CI and I think "configuring CI host environment" is out-of-scope of netci.groovy.

[2017-01-26 01:53] gkhanna79 commented on #790
I believe this is true but I will let @mmitche confirm as well.

I am fine with this approach assuming it is not too far out since the goal is to ensure Core-Setup PRs do not break Arm32 - when do you think this will be done?

[2017-01-26 03:10] hqueue commented on #790
@gkhanna79 We are planning to start working on it from next Wednesday and will work on it as a top priority for a while. It may also include chaning configuration of CI host itself and we may need your supoort for configuring CI host machine too.

In short, we will do it ASAP from next Wednesday and we hope it be done a few weeks but we don't know how it will take exactly yet depending on scope we

[2017-01-26 04:15] gkhanna79 commented on #790
@hqueue Your plan sounds good to me. Definitely let me know if you need any help. Is there an existing issue to track bringing up CI for Arm32 for CoreFX that we can add to the corresponding line-item at https://github.com/dotnet/core-setup/issues/725?

[2017-01-26 05:06] hqueue commented on #790
@gkhanna79 I see. There are existing old issues but we will make new issues about refactoring and bring up arm32 CI  for CoreCLR and CoreFX next week, because old issues are not talking about refactoring. I will add them when ready. Thanks.

[2017-01-26 07:32] hqueue commented on #725
@gkhanna79 First of all great thanks for publishing packages for CoreCLR :)

We tested with above packages, but unfortunately, I think it has bug due to `clang` which is used when building CoreCLR and CoreFX.

Current llvm-3.6 or llvm-3.5 can not build CoreCLR and CoreFX correctly with `-O3` optimization for ARM, because they have bug related to TLS. You can find details at https://github.com/dotn

[2017-01-26 07:46] hqueue commented on #790
@gkhanna79 As I've already described at https://github.com/dotnet/core-setup/issues/725#issuecomment-275324269, we have to use recent version of llvm for ARM release.

In short, we have to upgrade llvm to recent version in host machines used for CI and pipeline build for ARM release, since llvm has bug related to TLS for ARM when using `-O3` optimization.

Nextweek, we will test clang-3.8 and abov

[2017-01-26 16:03] gkhanna79 commented on #725
Very well @hqueue - I will continue the discussion with you on #790.

[2017-01-26 16:08] qmfrederik commented on #790
@hqueue FYI, we found out that building .NET Core for aarch64 (not arm32) using clang3.8 doesn't always work (see #8927 for the full discussion); clang3.9 did work.

[2017-01-26 16:23] gkhanna79 commented on #790
@hqueue For Arm32, at minimum, we need to be able to produce .NET Core SharedFX (out of the core-setup repo) that can be used by folks. To achieve this, for the time being, can we switch Arm32 builds across CoreCLR/CoreFX/Core-setup repos to use -O1 flag?  Based upon the description at https://github.com/dotnet/coreclr/blob/master/Documentation/building/linux-instructions.md#additional-optimizatio

[2017-01-26 16:28] gkhanna79 opened #1322 "Clang3.6 should be the minimal toolset for cross build"
CoreCLR repo specifies clang 3.6 for cross builds (https://github.com/dotnet/coreclr/blob/master/build.sh#L747) but Core-Setup does not (see https://github.com/dotnet/core-setup/blob/master/src/corehost/build.sh).

CC @hqueue @hseok-oh @jyoungyun

[2017-01-26 20:23] gkhanna79 commented on #618
@brianrob I can under crossgen be part of SharedFX installation but not in standalone apps where we are trying it to be as small as possible (and pay for play). Also, can you please help with my question above (https://github.com/dotnet/core-setup/issues/618#issuecomment-260392521)?

@ellismg Do you expect to find x86/x64 hosted cross targeting crossgen as well (e.g. for arm32 and arm64 scenarios)

[2017-01-26 21:24] diegobfernandez commented on #627
I think [Flatpak](http://flatpak.org/) is the friendliest distro-agnostic installer available today.
Having Flatpak as default installer and falling back to building from source when flatpak is not available/desired seems a good and straight approach.

[2017-01-27 00:06] brianrob commented on #618
@gkhanna79, the act of profiling is a machine-wide operation.  We have a script called perfcollect (http://aks.ms/perfcollect) that does much of the heavy lifting - similar to PerfView on Windows.  When it comes to generating symbols for NGEN or R2R images, we'll look at where the runtime was loaded from (this is in the trace), and use this to determine what tools (e.g. crossgen) to use.  This is

[2017-01-27 07:31] ellismg commented on #618
For CoreFX and Roslyn, no.  The use case is we restore a bunch of stuff that makes up a toolset we are going to build with and then we want to crossgen it.  In this case, we are doing the crossgen for the host architecture, even if we were cross compiling for some reason.

Core-Setup (and CLI) sort of want this (because they want to crossgen the shared framework for the target at build time) and u

[2017-01-27 22:19] weshaggard commented on #325
The 2.0 shared framework now has all the .NET Standard 2.0 support. We still have to work out a plan for ValueTuple.

[2017-01-27 22:20] weshaggard commented on #695
We have updated everything in our repo to be netcoreapp, which represents the latest version which currently maps to netstandard2.0 behind the scenes. So this has been fixed.

[2017-01-27 22:20] #695 closed

[2017-01-27 22:25] weshaggard commented on #392
@ericstj I believe you have completed this work task but I will leave it to you to close.

[2017-01-27 22:35] ericstj commented on #392
Yep. https://github.com/dotnet/core-setup/commit/01157c5c52a726919bbdb8079ee78edc5707b231

[2017-01-27 22:35] #392 closed

[2017-01-28 00:11] ryanbrandenburg commented on #1221
Do we have an update on this? It's currently blocking progress on aspnet/Localization#315.

[2017-01-30 19:19] stevedesmond-ca commented on #725
Heads up, in case anyone else wants them, I've got automated builds of the .NET Core Runtime for ubuntu.16.04-arm working now, via a bunch of bash scripts.

https://github.com/stevedesmond-ca/dotnet-arm/releases/

I'm planning on publishing nightlies (including the SDK within the next week) there until official CI builds can be set up.

[2017-01-30 19:22] gkhanna79 commented on #725
Excellent @stevedesmond-ca! I am working on the CoreFX support for official builds right now.

BTW, are your builds for Ubuntu 14.04 or 16.04? And I take it you are consuming the packages we publish for CoreCLR already, right?

[2017-01-30 19:40] stevedesmond-ca commented on #725
16.04 only right now. I'm building CoreCLR and CoreFX from scratch, then feeding artifacts from those into core-setup, very similar to how @jyoungyun described [here](https://github.com/dotnet/core-setup/issues/725#issuecomment-273677348).

Once CoreCLR on myget is built with -O1 (currently I get the -O3 TLS segfault from what's pulled down) it should be easier to use official builds. I do think t

[2017-01-30 19:48] gkhanna79 commented on #1221
@nguerrera The repro script (in your repro repo) no longer works since the CLI it is using is not present. Trying to use latest CLI (https://dotnetcli.blob.core.windows.net/dotnet/Sdk/rel-1.0.0/dotnet-dev-win-x64.latest.zip) results in different restore errors.

Do you have a repro available offline that you can share with the CLI in question?

[2017-01-30 19:51] gkhanna79 commented on #1221
Specifically, your repro using RC3 CLI (which no longer exists) and it does not restore using RC4 CLI.

[2017-01-30 20:05] gkhanna79 commented on #1221
After modifying few configurations, I am able to build and repro the issue locally using the latest SharedFX (1450).

[2017-01-31 00:46] gkhanna79 opened #1378 "Investigate failing tests in Core-Setup build"
The name says it all!

[2017-01-31 02:01] gkhanna79 commented on #1221
I have a possible fix for this issue and working on validating it.

[2017-01-31 12:45] hqueue opened #1386 "Release build is not available for corehost"
## Steps to reproduce

On ubuntu.14.04-x64 host machine, run following command.

[code]
## Expected  behavior

`corehost` is built for Release with compiler optimization enabled.

## Actual behavior

No compiler optimization is enabled as follows.

[code]

## Look into ...

For core-setup, there is `--configuration` option to select Debug or Release.
[code]
- `--configuration Release` is passed fr

[2017-01-31 12:47] hqueue commented on #1386
@gkhanna79 I've observed this issue while applying a workaround, i.e use "-O1" for arm32 cross build. What do you think of it ? We may not need this with current infra, because at least corehost is built without bug without optimization, but we need them eventually.

[2017-01-31 14:26] bjoernbusch commented on #725
@stevedesmond-ca I tried running your built in a docker container on my RPi3 with the following dockerfile:

[code]

I then start the container with `docker run -it core /bin/bash` and execute in dotnet folder `dotnet hello-world.dll`, but then I get an error:

[code]

Any hint on what stupid mistake I'm making?

[2017-01-31 14:29] stevedesmond-ca commented on #725
@bjoernbusch check out https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md -- specifically the "prereq packages" part -- chances are those aren't in the base image

[2017-01-31 15:22] bjoernbusch commented on #725
Yes! *facepalm* that was it, now it's working! Thanks!

[2017-01-31 16:52] #1322 closed

[2017-01-31 17:09] gkhanna79 commented on #1386
Thanks for looking into this @hqueue. I am not sure if this was an oversight or not - @janvorli Do you happen to know?

That said, unless there is a seperate build configuration/options we wish to specify, we can keep this as-is for now. We can revisit it later once -O3 issue is being addressed for arm32.

[2017-01-31 17:38] janvorli commented on #1386
@gkhanna79 I would expect consistent optimizations settings for debug / release builds over all of the binaries we build. So it seems to me that this is something we should fix eventually.
I can see one use of the CONFIGURATION env variable here:
build_projects/dotnet-host-build/PrepareTargets.cs
But I am not familiar with this stuff so I am not sure to what it applies.

[2017-01-31 20:57] gkhanna79 commented on #1221
PR with fix is at https://github.com/dotnet/core-setup/pull/1392

[2017-01-31 22:57] #1221 closed

[2017-02-01 03:26] hqueue commented on #790
@qmfrederik Thank you for sharing the thread :) That thread also gave me a lot information regarding clang 3.8 and 3.9.

[2017-02-01 04:10] hqueue commented on #1386
@janvorli It seems that `dotnet-host-build` read `CONFIGURATION` and use the value for packaging and testing. I think this is a correct behavior because we have to make Release and Debug packages depending on CONFIGURATION. Other than `corehost` CONFIGURATION is used correctly.

I think all this integration issue is caused by relocating  `corehost` from `dotnet/cli` to `dotnet/core-setup`.

[2017-02-01 07:50] jyoungyun commented on #725
@stevedesmond-ca Thank you for sharing your tarball :) It works well on my raspberry PI3 too. Now I'm trying to build core-setup using docker. Does your CI system use docker for releasing, doesn't it? But when I tried to build with docker, I was faced with a little problem that all arguments that match the docker argument were removed by https://github.com/dotnet/core-setup/blob/master/build.sh#L3