[2017-05-10 14:47] stannedelchev commented on #2339
Confirming here as well, same reproduction steps.
`sudo apt-get install dotnet-dev-1.0.4` fails with the same error message as @ed-alertedh .
I'm running Ubuntu 16.10 deployed on a brand new Linode VM.

[2017-05-10 14:48] gkhanna79 commented on #1566
This looks to be the thing required to sync Tizen builds - Thanks for the pointer @eerhardt! @jyoungyun does this help you sync your builds?

[2017-05-10 15:07] gkhanna79 commented on #790
Sounds good @jyoungyun - thank you!

[2017-05-10 15:35] dagood commented on #186
Adding symbol stripping to a CMake project is something I've done before, and I generally see the files I expect in https://github.com/dotnet/core-setup/tree/master/src/corehost. I don't have any context specific to Core-Setup other than what's in this issue description, though.

[2017-05-10 15:40] gkhanna79 commented on #2280
We do build with armv7 HF ABI support (see https://github.com/dotnet/core-setup/blob/786a3f40a17b88eecbfb22e504dd37c607856ffa/cross/arm/toolchain.cmake#L10). What  is the ABI of the binaries on the Ubuntu build? Does it use Soft ABI?

@hqueue @hseok-oh @jyoungyun incase they have anything to add as well.

[2017-05-10 16:20] weshaggard commented on #1566
Specifying the OfficialBuildId the same would also enable the correct build numbers.

Yes you could use that information but it might not be full proof. If you are trying to match an exact release build I would suggest using our tags. For example you can use the https://github.com/dotnet/core-setup/releases/tag/v2.0.0-preview1 for our preview1 release we just did.

[2017-05-10 16:30] weshaggard commented on #1566
See https://github.com/dotnet/core-setup/pull/2330#issuecomment-300534741 which is pointing out the fact we don't have the SHA in all cases. Right now it is only in the windows packages.

@jyoungyun do you need to get just the SHA for core-setup or do you need the SHA for all the repo's (i.e. coreclr/corefx as well)?

[2017-05-10 16:33] gkhanna79 commented on #1566
However, the SHA should be the same for all the platformarch builds, irrespective of the build producing the package that contains that information, right? If so, Tizen can pull down the Windows version of the package to extract the SHAs, no?

[2017-05-10 16:37] olegsavelos commented on #2280
its armhf in my case.
This is the output from readelf on dotnet executable

`root@opiz:/usr/src# readelf -h dotnet
ELF Header:
  Magic:   7f 45 4c 46 02 01 01 00 00 00 00 00 00 00 00 00
  Class:                             ELF64
  Data:                              2's complement, little endian
  Version:                           1 (current)
  OS/ABI:                            UNIX - System V

[2017-05-10 17:07] weshaggard commented on #1566
Yes the SHA should be the same and if they want to just pick one they can probably get away with that.

[2017-05-10 17:25] joperezr commented on #1566
I will update my PR with a new implementation that will make it such that all packages (non-Windows as well) will contain the text file with the hashes.

[2017-05-10 18:08] gkhanna79 commented on #2280
It should be ELF32 unless I am missing something.

Also, the following looks wrong as it is indicative of amd64 binary as opposed to arm32:

`Type: EXEC (Executable file) Machine: Advanced Micro Devices X86-64`

I will take a look at this.

[2017-05-10 18:57] JensNordenbro commented on #2280
@olegsavelos; we have been running generic linux-arm on Yocto. I will try again now that they are back. I havn't tried on ubuntu.

[2017-05-10 19:14] #2268 closed

[2017-05-10 19:15] gkhanna79 commented on #2245
Closed via https://github.com/dotnet/core-setup/pull/2328

[2017-05-10 19:15] #2245 closed

[2017-05-10 19:23] ericstj opened #2344 "Poison Microsoft.NETCore.App and NETStandard.Library 2 from being used with 1.0 SDK"
We know that these packages won't work correctly with 1.0 SDK.  Let's try to get a friendly failure mode rather than some obscure nuget or build error.

/cc @weshaggard @terrajobst @dsplaisted

[2017-05-10 20:02] olegsavelos commented on #2280
@JensNordenbro the previous builds was partially working for me too, it the new generic ones that fail.

[2017-05-10 21:25] tarekgh opened #2347 "Remove un-needed target when upgrading to v2 BuildTools"
We have done some change in the PR #2333 to change the license Url for packaging. because core-setup repo not using v2 of the buildtools we had to hack this by adding the temporary target OverrideLicenseUrl in the src/pkg/projects/dir.targets file. This target should be removed after upgrading to v2 of the buildtools and need to ensure when removing it the license Url in the packages nuspec files

[2017-05-10 21:40] dagood commented on #2208
Fixed, we can see this working E2E with this auto-PR: https://github.com/dotnet/core-setup/pull/2340. Thanks, @karajas.

[2017-05-10 21:40] #2208 closed

[2017-05-10 22:13] nguerrera commented on #2334
This is higher priority than #2336

[2017-05-10 23:12] joperezr commented on #1566
I've merged my PR. At first it will only contain the corefx hash, since we haven't yet consumed a version of coreclr that contains the version.txt file in it. Once we start doing that (assuming auto-updates are not broken this would probably happen tomorrow morning) then core-setup will automatically start having the coreclr hash in the txt as well.

[2017-05-10 23:15] gkhanna79 commented on #1566
And will Core-Setup also have its own hash?

[2017-05-10 23:18] ellismg opened #2349 "Remove the use of "Run" or fix the issues around it."
Run was designed to simplify argument parsing and share stuff across repositories.  It's not clear that the value we get outweighs the cost of yet another system.  We still end up needing to do some argument parsing in scripts anyway, so we should figure out if we should just fall back to shell scripts and get better hygiene around keeping windows/nix scripts in sync.

This is likely a contentious

[2017-05-10 23:36] joperezr commented on #1566
Yes ,sorry I should have make that clear when I said that it would only contain the corefx hash. New packages from now on, will all contain corefx plus core-setup hashes. Once we start consuming coreclr that has version.txt, it will contain that as well.

[2017-05-11 01:59] jyoungyun commented on #1566
@gkhanna79 Sorry for late response. I missed to push the comment button yesterday. :( I think, to use SHA commit is a good way. But I don't understand and I can't find the embed the SHA commit within coreclr, corefx and core-setup binaries. As I know versioning.targets make a version file when it builds. And the version file is not included in runtime nupkg. Our build infra is described by Jenkins

[2017-05-11 02:16] ThadHouse commented on #2280
Noting that the generic builds currently built are for armhf might be a good idea on the readme just in case people are confused. Also, are there any plans to provide builds for arm-softfp or are those of us that need it going to have to build it ourselves?

[2017-05-11 03:08] eerhardt commented on #2273
Yes and no.  Technically yes this was a change that DependencyModel would always probe the `NUGET_PACKAGES` folder for compilation assemblies, even if the host wouldn't be looking in that folder.

Today, if the host tells DependencyModel where it is looking, then DependencyModel will only look in those places.  It won't explicitly check `NUGET_PACKAGES`.

In normal cases during `dotnet run`, the h

[2017-05-11 03:19] eerhardt commented on #2223
We are now generating a `netcoreapp2.0` deb-tool package, but it is not getting pubilshed.

@karajas - are you working on getting this tool published to the `cli-deps` repo?  Can you please let me know either way?  If you aren't working on it, I will.

[2017-05-11 03:51] karajas commented on #2223
I haven't added the publish back yet.

[2017-05-11 04:29] #2313 closed

[2017-05-11 04:49] gkhanna79 commented on #2273
Given the above, is the plan to switch to use additional-probing-paths instead of nuget packages envvar?

[2017-05-11 04:52] gkhanna79 commented on #1566
Yes, that is what I would think you should do. Also, once @joperezr PR is merged, you would only need to fetch a single package (e.g. M.N.App) to get all the SHAs.

Yes, I believe this should be doable - what concern do you foresee?

[2017-05-11 05:06] hqueue commented on #2280
I also agree on this, because ABI is usually noted explicitly when distributing binaries for arm. Sometimes filename contains ABI information to help user to infer ABI from filename.

[2017-05-11 05:09] hqueue commented on #2280
@gkhanna79 Previously distributed ubuntu.14.04-arm and ubuntu.16.04-arm binaries are built in `hardfp`. No `softfp` binary has been appeared on the daily build page yet.

[2017-05-11 05:46] jyoungyun commented on #1566
@gkhanna79 I am glad that I understood your opinion well. :) However, I can not polling only one M.N.App. The CoreCLR and CoreFX version required to restore M.N.App may be different from M.N.App version. For example, if I triggered the 2.0.0-preview2-25310-02 version of M.N.App, I can see the SHA of CoreCLR, CoreFX and Core-setup respectively, but I can not extract the build number by using the SH

[2017-05-11 07:07] Venex opened #2358 ""Exec format error" on Linux ARM"
## Steps to reproduce
Downloaded https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/dotnet-linux-arm.latest.tar.gz (currently version 2.0.0-preview2-25311-01)
Running dotnet will give you "Exec format error" where as builds for preview1 did work perfectly

## Actual behavior
![image](https://cloud.githubusercontent.com/assets/11781825/25936706/29249bc4-3629-11e7-8dde-1a4a5a740d8

[2017-05-11 07:22] jyoungyun commented on #790
@gkhanna79 I wanna enable Tizen armel CI job in master branch. But you seems to be changing the core-setup build structure. Currently, the Ubuntu arm release build is being built for portable linux without using arm32_ci_script.sh. Is it your inteded? After merged your PR #2350, I will update arm32_ci_script.sh for building Tizen CI.

[2017-05-11 08:30] jyoungyun commented on #790
@ellismg When I use /p:OverridePackageSource option, build is failed with the following errors.

[code]

Could you help me to resolve this issue?

[2017-05-11 12:04] omajid commented on #2358
What does `lscpu` say? What does `file /usr/bin/dotnet` say?

[2017-05-11 12:20] Venex commented on #2358
lscpu results in:
![image](https://cloud.githubusercontent.com/assets/11781825/25948620/9f5c76f6-3654-11e7-80d8-e0a51312a6bf.png)

/usr/bin/dotnet is an directory containing dotnet
I extract it like this:
[code]

Today I upgraded from the latest (working) preview1 build to this one (preview2) after the builds were unavailable for a week or so because of changes in the build system
see: https://git

[2017-05-11 12:29] omajid commented on #2358
Is there any more to the `lscpu` output? Can you also include the output of `cat /proc/cpuinfo`?

Can you run `file /usr/bin/dotnet/dotnet` ?

[2017-05-11 12:35] SilverCard commented on #2358
I can confirm this problem.

According to readelf, the dotnet executable is for x64 machines:

![capture](https://cloud.githubusercontent.com/assets/10167957/25949231/2982d956-362d-11e7-98d0-8e5e79996f1a.PNG)

[2017-05-11 12:40] omajid commented on #2358
Looks like a dupe of https://github.com/dotnet/core-setup/issues/2280.

[2017-05-11 13:07] JensNordenbro commented on #2280
Same problem!

[2017-05-11 13:13] tinchou commented on #1599
* From my .NET Core and Linux user perspective I'd appreciate if the `dotnet` package provided the `dotnet` command
* If I were a new user trying out .NET Core it'd be discouraging if I couldn't install just `dotnet`, but instead have to dig through the packages and try to understand what `host`, `sdk` or `runtime` mean

Then, maybe we can change `dotnet-sdk` to `dotnet` to get a really good first

[2017-05-11 14:24] eerhardt commented on #2273
We are already using additional-probing-paths instead of NUGET_PACKAGES when running using the 2.0 dotnet host.  We left the fallback check for NUGET_PACKAGES in for the case where DependencyModel 2.0 is being used outside of the 2.0 dotnet host (either in the 1.x host or on desktop).

The tests in question were explicitly setting NUGET_PACKAGES to some random location and expecting DependencyMode

[2017-05-11 15:25] gkhanna79 opened #2360 "Detected package downgrade: Microsoft.NETCore.App from 1.1.2 to 1.1.1"
@berets76 commented on [Wed May 10 2017](https://github.com/dotnet/coreclr/issues/11494)

Hi, after NuGet packages update I got this warning VS 2017 error list

 MyASPNETCoreProject (>= 1.0.0) -> Microsoft.VisualStudio.Web.CodeGeneration.Design (>= 1.1.1) -> Microsoft.NETCore.App (>= 1.1.2)
MyASPNETCoreProject (>= 1.0.0) -> Microsoft.NETCore.App (>= 1.1.1)

Actual situation
![image](https://cloud.

[2017-05-11 15:25] gkhanna79 commented on #2360
@livarcocc @weshaggard PTAL

[2017-05-11 15:30] gkhanna79 commented on #2280
I will update the entry in the table to reflect ARMHF in my PR at https://github.com/dotnet/core-setup/pull/2350.

[2017-05-11 15:38] gkhanna79 commented on #790
@jyoungyun Ubuntu Arm leg (https://ci.dot.net/job/dotnet_core-setup/job/master/job/release_ubuntu_arm_prtest/49/console) is really Linux Armhf leg.

For ArmEl, you should add a Tizen Armel leg (similar to what we have in coreCLR - like https://ci.dot.net/job/dotnet_coreclr/job/master/job/armel_cross_debug_tizen_prtest/2289/consoleFull).

[2017-05-11 15:41] gkhanna79 commented on #790
@ericstj @weshaggard Do you know why restore would fail for @jyoungyun above?

[2017-05-11 15:50] cbeall commented on #2360
An update for me. The issue was that at no point did the RuntimeFrameworkVersion attribute in the csproj ever update from 1.1.1 to 1.1.2. But when you create a project from scratch, that attribute does not exist and there is no problem. So instead of updating the attribute, it is better to remove it.

That attribute only exists in the csproj file because it was added there by running `dotnet migra

[2017-05-11 16:17] ellismg commented on #790
In the error message there is only one slash after https:.  In dir.props we do this goofy %2F thing to prevent msbuild from normalizing slash slash into slash.  When passing a http source to this property you may need to do the same normalization?

[2017-05-11 17:20] weshaggard commented on #2360
This looks like something with either dotnet migrate or the implicit package versions. @livarcocc @dsplaisted would be in a better position to make a recommendation.

[2017-05-11 17:47] weshaggard commented on #1566
Once https://github.com/dotnet/core-setup/pull/2330 is fully plumbed (it is at least waiting for a coreclr fix merged yesterday). Then you will have a Microsoft.NETCore.App.versions.txt text file with something like:

[code]

With that information you can get the exact SHA to build for core-setup, corefx, and coreclr. You can also get the build version by looking at the dotnet/versions/corefx and

[2017-05-11 18:09] eerhardt commented on #2283
Assigning to @rakeshsinghranchi per @gkhanna79

[2017-05-11 18:11] eerhardt commented on #1231
@leecow - can you give some input on this policy?

[2017-05-11 18:12] eerhardt commented on #1801
@chcosta @crummel - Is this still an issue?  Can it be closed?

[2017-05-11 18:15] eerhardt commented on #2156
@ericstj - can you explain the user scenario that this is solving?

[2017-05-11 18:30] gkhanna79 commented on #2273
@AlexGhiondea Do you have suggestions on how to do AppContext.SetData?

[2017-05-11 18:36] ericstj commented on #2156
Including source in the symbols packages.  We publish symbol packages to myget.org and nuget.org.  Without this change those packages are missing the corefx source.

Previously this was all set up for the individual packages by @dagood, and was something I broke when I merged things into a flat package.

I'm not sure we've ever tested end-to-end using this functionality of NuGet.  @dagood may have

[2017-05-11 18:37] ericstj commented on #2257
Moving this out as it isn't particularly interesting for UWP since its is on a different schedule than CoreApp.

[2017-05-11 18:40] ericstj commented on #2344
Currently blocked on https://github.com/dotnet/sdk/issues/534

Related: https://github.com/dotnet/sdk/issues/1194
This is effectively defining a way to do this better in the future.

[2017-05-11 18:48] gkhanna79 commented on #2280
I have confirmed that the issue is now fixed. Please try https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/2.0.0-preview2-25311-09/dotnet-linux-arm.2.0.0-preview2-25311-09.tar.gz

[2017-05-11 18:49] gkhanna79 commented on #2280
@olegsavelos @JensNordenbro Can you use the URL above and confirm it works for you?

[2017-05-11 18:56] olegsavelos commented on #2280
@gkhanna79 Worked for me 🥇 Now just need to figure out to figure out Segmentation Fault when running MVC apps. Any directions i should follow ?

[2017-05-11 18:58] gkhanna79 commented on #2280
Excellent - thanks for the confirmation! I will close this issue.

For the segmentation fault, I would suggest grabbing core dump and share it out the callstack for crash in a new issue.

[2017-05-11 18:58] #2280 closed

[2017-05-11 19:03] leecow commented on #1231
Our installers need to provide the option for to enable updates. I would expect @rakeshsinghranchi to be familiar with the settings from his work on the Framework installers.

[2017-05-11 19:23] vivmishra commented on #1231
Framework installer does not carry this since we are part of WU and not MU.
Though, we are aware of general guidance of how to do this work but this was kept low pri since we haven't had any instances of shipping a high pri patch on MU for .NET Core yet.

[2017-05-11 19:28] ellismg commented on #2319
I'm taking a look at fixing this now.

[2017-05-11 20:16] ellismg commented on #2270
When we do this, it would be really, really nice if the experience when you build as non root was not the build pauses and asks you to type in your root password before continuing.  Maybe it could instead see if the effective UID is not 0 and if so just warns and skips?

[2017-05-11 20:38] karajas commented on #279
https://github.com/dotnet/core-setup/pull/2368

[2017-05-11 20:39] karajas commented on #2247
This is only missing pushing deb-tool to the cli feed @eerhardt

[2017-05-11 20:55] eerhardt commented on #2270
Agreed.

Another thought/option is to detect if we are running in a Docker container, and only do the test in that scenario.  That way we aren't potentially corrupting the machine by installing something that is potentially broken on it.  Inside a docker container, you don't need `sudo` in order to `dpkg -i`

[2017-05-11 21:04] #2156 closed

[2017-05-11 21:34] dagood commented on #2156
I tried it out way back when I first did that for CoreFX, and it worked. (MyGet's symbol source server.) There are other plans to actually index the PDBs to point to GitHub, but it is neat to see the MyGet flow in action.

Note that we don't publish symbol packages to nuget.org--and actually, when you run a NuGet push on symbol packages, they're actually published to symbolsource.org. We stopped d

[2017-05-11 22:05] RheaAyase commented on #1599
If you were a new user trying out .net then you would be directed by everyone to `dnf/apt-get/whatever install dotnet-sdk` instead of `dotnet` which is the SDK that you as a new user trying it out are looking for and should know and understand the difference. Similarly you are installing `python-dev(el)` etc, and not just `python`...

[2017-05-11 22:16] SilverCard commented on #2358
This issue was fixed in the latest build.

[2017-05-11 22:42] karajas commented on #2223
@eerhardt I can work on this now if it's still up for grabs

[2017-05-12 00:12] #1755 closed

[2017-05-12 06:20] Venex commented on #2358
I can confirm dotnet --info does work now, it seems to be compiled correctly, however I have another issue (I might need to open up another issue I presume?)

![image](https://cloud.githubusercontent.com/assets/11781825/25985636/e14b159e-36eb-11e7-816e-a14a057fc177.png)

[2017-05-12 11:46] JensNordenbro commented on #2280
@gkhanna79 - basically now the application starts but only when targeting rid linux-arm explicitly.  (during restore and publish).
If wanted to create a portable distribution (this worked in preview1) without specifing rid, during restore and publish, in advance, I got an exception :

This is my csproj: [ridless-restore.csproj](https://github.com/JensNordenbro/support/blob/master/ridlessrestore.cs

[2017-05-12 12:04] JensNordenbro commented on #2358
@Venex; worked for me. Did you do "dotnet restore" + "dotnet publish" or "dotnet restore -r linux-arm" + "dotnet publish -r linux-arm".
I got different results depending on this, as described in #2280, but maybe it is my csproj-authoring or erronoeous expectations.

[2017-05-12 12:53] olegsavelos commented on #2280
I think you have another system lib still being ELF64
`root@opiz:/usr/src/PublishOutput# readelf -h /usr/share/dotnet/shared/Microsoft.NETCore.App/2.0.0-preview2-25307-02/libhostpolicy.so
ELF Header:
  Magic:   7f 45 4c 46 02 01 01 00 00 00 00 00 00 00 00 00
  Class:                             ELF64
  Data:                              2's complement, little endian
  Version:

[2017-05-12 13:28] SilverCard commented on #2358
Try to force the project to use the latest "Microsoft.NETCore.DotNetHostPolicy" version, which is "2.0.0-preview2-25311-10", the previous versions have the format issue.

I added "<PackageReference Include="Microsoft.NETCore.DotNetHostPolicy" Version="2.0.0-preview2-25311-10" />" and worked fine.

[2017-05-12 13:37] Venex commented on #2358
Restore did output both
[code]
I'll try with next build, maybe better luck

[2017-05-12 15:19] gkhanna79 commented on #2280
You are using an older version of the package that had the problem. Please see the link I shared above (https://github.com/dotnet/core-setup/issues/2280#issuecomment-300882518) - libhostpolicy.so is ELF32 ARM binary.

[2017-05-12 15:22] eerhardt commented on #2223
Yes - it is still up for grabs.  Please take it.

[2017-05-12 15:22] gkhanna79 commented on #2280
Yes, linux-arm is the only RID that will support this. Infact, in .NET Core 2.0, we will be supporting platform agnostic RIDs (e.g. win-*, linux-*, osx-*).

@eerhardt @livarcocc Does the Preview1 CLI account for portable RIDs only for certain platforms/arch combination or for everything? If the latter, do you know why @JensNordenbro ran into the issue at https://github.com/dotnet/core-setup/issues

[2017-05-12 16:01] eerhardt commented on #2280
The CLI doesn't care about what's inside a RID.  You can use any platform/arch combination you can make up.

@JensNordenbro -  I tried restoring your project, but I don't have the right myget feeds.  Can you share with me your NuGet.config?

`Microsoft.Win32.Registry` needs to be referenced explicitly in order to use APIs in it.  I wonder if the ASP.NET package is referencing it correctly or not.

[2017-05-12 16:13] olegsavelos commented on #2280
@gkhanna79 You were right i had wrong build :(
Now when running MVC Razor app i get System.IO.FileNotFoundException: Could not load file or assembly 'Microsoft.Win32.Registry,
I have added a nuget package but it doesn't seem to work.
@eerhardt Can you shed some more light on how to manually referencing it ?

[2017-05-12 16:54] natemcmaster opened #2376 "dotnet.exe does not handle absolute paths with mixed slashes"
## Steps to reproduce
`dotnet.exe C:\path/to\some/assembly.dll`

## Expected  behavior
Loads assembly.dll for execution

## Actual behavior

## Environment data
Using: 2.0.0-preview2-25309-07 as bundled in .NET Core CLI 2.0.0-preview2-006065
Windows 10 x64

## Workaround
Convert all forward slashes to backslashes
`dotnet.exe C:\path\to\some\assembly.dll`

[2017-05-12 16:57] eerhardt commented on #2280
I'd like to get a repro myself as I think we have a bug somewhere (probably in ASP.NET's packages, but I'm not sure).

Try adding

`<PackageReference Include="Microsoft.Win32.Registry" Version="4.4.0-preview2-25310-01" />`

to your project.

[2017-05-12 17:10] olegsavelos commented on #2280
@eerhardt I get
`Severity	Code	Description	Project	File	Line	Suppression State
Error		Unable to resolve 'Microsoft.Win32.Registry (>= 4.4.0-preview2-25310-01)' for '.NETCoreApp,Version=v2.0 (ubuntu.16.04-arm)'.
`

[2017-05-12 17:13] eerhardt commented on #2280
What's your .csproj look like?  You may need a different version of that package.

[2017-05-12 17:16] olegsavelos commented on #2280
[code]

[2017-05-12 17:20] eerhardt commented on #2280
Sorry - try `4.4.0-preview1-25305-02` for the registry's version.

[2017-05-12 17:26] olegsavelos commented on #2280
That worked, but i don't see the dll being copied when i try to publish the app.

[2017-05-12 17:27] eerhardt commented on #2280
Do you still get the same error at runtime?  Can't find the file?

[2017-05-12 17:28] olegsavelos commented on #2280
Yes, the file is not physically present in published directory so that would be the case ?

[2017-05-12 17:29] eerhardt commented on #2280
Yes, if the file isn't there, I'd expect the same runtime error.

Investigating...

[2017-05-12 17:57] gkhanna79 commented on #2376
@eerhardt confirmed that this does not repro with build 2.0.0-preview2-25307-01.  Possible regression from https://github.com/dotnet/core-setup/commit/6186962c2546713d521dcee2afeb481fa589ecd0#diff-29fc8a28403b84f9a93634c7c93329d0 or https://github.com/dotnet/core-setup/commit/3b8111f53a59e846ddcba363c3c5d0c0acfb7a2a#diff-29fc8a28403b84f9a93634c7c93329d0.

@ramarag PTAL.

[2017-05-12 17:59] #2319 closed

[2017-05-12 18:04] JensNordenbro commented on #2280
@eerhardt : https://github.com/JensNordenbro/support/blob/master/nuget.config

[2017-05-12 18:11] eerhardt opened #2377 "Portable apps using Microsoft.Win32.Registry fail on non-Windows"
## Steps to reproduce
Using latest 2.0.0-preview2 SDK and SharedFx

dotnet new console
Add to your project
[code]
Write some code using the registry like so:
[code]
dotnet publish
Take the program to a linux machine and try to run it.

## Expected  behavior
The app runs successfully.

## Actual behavior
[code]

## Environment data
[code]

[2017-05-12 18:13] eerhardt commented on #2377
It appears the problem is that https://github.com/dotnet/corefx/commit/c5db9a803ee1eb2c9c33f8101a3d1692c0158317 removed `Microsoft.Win32.Registry` from the Shared Framework on non-Windows.  However, publish respects what is in the `Microsoft.NETCore.App.PlatformManifest.txt` file, and if a file shows up there, it is excluded from the published output.

So we either need to put these assemblies bac

[2017-05-12 18:17] eerhardt commented on #2280
I've opened https://github.com/dotnet/core-setup/issues/2377 for this Win32.Registry issue.  It appears to be a bug in our latest builds.

To work around this, you can manually copy `%USERPROFILE%\.nuget\packages\Microsoft.Win32.Registry\4.4.0-preview1-25305-02\runtimes\unix\lib\netcoreapp2.0\Microsoft.Win32.Registry.dll` to your app's publish directory.

[2017-05-12 18:51] weshaggard commented on #2377
@ericstj do we want to have the manifiest account for this or update the shared frameworks to be the same?

[2017-05-12 18:52] pieceofsummer commented on #2339
Same here, Ubuntu 16.10.

[2017-05-12 19:39] GurliGebis opened #2380 "Running dotnet new on Gentoo Linux throws NullReferenceException"
## Steps to reproduce
1: Install Gentoo Linux
2: Download the 2.0.0 preview 1 tar.gz SDK and extract it as explained.
3: Run dotnet new

## Expected  behavior
Download and extraction of the needed packages.

## Actual behavior
The following stacktrace is thrown into the console:

Unhandled Exception: System.TypeInitializationException: The type initializer for 'Microsoft.DotNet.PlatformAbstraction

[2017-05-12 19:40] GurliGebis commented on #2380
This is due to /etc/os-release not having a VERSION_ID tag in Gentoo Linux, since it is built from source, and is using rolling releases.

I will be submitting a PR shortly with a fix.

[2017-05-13 05:49] karelz commented on #2334
This is blocking .NET Core 2.0 ZBB on 5/10.
If it is non-trivial I am fine moving it to Post-ZBB, given that it came quite late and close to the ZBB data.

@nguerrera @gkhanna79 any preferences?

[2017-05-13 06:00] gkhanna79 commented on #2334
Livar should chime in.

Thanks,
Gaurav

-------- Original message --------
From: Karel Zikmund <notifications@github.com>
Date: 5/12/17 10:49 PM (GMT-08:00)
To: dotnet/core-setup <core-setup@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [dotnet/core-setup] If sdk version specified in global.json is not found, latest s

[2017-05-13 08:01] olegsavelos commented on #2280
Still getting error even with the file present at root. The version seem to be looked for is 4.0.0.0?
[code]

[2017-05-13 11:43] Jan-Kruse commented on #2339
Same problem on Ubuntu MATE 17.04

[2017-05-13 14:46] koala59230 commented on #2339
Hello world.

Same problem. But if you download and install .NET Core 1.1.2 (Current) here https://www.microsoft.com/net/download/linux  and after you install with sudo apt-get install dotnet-dev-1.0.4. it's right great for me.

Best Regards.

[2017-05-13 17:16] nguerrera commented on #2334
It is not trivial enough to be filed on May 9 @ 5 PM and fixed by May 10. ;) Track it however appropriate, but it needs to be fixed. @johnbeisner is working on it.

[2017-05-13 20:26] karelz commented on #2334
OK, seems non-trivial. Given it came in late, I'm marking it as Post-ZBB.

[2017-05-14 16:41] JensNordenbro commented on #2358
@Venex; I am not sure if you use the -r flag on resor and publish, otherwise you might end upp as in #2280 unless #2377 gets resolved, but maybe you have another issue.

[2017-05-15 03:30] jyoungyun commented on #790
Thanks @ellismg. The issue was resolved :) I will add Tizen Armel leg soon.

[2017-05-15 03:34] gkhanna79 commented on #2376
@ramarag PTAL at this when you are back as this appears to be high priority issue.

[2017-05-15 05:42] Venex commented on #2358
I only did the -r flag on publish, I applied it to restore too and can confirm this step works!

[2017-05-15 16:39] ericstj commented on #2377
I don't think so.  We need those entries in the manifest to prevent someone from referencing an older version of the package and downgrading the file in the shared framework.

We should add it back to all frameworks.  I think that'll have to be a requirement.

[2017-05-15 16:42] weshaggard commented on #2377
OK I'm reverting my change to optimize some shared frameworks https://github.com/dotnet/corefx/pull/19780.

[2017-05-15 19:30] GurliGebis commented on #2380
Fix has been merged, closing.

[2017-05-15 19:30] #2380 closed

[2017-05-15 21:14] #2347 closed

[2017-05-15 22:24] nguerrera commented on #2336
When there is no global.json involved, the latest version selected should be the latest version across all levels as well.

[2017-05-15 23:36] gkhanna79 opened #2398 "Various fixes for multi-level lookup"
We need to do the following:

1) Disable looking up user-profile and only lookup dotnet EXE location and global location.
2) For patch roll forward for SharedFX, pickup the highest version from across all locations.

CC @davidfowl @nguerrera @ramarag @piotrpMSFT @blowdart @morganbr

[2017-05-15 23:37] gkhanna79 commented on #2398
CC @eerhardt

[2017-05-16 10:52] jyoungyun commented on #1566
@weshaggard Thank you for the detailed explanation. Your detailed information is very helpful to me and it is all the pieces I need. :) But then when I check the latest M.N.App nupkg it does not have coreclr SHA and dotnet/versions/coreclr SHA informations. Could you check it?

[2017-05-16 12:36] BusyJay opened #2405 "Null point errror on Arch Linux"
## Steps to reproduce
dotnet --version

## Expected  behavior
% dotnet --version
2.0.0-preview2-006071

## Actual behavior
% dotnet --version
Unhandled Exception: System.TypeInitializationException: The type initializer for 'Microsoft.DotNet.PlatformAbstractions.RuntimeEnvironment' threw an exception. ---> System.NullReferenceException: Object reference not set to an instance of an object.
   at M

[2017-05-16 13:17] omajid commented on #2405
Should have been fixed by https://github.com/dotnet/core-setup/pull/2381, I hope.

[2017-05-16 13:40] TimRowe commented on #2307
My project is ASP.NET Core on .net Framework not .net core.
the .csproj content is below:
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>net452</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
  </PropertyGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.ApplicationInsights.AspNetCore" Version="2.0.0" />
    <PackageReference Include=

[2017-05-16 14:06] Zuendelmeister opened #2407 "ARM: "Did you mean to run dotnet SDK commands?""
Hi everyone,

I'm struggling with dotnet core on arm.
This is what I did:

## Steps to reproduce
I downloaded the tar.gz, extracted it and wanted to show the version:
./dotnet --version

## Expected  behavior
I just wanted to test if it's working or not and see the version.

## Actual behavior
![image](https://cloud.githubusercontent.com/assets/14317353/26110000/479c1a60-3a51-11e7-81d2-277404526d1

[2017-05-16 14:35] omajid commented on #2407
I think you installed just the runtime and are running into the problem where `--version` is part of the SDK. See https://github.com/dotnet/cli/issues/3773 for more on this. Can you try running just `./dotnet`?

[2017-05-16 14:43] gkhanna79 commented on #1566
@joperezr Can you confirm which package will have the SHA details?

[2017-05-16 17:09] JensNordenbro commented on #2407
try "dotnet --info"

[2017-05-16 17:10] joperezr commented on #1566
We also add version info on the identity package, just not coreclr's version. The way we calculate the version information, is that for each package that we build, we check the dependent packages that we restore in order to construct the meta package, and then check if there are version.txt files on those packages. If so, then we extract the hash from it, and add it to the version info that will g

[2017-05-16 18:20] chcosta opened #2412 "Use official docker images in core-setup"
@MichaelSimons produced interim docker images for us to use in core-setup for producing arm / deb builds.  We happily used those, but didn't produce official builds which align the docker files with the images we are using.  This issue is tracking ensuring that we produce official images and use those in core-setup (official builds and CI).

FYI @MichaelSimons @eerhardt @gkhanna79

[2017-05-16 18:45] weshaggard commented on #1566
@joperezr if there is an easy way to get all the versions into the identity package we should do that.

[2017-05-16 18:47] joperezr commented on #1566
I'm not sure if there is an easy way to get the coreclr version on it, but there is definitely a super easy way to get `dotnet\versions\coreclr` hash in there. Would that work for now?

[2017-05-16 19:16] rakeshsinghranchi commented on #2246
cc @karajas

Installer file name for Ubuntu14.04 and Debian packages have regressed. This is causing broken links in readme file for daily builds.

Ubuntu 14.04 : for e.g.
Expected:dotnet-host-ubuntu-x64-*.deb
Actual:dotnet-host-ubuntu.14.04-x64-*.deb

Debian:
Expected:dotnet-host-debian-x64*.deb
Actual:dotnet-host-debian.8-x64*.deb

[2017-05-16 19:20] karajas commented on #2247
This is done. The fallout from this is enabling the publish of installers to happen only in the finalize step.

[2017-05-16 19:20] #2247 closed

[2017-05-16 19:21] karajas opened #2413 "Finalize build should publish the installer packages and push tool packages to feed"
@chcosta

[2017-05-16 19:22] karajas commented on #279
This is now creating checksums in the new layout.

[2017-05-16 19:22] nzain commented on #725
I see a lot of progress related to the Raspberry PI 2/3 and Ubuntu... but what is required to get my dotnet core 2 project running on an [i.MX7](https://www.toradex.com/de/computer-on-modules/colibri-arm-family/nxp-freescale-imx7) (Cortex-A7) with an [angstrom](www.angstrom-distribution.org/) based linux?

From my limited understanding the architecture should be armhf, which is the default archite

[2017-05-16 19:31] rakeshsinghranchi commented on #2246
cc @gkhanna79 , @chcosta

[2017-05-16 19:44] chcosta commented on #2246
Rakesh, can you update the readme to reflect the debian file names?

[2017-05-16 20:02] JensNordenbro commented on #725
@nzain - try running using Linux (armhf) (for glibc based OS) in table on [core-setup-readme](https://github.com/dotnet/core-setup).
This works fine for us (imx6 yocto poky) however you might have to bring in native dependencies into your os -dist manually.

[2017-05-16 20:22] zeroskyx commented on #725
.NET Core 2.0 works flawlessly on a Raspberry Pi 3 with Raspbian Jessy Lite. The following is required to get it working:

On the vanilla installation of the OS run: `sudo apt install libunwind8`

In your .NET Core project include:

    <TargetFramework>netcoreapp2.0</TargetFramework>
    <RuntimeIdentifiers>win10-x64;linux-arm</RuntimeIdentifiers>

To publish on the command line/ vscode:

    dot

[2017-05-16 21:21] eerhardt commented on #2223
This is now fixed.  See https://dotnet.myget.org/feed/cli-deps/package/nuget/dotnet-deb-tool/2.0.0-preview2-25316-09.

Please note that the plan for this tool is to move it to dotnet/buildtools and turn it into an MSBuild target instead of a CLI Tool. This won't happen immediately, but it is the eventual goal.

Closing.

[2017-05-16 21:21] #2223 closed

[2017-05-16 21:23] rakeshsinghranchi commented on #2246
sure.
@gkhanna79 , are you fine updating the readme instead of preserving the installer filename format ? Also, as part of readme cleanup , we should get rid of tars and symbol links for Ubuntu and Debian. Please confirm.

[2017-05-16 22:03] eerhardt commented on #2144
Fixed by #2397.

[2017-05-16 22:03] #2144 closed

[2017-05-16 22:05] eerhardt commented on #2144
/cc @dleeapho @crummel - FYI here is the issue and corresponding PRs that provide "fragile PDBs" (or .ni.pdb) files into our shared framework symbols.nupkgs.

[2017-05-16 22:08] #2376 closed

[2017-05-16 22:15] leecow commented on #279
@karajas - I have been hand-rolling checksums to this point for official releases ([see the 2.1 Preview dl page](https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.0.0-preview1-download.md) and the [checksum file](https://dotnetcli.blob.core.windows.net/dotnet/checksums/2.0.0-preview1-sharedfx-sha.txt)).

I presume your implementation will drop a single checksum file per

[2017-05-16 22:26] karajas commented on #279
@leecow yes there is one for each installer and tar/zip file

[2017-05-16 22:27] karajas commented on #279
These also follow the new layout for core-setup that is similar to how the sdk repo storage is set up

[2017-05-17 04:35] JohnRusk commented on #2279
@Priya91 that so file is indeed present, although the capitalization of its name is different from what you have in your comment.  First letter of each word is capitialized.

[2017-05-17 04:42] gkhanna79 commented on #2246
What is the motivation for installer name change?

CC @eerhardt

[2017-05-17 04:55] JohnRusk commented on #2279
@karelz cc @Priya91 , here is the repro app. Apologies for the delay in getting it to you.

[CurlHandlerLoadBugRepro.zip](https://github.com/dotnet/core-setup/files/1006599/CurlHandlerLoadBugRepro.zip)

To reproduce my problem, I made a fresh Ubuntu 16.10 VM, then installed the framework only by running the following:

`wget https://dot.net/v1/dotnet-install.sh

chmod 700 dotnet-install.sh

sudo a

[2017-05-17 05:30] karajas commented on #2246
Following the thread in https://github.com/dotnet/core-setup/pull/2390#issuecomment-301989034

[2017-05-17 10:33] jyoungyun commented on #1566
@joperezr Thank you. I see all SHA informations in runtime.M.N.App nupkg. To poll the runtime.M.N.App nupkg, dotnet-core myget should add webhook service to our websites. Is there another way to poll the new version of runtime.* packages?

[2017-05-17 14:39] eerhardt commented on #1566
We have a system named "Maestro" which you can add a subscription to, and it publishes notifications when a new official build is complete.  See https://github.com/dotnet/versions/tree/master/Maestro.  If you have a public HTTP endpoint, Maestro can call it whenever a new official build of core-setup is complete.

See https://github.com/dotnet/versions/blob/master/Maestro/subscriptions.json for al

[2017-05-17 15:03] gkhanna79 commented on #1566
Alternately, is there a specific reason you are looking to get push notifications @jyoungyun, as opposed to using the latest build number that you know of and building for it if you determine it is newer than what you last built?

[2017-05-17 15:24] dleeapho commented on #2144
/cc @dagood

[2017-05-17 18:58] chcosta commented on #1801
I'm going to be validate our binaries and ensure they are all signed correctly later this week.

[2017-05-17 21:03] rakeshsinghranchi commented on #2246
cc @eerhardt  , does this change impact CLI branch consuming debian packages ?

this is a different issue as compared to #2390 . Issue is that Ubuntu 14.04 and Debian packages now have version specified in the package name.

Ubuntu 14.04 : for e.g.
Expected:dotnet-host-ubuntu-x64-.deb
Actual:dotnet-host-ubuntu.**14.04**-x64-.deb
Debian:
Expected:dotnet-host-debian-x64*.deb
Actual:dotnet-host-debia

[2017-05-17 21:28] rakeshsinghranchi commented on #2230
This issue has been resolved by this commit :
https://github.com/dotnet/core-setup/commit/8018778fdf879209c6e3c8539105af012760b4b2

[2017-05-17 21:28] #2230 closed

[2017-05-17 21:54] eerhardt commented on #2246
Yes, and it has already been fixed in the CLI.  See https://github.com/dotnet/cli/commit/6df51ceb3b26ba984386e98e5077c01b6414c45d

[2017-05-17 23:52] chcosta opened #2432 "Tizen CI failure"
CI is failing the Tizen build leg
[code]

Also, probably need to add an entry to netci.groovy for “armel” to prevent it failing since tests are being skipped..

https://github.com/dotnet/core-setup/blob/master/netci.groovy#L96-L98

[code]

[2017-05-18 00:24] gkhanna79 commented on #2432
Should be fixed with https://github.com/dotnet/core-setup/pull/2421

[2017-05-18 00:24] #2432 closed

[2017-05-18 01:11] Priya91 commented on #2279
@JohnRusk I followed the repro steps that you had provided, and installed just the shared-runtime and compiled the app on windows, and did a ```dotnet publish -f netcoreapp1.1```, copied the published folder and did ```dotnet CurlHandlerLoadBugRepro.dll curlhandlerloadbug ILMbnhe83hedlnthehe8nehylehnheuemtpfxhsOweBUK0oBoiiJXVbZAVvUml3CpaU/m3RUjNy9OcGK9kogfA== dummy```, I get the exception,

[code]

[2017-05-18 01:13] Priya91 commented on #2279
@ramarag Says there's an env variable that you can set, that'll print trace messages from the dotnet host. From there we can know if loading the so files failed. @ramarag Can you point to the docs on that?

[2017-05-18 01:27] jyoungyun commented on #1566
I need to check the packages when new version is uploaded so that I get the SHA informations that matches the build number. I want to know when the newer version is uploaded and I will check the "Maestro" that @eerhardt said.

I'm going to poll the Microsoft.NETCore.Runtime.CoreCLR and Microsoft.Private.CoreFx.NETCoreApp nupkgs to get the SHA info of coreclr and corefx and to get the core-setup co

[2017-05-18 01:31] ramarag commented on #2279
@JohnRusk set COREHOST_TRACE=1 before you run the app. dotnet.exe will print the locations it probes to find all the required assemblies. Please do this for both success and failure cases and share it out

[2017-05-18 09:56] jyoungyun commented on #1566
Um, I'm looking at `Maestro` in `dotnet/versions` repository. This is a different approach than I thought. When I create a vso(visual studio online) instance and register that instance in subscriptions.json, whenever the dotnet-bot changes the version string in `dotnet/version` repository, an alarm will appear to my vso instance project. Then download nupkg for that version and read SHA info from

[2017-05-18 14:14] gkhanna79 commented on #1566
@dagood Can you please help confirm for @jyoungyun how she can add a subscription for Samsung Tizen repo to be notified when Maestro updates the versions repo?

[2017-05-18 14:30] eerhardt commented on #1566
Maestro only knows how to invoke VSO build definitions today.  But we can teach it to support calling other things as needed.  We just haven't had a need yet.

The reason VSO meets a lot of our needs today is because:
1. It can be called through the public internet
1. It provides a machine where logic can be executed
1. It already has a mechanism to pull a repo, which contains the logic
1. It is f

[2017-05-18 15:01] dagood commented on #1566
@jyoungyun Your plan does sound reasonable if we continue to only have the VSO (VSTS) build handler in Maestro. The build definition would be an "adapter" to trigger a Jenkins build, basically.

To clarify, when any file [specified as a `triggerPath`](https://github.com/dotnet/versions/blob/0eee620155859f04dc7aca32ed8e42d8d7259d86/Maestro/subscriptions.json#L68-L69) in dotnet/versions changes, Mae

[2017-05-18 16:18] #186 closed

[2017-05-18 16:37] eerhardt opened #2435 "CommonManaged.props should reuse the root version properties instead of duplicating the version number"
See https://github.com/dotnet/core-setup/blob/54d2c511e4afeab0caa279aa9be7369fb9964fd5/src/managed/CommonManaged.props#L8

We should reuse the version defined in the root dir.props instead of duplicating it here.

However, we can't just import dir.props because it has a bunch of other properties that can't be imported in these projects because they don't work with the .NET Core SDK.

[2017-05-18 17:38] gkhanna79 opened #2437 "Framework packages should use TFM-specific content packages"
Please see discussion in https://github.com/dotnet/core-setup/pull/2422

[2017-05-18 18:03] spottedmahn opened #2438 "Setup Failed - 0x80072efd - Unspecified Error - No Internet Causes Problems?"
## Steps to reproduce
Try to install on a machine w/o internet that needs VC_redist.x64.exe

## Expected  behavior
A better error message.  Help on how to get around this.

## Actual behavior
![image](https://cloud.githubusercontent.com/assets/14079228/26216489/4c1ce786-3bd2-11e7-8fc9-e57220750abc.png)

[Microsoft_.NET_Core_1.1.2_-_Runtime_(x64)_20170518133910.log.txt](https://github.com/dotnet/co

[2017-05-18 18:32] rakeshsinghranchi commented on #2197
cc @karajas
Debian installers are getting successfully produced and pushed to repo feed.

[2017-05-18 18:32] #2197 closed

[2017-05-18 18:48] weshaggard commented on #2435
Sounds like it is about time to correctly partition dir.props :)

[2017-05-18 23:27] #637 closed

[2017-05-18 23:43] JohnRusk commented on #2279
@ramarag the logs for both success and failure are attached.  If you set your diff tool to ignore the difference in the paths to the dotnet directory, there are just about 4 remaining differences.

[loadLogs.zip](https://github.com/dotnet/core-setup/files/1012686/loadLogs.zip)

@Priya91 I have repeated my tests, and it still happens for me.  I've notice two things that might be relevant:
- You use

[2017-05-19 00:43] ramarag commented on #2279
there is nothing wrong with the host and way it loads the assembly

@Priya91 i believe a native dependency is missing when the shared FX is installed which is being corrected when the SDK is installed, do you know what the dependency might be ?

@rakeshsinghranchi ideas ?

[2017-05-19 03:05] gkhanna79 commented on #1566
@jyoungyun Is there a particular reason you want to use push notification to trigger builds, as opposed to driving them as timed?

[2017-05-19 03:27] rakeshsinghranchi opened #2443 "Update installer names per proposal"
Proposed document for installer brand and file name change :
https://github.com/dotnet/docs/blob/96ed389e8bc1b80e8e25f4623d9ed4862ee57772/docs/core/versions/index.md

[2017-05-19 04:31] davkean opened #2444 ""Files in Use" processes hide behind .NET Logo"
![image](https://cloud.githubusercontent.com/assets/1103906/26233318/d362bd06-3c9f-11e7-855b-d0c0b1d2fbf6.png)

[2017-05-19 04:33] Petermarcu commented on #2444
This is the installer for the SDK from teh dotnet/cli repo. @livarcocc, can you file a copy of this bug there and we'll use this one to track fixing it in the shared runtime installer?

[2017-05-19 04:34] Petermarcu commented on #2444
@davkean, was this a first install, a repair? I thought the SDK installs were always SxS. I don't think this should hit the Runtime installer often since it is always SxS.

[2017-05-19 04:36] davkean commented on #2444
This is an uninstall, which presumably happen if you have apps running.

[2017-05-19 04:36] Petermarcu commented on #2444
Yeah, it would.

[2017-05-19 04:39] jyoungyun commented on #1566
@gkhanna79 If I know the build schedule you use, I can drive this as the same time schedule. Please see the https://github.com/dotnet/coreclr/issues/11248#issuecomment-302606593 comment. :)

[2017-05-19 04:53] Petermarcu commented on #2444
@rakeshsinghranchi , I'll take a look and maybe make a PR tonight or in the morning.

[2017-05-19 05:37] gkhanna79 commented on #1566
@jyoungyun CoreCLR 2.0.0 is built 3am and 1pm daily, while CoreFX is 5am and 5pm.

If there are more than 2 builds a day, then the additional ones are likely manually triggered. My suggestion to you would be to, at time of your choice, poll the latest version of a runtime.*.M.N.App package, extract its version and use it to sync the SHA and triggers build if it is newer than the last one you used

[2017-05-19 05:51] gkhanna79 commented on #2192
@mellinoe Is this complete, post your last change, or still outstanding?

[2017-05-19 06:00] gkhanna79 commented on #790
@jyoungyun Can we close this issue now that you have enabled the Tizen Armel CI support?

[2017-05-19 06:02] gkhanna79 commented on #189
@ericstj Is this actionable in Core-Setup (we are already producing all the installers) or should it be moved to a different repo if it is tracking something else?

[2017-05-19 06:04] gkhanna79 commented on #2273
@eerhardt What are the next steps here?

[2017-05-19 06:05] gkhanna79 commented on #2263
@Petermarcu Shouldn't we be having links to the Distro specific installers that @rakeshsinghranchi is working upon?

[2017-05-19 06:09] gkhanna79 commented on #1801
@chcosta Should this be closed since you will be using https://github.com/dotnet/core-setup/issues/2199 to validate signing?

[2017-05-19 06:10] gkhanna79 commented on #2189
@rakeshsinghranchi What are your thoughts on this?

[2017-05-19 06:18] jyoungyun commented on #790
@gkhanna79 Sure! Thank you for your effort and time :)

[2017-05-19 06:27] mellinoe commented on #2192
This is done.

[2017-05-19 06:27] #2192 closed

[2017-05-19 06:37] Petermarcu commented on #2263
@gkhanna79 , Yeah, we should.

[2017-05-19 12:20] rakeshsinghranchi commented on #2263
Master already has distro specific installers for debian and ubuntu consuming portable linux-64. We have stopped producing distro specific archives ,readme has been updated too .
https://github.com/dotnet/core-setup/commit/2294e8456f7b139eec641576ca3eeaacaf6cbb1f

Not sure, where to look for obtain scripts that CLI uses.

What is the ask here?

[2017-05-19 13:48] gkhanna79 commented on #2263
@rakeshsinghranchi The ask here is to ensure that links on README.MD for platform specific installers are for the ones your new infrastructure is building and we are no longer doing distro specific builds (which I believe is true per the official build definition of Core-Setup).

CLI installer scripts are being looked at by someone else - @eerhardt do you know who that is?

[2017-05-19 13:58] gkhanna79 opened #2449 "Validate installers for servicing scenarios"
Assuming we are doing a 2.0 servicing release (e.g. 2.0.1) where hostfxr and dotnet.exe have not changed. Confirm that the installers (including the bundle) produced have the expected names (including version numbers) such that if we do a 2.0.2 servicing release, only the right components are installed.

[2017-05-19 15:33] chcosta commented on #1801
sounds reasonable.  I'm hoping to get some results today.

[2017-05-19 15:33] #1801 closed

[2017-05-19 15:47] eerhardt commented on #2263
@johnbeisner is working on updating the dotnet-install scripts to support our new publish layout and only having the `linux` archives.  @livarcocc told me yesterday he is close to sending out a PR.

[2017-05-19 17:05] johnbeisner opened #2451 "Always consider pre-release versions in the fx_ver_t::parse() method."
The call to fx_ver_t::parse() contains a bool parameter that controls whether or not to consider pre-release versions - current business logic considers pre-release versions for fx and sdk and probably will in the future.

Remove the bool parameter and always consider pre-release versions in the method.

[2017-05-19 17:08] johnbeisner commented on #2334
https://github.com/dotnet/core-setup/commit/8a25b2a37ea432bb8a673ee521b42a7afc7486bd

[2017-05-19 17:12] johnbeisner commented on #2336
https://github.com/dotnet/core-setup/commit/8a25b2a37ea432bb8a673ee521b42a7afc7486bd

[2017-05-19 17:37] eerhardt commented on #279
@karajas - I think the only thing left for this work item is to update the README.  Can you add the checksum links to the REAMDE?

[2017-05-19 17:40] eerhardt commented on #1607
@chcosta - is this the same thing you are working on?  Same as https://github.com/dotnet/core-setup/issues/186?

I'll assign to you.

[2017-05-19 17:41] eerhardt commented on #2189
I don't think this is necessary for 2.0. Does anyone object to moving this to 2.1?

[2017-05-19 17:42] eerhardt commented on #2198
We are completely off any project.json files now in the repo.  Thus there are no `--infer-runtimes` usages since that is not a valid option with the MSBuild CLI commands.

Closing.

[2017-05-19 17:42] #2198 closed

[2017-05-19 17:44] eerhardt commented on #2238
Is this required for 2.0?  I think we could get away with moving this to 2.1 since this is the way the repo has worked for a while now.

[2017-05-19 17:51] rakeshsinghranchi commented on #2189
Agreed, moving it to 2.1 .

[2017-05-19 17:56] johnbeisner commented on #2336
cherry-pick the changes to release/2.0.0

[2017-05-19 17:56] johnbeisner commented on #2334
cherry-pick the changes to release/2.0.0

[2017-05-19 18:04] ericstj commented on #189
I believe it needs to go upstack if still necessary.  I'm pretty sure its on the radar for CLI, but I'll open an issue to be sure.

[2017-05-19 18:04] #189 closed

[2017-05-19 18:06] ericstj commented on #189
Opened: https://github.com/dotnet/cli/issues/6636

[2017-05-19 18:06] eerhardt commented on #2377
This is now fixed with the latest 2.0.0-preview2 build.  Thanks @weshaggard.

[2017-05-19 18:06] #2377 closed

[2017-05-19 18:30] karajas commented on #279
@eerhardt Should the link for a latest checksum exist? I don't think we have that in yet. We only have links to each build number.

[2017-05-19 18:33] gkhanna79 commented on #279
If you are going to fix the README, can you also fix https://github.com/dotnet/core-setup/issues/2262 that is currently assigned to @Petermarcu ?

[2017-05-19 18:37] karajas commented on #279
@gkhanna79 Sure, do we want links for 2.0.0-preview1?

[2017-05-19 18:38] gkhanna79 commented on #279
I think we want links to whatever corresponds to release/2.0.0 (which will be preview2 payload).

[2017-05-19 18:46] mellinoe commented on #2252
This is just about cleaning up and standardizing the names of properties we are using in some targets files to determine which OS we are running on and building for. It's not critical, and we've already done the validation showing that our current builds are producing the right assets. We can do this for a future release as part of continued clean-up.

[2017-05-19 19:49] eerhardt commented on #279
@karajas - You said you would follow up on this here:  https://github.com/dotnet/core-setup/pull/2368#discussion_r116615339

[2017-05-19 20:28] chcosta commented on #2199
Signtool flagged these failures, this appears to be files which are not authenticode signed.

SignTool Error: No signature found
-	dotnet-hostfxr-win-x86.2.0.0-preview2-25319-02.msi
-	dotnet-hostfxr-win-x64.2.0.0-preview2-25319-02.msi
-	ux\wixstdba.dll
-	dotnet-host-win-x64.2.0.0-preview2-25319-02.ms
-	dotnet-host-win-x86.2.0.0-preview2-25319-02.msi
-	apphost.exe
-	dotnet-sharedframework-win-x64.2

[2017-05-19 20:34] gkhanna79 commented on #2199
Apphost is not expected to be signed by design. Don't know about the dll, where is it coming From?

For the msi, they should be signed. Rakesh should chime in.

[2017-05-19 20:42] chcosta commented on #2199
Hmm... looking at a recent build, it appears they were signed, and published.  It's not clear why they were flagged as not signed.  I'm investigating.

[2017-05-19 21:12] eerhardt commented on #2199
`ux\wixstdba.dll` what is this?

[2017-05-19 21:32] chcosta commented on #2199
wixstdba is part of the "Windows Installer Xml" Wix tools.  This file is included in the exe's

[2017-05-19 21:34] eerhardt commented on #2199
@Petermarcu @robmen - do you guys know about the `wixstdba.dll` assembly?  Is it supposed to be signed?  If yes, by whom?

[2017-05-19 21:51] robmen commented on #2199
No, it is not signed. It's internal to the bundle. The bundle gets signed.

[2017-05-19 22:57] chcosta commented on #2199
The msi's we ship appear to be signed, but it appears that we pack an msi into the exe installers, and those ones are not signed.  I presume this is not ok.

[2017-05-19 23:07] chcosta commented on #2199
I've confirmed that this appears to be a regression

[2017-05-19 23:20] chcosta commented on #2199
The GenerateBundles step (https://github.com/dotnet/core-setup/blob/master/src/pkg/packaging/windows/package.targets#L87) needs to be run in a separate step in our official builds after the MSI's are signed.  I won't be able to fix this today, but I'll try to have something by Monday

[2017-05-19 23:23] #2334 closed

[2017-05-19 23:24] #2336 closed

[2017-05-20 00:02] robmen commented on #2199
If you ship the MSI as part of a Bundle (the .exe installer) then technically speaking the MSI packages do not need to be signed. The Bundle will vouch for them.

[2017-05-20 00:15] Petermarcu commented on #2199
Correct. The exe (bundle) definitely needs to be signed.

[2017-05-20 00:28] chcosta commented on #2199
The bundle is signed, the msi is not. Even if it's not technically required, it will probably prevent confusion to have it signed

[2017-05-20 05:14] #790 closed

[2017-05-20 12:40] rakeshsinghranchi commented on #2339
@leecow, this appears to be issue related to deb 1.0.4 package push to repo feed.  PTAL .

[2017-05-22 06:30] jyoungyun commented on #1566
@eerhardt @dagood @gkhanna79 I can not find how to poll the latest version of nupkg from myget. If I don't know the build version, there seems to be no way to get the latest nupkg. Is there a way to download latest version without build version number?

If there is no way, the only way I can do is to use Maestro in dotnet/versions. But the VSO is unfamilier project. Could you give a permission to

[2017-05-22 09:20] ferrywlto commented on #2360
edit the .csproj file to change the runtime version from 1.1.1 to 1.1.2 may fix the warning.

`<RuntimeFrameworkVersion>1.1.2</RuntimeFrameworkVersion>`

[2017-05-22 16:34] gkhanna79 commented on #2398
@ramarag Do you think we can get this change in today? I would like to have it bake in before Escrow next week.

[2017-05-22 17:18] leecow commented on #2339
I think I see what happened with the yakkety feed. Working on it ...

[2017-05-22 17:21] dagood commented on #1566
I would suggest using https://github.com/dotnet/versions to get build output versions rather than MyGet latest. The NuGet protocol doesn't have transactional pushes, so we can end up with incomplete package sets on MyGet.org. The dotnet/versions repo, on the other hand, is updated by a commit once all packages have been pushed for a build.

Specifically, the raw endpoint of https://github.com/dotn

[2017-05-22 17:52] rakeshsinghranchi commented on #2438
Thanks for reporting this issue. In .NET Core 2.0.0 , runtime installer does not chain VC_redist.x64.exe and thus, this issue does not occur there.
Please let me know if you are still blocked on installing 1.1.2 runtime.

[2017-05-22 18:25] karajas commented on #2262
This has been updated. @gkhanna79

[2017-05-22 18:25] #2262 closed

[2017-05-22 18:36] mellinoe commented on #2405
Yeah, it looks like the same problem. Please try one of the brand new versions, because #2381 was already merged in.

[2017-05-22 18:40] natemcmaster opened #2473 "Multi-hive lookup breaks finding the location of dotnet.exe"
Currently, managed code such as [Microsoft.DotNet.Cli.Utils.Muxer](https://github.com/dotnet/cli/blob/cc80822c16b955a1f664f8a65ed2c76c3c52a824/src/Microsoft.DotNet.Cli.Utils/Muxer.cs#L57-L77) rely on the value of `AppContext.GetData("FX_DEPS_FILE")` to find the "shared/Microsoft.NETCore.App/$version/' folder, and then navigate up the directory structure to  locate the "dotnet.exe" file.

This appr

[2017-05-22 19:41] gkhanna79 commented on #2344
@ericstj Is this still intended for 2.0? If so, do you know when the dependent issue will get resolved?

[2017-05-22 19:46] gkhanna79 commented on #2263
Closing since completed.

[2017-05-22 19:46] #2263 closed

[2017-05-22 19:46] gkhanna79 commented on #2246
Closing since addressed.

[2017-05-22 19:46] #2246 closed

[2017-05-22 19:59] gkhanna79 commented on #676
CC @leecow who will chat with @richlander about this.

[2017-05-22 20:00] gkhanna79 commented on #279
Fix in https://github.com/dotnet/core-setup/pull/2471.

@karajas When can the PR be merged?

[2017-05-22 20:35] ericstj commented on #2344
Yes, still intended for 2.0.  Still blocked on SDK.  /cc @livarcocc

[2017-05-22 20:56] karajas commented on #279
Merged.

[2017-05-22 20:56] #279 closed

[2017-05-22 22:42] leecow commented on #2339
Feed for 16.10 has been fixed. `sudo apt-get update && sudo apt-get install dotnet-dev-1.0.4` should behave now.

Note again that for 17.04 you need to use the ['generic' Linux binary archive](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-dev-linux-x64.latest.tar.gz).

[2017-05-22 22:42] #2339 closed

[2017-05-23 03:14] vivmishra commented on #2214
Merged

[2017-05-23 03:14] #2214 closed

[2017-05-23 14:38] eerhardt commented on #2473
Similar issue here:  https://github.com/dotnet/cli/issues/6298

/cc @livarcocc @gkhanna79

@natemcmaster - we have been tweaking the multi-hive feature a little in the past couple weeks.  Going forward, we think there will always be **a** muxer two directories up, but it might not necessarily be the exact same host executable that was used to invoke the current process.  Will this be "good enough"

[2017-05-23 15:28] gkhanna79 commented on #2473
@natemcmaster Do you need the location of the dotnet.exe used to launch the process? Also, if you are in the portable app mode (which is why you are using dotnet.exe location), why can you not use https://msdn.microsoft.com/en-us/library/system.diagnostics.process.mainmodule(v=vs.110).aspx to determine the entrypoint executable?

CC @ramarag

[2017-05-23 16:17] natemcmaster commented on #2473
@gkhanna79 Yes, `Process.MainModule` looks like what we need. I'll give it a try. You mentioned this works in portable mode only. What happens in standalone mode?

@eerhardt the exact same host is required. Here are the details on the scenario that broke:

`dotnet-foo.dll`, a 1.1.x portable app that needs to invoke a new process `dotnet msbuild`. If `dotnet-foo.dll` uses the FX_DEPS_FILE approach

[2017-05-23 16:35] eerhardt commented on #2473
The "good" thing here is that we are removing `%USERPROFILE%` from the probing path when looking for shared frameworks.

See https://github.com/dotnet/core-setup/issues/2398 and corresponding PR https://github.com/dotnet/core-setup/pull/2481

[2017-05-23 16:43] natemcmaster commented on #2398
Can I ask what's driving this change? Unfortunately, we updated ASP.NET Core's build system about a month ago to use %USERPROFILE% to keep our command-line builds and VS experience in sync. IIUC we can't do that anymore once this is in as scripts don't have write-permissions to global and VS doesn't look at local.

[2017-05-23 16:54] gkhanna79 commented on #2398
Please follow up offline with @davidfowl to understand the motivation and how the scenario will continue working.

[2017-05-23 16:56] gkhanna79 commented on #2473
There is no dotnet.exe in standalone. But the above approach will get you the entrypoint EXE even for standalone.

[2017-05-23 16:58] natemcmaster commented on #2473
Awesome, thanks for the help. `Process.MainModule` appears to be the API we need. Closing as this resolves my issue.

Side note: we should consider using it in Microsoft.DotNet.Cli.Utils.Muxer...

[2017-05-23 16:58] #2473 closed

[2017-05-23 17:22] dagood opened #2491 ""The system cannot find the path specified" during init-tools"
### Steps to reproduce
Delete `Tools`, but leave `packages` containing the BuildTools package. Run any build command.

### Expected  behavior
The BuildTools package isn't restored again, but `Tools` is created again successfully with no error output.

### Actual behavior
The error "The system cannot find the path specified" is output on stderr, which doesn't block anything but sometimes bubbles up

[2017-05-23 22:34] eerhardt opened #2496 "AppBaseCompilationAssemblyResolver throws too early on a published app"
## Steps to reproduce
While fixing https://github.com/dotnet/sdk/issues/1216 and testing it end-to-end I ran into a problem where `AppBaseCompilationAssemblyResolver` throws an exception too early and doesn't give the other resolvers a chance to resolve the compilation libraries.

This is a problem for this scenario because the assembly we are looking for is in the "runtime store".  However, `AppB

[2017-05-23 22:59] gkhanna79 opened #2497 "[UWP] System.IO.FileNotFoundException: 'Could not load file or assembly 'System.IO.FileSystem.Watcher, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.'"
@ericwj commented on [Tue May 23 2017](https://github.com/dotnet/coreclr/issues/11839)

[code]
Referencing `Microsoft.Extensions.FileProviders.Physical (>= 1.1.1)` in a Windows Runtime component.

Should this work with .NET Core UWP 5.3.3?

[2017-05-23 23:00] eerhardt commented on #2496
I think the fix for this is as simple as removing this chunk of code:

https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.Extensions.DependencyModel/Resolution/AppBaseCompilationAssemblyResolver.cs#L104-L110

and instead just let this return `false` and let the next resolver do its work.

@pakrym said `I was trying to be as restrictive as possible at the time of writing to avoi

[2017-05-23 23:00] gkhanna79 commented on #2497
@weshaggard @danmosemsft  Can you please help?

[2017-05-23 23:03] chcosta commented on #1607
@brianrob , can you help me understand this change?  I actually think this is the opposite of the thing I recently worked on.  #186 was a change to ensure we stripped symbols from our nupkgs and produced separate symbols packages.  It sounds like you're asking for the opposite behavior for deb packages.  @rakeshsinghranchi , is this something you're aware of / familiar with?

[2017-05-23 23:07] eerhardt commented on #2435
Moving to 2.1.  This isn't necessary for 2.0.

[2017-05-23 23:07] eerhardt commented on #2341
Moving to 2.1.  This isn't necessary for 2.0.

[2017-05-24 00:54] rakeshsinghranchi opened #2502 "Update installer names per proposal ( release/2.0.0)"
Proposed document for installer brand and file name change :
https://github.com/dotnet/docs/blob/96ed389e8bc1b80e8e25f4623d9ed4862ee57772/docs/core/versions/index.md

[2017-05-24 00:55] rakeshsinghranchi commented on #2502
https://github.com/dotnet/core-setup/commit/8f1afb11fc1ab6c840986d5e8651f1e5680f39f8

[2017-05-24 01:57] rakeshsinghranchi commented on #2279
Below are the set of dependencies exhibited by shared fx package :
 libc6 (>= 2.14), libcurl3 (>= 7.16.2), libgcc1 (>= 1:4.1.1), libgssapi-krb5-2 (>= 1.10+dfsg~), liblttng-ust0, libstdc++6 (>= 4.8), libunwind8, libuuid1 (>= 2.16), zlib1g (>= 1:1.1.4), libssl1.0.0

[2017-05-24 02:12] rakeshsinghranchi opened #2506 "Add an explicit dependency on ICU for debian packages ( release/2.0.0)"
Related issue : https://github.com/dotnet/core-setup/issues/2283

[2017-05-24 14:54] #2496 closed

[2017-05-24 15:22] gkhanna79 commented on #2283
Has this change made into master @rakeshsinghranchi ? Also, is https://github.com/dotnet/core-setup/issues/2506 same as this?

[2017-05-24 15:54] eerhardt opened #2512 "Microsoft.NETCore.App 2.0 doesn't list netcoreapp1.1 dependencies"
## Steps to reproduce
Look at the dependencies listed in the NETCore.App 2.0 package:

https://www.nuget.org/packages/Microsoft.NETCore.App/2.0.0-preview1-002111-00
https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.App/2.0.0-preview2-25324-02

## Expected  behavior
It should list the dependencies for netcoreapp1.0, netcoreapp1.1, and netcoreapp2.0

## Actual behavior
It onl

[2017-05-24 16:02] chcosta commented on #2199
This issue has been fixed with https://github.com/dotnet/core-setup/pull/2477#issuecomment-303541918

[2017-05-24 16:02] #2199 closed

[2017-05-24 16:02] eerhardt commented on #2512
My initial investigation is that we aren't importing the netcoreapp1.1.props file:

https://github.com/dotnet/core-setup/blob/master/src/pkg/projects/Microsoft.NETCore.App/Microsoft.NETCore.App.pkgproj#L27-L40

https://github.com/dotnet/core-setup/blob/6887ab556bc8302390782711dcdd75b75e769cf5/src/pkg/projects/Microsoft.NETCore.App/netcoreapp1.1.props#L4

All the dependencies are defined in that fi

[2017-05-24 16:07] chcosta commented on #2412
Resolved with https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_git/DotNetCore/commit/e42b192d4ec735a4604ce66f522f5f9decff1ca0?refName=refs%2Fheads%2Fmaster

[2017-05-24 16:07] #2412 closed

[2017-05-24 16:14] leecow opened #2513 "Update Runtime Installer [Mac]"
Strings and installer steps to be updated. Mac and Windows will receive similar updates and there will be separate issue covering Windows changes. Matching changes will be detailed in another issue for the SDK installer.

## Introduction

<img width="682" alt="1 introduction - runtime" src="https://cloud.githubusercontent.com/assets/2212879/26412512/dca4f6d8-405d-11e7-8ad2-d22e4de53d3f.png">

* [

[2017-05-24 16:55] ericstj commented on #2512
Yeah, I'll pick this up.  I also want to update the repo to pick up the latest serviced versions per https://github.com/dotnet/standard/issues/354

[2017-05-24 17:57] wtgodbe commented on #1977
Solved by https://github.com/dotnet/core-setup/pull/2477

[2017-05-24 17:57] #1977 closed

[2017-05-24 18:00] leecow opened #2516 "Update Runtime Installer [Windows]"
Strings and installer steps to be updated. Mac and Windows will receive similar updates and there will be separate issue covering Mac changes. Matching changes will be detailed in another issue for the SDK installer.

## Screen 1 (intro)

![runtime-1-new](https://cloud.githubusercontent.com/assets/2212879/26418024/9fcaa1c4-406f-11e7-966f-ddf809f7640f.png)

* [ ] Window title: `[productname] - [ver

[2017-05-24 18:31] gkhanna79 commented on #1231
@leecow Can you please update this per the last discussion we had on the topic?

CC @Petermarcu

[2017-05-24 18:31] gkhanna79 commented on #676
@leecow @richlander Can you please do the needful for this by EOW?

[2017-05-24 18:45] rakeshsinghranchi commented on #2506
https://github.com/dotnet/core-setup/commit/21153046bf35ddf5106928c1fc1233dae21f49a6

[2017-05-24 18:45] #2506 closed

[2017-05-24 18:46] rakeshsinghranchi commented on #2443
https://github.com/dotnet/core-setup/commit/8f1afb11fc1ab6c840986d5e8651f1e5680f39f8

Closing this as it is done.

[2017-05-24 18:46] #2443 closed

[2017-05-24 18:57] rakeshsinghranchi commented on #2502
Commit : https://github.com/dotnet/core-setup/commit/a432d48466f680dc0ba120734ec59d0128489f26

Closing this as it is already done.

[2017-05-24 18:57] #2502 closed

[2017-05-24 18:59] rakeshsinghranchi commented on #2438
.NET 2.0.0 setup doesn't download VC_redist . This doesn't meet the servicing bar for 1.1.2 or previous versions.Hence,closing it. Please open a separate issue if you are blocked on installing 1.1.2 runtime .

[2017-05-24 18:59] #2438 closed

[2017-05-24 19:05] ericstj opened #2519 "NETCore.App 1.0.7 is missing StackTrace and Compression updates"
I noticed this here: https://github.com/dotnet/core-setup/pull/2515

I see that we produced updates for the following packages, but those updates aren't included in the shared framework:
  - System.Diagnostics.StackTrace
    - Included: 4.0.1
    - Latest serviced: 4.0.2
  - System.IO.Compression
    - Included: 4.1.0
    - Latest serviced: 4.1.1

It's possible this was intentional, but if not ple

[2017-05-24 19:06] rakeshsinghranchi commented on #2516
@leecow  , @gkhanna79 @Petermarcu @vivmishra
1.  Windows title for Preview builds should have "Preview" branding too , can you please confirm?
2.  Runtime doesn't carry ASP.NET Runtime Package Store.
3.  Links should have fwlinks instead of hardcoded url . can you please provide fwlink url for above resource links?

[2017-05-24 19:12] rakeshsinghranchi commented on #2283
Commit : https://github.com/dotnet/core-setup/commit/21153046bf35ddf5106928c1fc1233dae21f49a6
Closing this as it is already made into release/2.0.0 branch.

[2017-05-24 19:12] #2283 closed

[2017-05-24 19:45] gkhanna79 commented on #2512
Reopening to track port of this to 2.0.0.

[2017-05-24 19:59] leecow commented on #2516
@rakeshsinghranchi

1. yes, 'preview' is part of the version number so the next round would be * 2.0.0-Preview 1-[buildnumber]
2. Understood
3. Will set these up in a little bit.

[2017-05-24 20:22] ericstj commented on #2437
When doing this we should see if we can harvest the dependencies from the previous NETCore.App package as well.

[2017-05-24 20:52] DamianEdwards opened #2523 "Improve the error message displayed when an assembly is missing from runtime store"
The error message shown today when an assembly appears to be missing from the runtime store should be improved to make it clearer.

## Today's message
[code]

## Suggested message
Changes:
- Revised language
- Includes name of application dependencies manifest (deps file)
- Improves formatting (new lines, indentation)
- Separate message clearly showing name of target manifest used during publish
[

[2017-05-24 20:57] #2512 closed

[2017-05-24 20:58] gkhanna79 commented on #2523
CC @eerhardt @ramarag @Petermarcu

[2017-05-24 21:05] leecow commented on #2516
@rakeshsinghranchi issue updated with aka.ms links

[2017-05-24 21:34] gkhanna79 commented on #2398
Closing since fixed.

[2017-05-24 21:34] #2398 closed

[2017-05-24 22:27] #2265 closed

[2017-05-25 13:52] jyoungyun commented on #1566
@dagood I finished the job to trigger using the `dotnet/versions` repository. Our infrastructures that ar e currently configured check the `dotnet/versions` repository every 10 minutes and check whether the coercer, corefx, and core-setup files are updated. When the file is updated, download the nupkg appropriate for that version and find the sha1 value. Then it creates a nupkg of the same build v

[2017-05-25 14:00] eerhardt commented on #1566
`dotnet/versions` gets updated as the very last step in our official builds, and only after all the other tasks have completed successfully.

So there are cases where a few new packages get pushed to the dotnet-core myget feed, but then something fails (like another package attempts to get pushed, but fails).  If the build fails for any reason, `dotnet/versions` doesn't get updated.

Also - anothe

[2017-05-25 15:51] wax911 commented on #2339
@leecow which version of generic Linux binary is that, based on 1.0.4 or an older release? Thanks

[2017-05-25 16:04] dagood opened #2531 "If release/1.0.0 or 1.1.0 auto-update makes no upgrades, the upgrade build fails"
## Steps to reproduce
Run auto-update in release/1.0.0 (or 1.1.0) when there is no update to be made. This is happening more frequently recently in our auto-upgrade infrastructure.

## Expected  behavior
The build notes that it didn't do any upgrades and ends successfully.

## Actual behavior
The build notes that it didn't do any upgrades, then fails due to an unrelated-looking exception:

[code]

[2017-05-25 16:59] rakeshsinghranchi commented on #2513
@leecow  I would need the success graphic. Do you have one ?

[2017-05-25 17:12] leecow commented on #2513
@rakeshsinghranchi I can make it easy enough. Do you just need the green check or also the 'success' text beneath? Do you need a png or jpeg?

[2017-05-25 17:16] leecow commented on #2339
@wax911 The generic Linux binaries are a new addition for 2.0.

[2017-05-25 18:16] gkhanna79 commented on #1566
Good to hear your progress @jyoungyun! Thanks for driving this :) Can you please confirm that you have this working for both master and release/2.0.0 branches?

[2017-05-25 18:24] gkhanna79 opened #2533 "Remove UserProfile lookup for Store"
CC @eerhardt @morganbr @nguerrera @livarcocc @davidfowl

[2017-05-25 18:29] gkhanna79 commented on #1566
@jyoungyun Are you building just tizen.4.0.0-armel packages or even for Debian.8-armel? I ask because we dont build for the latter and wanted to check with you before removing it from https://github.com/dotnet/core-setup/blob/master/src/pkg/projects/netcoreappRIDs.props#L38.

[2017-05-25 19:11] rakeshsinghranchi commented on #2513
@leecow  , can we have both with and without 'success' text beneath. I want us to pick the one that will look better in the UI.

[2017-05-25 19:42] rakeshsinghranchi commented on #2513
@leecow , do we want to revert the branding text again ?
We fixed the branding per below , now with the new guidance, it seems to be reverting back to the old branding

https://github.com/dotnet/core-setup/issues/2155

[2017-05-26 01:24] jyoungyun commented on #1566
@eerhardt Thank you for comments. Are you sure that the version of Latests.txt in dotnet/versions repository will be updated before adding any dependencies on the new package from corefx and core-setup? If so, my concern is clear. :)

@gkhanna79 Yes, I have this job for both master and release/2.0.0 branches. But I am only building just tizen.4.0.0-armel packages. So I agree to remove that codes.

[2017-05-26 07:32] dasMulli commented on #679
I suppose this is - or a different roll-forward behavior- is now more important with VS 15.3+ picking up the used SDK by calling into hostfxr through its SDK resolver.

This would mean that installing a daily build of a 2.1.0-** CLI would make a released version of vs 2017 15.3 pick up that version and build all your production projects with a preview SDK without users noticing.

[2017-05-26 16:29] eerhardt commented on #1566
As I said above, the Latest.txt files in dotnet/versions get updated as the very last step of our official builds.  So when corefx successfully completes an official build, it lets the world know by updating dotnet/versions.  Same thing for the core-setup repo.

corefx build 1234 completes => write to dotnet/versions/corefx
This causes a PR to be opened in core-setup to move its dependencies on co

[2017-05-27 00:04] #2533 closed

[2017-05-28 17:04] NickMRamirez commented on #1126
I have had this happen, using the following (running in Docker on Linux Mint):

[code]

Gives:

[code]

[2017-05-29 01:29] jyoungyun commented on #1566
@eerhardt Thank you for detailed information. :) I got understood how to work the operation btw dotnet/versions and the dependencies of other repository.

[2017-05-29 08:13] Zuendelmeister commented on #2407
Hi again, thanks for your answers. Took me a while to get back to you sorry.
@omajid You are correct, I'm missing the CLI. I couldn't find an easy way of installing the CLI though. Do you have an easy way of installing the CLI? Starting a dotnet core dll works now.

[2017-05-30 12:26] spottedmahn commented on #2438
@rakeshsinghranchi it was blocking my 1.1.2 install but thankful I figured that out from the log file and I manually downloaded VC_redist and installed it.  After VC_redist install the .net core 1.1.2 install went fine.  Thanks!

[2017-05-30 15:46] gkhanna79 commented on #1126
Which .NET Core SDK/FX version are you able to repro it on?

CC @eerhardt @ramarag

[2017-05-30 16:25] NickMRamirez commented on #1126
I'm using version 1.1.2 on Debian.

[2017-05-30 18:12] omajid commented on #1126
@ramarag Sorry, this got buried in my github notifications. (I really need to find a way to manage issues i am interested in). I could never reproduce the original issue. This has always worked for me.

@NickMRamirez Just to clarify, what do you expect to happen with this?

[2017-05-30 18:16] NickMRamirez commented on #1126
@omajid Using that Docker command, it should use the `microsoft/dotnet` image, which already contains the .NET Core libraries. After build a vanilla .NET Core webapi project, I want to run my "test.dll" in the container, such as with the command:

cd /srv
dotnet ./test.dll

The Docker command sets /srv as the current working directory and tries to run the `/usr/bin/dotnet ./test.dll" command. This

[2017-05-30 19:42] melzoghbi opened #2559 "Can't get dotnet version on Raspbian Jessie"
## Steps to reproduce
1) Installed .NET Core dependence:

sudo apt-get install libunwind8 libunwind8-dev gettext libicu-dev liblttng-ust-dev libcurl4-openssl-dev libssl-dev uuid-dev

2) Pulled .net core for armhf build from here:
wget https://dotnetcli.blob.core.windows.net/dotnet/Runtime/master/dotnet-runtime-latest-linux-arm.tar.gz

3) Unzipped the contents in dotnet folder:

mkdir dotnet
tar -x

[2017-05-30 21:50] vivmishra opened #2562 "Generate and add Changelogs to Debian and RPM packages"
We are currently not adding any meaningful changelogs to Debian and RPM packages for every major milestone that needs to be fixed. (At least for RPM this is a requirement as per the guidelines.)

For example, what we add to current Host RPM/Debian package comes from following JSON:
https://github.com/dotnet/core-setup/blob/master/src/pkg/packaging/rpm/dotnet-sharedhost-rpm_config.json

One of the

[2017-05-30 21:51] vivmishra opened #2563 "Setup RPM package feed"
We need to setup the RPM Package feed to allow easier consumption of RPM packages.

[2017-05-30 22:29] gkhanna79 commented on #2523
@steveharter will be driving the fix for this.

[2017-05-30 23:23] eerhardt commented on #2273
The current behavior is what we want for DependencyModel 2.0 - when running with a 2.0 host, only look in the additional-probing-paths that are passed by the host.

Since the tests now run on the 2.0 host, we've updated the tests to account for this behavior.

Closing.

[2017-05-30 23:23] #2273 closed

[2017-05-31 02:47] bradwilson commented on #2473
Bummer, this API isn't available for `netcoreapp1.0`, so I'm stuck assuming that `dotnet` is somewhere on the PATH. ☹️

[2017-05-31 02:48] gkhanna79 commented on #2473
@bradwilson You can PInvoke to it.

[2017-05-31 02:49] bradwilson commented on #2473
Damn, I didn't delete my comment fast enough. :) It is there, I was just accessing it wrong. :-p

[2017-05-31 16:11] natemcmaster opened #2570 "Improvements to error message about unfound SDK version"
**Steps to reproduce**
Add a global.json file
[code]
`dotnet --version`

**Output**
[code]

**Suggestions**
- include the version parsed from the global.json file in the error message
- list available sdk versions

**Environment data**
Using 2.0.0-preview2-006208

cc @johnbeisner

[2017-05-31 16:35] gkhanna79 commented on #725
@hqueue @jyoungyun Can we close this issue since the outstanding issue (per the list above) is in CoreCLR repo and tracked by https://github.com/dotnet/coreclr/issues/8549?

[2017-05-31 17:26] steveharter commented on #2523
@DamianEdwards any objections to collapsing the two separate messages so there are no blank lines? It seems like there are two messages otherwise. Something like this:
[code]

Also @JunTaoLuo I discussed the manifest file naming in this issue with @eerhardt and he suggest to ping you as to whether asp.net is going to do that? If not, the message will continue to display "manifest.linux-x64.xml" in

[2017-05-31 17:30] DamianEdwards commented on #2523
Fine to collapse, although perhaps this formatting would work better?:
[code]

For the file naming, I believe the ask was to change the stage property evaluation occurs in the SDK, so that we could set it to the single known RID-based manifest file from our side. It looks like that was been completed already in dotnet/sdk#1164 so we should be unblocked now.

[2017-05-31 17:44] steveharter commented on #2523
Sure I'll apply that formatting.

To be clear though, is there any additional work for this issue around the file naming? i.e. do we want to determine the single RID?

[2017-05-31 18:00] DamianEdwards commented on #2523
@steveharter that's tracked on our side via https://github.com/aspnet/MetaPackages/issues/57 now, so I think there's no extra work on your side for that.

[2017-05-31 20:26] #2523 closed

[2017-06-01 02:00] NickMRamirez commented on #1126
Well...today, the command works mysteriously. The same command I was trying before.

[2017-06-01 07:59] JensNordenbro commented on #2358
@Venex , is this issue ready to be closed? Everything works again for me. Also #2377.

[2017-06-01 08:01] Venex commented on #2358
For me this is working

[2017-06-01 08:01] #2358 closed

[2017-06-01 10:20] hqueue commented on #725
@gkhanna79 Sure. I will mark https://github.com/dotnet/coreclr/issues/8549 in the list as done with comment.

[2017-06-01 10:22] hqueue commented on #725
Closing this issue and remaining CoreCLR issues will be discussed at https://github.com/dotnet/coreclr/issues/8549

[2017-06-01 10:22] #725 closed

[2017-06-01 15:20] gkhanna79 commented on #2070
@zamont PR https://github.com/dotnet/core-setup/pull/2520 has been merged that generates UWPshim.exe, UWPHost.dll and the appX package. You should now be able to make forward progress on this.

CC @ravimeda @joshfree @danmosemsft

[2017-06-01 16:45] omajid opened #2586 "Fix license in Microsoft-built deb/rpm packages"
This was originally discussed in https://github.com/dotnet/core-setup/pull/2483#discussion_r118116596. Opening an issue to track that it gets fixed.

@omajid wrote:

@vivmishra wrote:

@omajid wrote:

[2017-06-01 17:02] vivmishra commented on #2586
cc @leecow

[2017-06-01 17:33] rakeshsinghranchi commented on #1607
Moving to 2.1.0 per response from @brianrob  . His suggestion is to get the fix in 2.1.0 sooner.

[2017-06-01 17:50] eerhardt opened #2588 "Runtime DEB package names are incorrect for 2.0"
https://github.com/dotnet/core-setup/pull/2538/files (and the subsequent porting to release/2.0.0 https://github.com/dotnet/core-setup/pull/2537) changed the names of the DEB packages to include the `RID`.  This is conflicts with the design at https://github.com/dotnet/designs/issues/2.  See the `Linux installers` section, there is no RID in the package name.

We need to change these package names

[2017-06-01 18:30] omajid commented on #2588
That document also says:

Looks like the document itself is ambiguous?

[2017-06-01 18:32] eerhardt commented on #2588
My reading is that is the name of the file.  We need unique file names for our different deb packages - `debian.8` vs. `ubuntu14`.

But when referencing the package through a package manager, we don't want the RID in the name.

[2017-06-01 18:53] leecow commented on #2588
Additional details and corrections added to [designs/issues/2](https://github.com/dotnet/designs/issues/2)

[2017-06-01 21:59] karajas commented on #2588
This is now merged. @eerhardt Do we need to now revert the cli change?

[2017-06-01 22:44] ramarag opened #2597 "Host should not lookup userprofile for resolving sdk"
@eerhardt's  comments in https://github.com/dotnet/core-setup/pull/2393#issuecomment-302578638 seems to have fallen through cracks when changes for sdk lookup was made.

Sdk lookup probe still considers user profile
https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/fxr/fx_muxer.cpp#L696
https://github.com/dotnet/core-setup/blob/release/2.0.0/src/corehost/cli/fxr/fx_muxer.cpp#L696

[2017-06-01 22:48] ramarag commented on #2597
cc @gkhanna79 @eerhardt

[2017-06-02 05:48] livarcocc opened #2601 "[ARM32][PI Zero] Segment Fault - Published app not cli"
_From @eByte23 on June 1, 2017 0:25_

## Steps to reproduce
install .net core 2.0 preview or lastest from master
```dotnet new console```
set RuntimeIdentifiers: win7-x64;win-arm;linux-arm

publish using ```dotnet publish -r linux-arm -c Release```
(note also debug has same issue)

copy published app to pi zero and run

## Expected  behavior
The app should output ```Hello World``` to console.

##

[2017-06-02 05:48] livarcocc commented on #2601
How are you running the app?

@eerhardt since this seems more like a runtime issue.

[2017-06-02 05:48] livarcocc commented on #2601
_From @eByte23 on June 1, 2017 3:48_

I have followed the steps outline here https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md

Basically just doing ```./HelloWorld```
Then it returns SegmentFault.

I have ran the exact same app on raspberry pi 2 and it runs successfully.

Could it have anything to do with Software Floating Point vs. Hardware Floating Point, as rpi zero

[2017-06-02 05:48] livarcocc commented on #2601
_From @melzoghbi on June 1, 2017 12:47_

Yes. This is exactly what i am facing as i posted in this thread: https://github.com/dotnet/core/issues/667
Thanks @eByte23 for connecting both issues.

[2017-06-02 05:48] livarcocc commented on #2601
Moving this issue to core-setup. I think they can triage it better. This seems like an issue in the runtime and not the tooling.

[2017-06-02 06:34] Petermarcu commented on #2601
Pi Zero is not supported. .net core requires armv7 and Pi Zero is armv6.

[2017-06-02 21:42] natemcmaster opened #2606 "App fails to start with BadImageFormatException when newer fxr is present"
## Steps to reproduce
[code]

## Expected  behavior
vstest.console.dll should run and display
[code]

## Actual behavior
[code]

It works if you delete the newer fxr folder
[code]

## Environment data
macOS 10.12.5

**vstest.console.runtimeconfig.json**
[code]

[2017-06-02 21:47] natemcmaster commented on #2606
cc @codito @livarcocc - it looks like the version of vstest.console.dll in the SDK was compiled against an old version of the shared runtime. If I manually change vstest.console.runtimeconfig.json to a newer version of shared framework, I don't hit this bug in the hostpolicy.

[2017-06-03 07:58] ramarag opened #2611 "Remove global location lookup from path in non windows"
On linux we infer the global location from the dotnet on the path,
This needs to change. As a  first step  remove the PATH based current logic at
https://github.com/dotnet/core-setup/blob/c3dd461c99bfdcb8d136bedf33e46156682fc348/src/corehost/common/pal.unix.cpp#L242
instead return an empty string.

The correct solution is to identify the global location for the various distros, i.e the location wh

[2017-06-03 15:59] leecow opened #2613 "Investigate requirements to support fish shell"
Submitted by @egilh

I'm not able to install dotnet-dev-2.0.0-preview1-005977 on Ubuntu 16.04 via instructions found here https://www.microsoft.com/net/core/preview#linuxubuntu when I have fish as my default shell.

`Unsupported use of '||'. In fish, please use 'COMMAND; or COMMAND'.
fish: dotnet new > /dev/null 2>&1 || true
                                   ^
dpkg: error processing package dotne

[2017-06-04 07:22] gtzinos commented on #2339
Same issue, i use 16.04 ubuntu version.

[2017-06-05 00:28] seanshpark opened #2617 "Linux/x64 test fails while building"
I'm building on Ubuntu 16.04, x86-64 and fails with test projects.

I'm new with core-setup and got these failures and not sure it's my environment problem or else. Could anyone give some advice on this?

Skip test
[code]
is OK.

## Steps to reproduce
[code]

## Expected  behavior
Build with no error

## Actual behavior
[code]

## Environment data
I'm not sure about this.

[2017-06-05 10:45] axel-habermaier commented on #2007
This is really annoying - we have an application that consists of multiple different processes, which we're considering to update to .NET core. However, we're having several issues stopping us from doing so at the moment, one of which is the fact that all processes would now be called 'dotnet' or 'apphost' when using self contained deployment. This reduces the user experience. In particular, appli

[2017-06-05 17:23] mellinoe commented on #2007
I agree that we should do something here. @gkhanna79 Can we figure out a plan for the next release cycle about this?

[2017-06-05 17:46] rakeshsinghranchi commented on #2516
This work is done in master and release/2.0.0

[2017-06-05 17:46] #2516 closed

[2017-06-05 17:47] rakeshsinghranchi commented on #2513
This work is done in master and release/2.0.0 .

[2017-06-05 17:47] #2513 closed

[2017-06-05 18:44] rakeshsinghranchi commented on #2563
@leecow , are we targeting this for 2.1.0 ?

[2017-06-05 18:46] rakeshsinghranchi commented on #2586
@leecow - can you share more details on what is required here ? Also, please update the milestone accordingly.

[2017-06-05 18:47] rakeshsinghranchi commented on #2562
@leecow  , please share more context to this issue. Also, update the milestone.

[2017-06-05 18:52] rakeshsinghranchi commented on #2449
@gkhanna79 , please share pointers on what needs to change to produce 2.0.1 and 2.0.2 with locked hostfxr and dotnet.exe ? This issue appears to be a servicing readiness validation.

[2017-06-05 19:02] #2588 closed

[2017-06-05 19:48] leecow commented on #2563
Would like to shoot for 2.0.

[2017-06-05 19:53] leecow commented on #2562
Currently we include relevant commits in the the release notes (eg [release-notes/1.0/1.0.5.md](https://github.com/dotnet/core/blob/master/release-notes/1.0/1.0.5.md)). At a minimum for 2.0, we could point the changelist field at https://github.com/dotnet/core/tree/master/release-notes.

[2017-06-05 19:57] leecow commented on #1231
As Vivek alludes to above, the next step is to investigate how the opt-in feature would be implemented in the runtime installer for Windows.

[2017-06-05 20:49] gkhanna79 commented on #2611
cc @leecow @Petermarcu since this was discussed in shiproom last Thursday.

[2017-06-05 21:22] eerhardt commented on #2611
I discussed this last week with a few people that had more Unix knowledge than I do.  The consensus was that if we felt it was necessary to define a "global" location on Unix, we should make it configurable/customizable.  The reason for this is that distros change file system layouts.  And also because end-users may have reasons for wanting to point to other "global" locations - they may not have

[2017-06-05 21:29] gkhanna79 commented on #2611
Given that this applies to multi-hive lookup that is for the developer scenarios that were discussed few weeks ago, @davidfowl, what are your thoughts on not supporting the concept of global location on non-Windows?

@eerhardt If we had to give flexibility, I would go with option (1) above since global location is what would map to where our installers would install.

[2017-06-05 21:33] eerhardt commented on #2611
Note that the numbers above aren't mutually exclusive.  I think our options are:

0. "no global location",
1. (1) above
2. (2) above
3. (1) above and (2) above
4. Keep existing behavior of reading `$PATH` - not my preferred approach, but listing here for completeness.

[2017-06-05 23:18] steveharter commented on #2611
Since this is currently a 2.0.0 issue ideally the solution should be baked but extendable later if necessary. So not supporting a global location would be the least risky at this point, assuming it could support the multi-hive developer scenarios.

[2017-06-05 23:55] gkhanna79 commented on #2611
Even if we decide not to support global location, we will need to remove its current implementation based upon PATH (which is (4) above in Eric's response).

[2017-06-06 00:03] johnbeisner opened #2624 "SDK multi-level look-up: disable looking up user-profile"
Disable looking up user-profile and only lookup dotnet EXE location and global location for the SDK

Related:
https://github.com/dotnet/core-setup/issues/2398

[2017-06-06 00:49] ellismg commented on #2613
The problem is likely due to this file:

https://github.com/dotnet/cli/blob/master/packaging/deb/postinst

I think the problem is that when we SU we launch that command using the user's shell instead of `sh`.

[2017-06-06 01:21] ellismg commented on #2613
FWIW, that whole postinst script seems suspect.  I don't think we should be doing first run stuff during install.  Also consider the fact that when installing many packages a user may not see the first run text regarding telemetry.

Also, it seems to assume that $SUDO_USER is always set which would not be the case if someone logged in as root or just used su to obtain root.

[2017-06-06 13:25] omajid commented on #2613
Repating my comments from the PR (https://github.com/dotnet/cli/pull/6480):

[2017-06-06 13:27] omajid commented on #2613
I think this is actually handled correctly. It is not quoted, so if it is undefined, the shell sees:

    su - -c "dotnet new > /dev/null 2>&1 || true"

Which looks valid to me.

[2017-06-06 13:29] omajid commented on #2613
A quick and dirty fix would be adding `--shell /bin/bash`, but I agree that the entire script seems suspect.

[2017-06-06 13:52] steveharter commented on #2611
I'll have a PR soon with with the current implementation removed. Then we can add if necessary.

[2017-06-06 14:32] johnbeisner commented on #2624
Closing: https://github.com/dotnet/core-setup/pull/2627

[2017-06-06 14:32] #2624 closed

[2017-06-06 14:33] johnbeisner commented on #2570
Closing: https://github.com/dotnet/core-setup/pull/2621

[2017-06-06 14:34] #2570 closed

[2017-06-06 21:52] steveharter commented on #2611
Linked the PR that does the removal of the current PATH implementation (as a first step).

[2017-06-06 22:54] dagood commented on #2491
This was fixed in CoreCLR by https://github.com/dotnet/coreclr/pull/11912, and it looks like it hasn't happened here (Core-Setup) or CoreFX.

/cc @gkhanna79 @weshaggard

[2017-06-06 22:57] gkhanna79 commented on #2491
Is this required for master only or even 2.0.0?

[2017-06-06 23:40] dagood commented on #2491
I suspect it's not worth porting for 2.0.0 because it doesn't affect clean builds.

[2017-06-06 23:52] ellismg commented on #2613
/cc @wli3 @livarcocc

Can you help @omajid and I understand why we do this?  Is it so important to do this at install time?  Note that is's highly possible the users would not see the telemetry message.  I get that we'd prefer not to have the expansion on first run, but this thing seems fragile.

[2017-06-06 23:54] ellismg commented on #2613
If we do this, we should at least try to use `/bin/sh`, I guess.

I'd rather we just delete this, personally.

[2017-06-07 00:09] wli3 commented on #2613
The pull request is here
https://github.com/dotnet/cli/pull/6480

As stated in the pull request, the telemetry is added as part of the installer, just for the missing telemetry message.

The detailed reason and related work is here
https://github.com/dotnet/cli/issues/6370

We are invoking "first run experience" as part of the installer to prime cache, which is an old feature that considered multi

[2017-06-07 00:13] ellismg commented on #2613
@richlander The experience seems pretty busted to me (at least on *nix).  For Windows and OSX, maybe this makes sense, but it's pretty orthogonal to how things are usually done, as @omajid points out.

If you wanted to keep the "when I install .NET I don't need to do the first run thing" I would expect that the way to structure this would be to have the package carry along a fallback source that's

[2017-06-07 01:45] seanshpark commented on #2617
It's my Linux environment problem and found out that
`core-setup/Tools/dotnetcli/sdk/2.0.0-preview1-005899/Roslyn/RunCsc.sh`
script doesn't work properly.
`$( dirname "$SOURCE" )` fail somehow when executed and yet don't know why.
But when I execute this script from the shell, `dirname` line passes.

[code]

[2017-06-07 02:52] seanshpark commented on #2617
Reason is `/usr/bin` is removed from the `PATH` and `dirname` exist in this folder.
I wonder why and where...

[2017-06-07 03:19] seanshpark commented on #2617
In `DotNetCli` class of `src/test/TestUtils`, `SanitizeGlobalLocation()` is called for `Exec()` and this `SanitizeGlobalLocation()` removes the folder if `dotnet` program exists in it to `PATH` environment.
I think this is because we want to test the `dotnet` not the installed version.

@ramarag , I've found that code was changed from you. Did you not have any problems with `dirname` command execu

[2017-06-07 03:28] seanshpark commented on #2617
CC gkhanna79

[2017-06-07 03:28] seanshpark commented on #2617
CC @gkhanna79

[2017-06-07 03:32] seanshpark commented on #2617
Reason of this is that I have a  setup version of `dotnet` is installed in `/usr/bin` in my workstation.

[2017-06-07 04:59] ramarag commented on #2617
you can remove it, the scenario it was to help with no longer is viable.
https://github.com/dotnet/core-setup/issues/2611

cc @steveharter

[2017-06-07 05:02] seanshpark commented on #2617
So, can I remove the line calling `SanitizeGlobalLocation()` ?

I've done a simple build test,
1) core-setup as-is and removed `/usr/bin/dotnet` program
2) core-setup test with not calling `SanitizeGlobalLocation()` in `Exec() and with `/usr/bin/dotnet`

Both showed same result with having 1 Fail in the output
core-setup/Bin/tests/linux-x64.Debug/dotnetMultilevelSDKLookup/2/cwd> /home/maxwell/netc

[2017-06-07 06:28] seanshpark commented on #2617
@ramarag , thank you :), I'll wait for the PR to land.

[2017-06-07 06:33] gkhanna79 commented on #2617
CC @eerhardt

[2017-06-07 07:09] omajid commented on #2562
FYI, when we do RPMs we generally avoid duplicating the upstream changelog into the RPM changelogs. Often a comment like "Update to version 2.0" is good enough. Links to upstream release notes should also be okay. I don't think there's any point duplicating the notes into the RPM itself.

[2017-06-07 07:12] omajid commented on #2586
Once https://github.com/dotnet/core-setup/pull/2635 and https://github.com/dotnet/cli/pull/6780 have been merged, most of my concerns in this issue will be resolved.

My only remaining request is updating the `License` field to match the actual licenses. MIT, BSD? Apache? and any other licenses that are getting included should be listed there.

[2017-06-07 13:38] steveharter commented on #2617
PR #2611 updated to remove SanitizeGlobalLocation.

[2017-06-07 14:05] nguerrera commented on #1961
@godrose The remaining work for this experience to work without workarounds is tracked by https://github.com/Microsoft/vstest/issues/792

[2017-06-07 14:17] Petermarcu commented on #2601
I'm going to close this for now. At the point where we plan to bring up armv6, Pi Zero will become an option.

[2017-06-07 14:17] #2601 closed

[2017-06-07 15:49] gkhanna79 commented on #1231
I chatted with @leecow offline yesterday and he will determine if this needs to be punted or not.

[2017-06-07 16:28] wli3 commented on #2613
Hi @ellismg could you illustrate what is the broken scenario left? So far I covered telemetry notice, multi user experience, and run as root is also covered from previous discussion.

Again, the old experience is, the user install the package, and the **first time** the user run dotnet X, the user need to wait for the "first time experience" to run and prime the cache for about 1 minutes. This pro

[2017-06-07 16:32] leecow commented on #1231
I talking through this further, enabling the option on our installer isn't a priority. Customers have the ability to opt-in through the Windows control panel. The issue will be re-opened if specific compliance requirements are discovered.

[2017-06-07 16:32] #1231 closed

[2017-06-07 18:26] ellismg commented on #2613
The thing that's broken in my mind is that we assume messages printed to standard out while installing the package make their way to end users.  I don't think that's reasonable.  For the case where install just the single package, on the command line, then I agree you have a high chance of seeing message.  However, if you install the RPMs through a graphical interface, or as part of a larger proce

[2017-06-07 20:16] eerhardt opened #2647 "Add validation for DependencyModel and PlatformAbstractions nupkgs"
We've regressed the DependencyModel's dependency on PlatformAbstractions twice in the past month.  See:

https://github.com/dotnet/core-setup/pull/2309
https://github.com/dotnet/core-setup/pull/2646

We should add some validation to our build that ensures we don't break this again.  I'm thinking a simple check that the dependency listed in DependencyModel is for the version of PlatformAbstractions

[2017-06-07 20:36] steveharter commented on #2611
Closing for now as changes to disable PATH have been merged. If we decide to add a concept of 'global locations' back for non Windows then I assume that will be a new issue.

[2017-06-07 20:36] #2611 closed

[2017-06-07 21:24] livarcocc opened #2649 ".NET CLI segfaults on macOS High Sierra beta"
_From @wjk on June 6, 2017 17:3_

First of all, I’m sorry if I wasn’t supposed to discuss this issue publicly. I checked the Apple developer program agreement and it seems to allow public discussion of bugs in Apple beta software, provided it has been publicly announced at WWDC (which was yesterday). Also, feel free to move this issue to a more suitable repository if required. (I’m filing it here

[2017-06-07 21:24] livarcocc commented on #2649
_From @wjk on June 7, 2017 18:24_

Unfortunately, my note above about the segfault occurring only as the process is exiting has been proven quite false; `dotnet restore` fails to do anything now, because it segfaults immediately upon launch.

[2017-06-07 21:39] leecow commented on #2339
16.0.4 packages should be available and I just verified.

[code]

[2017-06-07 22:25] seanshpark commented on #2617
@steveharter , build is now ok. thank you :)

[2017-06-07 22:25] #2617 closed

[2017-06-07 22:49] omajid commented on #2613
Echoing Matt here. The assumption that the user sees the telemetry notice is not necessarily true. For example [here is a related discussion about another package that shows another message at package install time which points out that users may or may not this this message at all](https://www.redhat.com/archives/rpm-list/2003-October/msg00284.html). Mind you, these "rules" do not apply to the .NE

[2017-06-08 18:32] gkhanna79 commented on #2294
This is fixed.

[2017-06-08 18:32] #2294 closed

[2017-06-08 18:34] gkhanna79 commented on #934
@eerhardt Should this be closed?

[2017-06-08 18:35] Yzord commented on #2339
Still not working here on 16.0.4

Reading package lists... Done
Building dependency tree
Reading state information... Done
Some packages could not be installed. This may mean that you have
requested an impossible situation or if you are using the unstable
distribution that some required packages have not yet been created
or been moved out of Incoming.
The following information may help to resolve

[2017-06-08 19:26] eerhardt commented on #934
I just checked off the last box.  This feature is now done.

[2017-06-08 19:26] #934 closed

[2017-06-08 20:46] maririos opened #2655 "As a Core-Setup maintainer, I can merge two PRs within 20 minutes of each other without causing an official build break"
@dagood commented on [Mon Apr 17 2017](https://github.com/dotnet/core-eng/issues/675)

Currently the CI-triggered builds run in parallel, and the publish step that starts second doesn't wait long enough for the first publish to finish. It fails, instead. Product owners/maintainers/devs shouldn't need to think about this timing.

A few solutions:
 * Extend the "wait for other build to publish" time

[2017-06-08 21:26] wli3 opened #2657 "Cannot find dotnet-runtime in ubuntu 14.04, 16.04 and debian 7 feed"
CLI/SDK release 2.0.0 current dependency _dotnet-runtime-2.0.0-preview2-25407-01_ cannot be found in the feed, so the install via apt-get for dotnet-sdk is blocked -- actually there is no new build after dotnet-runtime-2.0.0-preview2-25401-02.
https://apt-mo.trafficmanager.net/repos/dotnet/dists/jessie/main/binary-amd64/Packages
https://apt-mo.trafficmanager.net/repos/dotnet/dists/trusty/main/bina

[2017-06-08 21:35] rakeshsinghranchi commented on #2657
cc @karajas

[2017-06-08 22:08] dagood commented on #2655
This is fixed in master and release/2.0.0 by the move to buildtools, because Core-Setup now builds on a schedule. (This is effectively the "Only allow one build at a time." solution mentioned above.)

I believe this is still a problem in release/1.1.0 and release/1.0.0, and it might not be reasonable to fix this there.

[2017-06-08 22:19] nguerrera opened #2658 "Language pack story for .NET Core apps"
If my .NET Core app is localized and I have satellite assemblies with the translations, I will often want to distribute the satellite assemblies separately from my main implementation assemblies. This saves disk space for users that don't need the other languages.

On .NET Core, this is problematic because my satellite assemblies need to be listed in my .deps.json. If they are on disk, but not lis

[2017-06-08 22:22] gkhanna79 commented on #2658
CC @steveharter as well.

[2017-06-08 22:25] nguerrera commented on #2658
Possible solution:

Add locale-specific deps to separate locale-specifc json:

[code]

[2017-06-08 22:26] gkhanna79 commented on #2658
I think that layout can be made to work if that is how the language installer will deploy and lay them out.

[2017-06-08 22:28] gkhanna79 commented on #2658
Can there be a resources subfolder under which resources exist under IETF code subfolders? In the example above, "fr" would become "resources\fr".

Is that feasible?

[2017-06-08 22:29] nguerrera commented on #2658
That could work, but it goes against the .NET Framework tradition. I guess the problem is you wouldn't know which subfolders to scan?

[2017-06-08 22:30] gkhanna79 commented on #2658
Yes - unless we have a list somewhere that is always kept upto date.

[2017-06-08 22:32] gkhanna79 commented on #2658
Can the language pack installer update the app's "runtimeconfig.json" by adding a property (e.g. resourceFolders) that is a delimited list of IETF codes? If so, the host can read that to augment the resource lookup.

[2017-06-08 22:36] nguerrera commented on #2658
The LP installer should not modify any files, just drop new ones. If you have to replace/edit/rollback files, you have a much more complicated problem on your hands. We should achieve the same experience as .NET Framework where locale dirs can be added and removed with no other steps required.

[2017-06-08 22:42] gkhanna79 commented on #2658
Can the LP installer drop a "runtimeconfig.resources.json" with that information?

[2017-06-08 22:44] nguerrera commented on #2658
Two different LPs would fight over it. runtimeconfig.resources.[locale].json could work

[2017-06-08 22:47] nguerrera commented on #2658
But I still really prefer the simple experience of copy the "fr" directory to "fr" to deploy "fr" language pack. It is the same as the decade+-old tradition on .NET Framework. If the main runtimeconfig listed *possible* locales (i.e. it is not an error if locale in config is not present), then main installer could just declare all the LPs. This means I have to update main installer to support new

[2017-06-08 22:50] nguerrera commented on #2658
Another solution: can the host consider the absence of  any assembly designated under "resources" section as optional? This would be the cheapest way to get the desired experience because there would be no changes needed to the tooling to generate config files any differently.

[2017-06-08 22:54] gkhanna79 commented on #2658
Which resources section are you referring to? The one in app.deps.json?

[2017-06-08 22:54] nguerrera commented on #2658
Yes, that.

[2017-06-08 22:54] gkhanna79 commented on #2658
And do you know all possible locales at the time app.deps.json is published?

[2017-06-08 22:59] nguerrera commented on #2658
I think that is the most common case. From my own experience at least, LPs are usually built and shipped on the same schedule as the main product. It would definitely work for .NET CLI. It's less versatile than the other solutions discussed, but I'm throwing it out there as something inexpensive that probably solves the problem in >90% of cases.

[2017-06-08 23:07] gkhanna79 commented on #2658
I believe the goal behind the LP installer is to be able to drop resources that may not have been known at publish time of the app, right?

[2017-06-08 23:09] nguerrera commented on #2658
I believe that is secondary to the main goal is to prevent wasting disk space for languages the user will never use. E.g. The set of LPs for a given version of VS is known when VS ships, but we don't want to install them all on every machine.

[2017-06-08 23:10] gkhanna79 commented on #2658
I think this should be doable for the next release.

[2017-06-09 00:37] karajas commented on #2657
Looks like we've hit more feed issues
[code]

[2017-06-09 05:55] livarcocc commented on #2657
cc @Petermarcu as this may reset escrow.

[2017-06-09 06:10] Petermarcu commented on #2657
I would hope we can manually push things to the feeds.

[2017-06-09 06:56] ed-alertedh commented on #2339
@Yzord you may have something else causing the issue. Either that or the  been silently broken and fixed.

Worked fine for me using this Dockerfile:
[code]

[2017-06-09 09:04] dnataraj opened #2661 "dotnet-dev-1.0.4 package fails to install on Ubuntu"
I'm unable to install dotnet-dev-1.0.4 as explained here : https://www.microsoft.com/net/core#linuxubuntu
on Ubuntu 16.04.2.

## Steps to reproduce
sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ yakkety main" > /etc/apt/sources.list.d/dotnetdev.list'
 sudo apt-key adv --keyserver hkp://keyserver.ubuntu.com:80 --recv-keys 417A0893
sudo apt-get update
sudo

[2017-06-09 09:10] dnataraj commented on #2661
If I try to install the dependencies separately, I get

The following packages have unmet dependencies:
 dotnet-dev-1.0.4 : Depends: libstdc++6 (>= 6) but 5.4.0-6ubuntu1~16.04.4 is to be installed
                    Depends: dotnet-sharedframework-microsoft.netcore.app-1.1.2 but it is not going to be installed
E: Unable to correct problems, you have held broken packages.

The following packages h

[2017-06-09 10:02] cydhaselton commented on #1651
UPDATE: CoreCLR .nuget package PR merged. Moving to CoreFX .nuget package builds

[2017-06-09 16:09] livarcocc commented on #2661
Dup of https://github.com/dotnet/core-setup/issues/2657 and https://github.com/dotnet/cli/issues/6796.

[2017-06-09 16:09] #2661 closed

[2017-06-09 18:29] eerhardt commented on #2649
@bartonjs

The crash appears to happen in libcrypto.35.dylib according to the above log.

I would guess .net Core 1.0 isn't going to be supported on newer macOS versions, if Apple can make breaking changes to OpelSSL.

The good news is that from 2.0 forward, we aren't using libcrypto anymore.

[2017-06-09 22:22] livarcocc commented on #2657
Any update on this?

[2017-06-09 22:28] karajas commented on #2657
There's an email thread about Chuan investigating. I can ask him to push these packages manually to unblock you guys.

[2017-06-09 22:35] karajas opened #2663 "Publishing of Debian packages to aptly feed fails due to corrupted downloads."
## Steps to reproduce
Create debian packages to push to feed as a part of the build.

## Expected  behavior
The packages appear on the feed to be consumed by cli and other consumers.

## Actual behavior
The pipeline returns an internal server error as the packages are corrupted during transition between downloading the package and pushing to the official feed.

## Steps to take
1. Pass a checksum

[2017-06-09 23:32] wjk commented on #2649
@eerhardt I have confirmed that this no longer occurs when using 2.0-preview builds of .NET Core.

[2017-06-10 03:49] bartonjs commented on #2649
libssl.35.dylib is LibreSSL (not OpenSSL).  I'm surprised that libcurl.4.dylib on High Sierra is using LibreSSL... On Normal Sierra (10.12) it's backed by Security.framework / SecureTransport (libcurl's darwinssl engine), rather than libssl (either OpenSSL or LibreSSL).  Seems weird that Apple would change something to prefer a library that they didn't write.

Anyways, the situation we ended up in

[2017-06-10 14:08] jamesqo commented on #198
I would also like to have this option for so I can debug `dotnet test`.

[2017-06-11 02:13] Petermarcu commented on #2649
We will likely wan to service 1.X to address.

[2017-06-12 21:22] weshaggard commented on #2655
Isn't it still a problem in master and release/2.0.0 if someone manually kicks off builds in the same timespan? I think it is still an issue there as well which should be handled.

[2017-06-12 21:38] dagood commented on #2655
Good point. This is only fixed for the specific scenario in the title, and only because merging PRs doesn't trigger builds.

[2017-06-13 16:59] leecow commented on #2657
To this point we have always pushed the release packages manually so this should not reset escrow.

[2017-06-13 17:06] leecow opened #2682 "Homepage referenced in deb metadata is incorrect"
https://apt-mo.trafficmanager.net/repos/dotnet/dists/jessie/main/binary-amd64/Packages
https://apt-mo.trafficmanager.net/repos/dotnet/dists/trusty/main/binary-amd64/Packages
https://apt-mo.trafficmanager.net/repos/dotnet/dists/xenial/main/binary-amd64/Packages
https://apt-mo.trafficmanager.net/repos/dotnet/dists/yakkety/main/binary-amd64/Packages

All packages have `Homepage: https://dotnet.github

[2017-06-13 21:14] leecow commented on #2649
Yes, we'll need to address this in 1.x.

[2017-06-13 22:34] wli3 commented on #2657
I do see packages in the feed now

Package: dotnet-runtime-2.0.0-preview2-25407-01 in
https://apt-mo.trafficmanager.net/repos/dotnet/dists/jessie/main/binary-amd64/Packages
https://apt-mo.trafficmanager.net/repos/dotnet/dists/trusty/main/binary-amd64/Packages
https://apt-mo.trafficmanager.net/repos/dotnet/dists/xenial/main/binary-amd64/Packages

So I am closing this specific issue

[2017-06-13 22:34] #2657 closed

[2017-06-14 14:30] gkhanna79 commented on #2649
CC @janvorli

[2017-06-14 15:22] gkhanna79 opened #2690 "Update UWP Host to use the simpler hosting API"
Currently, the UWP host uses ICLRRuntimeHost2 interface directly to initialize and start the runtime (see usage of m_CLRRuntimeHost in https://github.com/dotnet/core-setup/blob/master/src/uwp/Host/UWPHost/UWPHost.cpp).

This is different from the host used for .NET Core (see https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/hostpolicy.cpp#L187 which is wrapper in https://github.com

[2017-06-15 19:50] gkhanna79 commented on #2690
@danmosemsft Please move this to UWP6.1 when you create the milestone since this is not required for 6.0.

[2017-06-15 20:12] danmosemsft commented on #2070
@joshfree @karelz as agreed just now, it makes more sense for @zamont to do this.

[2017-06-16 01:35] nguerrera opened #2697 "Uninstalling all versions of .NET Core SDK and runtime leaves files behind"
_From @nguerrera on June 16, 2017 0:19_

I've uninstalled everything and still have the following on disk:

[code]

I know these are shared between versions, but is there no ref counting system to remove them when the last installation using them is removed?

_Copied from original issue: dotnet/cli#6899_

[2017-06-16 01:35] nguerrera commented on #2697
_From @livarcocc on June 16, 2017 1:33_

Please, move this to core-setup. These are all host files.

[2017-06-16 17:46] rakeshsinghranchi commented on #2697
@nguerrera , there was a refcounting bug in 1.1.0 and 1.0.0 that we fixed in 2.0.0 and 1.x servicing branches. Please share MSI logs %temp% to further diagnose the issue.

[2017-06-16 18:24] rakeshsinghranchi commented on #2682
Fixed by this PR : https://github.com/dotnet/core-setup/pull/2683

[2017-06-16 18:24] #2682 closed

[2017-06-16 19:52] nguerrera commented on #2697
I see. Some of the builds I uninstalled were older 1.x. That is probably what bit me here. I'll try to locate the logs.

Can this bug in older 1.x ever bite the other way -- with dotnet.exe being removed even though there are still sdks/runtimes installed? I ask because that would explain an issue that bit @davkean, which I was trying to reproduce when I hit this opposite problem.

[2017-06-19 16:35] bartonjs commented on #2649
Fixed by https://github.com/dotnet/corefx/pull/21069 and https://github.com/dotnet/corefx/pull/21071

[2017-06-19 16:35] #2649 closed

[2017-06-19 20:44] karelz commented on #2658
Looks like blocker for 2.0 for CLI.

[2017-06-20 00:22] davkean opened #2707 "Doing a build-to-build upgrade of Visual Studio, breaks dotnet"
## Steps to reproduce
1. Install 15.3.0-pre.3.0+26615.5.d15prerel
2. Using build-to-build upgrade, upgrade to 15.3.0-pre.3.0+26618.0.d15prerel
3. Open Visual Studio Command Prompt,
4. Run `dotnet`

## Expected  behavior
For dotnet to run

## Actual behavior
`A fatal error occurred, the required library hostfxr.dll could not be found at C:\Program Files\dotnet`

## Environment data

Make note, othe

[2017-06-20 15:44] wayne-welch commented on #2339
I was having the same issue using the install instructions on https://www.microsoft.com/net/core#linuxubuntu

There is still a reference to yakkety in the instructions for Ubuntu 16.10. Once I read this thread and changed it to xenial, everything installed correctly.

sudo sh -c 'echo "deb [arch=amd64] https://apt-mo.trafficmanager.net/repos/dotnet-release/ yakkety main" > /etc/apt/sources.list.d/

[2017-06-20 17:43] MattGal opened #2709 "Build definition work to disable external publish via orchestrating PipeBuild definition"
Related: https://github.com/dotnet/core-eng/issues/626

This was informed by the MSRC work, where being able to selectively disable publish steps for all builds in the composed product was necessary.

I did some work to allow disabling any given Pipebuild leg with the -d arg (e.g. “-d "Regex:^Publish.*"”) but @dagood points out that there’s more to be done there since some repositories do things t

[2017-06-20 18:02] rakeshsinghranchi commented on #2707
@davkean , can you collect & share setup logs using collect tool : https://www.microsoft.com/en-us/download/details.aspx?id=12493

[2017-06-20 22:28] steveharter commented on #2658
Update: working on fix to not fail when a library that is listed in the .deps.json file is not required to be on disk.

[2017-06-21 06:37] davkean commented on #2707
I've uploaded the logs on scratch2 under davkean\core-setup\2707.

[2017-06-21 17:14] wli3 opened #2715 "No package dotnet-runtime-2.0.0-preview3-25420-01 in Debian 8 and Ubuntu 16.10 feed"
in the feed

https://apt-mo.trafficmanager.net/repos/dotnet/dists/jessie/main/binary-amd64/
https://apt-mo.trafficmanager.net/repos/dotnet/dists/yakkety/main/binary-amd64/

[2017-06-21 17:17] wli3 commented on #2715
Seems the root cause of this has not been resolved https://github.com/dotnet/core-setup/issues/2657

[2017-06-21 18:41] eerhardt opened #2716 "1.0 Cryptography native shim is being published in a 2.0 app"
## Steps to reproduce

[code]

dotnet restore -r osx.10.12-x64
dotnet publish -r osx.10.12-x64

*Alternatively* if you call `dotnet store -r osx.10.12-x64` on a manifest that references Newtonsoft.Json/9.0.1, you get the same behavior in the outputted runtime store.

## Expected  behavior
No "1.0" native libraries should be published in the publish folder (or in the runtime store).  This is a "2.0

[2017-06-21 19:27] ericstj commented on #2716
I believe the presence of the old shim library is innocuous but @bartonjs would need to confirm.

This would have been trimmed if the new Microsoft.NETCore.Targets package was referenced, since that would wack all the RID-split package dependencies.

I was trying to address this with https://github.com/dotnet/corefx/pull/18341 and https://github.com/dotnet/core-setup/pull/2053 but that isn't flowi

[2017-06-21 19:51] bartonjs commented on #2716
Correct. It's just dead-weight. None of the code in 2.0 will ever call it.

[2017-06-21 23:39] zamont opened #2719 "VS F5 Failure When Referencing pre-release Microsoft.NETCore.UniversalWindowsPlatform with TFM UAP10.0"
## Steps to reproduce
1. Create new C# Blank App (Universal Windows)
2. Update Microsoft.NETCore.UniversalWindowsPlatform to latest pre-release (6.0.0-preview1-*)
3. Build in Debug configuration

## Expected  behavior
Build succeeds.

## Actual behavior
Build fails. Error message is

[code]

## Assessment
In the latest metapackage, we have RID-specific packages, as indicated by package runtime.win

[2017-06-21 23:42] zamont commented on #2719
@joperezr Any ideas how to resolve this issue? I feel like this is a situation we would like to support: user upgrading to our latest metapackage but still remaining on uap10.0 / .NETCore5.0 framework.

[2017-06-21 23:46] joperezr commented on #2719
Agreed. Do you happen to know who is bringing `runtime.native.System.IO.Compression` do you have your project.assets.json

[2017-06-22 00:08] zamont commented on #2719
The dependency graph seems to be Microsoft.NETCore v5.0.2 -> System.IO.Compression v4.1.1 -> runtime.native.System.IO.Compression v4.1.0.

I think the problem stems from us including clrcompression.dll in the RID-specific UWP metapackage.

[2017-06-22 16:33] joperezr commented on #2719
Why are we pulling in the Microsoft.NETCore dependency? that one is not needed any longer as that is now packaged in the metapackage. The reason why clrcompression.dll is present in the metapackage is because it is not packaged individually any longer, so the runtime.native.System.IO.Compression package is not generated any longer, which is why we should instead remove the other references which a

[2017-06-22 16:33] joperezr commented on #2719
cc: @ericstj who is an expert on the area of conflict resolution.

[2017-06-22 16:38] zamont commented on #2719
Here's a link to the latest UWP metapackage on MyGet: https://dotnet.myget.org/feed/dotnet-core/package/nuget/Microsoft.NETCore.UniversalWindowsPlatform

The Microsoft.NETCore dependency is not brought in for uap10.1 if that's what you're concerned about. We're still talking about the uap10.0 / .NETCore 5.0 case.

[2017-06-22 16:44] joperezr commented on #2719
Ohh I see I understand the problem now and I think that I know how to fix it. I'll assign this issue to myself.

[2017-06-22 16:44] ericstj commented on #2719
This isn't a conflict resolution problem.  It's a package authoring problem.

In this case the RID-specific runtime packages for uap10.1 are being brought into the uap10.0 application. Because these packages have native assets in them that aren't TFM specific they are applying to the uap10.0 app.

I think we should do the work to move the runtime.json into a framework specific package, as I was di

[2017-06-22 16:52] ericstj commented on #2719
A quick fix is to put the native stuff under a `runtimes/{rid}/nativeassets/{tfm}` instead of `runtimes/{rid}/native`, but this still causes the packages to be downloaded on the old TFMs.  We need to put the latest stuff in a framework specific package.

[2017-06-22 16:58] ericstj commented on #2437
NuGet doesn't allow for framework + RID specific dependencies.  You can only have one or the other.
It's also undesirable to download things (like reference assemblies) that you don't need.  This is especially true when considering our flat framework packages.

This is important for side-by-side behavior for our framework packages.

We want the latest framework package to support all TFMs.
When ta

[2017-06-23 07:37] Ramprits commented on #572
Thanks It's working now.

[2017-06-23 18:09] #2658 closed

[2017-06-27 17:49] joperezr opened #2743 "Re-enable WCF maestro updates once their packages build against the new corefx"
per comment https://github.com/dotnet/core-setup/pull/2686#issuecomment-310795492:

This issue will track the required work of re-enabling the WCF updates once they are building against the new corefx. cc: @zhenlan @shmao @dagood

[2017-06-27 18:01] zhenlan commented on #2743
The likely reason is that current S.P.SM package carries a harvested UWP binary that was built for netcore50.

@dagood and @StephenBonikowsky are working on building updated S.P.SM package that supports UWP/NS2.0.

[2017-06-28 21:36] #2719 closed

[2017-06-29 20:03] wli3 opened #2759 "Cannot run dotnet.exe on Windows 7"
## Steps to reproduce
VM with clean image en_windows_7_professional_x64_dvd_x15-65805.iso from MSDN

Install the latest CLI build depends on runtime 2.0.0-preview3-25426-01
## Expected  behavior

## Actual behavior
![image](https://user-images.githubusercontent.com/6993335/27707694-15157d10-5ccb-11e7-8a06-4c20857f5358.png)

## Environment data

Looks like an error due to the lack of vcredist_x64.e

[2017-06-29 20:04] wli3 commented on #2759
@Petermarcu I remember you talked about this

[2017-06-29 20:55] Petermarcu commented on #2759
Correct, we shouldn't have a vcredist dependency. @steveharter can you take a look?

[2017-06-29 21:09] Petermarcu commented on #2759
Ah,. @gkhanna79 can probably help confirm but I believe we do require that the uCRT is installed on Win7 and its delivered through Windows update.

https://support.microsoft.com/en-us/help/2999226/update-for-universal-c-runtime-in-windows

I think this is by design.

[2017-06-29 21:10] gkhanna79 commented on #2759
Yes, that is correct.

[2017-06-29 21:16] wli3 commented on #2759
I see, let me update first

[2017-06-29 21:16] #2759 closed

[2017-06-29 23:45] Petermarcu commented on #2716
Do we need this for 2.9 or should we move it out?

[2017-06-29 23:46] Petermarcu commented on #2344
@ericstj whats the status here? Its getting pretty late.

[2017-06-29 23:46] Petermarcu commented on #676
Is this addressed now or is there more to do?

[2017-06-29 23:48] Petermarcu commented on #2597
@livarcocc , this needs to be addressed in the next few days.

[2017-06-29 23:48] Petermarcu commented on #2597
@johnbeisner as well

[2017-06-29 23:49] Petermarcu commented on #2562
I'm going to move this out of 2.0 at this point. Seems like a nice to have and not a must have.

[2017-06-29 23:50] Petermarcu commented on #2449
@rakeshsinghranchi , have you been able to make any progress here?

[2017-06-29 23:58] rakeshsinghranchi commented on #2449
cc @eerhardt as he has done some changes related to locked version in the past.
No, I haven't got chance to look at this yet. I had a quick discussion with @gkhanna79 sometime back, need more details on this context.

[2017-06-30 04:17] wli3 commented on #2759
More to this, the patch for uCRT requires SP1 of Windows 7.

[2017-06-30 05:20] ellismg commented on #676
We need to port a change from CLI master into release/2.0.0.  I will do this tomorrow.

[2017-06-30 16:36] ericstj commented on #2716
I need a shiproom read on that.  The side effects are dead-weight in additional downloads and one additional unused file showing up in the app when old packages are referenced with new.  Its a case of "could be better but nothing is broken".

[2017-06-30 16:37] ericstj commented on #2344
We're punting.  I couldn't get consensus from SDK team on how to do this.  I agree its too late to make a change now.

[2017-06-30 16:37] #2344 closed

[2017-06-30 18:41] #628 closed

[2017-06-30 20:03] dagood opened #2765 ""latest.version" should be a semaphore for packages existing on MyGet"
ASP.NET depends on this file changing only when packages are on MyGet, but because `FinalizeBuildInAzure` happens before `PublishCoreHostPackagesToFeed` (https://github.com/dotnet/core-setup/blob/bd3f818bad84f1296b4ee53f72ab8837b3caac98/publish/publish.proj#L14) package publishing can fail after the file update. I think those two targets can just be swapped. @chcosta

[2017-06-30 20:09] steveharter commented on #2759
FWIW here's the full list of configurations for uCRT (from the link above):
    Windows Server 2012 R2
    Windows 8.1
    Windows RT 8.1
    Windows Server 2012
    Windows 8
    Windows RT
    Windows Server 2008 R2 Service Pack 1 (SP1)
    Windows 7 SP1
    Windows Server 2008 Service Pack 2 (SP2)
    Windows Vista SP2

[2017-06-30 20:55] chcosta commented on #2765
I don't see any concern with swapping those.

[2017-06-30 20:59] danwalmsley commented on #196
I am also in need of this feature 👍

[2017-06-30 21:28] billwert opened #2768 "Install blocks for macOS installers don't work."
## Steps to reproduce
Download the latest .pkg and attempt to install it on macOS older than 10.12

## Expected  behavior
Installation is blocked as 10.12 is our minimum supported version

## Actual behavior
Installation is allowed

[2017-07-05 03:57] dhswg20077 commented on #2360
delete below line to fix this

`<RuntimeFrameworkVersion>1.1.1</RuntimeFrameworkVersion>`

[2017-07-05 13:45] TesloCosmin commented on #2360
I did not had that line in the csproj, so the fix was to:

- Right click project name --> Manage NuGet Packages...
- Check the Include prerelease option
- Go to Updates tab and update the necessary packages.

Update them one by one.

[2017-07-05 18:58] #2768 closed

[2017-07-05 21:26] livarcocc opened #2794 "Unable to get JITDisasm with dotnet-run"
_From @am11 on July 4, 2017 17:34_

## Description

The CLR configuration knobs documentation suggests that if we set the environment variables, the knobs variables set by the environment shall be abided.

https://github.com/dotnet/coreclr/blob/38a2a69/Documentation/project-docs/clr-configuration-knobs.md

This holds if we build CoreCLR and run the app via corerun, but not when running with dotnet

[2017-07-05 21:26] livarcocc commented on #2794
Moved it here because this is something that the host should honor. I published the app and ran it using dotnet and still did not get the disassembly printout, and in this case, there is no CLI involved.

[2017-07-05 21:33] Petermarcu commented on #2794
@gkhanna79 any insight here? @steveharter to take a look. Corehost is used for development of the runtime itself, my assumption is we didn't necessarily plumb all the same options through to the .NET Core App model.

[2017-07-05 21:36] gkhanna79 commented on #2794
Do you see the output when corehost_trace=1 is enabled @livarcocc ?

[2017-07-05 21:41] am11 commented on #2794
Thanks @livarcocc!

@gkhanna79, yes I can see the output dump when setting corehost_trace: `$env:COREHOST_TRACE=1;dotnet run`. Can the other CoreCLR knobs be honored by setting the documented `COMPLUS_*` variables in a similar fashion?

[2017-07-05 21:55] am11 commented on #2794
@Petermarcu, if the environment values are transparently propagated by host to the runtime, would it still involve lots of plumbing?
Alternatively, would it make sense to introduce a switch in CLI, say `--jit-debug <comma separated list of knob IDs without COMPLUS_ prefix>`, without requiring environment variables propagation from host to runtime?

[2017-07-05 22:17] steveharter commented on #2794
So if output works with `corehost_trace=1` + `dotnet run` then it appears stdout is being redirected to stderr?

Also here's some additional doc with information including that a debug version of CoreClr is required: https://github.com/dotnet/coreclr/blob/38a2a69c786e4273eb1339d7a75f939c410afd69/Documentation/building/viewing-jit-dumps.md#setting-configuration-variables

[2017-07-05 22:19] gkhanna79 commented on #2794
Correct.

[2017-07-05 22:47] leecow commented on #2597
Ping @livarcocc

[2017-07-06 20:55] Petermarcu commented on #676
@ellismg , is this done?

[2017-07-06 20:58] johnbeisner commented on #2597
Completed: https://github.com/dotnet/core-setup/pull/2627

[2017-07-06 20:58] #2597 closed

[2017-07-06 21:00] johnbeisner commented on #2597
Duplicate issue of: https://github.com/dotnet/core-setup/issues/2624

[2017-07-06 21:48] steveharter commented on #2794
@gkhanna79 correct on which comment? :)

I'll debug this soon to see what exactly is going on.

[2017-07-07 01:28] ellismg commented on #676
Should be resolved in the next CLI build (and for 2.0.0)

[2017-07-07 01:28] #676 closed

[2017-07-07 15:33] dagood commented on #2765
Fixed in #2766 (master) #2787 (release/2.0.0)

[2017-07-07 15:33] #2765 closed

[2017-07-08 17:52] leecow commented on #2586
@omajid - should the `License` field list all licenses (MIT, BSD, Apache v2, Microsoft) or is it acceptable practice to refer to an external document - thirdpartynotices.txt in this case.

[2017-07-09 02:58] omajid commented on #2586
@leecow the RPM convention is to list the exact licences as they apply to the RPM using [the short license names](https://fedoraproject.org/wiki/Licensing:Main). For example if part of the RPM is under Apache 2 and part is under MIT, the license field should say `ASL 2.0 and MIT` (meaning you must comply with both the licenses if you distribute the RPM).

The complete details for the license field

[2017-07-10 07:44] jyoungyun opened #2806 "Add Tizen Builds to Daily Builds list"
The output for Tizen is normally built and released.
So we want to add the latest NETCore.App tarball archive to the Daily Builds list in README.md.

/cc @gkhanna79 @hqueue @hseok-oh @seanshpark @ragmani

[2017-07-10 19:51] leecow commented on #2586
Thanks @omajid.

@rakeshsinghranchi - The License: field for RPM and Deb packages need to updated to `MIT, ASL 2.0, BSD`.

[2017-07-10 20:07] omajid commented on #2586
Tiny nitpick: it should be `MIT and ASL 2.0 and BSD`. The `and` indicates that some part is under MIT, other parts are under ASL 2.0 and yet other parts are under BSD. So the combined result is limited by all 3.

(The other option would be `MIT or ASL 2.0 or BSD` which indicates that the entire .NET Core product is available under MIT or Apache 2.0 or BSD depending on which license the user prefer

[2017-07-10 20:15] leecow commented on #2586
Thanks @omajid. I believe 'and' will be the more correct formulation so we'll go with that.

[2017-07-10 21:03] omajid commented on #2586
No problem. Thanks for fixing this!

[2017-07-10 21:21] livarcocc opened #2808 "Failed to initialize CoreCLR, HRESULT: 0x80004005"
_From @Miclebrick on June 27, 2017 5:45_

## Steps to reproduce
1. Install dotnet
2. mkdir test
3. cd test
4. dotnet new mvc
5. dotnet restore
6. dotnet run

## Expected  behavior
Running of something

## Actual behavior
I merely get the error in the title.

## Environment data
`dotnet --info` output:
.NET Command Line Tools (1.0.4)

Product Information:
 Version:            1.0.4
 Commit SHA-1 ha

[2017-07-10 21:21] livarcocc commented on #2808
How did you install dotnet? also, can you set COREHOST_TRACE=1 and invoke dotnet run again and share the log file with us.

@karelz This is the host crashing. Can you help take a look?

[2017-07-10 21:21] livarcocc commented on #2808
@Petermarcu @steveharter can you guys help take a look?

[2017-07-10 21:21] livarcocc commented on #2808
_From @karelz on June 30, 2017 17:40_

@steveharter is the right person to look at it.

[2017-07-10 21:21] livarcocc commented on #2808
_From @Petermarcu on June 30, 2017 19:0_

@Miclebrick , how did you install? Did you use the zip or apt-get?

[2017-07-10 21:21] livarcocc commented on #2808
_From @Miclebrick on July 4, 2017 22:50_

apt-get - Although I ended up just renting a SmarterASP server

[2017-07-10 21:21] livarcocc commented on #2808
Moving this issue to core-setup for now, if this turns out to be an SDK problem, please re-activate.

[2017-07-10 21:57] steveharter commented on #2794
At least for 2.0, I think the biggest factor here is that in order to get the Jit output, CoreClr needs to be compiled in Debug mode. Provided a Debug version is used, and the appropriate COMPlus_JitDump is set, the Jit output should appear in stdout. You can use `corehost_trace=1` to see where the CLR is being loaded from.

On 2.0, I verified success under various configurations:
1) With and with

[2017-07-10 22:31] steveharter commented on #2808
I have success on local Ubuntu 16.04 following these instructions: https://www.microsoft.com/net/core#linuxubuntu.

@Miclebrick can you run `dotnet new console` and see if that works (to minimize dependencies). Usually the 0x80004005 is a result of a missing dependency. Thanks

[2017-07-11 06:12] Petermarcu commented on #2806
I'm not 100% up to date with how Tizen is building but if you want to submit a PR with the updated to the table with all the right links, we can look at taking it. Is there info you need from the Microsoft team to get the right links?

[2017-07-11 06:22] araqieldev commented on #2808
But when you create a new project with ```dotnet new mvc```, you've got the previous error **Failed to initialize CoreCLR, HRESULT: 0x80004005**.
So, not resolved.

[2017-07-11 12:06] jleclanche opened #2811 "Debian stretch packages?"
Are there packages for debian stretch?

The [official debian instructions](https://www.microsoft.com/net/core#linuxdebian) don't work [because of issues with dependencies](https://github.com/dotnet/cli/issues/2018#issuecomment-239301891) and the packages in this repo can't be installed for similar reasons.

[2017-07-11 14:27] steveharter commented on #2808
@araqieldev do you also have the same issue?

I'll try with a clean Ubuntu 16.04 image and see if I can repro; previously I had a manually configured Ubuntu 16.04 for dev work and that worked with mvc.

[2017-07-11 14:47] araqieldev commented on #2808
Exactly the same issue. Sometimes the command `dotnet run` works (once in ten). And when it works if I try to reach the web site, I have a big error stack trace.This morning I uninstalled dotnet 1.0.4 for 2.0.0 preview 2. I haven't this problem in 2.0.0.

[2017-07-11 16:40] steveharter commented on #2808
Even with a clean install of Ubuntu, I am still unable to repro this. Here's what I did:
1) Using Hyper-V on Windows Server 2012 R2
2) Install new version of Ubuntu 16.04. Added a superuser account via the install wizard
3) Apply all updates
4) From a terminal window run this (required for access via PuTTY): sudo apt-get install openssh-server openssh-client
5) Connect via PuTTY using the user cre

[2017-07-12 17:27] livarcocc opened #2817 "Lack of description for the dotnet.exe"
_From @Rovastar on July 12, 2017 16:25_

not sure where to post this so posting in multiple locations.

Can we have a description for the dotnet.exe (for Windows)?
Currently it just shows up in Task Manger when running with no description and just displaying the exe name "dotnet"
A more meaningful description would be useful mentioning that this is the Core version and probably the version number

[2017-07-12 18:01] omajid opened #2819 "When dotnet fails to run, it doesn't provide good debugging info"
When a `dotnet` application fails to run, it mostly exits with an undecipherable message:

    Failed to initialize CoreCLR, HRESULT: 0xDEADBEEF

Is there a way to make the error more verbose? Can we print out what went wrong? For example, did a native library lookup fail? Did we fail to allocate memory? Are we out of handles? Sometimes even a fairly obscure error message provides pretty good insi

[2017-07-12 19:04] nattress commented on #2070
@zamont Is there any remaining work for this issue?  Please close if not

[2017-07-12 19:17] nattress opened #2820 "Microsoft.Build.Net.CoreRuntimeTask.dll needs strong-name signing"
When multiple projects targeting different versions of the UWP tooling are present (either in the same solution in VS, or compiled in two different VS instances in short succession so they hit the same MSBuild worker node), only one copy of Microsoft.Build.Net.CoreRuntimeTask.dll will be loaded into MSBuild's process. They have different paths and different versions.  This is caused by https://git

[2017-07-12 19:20] zamont commented on #2070
Fixed by
 - #2736
 - #2752
 - #2772

[2017-07-12 19:20] #2070 closed

[2017-07-12 21:01] #1760 closed

[2017-07-13 06:29] araqieldev commented on #2808
I think that's because my server known Ubuntu 14 and 15, now 16.04.
The command `dotnet run` work perfectly for new console project. I think is the Kestrel server has dependencies not work because I haven't a clean installation of Ubuntu.
But in **dotnet 2.0 preview 2** I haven't this problem even MVC project.

[2017-07-13 17:14] livarcocc opened #2828 "Wrong error message when file can't be found should be raised"
_From @xplicit on July 13, 2017 7:11_

If try to run `dotnet exec` on non-existing file and it shows message that the file is not managed. This wrong message is raised only on Linux, on Windows I see correct message about file not found.

## Steps to reproduce

[code]

## Expected  behavior

message

[code]

## Actual behavior

Message:

[code]

## Environment data
`dotnet --info` output:

.NET Co

[2017-07-14 16:45] atlemagnussen commented on #2811
I'm also looking for this.

[2017-07-14 16:48] Petermarcu commented on #2811
Are you using 1.1 or 2.0? For 2.0, you can use the linux-x64 packages. We'll have to get all the dependencies instructions updated.

[2017-07-14 16:49] Petermarcu commented on #2811
You can see the correct dependencies in our dockerfile here: https://github.com/dotnet/dotnet-docker/blob/master/2.0/runtime-deps/stretch/Dockerfile

[2017-07-14 16:51] Petermarcu commented on #2811
@leecow @rakeshsinghranchi have you verified our deb's on stretch?

[2017-07-14 17:09] jleclanche commented on #2811
The 2.0 debs definitely error on stretch.

[2017-07-14 17:21] Petermarcu commented on #2811
Yeah, I'm searching for Debian 9 debs on build shared to see if they were ever turned on. @rakeshsinghranchi , can you get a PR  up to enable Debian 9 debs?

[2017-07-14 17:57] steveharter commented on #2808
I am closing this until I can get a repro. These are likely non-standard \ private distros that perhaps have different versions for some components or missing dependencies. If I can get an actionable repro I will re-open. Thanks.

[2017-07-14 17:57] #2808 closed

[2017-07-15 00:59] Mykezero commented on #2339
For Ubuntu 17.04 you can use the [files](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-dev-linux-x64.latest.tar.gz) @leecow linked along with the [Debian](https://www.microsoft.com/net/core#linuxdebian) instructions to install it.

Thanks for linking the files ^^

[2017-07-15 08:28] hades200082 commented on #2360
I didn't have RuntimeFrameworkVersion in the csproj files either but every project in my solution is showing this warning.

In the NuGet package manager it's already showing 1.1.2 as installed.

Any ideas?

[2017-07-17 18:14] natemcmaster opened #2845 "Wrong error message when shared framework version is not found"
## Steps to reproduce
Create a console app for a 2.0.0 runtime that is not installed.
`dotnet myapp.dll`

## Expected  behavior
Show an error message that lists
 1. Which versions of the shared framework are instaleld
 2. Where to install a new shared framework

## Actual behavior
The error message always lists `\` as the place where folder where shared runtimes should be installed.
[code]
## Envi

[2017-07-17 20:45] wli3 commented on #2586
@leecow @omajid there is a full_text field for license, what it should be in this case?

https://github.com/dotnet/core-setup/blob/53771d8bfc8b19afbd45e5dbdcf727049d4f9231/src/pkg/packaging/rpm/dotnet-sharedhost-rpm_config.json#L31

[2017-07-17 21:01] wli3 commented on #2586
This field will be the LICENSE TEXT in copyright

https://github.com/dotnet/core-setup/blob/6887ab556bc8302390782711dcdd75b75e769cf5/tools-local/setuptools/dotnet-deb-tool/tool/templates/debian/copyright

[2017-07-17 21:27] vivmishra commented on #2586
For RPM, the template is in its own location:
https://github.com/dotnet/core-setup/blob/master/src/pkg/packaging/rpm/templates/copyright

[2017-07-17 22:00] omajid commented on #2586
RPMs don't actually have a full license text field. Any `LICENSE` or `COPYING` (or similar) files get packaged up and installed with the package, but the RPM metadata only includes the short license summary. For example:

    $ rpm -qi firefox | grep -i license
    License     : MPLv1.1 or GPLv2+ or LGPLv2+

In fact, the only license-like tag that RPM knows about packages is `LICENSE`:

    $ rpm

[2017-07-18 10:22] mfilippov opened #2852 "How to compile this project in VS2017 only environment?"
## Steps to reproduce
Run build.cmd

## Expected  behaviour
Project compiled

## Actual behavior
Get error: file C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7 ... .bat not found

## Environment data
Windows 10 VS2017

[2017-07-18 12:59] drwigglechin commented on #2808
Hey guys, I was running into this same issue and found the problem to be including the package reference 'SharpZipLib.NETStandard' version '0.86.0.1'.

[2017-07-18 22:01] steveharter commented on #2845
I assume the expected behavior is to output the location of the current dotnet.exe like this:
[code]

Also from looking at the source code, with `COREHOST_TRACE=1` it should list installed versions but doesn't due to likely bug in fx_muxer.cpp.

[2017-07-18 22:43] Rovastar opened #2855 "What version of dotnet am I running?"
I believe I installed (under windows server 2012r2) the asp.net 1.1.2 runtime correctly. Latest build, never installed previous versions, add remove programs say 1.1.2 and all references under the install direct have 1.0.5 or 1.1.2

However the C:\Program Files\dotnet\dotnet.exe properties do not reflect this at all. The file version there is 1.1.0.1179

What version do I have installed? Is it jus

[2017-07-19 17:15] Petermarcu opened #2862 "Roll forward on Minor version when exact match isn't present"
We need to document the details but in general, we'd like 2.0 applications to attempt to run on 2.1 if 2.0 isn't present. There isn't a 100% guarantee they will run but rather than blocking it, we'd like to let apps try to run potentially with a warning and then if they don't work, they know they have to have exactly 2.0 installed.

Doc here: https://github.com/dotnet/designs/issues/3

[2017-07-19 19:00] steveharter commented on #675
@livarcocc would an option to include stores also be useful (in addition to shared)?

Also by API, do you mean a dotnet.exe command line option, or something lower level?

[2017-07-19 19:08] Petermarcu commented on #675
I'd leave stores as a separate thing for now. @livarcocc in essence, would this be a `dotnet --list-runtimes` switch on the host?

[2017-07-20 11:00] nick4u opened #2868 "Invalid uid:guid for instaled binaries"
Instalation puts new files in /opt with hard coded uid:gui
## clean install at debian 8
[code]
## Expected  behavior
owner of /opt/dotnet should be root:staff or something other reasonable?

## Actual behavior
[code]
group gid=27 maps to sudo ....

## Environment data
[code]

[2017-07-20 18:28] livarcocc commented on #675
In all honesty, I don't remember exactly what the context for this was, but I imagine the command switch, as suggested above would make sense here. Also, should we consider a similar one for SDKs?

[2017-07-20 18:31] Petermarcu commented on #675
Probably should have an SDK's list as well so people know what to put in the global.json when they go that route.

[2017-07-20 18:50] dagood opened #2875 "Allow stabilized official builds to overwrite blob storage"
Right now, to respin a stabilized build, you need to delete/rename the blobs on dotnetcli and dotnetclichecksums so that they don't conflict with the new build. Overwrite is currently [hard-coded in some places](https://github.com/dotnet/core-setup/blob/632aa6827e4ffba5f3cb1ec9fb105100c85f7f23/publish/publish.proj#L64). We could turn this into a variable you can set at queue-time. This would make

[2017-07-20 20:11] maririos opened #2876 "Core-setup requires Windows SDK to be on the machine"
@karajas commented on [Tue Jul 18 2017](https://github.com/dotnet/core-eng/issues/1249)

Core-setup now builds the uwpshim and requires onecore.lib which is a part of the Windows SDK.

Our build machines have this dependency installed on them currently.
/cc @shawnro

---

@karajas commented on [Tue Jul 18 2017](https://github.com/dotnet/core-eng/issues/1249#issuecomment-316220646)

According to @w

[2017-07-20 21:53] omajid commented on #675
Some context to the request for available shared farmework versions is here: https://github.com/dotnet/cli/issues/3773#issuecomment-263732705

[2017-07-20 23:23] #2743 closed

[2017-07-23 22:37] livarcocc opened #2892 "Assertion failed in `dotnet new` macOS 10.12 (.NET Core 2.0 Preview)"
_From @michaelbartnett on July 23, 2017 8:45_

## Steps to reproduce

Ran pkg installer from https://www.microsoft.com/net/core/preview#macos

Installer appears to finish, and system pops up an error "dotnet quit unexpectedly" .

Try to start a new dotnet roject somewhere (`dotnet new console` per the page instructions)

Starts trying to update the local package cache, fails with:

[code]

## Expe

[2017-07-23 22:37] livarcocc commented on #2892
@steveharter Can you please take a look if there is anything wrong in the host? If this is a CLI issue, please, re-activate the CLI one.

[2017-07-24 14:32] dagood opened #2897 "Build failure: Microsoft.Private.CoreFx.UAP not compatible with uap10.0.15138"
https://devdiv.visualstudio.com/DevDiv/_build?buildId=877444

[code]

This didn't happen in later builds, so I'm just creating this issue to associate with the failure.

[2017-07-24 14:33] #2897 closed

[2017-07-24 14:58] steveharter commented on #2892
I have repro'd issue on 10.10.3 (Yosemite). Currently investigating

[2017-07-24 15:23] steveharter commented on #2892
My repro was different, going to follow up on that separately:
[code]

Currently upgrading my mac to attempt repro on 10.12

[2017-07-24 19:23] steveharter commented on #2892
I was not able to repro on 10.12. And no, it's not supposed to think you're on Linux.

Based on the assert line numbers being off with respect of release 2.0 code, it is loading a different \ older version of the CLR at runtime for some reason.

Try setting `export COREHOST_TRACE=1`and then running your `dotnet new console` again to see where the CLR is being loaded from.

You can also try cleanin

[2017-07-24 22:53] livarcocc opened #2898 "runtime args error giving a bad message"
_From @janvorli on July 24, 2017 22:51_

@pynixwang commented on [Sun Jun 25 2017](https://github.com/dotnet/coreclr/issues/12446)

[code]

when i use dotnet runtime but dll path is error,  `dotnet` show me this bad message, it 's very hard to find the problem. other errors also show this message.

_Copied from original issue: dotnet/cli#7249_

[2017-07-24 22:56] omajid commented on #2855
See https://github.com/dotnet/cli/issues/3773 and https://stackoverflow.com/documentation/.net-core/9592/components-and-versioning-in-net-core/29628/identifying-versions#t=201707242256041962641

[2017-07-25 20:32] steveharter commented on #196
@mellinoe and I had a discussion on this, using an approach similar to what he has already prototyped.

Tentatively flagging this as 2.1 until we can fully prioritize and schedule that work.

[2017-07-27 18:57] steveharter commented on #675
Options
1) Extend --info. It would list shared frameworks, and then SDKs.
2) Add --list-runtimes and --list-sdks
3) Add --list-versions (for both)

I think option 1 is straightforward and prevents another one or two new commands. However, for options 1 and 3, any tooling that would want this information would have to parse the output to get the appropriate information.

Also linking this related i

[2017-07-27 19:04] Petermarcu commented on #675
Take a look here: https://github.com/faniereynders/dotnet-sdk-helpers . Seems like a good user experience.

The host should have an API for returning the list of SDK's and runtimes. The SDK should then have the command in it to set and manage active SDK's.

The runtime should have a `--runtimes` verb that will list the available runtimes that could be passed to `--fx-version`. The --list-sdk's com

[2017-07-28 18:36] steveharter commented on #675
Proposal for dotnet.exe host additions:
[code]

Optional addition (not required, but may be useful):
[code]

These are just the host additions; the SDK can then later be extended to add first-class support such as `sdk <new version>`

[2017-07-31 17:57] livarcocc opened #2943 "Problem on Debian Buster (Testing)"
_From @matiux on July 30, 2017 21:11_

When I run `dotnet new console -o hwapp` on Debian Buster (Debian Tetsing) I get this:

[code]

$dotnet --info

.NET Command Line Tools (2.0.0-preview2-006391)

Product Information:
 Version:            2.0.0-preview2-006391
 Commit SHA-1 hash:  ef5d4b47c3

Runtime Environment:
 OS Name:     debian
 OS Version:
 OS Platform: Linux
 RID:         debian-x64
 Ba

[2017-07-31 17:57] livarcocc commented on #2943
_From @matiux on July 30, 2017 21:22_

Same thing with older version:

$ dotnet --info
.NET Command Line Tools (1.0.4)

Product Information:
 Version:            1.0.4
 Commit SHA-1 hash:  af1e6684fd

Runtime Environment:
 OS Name:     debian
 OS Version:
 OS Platform: Linux
 RID:         debian.8-x64
 Base Path:   /opt/dotnet/sdk/1.0.4

[2017-07-31 17:58] livarcocc commented on #2943
@steveharter can you investigate first and if this is a CLI issue, please, re-activate the issue there?

[2017-07-31 18:36] Petermarcu commented on #2943
@janvorli , I would expect that from 1.X but in 2.0, we've tried to be more portable. For the 2.0 attempt, we should try to understand where the seg fault is happening.

[2017-07-31 18:59] Petermarcu commented on #2519
@ericstj , Can you follow up on this one to see if we should update the packages?

[2017-07-31 19:00] Petermarcu commented on #1561
@wtgodbe , can you take a look and give an update?

[2017-07-31 19:31] steveharter commented on #2943
Working on repro...

[2017-07-31 19:35] ericstj commented on #2519
These packages are fine.  The question is should we include the updates in NETCore.App (and the shared framework).  If so, then we should update https://github.com/dotnet/core-setup/blob/release/1.0.0/pkg/projects/Microsoft.NETCore.App/project.json. (note: release/1.0.0 branch)

This is more of a servicing policy decision, so I'll defer to @leecow.

[2017-07-31 19:44] wtgodbe commented on #1561
Looks like I let this one slip through the cracks - my mistake. Here's a PR that ports the relevant changes: https://github.com/dotnet/core-setup/pull/2944. Putting up the same for 1.1.0 now.

[2017-07-31 19:47] wtgodbe commented on #1561
https://github.com/dotnet/core-setup/pull/2945 is the PR for 1.1.0, for issue https://github.com/dotnet/core-setup/issues/1562

[2017-07-31 21:00] leecow commented on #2519
What changes are included in the updates?

[2017-07-31 21:20] wtgodbe commented on #1561
@Petermarcu do these PRs need to go through shiproom?

[2017-07-31 22:21] steveharter commented on #2943
I was unable to repro the crash. Please try my configuration or let me know any differences.
1) Pull ISO from https://cdimage.debian.org/cdimage/daily-builds/daily/arch-latest/multi-arch/iso-cd/
2) Install ISO on Windows Server 2012R2 via Hyper-V
3) Follow docker commands at https://github.com/dotnet/dotnet-docker/blob/master/2.0/sdk/stretch/Dockerfile
4) Run various `dotnet` commands including `n

[2017-07-31 23:38] vellozzi opened #2947 "Building core-setup on Amazon Linux"
I can't find build instructions in this repo to build on Linux so I want to make sure what I'm doing is correct.

Here's what I did:
1.  clone the core-setup repo to my Amazon Linux 2015 EC2 instance
2.  switch to the release/2.0.0 branch.
3.  run ./build.sh from the root of the repo

"Command execution succeeded."

Is the build.sh script the correct thing to do, even though it's undocumented?
Can

[2017-08-01 02:31] Petermarcu commented on #1561
This is a test only change right? If so, go ahead and make the changes.

[2017-08-01 02:36] wtgodbe commented on #1561
That is correct - merged the 2 PRs.

[2017-08-01 02:36] #1561 closed

[2017-08-01 02:36] #1562 closed

[2017-08-01 17:04] livarcocc opened #2954 "dotnet ***.dll - Segmentation fault on Ubuntu ARM 32"
_From @mubavoice on August 1, 2017 15:40_

## Steps to reproduce
1. Install .net Core SDK 2.1.0-preview1-006958
2. add signalR into the project
3. compile the project and deploy to Linux Ubuntu mate running Ubuntu 16.04 in ODroid-xu4 (arm32) ( runtime already installed in Ubuntu with the same version of the runtime).
4. run the dotnet web site with dotnet dlll-name.dll

## Expected  behavior
1. Th

[2017-08-01 17:07] Petermarcu commented on #2954
@Eilon as FYI, both of these appear to be in the web stack.

[2017-08-01 22:11] steveharter commented on #2898
Similar to https://github.com/dotnet/core-setup/issues/2845 which I'm working on

[2017-08-02 04:51] alexvy86 commented on #2113
@eerhardt / @mikeharder I'm seeing the same error ('Cannot find compilation library location for package <package-name>') with a barebones MVC under Windows, when I reference a DLL file in the web app. Do you think that is addressed by the fix as well? Note that the DLL is just a file, not a NuGet package, and by the error text it sounds like something is trying to treat it as a package. It seems

[2017-08-02 19:41] rakeshsinghranchi commented on #2817
@leecow  , PTAL and suggest the description text.

[2017-08-02 20:03] rakeshsinghranchi commented on #2715
@wli3 are you still blocked on this ?

[2017-08-02 20:08] rakeshsinghranchi commented on #2697
yes, 1.x has caused side by side issue with later version of framework as well.

[2017-08-02 20:09] rakeshsinghranchi commented on #2613
@wli3  can you please move this issue to CLI repo ?

[2017-08-02 20:14] rakeshsinghranchi commented on #2531
@dagood , does this issue fall under build tools ? can you share more context about auto-update, why and how it is used ?

[2017-08-02 20:15] rakeshsinghranchi commented on #2413
@karajas , I am assuming this work has already completed. can you please update the issue accordingly?

[2017-08-02 20:21] dagood commented on #2531
No, Core-Setup 1.0.0 and 1.1.0 do not use BuildTools for auto-update. Auto-update produces PRs like these, which update the dependencies Core-Setup uses to build: https://github.com/dotnet/core-setup/pull/2958 https://github.com/dotnet/core-setup/pull/2959.

Here are some docs related to the general auto-update process:
 * https://github.com/dotnet/buildtools/blob/master/Documentation/dependency-a

[2017-08-02 20:34] ericstj commented on #2519
Primarily packaging related issues for UWP: https://github.com/dotnet/corefx/pull/9783

[2017-08-02 20:45] wli3 commented on #2715
Did you change the upload method? Or do you have stable upload now? You can close it for the specific issue, but i am afraid will be come back again if root cause is not solved, like in CLI repo.

We are using the same way of uploading to apt-cat, and there is a bug for them to download(file is corrupted every now and then) from blob after we send the url of in the blob. So either a check sum mech

[2017-08-02 20:45] ericstj commented on #2519
For stack trace we recompiled with lower versioned dependencies so that shared library wasn't invalidated: https://github.com/dotnet/corefx/pull/9783/commits/cceae704c5028ea6fd487a84ca69d720f050f417

For Compression we updated the native packaging to fix arm RID of clrcompression package https://github.com/dotnet/corefx/issues/7436, without that clrcompression was missing from UWP arm.
https://git

[2017-08-02 20:45] #2519 closed

[2017-08-02 20:50] ellismg commented on #2613
Just a note, based on something @omajid mentioned to me in the past, RPM and DEB should support xz compression (which should match the LZMA we used for the cache). So for the installers, it may make sense to just lay stuff down when building the directory we are going to scaffold the installer from and not ship the LZMA archive.  That means when you `yum install dotnet` the package manager lays do

[2017-08-02 21:06] ChadNedzlek opened #2962 "Remove Ubuntu 16.10 from all builds"
Currently we are building and packaging Ubuntu 16.10. That OS is no longer supported, so we should remove the building and packaging of that configuration.

See also https://github.com/dotnet/coreclr/issues/13173 and https://github.com/dotnet/corefx/issues/22880

[2017-08-02 21:37] ChadNedzlek opened #2963 "Fix (or add more diagnostics) to the zypper step of build.sh"
Currently, the daily builds of the openSUSE builds are failing with exit code 106 from a call to zypper. Unfortunately, there is no more information in the logs.

We should fix the problem, or at least do what the error message suggests, and add a call to `zypper ref -f`, so that next time it fails, we have more information to to assist in tracking down the issue.

[2017-08-02 21:39] omajid commented on #2613
You know, it always seems strange to me that we care about compressing one part (the lzma archive) but not the rest of the install... Seems to me like we should lay out everything on disk and then compress it using the best compression we can.

[2017-08-03 00:59] Eilon commented on #2954
Is it possible to get a stack trace for a seg fault? Without that it's impossible to say what's happening here.

[2017-08-03 02:45] halter73 commented on #2954
If you're running from a bash shell, you should be able to run `ulimit -c unlimited` prior to executing the dotnet process. This tells bash to capture and save a core dump of the crashing process no matter the size. On my debian VM, this creates a file named "core" in the PWD, but this might depend on how you're distro is configured.

You can then install lldb-3.6 and use that to debug the core du

[2017-08-03 20:37] wtgodbe opened #2969 "Add linux-arm64 to official builds"
This is needed for validation now that we support the linux-arm64 RID.

[2017-08-04 11:37] julielerman commented on #2279
FWIW, I'm getting dependency errors on one of the packages mentioned by @rakeshsinghranchi when trying to install the runtime for latest 2.0.0 on Debian 9. Is that due to the 24 hour delay? Downloaded deb files from Daily Builds page on under the 2.0.X column.

[code]

[2017-08-04 17:44] mubavoice commented on #2954
I will try to get the dump and get back to you.

[2017-08-04 22:04] tuespetre opened #2981 "Cannot resolve assembly paths for reference compilation libraries"
There is no implementation of `ICompilationAssemblyResolver` that will resolve paths for a `CompilationLibrary` with a `Type` of `"reference"`, so when trying to use libraries like `Microsoft.AspNetCore.Mvc` that call `ResolveReferencePaths`, an exception is thrown:

[code]

This is a regression with 2.x, as the following used to work:

[code]

I have been reading everything I can find surrounding

[2017-08-04 22:36] wli3 commented on #2613
This issue was moved to dotnet/cli#7375

[2017-08-04 22:36] wli3 commented on #2613
@rakeshsinghranchi please help me close this, I don't have the permission

[2017-08-05 04:47] davidfowl opened #2983 "Don't assume dotnet.exe is the only host"
It seems that the logic in hostfxr.dll assumes dotnet.exe is the process that is activating it. I'm trying to launch the .NET Core host from a native IIS module and I can't exactly replicate the lookup behavior because it assumes the initial search path is the executing process instead of the hive where hostfxr.dll is loaded from:

[code]

Versus running from the command line:

[code]

/cc @nguerr

[2017-08-05 13:58] mario-grgic opened #2986 "OpenSSL install location is in /usr/local/ssl and should not be symlinked in /usr/local/lib"
Current .NET core installer assumes that OpenSSL libraries are available in /usr/local/lib. In fact the installation instructions suggest that users symlink to OpenSSL installed elsewhere in /usr/local/lib.

However, OpenSSL when built from source installs by default in /usr/local/ssl:

https://wiki.openssl.org/index.php/Compilation_and_Installation#PREFIX_and_OPENSSLDIR

OpenSSL libraries are in

[2017-08-05 19:25] tuespetre commented on #2981
Pinging @eerhardt just in case, I feel it's important to address this for 2.0

[2017-08-07 00:14] livarcocc opened #2990 "dotnet missing versions of GLIBCXX (OpenSuSe 11.3)"
_From @carlosm2011 on August 4, 2017 23:12_

Hi.
This is what I get when running any dotnet command (launching):

[root@user lib64]# dotnet
dotnet: /usr/lib64/libstdc++.so.6: version `GLIBCXX_3.4.18' not found (required by dotnet)

These are the lines contained in usr/lib64

[root@user lib64]# strings libstdc++.so.6|grep GLIBC

GLIBCXX_3.4
GLIBCXX_3.4.1
GLIBCXX_3.4.2
GLIBCXX_3.4.3
GLIBCXX_3.4.4
GL

[2017-08-07 00:14] livarcocc commented on #2990
_From @omajid on August 4, 2017 23:51_

https://en.opensuse.org/Archive:Portal:11.3 says:

Do we really want to support something that has been EOL for 5 years?

[2017-08-07 00:15] livarcocc commented on #2990
Moved this to the runtime, since the CLI just follows the runtime directive on this.

[2017-08-07 15:42] steveharter commented on #2983
This behavior is by design, so marking this issue as an enhancement.

What is the expected timeframe of new behavior around this?

In order to use hostfxr.dll location, we would need to discuss options. Currently hostfxr is located in a folder like this: ```dotnet/host/fxr/<hostversion/``` so we would need to back up a couple directories to find the shared locations ```dotnet/shared/Microsoft.NETC

[2017-08-07 16:29] gkhanna79 commented on #2806
@jyoungyun I believe @weshaggard and @Petermarcu are in the process of enabling the servicing mode for release/2.0.0 branches and can help coordinate that effort.

Congratulations :)

[2017-08-08 21:44] #2820 closed

[2017-08-09 06:21] lyptt opened #3008 "Unable to install dotnet-dev-1.0.4 on Ubuntu Xenial (16.04)"
This appears to be the same issue as #2661, but whatever was fixed is now broken again, or at least it's not working for me on a fresh install.

Following the steps to the letter [here](https://www.microsoft.com/net/core?WT.mc_id=Blog_CENews_Announce_CEA#linuxredhat) gives me the following error:

[code]

[2017-08-09 19:07] rakeshsinghranchi opened #3012 "Stop building Ubuntu16.10 packages ( 2.1.0 release )"
Stop building Ubuntu16.10 runtime packages . This work involves removing the following :
1. Build definition for Linux
2. Update Readme

[2017-08-09 19:09] rakeshsinghranchi commented on #3012
cc @leecow @Petermarcu @wli3

[2017-08-09 19:10] rakeshsinghranchi opened #3013 "Enable building Ubuntu17.04 package in 2.1.0 branch ( master )"
Enable building Ubuntu17.04 runtime packages

[2017-08-09 19:11] rakeshsinghranchi commented on #3013
cc @leecow @Petermarcu  @wli3

[2017-08-09 19:12] rakeshsinghranchi opened #3014 "Enable building Ubuntu17.10 package in 2.1.0 branch ( master )"

[2017-08-09 19:12] rakeshsinghranchi commented on #3014
cc @leecow  @Petermarcu @wli3

[2017-08-09 19:18] rakeshsinghranchi commented on #3008
cc @leecow @wli3 . Lee - can you take a look at this please ?

[2017-08-09 20:28] rakeshsinghranchi opened #3015 "Enable building Debian.10 package in 2.1.0 branch ( master )"

[2017-08-09 20:28] rakeshsinghranchi commented on #3015
cc @leecow  @Petermarcu @wli3

[2017-08-10 08:13] hamidmayeli commented on #2981
I have a similar problem, however, the stack trace is slightly different with [this](https://github.com/dotnet/sdk/issues/1213) article.

`InvalidOperationException: Cannot find compilation library location for package 'Olive'
Microsoft.Extensions.DependencyModel.CompilationLibrary.ResolveReferencePaths(ICompilationAssemblyResolver resolver, List<string> assemblies)
Microsoft.Extensions.Dependency

[2017-08-10 12:44] animeshb commented on #2943
I have debian buster and I have the same thing.

I found this comment [segfault following debian tutorial #649 ](https://github.com/dotnet/core/issues/649#issuecomment-309960268) which mentions renaming `libssl.so.1.0.0` lib to `libssl.so.1.0.0.old`.

Doing this worked, but the moment I do an apt-get update and upgrade, I see the segmentation fault again since the `libssl.so.1.0.0` lib is getting

[2017-08-10 13:26] tuespetre commented on #2981
@hamidmayeli sorry about that, be sure to put `new MvcConfiguration().ConfigureMvc(mvcBuilder);` in your `ConfigureServices`. Just having the class exist is good for the precompilation of views, but for runtime, you have to add that. Sorry, I should have specified that for any passersby.

[2017-08-10 14:34] jerboaa opened #3023 "'dotnet --version' requires SDK, but 'dotnet' shows '--version' option"
## Steps to reproduce
1. Install only dotnet runtime (no SDK).
2.
     $ dotnet --version
     Did you mean to run dotnet SDK commands? Please install dotnet SDK from:
        [cmd to install SDK]

Yet, if I invoke just `dotnet` I get:

    $ dotnet
    Usage: dotnet [options]
    Usage: dotnet [path-to-application]
    Options:
      -h|--help            Display help.
      --version         Disp

[2017-08-10 14:36] omajid commented on #3023
Perhaps `--info` can be shown instead of `--version` here? It would do mostly the same thing from a user's point of view.

[2017-08-10 15:25] steveharter commented on #2943
@animeshb did you do a clean install of buster or did you upgrade?

What does your /etc/apt/sources.list contain. I have:
[code]

[2017-08-10 15:32] steveharter commented on #2943
@animeshb also be sure you have libssl1.0.2 installed (that is in the docker scripts I mention earlier). I have:
[code]

[2017-08-10 16:46] animeshb commented on #2943
Steve,

I started from Jessie last year and then upgraded to Stretch earlier this year and came up to buster two months back.

This is my sources list:

    deb http://httpredir.debian.org/debian buster main non-free contrib
    # deb-src http://httpredir.debian.org/debian buster main non-free contrib

    deb http://security.debian.org/ buster/updates main contrib non-free
    # deb-src http://se

[2017-08-10 17:35] steveharter commented on #2943
@animeshb do you know why it is insisting on pulling the `libssl.so.1.0.0` version? Can you `apt-get remove ssl1.0.0` that?

[2017-08-10 18:03] animeshb commented on #2943
I removed ssl1.0.0 and a bunch other stuff I am sure were not being used.

[code]

After this, I was able to run dotnet new console and other project types.

I will try other things and see if anything else breaks.

Thank you!

[2017-08-10 18:06] animeshb commented on #2943
I did a upgrade and dist-upgrade and that did not create any trouble. `dotnet new` ran fine after this.

[2017-08-10 19:24] steveharter commented on #2943
Glad to know it was a configuration problem! Thanks for reporting this as it may help others.

I'm going to close this since @animeshb issue appears fixed and @matiux has not replied in a while. Please re-open if there are additional segfaults with buster.

[2017-08-10 19:24] #2943 closed

[2017-08-11 01:32] oscarvarto commented on #1599
Any updates for availability on Arch Linux based distros?

[2017-08-11 03:29] omajid commented on #1599
The generic linux-x64 binary for 2.0 (preview) should work on arch. Can you try that? We are also working to make it easier to build .NET Core form source. We have a Fedora package here that you could try to adapt and build on arch too: https://pagure.io/fedora-dotnet/tree/f26

[2017-08-11 16:25] ericstj opened #3030 "Master is still building `netcoreapp2.0`"
Related: https://github.com/dotnet/core-setup/issues/2437

For now I recommend we just move it to 2.1 and keep the related issue tracking support for cross-targeting.

/cc @weshaggard

[2017-08-11 22:26] benaadams commented on #2007
From https://github.com/dotnet/coreclr/issues/13340

[2017-08-14 23:14] leecow commented on #2990
.NET Core is not actively supported on OS versions where are end-of-life. See the [OS Lifecycle policy](https://github.com/dotnet/core/blob/master/os-lifecycle-policy.md) doc for details.

[2017-08-14 23:14] #2990 closed

[2017-08-14 23:24] leecow opened #3044 "Update RPM package version epoch to 1"
Currently yum/dnf update visibility rules are causing the preview package to hide GA. A test with the azlinux folks has shown that updating the epoch field will resolve the issue.

This needs to be done in release/2.0.0 and master

cc @wli3

Background:
* https://www.redhat.com/archives/rpm-list/2000-October/msg00075.html
* http://blog.jasonantman.com/2014/07/how-yum-and-rpm-compare-versions/

[2017-08-15 14:42] tebeco opened #3049 "Improuvment: Hight DPI support"
## Steps to reproduce
* Find a computer with a 4k compliant screen
* Set resolution to 3840x2160
* Set scale to 175% (i should have tried changing scale to see how it affect font)
* Run this installer

## Expected  behavior
Fonts from text AND buttons, should not be blurry

## Actual behavior
Fonts from text AND buttons, are really blurry

## Environment data
Here is an example of the 2.0.0 instal

[2017-08-15 18:10] ericstj opened #3054 "Host tests appear to be running on tool's shared framework rather than the one just built"
From https://github.com/dotnet/core-setup/pull/3052#issuecomment-322542588

It may be intentional that these projects run on the tool's shared framework, if so then we should be explicit about that.

[2017-08-15 18:12] ericstj commented on #3054
/cc @weshaggard

[2017-08-15 20:00] pranavkm commented on #2981
Here's a couple other workarounds for 2.0.0 until we have a resolution:

* If your application does not have any views, add `<MvcRazorCompileOnPublish>false</MvcRazorCompileOnPublish>` to disable Razor view compilation.
* If your application does have views, you can replace the default `MetadataReferenceFeatureProvider` to not throw when it encounters dll references:

[code]

And in your Startup:

[2017-08-15 20:07] #3030 closed

[2017-08-15 22:28] steveharter commented on #3054
Looks like it was this way from beginning (https://github.com/dotnet/core-setup/commit/a5ac221ff6ebf6e8be292289f37946a5cbcaff72#diff-d226e634e024a5cd557eec1e1af864bc)

I'll run a test tommorrow to see if a local change to the store's source code propagates to the test's runtime

[2017-08-16 11:41] gegenschall commented on #1599
I'm sorry, I never reported back. My apologies!

Arch packages are using the recommended naming scheme since about 2.0.0-preview1. They are available here:
[dotnet](https://aur.archlinux.org/packages/dotnet/) - "Meta package", depends on dotnet-runtime-2.0
[dotnet-host](https://aur.archlinux.org/packages/dotnet-host/)
[dotnet-runtime-2.0](https://aur.archlinux.org/packages/dotnet-runtime-2.0/)
[do

[2017-08-16 11:57] omajid commented on #1599
Not sure how Arch normally does it, but  on Fedora-land we have to make pre-release packages have a 0 "fedora release version" just to handle cases like this.

Our Preview 2 packages are versioned as `2.0.0-0.3.preview2` right now so we can move to `2.0.0` later.

[2017-08-16 15:05] msd90 opened #3061 "Specified SDK Version not found on .Net 2.0 on cli"
Installed .Net Core 2.0 with the Ubuntu commands given. Typed `dotnet --version`.

Here is the output:
`The specified SDK version [1.0.0-rc4-004771] from global.json [/home/stonedge1/Projects/dotNet Core/aspnetprjs/ConferenceBarrel/global.json] not found; install specified SDK version
Did you mean to run dotnet SDK commands? Please install dotnet SDK from:
  http://go.microsoft.com/fwlink/?LinkID=

[2017-08-16 15:11] msd90 commented on #3061
Figured it out:

Changed .json file to:

[code]

[2017-08-16 15:11] #3061 closed

[2017-08-16 20:49] steveharter commented on #2981
Possible fix for 2.01 is to add new resolver to Microsoft.Extensions.DependencyModel\Resolution that understands CompilationLibrary

Assigning to @eerhardt ; he will be able to evaluate this next week

[2017-08-17 21:56] leecow opened #3067 "Clean up Homebrew steps in the Mac installer UI"
<img width="618" alt="screen shot 2017-08-17 at 2 54 47 pm" src="https://user-images.githubusercontent.com/2212879/29435484-118c0a26-835c-11e7-89a5-d0abd471d858.png">

[ ] Homebrew link is bad
[ ] Change the paragraph into a series of steps

* Install [HomeBrew](https://brew.sh/)
* brew install openssl
* brew link –force openssl

[2017-08-18 13:47] annerajb commented on #2819
Agree maybe the HRESULT can be translated to a string?

[2017-08-21 13:26] nzain commented on #2407
While you can obtain the full sdk for `linux-x64` (official download from https://www.microsoft.com/net/download/core ) this is not the case for `linux-arm`, where you typically pick a download from https://github.com/dotnet/core-setup which, in turn, redirects to something like this:

https://dotnetcli.blob.core.windows.net/dotnet/Runtime/release/2.0.0/dotnet-runtime-latest-linux-arm.tar.gz

To m

[2017-08-21 14:46] nzain opened #3072 "linux-armhf 2.0.1-servicing is incompatible with official 2.0.0 version"
Since dotnet core 2.0 was officially released, my app built on win-x64 does not run on linux-arm anymore. Put differently: Where is the matching linux-arm download for dotnet core 2.0.0? (I know that arm support is experimental)

Related: #2862 #1530

## Steps to reproduce
- On your favorite x64 (build) machine download the final dotnet core 2.0.0 release from https://www.microsoft.com/net/downloa

[2017-08-21 17:00] steveharter opened #3073 "Unable to build master due to UWPShim errors on Windows"
## Steps to reproduce
Attempt to build from master branch on Windows 10

## Expected  behavior
No build errors

## Actual behavior
[code]

[2017-08-22 01:21] ozitraveller opened #3077 "Microsoft.VisualStudio.Web.CodeGeneration.Design doesn't install after upgrade to core 2.0"
## Steps to reproduce
After the upgrade to dotnet core 2.0, I created a dotnet core 1.1 webapi project without docker support. While installing the components for the Scaffold-DbContext I need to install Microsoft.VisualStudio.Web.CodeGeneration.Design version 1.1.1

## Expected  behavior
I expected to be able to still create dotnet core 1.1 solutions

## Actual behavior
Package Microsoft.Composit

[2017-08-22 08:16] Zuendelmeister commented on #2407
Hi @nzain,

thanks for this. I will check it out =)

Best regards,
Zuendelmeister

[2017-08-22 17:37] wli3 opened #3078 "Install location is not in Ubuntu path"
_From @bassebaba on August 22, 2017 16:23_

## Steps to reproduce
1) Follow steps here: https://www.microsoft.com/net/core#linuxubuntu
2) At step (3), you get a "command not found"

## Expected  behavior
dotnet-binary should run

## Actual behavior
Dotnet is installed in /usr/share/dotnet/

Checking the default path-variable for Ubuntu 16.04, theres no /usr/share/... :
[code]
So running "dotnet" f

[2017-08-22 17:37] wli3 commented on #3078
_From @omajid on August 22, 2017 16:42_

Maybe @wli3 has an idea? He worked on the packages.

[2017-08-22 17:37] wli3 commented on #3078
Hi @bassebaba
I just tried with a fresh Ubuntu 16.04 on Azure VM that is published by canonical. no repo. There is a symlink from /usr/share/dotnet to /usr/bin/dotnet after installation without extra command.

This package of the executable, dotnet-host, is maintained in core-setup. I'll move it there

[2017-08-22 18:39] Chrisboh opened #3079 "Core-Setup dev/defaultintf builds are finalizing to master channel"
@dagood commented on [Wed Aug 09 2017](https://github.com/dotnet/core-eng/issues/1473)

Someone else saw https://dotnetcli.blob.core.windows.net/dotnet/Runtime/master/latest.version with `2.1.0-dev-di-25608-01`, and later when I looked at it, it had `2.1.0-preview2-25609-02`.

It looks like [dev/defaultintf dir.props#L21-L22](https://github.com/dotnet/core-setup/blob/7a391b9234369c48fe8d809d549e34

[2017-08-22 18:54] nattress commented on #3073
@steveharter Does adding the Universal App tooling in the VS installer fix your build woes?

[2017-08-22 20:13] nzain commented on #3072
Just to clarify, when working with dotnet core 2.0.0-previewX on both win-x64/linux-arm everything was working as expected.

[2017-08-23 00:08] felyperennan commented on #2981
After upgrading to 2.0 i suffered for a long day until this hack by @pranavkm "worked the issue around" for me.
My first shock was that PreserveCompilationContext came enabled by default, it caused severe problems with non-nuget assemblies that were added as path reference and Cefsharp.Core. I read somewhere about razor reference paths, but was unable to correctly configure that.
When I disabled P

[2017-08-23 15:45] eerhardt opened #3081 "Need to backport #2501 to 1.x of DependencyModel"
## Steps to reproduce
See https://github.com/dotnet/sdk/issues/1488 for the issue

Try to build/run an ASP.NET 1.1 MVC app with the 2.0 SDK.

## Expected  behavior
It should work.

## Actual behavior
`InvalidOperationException: Can not find assembly file Microsoft.CSharp.dll at 'C:\Projects\Temp\VS2017Issue\WebApplication1\bin\Debug\net462\refs,C:\Projects\Temp\VS2017Issue\WebApplication1\bin\Debu

[2017-08-23 16:33] karelz commented on #3081
I assume we have to service 2.0 for that, right?

[2017-08-23 16:36] eerhardt commented on #3081
The necessary change is already in 2.0.  The proposed fix here is to backport the change into 1.1.

The issue is that using the 2.0 SDK is breaking 1.1 MVC apps because it is copying files into the `refs` folder, which the 1.1 DependencyModel isn't expecting.

[2017-08-23 16:50] karelz commented on #3081
I thought we're using 2.0 SDK also for 1.1. Marking as 1.1.x then. Can you please send it to shiproom?

[2017-08-24 16:47] steveharter commented on #2811
@leecow can you provide an update on this please (Cleaning up 2.0.0 issues)? I have reported local success with Buster.

[2017-08-24 16:50] steveharter commented on #2563
@leecow please update Milestone to 2.1 or provide update. Thanks

[2017-08-24 17:37] weshaggard opened #3085 "Add ValidateExactRestore task to our meta-packages"
Currently if nuget cannot find a package version it gives a warning and picks the next highest version if one is available. This potentially causes our builds to succeed but consume the wrong binaries. This is particularly worrisome in our release branches. We should add some logic to call our ValidateExactRestore task (https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.Ta

[2017-08-24 17:59] leecow commented on #2811
The azlinux production feed was signed with the wrong cert. This was fixed yesterday and I've confirmed our feed is working on Deb9. I'll be updating the getting started guides to use the following:

1. `curl https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > microsoft.gpg`
1. `sudo mv microsoft.gpg /etc/apt/trusted.gpg.d/microsoft.gpg`
1. `sudo sh -c 'echo "deb [arch=amd64] https

[2017-08-24 18:00] leecow commented on #2563
RPM feed is up and getting started guide will be updated today.

[2017-08-24 21:52] eerhardt commented on #2307
Closing since there is no activity on the above questions.

[2017-08-24 21:52] #2307 closed

[2017-08-25 17:39] sdmaclea opened #3092 "[Arm64/Unix] Need instructions to build core-setup for new RID/arm64-linux"
Need to add new arm64 Linux platform support.

Currently corefx and coreclr have RID and nuget pkgs.  Packages are not yet be published to Myget, so it is difficult to build test core-setup for arm64.

@janvorli I heard you were preparing documentation.
@RussKeldorph FYI

[2017-08-25 19:24] nzain commented on #2862
What is the current state - is a perfect version match required (major.minor.build.rev)? If I remember correctly, I was working with slightly different versions (2.0.0-preview 1..2..3) and they were compatible, but I don't remember the exact version numbers (it worked, I didn't care). In #3072 we experience incompatibility (2.0.0 and 2.0.1) and the error message indicates versioning as a reason.

[2017-08-25 19:31] karelz commented on #2563
I'm gonna call it 2.0 servicing (2.0.x) as 2.0.0 is out of the door :)

[2017-08-25 19:32] karelz commented on #2716
@ericstj did it happen in 2.0 or do we need to do more work for 2.1 / 2.0.x (servicing)?

[2017-08-25 19:34] karelz commented on #2449
@rakeshsinghranchi it is assigned to you. Can you please work with @eerhardt on who does what and when? I moved it to 2.0 servicing milestone.

[2017-08-25 19:42] ericstj commented on #2716
It did not happen in 2.0.  I don't think it meets the bar for servicing but if folks want to do it we can.  It's just adding a reference to the Microsoft.NETCore.App package in core-setup.  It will help folks by avoiding unnecessary nuget package downloads when building standalone applications that have a mix of old (1.x) and new packages in the package graph.

[2017-08-25 19:47] karelz commented on #2716
Moving to 2.1 then.

[2017-08-25 23:06] wli3 opened #3094 "dotnet sln add <project> throws segfault"
_From @suvl on August 24, 2017 15:21_

## Steps to reproduce
I've ran `dotnet sln Sib.sln add src/Sib.Console.DataLoader/Sib.Console.DataLoader.csproj`
where the csproj is:

[code]

## Expected  behavior
Well, project gets added to the solution I believe.

## Actual behavior
`$ dotnet sln Sib.sln add src/Sib.Console.DataLoader/Sib.Console.DataLoader.csproj
Segmentation fault
`

## Environment data

[2017-08-25 23:06] wli3 commented on #3094
_From @suvl on August 24, 2017 15:25_

similar behaviour for `dotnet restore` and `dotnet run`

[2017-08-25 23:06] wli3 commented on #3094
_From @suvl on August 24, 2017 15:45_

Solved, in a bad way. Had to downgrade libcurl3 from version 7.52.1 to 7.38.0-4 (debian oldstable / jessie). Will keep it open 'cause this is not the optimal solution.

[2017-08-25 23:13] eerhardt opened #3095 "Disable NuGetFallbackFolder completely when building core-setup"
See https://github.com/dotnet/source-build/pull/118#issuecomment-325053281 for justification.

In general, we should ensure we aren't using any packages coming from the NuGetFallbackFolder of the .NET SDK we are using to build.  The assets being restored need to be coming from the real places that contain the NuGet assets we want to consume.  (i.e. MyGet, the `packages` folder for source-build, et

[2017-08-26 00:11] #2169 closed

[2017-08-26 00:19] karelz commented on #3067
Homebrew link was fixed in #3064 - not sure if it fixes also 1.1x though.

[2017-08-27 22:55] alucryd opened #3100 "Can't build 2.0.0 for armel (debian rootfs)"
## Steps to reproduce
Build v2.0.0 from the official tarball after generating a debian 8 rootfs.

  ./build.sh -release -verbose -CrossBuild=true -DistroRid=debian.8-armel -TargetArchitecture=armel -StripSymbols=true -SkipTests=true -DisableCrossgen=true

## Expected  behavior
Build should proceed until the end.

## Actual behavior
Build fails, build log: https://paste.xinu.at/2FE/

## Environment

[2017-08-28 09:57] janvorli commented on #3092
@sdmaclea if you already have packages for corefx and coreclr, then do the following steps.
First, create a new folder called e.g. combinednugets and then copy the nuget packages built in corefx and coreclr repo into this folder like this (assuming you are building a release version):
[code]
Now in the core-setup repo, run:
[code]
That should produce the core-setup packages and also run a core-set

[2017-08-28 10:01] janvorli commented on #3092
@sdmaclea  actually, I've forgotten to mention one thing. You'll also need to modify the dependencies.props in core-setup root folder. The CoreFxVersion element needs to have the version of the packages built in corefx, the MicrosoftNETCoreRuntimeCoreCLRPackageVersion the version of packages built in coreclr. Without that, the core-setup won't be able to pick them.

[2017-08-28 15:09] sdmaclea commented on #3092
@janvorli  Thanks I'll give it a try.

If you are writing formal docs, as suggested elsewhere...

should probably be
`cp -r /path/to/coreclr/bin/Product/Linux.arm64.Release/.nuget/pkg/* /path/to/combinednugets/`

[2017-08-28 15:20] janvorli commented on #3092
Oh, I am  sorry for forgetting to update the architecture for your case.

[2017-08-28 20:43] Const-me commented on #3072
@nzain, could you please write more on how to use your `publish -r linux-arm` workaround?
I’ve encountered the same error trying to run on ARM Linux, my `dotnet --info output` matches exactly.
But for my purposes, a 60 MB app is just fine, I only need to make a single one.

The question is, where exactly you are entering that `publish -r linux-arm`? I’m not building my stuff from command line, I’m

[2017-08-28 20:58] sdmaclea commented on #3092
@janvorli Looks like the instructions are incomplete it seems to be building x64 binaries.

I suspect I need to add ` -TargetArchitecture=arm64` to the build.sh command.

Some of the following might also want to be set
+ `-PortableBuild`
+ `-CrossBuild`
+ `-DisableCrossgen`

[2017-08-28 21:29] leecow opened #3107 "SUSE/OpenSUSE installer unable to resolve libcurl dependency"
zypper is unable to resolve the libcurl dependency in dotnet-runtime-2.0.0.rpm

[code]

[code]

libcurl is installed so perhaps the RPM definition needs indicate a min version.
[code]

[2017-08-29 01:59] XZiar opened #3111 "Not woring on arm64(aarch64) platform?"
I am trying to run dotnet core app on my arm64 board (armbian 5.27(a lightweight Ubuntu Xenial based Linux distribution), kernel:linux 4.11.1，arch:aarch64).
I am following [instruction for raspberry pi](https://github.com/dotnet/core/blob/master/samples/RaspberryPiInstructions.md)
But it's not wroking for failing to find libunwind.so.8.

I download core-setup from here https://dotnetcli.blob.core.

[2017-08-29 03:10] sdmaclea commented on #3092
I was able to cross build like this
[code]

[2017-08-29 03:10] #3092 closed

[2017-08-29 03:11] sdmaclea commented on #3092
Native build is not yet supported as the dotnet cli tools are not available

[2017-08-29 05:11] nzain commented on #3072
There is no good link, I could share. The best one I found is [this](https://www.hackster.io/Ra5tko/running-native-net-core-apps-on-raspberry-pi-arm-0bb717) but I never needed step 5. Long story short:

**On your x64 developer machine**
1. Install dotnet core 2.0 SDK
2. `dotnet new console`
3. edit the csproj file and add the `linux-arm` [RID](https://github.com/dotnet/docs/blob/master/docs/core/r

[2017-08-29 08:54] janvorli commented on #3092
Great, I have not realized you were cross building the stuff and I have thought we already have a bootstrap dotnet cli.

[2017-08-29 14:59] Petermarcu commented on #3072
The issue is likely that an app compiled against 2.0.0 won't roll forward to a prerelease version. Sounds like the issue is mainly that we haven't made a shared runtime for 2.0.0 arm32 available. If you had that, would this be resolved?

[2017-08-29 15:02] sdmaclea commented on #3092
@janvorli Do you have any hints on creating the arm64 [bootstrap] CLI?  Should we open an issue in core/cli?

[2017-08-29 15:02] sdmaclea commented on #3092
@janvorli BTW thanks.

[2017-08-29 15:37] nzain commented on #3072
@Petermarcu yes, this should resolve the issue. Goal is to use "mainstream" dotnet core on developer machines (currently the stable 2.0 release), because it will be used for many different projects and it should be the stable channel. It would be great to have a matching 32bit runtime for linux-arm available somewhere - this is for only one of our projects. I know that arm support is not official,

[2017-08-29 21:16] Petermarcu commented on #3072
@richlander @leecow we need to somehow add links to the downloads for the unsupported/pre-release type builds that came along with 2.0.0.

@nzain you can download it from here:
https://dotnetcli.blob.core.windows.net/dotnet/Runtime/2.0.0/dotnet-runtime-2.0.0-linux-arm.tar.gz

[2017-08-29 22:59] eerhardt commented on #1553
Note - I removed the 'dead' tests because they were causing build warnings, which turn into build errors.

If this work item gets implemented, you revert https://github.com/dotnet/core-setup/commit/29c18275d557afcfa24f8007226556ffd5f2a5d5 to bring the tests back.

[2017-08-30 00:08] MattGal opened #3117 "Add support for OpenSuse 42.2 in .NET Core-Setup 1.1.0"
This issue tracks ensuring that your team has considered how to handle OpenSuse 42.2 builds in your .NET Core 1.1.0 repositories.

Since .NET Core 1.1 is an LTS release, per @leecow we need to support OpenSUSE 42.2 with it.  Unfortunately, when 1.1 release branches were snapped, 42.1 was the used version.  It turns out there was not even a RID (runtime identifier) that matches this build (In the 1

[2017-08-30 14:17] janvorli commented on #3092
@sdmaclea I am just learning about how the full CLI is built. Building the bootstrap CLI is quite straightforward, I have a shell script that does that end to end that I am going to publish. But there are some tricky parts. The way the bootstrap cli is created is that we take an existing cli for another platform (call it a seed cli) and replace the native components with native components built fo

[2017-08-30 14:35] sdmaclea commented on #3092
@janvorli It sounds a lot like how I build and run asp.net benchmarks.  Sounds like I can just use the version specified by dependencies.prop.  I'll look at building CLI for x64 w/o crossgen.  I look forward to your scripts.

[2017-08-30 14:43] nzain commented on #3072
@Petermarcu thanks for the link, that runtime version is compatible with the current sdk. Feel free to close this ticket, when this hidden link has some more visibility.

[2017-08-30 15:18] nzain opened #3122 "linux-arm runtime store is empty"
Publishing a shared-framework app for `linux-arm` runtime from win-x64 will trim libraries that do not ship with the [linux-arm 2.0.0 runtime](https://dotnetcli.blob.core.windows.net/dotnet/Runtime/2.0.0/dotnet-runtime-2.0.0-linux-arm.tar.gz). The app won't run on the arm device.

Trimming is explained [here](https://github.com/dotnet/standard/blob/release/2.0.0/Microsoft.Packaging.Tools.Trimming/

[2017-08-30 15:20] omajid commented on #3122
Some workarounds are documented at https://github.com/dotnet/designs/issues/10

[2017-08-30 15:40] nzain commented on #3122
I see that this is kind of a distribution problem. I thought that the runtime store should be contained with the runtime itself (and thus being an issue of the core-setup, that should bundle it properly). Eventually this store is filled when the dotnet CLI runs the first time? I remember it took a while. However, on linux-arm there is no CLI and the runtime is bare bones, no asp.net.

I have no cl

[2017-08-30 15:59] Petermarcu commented on #3122
@Eilon @DamianEdwards @muratg where can someone get the ASP.NET Runtime store to put on their arm32 device? Is there a zip somewhere?

There is also a setting that can be added to your project to opt out of the ASP.NET Runtime Store. I forgot what it is but the same folks should be able to share what that is.