[2018-07-16 22:13] Zhentar commented on #4370
Looks like I added this to my project file: `<PackageReference Include="runtime.win-x64.Microsoft.Private.CoreFx.NETCoreApp" Version="4.6.0-preview1-*" />` (I think probably before I found the 3.0 SDK preview installer while I was trying to figure out how to try the 3.0 core CLR hardware intrinsics). However, I did not have any problems with most packages - I don't know if it was choosing the SDK'

[2018-07-17 13:21] Zhentar commented on #4370
Yeah, taking out the NetCoreApp package reference resolved it. That still leaves me wondering why the host dependency resolver picked the version it did (lowest version wins seems like an odd conflict resolution choice... is it just the order they're listed in the file? something else?) and why it's not consistent with what the version chosen during build.

[2018-07-17 16:00] Zhentar commented on #4370
What is the expected workflow for me to exert my full control, then? Am I supposed to write a Roslyn analyzer to determine all of the framework DLLs that my app depends upon, compare that against packages pulled in by my dependencies, identify any with assembly versions lower than the framework version, and manually edit my deps.json?

I don't even need anything to roll at all, I just need the bui

[2018-07-17 16:20] danmosemsft commented on #4192
@steveharter can this be closed now? If not we will need shiproom info for 2.1.

[2018-07-17 17:31] steveharter commented on #4192
Closing. The fix is not necessary.

[2018-07-18 15:21] steveharter opened #4375 "Port framework-dependent apphost fix to 2.2"
Port commit 6ff3b8f to 2.2

This is important once the SDK supports creating a framework-dependent apphost as it is likely users will encounter the issue (if they run the app out of the same folder as the exe). Currently the framework-dependent apphost (added in 2.1.0) is only used by global tools which doesn't encounter the bug.
See original issue #4169 and 2.1.x issue https://github.com/dotnet/c

[2018-07-18 15:30] natemcmaster opened #4376 "Apps fail when app-local binary is lower than the version provided by a shared runtime"
## Steps to reproduce
Install ASP.NET Core 2.1.3 and `dotnet run` this project
[code]
[code]

## Expected  behavior

I expected the host to rollforward to the latest Microsoft.AspNetCore.App shared runtime (2.1.3), and to prefer the version of Microsoft.AspNetCore.Server.Kestrel.Core.dll it provides (AssemblyVersion=2.1.3.0) because it is higher than the app-local version (Version=2.1.2.0)

## Act

[2018-07-18 19:03] steveharter commented on #3220
ptal @rakeshsinghranchi

[2018-07-18 19:18] rakeshsinghranchi commented on #3220
@Petermarcu , @leecow  - looking at https://github.com/dotnet/core-setup/issues/1842  , uCRT is expected to be the part of runtime.

[2018-07-18 19:36] Petermarcu commented on #3220
@janvorli @jkotas @jeffschwMSFT

[2018-07-18 19:51] jkotas commented on #3220
`dotnet.exe` is deployed to a different directory than the runtime. It means that it does not get to use uCRT that is part of the runtime.

[2018-07-18 20:10] jkotas commented on #3220
This looks like a mismatch in the build scripts:

- The cmake file for dotnet.exe explicitly specifies to link with static CRT: https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/exe/exe.cmake#L6
- The global cmake file overrides this setting to pick up dynamic CRT: https://github.com/dotnet/core-setup/blob/master/src/settings.cmake#L191

[2018-07-18 20:42] steveharter commented on #3220
Per https://github.com/dotnet/corefx/issues/12858 I think the intent was to statically link to the CRT initialization code (libcmtd.lib, libvcruntime.lib) but dynamically link to the bulk (ucrt.lib)

This removes libucrt.lib (static) and adds ucrt.lib (dynamic)

[2018-07-18 21:00] steveharter commented on #3220
However since ucrtbase.dll (ucrt.lib) is not co-located with dotnet.exe (it's in the netcoreapp runtime folder), Windows doesn't dynamically load it there and thus requires the uCRT to be installed globally (?)

[2018-07-18 21:06] jkotas commented on #3220
Correct.

The options to deal with this:
1. Require uCRT to be installed globally
2. Co-locate another copy of uCRT next to dotnet.exe
3. Statically link uCRT into dotnet.exe

[2018-07-18 21:30] steveharter commented on #3220
Does installing ucrtbase.dll and all of the related api-ms-win-core* dlls into netcoreapp folder have any value? (since they are loaded from global crt location). Should we be calling SetDllDirectory?

[2018-07-18 21:34] CIPop commented on #3220
@steveharter Unfortunately that only uncovers another issue on Win7 POS:

![image](https://user-images.githubusercontent.com/8635911/42909034-8b1c9516-8a97-11e8-8374-18b53f0a5778.png)

The link takes me to a generic .NET SDK download page (broken?).

[2018-07-18 21:37] steveharter commented on #4370
We are looking at changing this. See also https://github.com/dotnet/core-setup/issues/4376

[2018-07-18 21:40] steveharter commented on #3220
@CIPop can you clarify what you tried?

[2018-07-18 21:41] CIPop commented on #3220
I've installed uCRT from the link in this issue then ran dotnet --version in the Win7 POSReady7 VM.
I'm now trying to follow https://github.com/dotnet/cli/issues/3907 .

It would be nice to have all prerequisites in one place (maybe at the link presented by the above error message)?

[2018-07-18 21:48] steveharter commented on #3220
Are you trying to run an app or use the SDK? Do you have the SDK installed?

`dotnet --version` does require the SDK, since it tries to show the SDK version. `dotnet --info` will work without the SDK (but won't show SDK information of course)

[2018-07-18 21:50] steveharter commented on #3220
However you should never get the hostfxr.dll error using `dotnet --version` without the SDK - you should get a cleaner message.

[2018-07-18 22:34] ramnov opened #4378 "No package dotnet-runtime-2.1.2 available"
According to the documentation here : https://github.com/dotnet/core/blob/master/release-notes/download-archives/2.1.2-download.md#net-core-runtime-only-installation

To install a specific dotnet-runtime version (major-minor-patch), we can just use dotnet-runtime-2.1.2 in package manager. But it fails with the message : "No package dotnet-runtime-2.1.2 available"

[code]

The correct way would be

[2018-07-18 22:40] Eilon opened #4379 "Installer metadata in ARP uses HTTP URLs instead of HTTPS"
## Steps to reproduce

Install latest .NET Core SDK for Windows installer from: https://www.microsoft.com/net/download/windows
I used https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.302-windows-x64-installer

Note: I'm not sure if this is the right repo because I couldn't find these URLs specified in the code here.

## Expected  behavior

ARP entries should use HTTPS URLs to https:

[2018-07-19 02:18] AaronRobinsonMSFT commented on #4314
@ericstj The change to `CoreRun` to start consuming the embedded manifest is now being used in tests with dotnet/coreclr#18843. If you have any tests for coreclr or prototypes using `CoreRun` as a test bed for this approach would be appreciated 😸

[2018-07-19 13:56] steveharter commented on #3220
Currently installing the uCRT in netcoreapp folder doesn't appear to have any benefit since it's not used.

So IMO we should either call SetDllDirectory(netcoreapp_dir) or stop installing the uCRT there. If we stop installing it we need to consider whether we still want to keep it for standalone, although it is only required for Windows 8.1\2012R2 and older.

So from @jkotas options above + SetDll

[2018-07-19 15:36] jkotas commented on #3220
Do you have any data about this? Statically linking CRT is not actually that bad size-wise.

I am not sure how this would work. We need the CRT for the .exe to start. We would probably need to split the dotnet.exe into a tiny CRT-free stub that calls SetDllDirectory and then loads dotnet.dll that would contain what dotnet.exe contains today.

[2018-07-19 15:43] ericstj commented on #4314
A couple interesting things to test would be: what happens with other manifest settings like `supportedOs` and `dpiAware`?  Do the application context APIs hook these as well?  That's particularly interesting for the portable app that needs to use the host and wants hi-DPI or wants specific os-version-shim behavior.

Other interesting tests I can imagine are around how `sticky` the context setting

[2018-07-19 15:55] CIPop commented on #3220
I've installed .NET Core SDK from https://dot.net and ran dotnet --version on a [Win7 POSReady](https://www.microsoft.com/en-us/download/details.aspx?id=26558) VM. The Win7 POSReady comes with SP1. I checked: the `hostfxr.dll` file is in the lookup folder - there's some other issue.

Is this a known issue - any workarounds? The fwlink goes nowhere useful.

[2018-07-19 17:00] steveharter commented on #3220
@leecow can you help @CIPop out here? I will be OOF until Monday. Thanks

[2018-07-19 17:08] leecow opened #4384 "runtime-deps files for SLES reference krb5-mini, should be krb5"
Output from SLES 12 SP3 system.

[code]

krb dependency for the following needs to be updated to `krb5` from `krb5-mini` and the appropriate change made in the the build code

* https://dotnetcli.blob.core.windows.net/dotnet/Runtime/2.1.0/dotnet-runtime-deps-2.1.0-sles.12-x64-upgrade.rpm
* https://dotnetcli.blob.core.windows.net/dotnet/Runtime/2.1.1/dotnet-runtime-deps-2.1.1-sles.12-x64.rpm
* http

[2018-07-19 23:15] ianjirka opened #4386 "dotnet-sdk-2.1.3 installs dotnet-runtime-2.0.4"
[edit - emphasis]

## Steps to reproduce
$ apt list --installed | grep dotnet

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

$ sudo apt-get install dotnet-sdk-2.1.3
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  dotnet-host dotnet-hostfxr-2.0.4 dotnet-runtime-2.0.4
Th

[2018-07-20 09:31] jkotas commented on #4326
Who would be the Windowed portable apps for - when we would recommend to use them?

Is this going to cause the console to flash on the screen?

[2018-07-20 09:35] jkotas opened #4388 "Document Windows7 prerequisites"
Installing .NET Core on vanilla Windows7 does not work (see https://github.com/dotnet/core-setup/issues/3220#issuecomment-406029568).

We have identified that the following KB needs to be installed on Win7 to .NET Core to work:

- KB3118401 https://support.microsoft.com/en-us/help/3118401/update-for-universal-c-runtime-in-windows
- KB2533623 https://support.microsoft.com/en-us/help/2533623/microso

[2018-07-20 16:51] joshfree commented on #4388
@mairaw @richlander can you help route this?

[2018-07-20 18:50] rakeshsinghranchi commented on #4384
@leecow , you should have updated packages to replace. Closing this now.

[2018-07-20 18:50] #4384 closed

[2018-07-20 18:51] rakeshsinghranchi commented on #4365
cc @leecow

[2018-07-20 19:49] mairaw commented on #4388
@jkotas can you open an issue at https://github.com/dotnet/docs? We can update the topic https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites to call those KBs out as well.
We already mention a few at [this section](https://docs.microsoft.com/en-us/dotnet/core/windows-prerequisites#net-core-dependencies).

[2018-07-20 20:07] ericstj commented on #4326
Only in the case it was launched with dotnet.exe.  We already have dotnet.exe, which is already a commandline app, so we should think about what that does when launching a windowed portable app.

In the case the application does not launch with dotnet.exe but has its own host, then that host should be specialized appropriately for the app.  It should have subsystem=windows and never flash a consol

[2018-07-20 20:09] jkotas commented on #4388
Actually, the two mentioned there are the same as the two I have found (the KB numbers are different, but I do not think it matters). So this is documented already.

[2018-07-20 20:09] #4388 closed

[2018-07-20 20:39] jkotas commented on #4326
I agree with this one. I think it should be the one to promote for the UI .NET Core 3 apps. It will work best out of the different options.

Commiting to a single architecture is good for predictable execution environment. The AnyCPU apps (original default) in .NET Framework were a pit of failure. People got burned by them and the template defaults were changed to not be AnyCPU as result. It would

[2018-07-21 00:54] ramnov commented on #4384
Hello @leecow and @rakeshsinghranchi

I just tried installing dotnet-runtime-2.1 in SLES 12 SP3 and got the following error :

[code]

Not sure what is the right approach here. I would like to automate installation in a script as well using zypper -n flag.

[2018-07-22 15:33] BooRar commented on #676
thanks danmosemsft

[2018-07-22 17:56] nguerrera opened #4390 "Failed to load the dll from [C:\Program Files\dotnet\host\fxr\2.0.9\hostfxr.dll] , HRESULT: 0x7D4A8"
_From @mindtech2014 on July 22, 2018 15:16_

Getting Error when running dotnet --help or other dotnet command
Failed to load the dll from [C:\Program Files\dotnet\host\fxr\2.0.9\hostfxr.dll]
, HRESULT: 0x7D4A8
The library hostfxr.dll was found, but loading it from C:\Program Files\dotnet\h
ost\fxr\2.0.9\hostfxr.dll failed

Environment:
OS: Windows 7 Ultimate SP1  (32 bit)

Following things install

[2018-07-22 23:39] nguerrera opened #4391 "Runtime resolution to more recent for FDD published apps broken in some circumstances (e.g. 2.1.0-preview2 -> 2.1.1)"
_From @mirkogeffken on July 22, 2018 21:37_

## Steps to reproduce
1) Make sure no runtimes/sdks/shared frameworks are installed (in my case I had a 1.0.0 installed still, but that I did not expect to be used)
2) Install 2.1.0-preview2 SDK Install on Win x64 in my case (URL: https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.300-preview2-windows-x64-installer) (<-- others may fail too

[2018-07-22 23:42] nguerrera commented on #4391
Currently, there is no roll forward from preview to RTM runtimes. This is deliberate in the code and not an unknown bug. I and several others have argued that it should be changed, but there has been also some pushback to keep it this way too.

@richlander @Petermarcu @steveharter @dsplaisted

[2018-07-22 23:45] nguerrera commented on #4391
See "Preview releases and roll-forward" here: https://blogs.msdn.microsoft.com/dotnet/2018/04/11/announcing-net-core-2-1-preview-2/

[2018-07-23 13:34] leecow commented on #4384
Hi @ramnov - the updated runtime-deps for SLES has need yet been uploaded to the repo. The files had not come back from the signing team Friday so hopefully this morning.

[2018-07-23 15:39] steveharter commented on #4146
Another alternative is to support a combination of `--rollForwardOnNoCandidateFx ` and `--fx-version`

The default value of `--rollForwardOnNoCandidateFx ` is 1 which means roll-forward to the closest Minor and Patch if the version specified does not exist locally. However, today when `--fx-version` is specified, it essentially forces `--rollForwardOnNoCandidateFx=0` (off) but it also implies appl

[2018-07-23 16:19] steveharter commented on #4391
There are knobs available for most settings, but not for preview-to-release.

The only more aggressive setting is to roll-forward on Major via [roll-forward-on-no-candidate-fx](https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/roll-forward-on-no-candidate-fx.md)

However, input is welcome here. There is a slider from high compat to "just try the lastest and hope it works"

[2018-07-23 16:56] steveharter commented on #4386
@leecow @rakeshsinghranchi @nguerrera

[2018-07-23 16:57] steveharter commented on #4378
ptal @leecow

[2018-07-23 16:57] steveharter commented on #4379
ptal @rakeshsinghranchi @leecow

[2018-07-23 16:59] nguerrera commented on #4386
It's confusing for any sdk earlier than 2.1.300 because the sdk version didn't tell you anything about the bundled runtime version. Starting with 2.1.300, the first two parts of the sdk version match the first two parts of the bundled runtime version. You need sdk 2.1.300 or greater to target .net core 2.1.

[2018-07-23 17:00] steveharter commented on #4390
This is likely due to a missing runtime dependency.

Can you see if installing the [uCRT ](https://github.com/dotnet/core/blob/851184b864923dd49dfcb099932e30c431856ba7/release-notes/1.0/1.0.0-known-issues.md#universal-c-runtime-dependency-on-windows)helps? Thanks

[2018-07-23 17:02] steveharter commented on #3220
@CIPop any update?

[2018-07-23 17:02] nguerrera commented on #4390
Shouldn't the runtime installer chain in its dependencies?

[2018-07-23 17:45] steveharter commented on #4390
The shared runtime has the uCRT next to it, but the host (dotnet.exe) doesn't. See https://github.com/dotnet/core-setup/issues/3220

[2018-07-23 19:12] leecow commented on #4386
@ianjirka - to install (or update) the latest 2.1, use `apt-get install dotnet-sdk-2.1`.

[2018-07-23 19:21] leecow commented on #4378
You can see available versions with

[code]

`dnf install dotnet-sdk-2.1` will install the latest available. To install a particular version, you need to reference both the package identity and the version. eg, `sudo dnf install dotnet-runtime-2.1-2.1.1-1`

[2018-07-23 19:23] leecow commented on #4379
Is that in the SDK installer? @wli3

[2018-07-23 19:39] ianjirka commented on #4386
rookie mistake on my part - thanks@leecow.  That works great.

[2018-07-23 19:39] #4386 closed

[2018-07-23 20:15] weshaggard commented on #4200
@wtgodbe could you please make a pass over the readme file and update the links to where things live in the storage accounts?

[2018-07-23 20:21] rakeshsinghranchi commented on #4379
Runtime bundle has correct url : https://github.com/dotnet/core-setup/blob/master/src/pkg/packaging/windows/sharedframework/bundle.wxs#L10

@wli3, looks like github.com/dotnet/cli master branch doesn't produce the windows installers.

[2018-07-23 20:50] ramnov commented on #4384
@leecow Thanks for your reply. Please let me know once the files have been uploaded to the repo.

[2018-07-23 21:00] ramnov commented on #4378
Thanks @leecow. Understood. Would recommend updating the documentation to be more precise.

[2018-07-23 21:00] #4378 closed

[2018-07-23 22:30] rakeshsinghranchi commented on #4365
@Mizux  Thanks for confirming . @leodip , Please LMK if you are unblocked now.

[2018-07-24 03:17] leodip commented on #4365
All good, thanks.

[2018-07-24 18:30] #4365 closed

[2018-07-24 18:38] rakeshsinghranchi commented on #4186
Taken care by https://github.com/dotnet/core-setup/commit/6a89975a97472a52725b343bc17bb6bef7845d16

[2018-07-24 18:38] #4186 closed

[2018-07-25 07:05] sherlock1982 commented on #3613
Exactly the same thing:

[code]

[2018-07-25 16:52] leecow commented on #4384
@ramnov, 2.1.0, 2.1.1 and 2.1.2 runtime-deps packages have been updated and tested for the correct krb5 dependency. Should be good to go now.

[2018-07-26 16:24] weshaggard commented on #4158
@wtgodbe please take a look.

[2018-07-26 20:27] joshfree opened #4408 "Temporarily Disable Tizen CI leg"
Currently the Tizen build leg is failing in the core-setup repo due to an infrastructure issue (not product related).  CoreCLR and CoreFX branches have already temporarily disabled this failing leg, with https://github.com/dotnet/corefx/issues/28901 tracking the re-enabling of the leg once the Tizen infra is fixed.

To keep core-setup CI green, we can also temporarily disable the failing leg here,

[2018-07-26 21:10] dagood commented on #4408
This seems doable just by removing Tizen from the list of platforms:

https://github.com/dotnet/core-setup/blob/2087318225cab45e8f51bd1afea8db99f2adbb2e/netci.groovy#L13

The netci.groovy files are pretty different between CoreFX and Core-Setup, but for reference, CoreFX has a change to a condition to skip Tizen: https://github.com/dotnet/corefx/pull/30715 changed https://github.com/dotnet/corefx/

[2018-07-26 22:18] weshaggard commented on #4408
@alpencolt, @gbalykov could you guys have a look?

[2018-07-26 23:47] mirkogeffken commented on #4391
@steveharter Thank you so much for pointing me at that as I have not found that on my own and am not sure I would have. I think my personal opinion is that I would prefer the default to be roll-forward (even to major) if no candidate is available (Azure App Service where we are not in control of what is installed comes to mind), but I am pretty sure you ask 2 people and get 4 answers :). For compl

[2018-07-27 14:02] alpencolt commented on #4408
@weshaggard we will check

[2018-07-28 11:40] anandmurali commented on #4217
In my case, both the .NET core run time for (x64) and (x84) were installed. After uninstalling Microsoft .NET Core Runtime x.x.x (x84) through control panel, everything started working again for me.

[2018-07-29 18:29] wli3 opened #4413 "dotnet-sdk-2.1 package for OpenSUSE is broken"
_From @pavelbraginskiy on July 26, 2018 2:31_

I don't know if this is the correct repo for this issue, but I can't think of a better place.

## Steps to reproduce
Attempt to install .NET Core on OpenSUSE Tumbleweed following the instructions at https://www.microsoft.com/net/learn/get-started-with-dotnet-tutorial

## Expected  behavior
[code]

## Actual behavior
[code]

## Environment data
`dotnet

[2018-07-29 18:29] wli3 commented on #4413
_From @nguerrera on July 28, 2018 15:22_

@wli3

[2018-07-29 18:29] wli3 commented on #4413
_From @nguerrera on July 28, 2018 15:24_

I assume there is a libicu package available for OpenSUSE that you can install to run without going to invariant mode where several features of the runtime will not work as you might expect. But I don't understand why the runtime package didn't pull it in for you.

@wli3 Who's a good contact for a missing runtime dependency in OpenSUSE package?

[2018-07-29 18:29] wli3 commented on #4413
_From @pavelbraginskiy on July 28, 2018 15:28_

There is a libicu, but it has a different version number in the package name.  `dotnet` doesn't detect it.

[2018-07-29 18:29] wli3 commented on #4413
_From @nguerrera on July 28, 2018 15:52_

@janvorli Is this an issue in coreclr locating libicu? I'm totally guessing here, but I saw in https://github.com/dotnet/coreclr/pull/15562/files that there is some special code to handle the binding.

[2018-07-29 18:29] wli3 commented on #4413
_From @janvorli on July 29, 2018 17:15_

@nguerrera this is a problem of the package. Coreclr can run with any libicu version higher or equal to 50, but the package that @pavelbraginskiy is trying to install refers to a version different from the one supported on the tumbleweed. It seems that our instructions describe single feed for opensuse 42.2, which cannot work for tubleweed. It is always pos

[2018-07-29 18:29] wli3 commented on #4413
_From @nguerrera on July 29, 2018 17:39_

cc @leecow

Should we recommend the .tar.gz for tumbleweed in the instructions or provide an additional feed there that can satisfy the libicu dependency?

[2018-07-29 18:29] wli3 commented on #4413
_From @nguerrera on July 29, 2018 17:42_

Reading again it seems we're manifesting that we need icu 52 when 50 or greater would work. Should we be changing the package to allow a lower version?

[2018-07-29 18:30] wli3 commented on #4413
@karajas @rakeshsinghranchi

[2018-07-30 07:05] rakeshsinghranchi commented on #4413
This looks like the reason for the failure. There are three options,
1. Update Runtime-Deps for opensuse 42.2 to use libicu50
2. Setup opensuse tumbleweed specific with runtime-deps exhibiting dependency for libicu50
3. Update installation guidance for tumbleweed to use .tar.gz as recommended by @wli3
cc @leecow

[2018-07-30 14:51] steveharter commented on #4391
@mirkogeffken there is not an option to force a newer framework when there are "more compatible" versions available. For compatibility, we always pick the same or closest version (going forward). The default for this is Minor, which means we pick the closest version my Minor or Patch. After we pick the closest version, then by default we "apply patches" which means we install the latest patch vers

[2018-07-30 20:31] jbyl opened #4417 "Broken packages for Ubuntu Server 18.04"
## Steps to reproduce
Follow the steps at [https://www.microsoft.com/net/download/linux-package-manager/ubuntu18-04/runtime-current](url)

## Expected  behavior
Running `sudo apt-get install aspnetcore-runtime-2.1` installs the package alongside its dependencies.

## Actual behavior
apt fails with the following message:
[code]

## Environment data
Ubuntu Server 18.04.1

[2018-07-30 20:37] leecow commented on #4413
I'm reluctant to produce an installer for Tumbleweed. Its rolling nature would have us chasing our tails keeping up with dependencies. Installing from tar.gz should be the plan but even that does not work at the moment. The libicu version available on Tumbleweed is libicu-suse61_1 and even after installing that, dotnet fails to locate what it believes is a valid ICU package.

[2018-07-30 20:54] janvorli commented on #4413
That is strange, that would indicate that there is something unexpected in the version 61.1. That version is still in the range of versions we scan. I can take a look over I'm back from my vacation in mid August. But of anyone else want to take a look now, it should be simple to find what's wrong by stepping through the code of the shim initialization code in icushim.cpp

[2018-07-31 10:31] blackrek commented on #4247
fixed for ubuntu server 18.04 for dotnet-sdk-2.1

1. remove old version (thx @leecow comments):

`sudo rm -rf /usr/share/dotnet/` to clear up the remaining things in the sdk/ directory.

2. fix @jefking instructions (replace package version for libicu60):
`wget http://mirrors.kernel.org/ubuntu/pool/main/i/icu/libicu60_60.2-6ubuntu1_amd64.deb
dpkg -i libicu60_60.2-6ubuntu1_amd64.deb`

3. now `apt-g

[2018-07-31 10:37] blackrek commented on #4049
i had similar problem for 18.04
in my case had errors:
`The following packages have unmet dependencies:
 dotnet-sdk-2.1 : Depends: dotnet-runtime-2.1 (>= 2.1.2) but it is not going to be installed
                  Depends: aspnetcore-runtime-2.1 (>= 2.1.2) but it is not going to be installed
`
at the end of the chain libicu60 requires for me
try use my comment [https://github.com/dotnet/core-setu

[2018-07-31 15:50] leecow commented on #4247
Awesome to see some successes in this thread :-). @jackiebecker, have you been able to get up and running with 2.1? If not, have you tried a complete clean up as described above (https://github.com/dotnet/core-setup/issues/4247#issuecomment-400686996)?

[2018-07-31 17:25] leecow commented on #4417
Package feed has been tested fine so we need to look at your system. Do you have previous versions of .NET currently installed? You can check with `dpkg --get-selections | grep dotnet`.

[2018-07-31 17:48] jBylinski commented on #4417
I’ve just found out I was missing the universe repository, it works fine after adding it to sources.list! Sorry, it’s all working now!

[2018-07-31 21:01] CIPop commented on #3220
@steveharter : @jkotas already answered by referencing #4388 - adding those two KBs worked.

[2018-07-31 21:01] #3220 closed

[2018-07-31 21:10] Petermarcu opened #4419 "Create package for Raspbian OS (ARM32)"
@RussKeldorph commented on [Mon Jul 30 2018](https://github.com/dotnet/core/issues/1828)

_From @ygoe on June 30, 2018 14:13_

While there is a working binary download for dotnet (.NET Core) for ARM32 that works on a Raspberry Pi B 3+ with a current Raspbian OS, there are no instructions how to install it. And there are no packages for the OS, too. So it's a bit of a mystery how to actually make .

[2018-07-31 22:39] mandrewbot3k commented on #4417
I had the same issue, adding the universe repository fixed it as @jBylinski mentioned

[code]

[2018-08-01 17:50] RootUp opened #4422 "overflow at realpath"
Team,

File: /core-setup/blob/master/src/corehost/cli/fxr/fx_muxer.cpp#L685

[code]

According to the documentation of realpath() the output buffer needs to be at least of size `PATH_MAX` specifying output buffers large enough to handle the maximum-size possible result from path manipulation functions. (In that instance, buf's size comes from `uv__fs_pathmax_size()`. That function attempts to use

[2018-08-01 19:14] rakeshsinghranchi commented on #4379
cc @livarcocc  . This issue exists in CLI only.

[2018-08-01 22:38] rakeshsinghranchi commented on #4417
@leecow , is there a plan to update the .NET Core installation guide for Ubuntu 18.04 ?

[2018-08-01 22:48] rakeshsinghranchi commented on #4379
This issue was moved to dotnet/core-sdk#42

[2018-08-01 22:48] #4379 closed

[2018-08-01 22:56] leecow commented on #4417
Yep, looks like this is an issue with the default repo setup on Ubuntu Server so we'll find a place to add the appropriate content.

[2018-08-01 23:16] joshfree commented on #4417
Linking to related/duplicate issue https://github.com/dotnet/core/issues/1822

we need to add ```sudo add-apt-repository universe``` to the installation instructions for Ubuntu 18.04

[2018-08-02 04:53] RZProf commented on #4368
I use Arch Linux and install runtime and SDK from Arch repository (pacman).

[2018-08-02 06:26] GabrielJadderson commented on #4419
Dave wrote an [article]https://blogs.msdn.microsoft.com/david/2017/07/20/setting_up_raspian_and_dotnet_core_2_0_on_a_raspberry_pi/) a year ago on where to download and how to install dotnet 2.0.0
I can confirm it still works on the latest Raspbian release.

That article seems to be the only way to install dotnet and it's just directly downloading the binaries, move them to /opt/, and create symbol

[2018-08-02 09:34] SherifRefaat opened #4425 "Cannot install .Net Core SDK (Ubuntu)"
## Steps to reproduce
Attempt to install .net core on Ubuntu-1804-bionic-64-minimal
RAM: 64 GB DDR4
HDD: 2 x 500 GB SATA 6 Gb/s SSD

## Expected  behavior
.net core install

## Actual behavior
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package dotnet-sdk-2.1.4
E: Couldn't find any package by glob 'dotnet-sdk-2.1.4'
E: Couldn't find

[2018-08-02 15:04] leecow commented on #4425
First of all, just checking that followed the steps at https://www.microsoft.com/net/download/linux-package-manager/ubuntu18-04/sdk-current? Second, the earliest SDK version available on the 18.04 feed is 2.1.105 from April. 2.1.4 was released in January.

Do you need the 2.0 runtime or are you looking for the latest? If it's the latest then `apt install dotnet-sdk-2.1` is the way to go.

[2018-08-02 15:20] chenyekun1 commented on #4022
I'm having the same issues on Mac OS, and I resolve this problem with change `Microsoft.AspNetCore.All` version of `2.1.2` to `2.1.0`.

[2018-08-02 15:29] SherifRefaat commented on #4425
@leecow I followed the steps (again) in the link included, here is the output:

![2018_08_02_17_25_02_root_ubuntu_1804_bionic_64_minimal_fulfilment_platform_task_api](https://user-images.githubusercontent.com/11178713/43594056-8ba0160a-9679-11e8-8050-aac2f226e761.jpg)

[2018-08-02 15:57] leecow commented on #4425
Thanks, steps look good. I don't see a `packages.microsoft.com` hit in the `apt-get update` output which is why you're not seeing the packages. Next question is why is that happening? You can install from tarball in the meantime while this bit gets figured out.

* [system pre-reqs](https://github.com/dotnet/core/blob/master/Documentation/linux-prereqs.md)
* [binary install and setup step](https://

[2018-08-02 21:25] SherifRefaat commented on #4425
@leecow I think this is why:
![2018_08_02_17_25_02_root_ubuntu_1804_bionic_64_minimal_fulfilment_platform_task_api_2](https://user-images.githubusercontent.com/11178713/43612017-3f010c6e-96ab-11e8-82be-b64b479b2637.jpg)

Is this can be ignored or not?

[2018-08-03 00:42] leecow commented on #4425
The 404 is the problem. May be a CDN issue in your region. Where are you? I can check with the Azure folks to see if there have been identifiable issues.

[2018-08-03 12:51] SherifRefaat commented on #4425
@leecow Finland

[2018-08-03 15:59] leecow commented on #4425
Thanks, checking with the repo owners to see if they can find anything.

[2018-08-03 17:19] dotnet-mc-bot opened #4426 "Build failure: Link"
Opened on behalf of @jamshedd

@vitek-karas

Build failed due to the following, can someone please take a look?

2018-08-03T16:15:17.0891670Z   Test run for /Users/buildagent/agent/_work/368/s/core-setup/Bin/osx-x64.Release/Microsoft.Extensions.DependencyModel.Tests/netcoreapp2.0/Microsoft.Extensions.DependencyModel.Tests.dll(.NETCoreApp,Version=v2.0)
2018-08-03T16:15:17.2035220Z   Microsoft (R) T

[2018-08-03 18:01] mbearup commented on #4425
@SherifRefaat it looks like your list file (/etc/apt/sources.list.d/microsoft-prod.list) is broken - its contents should be:
deb [arch=amd64] https://packages.microsoft.com/ubuntu/18.04/prod bionic main

When I install the client package this is what I get and it works. I also see the .list file (https://packages.microsoft.com/config/ubuntu/18.04/prod.list) is correct. I cannot repro your issue (w

[2018-08-03 23:00] SherifRefaat commented on #4425
I browsed '/etc/apt/sources.list.d/' to look for 'microsoft-prod.list' and found it but its name was slightly different it was 'microsoft-prod.list.save' so I renamed it to remove the '.save'.
The file content was:
![bionic-64-minimal](https://user-images.githubusercontent.com/11178713/43669083-ca7ca00c-9780-11e8-9c9d-c0a9151dd794.jpg)

Then ran 'apt-get update' and got the following
![bionic-64-m

[2018-08-03 23:39] mbearup commented on #4425
1. For the initial issue (.save file) this usually occurs if a package upgrade/install occurs but a manually created/edited file is already there. E.g. if microsoft-prod.list was already there before you tried to install the client package. The contents of the .save file look correct.
2. For the second issue (GPG keys missing) this implies some kind of issue with installing the client package, sin

[2018-08-03 23:47] mbearup commented on #4425
Just for clarification, I've inspected both the client package and the .list file. If you see something different let me know.
`$ wget https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb
$ mkdir data-root
$ cat data-root/etc/apt/sources.list.d/microsoft-prod.list
deb [arch=amd64] https://packages.microsoft.com/ubuntu/18.04/prod bionic main
$ sha256sum packages-microsoft-

[2018-08-04 02:53] red0bear commented on #3931
dotnet new ....

Cannot get required symbol EC_KEY_set_public_key_affine_coordinates from libssl
Abortado (imagem do núcleo gravada)

[2018-08-04 10:13] LukeTOBrien commented on #4413
Could the [official documentation](https://www.microsoft.com/net/learn/get-started-with-dotnet-tutorial) for installing the SDK on OpenSuse be updated to say that currently only Leap is supported?

[2018-08-04 21:26] leecow commented on #4425
`grep -r config /etc/apt/sources.list.d/` is a quick way to list any file containing 'config' in the sources.list.d directory.

[2018-08-06 14:05] alansav commented on #4049
I had this issue and found I didn't have the universe repo in my sources.list. You can add this using the following:

[code]

[2018-08-06 16:40] luqunl opened #4427 "Crossgen fail to run on System.Runtime.WindowsRuntime"
## Steps to reproduce
https://github.com/dotnet/core-setup/pull/4424#issuecomment-410413271

## Expected  behavior
Skip run crossgen on System.Runtime.WindowsRuntime.dll

## Actual behavior
run crossgen on System.Runtime.WindowsRuntime.dll

## Environment data

[2018-08-06 16:41] luqunl commented on #4427
https://github.com/dotnet/core-setup/pull/4424/commits/c13723607f4ef415401235b3df76d9b22a05fb53

[2018-08-06 19:19] shake82 opened #4428 "Microsoft.AspNetCore.App metapackage does not support full framework"
## Steps to reproduce
1. Change the target framework version to net472

2. run **dotnet restore**
## Expected  behavior
Nuget packages should be restored

## Actual behavior
Error is thrown **Package Microsoft.AspNetCore.App 2.1.0 is not compatible with net472 (.NETFramework,Version=v4.7.2)**

Since all the packages that are referred to by **Microsoft.AspNetCore.App** support **netstandard2.0**, t

[2018-08-06 19:55] swaroop-sridhar commented on #4426
This failure is hard to repro, there was a one-off failure, and the job has passed in the subsequnt runs.
The repo on which the test runs hasn't taken any changes recently.

[2018-08-07 16:51] #4408 closed

[2018-08-07 23:50] Spacefish commented on #4419
why not just publish the app on a supported architecture and target arm-32, so every .so file required get´s copied to the publish folder even the CLR and you don´t need to install anything on the Rasbian, just copy over your application.

[2018-08-08 13:25] ygoe commented on #4419
@Spacefish You could do that. That makes 70 MB for the simplest of an app.

[2018-08-08 15:54] steveharter opened #4435 "Support per-file conflict resolution for native files and resource assemblies"
When there exists more than one copy of a given deps.json asset the host policy currently is:
  - For TPA (trusted platform assemblies), the newest wins (per https://github.com/dotnet/core-setup/issues/4376) based on assemblyVersion and then fileVersion
  - For native files and resource assemblies, the apps wins, or if the app does not contain the asset then the first framework encountered in runt

[2018-08-08 16:33] steveharter commented on #4428
ptal @natemcmaster @leecow

[2018-08-08 17:07] natemcmaster commented on #4428
This is by design. See discussion on this subject here: https://github.com/aspnet/MetaPackages/issues/255#issuecomment-394136977

[2018-08-08 17:07] #4428 closed

[2018-08-08 18:41] #4376 closed

[2018-08-08 18:42] steveharter commented on #4376
@natemcmaster once a build is available can you verify this before I create the 2.2 and 2.1.x PRs. Thanks

[2018-08-08 19:10] natemcmaster commented on #4376
Yes, happy to help verify.

[2018-08-08 19:59] m5x commented on #4230
Just a note that I have also encoutered this issue. Fresh install of dotnet snaps and snap itself on an updated Solus Linux. Snap tries to create symlink to directory `/var/snap/dotnet-sdk/20/Microsoft.NETCore.App/2.1.0` but on my system it does not exist (directory `/var/snap/dotnet-sdk/20` is empty).

[2018-08-08 20:45] steveharter commented on #4422
I assume you did not actually encounter an overflow, you just spotted the code?

The call is actually to pal::realpath which is an OS-specific wrapper and for Windows does use PATH_MAX = 4096. See https://github.com/dotnet/core-setup/blob/master/src/corehost/common/pal.windows.cpp#L387

[2018-08-08 20:45] #4422 closed

[2018-08-08 20:55] steveharter commented on #4236
@markusschaber my recommendation is to remove the duplicated entries as suggested with realpath.

However, I do not recommend showing both x64 and x86 frameworks in the same list, because the instance of dotnet.exe being used will only look in either the x64 or x86 folder for compatible frameworks, not both.

I do understand that "accidently" running the x86 version instead of x64 is an issue, how

[2018-08-09 06:12] dasMulli commented on #3623
Any chance to get this into 3.0?

[2018-08-09 06:35] markusschaber commented on #4236
@steveharter Actually, on our case, we have some 32 bit native libraries which are not ported to 64 bit yet. (It's already in progress, however).

So we very confused at the beginning that it worked on some machines, but not on others, despite the fact that we had set x86 architecture and everything in the project settings, VS target selection etc.

So part of the problem is that the toolchain (do

[2018-08-09 16:35] #4427 closed

[2018-08-09 17:05] steveharter commented on #4236
So was it install order across the different machines that caused %PATH% to vary? Having a consistent order may be useful (e.g. 64-bit always first set by the installer).

I'm not sure how that would work, since we don't really know the intent (32- or 64-). And we can't really forward unless we launch a new process. It's part of the (common) pain of supporting both 32- and 64-bit.

@nguerrera do y

[2018-08-09 17:06] steveharter commented on #4236
Also I have a PR ready that fixes the casing issue. It turns out that we already do the equivalent of "realpath" but on Windows it doesn't normalize the casing to what is on the file system, so the PR just does a case-insensitive compare on Windows.

[2018-08-09 17:38] nguerrera commented on #4236
I've been wondering if this would help:

[code]

So first on path would still win for `dotnet`, but you could do `dotnet-x86 <app>` or `dotnet-x64` app with both on your path.

[2018-08-10 10:27] markusschaber commented on #4236
@steveharter We have several machines (Dev and QS) which are supposted to run both 32 and 64 bit code.
And some projects are forced to x86 only, as no x64 variant of said native libs exists yet - but changing the PATH order hardwires all projects to x86, ignoring the fact that we set CLI or X64 as architecture on those other projects, where we even have some test cases which actually need 64 bit.

[2018-08-10 17:34] RootUp opened #4446 "Potential race condition in breadcrumb_writer_t due to call to access()"
Team,

File:
core-setup/src/corehost/common/pal.unix.cpp:132
core-setup/src/corehost/common/pal.unix.cpp:164

[code]

I believe this indicates a security flaw, If an attacker can change anything along the path between the call `access()` and the files actually used, attacker may exploit the race condition or a time-of-check, time-of-use race condition, request team to please have a look and valida

[2018-08-10 21:57] joshfree commented on #3931
This issue was moved to dotnet/corefx#31709

[2018-08-10 21:57] #3931 closed

[2018-08-10 23:08] pakrym commented on #4366
The issue doesn't reproduce with `3.0.0-preview1-26810-04` hostpolicy.

[2018-08-11 14:08] KhalilMohammad commented on #4417
I got same issue , Even after running `sudo add-apt-repository universe` ..Net Core 2.0.9 runtime not installing on ubuntu

[2018-08-12 08:07] SherifRefaat commented on #4425
Okay! after scratching my head for a lot of time now. I 'heroically' I deleted the following
1. sources.list.save
2. source.list.save

Then, edited /etc/apt/sources.list
to remove this source line: `https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb` and replaced it with `deb [arch=amd64] https://packages.microsoft.com/ubuntu/18.04/prod bionic main`

Then, ran `apt-get

[2018-08-12 21:28] steveharter opened #4453 "Make Environment.Version return the actual runtime version"
@davidfowl commented on [Mon Jul 16 2018](https://github.com/dotnet/corefx/issues/31099)

Today on a .NET Core 2.1.0 project printing `Environment.Version` prints out `4.0.30319.42000` which is a hard coded constant in the runtime https://github.com/dotnet/coreclr/blob/ce0a2617d40bc217b8e0a2137e340afe585afcb1/src/System.Private.CoreLib/src/System/Environment.cs#L277. This should print out the *act

[2018-08-12 22:10] davidfowl commented on #4453
One challenge I just realized exists with using Environment.Version is the fact that it won’t support pre-releases since it’s a Version (not semantic version)

[2018-08-13 18:05] steveharter commented on #4453
From the host side, would implementing just (1) below work? See also additional options (2) and (3).

Minimal implementation:
**1) Expose FX_FILE_VERSION appdomain variable which is the fileVersion of mscorlib.dll, as taken from the deps.json of the app (self-contained) or Microsoft.NETCore.App (framework-dependent).**

This will work for both self-contained and framework-dependent applications.

[2018-08-13 18:10] jkotas commented on #4453
I do not think we want this version. It is the version that the app was built against. I think we want the version that the app is actually running on.

[2018-08-13 18:20] steveharter commented on #4453
For self-contained this should be the same; I'm assuming that to get a newer version of the coreclr requires the app to be re-built\published which will re-generate the deps.json.

[2018-08-13 19:59] sdmaclea commented on #2054
@hadibrais,  @janvorli uploaded https://github.com/dotnet/source-build/blob/master/scripts/bootstrap/buildbootstrapcli.sh for the purpose of for building the SDK for a new platform.  If you look at the script you can see how he has matched the versions of coreclr, corefx, core-setup to the SDK he is building.

[2018-08-13 21:05] pakrym opened #4455 "Add a way to capture host error/trace output"
Currently, when hosting coreclr in AspNet Core Module we have to try and setup in-process stdout/error redirection to be able to capture startup error (framework not found, etc).

It's not easy to do correctly and is not very reliable. Would be nice to have better support for capturing/forwarding this information.

/cc @jeffschwMSFT

[2018-08-13 22:01] steveharter opened #4459 "Research case-insensitive API usage"
Per review comments in PR https://github.com/dotnet/core-setup/pull/4441 a question was brought up using the pal API [strcasecmp
](https://github.com/dotnet/core-setup/blob/24ba120b0ca1ba60a24a79b7dc95866cd3e9f799/src/corehost/common/pal.h#L125
) which on Windows maps to _[wcsicmp](https://msdn.microsoft.com/en-us/library/k59z8dwe.aspx) and on Unix maps to POSIX strcasecmp.

The suggestion was (on

[2018-08-13 22:04] #4236 closed

[2018-08-14 04:31] jpramos123 opened #4460 "Cannot get required symbol TLSv1_1_method from libssl"
## Steps to reproduce

dotnet new webapi -o TodoApi
## Expected  behavior

Expect the cli to create a project named TodoApi
## Actual behavior
Throwing the error:
Cannot get required symbol TLSv1_1_method from libssl
[1]    8060 abort (core dumped)  dotnet new webapi -o TodoApi

## Environment data
Fedora 27
kernel: 4.17.12-100.fc27.x86_64
Lenovo T460s

[2018-08-14 12:10] omajid commented on #4460
Can you do an `rpm -qa | grep ssl`?

[2018-08-14 13:28] jpramos123 commented on #4460
@omajid Follow below my output.
`
openssl-libs-1.1.0h-3.fc27.x86_64
openssl-devel-1.1.0h-3.fc27.x86_64
xmlsec1-openssl-1.2.23-4.fc27.x86_64
openssl-1.1.0h-3.fc27.x86_64
rubygem-openssl-2.0.7-89.fc27.x86_64
openssl-lib-compat-1.0.0i-1.fc27.x86_64
texlive-sslides-svn32293.0-36.fc27.5.noarch
compat-openssl10-1.0.2o-1.fc27.x86_64
python-backports-ssl_match_hostname-3.5.0.1-5.fc27.noarch
`

[2018-08-14 14:10] omajid commented on #4460
Hm. You have the compat openssl 1.0 lib installed. That was my first suspect. Can you run an `strace`? `dotnet -fo strace.log dotnet new webapi -o TodoApi` and upload the strace.log file? Please look over it and remove any confidential information if it appears there. That should give us a better idea of what dotnet is looking for.

[2018-08-14 15:49] steveharter commented on #4453
I think there is a misunderstanding.

For framework-dependent, we would obtain the mscorlib.dll fileVersion from the Microsoft.NETCore.App.deps.json that we're running against. Yes it was assigned during build-time, but the set of files for a given framework version is immutable.

For self-contained, the app is running on the framework version it was built against. @dsplaisted is the app's deps.js

[2018-08-14 15:58] steveharter commented on #4453
Also feature (1) asserts a "minimum" implementation (exposing fileVersion of mscorlib.dll) since the runtime version (e.g. "3.0.0-preview1") could be inferred from this, and that is what Environment.Version is based on (used to anyway, before it became hard-coded).

There are also options (2) and (3) above that can return the more easily consumable runtime versions, but that wouldn't work for self

[2018-08-14 16:15] steveharter commented on #4453
Another option to consider, if we require the nice "framework version" for both standalone and self-contained would be to add that version information to the app's runtimeconfig.json for self-contained since today there is no framework reference (since it's "standalone" and doesn't need to look up the shared runtime).

That would require some tooling changes and a way to add that information to ru

[2018-08-14 16:15] jkotas commented on #4453
If we wanted to return CoreLib file version, we (or anybody else) can just do that. There is no cooperation with the host required. CoreLib is always opened by the runtime. The problem with CoreLib file version is that it is a useless piece of information on its own. As you have pointed out, you have to have infinitely growing table to map it to the netcoreapp version that you can reason about.

F

[2018-08-14 17:03] steveharter commented on #4453
Yes for self-contained we can read the deps.json for Microsoft.NETCore.App version, which today is a package version but should match the actual framework version. However if we want the versions from all frameworks (option 3) then that wouldn't work since we wouldn't want to "hard-code" the various framework package names in the host.

So would just option (2) work:
**(2) FX_PRODUCT_VERSION appdo

[2018-08-14 17:41] steveharter commented on #4390
Closing this as by design. See also https://github.com/dotnet/core-setup/issues/4388

[2018-08-14 17:41] #4390 closed

[2018-08-14 23:12] steveharter commented on #4453
I have an implementation of (2) at https://github.com/dotnet/core-setup/pull/4470

[2018-08-15 01:26] jkotas opened #4472 "windows.winmd should not be included in netcoreapp distro"
## Steps to reproduce

Download https://dotnetcli.blob.core.windows.net/dotnet/Runtime/master/dotnet-runtime-latest-win-x64.zip

## Expected  behavior

Windows.winmd is not in package

## Actual behavior

Windows.winmd is in the package

[2018-08-15 01:27] jkotas commented on #4472
cc @luqunl

[2018-08-15 01:49] #4426 closed

[2018-08-15 01:50] swaroop-sridhar commented on #4426
he failure hasn’t repro-ed since; closing the issue as “no-repro” since there is nothing actionable.

[2018-08-15 15:34] steveharter commented on #4375
Closing as 2.1.x should merge into 2.2 (will verify)

[2018-08-15 15:34] #4375 closed

[2018-08-15 15:35] steveharter commented on #4192
This is necessary for 2.1.x.

@danmosemsft will the next round of 2.1.x fixes make it into 2.2 automatically, or is an explicit port required? Thanks

[2018-08-15 15:48] steveharter opened #4473 "Port framework-dependent apphost fix to 2.1.x"
Port commit 6ff3b8f to 2.1

This is important once the SDK supports creating a framework-dependent apphost as it is likely users will encounter the issue (if they run the app out of the same folder as the exe). Currently the framework-dependent apphost (added in 2.1.0) is only used by global tools which doesn't encounter the bug.

See original issue #4169 and 2.2 issue https://github.com/dotnet/co

[2018-08-15 15:51] danmosemsft commented on #4192
@steveharter all 2.1.x fixes are automatically ported to 2.2

[2018-08-15 17:23] dotnet-mc-bot opened #4475 "Build failure: Build failures due to Signature Validation issues"
Opened on behalf of @spshant
@weshaggard @vitek-karas
The build failed due to errors on 'No signature found'.
Note: Similar happened to previous builds, and a defect was filed to core-eng. Please refer to this bug for more info and details: https://github.com/dotnet/core-eng/issues/4047

Can you do necessary please.
Warnings: 1
Status Message: failed

Build : 3.0 - 20180815.01 (Product Build)
Fail

[2018-08-15 17:46] steveharter commented on #4446
I don't think there is any security concern in this case. The two cases of access() verify that the "breadcrumb store" (path) is ACL'd correctly with either Read or Read\Write. If it is not, then an informational message is written to stderr.

Later, on a separate thread, when files in the store are read\written and there's an issue with that, the enclosing try\catch will log the appropriate warni

[2018-08-15 18:13] luqunl commented on #4472
I am working on

[2018-08-15 19:05] steveharter commented on #4366
@pakrym should I target 2.1.x instead of 2.2? The 2.1.x fix will make it into 2.2 automatically.

[2018-08-15 19:07] pakrym commented on #4366
The feature we use hosted CLR in only ships in 2.2 so 2.2 is enough for us.

[2018-08-15 20:33] #4453 closed

[2018-08-15 22:49] jpramos123 commented on #4460
Hello,
@omajid follow the uploaded file.

[strace.log](https://github.com/dotnet/core-setup/files/2291942/strace.log)

[2018-08-16 03:49] omajid commented on #4460
There is strange. The openssl 1.0 package is ` compat-openssl10-1.0.2o-1.fc27.x86_64` Where did you get the other `openssl-lib-compat-1.0.0i-1.fc27.x86_64` package? Is that an official Fedora 27 package? It seems to be placing a library at `/lib64/libssl.so.1.0.0` which does not provide TLSv1 and that library is getting picked up and causing `dotnet` issues. What happens if you `dnf remove openssl

[2018-08-16 12:36] jpramos123 commented on #4460
Yeah, it worked!
Just removed the `openssl-lib-compat-1.0.0i-1.fc27.x86_64` from `bt0dotninja-openssl-lib-compat` repository.

Output after running `dotnet new webapi -o TodoApi`:
------------------------------------------------------------------------------
ASP.NET Core
------------
Successfully installed the ASP.NET Core HTTPS Development Certificate.
To trust the certificate run 'dotnet dev-cer

[2018-08-16 19:24] CrazyWhatsIt opened #4481 "Can't install .Net Core hosting on Ubuntu Server 18.04 "bionic""
## Steps to reproduce
Create a clean ubuntu 64 VM with virtual box using the default parameters.

[code]

Then as per the [instructions here...](https://www.microsoft.com/net/download/linux-package-manager/ubuntu17-10/runtime-2.0.3)

[code]

## Expected  behavior

Successful installation of dotnet-hosting-2.0.3

## Actual behavior

After the execution of the last command I get the following error:

[2018-08-16 19:49] CrazyWhatsIt commented on #4481
It looks like I may be following instructions for ubuntu 17.10. Is 18.04 supported?

[2018-08-16 20:40] CrazyWhatsIt commented on #4481
That worked. Looks like I was reading the wrong documentation. Thank you.

[2018-08-16 23:43] #4481 closed

[2018-08-17 07:05] frode commented on #4368
I have the same issue on Debian 9:

username@hostname:/var/www/debian.9-x64/publish$ dotnet myprojectfile.dll
Failed to load �ݿ, error: libunwind.so.8: cannot open shared object file: No such file or directory
Failed to bind to CoreCLR at '/var/www/debian.9-x64/publish/libcoreclr.so'

[2018-08-17 12:49] RootUp commented on #4446
Thank you @steveharter for taking a look into this.
Can `breadcrumb_writer_t due to call to access()` exploited by this. (Assumption)

exploit.c
[code]
Trigger an race condition by creating a hardlink to the vulnerable program.
`while :; do ln -f ./vulnpoc; ln -f ./exploit; done`

[2018-08-17 15:05] pauldotknopf opened #4484 "dotnet command hangs when running "dotnet --version""
## Steps to reproduce

I am on a custom built Linux distribution (x64) using Yocto. I have verified that I have all required dependencies for each .so in the downloaded tarball.

[code]

## Expected  behavior

[code]
## Actual behavior

[code]

## Environment data

Some commands work. For example:

[code]

Both ```dotnet --version``` and ```dotnet --info``` hang indefinitely.

I initially tried th

[2018-08-17 16:52] leecow commented on #4425
Looks like you should be seeing the packages now. Are you still seeing errors?

[2018-08-17 18:39] #4248 closed

[2018-08-18 21:13] pauldotknopf commented on #4484
I managed to create a coredump of a simple "Hello World" ```dotnet test.dll```.

[code]

[2018-08-18 21:28] pauldotknopf commented on #3561
Am I experiencing this same issue with #4484?

@stevehayles, did ```-DFEATURE_EVENT_TRACE=0``` work for you?

[2018-08-18 21:29] pauldotknopf commented on #4484
I'm wondering if this is the same issue as #3561?

[2018-08-18 21:40] stevehayles commented on #3561
@pauldotknopf, I moved to the binary releases for my build but yes using -DFEATURE_EVENT_TRACE=0 worked fine.

Within my Yocto built arm32 system (on Rpi3) if I remove all traces of lttng from the image the current binary releases work fine but something is broken around lttng and if it's included in the image then the same 'bug' is still present.

[2018-08-18 21:58] SherifRefaat commented on #4425
@leecow No.

[2018-08-19 00:25] #4425 closed

[2018-08-19 22:45] pauldotknopf commented on #4484
I stumbled across this in the coreclr build scripts.

https://github.com/dotnet/coreclr/blob/v2.1.3/netci.groovy#L2370

It seems that someone is at least aware of this issue ;)

[2018-08-19 22:52] pauldotknopf commented on #4484
And another one: https://github.com/dotnet/coreclr/blob/v2.1.3/tests/scripts/arm32_ci_test.sh#L101

;)

I'm going to open another issue in the coreclr repo, since it is obvious that the issue is there.

[2018-08-20 00:49] pauldotknopf commented on #4484
So, I found out why my libcoreclr didn't have symbols. I am using source-build to build core-setup, and it is getting some precompiled libcoreclr somewhere from NuGet.

Now, on to find out why core-setup in source-build is ignoring the binaries generated from coreclr.

[2018-08-20 01:52] pauldotknopf opened #4492 "How are coreclr/corefx libraries fed into this project?"
I'm trying to build using the "dotnet/source-build" project, but the built coreclr isn't getting fed into the final output from core-setup.

I'm having trouble figuring out how this project discovers the built coreclr/corefx NuGet packages. Any guidance would be appreciated.

[2018-08-20 02:57] pauldotknopf commented on #4492
I found the environment variable that needs to be set (```OverridePackageSource```).

https://github.com/pauldotknopf/meta-dotnet/commit/c438ce2f1279b02f2a9f4171f712af32cae96534

However, the generated combined-framework-host still has libcorecrl from some unknown source.

[2018-08-20 12:17] pauldotknopf commented on #4492
I have built the coreclr and corefx libraries and merged the generated NuGet packages into a single folder:

[code]

I have verified that ```runtime.linux-x64.Microsoft.NETCore.Runtime.CoreCLR.2.1.3-servicing-26819-0.nupkg``` contains my custom build of coreclr that removes lttng.

I have set ```OverridePackageSource``` to the location of this NuGet packages, but the generated "combined-framework-

[2018-08-20 20:44] Fisiu commented on #4413
It doesn't work with Leap 15.0. During install it screams about `libicu`...
[code]

Here is Leap info:
[code]

[2018-08-20 23:31] swaroop-sridhar commented on #4435
CC: @jkotalik @vitek-karas
With further discussion, it is suggested that we defer fixing this issue until there is an actual customer scenario affected by it. This is because, on non-windows platforms, there is not always a file-version, and it is not clear what rules to apply (ex: use package version). So, it is better to observe an actual scenario and accordingly fix it. Until then, this bug wil

[2018-08-21 16:40] #4472 closed

[2018-08-22 21:26] rakeshsinghranchi opened #4494 "Ubuntu 17.10 deb package depends on the wrong libicu package"
_From @Genbox on July 20, 2018 16:42_

When installing .NET Core 2.0.9 runtime (dotnet-runtime-2.0.9) on Ubuntu 17.10, it depends on libicu55 instead of libicu57 as it should. It is correctly stated on the [documentation page](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x):

However, when you look in the [packages file](https://packages.microsoft.com/ubuntu/17.10/

[2018-08-22 21:26] rakeshsinghranchi commented on #4494
_From @Genbox on July 20, 2018 16:43_

Mentioning @lordmike

[2018-08-22 21:26] rakeshsinghranchi commented on #4494
_From @joshfree on July 20, 2018 19:46_

Thanks for reporting this @Genbox.  @tarekgh could you PTAL?

[2018-08-22 21:26] rakeshsinghranchi commented on #4494
_From @tarekgh on July 20, 2018 22:50_

@joshfree this is SDK packaging issue. I think @rakeshsinghranchi may be able to help here.

[2018-08-22 21:26] rakeshsinghranchi commented on #4494
_From @LordMike on August 9, 2018 22:51_

Is there any update on this? A newly deployed Ubuntu 17.10 on AWS EC2 still cannot install dotnet-runtime-2.0.9. I've had to re-use my modified dpkg package from 3 weeks ago, where I altered the dependency in question.

[2018-08-22 21:26] rakeshsinghranchi commented on #4494
_From @tarekgh on August 9, 2018 22:54_

@rakeshsinghranchi could you please help with this issue?

[2018-08-22 21:26] rakeshsinghranchi commented on #4494
@leecow , can you please confirm if correct rutime package are available in the feed for ubuntu 17.10 ?

[2018-08-22 21:42] leecow commented on #4494
Yes, 2.0.9 is available on the 17.10 feed.

[code]

[2018-08-22 22:15] jeffschwMSFT commented on #4455
cc @vitek-karas

[2018-08-23 13:43] vitek-karas commented on #4455
@pakrym - would having an option to write it to a file instead work for you?
I'm not sure I can think of any other way to output the tracing from the native process (other than inventing some kind of native plugin mechanism).
Do you think having 2 options:
* stderr (or possibly stdout)
* file
Would be enough?

[2018-08-23 20:55] leecow commented on #4494
2.0.9 runtime package has been updated and tested. 17.10 feed should be good to go now.

Note that [17.10 reached end-of-life in July and 2.0.9](2.0-supported-os.md) is the last .NET Core update which will be delivered for 17.10.

[2018-08-23 20:55] #4494 closed

[2018-08-23 21:47] livarcocc commented on #4192
@peterhuene for awareness.

I am confused. From the title of this bug, it seems like we have changes from 2.2 that we wanted ported back to 2.1, not the other way around.

Also, I believe we are missing a change in 2.1 that would allow framework dependent exes to work for 2.1. I would like that bug to be considered for 2.1 still. Is this the bug to track that or should we file a new one?

[2018-08-24 15:27] pakrym commented on #4455
We load hostfxr into the w3wp process and call native functions (hostfxr_main) directly so stderr/out is pretty hard to redirect.

File might be an OK workaround.

Another solution is for hostfxr_ methods to take a buffer and write output to it

[2018-08-24 19:57] jeffschwMSFT commented on #4484
@pauldotknopf, did you move the bug to coreclr?  Can you add a link?

[2018-08-24 20:00] pauldotknopf commented on #4484
The issue is here: https://github.com/dotnet/coreclr/issues/15693

However, it has been closed. There has still been discussions on it, but I don't think it is on Microsoft's radar. I'm wondering if I should open a new issue, without the noise.

[2018-08-24 20:14] jeffschwMSFT commented on #4484
CoreCLR is the right repro so I am going to close this issue for now.  Often times it works better to open a new issue and refer to the old closed issue, that way if they are different it will get traction.

[2018-08-24 20:14] #4484 closed

[2018-08-24 21:38] vitek-karas commented on #4455
I'm not sure we can "Extend" the existing hostfxr methods. So I'm thinking more like a registration API - hostfxr_register_trace_listener(IHostTraceListener). I assume that would work for your scenario right?
There's also the consideration that today the tracing is across all the hosts (dotnet/apphost, hostfxr, hostpolicy) so this would have to propagate.

[2018-08-24 21:39] pakrym commented on #4455
Absolutely, `hostfxr_register_trace_listener` would be perfect for us.

[2018-08-25 02:55] CatnipKitten opened #4496 "Segmentation Fault on armv7l Architecture"
Hi all,

I am having an issue installing the dotnet-core binaries onto an ARM32 Linux machine. When I run the ``./dotnet`` command, it returns ``Segmentation fault``. I ran the following command to install the prerequisite packages: ``opkg install libunwind gettext icu-dev lttng-ust-dev libcurl4 openssl-dev uuid``. ``libcurl3`` was not available in my package repo, and ld-linux-armhd.so.3 is missi

[2018-08-26 20:24] livarcocc opened #4497 "List available sdks when target sdk from global.json is not available"
_From @korsaire on August 25, 2018 13:31_

## Steps to reproduce
1. Have global.json in project with sdk version that doesn't exist in your environment, e.g.
[code]
2. Run  ```dotnet --version```

## Expected  behavior
You get a detailed error message, containing all installed sdks (similar to output from ```dotnet --list-sdks```).
[code]

## Actual behavior
Not listing currently available sdks, m

[2018-08-27 16:07] jeffschwMSFT commented on #4496
cc @leecow

[2018-08-27 16:41] leecow commented on #4496
cc @janvorli and @Petermarcu, who have spent some time on ARM.

[2018-08-27 17:08] janvorli commented on #4496
@CatnipKitten is this issue 100% reproducible -  I mean, does it happen in every attempt to start the dotnet command?
And what is the Linux distro and version that you are using?

[2018-08-27 23:13] CatnipKitten commented on #4496
@janvorli I have tested the 2.1.2 runtime, 2.1.2 SDK, 2.1.302 SDK, and the 2.2.0 preview binaries; each release has resulted in the segmentation fault when running `dotnet`. I am using the 2018_v17 National Instruments Real Time Operating System.

[2018-08-28 00:03] janvorli commented on #4496
@CatnipKitten I would be really surprised if the binaries would work on that RTOS. You'll most likely need to build all the native parts of .NET core from sources. You can try the following guide to bootstrap .NET core on your system:
https://github.com/dotnet/source-build/blob/master/Documentation/boostrap-new-os.md

[2018-08-28 00:04] CatnipKitten commented on #4496
@janvorli Thank you for the quick response, I will try that.

[2018-08-28 01:15] #4496 closed

[2018-08-28 17:09] halcwb opened #4506 "After install of new version sdk 2.1.4 dotnet cli still uses old 2.1.105 version"
## Steps to reproduce

Follow the installation guidelines for installation of the dotnet sdk:

[code]

Installation runs without any warnings or errors. Rerun of the commands shows:

run `dotnet --info`

## Expected  behavior

Get the correct dotnet version, i.e. 2.1.4

## Actual behavior

The version still shows the old 2.1.105 version.

## Environment data

[2018-08-28 17:50] halcwb commented on #4506
Ok, stupid, I had to just say 2.1 and omit the minor version.

So, `sudo apt-get install dotnet-sdk-2.1`. That fixed it.

[2018-08-28 17:50] #4506 closed

[2018-08-28 19:30] omajid commented on #4506
Hey, in case it was not obvious, 2.1.4 is version that comes before 2.1.105. Instead of treating it as decimals, compare each number one-by-bone. `.4` < `.104` < `.400`. So what you wanted was `dotnet-sdk-2.1.400`, not `dotnet-sdk-2.1.4`. That said, `dotnet-sdk-2.1` is the best because it refers to the latest version (currently `2.1.401`).

[2018-08-28 19:33] steveharter commented on #4192
We are porting a fix from master \ 3.0 to 2.1.x. That 2.1.x will then be automatically ported to 2.2.

[2018-08-28 19:34] steveharter commented on #4192
| Also, I believe we are missing a change in 2.1 that would allow framework dependent exes to work for 2.1. I would like that bug to be considered for 2.1 still. Is this the bug to track that or should we file a new one?

From the host side, this is the only issue preventing a framework dependent exe from working in all cases.

[2018-08-28 19:41] felixlindemann commented on #4049
thanks @alansav!
I also had to open several ports on our firewall. So I allowed the ports 42622 - 42640 targeting the external IP 13.80.10.205 on port 11371

And here is my final script putting it all together.
[code]

[2018-08-29 17:41] RamanBut-Husaim commented on #4413
@janvorli Hello. Sorry for coming back to you with this. Maybe you had time to take a look at this?

[2018-08-29 18:36] xarxziux commented on #4049
I ran into the same problem trying to install it on Linux Mint 18.3.  The above instructions didn't work.

Instead I downloaded the libicu60 deb directly from [here](https://ubuntu.pkgs.org/18.04/ubuntu-main-amd64/libicu60_60.2-3ubuntu3_amd64.deb.html), installed it manually and then installed the SDK.  That appears to have fixed it for me.

[2018-08-30 05:47] propriusnz commented on #4049
I think I've found the solution. I'm using version 16.04, and followed this link: [linux prerequisites](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x). After installing several required packages, I'm able to install dotnet-sdk-2.1 on my Linux.

[2018-08-30 05:52] technoobs commented on #4049
I think I've found the solution. I'm using version 16.04, and followed this link: [linux prerequisites](https://docs.microsoft.com/en-us/dotnet/core/linux-prerequisites?tabs=netcore2x) After installing several required packages, I'm able to install dotnet-sdk-2.1 on my Linux.

[2018-08-30 15:55] livarcocc opened #4511 "Failed to load CoreCLR from Volume Path"
_From @Jotune on August 30, 2018 13:38_

## Steps to reproduce
Launch a simple Self-Contained .NET Core app from Volume Path. E.g. `\\.\Volume{0dc7f9cc-d3ea-11e4-824b-806e6f6e6963}` instead of Letter Path.

## Expected  behavior
Should launch the app.

- Works with any other `.exe` on the given folder.
- Launching the SCD from Letter Path works.

## Actual behavior

[code]

## Environment data
[co

[2018-08-30 16:02] natemcmaster commented on #4376
@steveharter what is the status of backporting this to 2.1? Users are running into this now in 2.1.3.

[2018-08-30 16:34] natemcmaster opened #4512 "[2.1.3]: Apps fail when app-local binary is lower than the version provided by a shared runtime"
The original issue is described in #4376. This was been fixed already in the master branch, but this is causing problems for 2.1.x servicing. We should backport the fix (#4423) to 2.1.x.

cc @steveharter @eerhardt @joshfree

[2018-08-30 16:34] natemcmaster commented on #4376
I've opened https://github.com/dotnet/core-setup/issues/4512 to track the work to backport the fix to 2.1.x.

[2018-08-30 17:27] steveharter commented on #4376
@natemcmaster I was waiting for test verification (and was OOF last week).

[2018-08-30 23:32] janvorli commented on #4413
@RamanBut-Husaim let me give it a try in a docker container to see what's going on.

[2018-08-30 23:52] janvorli commented on #4413
I've tried the 2.1.3 tarball in OpenSUSE Leap docker container and it seems to work fine. Here are the exact steps:
[code]

[code]
However, I can confirm that on Tumbleweed it doesn't work - it cannot find the ICU. Looking into it.

[2018-08-30 23:59] janvorli commented on #4413
I have found the culprit on Tumbleweed - openSUSE has decided to add `suse` to the names of the ICU libraries this way:
[code]
When dotnet core looks for the ICU libraries, it tries various naming conventions used on different systems, but this one is completely unexpected.

As a workaround, you can create the following symlinks, after that, dotnet worked just fine.
[code]

[2018-08-31 00:01] janvorli commented on #4413
Note that since Tumbleweed is a rolling distro, the version part of the above mentioned names may change in the future.

[2018-08-31 07:57] pauldotknopf opened #4517 "Add hostfxr method to return APP_PATHS/APP_NI_PATHS for given app."
I am trying to self-host a .NET application. I was referred to ```hostfxr_main``` by this: https://github.com/dotnet/coreclr/issues/19734

This method creates the runtime, invokes assembly, and disposes of the runtime. I need to manage the runtime myself and invoke custom delegates using the ```coreclrhost.h``` ([here](https://github.com/dotnet/coreclr/blob/master/src/coreclr/hosts/inc/coreclrhost

[2018-08-31 15:53] HirbodBehnam commented on #4368
Thanks @frode that solved the issue for me in CentOS 7. Keep in mind that in CentOS, the package name is **libunwind-devel**.

 You can install it with `sudo yum install -y libunwind-devel`

[2018-08-31 17:30] natemcmaster commented on #4376
Verified the fix in Microsoft.NETCore.App\3.0.0-preview1-26830-01

[2018-08-31 19:01] Petermarcu opened #4525 "machine wide installation of user created .net core package"
@VishDev2018 commented on [Tue Aug 28 2018](https://github.com/dotnet/core/issues/1900)

# Issue Title

Machine wide installation of user created .net core package

# General
I have a package which I want to deploy once on a machine and let more than one application to use it at run time. Its more of a traditional .NET fullframework application  GAC deployment approach. I want to see if there are

[2018-08-31 21:47] MarkStega opened #4529 "Results of "dotnet --info" dependent upon the case of the path to dotnet"
## Steps to reproduce
Define "C:\Program Files\Dotnet" in the system path (where the actual install directory is "C:\Progeam Files\dotnet"

Execute "dotnet --info" at the command line

## Expected  behavior
I expect to see one each of the installed sdks and runtimes regardless of how I define the path to the dotnet installs

## Actual behavior
The sdks and runtimes are show twice with the director

[2018-09-01 13:49] pauldotknopf commented on #4517
Update, I think it is the ```TRUSTED_PLATFORM_ASSEMBLIES``` that I need. I just checked, and it is what contains the NuGet referenced assemblies.

I'm not sure how important the ```APP_PATHS``` or ```APP_NI_PATHS``` is, but I def need a way to get the ```TRUSTED_PLATFORM_ASSEMBLIES``` assemblies.

[2018-09-01 15:26] pauldotknopf commented on #4525
What about using a runtime package store?

https://docs.microsoft.com/en-us/dotnet/core/deploying/runtime-store

[2018-09-01 17:30] Petermarcu commented on #4525
That can be used but is being deprecated and has quite a few limitations around versioning. That why I said there aren't really any "good" options.

For example, if you need to update one of the assemblies in the store, you have to add the new version to the runtime package store, likely keep the old version in there so existing apps don't break, and then recompile all the apps that use it to targ

[2018-09-02 14:06] RamanBut-Husaim commented on #4413
@janvorli Hello, thanks a lot for the update. Thanks, this helps! It could make sense to update the documentation with such approach.

 Looking at the `lib64` folder in Tumbleweed at the moment. Seems that `opensuse` has the following symlinks out of the box
[code]

![image](https://user-images.githubusercontent.com/5213282/44956794-2d3ae600-aed2-11e8-994b-f2370d7dbb60.png)

Not sure that this is

[2018-09-03 05:21] pauldotknopf opened #4530 "Proposal: hostfxr_get_clr_properties to get all the information needed to self-host host a clr runtime."
Currently, we can invoke hostfxr in a hosted setup, but only invoke a ```Program.Main```.

I need to host a runtime that I control myself, using ```coreclrhost.h``` ([here](https://github.com/dotnet/coreclr/blob/master/src/coreclr/hosts/inc/coreclrhost.h)). To do this, I need to know all the information needed to start a runtime.

1. The coreclr path so that I can load and invoke it.
2. All the pr

[2018-09-03 06:43] pauldotknopf commented on #4530
I went ahead and added the function in a fork.

https://github.com/pauldotknopf/core-setup/commit/aebbcef9160d64364a9934790d145f852ae1dd00

I've ran it locally, and this is my JSON output.

[code]

I believe this is all that I need to fully host a runtime.

What do you guys think?

[2018-09-03 06:48] pauldotknopf commented on #4517
This could probably be closed, since I think this would be addressed in #4530.

[2018-09-03 14:48] GustavSt commented on #4376
Will this be fixed in 2.2 as well?

[2018-09-04 09:19] janvorli commented on #4413
@RamanBut-Husaim the non-versioned file comes from a dev package. If you have just the icu runtime package installed, you won't have it. I've created a PR for a fix to add for the case where the version is prefixed by "suse" too.

[2018-09-04 16:27] jeffschwMSFT commented on #4530
@pauldotknopf we are in the process of adding a dll host similar to how dotnet works for applications.  You can see the initial scenario around Windows COM activiation https://github.com/dotnet/core-setup/pull/4476.  The way we are approaching this scenario is to allow people to host the runtime with a runtimeconfig.json and *.deps.json from a predictable path, as opposed to expose how to manually

[2018-09-04 16:30] pauldotknopf commented on #4530
PR #4476 is for Windows only, correct? What about *nix platforms?

[2018-09-04 16:38] jeffschwMSFT commented on #4530
That is our starting point, but it will be x-plat.  The core of the proposal is having a shared entry point to host the runtime.

[2018-09-04 16:47] jeffschwMSFT commented on #4517
Closing in favor of https://github.com/dotnet/core-setup/issues/4530

[2018-09-04 16:47] #4517 closed

[2018-09-04 16:51] jeffschwMSFT commented on #4525
@VishDev2018 as @Petermarcu called out we are designing how to evolve .NET Core 3.0's packaging / deployment and that is currently looking to enable a GAC like ability for package owners.  Can you provide a little more context on what scenario you are looking to enable?  I would not recommend exploring to store, though it does currently having tooling support.  To start the shared framework suppor

[2018-09-04 16:59] pauldotknopf commented on #4530
Considering so much of the PR is centered around ```IUnknown```, which isn't supported on nix platforms, I'm having trouble seeing where my use-case would fit in. I imagine some simple exported C functions will be proposed later when x-plat is considered.

Let me just re-iterate what I need from the API.

1. Complete control over the runtime (coreclrhost.h). Not a 1-shot exported C function where

[2018-09-04 17:02] pauldotknopf commented on #4525
FYI, I'm currently using the store for my embedded devices.

I have many .NET Core apps/services on a single device, so I use the store to save disk space.

[2018-09-04 18:49] AaronRobinsonMSFT commented on #4530
@pauldotknopf The PR in question is definitely related to COM on Windows due to current need, but the long term goal is as @jeffschwMSFT stated. See dotnet/coreclr#19760 which contains a rough outline of what the actual host would be. Observe that COM activation is relegated to a separate compilation unit and is orthogonal to coreclr creation. This is the spirit of what will probably eventually be

[2018-09-04 19:03] jeffschwMSFT commented on #4525
cc @livarcocc

[2018-09-04 19:12] pauldotknopf commented on #4530
Sounds great! I'll be eagerly awaiting what you guys come up with!

[2018-09-05 08:34] LordMike opened #4533 "Has 2.1.3 been released for Ubuntu 17.10?"
## Steps to reproduce
* Use ubuntu 17.10
* Install dotnet repo as per [this guide](https://www.microsoft.com/net/download/linux-package-manager/ubuntu17-10/runtime-current)
* Check version of various packages

[code]

[code]

The SDK seems to be (somewhat) up to date.

[code]

## Expected  behavior
That `aspnetcore-runtime-2.1` and `dotnet-runtime-2.1` installs the `2.1.3` runtime.

On the downloa

[2018-09-05 09:08] LordMike commented on #4533
I have found that on the Ubuntu 18.04 repo, the 2.1.3 packages are available, but it is definitely not on Ubuntu 17.10.

[2018-09-05 20:13] steveharter opened #4537 "Support multiple frameworks across a graph instead of a list"
This issue is for the implementation of multiple frameworks per the "3.0" section in https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/multilevel-sharedfx-lookup.md

Summary is that in 3.0 the runtimeconfig.json will support loading multiple framework via a new "frameworks" section such as:
[code]

This enables the app to reference multiple frameworks, or a framework to re

[2018-09-05 21:36] natemcmaster commented on #4376
@GustavSt yes, this should be fixed in 2.2 Preview 3. The proposed fix for https://github.com/dotnet/core-setup/pull/4521 should be merged up into 2.2 after we're done testing it for 2.1.x.

[2018-09-05 22:06] #4192 closed

[2018-09-05 22:11] steveharter commented on #4529
Duplicate of https://github.com/dotnet/core-setup/pull/4441 which has been fixed in master (3.0)

Has not been ported to 2.1.x

[2018-09-05 22:34] steveharter commented on #4529
@jeffschwMSFT I'll close this issue as duplicate.

[2018-09-05 22:34] #4529 closed

[2018-09-06 05:04] EdenRidgway commented on #4247
To get it to install on Ubuntu 18.04 I had to run:

[2018-09-06 14:47] steveharter opened #4541 "Test plan for TPA version changes"
This issue is a test plan that was requested for the change to compare the versions of TPA (Trusted Platform Assemblies) when doing a patch roll forward.

2.1x. PR: #4521
2.1.x issue: #4512
3.0 PR: #4423
3.0 issue: #4376

## Notes on the change
Is a Design Change Request as the original design did not compare TPA versions on patch roll forward.
  - Is a subset of the original functionality meaning

[2018-09-06 16:56] livarcocc opened #4543 "An error `Non-aligned pointer being freed` occured."
_From @mokeyish on September 6, 2018 6:14_

## Steps to reproduce
MacBook Pro (13-inch, 2018, Four Thunderbolt 3 Ports)
Can not run `dotnet  helloworld.dll`
# Expected  behavior
[code]

## Actual behavior
malloc: *** error for object 0x7fee8ce53b79: Non-aligned pointer being freed
*** set a breakpoint in malloc_error_break to debug

## Environment data
[code]

_Copied from original issue: dotnet/c

[2018-09-06 16:56] livarcocc commented on #4543
_From @mokeyish on September 6, 2018 6:21_

[code]

[2018-09-06 18:12] leecow commented on #4533
Ubuntu 17.10 went EOL prior to the release of .NET Core 2.1.3. 2.1.2 is the last version published for 17.10 as we only support .NET Core on OS versions with also under support by their respective maintainers.

If you need to run 2.1.3 on 17.10, using the tarball will be the option to try. Download link and instructions can be found on https://github.com/dotnet/core/blob/master/release-notes/2.1/2

[2018-09-06 21:14] jeffschwMSFT commented on #4543
@mokeyish can you share the contents of helloworld?  Based on the callstacks you included the failure is on a threadpool thread and the main thread is waiting for a lock.

[2018-09-07 00:26] mokeyish commented on #4543
@jeffschwMSFT The `contents of helloworld` was generated by `dotnet new console -n helloworld`.

**Sometimes, It can run with `dotnet run` from source code successfully.**

[2018-09-07 10:58] LordMike commented on #4533
Ah - I see .. That clears it up, thanks :)

[2018-09-07 10:58] #4533 closed

[2018-09-10 16:01] pakrym commented on #4366
Recently we reenabled tests that we causing AV in hostpolicy and started running them with AppVerifier on. We see ocasional AppVerifier failures in the same area.

Recent dump: `\\pkrymets\exchange\hostpolicy\iisexpress.exe.5292.dmp.cab`

[2018-09-10 17:05] VishDev2018 commented on #4525
what we are looking for is installing our common packages on a shared server so that different applications can use the same package. In this way, each application can access the package it wants. The shared server can have multiple versions of the same package. This is somewhat similar sharing our .nugget installation folder across machines.

[2018-09-10 17:10] jeffschwMSFT commented on #4525
@VishDev2018 we have heard very similar feedback from multiple people, thanks for the additional context.  We are adding a short term mitigation to help with this scenario: https://github.com/dotnet/core-setup/pull/4465

[2018-09-11 17:02] landerop commented on #3333
I'm running a Fedora 24, x64. I've tried to run this command today and I'm still getting the error. I have all dependencies installed and I've followed steps you put.
Any idea?

![error](https://user-images.githubusercontent.com/8417930/45375440-31da5b00-b5b2-11e8-9c05-9b2372be1f2e.png)
![dependencies](https://user-images.githubusercontent.com/8417930/45375442-31da5b00-b5b2-11e8-8605-774a5d0a1843.

[2018-09-11 17:55] bricelam opened #4556 "DependencyContext.Default throws on .NET Native"
## Steps to reproduce

Install the `Microsoft.Extensions.DependencyModel` package into a UWP project and add a code like this:

[code]

Run in Release mode (i.e. with .NET Native enabled)

## Expected  behavior

The `supported` variable should be `false`.

## Actual behavior

    System.PlatformNotSupportedException: Operation is not supported on this platform.
       at System.Func`3.EndInvoke(IA

[2018-09-11 18:18] steveharter commented on #4541
Below are the new set of manual tests that cover version checks
[code]

[2018-09-11 18:34] leecow opened #4558 "Add support information to Linux installers"
SLES returns the following when installing:

[code]

Appropriate content should be added to packages to satisfy the support information check.

[2018-09-11 18:46] blowdart opened #4559 "Windows Support and Help links are http."
## Steps to reproduce
Install SDK or runtime, go to Add/Remove programs, cry.

## Expected  behavior

Help and Support links should be https

## Actual behavior

![dm1y5jwuyaa3qek](https://user-images.githubusercontent.com/796298/45380760-55a09f80-b5b8-11e8-91cd-ce3f63525eb8.jpg)

[2018-09-11 21:11] Eilon commented on #4559
Dup of https://github.com/dotnet/core-setup/issues/4379, but maybe a fix needs to be backported?

[2018-09-11 21:13] rakeshsinghranchi commented on #4559
This is SDK related issue . @wli3   please move this issue to appropriate repo.

[2018-09-11 21:41] steveharter opened #4561 "Build broke on Windows with: Task failed because "csc.dll" was not found"
Looks like Windows has been broke for a few days. Perhaps relating to taking [buildtools 3.0.0-preview1-03131-07
](https://github.com/dotnet/core-setup/commit/adc37c4ee25c9e2183acbdeb152a05bda36d2081)
On recent [PRs](https://ci.dot.net/job/dotnet_core-setup/job/master/job/devex-test/29/consoleFull#-126263927879494335-f7bd-47d0-8771-8661e00c2db2):
[code]
Doing a clean local build, and got this loca

[2018-09-11 21:47] steveharter commented on #4561
cc @weshaggard @jeffschwMSFT @joshfree

[2018-09-11 22:00] joshfree commented on #4561
@wtgodbe

[2018-09-11 22:06] weshaggard commented on #4561
@mmitche is working on updating the CI machines. As for the local build what version of VS2017 are you using? I was successful in building a couple days ago and will try again now.

[2018-09-11 22:35] steveharter commented on #4561
I am on VS 15.0.0 Preview 2.0 [28022.0.d15.9]

Sometimes the local build works, even after a `git clean -xfd`

[2018-09-11 22:54] weshaggard commented on #4561
I think the msbuild version is actually more interesting then the VS version. I was able to build successfully locally with version "Microsoft (R) Build Engine version 15.9.10-preview+g0f6f8379ea for .NET Framework"

[2018-09-13 03:58] wli3 commented on #4559
There is an same issue on SDK. You can close this one. https://github.com/dotnet/cli/issues/9977

[2018-09-13 06:05] brad-jones commented on #1599
Sorry to dig up an old issue but I am struggling to see how one can install multiple versions through a package manager such as `dnf` on Fedora.

Yes I have read and re-read: <https://docs.microsoft.com/en-us/dotnet/core/build/distribution-packaging>

My understanding is that I should be to install several specific versions of the SDK & Runtime side-by-side.

Eg:
[code]

However at least for the F

[2018-09-13 09:24] ssahil628 opened #4565 "usr"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data

[2018-09-13 11:16] RheaAyase commented on #1599
@brad-jones You should always use software packaged by the contributors to the Linux distribution in question, not by 3rd party or upstream ;)

[Our packages](https://developer.fedoraproject.org/tech/languages/csharp/dotnet-installation.html) may contain Fedora specific tweaks and fixes, and you can most certainly install them side by side.

[code]

[2018-09-13 14:21] #4541 closed

[2018-09-13 17:27] weshaggard commented on #4561
Yeah that seems like a completely unrelated issue from the tools but an issue none-the-less. @dotnet/dnceng do we know if we still have Virus checker issues that might cause some failures like this?

[2018-09-13 17:37] jcagme commented on #4561
Yesterday night a path was added to the PATH env variable which might be causing this error.

Also, I checked your build definitions and SCEP disable is happening so in theory this shouldn't be related to AV,

/cc: @MattGal

[2018-09-13 17:42] MattGal commented on #4561
I'm pretty sure I know what this is but I can't get to a full log of any of these builds, can anyone help?

[2018-09-13 17:47] steveharter commented on #4561
Here's another mystery (to me). When looking at the [logs ](https://ci3.dot.net/job/dotnet_core-setup/job/master/job/linux-musl-CGroup_Debug+AGroup_x64_prtest/751/console)I see several crossgen compile errors like this:
[code]

[2018-09-13 18:05] danmosemsft commented on #4322
@weshaggard can we close this now then?

[2018-09-13 18:10] weshaggard commented on #4322
Yes

[2018-09-13 18:10] #4322 closed

[2018-09-13 20:06] MattGal commented on #4561
@steveharter from chatting with Matt M that's my understanding yes.

[2018-09-13 20:28] #4561 closed

[2018-09-13 20:55] #4565 closed

[2018-09-13 21:18] #4537 closed

[2018-09-14 15:39] #4512 closed

[2018-09-14 21:46] #4559 closed

[2018-09-14 21:49] rakeshsinghranchi commented on #4543
@jeffschwMSFT , did you intend to set area-host instead of area-setup?

[2018-09-14 21:51] jeffschwMSFT commented on #4543
It is unclear why this is failing.  In general .NET Core is working properly on Mac OSX 10.13.

[2018-09-14 22:28] sdmaclea commented on #4446
The `access()` call above is used purely for diagnostic messages.  If an attacker were to exploit the "race vulnerability", the only possible outcome would be a bogus error message, or the absence of an error message in the trace.

Closing this as resolved.  Reopen if needed

[2018-09-14 22:28] #4446 closed

[2018-09-14 22:36] sdmaclea commented on #4419
That said, CoreCLR/CoreFx/CoreSetup parts for ARM32 are done.

@jeffschwMSFT I did the equivalent arm64 work for this.  Do you want me to assign myself dotnet/cli#8998 ?

[2018-09-14 22:40] jeffschwMSFT commented on #4419
Sounds good, thanks @sdmaclea

[2018-09-14 22:54] sdmaclea commented on #4344
@nguerrera Looks like #4301 merged and fixed this.  Can it be closed?

[2018-09-14 22:57] #4344 closed

[2018-09-14 22:59] sdmaclea commented on #4326
@vitek-karas Is this fixed with the gui flag in the executable?

[2018-09-14 23:35] vitek-karas commented on #4326
Unfortunately no. This [change](https://github.com/dotnet/sdk/pull/2470) only implements it for standalone host.

[2018-09-15 04:00] jkotas commented on #4326
I think we should address this by generating the .exe for Windows GUI apps by default as discussed in https://github.com/dotnet/sdk/issues/1899#issuecomment-418901033, and close this issue as won't fix. We can always reconsider based on feedback in future.

[2018-09-17 01:16] brad-jones commented on #1599
@RheaAyase thanks for the tip about the copr repo, I am up and running again.

I guess my next question is, then why isn't the copr repo used in the official dotnet core installation instructions at <https://www.microsoft.com/net/download/linux-package-manager/fedora28/sdk-2.1.402>

[2018-09-17 11:10] RheaAyase commented on #1599
@brad-jones that is a good question ;p

It is something that I suggested many times without any answer at all. Maybe it will change finally, given the recent developments...

[2018-09-17 16:34] sbomer opened #4573 "Port startup hook to release/2.2"
The startup hook (described in https://github.com/dotnet/core-setup/pull/4421) should be ported to 2.2 to enable Service Fabric to use the feature. The core-setup change is here: https://github.com/dotnet/core-setup/pull/4465.

[2018-09-17 21:08] dasMulli commented on #4193
regarding @jeffschwMSFT's comment from related issue:

Please don't break cross-targeting/building (not multi-targeting) netcoreapp builds from *nix to windows RIDs.

Quite a few users build .NET Core and even full .NET applications on linux using .NET Core and/or Mono - https://github.com/dotnet/sdk/issues/335
Please don't break scenarios where building .NET Core applications for windows fails us

[2018-09-17 21:32] jkotas commented on #4455
Would it make sense to send this to ETW trace instead of defining a custom callback? ETW trace is more general - anybody can subscribe to it, even the folks who are not in charge of the hosting.

[2018-09-17 21:55] pakrym commented on #4455
As long as there is an easy way of extracting useful information to display to the customer about why their app wasn't able to start.

[2018-09-17 22:00] jeffschwMSFT commented on #4193
@dasMulli we have no intention of breaking that workflow.  But it may be the case that building a Windows binary on *nix may not be able to set the icon.
cc @sbomer

[2018-09-17 22:08] jkotas commented on #4455
What is the pipeline that you are using to display useful information to the customer? https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/azure-diagnostics ?

[2018-09-17 22:09] sbomer commented on #4193
Right, it won't be possible to set the icon or other resources in the apphost when building on unix. They can still be placed in the managed dll (which works today), but trying to build a native apphost targeting windows from unix will not work. The plan is to issue a warning in this case so that devs know what to expect, but the build will still work.

[2018-09-17 22:12] pakrym commented on #4455
We write an event to the event log and forward standard output to stdout log file.

[2018-09-17 22:48] jkotas commented on #4455
How is it gong to work end-to-end? Let's say I have deployed an app with IIS Module to Azure, it does not start and I suspect that the problem is in the CoreCLR hosting. What do I need to do to turn on this logging and how do I access the log?

[2018-09-17 23:02] pakrym commented on #4455
In the case of AppServices 2 ways currently:

1. Enable `stdoutLogFile` in `web.config` (https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/aspnet-core-module?view=aspnetcore-2.1) and use SCM (Advanced Tools in the portal) to look at it when the site fails to start.
2. Use portal to access event logs:
![image](https://user-images.githubusercontent.com/1697911/45655002-eaad0800-ba92-11e8-

[2018-09-17 23:07] jkotas commented on #4455
How do you expect this new logging to be enabled for Azure? I suspect that it is way too verbose to be enabled by default.

[2018-09-17 23:07] pakrym commented on #4455
We always log app startup errors.

[2018-09-17 23:39] pakrym commented on #4455
We would also love to log unhandled exceptions. `Program.Main` exceptions are not going to event log because we catch them in ACNM to prevent worker process from crashing.

[2018-09-17 23:58] leecow commented on #4295
@tristan957 - We've finally gotten to the bottom of this (thanks to @bartonjs ). There's a bit of openssl which has been dormant forever which we are tripping over in some scenarios and we're working through the best fix. In the meantime, you can workaround this by setting the SSL_CERT_FILE to the host OS cert. Setting it to the Snap subsystem also works but that feels funny to me.

[code]

[2018-09-18 00:30] jkotas commented on #4455
Make sense.

I would scope this issue to just providing details and overriding behavior for *fatal errors* (ie. errors that are printed to stderr by default today). But I think we should extend the design to cover all fatal errors, not just fatal errors coming from core-setup part.

Thoughts?

[2018-09-18 03:46] richlander opened #4578 "README doesn't differ per release branch"
I went to https://github.com/dotnet/core-setup/tree/release/2.1

I expected .NET Core 2.1 download links. I saw .NET Core 2.0 links.

I went to https://github.com/dotnet/core-setup/tree/release/2.2

I expected .NET Core 2.2 download links. I saw .NET Core 2.0 links.

The release pages used to differ by branch. Did I miss something?

[2018-09-18 15:06] jeffschwMSFT commented on #4193
@dasMulli we are aware of the scenario and have considered implementing in a x-plat friendly way.  We were then going to solicit feedback and consider alternatives.  Do you have a concrete use that this will break?

[2018-09-18 15:16] pakrym commented on #4455
Sounds reasonable. Fatal errors are what we mostly care about.

[2018-09-18 17:09] dasMulli commented on #4193
first, please don't interpret my directness as any form of rudeness, I'm just very direct (German..).
But yes this is a solid first implementation so we'll see. I'm currently trying to port some things to the early alphas. Not being able to use vscode on mac is a bit sad at the moment so using VMs. Also moving more build infrastructure to linux agents would be preferable to maintaining windows age

[2018-09-18 18:07] rakeshsinghranchi opened #4579 "Windows setup : EULA link should point to dotnet library license"
We would need to point to the https://www.microsoft.com/net/dotnet_library_license.htm EULA by updating the link in the installers.

[2018-09-19 02:10] tom-corwin commented on #3680
Is there an ETA on this by chance?

[2018-09-19 14:57] eerhardt commented on #3680
@tom-corwin - thanks for the reminder. I just put a PR for this that should solve it for 3.0.

[2018-09-19 15:00] tom-corwin commented on #3680
Thanks for the update @eerhardt

[2018-09-19 17:21] vellozzi opened #4587 "linux build of release/2.0.0 branch failing"
## Steps to reproduce
clone the core-setup repo
checkout release/2.0.0 branch
./build.sh -release

## Expected  behavior
No errors

## Actual behavior
/build/core-setup/src/pkg/projects/Microsoft.NETCore.App/src/Microsoft.NETCore.App.depproj : error NU1603: Microsoft.NETCore.App depends on Microsoft.Private.CoreFx.NETCoreApp (>= 4.4.4-servicing-26810-02) but Microsoft.Private.CoreFx.NETCoreApp 4.4

[2018-09-19 18:00] muratg commented on #4366
@jeffschwMSFT will this be assigned to someone on your side now?

[2018-09-19 18:55] jeffschwMSFT commented on #4366
@muratg can we open a new issue for this appverifier related issue?  Please assign to @sdmaclea

[2018-09-19 19:50] muratg commented on #4366
@pakrym could you please do the needful?

[2018-09-20 16:45] #3680 closed

[2018-09-20 17:48] livarcocc opened #4593 "Running a SCD Windows .NET Core application fails when the assembly name is longer than 64 characters."
_From @alexdrl on September 20, 2018 10:27_

Having an ASP.NET Core Application which a assembly name longer than 64 characters like `LongerThan64CharactersAssemblyNameLongerThan64CharactersAssemblyName`.
If it is published self-contained with `dotnet publish -r win10-x64`, the generated exe has the correct name `LongerThan64CharactersAssemblyNameLongerThan64CharactersAssemblyName.exe`, but when e

[2018-09-20 17:49] livarcocc commented on #4593
This seems like an issue in the host, so moving this issue to core-setup.

[2018-09-21 10:10] mytee306 commented on #4247
It got stuck on the line
Connecting to 2.0 (2.0)|2.0.0.0|:80...
Unsuccessfully retrying

[2018-09-21 16:54] pakrym opened #4596 "Cache file scan results between corehost_main_with_output_buffer and hostpolicy!corehost_main"
When ANCM starts hosted application it first needs to find native support libraries using `hostfxr_get_native_search_directories` and then call `hostfxt_main`.

It looks like a lot of file IO is not cached in between these calls.

![image](https://user-images.githubusercontent.com/1697911/45894678-f430bb80-bd83-11e8-92dd-e02c6e45e6bc.png)

[2018-09-21 16:54] pakrym commented on #4596
Or maybe the question should be is all the IO required for `hostfxr_get_native_search_directories`

[2018-09-22 10:30] blackrek commented on #4247
at what step did the error occur?

[2018-09-22 11:08] mytee306 commented on #4247
Thank you for asking @blackrek

1. sudo apt-get autoremove dotnet-host

2. sudo rm -rf /usr/share/dotnet/

3. wget http://mirrors.kernel.org/ubuntu/pool/main/i/icu/libicu60_60.2-6ubuntu1_amd64.deb dpkg -i libicu60_60.2-6ubuntu1_amd64.deb

Also http://mirrors.edge.kernel.org/ubuntu/pool/main/i/icu/ is not found

[2018-09-22 17:35] blackrek commented on #4247
Try proxy.
I have access to this resources

[2018-09-24 15:40] vellozzi commented on #4587
This build is still failing.  We need to make sure the branch builds cleanly so we can build it if/when the next patch of .NET Core 2.0 is released.
Please take a look.

[2018-09-25 22:04] #4200 closed

[2018-09-25 22:05] #4158 closed

[2018-09-27 01:46] eerhardt commented on #4173
This has been taken care of with #4351

[2018-09-27 01:46] #4173 closed

[2018-09-27 01:46] eerhardt commented on #3081
Closing as the fix has been ported to 1.1.

[2018-09-27 01:46] #3081 closed

[2018-09-27 17:03] #4068 closed

[2018-09-27 19:54] omajid commented on #4587
For what it's worth, .NET Core 2.0 is set to be End-of-Life'ed on October 1, 2018. There's no plans for a next patch of 2.0.

[2018-09-28 09:49] blitzblade commented on #4247
@EdenRidgway thanks! your solution worked for me.
sudo wget http://mirrors.kernel.org/ubuntu/pool/main/i/icu/libicu55_55.1-7_amd64.deb

Actually this version is what solves the issue for ubuntu 18.

[2018-09-28 11:38] mytee306 commented on #4247
I've tried installing libicu60_60.2-6ubuntu1_i386.deb
Which I got from from http://mirrors.edge.kernel.org/ubuntu/pool/main/i/icu/
And I got the following: Error: Dependency is not satisfiable: libgcc1 (>= 1:7)

[2018-10-02 18:48] clearhat commented on #4247
This helped me get installed to 2.1.3, but I'm back again because I'm trying to upgrade to 2.1.4, and getting nowhere. All instructions I've found says to use

`apt-get install dotnet-sdk-2.1`

This installs 2.1.3 currently. So how do I upgrade to 2.1.4 (or 2.1.5 for that matter, which just came out?)

[2018-10-02 20:43] dsplaisted opened #4622 "Create targeting pack for .NET Core 3.0"
For .NET Core 3.0, we expect to separate targeting packs, which contain the assets needed at build time when targeting .NET Core 3.0 (for example, reference assemblies and intellisense documentation) from "runtime packs", which will include the platform-specific runtime components for .NET Core 3.  See dotnet/cli#10006, and [dotnet/designs#50](https://github.com/dotnet/designs/pull/50/files?short_

[2018-10-02 20:50] dsplaisted commented on #4622
FYI @weshaggard @ericstj

[2018-10-03 01:07] gholt-aws commented on #198
I'd love to see this make it into 3.0.
If this is accurate (https://github.com/OmniSharp/omnisharp-vscode/issues/1059), getting this feature would be very helpful.

[2018-10-03 15:16] jeffschwMSFT commented on #198
I would like to get @tommcdon perspective on this feature ask.

[2018-10-03 16:58] tommcdon commented on #198
Adding @noahfalk and @mikem8361.  The "wait for attach" approach sounds interesting and is potentially useful, esp for remote VS debug scenarios.

[2018-10-03 17:37] mikem8361 commented on #198
We need to be clear about what the flag is waiting for: a native debugger attach (which is what corerun's /d is waiting for) or a managed debugger attach (like from VS or VSCode).  These are very different features.

[2018-10-03 18:50] abatishchev commented on #198
Maybe `--vsdebug` then? To be clear in the intend. However since this is .NET I would assume VS debugger by default. That's what 99.98% of customer would need, imo.

[2018-10-03 19:01] mikem8361 commented on #198
I don't think we can assume what debugger is going to used. It depends on the dev. Some devs want to debug the runtime itself or debug natively using VS, windbg, cdb on Windows or lldb on Linux/MacOS. Others may want to debug the just the managed code using VS/VSCode on Windows or VSCode on Linux/MacOS.

Either we purpose two flags like "--native-debug" and "--managed-debug" or be very clear about

[2018-10-03 19:17] abatishchev commented on #198
Maybe then `--debug <name>` with the support of few to begin with and with a way to extend the list in the future?

[2018-10-03 21:41] steveharter commented on #4593
May be related to https://github.com/dotnet/core-setup/issues/3150

[2018-10-04 16:56] jeffschwMSFT commented on #4391
Closing as resolved.  Let us know if you have further questions.

[2018-10-04 16:56] #4391 closed

[2018-10-04 21:45] rakeshsinghranchi commented on #4578
Here is my understading/thoughts:
Readme installer table is manually maintained. Row items points to generic url . A new column is added every release to master readme. Looks like it was not added for 2.1 release.

Proposal:
1. Release checklist (if any ) creates an issue to add new column.
2. Keep master branch up-to-date and list all the releases .
3. Branch specific readme would redirect to mas

[2018-10-04 22:12] leecow commented on #4578
Seems like a reasonable plan.

[2018-10-05 15:52] ivaylo5ev commented on #4049
I am having the same issue on Debian 9.5 testing. The cause is that `dotnet-runtime-deps` relies on the `libicu57` package which is no longer available for newer versions of linux (like Debian 9, Ubunty 17 and so on). The package itself uses versioning approach that puts the version in the package name. This causes deb package version ranges for dependent packages not to work and systems without t

[2018-10-05 20:08] johnbeisner opened #4636 "[PlaceHolder] SDK dynamic multilevel lookup - muxer"
Parent issue: https://github.com/dotnet/cli/issues/10100
____________________
SDK look-up task

For multi-level lookup:
Muxer will query the agreed upon registry location for the well known install location

   if registry has a value
       include the well known install location in the search
   if registry key does not exist
       include 'c:\program files' in the search
   if registry does no

[2018-10-05 20:08] johnbeisner opened #4637 "Runtime dynamic multilevel lookup - muxer"
Parent issue: https://github.com/dotnet/cli/issues/10100

SDK muxer [the host] and multi-level lookup: https://github.com/dotnet/cli/issues/10153

[2018-10-05 20:09] johnbeisner opened #4638 "[PlaceHolder] SDK Uninstall Procedure [Windows/MAC]"
Parent issue: https://github.com/dotnet/cli/issues/10100
__________________________
_Open questions:_
Does the registry’s well known location value get removed upon an uninstall?
Do we use a ref count here?
Do we store the previous well known location value?

[2018-10-05 20:10] johnbeisner opened #4639 "[PlaceHolder] SDK Install Procedure [Windows/MAC]"
Parent issue: https://github.com/dotnet/cli/issues/10100
______________________
if installation location populated & valid
   install @ installation location
   create or overwrite the registry
if installation location not populated
   query the registry for the last well known location
   if registry has a value
       install @ registry’s location
   if registry does not have a value
       inst

[2018-10-05 20:11] johnbeisner opened #4640 "[PlaceHolder] Dynamic SDK install folder"
Parent issue: https://github.com/dotnet/cli/issues/10100
________________
With a stand-alone SDK install from MSI, give the user a active textbox displaying the default installation location
The default installation location will be:
1. the registry value for 'well known location'
2. "C:\Program Files" if the registry value for 'well known location' is null or key is missing

[2018-10-05 20:11] johnbeisner opened #4641 "[PlaceHolder] Visual Studio installer communicates the install folder to the SDK MSI"
Parent issue: https://github.com/dotnet/cli/issues/10100
__________________
Visual Studio needs to communicate the user's choice of installation locations to the SDK installer
Introduce a new parameter for the SDK installer indicating installation location

[2018-10-05 20:18] johnbeisner opened #4642 "[PlaceHolder] Advertise the dynamic VS/SDK install folder change"
Parent issue: https://github.com/dotnet/cli/issues/10100
______________________________________

1. Advertise the dynamic VS/SDK install folder change
2. Document the supported scenario

Notes from meetings:
Understood.  I think this is a scenario we should not support and our guidance to customers is that once you choose e:/foo-2.1 as your well known location you should not choose another.
The re

[2018-10-06 11:11] pakrym commented on #4366
After running tests a bit longer we found that crashes still occur even if appverifier is not running.

So it's the same issue as being fixed here it just happens a bit more infrequently.

[2018-10-06 11:14] pakrym opened #4646 "AV and AppVerifier failure when exception is being thrown in main"
We still observe https://github.com/dotnet/core-setup/issues/4315 in addition we see app verifier failures in the same area:

![image](https://user-images.githubusercontent.com/1697911/45309292-40ecda80-b4d8-11e8-9c15-e43ec0f7d649.png)

Recent dump: `\\pkrymets\exchange\hostpolicy\iisexpress.exe.5292.dmp.cab`

Assigning @sdmaclea as per https://github.com/dotnet/core-setup/issues/4366#issuecomment

[2018-10-06 11:15] pakrym commented on #4366
Opened https://github.com/dotnet/core-setup/issues/4646

[2018-10-06 11:15] #4366 closed

[2018-10-08 09:53] trampster commented on #3845
This started happening to my in the last week after updating my ubuntu on two different machines,

Permission denied to modify the '/usr/share/dotnet/sdk/NuGetFallbackFolder' folder.

Here are some options to fix this error:
----------------------------------------
1. Re-run this command with elevated access.
2. Disabled the first run experience by setting the environment variable DOTNET_SKIP_FIRS

[2018-10-08 15:40] jkotas opened #4649 "macOS: Unable to read Apple keychain secrets from published osx.10.12-x64 binary after upgrading from netcoreapp2.0 to netcoreapp2.1 (native code gen problem?)"
_From @abock on October 2, 2018 21:36_

This is a bit of a convoluted issue, but I ultimately believe this might be a bug/regression around the native code generation for published `osx-x64` apps when retargeting an existing app from `netcoreapp2.0` to `netcoreapp2.1`.

A full test case is available here:

* https://github.com/abock/dnc-macos-keychain-binary-acl-bug

## Detailed Description of Iss

[2018-10-08 15:40] jkotas commented on #4649
_From @sandyarmstrong on October 2, 2018 21:39_

I can reproduce this with .NET Core SDK 2.1.301 as well (after editing `global.json` in the sample provided).

[2018-10-08 15:40] jkotas commented on #4649
_From @RussKeldorph on October 5, 2018 20:43_

@bartonjs Any thoughts?

Maybe I'm missing something, but it seems like there are more differences than codegen when moving between `netcoreapp2.0` and `netcoreapp2.1`.

[2018-10-08 15:40] jkotas commented on #4649
_From @bartonjs on October 5, 2018 21:14_

@RussKeldorph Not really.  It looks like it's code from https://github.com/xamarin/mirepoix/tree/e0bc787a18e744d1e9d5f7cfd921d6709f17891c/src/Xamarin.Security.Keychain, which seems to be very limited BCL + P/Invoke, so not depending on anything in our crypto platform.

[2018-10-08 15:40] jkotas commented on #4649
@abock What makes you believe this?

I would think that this has to with the native binary that gets created for self-contained apps. We create this binary by renaming https://github.com/dotnet/core-setup/tree/master/src/corehost/cli/apphost template to the name of the self-contained app.

The Apple crypto stack seem to think that the 2.1 native binary and the 2.0 native binary are two unrelated a

[2018-10-08 15:40] jkotas commented on #4649
_From @abock on October 8, 2018 15:26_

@jkotas this issue likely is not appropriate for this `coreclr` repo. I meant to mention that in the description, but I was not sure what the most appropriate repo would be - it should probably be opened in `core-setup`.

When I was specifically speaking of "native code generation" I was thinking about what I see you call the apphost template, not the JIT.

[2018-10-08 16:31] abock commented on #4649
I can confirm that it's the app host binary. If I copy the 2.1 apphost binary on top of the 2.0 one from the published builds in test case, the behavior is exhibited where the security system in macOS kicks in, asking for re-authentication to access keychain secrets.

[2018-10-09 13:42] JohanLarsson commented on #4295
I'm getting this on Win 10 behind proxy.

[2018-10-09 20:14] dsplaisted commented on #4146
@steveharter I'm not really suggesting a "minimum version" flag for the runtime, or any changes to the roll-forward behavior, etc.  The issue here is that specifying a runtime version stops an app being able to ship an updated version of a DLL that's part of the runtime.  If I specify `--fx-version 2.1.0`, I would expect to get the same behavior as if I hadn't specified the argument but 2.1.0 was

[2018-10-09 20:34] steveharter commented on #4146
The framework version value in the runtimeconfig.json is a "minimum version" by default. It can be greater depending on patch and minor roll forward.

The original reason for `--fx-version` was designed and documented to just load that version and only that version, so I'm not sure who depends on it.

[2018-10-10 17:07] livarcocc opened #4654 "There is no way to make an application to run as admin by default"
_From @japm48 on August 16, 2017 7:2_

I'm trying to get an always-admin executable with .net Core. I'm new to this, so please bear with me.

---------------

The "published" executable doesn't contain the application manifest I specified in the csproj file, instead that manifest is embedded in the DLL. This means that there is no way to always request elevation via UAC prompt.

This has been chec

[2018-10-10 17:07] livarcocc commented on #4654
_From @vcsjones on August 16, 2017 14:23_

That's an interesting problem.

With .NET Core executables, `dotnet build` does not produce an executable, and `dotnet app.dll` does not use the executable, so I can see why it's going in a DLL and not the published EXE. It would be a bit of a split in behavior where the published EXE has a different behavior than `dotnet run`.

There are two solutions th

[2018-10-10 17:07] livarcocc commented on #4654
_From @Genbox on January 1, 2018 19:28_

+1 this is a pretty important feature.

[2018-10-10 17:07] livarcocc commented on #4654
_From @jjxtra on October 10, 2018 16:51_

If you are doing a pre-compiled .net core build for Windows, it seems like it should honor the app.manifest, since it knows the target is Windows. This would be great to have as default behavior.

[2018-10-10 17:07] livarcocc commented on #4654
This is something that the host would have to honor. I will move it to core-setup for further discussion.

[2018-10-10 19:55] #4642 closed

[2018-10-10 19:56] #4636 closed

[2018-10-10 20:00] #4638 closed

[2018-10-10 20:01] #4639 closed

[2018-10-10 20:02] #4640 closed

[2018-10-10 20:03] #4641 closed

[2018-10-11 00:37] #3344 closed

[2018-10-11 10:09] ronengil opened #4657 "Can't install ASP.NET Core on macOS 10.4"
I'm trying to install Visual Studio for mac and the ASP.NET Core will not install.

## Steps to reproduce
Tried from within the VS install...
Tried from VS update...
Downloaded https://www.microsoft.com/net/download/thank-you/dotnet-sdk-2.1.403-macos-x64-installer
Downloaded https://www.microsoft.com/net/download/thank-you/dotnet-runtime-2.1.5-macos-x64-installer

## Actual behavior
But non of the

[2018-10-12 15:17] smariussorin commented on #4350
@EdiWang
Thanks, but I needed to do one more thing:
I installed the x86 version also of the SDK.
All works, no previous version garbage

[2018-10-12 17:27] #459 closed

[2018-10-12 17:27] rakeshsinghranchi commented on #472
Currently, there is no use case that is blocked because of missing installers. User can use zip archives and currently, this is the recommended approach for .NET acquisition in this architecture.

[2018-10-12 17:27] #472 closed

[2018-10-15 13:29] bdaniel7 commented on #2808
Hi,

I'm trying to run a TeamCity agent in a container.
This is environment:

root@teamcity-agent3:/opt/buildagent/work/70bf5e8b1cc61bbe/src# dotnet --info
.NET Core SDK (reflecting any global.json):
 Version:   2.1.401
 Commit:    91b1c13032

Runtime Environment:
 OS Name:     ubuntu
 OS Version:  16.04
 OS Platform: Linux
 RID:         ubuntu.16.04-x64
 Base Path:   /usr/share/dotnet/sdk/2.1.401

[2018-10-15 13:39] richstep commented on #4247
This answer for me, but I had to break step 3 into to parts:
3a.  wget http://mirrors.kernel.org/ubuntu/pool/main/i/icu/libicu60_60.2-6ubuntu1_amd64.deb
3b. sudo dpkg -i libicu60_60.2-6ubuntu1_amd64.deb

4. sudo apt-get install dotnet-sdk-2.1
Output:
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following additional packages will be installed:
  aspne

[2018-10-15 23:11] stefando opened #4664 "Dotnet core installed through snap - cannot run global tools"
## Steps to reproduce

Ubuntu 18.04, installed dotnet core through snap.
[code]

## Environment data
[code]

[2018-10-16 15:31] jeffschwMSFT commented on #4654
cc @sbomer this is related to retaining a custom windows manifest in the apphost

[2018-10-16 15:31] jeffschwMSFT commented on #4657
cc @leecow

[2018-10-16 15:32] jeffschwMSFT commented on #4664
cc @leecow

[2018-10-16 17:48] leecow commented on #4664
Global tools are invoked directly rather than through `dotnet`. That said, it still doesn't work. I just gave it a go and it segfaults. Will need to work with @livarcocc to determine what's going on in this environment.

[2018-10-16 17:53] leecow commented on #4657
@rakeshsinghranchi and @wli3

[2018-10-16 18:14] rakeshsinghranchi commented on #4657
@wli3 , this is SDK installation issue. Will you be looking into this ? Also, feel free to move  this issue to SDK repo. Thanks.

[2018-10-16 19:37] sbomer commented on #4654
With https://github.com/dotnet/sdk/pull/2545, this will work as long as you build on windows. The manifest gets copied from the managed dll to the apphost.

[2018-10-16 23:45] gmol1 commented on #4230
I was able to reproduce the issue under Ubuntu 16.04 and Solus 3, it happens when both the SDK and the runtime snaps are installed in the same system, to reproduce:

[code]

Do you have any update on this? I'm experiencing the same issue under Solus 3 (but not Ubuntu).

[code]

[2018-10-17 20:52] leecow commented on #4657
Updated my MacBook to 10.14 and successfully installed the 2.1.403 SDK, built and ran an MVC application.

@ronengil, you indicate that you have tried from VS Install and Update. I presume this is the latest VS for Mac? I don't believe they have integrated 2.1.5/2.1.403 yet. Have you tried install outside of VS (ie, just running the SDK pkg that you downloaded)?

[2018-10-18 13:10] bdaniel7 commented on #4149
Hi,

I'm trying to run a TeamCity agent in a container.
This is environment:

The TeamCity and the agent are the latest from the container (2018.1.3 (build 58658))
The container is run in Docker for Windows, using Linux containers (because the production will run on Ubuntu).

root@teamcity-agent3:/opt/buildagent/work/70bf5e8b1cc61bbe/src# dotnet --info
.NET Core SDK (reflecting any global.json):

[2018-10-18 17:12] mikem8361 commented on #4149
You could try disabling debugging with `export COMPlus_EnableDiagnostics=0`.  There are some pipes that that are created in /tmp that this disables.

https://github.com/dotnet/coreclr/blob/master/Documentation/building/debugging-instructions.md#disabling-managed-attachdebugging

[2018-10-18 19:02] bdaniel7 commented on #4149
Thanks,

The setting will be in effect immediately, or do I have to reboot the container (or logout, login)?

[2018-10-18 19:29] mikem8361 commented on #4149
Effective the next time you launch a dotnet app after setting the environment variable.

[2018-10-18 20:12] mikebridge commented on #4376
Just to clarify, is this currently working in 2.1.x?

[2018-10-18 20:28] natemcmaster commented on #4376
Yes, this should be fixed in .NET Core 2.1.5.

[2018-10-18 20:53] mikebridge commented on #4376
I was able to explicitly reference Kestrel 2.1.3 and that seems to work, thanks!

[2018-10-18 22:18] maitreya15 commented on #4247
helpful...Thanks!!

[2018-10-19 02:32] ronengil commented on #4657
Yes, I did try to install it in 4 different ways - and it still doesn't install - not from the SDK, not from the RunTime only, not from VS Install and not from VS update...

[2018-10-19 09:48] bdaniel7 commented on #4149
Unfortunately, it has no effect.
I already tried setting that variable.

When I log in the container and `su buildagent` I can use the `dotnet` commands successfully. But the build step from TeamCity still fails.

[2018-10-19 11:58] bdaniel7 commented on #4149
Actually, it works.
Previously I set the variable in the context of the root, and not in the context of the `buildagent` user.

What a dummy I am...

[2018-10-21 06:31] Garwin4j commented on #3931
This worked for me for OpenSuse 15. Thanks

[2018-10-21 17:55] pauldotknopf commented on #4530
https://twitter.com/runfaster2000/status/1053704090671185920

Is it time for me to look into this issue again to verify that whats implemented meets my requirements?

[2018-10-22 14:15] vitek-karas commented on #4654
@sbomer can you please verify that this works with the SDK changes? And close the issue if it does.

[2018-10-22 14:43] vitek-karas commented on #4596
Given the current API design this can be rather tricky. The main entry points which ASP.NET is using are `hostfxr_get_native_search_directories` and `hostfxr_main`. They both take the command line parameters which can influence the results of the scanning process. So the functions would have to somehow cache the results keyed of by the command line parameters. Not very practical and very fragile.

[2018-10-22 15:10] vitek-karas commented on #4593
@alexdrl could you please verify that this issues is fixed in the latest release (SDK 2.1.403, runtime 2.1.5) for you?
I tried this locally and it works just fine with these versions.

[2018-10-22 15:12] vitek-karas commented on #4573
@sbomer Can this be closed since the code has already been ported?

[2018-10-22 15:18] vitek-karas commented on #4596
We could potentially use the same functionality for scenario described in #4530 .

cc @sdmaclea

[2018-10-22 15:28] jkotas commented on #4455
Yes.

[2018-10-22 15:39] vitek-karas commented on #4455
I know about that problem, but that one is bigger as it also tears down the process (we call ExitProcess on unhandled managed exception), which the ASP.NET needs to avoid.

That said if we would still send the fully detailed error info to the new channel, it might partially solve that issues as well.

[2018-10-22 15:45] vitek-karas commented on #4543
This issue was moved to dotnet/coreclr#20523

[2018-10-22 15:45] #4543 closed

[2018-10-22 18:39] #4654 closed

[2018-10-22 18:39] sbomer commented on #4573
Yup! Thanks.

[2018-10-22 18:39] #4573 closed

[2018-10-22 21:38] AaronRobinsonMSFT commented on #4530
@pauldotknopf Not yet unfortunately. However, the hosting side is next on my list of things. I was pulled onto getting the basic `IDispatch` scenario running. Hosting took a back seat, but it is next!

[2018-10-23 08:14] vitek-karas commented on #3638
@ericstj Since dotnet/sdk#2545 basically solved this for apphost (app which have their own .exe), do you think that it's now done?
I know there's a discussion of modifying the context at runtime for the dotnet.exe as well, but I don't think that's what this issue is about.

[2018-10-23 09:05] vitek-karas commented on #4455
Looked at how CLR does reporting of unhandled exceptions and it basically just writes to STDERR. We could add the ability to "forward" this output to the host somehow.
As far as I can tell this would potentially redirect all STDERR from the runtime - not just unhandled exceptions. We could basically highjack the [PrintToStdErr](https://github.com/dotnet/coreclr/blob/2aa1b3c4c02ccff960fef72fe96175d

[2018-10-23 15:33] pakrym commented on #4596
Unfortunately, the logic required to actually start the coreclr correctly is located in native dll we are trying to find so it's a bit of chicken and egg problem.

More efficient pattern would be:
1. `hostfxr_init(argc, argv)` - runs initialization resolves libraries.
2. `hostfxr_get_native_search_directories2()` - returns native directories calculated in previous step
3. `hostfx_run` -starts clr

[2018-10-23 17:49] vitek-karas commented on #4596
I was wondering what the "logic to start coreclr correctly" does?. In your proposed set of calls above, what changes are made right before the call to `hostfxr_run`? Is there some parameter which is passed only to the run which is computed after the init? Or maybe some env. variable, or something else... ?

[2018-10-23 18:15] pakrym commented on #4596
In "logic to start coreclr correctly" we have a bunch of infrastructure to create a thread to run `hostfxr_main` on, controls startup timeouts, catch exceptions, waits for `hostfxr_main` to return, etc.

We would like to move as much of logic out of IIS module into handler because it's a global singleton and therefore is hard to update and version. In this architecture IIS module needs to load han

[2018-10-23 19:37] vitek-karas commented on #4596
If there are possible changes to environment variables which modify the behavior of the hostfxr/hostpolicy then I don't really see how we could cache anything between the two calls - the answers may differ unfortunately.

In that case, maybe if we just optimize the native-search-paths code to only look for native assets and ignore resolution of managed assents... it should definitely speed things

[2018-10-23 20:47] ericstj commented on #3638
Not every application runs with its own exe, what about for the application launched with dotnet foo.dll or for the dotnet commands?

In the case of desktop Exe's and tools we always added the supportedOs entries so the tools wouldn't get app-compat shims by default.

[2018-10-23 21:01] jkotas commented on #3638
Can we do nothing until we get feedback this needs to be fixed? Whatever we do here will always be imperfect. There are way too many things in the classic Win32 that depend on your .exe identity.

I think we should make the story simple and always use apphost .exe for the Windows-specific apps.

[2018-10-24 08:30] vitek-karas commented on #4593
Thanks a lot for the confirmation.

[2018-10-24 08:30] #4593 closed

[2018-10-24 18:30] jkotas commented on #3638
It should be "latest known OS". We have fixed that already, no?

[2018-10-24 18:49] ericstj commented on #3638
Not in the latest dotnet.exe that I downloaded.  If you do, then please close this issue.  I only meant for this issue to track a fix to the avoiding the version-lie shims for dotnet.exe-based apps.

[2018-10-24 19:08] vitek-karas commented on #3638
Modified the title to better match the desired behavior.
Marked as Windows-only for now.
@ericstj  - do you know if there are similar things for Mac or Linux?

[2018-10-24 19:14] ericstj commented on #3638
My understanding is that Mac/Linux haven't invested this much in appcompat but I don't know what I don't know.  I did a quick web search and didn't see anything.  @stephentoub or @janvorli might know if there's anything similar in the binary format for unix executables that communicates the compatibility of the app.

[2018-10-24 20:53] jkotas commented on #3638
@ericstj Could you please share the repro steps w/ the expected and actual behavior to demonstrate the issue you think needs fixing? I am not able to find the compat in a simple hello world.

[2018-10-24 22:53] ericstj commented on #3638
Here is a [sample](https://gist.github.com/ericstj/9808c1f79d9a47d5d61b2dd5890ac468).  You can build that and run the desktop version and the core version and observe the difference.

[code]

[2018-10-24 23:40] jkotas commented on #3638
Ok, this needs to be fixed in: https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/dotnet/CMakeLists.txt

Also, I have noticed that apphost with standalone publish has two manifests now:

![image](https://user-images.githubusercontent.com/6668460/47467406-1bc3db00-d7ab-11e8-97a0-64061fa8c6c4.png)

We should also fix https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/ap

[2018-10-25 21:40] rakeshsinghranchi opened #4703 ".NET Core 2.1 fails to install on clean Ubuntu 18.04.1 LTS ( Bionic Beaver )"
## Steps to reproduce
wget -q https://packages.microsoft.com/config/ubuntu/18.04/packages-microsoft-prod.deb
sudo apt-get install apt-transport-https
sudo apt-get install dotnet-sdk-2.1
sudo apt-get update
sudo apt-get install dotnet-sdk-2.1

## Expected  behavior
dotnet-sdk-2.1 installs successfully

## Actual behavior
The following packages have unmet dependencies:
dotnet-sdk-2.1 : Depends: dotn

[2018-10-25 21:43] rakeshsinghranchi commented on #4703
Reason for the failure :
Ubuntu 18.04.1 by default does not configure Universe repository. dotnet-sdk-2.1 depends on dotnet-runtime-2.1 that requires liblttng-ust0 and is available in Universe repository.

Resolution :
sudo add-apt-repository universe
sudo apt-get update

[2018-10-25 21:44] rakeshsinghranchi commented on #4703
cc @leecow

[2018-10-27 00:28] rakeshsinghranchi opened #4707 "Core SDK Installition fails on ubuntu 18.04.1"
_From @huzeyfecoskun on October 26, 2018 14:6_

# Issue Title

Core SDK Installition fails on ubuntu 18.04.1

# General

Core SDK installition fails on ubuntu

![issue](https://user-images.githubusercontent.com/673053/47571548-78f19500-d941-11e8-879e-3b3456d1d0bf.png)

_Copied from original issue: dotnet/core#2024_

[2018-10-27 00:28] rakeshsinghranchi commented on #4707
_From @karelz on October 27, 2018 0:9_

@rakeshsinghranchi @dleeapho @livarcocc can you advise where to route this issue?

[2018-10-27 00:34] rakeshsinghranchi commented on #4707
@huzeyfecoskun  Thanks for reporting the issue.  Can you please confirm if you have followed steps
for register Microsoft key and feed from https://www.microsoft.com/net/download/linux-package-manager/ubuntu18-04/sdk-current

[code]

[2018-10-29 15:12] livarcocc opened #4710 "how to define the path list to search the dll file when run dotnet application"
_From @wangyugui on October 28, 2018 1:21_

## Steps to reproduce

[code]

_Copied from original issue: dotnet/cli#10247_

[2018-10-29 20:15] leecow commented on #4703
Added to setup doc with https://github.com/dotnet/core/commit/adc8888f3ab2586466ab67f759a3c81e9dd1007c#diff-c7479b374b5e8f02c43c2ae0afef7726

[2018-10-29 20:15] #4703 closed

[2018-10-30 12:12] vitek-karas commented on #4710
On unixes `dotnet` uses the `realpath` function to convert the parameter to a file path. My understanding is that it basically takes the current working directory and combines it with the specified relative path. `dotnet.exe` itself doesn't add any additional logic to this.
You can `cd`, `dotnet`, `cd back` , but it's not as nice.
I don't think there's a way to do exactly what you're asking for.

[2018-10-30 15:12] vitek-karas commented on #4710
Another option might be to publish the app to the specific RID, in which case it should get an executable (the folder with the app should contain not just the `.dll` but also an executable with the same name). You can then run the app by just running the executable directly. And then one would follow the OS rules, thus `$PATH` should work.

[2018-10-30 16:52] joshfree commented on #3311
Adding link to announcements / tracking issues

https://github.com/dotnet/announcements/issues/90

https://github.com/dotnet/corefx/issues/33115

Folks interested in the project can follow along at https://github.com/dotnet/corefxlab/tree/master/src/System.Text.Utf8String and https://github.com/dotnet/corefx

/cc @ahsonkhan @KrzysztofCwalina @steveharter @bartonjs

[2018-10-30 17:34] jeffschwMSFT commented on #4649
cc @livarcocc

[2018-10-30 19:13] eerhardt commented on #3311
From my understanding of the above plan, the new JSON APIs will only be supported on `netcoreapp3.0`. If that is true, then DependencyModel will have to split its dependencies/implementation in order to take up these new APIs.

It is already multi-targeted today. We will just need to add a new `netcoreapp3.0` TFM to the list, and remove the dependency on Newtonsoft for that TFM. Then implement the

[2018-10-31 03:41] Allann commented on #3281
Same here, I had installed 2.2.100 preview3, came across a blocking issue and therefore uninstalled it and all other .Net Core SDK packages on the machine, therefore none existed.  Did a reboot, then installed dotnet-sdk-2.1.403-win-x64.exe  after which the Path variable no longer had dotnet in it.
And before you ask, I can't provide more information about repro-ing the issue than that.  I had mos

[2018-10-31 04:57] DamianEdwards commented on #4112
Curious where this has landed? Are we getting this for 3.0?

[2018-10-31 08:21] vitek-karas commented on #4710
If you install the [.NET Core 2.2 Preview](https://www.microsoft.com/net/download/dotnet-core/2.2) you can run the publish with `--self-contained=false`. That will make the app basically the same as before (small) and only add the executable. Behavior should still be the same.

The difference is that self-contained app includes the runtime and all the frameworks, that's why it's so big. You can ru

[2018-10-31 11:28] wangyugui commented on #4710
I have tested .NET Core 2.2 Preview3.

Thanks for this nice new feature.

[2018-10-31 11:29] #4710 closed

[2018-10-31 14:54] gcastre commented on #4707
I have the same issue (both the SDK and the runtime), didn't have the issue when I followed the instruction in late August.

Yes i registered the microsoft keys.

[2018-10-31 15:06] rakeshsinghranchi commented on #4707
Can you please share the output of the following commands from the repro machine to further diagnose the issue ?

[code]
There is a known  DotNet core setup issue on Bionic Beaver https://github.com/dotnet/core-setup/issues/4703 .

[2018-10-31 15:13] gcastre commented on #4707
![image](https://user-images.githubusercontent.com/5219776/47797884-833bd680-dd27-11e8-981c-d1576d72ca26.png)

[2018-10-31 15:43] rakeshsinghranchi commented on #4707
Thanks. Looks like Microsoft Azure feed is not registered correctly. Please run below command and check if packages.microsoft.com is listed .
[code]

Expected output should have a line as below :
[code]

[2018-10-31 17:16] gcastre commented on #4707
Still don't work:

![image](https://user-images.githubusercontent.com/5219776/47805897-b9358680-dd38-11e8-8ffd-793f7e10e4a1.png)

[2018-10-31 17:42] joshfree opened #4716 "Tizen Build Failures in CI"
@alpencolt, @gbalykov

Tracking issue for Tizen build failure in core-setup CI:

https://github.com/dotnet/core-setup/pull/4711

https://ci.dot.net/job/dotnet_core-setup/job/master/job/release_tizen_armel_prtest/132/consoleFull#-8536224876a086b3e-df04-41d2-bc4d-43e8f9406d07

[2018-10-31 18:02] gbalykov commented on #4716
Has version naming changed recently?

We build `4.6.0-preview1-26815-04`, but `4.6.0-preview1.18530.5` is searched for

[2018-10-31 18:21] gbalykov commented on #4716
Where can I find nuget builds, that publish packages to `dotnet.myget.org/feed/dotnet-core/`?

[2018-10-31 18:40] rakeshsinghranchi commented on #4707
cc @leecow
Thanks for trying this. Can you follow below commands to resolve the signature issue and try apt-get update

[code]

[2018-10-31 18:48] ericstj commented on #3638
@jkotas is there an issue tracking that?

[2018-11-02 22:55] vivmishra opened #4722 "Drop building ubuntu.17.10 and fedora.26 dep packages (master )"
We should drop building the following files since they are out of support.

https://dotnetcli.blob.core.windows.net/dotnet/Runtime/2.1.5/dotnet-runtime-deps-2.1.5-fedora.26-x64.rpm
https://dotnetcli.blob.core.windows.net/dotnet/Runtime/2.1.5/dotnet-runtime-deps-2.1.5-ubuntu.17.10-x64.deb

Cc @leecow

[2018-11-03 02:25] jerryno6 opened #4724 "Error 'The following packages have unmet dependencies' while setting up .net core on Ubuntu SERVER bionic 18.04.1 LTS"
## Steps to reproduce
1. Create a VM running Ubuntu Server 18.04 LTS
2. Install docker + docker compose for ubuntu following this pages
https://docs.docker.com/install/linux/docker-ce/ubuntu/
https://docs.docker.com/compose/install/#prerequisites
3. Install .net core following these steps from Microsoft's tutorial to install .net core
https://www.microsoft.com/net/download/linux-package-manager/ub

[2018-11-03 09:29] akihikodaki opened #4725 "Fallback to base host RID for Microsoft.DotNet.PlatformAbstractions"
#1689 implemented fallback to base host RID for `corehost`, but it doesn't for `Microsoft.DotNet.PlatformAbstractions`.

It must noted that `Microsoft.DotNet.PlatformAbstractions` is on level lower than `corehost` when implementing such a mechanism, you; corehost knows RID graph, but `Microsoft.DotNet.PlatformAbstractions` doesn't. There should be two options due to that:

* Add a code to interpre

[2018-11-05 08:32] gcastre commented on #4707
Hello,

It worked.

Thanks.

[2018-11-05 22:03] rakeshsinghranchi commented on #4707
Thanks for confirming @gcastre .

[2018-11-05 22:03] #4707 closed

[2018-11-05 22:07] rakeshsinghranchi commented on #4724
Please follow related issue for the resolution : https://github.com/dotnet/core-setup/issues/4703

[2018-11-05 22:09] rakeshsinghranchi commented on #4703
@leecow , can add the resolution in https://www.microsoft.com/net/download/linux-package-manager/ubuntu18-04/sdk-current page as well ?

[2018-11-05 22:21] rakeshsinghranchi commented on #4558
Here are the findings:
-	Issue is specific to SLES package without or with unknown support status ( L1,L2,L3,Additional customer contract Necessary ) report this issue. Support level details can be found at http://support.novell.com/products/linuxpointofservice/supported_packages/ .
-	Information about support status is not in rpm header. The information may be shipped in SUSE specific extension f

[2018-11-05 22:45] rakeshsinghranchi commented on #4657
@ronengil , can you please share /var/log/install.log pertaining to Dotnet installer to further diagnose the issue?

[2018-11-06 04:01] jerryno6 commented on #4724
I Found the solultion: I had installed libicu55, and after that, it worked well

sudo add-apt-repository "deb http://security.ubuntu.com/ubuntu xenial-security main"
sudo apt-get update
sudo apt-get install libicu55

[2018-11-06 04:03] jerryno6 commented on #4703
I Found the solultion: I had installed libicu55, and after that, it worked well

sudo add-apt-repository "deb http://security.ubuntu.com/ubuntu xenial-security main"
sudo apt-get update
sudo apt-get install libicu55

[2018-11-07 11:47] Cronan opened #4727 "lear"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data

[2018-11-07 11:47] #4727 closed

[2018-11-07 13:44] DMlakmali commented on #3281
same here .bash: dotnet: command not found
I installed dtnet-sdk-2.1.4 on windows 8.Could somebody please help me to recover this issue immediately??

[2018-11-07 18:08] bartonjs commented on #4716
The meta-problem here seems to be that our version numbers went to a new scheme.

* https://github.com/dotnet/coreclr/pull/20720 changed coreclr from "preview1" to "preview".
* https://github.com/dotnet/corefx/pull/32921 changed corefx significantly (e.g. 4.7.0-preview1-26502-03 -> 4.7.0-preview.18527.2)

[2018-11-07 18:19] gbalykov commented on #4716
@bartonjs I'm working on fixing this for Tizen. Could you, please, clarify, how `preview.18527.2` version is generated? I have not found info on this yet

[2018-11-07 18:43] bartonjs commented on #4716
@weshaggard Can you explain/point out how corefx's version numbers are generated now?

[2018-11-07 18:53] weshaggard commented on #4716
That version number is generated from some targets in arcade repo. Presumably if you guys haven't forked much from corefx the versions would just get pulled in. For more info you can see the versioning doc at https://github.com/dotnet/arcade/blob/master/Documentation/CorePackages/Versioning.md and if you want to see the targets they are at https://github.com/dotnet/arcade/blob/master/src/Microsoft

[2018-11-07 18:59] gbalykov commented on #4716
@weshaggard thanks! we need to generate `OfficialBuildId` from CoreFX version (e.g. `preview.18527.2`), and I was wondering how to do it with the new versioning scheme

[2018-11-07 21:32] kartas39 commented on #4417
caused by powershell package.

Depends: libc6, libgcc1, libgssapi-krb5-2, liblttng-ust0, libstdc++6, zlib1g, libssl1.0.0, libicu55
Ubuntu 18.04 actually has libicu**60**

[2018-11-07 21:35] kartas39 commented on #4724
Thanks for workaround! I assume proper solution would be to change dependency to proper libicu**60** (on Ubuntu 18.04)

[2018-11-07 22:00] rakeshsinghranchi commented on #4724
@jerryno6  , can you please share out for following :
[code]

On Ubuntu 18.04, dotnet-runtime-deps-2.1 is expected to bring down libicu60.

[2018-11-08 00:45] jerryno6 commented on #4724
I had tried libicu60, but it didn't work. When I had tried the dot-net-runtime, It said something related to libicu55, so I installed libicu55, and it worked like a charm

[2018-11-08 16:11] rakeshsinghranchi commented on #4724
Thanks @jerryno6 for sharing the output. Machine is misconfigured to pull xenial packages instead of bionic and thus, its pulling down dotnet-runtime-deps-2.1 package for xenial where libicu55 is required.
Please remove the feed and follow steps to setup feed for bionic https://www.microsoft.com/net/download/linux-package-manager/ubuntu18-04/sdk-current

[2018-11-08 19:20] rakeshsinghranchi commented on #4722
cc @leecow

[2018-11-08 19:21] rakeshsinghranchi opened #4729 "Drop building ubuntu.17.10 and fedora.26 dep packages in release/2.1 branch"

[2018-11-08 19:22] rakeshsinghranchi opened #4730 "Drop building ubuntu.17.10 and fedora.26 dep packages in release/2.2"

[2018-11-08 19:29] rakeshsinghranchi opened #4731 "Update Runtime dependency on openssl1.1"
Related changes in corefx :
https://github.com/dotnet/corefx/pull/32006
https://github.com/dotnet/corefx/commit/901ff58aee521984e8791f9f7d51fabfd31f910e

For 3.0 .NET Core OpenSSL prerequisites from OpenSSL 1.0 to OpenSSL 1.1 (Runtime will work with whichever is found ).

[2018-11-09 02:49] jerryno6 commented on #4724
I create a new VM running Ubuntu server 18.01
Created a file setup.sh containing these command

[code]

It gave me an error

[2018-11-09 18:22] rakeshsinghranchi opened #4732 "Cannot install dotnet-sdk-2.1 on Ubuntu 18.04.1"
_From @JerryBian on July 28, 2018 2:54_

# fail to install latest dotnet-sdk on Ubuntu 18.04.1

I just tried to install latest dotnet SDK 2.1 on fresh clean Ubuntu 18.04.1, well, it fails and I didn't find solution yet.

# Details

I followed the official tutorial https://www.microsoft.com/net/learn/get-started-with-dotnet-tutorial, under Ubuntu 18.04 section.

<img width="901" alt="jietu20180728-

[2018-11-09 18:23] rakeshsinghranchi commented on #4732
_From @mateti on July 29, 2018 22:17_

I'm getting this error on 18.04.1:

ngadmin@pocvm4:/tmp$ sudo dpkg -i packages-microsoft-prod.deb
[sudo] password for ngadmin:
(Reading database ... 208777 files and directories currently installed.)
Preparing to unpack packages-microsoft-prod.deb ...
Unpacking packages-microsoft-prod (1.0-ubuntu18.04.1) over (1.0-ubuntu18.04.1) ...
Setting up packages-micros

[2018-11-09 18:23] rakeshsinghranchi commented on #4732
_From @leecow on July 30, 2018 17:46_

Hm, everything is definitely on the repo and working. From a quick test ...

[code]
@mateti - your `apt-get update` output is suspicious as `package.microsoft.com` is not listed among the hits.

@JerryBian - do you have any preview versions installed? There was an issue with previous packages getting in the way of dependency resolution. You can check this wit

[2018-11-09 18:23] rakeshsinghranchi commented on #4732
_From @JerryBian on July 31, 2018 0:49_

@leecow thanks for you reply, but it seems something is still wrong.
[code]
It should not has any previous version installed, since I downloaded latest version of Ubuntu from their portal and then followed your tutorial installing dotnet SDK then, nothing else did.

Do you need anything I check for you besides above?

[2018-11-09 18:23] rakeshsinghranchi commented on #4732
@JerryBian , can you please try installing dotnet-runtime-deps-2.1 and dotnet-runtime-2.1 package separately and share the log here?

[2018-11-09 18:23] rakeshsinghranchi commented on #4732
_From @JerryBian on July 31, 2018 10:7_

@rakeshsinghranchi please see following:
[code]

[2018-11-09 18:23] rakeshsinghranchi commented on #4732
_From @leecow on July 31, 2018 17:31_

This is strange - what happens with `apt search liblttng-ust0`. My 18.04.1 output is

[code]

[2018-11-09 18:23] rakeshsinghranchi commented on #4732
Please share output of the following commands to help further diagnose the issue :
apt-cache policy dotnet-runtime-deps-2.1
apt-cache policy dotnet-runtime-2.1

[2018-11-09 18:23] rakeshsinghranchi commented on #4732
_From @JerryBian on July 31, 2018 21:26_

@leecow
[code]
@rakeshsinghranchi
[code]
P.S. my Ubuntu is server version, instead of desktop(GUI), though I couldn't see what's difference might be.

[2018-11-09 18:23] rakeshsinghranchi commented on #4732
_From @leecow on July 31, 2018 22:59_

So the fact that liblttng-us0 is not being presented to you is the problem. Looks like the package is probably in [universe amd 64](https://packages.ubuntu.com/search?keywords=liblttng&searchon=names&suite=bionic&section=all) which I don't see in your apt-get "Get" list. Here's the archive list I have on a pretty clean box with the default ubuntu repos active

[2018-11-09 18:23] rakeshsinghranchi commented on #4732
_From @JerryBian on August 1, 2018 13:31_

Thanks very much, after I enabled `universe` repository everything is good.

[2018-11-12 20:17] wfurt opened #4742 "pal::get_own_executable_path() does not work properly with hardlink on FreeBSD"
This popped out when trying to run corefx tests on FreeBSD.

[code]

[code]
[code]
we have three identical versions with hardlinks.

Copying dotnet binary instead of using hardlink fixes the problem:
[code]

At this point, this seems to cause troubles only with our test infrastructure.
https://github.com/dotnet/corefx/blob/3ede762e6ed6bd9f27bdc37f85cfe8ee02cddceb/external/runtime/runtime.depproj#L

[2018-11-12 22:58] steveharter commented on #3877
cc @jeffschwMSFT @vitek-karas

[2018-11-13 09:07] sehra opened #4744 "Missing package dotnet-runtime 2.1.6 for CentOS"
## Steps to reproduce
`yum update`

## Expected  behavior
Updated to 2.1.6

## Actual behavior
[code]

## Environment data
[code]

[2018-11-13 11:53] jonas-paul opened #4745 "Can't yum update aspnetcore-runtime-2.1"
On Centos a command `yum update aspnetcore-runtime-2.1` yields the following output:
[code]

What I gather from this is that the newest version of aspnetcore-runtime package (2.1.6) has a dependency of dotnet-runtime package with minimum version of 2.1.6 - which doesn't yet exist in the repo `https://packages.microsoft.com/yumrepos/microsoft-rhel7.3-prod`.

[2018-11-13 12:58] vitek-karas commented on #4745
Looks identical to #4744

[2018-11-13 12:58] #4745 closed

[2018-11-13 13:21] Lanesra712 commented on #4744
I have the same issue, I re-install system to CentOS 7.5 and then I run sudo yum install dotnet-sdk-2.1 it happened

[2018-11-13 14:35] ruimaciel opened #4747 "Create Debian/Ubuntu packages compatible with update-alternatives"
Currently, the official .net core installer for Debian/Ubuntu is designed to keep a single version installed.  This approach poses some problems to users who want or need to run multiple versions of the .net core platform in their system.  This will be particularly useful when v2.2 and v3.0 of the .net core platform are released.

Debian/Ubuntu supports installing and managing multiple versions of

[2018-11-13 19:55] MaximoTrinidad commented on #4724
Just an FYI

The issue also exist with WSL - Ubuntu 18.04.

[code]

![wsl_ubuntu1804_netcore_issue_2018-11-13_14-40-15](https://user-images.githubusercontent.com/19892435/48439362-1cb9ae00-e754-11e8-8ae3-f6877130179a.jpg)

[2018-11-13 22:31] vitek-karas opened #4752 "Revisit decision to ignore missing assemblies for components dependency resolution"
In #4751 component dependency resolution allows missing assemblies to not cause immediate failures (unlike for apps). This is partially a workaround for dotnet/sdk#2660.

After dotnet/sdk#2660 is fixed this change should be revisited. It might be better to return to the more strict behavior then.

[2018-11-14 01:46] mellinoe commented on #196
@jkotas Could close the loop on this one with some instructions on how to enable the new functionality? For example -- I have existing projects that should be GUI projects. What do I need to change to make that happen?

[2018-11-14 01:48] nguerrera commented on #196
You will get an apphost by default if OutputType is WinExe. This is already happening in 3.0 daily builds, which you can try from https://github.com/dotnet/core-sdk

[2018-11-14 02:02] jkotas commented on #196
As Nick said, you need to update to netcoreapp3.0 and build. That's all.

[2018-11-14 05:15] mellinoe commented on #196
Thanks, that worked like a charm.

[2018-11-14 18:08] danroth27 opened #4755 "Offer to uninstall older unsupported .NET Core SDK versions when installing a newer version"
.NET Core SDK versions tend to accumulate over time since they all install side by side. Uninstalling all of the older unsupported versions is pretty tedious. It would be nice if the installer at least offered an option to do this for you. That way when you install the latest patch it could also clean out the unpatched versions. I would be worth considering doing this by default and then having an

[2018-11-14 18:33] peterhuene commented on #196
I believe building with a 3.0 SDK with an `OutputType` of `WinExe` is all that's required to flip the subsystem type.

[2018-11-14 18:35] mattmon1 commented on #4368
I experiencing this issue when I run dotnet *.dll on Alpine Linux 3.8.1 with .NET Core 2.1.2.

I installed the libundwind package by running:
	apk add libunwind-dev

![apk info 2018-11-14_11-13-08](https://user-images.githubusercontent.com/35613928/48504145-a8414680-e809-11e8-8683-ac6a7c6fd6ac.png)

Unfortunately, I'm still getting the error when I run dotnet *.dll

![apk add dotnet exec 2018-11-1

[2018-11-14 21:49] vitek-karas commented on #4755
@livarcocc

[2018-11-14 23:56] hrumhurum commented on #3613
Experiencing the very same issue for a standalone .NET Core 2.1 hello world app on Raspberry Pi Zero W.
[strace.txt](https://github.com/dotnet/core-setup/files/2583115/strace.txt)

[2018-11-15 01:51] janvorli commented on #3613
@oyvindh or @florain, could you please run
[code]
on your Raspberry Pi 2 where you had or still have problems running .NET?

[2018-11-15 16:06] codechavez commented on #3965
It's happening to me on a window machine.
I have a C# project which is for an Azure Function. Tried to run
` Scaffold-DbContext "Server=localhost;Database=Sales;Trusted_Connection=True;" Microsoft.EntityFrameworkCore.SqlServer -OutputDir Models -Tables Orders,OrderItems,OrderItemOptions`

I get as result
![image](https://user-images.githubusercontent.com/6989623/48565385-4a663a80-e8ad-11e8-85a9-b6

[2018-11-15 18:32] steveharter commented on #3965
cc @jeffschwMSFT @vitek-karas

[2018-11-15 21:19] jeffschwMSFT commented on #3965
@codechavez can you share the COREHOST_TRACE=1 logs and a repro?  Thanks

[2018-11-16 09:18] sehra commented on #4744
Seems to be working now.

[2018-11-16 09:18] #4744 closed

[2018-11-16 09:52] DaveIlsley commented on #4657
I'm not sure if this is the same problem as I am getting a different error message, however I also can't install .NET core in any of the ways described above on Mojave either. The error message suggests I don't have admin privileges, but my user is an admin and this fails when running with sudo as well.
[install.log](https://github.com/dotnet/core-setup/files/2588752/install.log)

[2018-11-16 16:13] leecow commented on #4413
cc @rakeshsinghranchi, @vivmishra

Another note on this issue as it relates to Leap 15. Our OpenSUSE runtime-deps package is looking for libicu52_1 but libicu60_2 is what's available on the default Leap repos. I'll update the docs to call out the dependency requirement for Leap 15.

[2018-11-16 16:13] #4413 closed

[2018-11-19 20:22] jkotas opened #4768 "Flipping the GUI subsystem bit on apphost causes runtime startup diagnostics to be lost"
_From @nguerrera on October 30, 2018 22:11_

Filing this here for now, but I think a fix may require changes to the apphost code itself.

cc @vitek-karas @sbomer @jeffschwMSFT @peterhuene

## Repro steps
1. `mkdir wpf`
2. `cd wpf `
3. `dotnet new wpf`
4. Temporarily rename c:\Program Files\dotnet\shared to shared_ (so apphost cannot find runtime)
5. bin\Debug\netcoreapp3.0\wpf.exe
6. Rename shared

[2018-11-19 20:24] dleeapho opened #4769 "Customer-facing packages and installers have correct branding and naming"
- particularly new Windows desktop UI
- also localized branding

[2018-11-19 20:31] dleeapho opened #4770 "Shared Framework installer and common infrastructure"
1. Identify, and report redundancy of  common assemblies carried in multiple Shared Frameworks.
2. Drive discussions among Technology owners, team doesn't own the decision or its delivery.
3. Define requirement and provide common tooling to produce Shared Framework and installers.

[2018-11-19 20:36] dleeapho opened #4771 "Targeting Pack: netcoreapp nuget"
@dagood checklist:

* [x] Package ID `Microsoft.NETCore.App.Ref`
* [x] Move files into `data/`
* [x] Incorporate commit comments from https://github.com/dotnet/core-setup/compare/master...dagood:3bc8219
* [x] Set PackageType to `Data`

[2018-11-19 20:36] dleeapho opened #4772 "Targeting Pack: netcoreapp MSI, installers"

[2018-11-19 20:36] dleeapho opened #4773 "Targeting Pack common infrastructure"
[dagood] https://github.com/dotnet/core-setup/pull/5085#discussion_r253991314 has some thoughts on handling packs similar to `runtime.<rid>.<package id>` packages using the `.builds` infra. Fewer dirs and files that way, maybe more maintainable and easily usable in other repos. (Or replace the infra completely with something simpler.)

List of refactoring ideas from earlier PRs to improve this:

h

[2018-11-19 20:36] dleeapho opened #4774 "Targeting Pack: netcoreapp packaging"

[2018-11-19 20:39] dleeapho opened #4775 "Runtime Pack: netcoreapp nuget packages"
@dagood checklist:

* [x] Remove `ref/netstandard/_._` from runtime packs.
* ~Fix createdump inclusion in runtime packs. (Needs to be a separate dir so it's not included in publish. An alternative is a manifest of files to include in publish, but we might not do that yet.)~
* [x] Investigate Linux native binary size. (Probably just need to be running with Release mode.)
* [x] Include hostpolicy.dl

[2018-11-19 20:39] dleeapho opened #4776 "Runtime Pack: common infrastructure"

[2018-11-19 20:40] dleeapho opened #4777 "Runtime Pack netcoreapp packaging"

[2018-11-19 20:47] dleeapho opened #4778 "Deployment and Servicing guidance for customers"
- Particularly for Windows desktop UI scenarios
- How can enterprise customers deploy their apps to Windows clients?
- How can enterprise customers service .NET Core to Windows clients?
- How can customers author MSIX deployments via VS?

[2018-11-19 20:50] dleeapho opened #4779 "Build installers, packages from upstream repos for host, hostfxr"
With host and host fxr source moving to upstream repos (planned early 12/2018) we need to be able to continue to produce the installers and packages.

[2018-11-19 20:52] dleeapho opened #4780 "ARM Runtime and Host packages and installers"

[2018-11-19 20:54] dleeapho opened #4781 "Localized runtime installers and packages"

[2018-11-19 20:55] dleeapho opened #4782 "Support for customer localized app deployment"

[2018-11-19 20:55] dleeapho opened #4783 "Loc Support"

[2018-11-19 20:58] dleeapho opened #4784 "Replace pipebuild with Azure DevOps Yaml"

[2018-11-19 20:58] dleeapho opened #4785 "Enable dependency flow"

[2018-11-19 20:59] dleeapho opened #4786 "Move CI to Azure DevOps"

[2018-11-19 21:00] dleeapho opened #4787 "Centralize  common setup related tools and targets to Arcade"

[2018-11-19 21:00] dleeapho opened #4788 "Core-setup builds using Arcade"

[2018-11-19 21:06] dleeapho opened #4789 "Implement a build system for Snaps"
.NET Core Snaps are currently shipping but the process is manual. We need to implement a build system (based on Arcade)

[2018-11-20 14:30] dleeapho commented on #4778
Feedback on servicing: https://github.com/dotnet/core/issues/1541

[2018-11-20 14:33] dleeapho commented on #4778
Feedback pointing to asks on automated servicing scenarios: https://github.com/dotnet/core/issues/1781

[2018-11-20 20:31] technificentConsulting commented on #4350
The fix for me was simply uninstall "Microsoft .NET Core Runtime - 2.1.2 (x86)" ONLY

[2018-11-20 21:22] livarcocc opened #4795 "Support semver V2 in the host"
With the repos moving to arcade, all versions are moving to semver v2 as well.

This will likely happen for corefx/core-setup. This will happen for core-sdk and will happen for asp.net as well.

The host should be able to handle the runtimes/sdks with this new version scheme.

cc @natemcmaster

[2018-11-20 21:45] livarcocc commented on #4795
cc @leecow

[2018-11-20 22:01] leecow commented on #4795
@jeffschwMSFT - Is this work already scheduled?

[2018-11-20 22:12] jeffschwMSFT commented on #4795
What is semver V2?

CC @sdmaclea

[2018-11-20 22:13] natemcmaster opened #4797 "API-MS-Win-core-xstate-l2-1-0.dll is missing authenticode signatures in daily builds in win-x86 builds"
## Steps to reproduce
Run [signcheck](https://github.com/dotnet/arcade/tree/master/src/SignCheck) against http://dotnetcli.blob.core.windows.net/dotnet/Runtime/3.0.0-preview-27117-01/dotnet-runtime-3.0.0-preview-27117-01-win-x86.zip.
[code]

## Expected  behavior
All files should be code signed.

## Actual behavior
Signcheck fails with.

[code]

[2018-11-20 22:20] rakeshsinghranchi commented on #4722
PR : https://github.com/dotnet/core-setup/pull/4734

[2018-11-20 22:22] natemcmaster commented on #4795
https://semver.org/spec/v2.0.0.html and https://blog.nuget.org/20140924/supporting-semver-2.0.0.html are good material to read on this.

Probably the most important difference: the pre-release labels in SemVer2.0 are allowed to contain a dot, which affects sorting rules. Example: `3.0.0-preview.15866.6` (semver 2) vs `3.0.0-preview-15866-06` (semver 1).

There are a few others things in semver 2.0

[2018-11-20 23:07] sdmaclea commented on #4795
@natemcmaster The aspnet/AspNetCore#4171 issue mentions that it is blocked moving to semver v2 until this is resolved.  Can you explain the issue further?  Is the version sorting broken in the host?

[2018-11-20 23:34] natemcmaster commented on #4795
@sdmaclea yes, I don't want to move us to semver v2 until we're clear that it is a supported scenario. Here is one scenario that is broken today:

semver v2 requires (1) no leading zeros in numeric identifiers and (2) pre-release labels should be split on dots, with numeric identifiers sorted by numeric value, not ASCII value. So, if I only have `Microsoft.NETCore.App/3.0.0-preview.10` installed a

[2018-11-21 05:17] jerryno6 commented on #4724
I've just created a new VM running ubuntu 18.04
And followed these steps. https://www.microsoft.com/net/download/linux-package-manager/ubuntu18-04/sdk-current
Everything worked well.

[2018-11-21 13:32] vitek-karas commented on #4795
The only tricky bit will be that we will have to keep supporting the old versioning scheme in the host code as well (since `hostfxr` must be able to find and resolve <3.0 frameworks).

In theory there's one case where this is impossible to do fully backward compatible: 1.0.0-9 and 1.0.0-10
In the v1 of semver this would compare in the order 1.0.0-10 < 1.0.0-9. In the v2 of semver this would compar

[2018-11-21 22:26] robertborr opened #4802 "Build failure: CoreSetup 20181121.03 & 20181121.02"
@dotnet-mc-bot commented on [Wed Nov 21 2018](https://github.com/dotnet/core-eng/issues/4699)

Opened on behalf of @v-asdhin

Warnings: 1
Status Message: failed

Build : 3.0 - 20181121.03 (Product Build)
Failing configurations:
- Windows
  - Validation-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcore-setup~2Fmaster~2F/type/build~2Fproduct~2F/build/201

[2018-11-23 19:00] newton-jose commented on #2811
HI people. I'm getting this error after "apt-get update":
 Err:17 https://packages.microsoft.com/debian/9/prod stretch Release
  gnutls_handshake() failed: Public key signature verification has failed.

How solve it? I'm using Debian 9 and follow the instructions from:
https://www.microsoft.com/net/learn/dotnet/hello-world-tutorial#linuxdebian

Thanks in advance.

[2018-11-26 19:44] vitek-karas commented on #3623
/cc @johnbeisner

I think that the ideal solution would be to implement version ranges the same way [NuGet does it](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json#matching-rules).
Short:
* `1.0` means `1.0 <= x` - only release versions
* `[1.0,1.5)` means `1.0 <= x < 1.5` - only release versions
* `1.0.*` means any `1.0.x` version, including pre-release versions

If we would do thi

[2018-11-26 20:51] dasMulli commented on #3623
If it supported NuGet versions, then `*` would be my use case, with `*-*` (currently unsupported by NuGet!) being the default.

E.g., I'd like the host to select SDKs `2.1.*`, `2.2.*` etc. but not automatically `3.0.100-preview-*` versions. But when a `3.0.100` is installed, I want to be using that one.
I just don't want the host to select any preview versions.

[2018-11-27 18:07] vitek-karas commented on #4455
Regarding the host error reporting (not the runtime), we ran into the need for redirecting errors as well. So I played with some possible solutions and this one seems like the best option:

`hostpolicy` would expose this new export
[code]

`hostfxr` would expose basically the same thing, just different name
[code]

The function would register the specified callback on the current thread. The regis

[2018-11-27 18:11] pakrym commented on #4455
This looks like it would work for us.

[2018-11-27 20:37] natemcmaster opened #4809 "Developing a shared framework requires installing a shared framework"
We develop the Microsoft.AspNetCore.App shared framework in https://github.com/aspnet/AspNetCore, and it is currently difficult for our contributors to actually run tests against the shared framework. Corehost only resolves shared frameworks from $DOTNET_ROOT/shared/Microsoft.AspNetCore.App/ or the global location, which means there are basically two options for our contributors:

* Install a copy

[2018-11-27 22:13] natemcmaster commented on #3311
Just FYI - Microsoft.Extensions.DependencyModel is one of the assemblies pulling Json.NET into the AspNetCore shared framework. I would consider this a blocking-RTM feature since it is our intention to remove Json.NET from the shared framework, and we can't remove our dependency on Microsoft.Extensions.DependencyModel

[2018-11-27 23:35] ericstj opened #4810 "AppHost for WinExe fails silently when framework isn't found"
## Steps to reproduce
using latest SDK do dotnet new WPF
set the RuntimeFrameworkVersion to some version that is not in installed in dotnet\shared
build app
run built exe

## Expected  behavior
error message that has similar info to commandline experience, eg:
[code]

## Actual behavior
silent failure.

/cc @steveharter @vitek-karas @adamyoblick

[2018-11-27 23:40] ericstj commented on #4810
For reference, here's the dialog we get on desktop for a similar situation.
![image](https://user-images.githubusercontent.com/8918108/49118832-c3c13e00-f25a-11e8-9b05-594ab0562733.png)

[2018-11-28 01:42] swaroop-sridhar opened #4811 "ADDITIONAL_DEPS failure reported in .NetCore 2.1"
Moved from https://github.com/aspnet/AspNetCore/issues/3523

Reported by @tobyash86:
"My project is injecting an external library as a dependency for the CoreCLR profiler. It uses ADDITIONAL_DEPS environment variable to achieve that. Everything works well as long as ASP.NET Core 2.0 web application is profiled, but if I use exactly the same workflow with ASP.NET Core 2.1 my library is not found by

[2018-11-28 08:20] dasMulli commented on #3623
Basically I just want a `global.json` equivalent for

![](https://msdnshared.blob.core.windows.net/media/2018/10/derp.png)

[2018-11-28 08:38] vitek-karas commented on #4810
Duplicate of #4768

[2018-11-28 08:38] #4810 closed

[2018-11-28 17:42] pakrym opened #4814 "apphost.exe file size grew almost 2x in 3.0"
## Steps to reproduce
Size of `runtime.win-x64.microsoft.netcore.dotnetapphost\3.0.0-preview-27122-01\runtimes\win-x64\native\apphost.exe`  is 330KB.

While the size of `dotnet.exe` which in theory has more logic is 145KB

## Expected  behavior

`apphost.exe` should be as small or smaller then `dotnet.exe`

dumpbin apphost.exe

[code]

dumpbin dotnet.exe
[code]

[2018-11-29 08:56] vitek-karas commented on #4809
There's dotnet/cli#10100 which will add the ability to install SDK (and frameworks) into a user specified location which will effectively replace the current ProgramFiles one. The location will be in registry (probably machine wide), so the first time setup requires admin rights, but after that if the location is user accessible, normal user can write there as well.

This would not solve the probl

[2018-11-29 16:42] natemcmaster commented on #4809
Just trying to understand better... Don't we already have code which parses the app's runtimeconfig.json to know _which_ shared framework name and version we are looking for? I would have thought adding a probing path could just be one more input to the 'find a framework' code. I was considering sending a PR for this since it's important to my team, and was looking at putting code into this method

[2018-11-29 16:55] vitek-karas commented on #4809
That would work in most cases. The problem is not with the framework but with how `dotnet.exe` finds `hostfxr.dll` - this happens before any framework resolution is attempted.

Basically the problem is that if your global location only has let's say 2.2 as the latest installed, its `hostfxr` is also 2.2. So running the global `dotnet.exe` (without additional changes) would find the 2.2 `hostfxr` w

[2018-11-29 18:54] natemcmaster commented on #4809
I understand your concern now. I think this concern mostly applies to Microsoft.NETCore.App. Other shared frameworks shouldn't be implementing their own hostfxr or policies, so I would be okay if an option like "additionalFrameworkProbingPaths" was supported but only applied to additional frameworks, not the root framework.

The primary reason I think `DOTNET_ROOT` is insufficient is that it's not

[2018-11-29 20:52] natemcmaster opened #4819 "Apphost doesn't find framework installations if libhostfxr.so is in the same directory"
_From @habibs on November 29, 2018 6:49_

### Describe the bug
Published app as a 'framework-dependent' and deployed into Ubuntu 16.04.3
Latest asp.net core run-time is installed , but application does not start.

### To Reproduce
Steps to reproduce the behavior:
1. Using this version of ASP.NET Core '2.1.6'
2. Run this code 'sudo ./MyWebApi'
3. With these arguments '....'
4. See error : ""It was

[2018-11-29 20:52] natemcmaster commented on #4819
Can you capture a corehost trace? Launch your app with the COREHOST_TRACE environment variable set and redirect stderr to a file.

    COREHOST_TRACE=1 dotnet MyWebApp.dll 2>log.txt

[2018-11-29 20:52] natemcmaster commented on #4819
_From @habibs on November 29, 2018 7:7_

Hi, Nate. Thanks for helping, here it is:

[log.txt](https://github.com/aspnet/AspNetCore/files/2627978/log.txt)

[2018-11-29 20:52] natemcmaster commented on #4819
The log does not show an error. You closed the issue, so did you figure out the problem?

[2018-11-29 20:52] natemcmaster commented on #4819
_From @habibs on November 29, 2018 7:21_

I closed an issue by accident, it is not resolved.

Here is an output from console:
![error](https://user-images.githubusercontent.com/368372/49205483-ee350780-f3d0-11e8-8d30-c6c08b89a921.jpg)

[2018-11-29 20:52] natemcmaster commented on #4819
Can you share the log when you run this?

    COREHOST_TRACE=1 ./KazkomWebApi 2>log.txt

[2018-11-29 20:52] natemcmaster commented on #4819
By the way, the screenshot you sent says that KazhomWebApi is looking for dotnet in /home/habib. Do you have the DOTNET_ROOT environment variable set?

[2018-11-29 20:52] natemcmaster commented on #4819
_From @habibs on November 29, 2018 8:35_

No, I don't have any .net core related environment variables set.
Here what 'printenv' shows:
`XDG_SESSION_ID=2348
TERM=xterm
SHELL=/bin/bash
SSH_TTY=/dev/pts/3
USER=habib
LS_COLORS=rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.t

[2018-11-29 20:52] natemcmaster commented on #4819
_From @habibs on November 29, 2018 8:40_

Before doing 'framework dependent deployment' i did 'self-contained' and it worked fine. Several days after installed .net core runtime using instructions from [here](https://dotnet.microsoft.com/download/linux-package-manager/ubuntu16-04/runtime-current) and tried 'framework dependent' variant.

Seems linux binary generated during publish misbehaves someh

[2018-11-29 20:54] natemcmaster commented on #4819
I suspect you may be seeing this bug as the result of an unclean deployment directory. Try cleaning out all *.dll and *.so files and re-creating your deployment. It appears the presence of libhostfx.so causes .NET Core to expect shared frameworks in `/home/habib`

[code]

[2018-11-30 04:58] habibs commented on #4819
Cleaning everything in a folder with `rm -rf *` and re-deploying did not help.
I have tried publishing via dotnet cli using `dotnet publish -c release -r linux-x64 --self-contained false`, it produced binary named 'apphost' instead of KazkomWebApi. Deployed this version and tried to run and got this:
![publish_from_cli](https://user-images.githubusercontent.com/368372/49269091-036b6e00-f485-11e8-8

[2018-11-30 11:20] pkruk2 commented on #4811
### Attaching files:
1. Hooks.zip - a simple .net framework 2.0 project. After compilation it will produce Hooks.dll that should be used in ADDITIONAL_DEPS. (The project was simply created with VS 2017 template and contains only default "Class1.cs" file)
2. NetCoreConsoleApp.zip - a simple .net core 2.1 console application, consisting of 3 projects, and printing "hello" to console. It contains 2 p

[2018-11-30 14:37] vitek-karas commented on #4809
I personally think that this is something which VS should have an option for, ideally as an MSBuild property  (but then it's a chicken and egg problem I guess). The fact the VS forces the use of the same `dotnet` on all projects in it feels wrong.

I think that if the runtime would be to support this, then the right place would be the `global.json` as it already handles a similar concern for SDK.

[2018-11-30 15:52] onovotny commented on #679
Apparently there is a way to specify "latest prerelease"

[code]
Because there is no exact version that matches, it'll look for the latest, which would be something like `3.1.100-preview.9754`.

[2018-11-30 17:44] jaxidian commented on #3965
It's happening to me, too, on a Windows machine. I'm running VS2017 v15.9.1 with everything else relevant fully up-to-date. I have a brand new Functions project (v2 preview, HTTP Trigger at setup) where I've added EFCore resources.

[code]

In my scenario, I'm trying to run `dotnet efcore dbcontext scaffold "connstrgoeshere" Microsoft.EntityFrameworkCore.SqlServer -o Database` and I get that error

[2018-11-30 18:41] jaxidian commented on #3965
Okay, I've figured out how to get one step further but with COREHOST_TRACE=1 set (`2>corehost.log`), it seems to freeze here:

[code]

I had it freeze here yesterday as well, not piping it to a file, and it didn't finish even after hours of waiting.

[2018-11-30 18:46] rakeshsinghranchi opened #4823 "Build Windows ARM legs using default VS toolset"
Similar work was done for coreclr and corefx:
https://github.com/dotnet/corefx/pull/30923
https://github.com/dotnet/coreclr/pull/18817

[2018-11-30 18:47] rakeshsinghranchi commented on #4823
cc @vitek-karas

[2018-11-30 23:21] vitek-karas commented on #4823
cc @sdmaclea

[2018-12-01 02:34] swaroop-sridhar commented on #4811
Thanks for the detailed instructions, @pkruk2.
I don't see the attachments.

[2018-12-02 05:00] dasMulli commented on #679
Also see @vitek-karas' suggestion for NuGet-style version specifications at
https://github.com/dotnet/core-setup/issues/3623#issuecomment-441772412

[2018-12-02 12:44] KarlisVe commented on #4230
I have same problem on "clean" Ubuntu 18.04.

Installation:
[code]
Running ``dotnet`` :
``Command 'dotnet' not found, but can be installed with:
sudo snap install dotnet-sdk``

Running ``dotnet-sdk.dotnet help``:
``ln: failed to create symbolic link '/var/snap/dotnet-sdk/24/Microsoft.NETCore.App/2.1.6': No such file or directory
.NET Command Line Tools (2.1.500)
Usage: dotnet [runtime-options] [pa

[2018-12-03 09:38] pkruk2 commented on #4811
@swaroop-sridhar I am sorry, it seems I forgot to attach the most important part of the repro ;)
Attaching now.

[Hooks.zip](https://github.com/dotnet/core-setup/files/2638856/Hooks.zip)
[NetCoreConsoleApp.zip](https://github.com/dotnet/core-setup/files/2638855/NetCoreConsoleApp.zip)
[scripts.zip](https://github.com/dotnet/core-setup/files/2638854/scripts.zip)

[2018-12-03 21:40] wtgodbe commented on #2969
We do run Linux-Arm64 builds now: https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/results?buildId=2249568

[2018-12-03 21:40] #2969 closed

[2018-12-03 22:16] robertborr opened #4828 "build is modifying the path and/or NuGet.Config is being changed"
## Steps to reproduce
in build: https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2248008

12/2/2018 4:59 AM (UTC) : Contents of \\DDVSOWINAGE022\C$\Users\dlab14\AppData\Roaming\NuGet\NuGet.Config changed from <?xml version="1.0" encoding="utf-8"?>

## Expected  behavior
do not modify NuGet.Config or system path

## Actual behavior
NuGet.Config is changed

## Environment data

[2018-12-04 23:10] OliaG opened #4830 ".NET Core 3 Preview 1 installation wrong wording"
We should update text in the installer to say .NET Core 3.0 instead of 2.2 and update recommended VS to 2019 Preview 1

![1](https://user-images.githubusercontent.com/31997351/49479179-f2996000-f7d6-11e8-9724-bce7c4472f83.jpg)

[2018-12-04 23:30] terrajobst commented on #4830
Was fixed in 90d7ea73d7a8a9c3fe7c4aff40cfe4721ca3d7a0.

[2018-12-04 23:30] #4830 closed

[2018-12-04 23:34] vitek-karas commented on #3965
I tried to repro this, but no luck so far.
@214169 can you please try to set the `COREHOST_TRACE=1` and run the command again with `2>corehost.log` to redirect the stderr. And then share the log file (if you're comfortable doing so, it will contain local paths on your machine and also probably the DB password, feel free to scrub the DB password in the file)

Anybody who can repro this, can you sha

[2018-12-05 00:00] 214169 commented on #3965
[EFScaffold.zip](https://github.com/dotnet/core-setup/files/2646604/EFScaffold.zip)

Run following cmd in attached project, you will be able to see error : dotnet ef dbcontext scaffold "Server=.\sqlexpress;Database=xyz;Trusted_Connection=True;"  Microsoft.EntityFrameworkCore.SqlServer -o Model

[2018-12-05 00:04] vitek-karas commented on #3965
Thanks a lot - reproes - I'll look into it

[2018-12-05 00:41] vitek-karas commented on #3965
The hang if `COREHOST_TRACE=1` is set is caused by a bug in the Azure functions SDK. See Azure/azure-functions-vs-build-sdk#264.

I'll see if I can somehow workaround it to get to the actual failure.

[2018-12-05 02:53] pauldotknopf commented on #4530
Now that preview 1 is out, should I look into this now?

Sorry to keep pinging, I just want to make sure my use-case is supported with 3.0 finally gets released.

[2018-12-05 03:47] AaronRobinsonMSFT commented on #4530
@pauldotknopf Please do not stop bugging me! 😄 This is definitely important to me. The Preview 1 timeframe for me was focused on native COM server consumption. For Preview 2, my focus will be making some of the dev experience better, but then Preview 3 timeframe will be managed COM servers which will entail addressing the issues you are alluding to with this PR. A co-worker of mine is starting to

[2018-12-05 15:59] vitek-karas commented on #4819
This is broken in the SDK. Thanks a lot for reporting this problem to us.
I filed dotnet/sdk#2722 to get this fixed.

As for a workaround, the only one I can think of is either:
* Use self contained publish (I know it's not what you wanted though)
* Delete the `hostpolicy` and `hostfxr` files and delete the `.deps.json` `native` entries for these. I verified that with this change the app runs just

[2018-12-05 17:16] sdmaclea commented on #4455
@vitek-karas Looks like you merged #4816.  Is that sufficient to close this?  Or do we need something else?

[2018-12-05 17:31] pakrym commented on #4455
Would be nice to have some way of capturing unhandled exceptions too. @vitek-karas @jkotas  do you want me to file that separately?

[2018-12-05 18:38] pakrym opened #4836 "Add a way to capture runtime fatal errors"
As discussed in https://github.com/dotnet/core-setup/issues/4455#issuecomment-422214003 it would be nice for the host to be able to capture runtime fatal errors (including unhandled exception).

Original motivation: In ANCM we are trying to prevent the worker process from crashing by means of catching all native exceptions coming from `hostfxr_main` but doing so overrides coreclr unhandled excepti

[2018-12-06 08:41] habibs commented on #4819
Thanks for helping, Vitek Karas. I am actually using the second workaround you mentioned (`dotnet path_to_the_dll`) in production for now.

[2018-12-06 19:42] #4823 closed

[2018-12-06 19:50] OliaG opened #4840 "Make .NET Core 3 installer HDPI aware"
Right now the installer window is blurry on >100% display settings. We should make it HDPI aware.
![image](https://user-images.githubusercontent.com/31997351/49608305-24343780-f94d-11e8-8f74-6a8ce614a027.png)

[2018-12-07 15:00] 0xd4d commented on #4768
I see this when there's not even a dotnet dir:

I expect a message box to be shown (it's a UI app) and perhaps a friendlier message so normal users understand it. Eg. not having .NET Core 3.0 installed (or the wrong version) is probably the most common error so it should be shown first. A link to some MS site could be used to show more advanced info (for developers).

[2018-12-07 17:40] dotnet-mc-bot opened #4843 "Build failure: 20181207.02 & 20181207.01"
Opened on behalf of @v-asdhin

Warnings: 1
Status Message: failed

Build : 3.0 - 20181207.02 (Product Build)
Failing configurations:
- Windows
  - PortableBuild-arm64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcore-setup~2Fmaster~2F/type/build~2Fproduct~2F/build/20181207.02/workItem/Orchestration/analysis/external/Link)

Logs:
---------
Build binaries
…

[2018-12-07 18:32] muratg commented on #4330
@jeffschwMSFT Do you know what preview this would go in?

cc @vitek-karas

[2018-12-07 18:42] jeffschwMSFT commented on #4330
@muratg we do not have it aligned yet with a preview.  Once we have those details we will let you know.

[2018-12-07 20:56] vitek-karas commented on #3965
Turns out to be a known issue with Azure Functions: Azure/azure-functions-host#2408
There's possible workaround mentioned in here: aspnet/EntityFrameworkCore#14084

[2018-12-07 21:00] vitek-karas commented on #3965
The hang when tracing is on has a solution in 3.0 (it's possible to redirect tracing to a file). We're considering to port this change back to 2.2 as well.

[2018-12-07 21:01] #3965 closed

[2018-12-07 22:07] muratg commented on #4330
@jeffschwMSFT Sounds good, thanks. We'll need to align our change with this, so looking forward to hearing your plans.

[2018-12-10 17:15] robertborr opened #4849 "build failure move build from DotNet-Build to DotNetCore-build"
This change:
https://github.com/dotnet/core-setup/commit/2ba8b36820d8237d8b46bd71bfe284e7ed47ba9e

does not work on the official build machines in DotNet-Build which are running VS2015.
The simplest change you can make is to move to the DotNetCore-Build pool.

Issues affected by this:
https://github.com/dotnet/core-eng/issues/4775
https://github.com/dotnet/core-eng/issues/4773
https://github.com/d

[2018-12-10 20:59] robertborr commented on #4849
ANOTHER INSTANCE: https://github.com/dotnet/core-eng/issues/4777

[2018-12-11 09:50] netcore-jroger commented on #4350
@steveharter maybe some problem points can be found from the system environment variables.
I found that Path contains `C:\Program Files(x86)\dotnet\` and `C:\Program Files\dotnet\`. And `C:\Program Files(x86)\dotnet\` is in front of `C:\Program Files\dotnet\`.
So the dot net command is always executed inside `C:\Program Files(x86)\dotnet\dotnet.exe`.
So just delete `C:\Program Files(x86)\dotnet\`.

[2018-12-11 17:59] jceddy commented on #2007
@rmja

Unfortunately this doesn't work when specifying what to start in web.config for IIS

[2018-12-11 19:07] #4849 closed

[2018-12-11 19:57] rickbrew opened #4854 "Need a "web" installer for desktop app bundling"
I'm in the early stages of researching and planning for migrating Paint.NET (https://www.getpaint.net/) from .NET Framework 4.7 to .NET Core 3. I noticed that Core does not have a "web installer" -- that is, a small stub installer (~1.4MB for .NET Framework 4.7.2) that downloads the rest of what's needed on-demand from Microsoft's servers.

This is important for Paint.NET for several reasons. I ne

[2018-12-11 20:03] rickbrew commented on #4854
btw, I do expect the Paint.NET download size to increase during the migration from Framework to Core. Going from 7.5MB to even ~15MB would be alright, but 40+ would be a problem.

[2018-12-12 08:50] PavloPaitak commented on #4350
I just deleted SDK, Runtime x86, and then install SDK x64

[2018-12-12 12:57] mnavarrocarter commented on #4230
This is a snap predefined behavior AFAIK. It is so in order to prevent binary names clashing. If you don't have another `dotnet` binary in your system or you don't plan to, you can safely run `sudo snap alias dotnet-sdk.dotnet dotnet` to alias the snap binary to the classic `dotnet` command.

[2018-12-12 18:30] johnbeisner commented on #4324
Related: https://github.com/dotnet/core-setup/issues/4637

[2018-12-12 18:58] rakeshsinghranchi commented on #4854
cc @vivmishra  @leecow @dleeapho

[2018-12-13 00:35] rakeshsinghranchi opened #4858 "[Azure Dev Ops] : Replace installed VS MSBuild with BuildTools dotnetcli"
As of today, in core-setup, Windows legs, Finalize-Publish and Signing-Validation legs use installed MSBuild to build the product. This is different than Linux legs, they use dotnet core to build the product. Since, moving to yaml and dnceng changes the machine pool and the software set preinstalled in these machines, it is important to unify the msbuild to use single , dotnet core version. This m

[2018-12-13 00:38] rakeshsinghranchi opened #4859 "[Azure Dev Ops] : Generate manifest xml in core-setup finalize-publish"
Generating manifest.xml that is input to publishing assets to B.A.R . This is pre-requisite and minbar for enabling core-setup for ProdCon V2.

[2018-12-13 15:37] dleeapho commented on #4854
@rickbrew thanks for surfacing a concrete scenario for a web installer for .NET Core deployment on the desktop. I'm assuming you are considering a framework-dependent deployment for Paint.NET, but have you considered a self-contained deployment? In particular the trimming you are looking for might be achieved through [IL Linker](https://github.com/dotnet/core/issues/915).

[2018-12-13 17:16] Suchiman opened #4865 "EF Powershell fails to load hostpolicy.dll when RuntimeIdentifier is win7-x86"
With a csproj looking like
[code]

Trying to issue following command on the package Manager console
`Scaffold-DbContext "Server=..." Microsoft.EntityFrameworkCore.SqlServer -OutputDir Database -Force`
will result in this error being generated:
[code]

Changing
[code]
to
[code]
fixes this but has https://github.com/dotnet/cli/issues/10474 as a side effect

[2018-12-13 17:39] rickbrew commented on #4854
@dleeapho Yes, FDD is what I'm going for. However, Paint.NET supports plugins and they will need access to portions of the framework that I can't really predict, so I can't just link-and-trim.

[2018-12-13 23:55] rakeshsinghranchi opened #4866 "Evaluate build definition step to copy sharedfx to build machine staging directory"
Linux x64 leg for glibc produces portable binaries . Same binaries are consumed by all native installers ( rpm and deb ) . As of today, it is achieved by copying the sharedframework published folder to Build machine staging directory and then volume mapped during docker run for each native installer build process. Copying to Build machine staging directory is a separate step in build definition. I

[2018-12-14 05:07] yyjdelete opened #4868 "The url of `.NET Core prerequisites` is never point to the right page"
## Steps to reproduce
I hit the same issue as #3521, #4388, and etc when install netcore.

And found that currently error message
[code]

https://github.com/dotnet/core-setup/blob/9a776be820ff4ae83476c7e9e97514ecd8f3ae1d/src/corehost/corehost.cpp#L263-L269

is still point to  http://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409 , which then jump to https://dotnet.microsoft.com/learn/dotnet/he

[2018-12-14 21:30] vitek-karas commented on #4868
Thanks a lot for reporting this. I'm looking into it.

[2018-12-16 22:04] mclang commented on #4295
I am running Solus on two machines.

I tried to use snap package but it gave following error:
[code]

I did manual installation using [.NET Core 2.2.0 SDK Binary](https://github.com/dotnet/core/blob/master/release-notes/2.2/2.2.0/2.2.0-download.md) and got `dotnet new` and `dotnet restore` working on my Solus Budgie PC, but not on the Solus Plasma laptop.

After doing `export DOTNET_SYSTEM_NET_HTT

[2018-12-17 01:39] livarcocc opened #4873 "dotnet.exe claims `--roll-forward-on-no-candidate-fx` switch exists, but denies that if you use it"
@AArnott commented on [Sat Dec 15 2018](https://github.com/dotnet/cli/issues/10477)

The dotnet CLI tool documents that a `--roll-forward-on-no-candidate-fx` switch exists:

[code]

But when I use it, it denies that it's a valid switch, and follows up with usage docs that once again repeat that it *does* exist.

## Expected  behavior

I expect it to run like it does without the switch:

[code]

##

[2018-12-17 15:59] omajid commented on #4295
Sounds almost like https://github.com/dotnet/corefx/issues/32224. I can't tell if the fix was backported to 2.2 or not.

[2018-12-17 16:31] bartonjs commented on #4295
@omajid Should be, the commit was https://github.com/dotnet/corefx/commit/d3d3336ce274860534d96d593476591f3c01c7d2, which was brought to release/2.2 via https://github.com/dotnet/corefx/commit/d3d3336ce274860534d96d593476591f3c01c7d2 (not that the GitHub UI shows that, because it's showing what changes were in release/2.2 that made it different from release/2.1 at that point).

The 2.2.100 tgz for

[2018-12-18 06:54] godrose opened #4879 "Uninstalling .NET Core 3.0.0 preview1 leaves traces"
# Issue Title

Uninstalling .NET Core 3.0.0 preview1 leaves traces

# General

I removed .NET Core 3 SDK and still have `dotnet` CLI complaining about missing files in path that includes the words `3.0.0-preview`

[2018-12-18 08:47] vitek-karas commented on #4873
The usage docs is somewhat misleading. All runtime options require a value. So this should work

`dotnet --roll-forward-on-no-candidate-fx true myapp.dll`

Please keep this issue opened, I'll use it to improve the docs.

[2018-12-18 12:50] vitek-karas commented on #4873
I was wrong about the exact syntax. The value of the option should be a number 0, 1 or 2.
* 0 - off
* 1 - roll forward on minor and patch (default)
* 2 - roll forward on major, minor and patch

Details can be found [here](https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/roll-forward-on-no-candidate-fx.md#roll-forward-in-absence-of-candidate-fx).

[2018-12-18 16:06] AArnott commented on #4873
Wow. OK, that would be great to include in the usage doc.

[2018-12-18 18:06] dotnet-mc-bot opened #4880 "Build failure: Link"
Opened on behalf of @robertborr

Warnings: 3
Status Message: failed

Build : 3.0 - 20181218.02 (Product Build)
Failing configurations:
- Windows
  - PortableBuild-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcore-setup~2Fmaster~2F/type/build~2Fproduct~2F/build/20181218.02/workItem/Orchestration/analysis/external/Link)

one leg failed with:
2018-12-18T1

[2018-12-18 18:40] rakeshsinghranchi commented on #4879
@godrose , thanks for reporting the issue . To further diagnose the issue, I would need to look at setup logs. Can you please follow below steps and share the setup logs here ?

1) Download collect.exe from the link http://aka.ms/vscollect  .
2) You may choose to save the tool for later use, or to run directly.
3) The utility creates a compressed cabinet of all the VS and .NET logs to %TEMP%\vslog

[2018-12-18 19:20] rakeshsinghranchi commented on #4880
This issue looks like is unrelated to the product change.

[2018-12-18 19:22] rakeshsinghranchi commented on #4868
cc @vivmishra , @leecow as it is related to fwlink.

[2018-12-19 07:20] godrose commented on #4879
@rakeshsinghranchi  The resulting file is too big and `Github` does not allow to upload it. Please use the following `Drive` link:

[2018-12-19 07:31] mclang commented on #4295
No, I don't have anything else than 2.2.100 installed now.

I tried snap version before, but it didn't work b/c SSL errors so I removed it to keep the system clean. This is my `dotnet --info`:
[code]

[2018-12-19 21:30] rakeshsinghranchi commented on #4840
Related : https://github.com/dotnet/core-setup/issues/3049

[2018-12-19 21:32] rakeshsinghranchi commented on #4802
Latest official build was successful. Thus, closing this.

[2018-12-19 21:32] #4802 closed

[2018-12-19 22:38] rakeshsinghranchi commented on #4880
Today's build is failing with signing issue : https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/results?buildId=2288448

@mmitche - Is there a known issue with signing ? https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/results?buildId=2288448&view=logs&jobId=6c25204a-f908-5211-4c6f-d0255653bab1&taskId=b53b31a6-dd1a-5a54-b712-28a87d6cd709&lineStart=5946&lineEnd=5947&col

[2018-12-19 22:38] rakeshsinghranchi commented on #4880
cc @wtgodbe as he might be aware of this issue too.

[2018-12-19 23:52] robertborr commented on #4880
@ilyas1974  is looking at the issue on signing

[2018-12-20 00:50] sandreenko opened #4884 "3.0.100-preview-009844 SDK corrupts relative paths"
## Steps to reproduce
on windows x64 machine:
1. Install 3.0.100-preview-009844 (https://dotnetcli.blob.core.windows.net/dotnet/Runtime/master/dotnet-runtime-latest-win-x64.exe)
2. Clone CoreCLR (git clone https://github.com/dotnet/coreclr.git);
3. build CoreCLR:
  build.cmd x64 checked
4. See output.
## Expected  behavior
build should succeed.

## Actual behavior
dotnet.exe fails with:
[code]

if

[2018-12-20 00:50] sandreenko commented on #4884
cc @dotnet/jit-contrib

[2018-12-20 19:05] rakeshsinghranchi commented on #4884
@johnbeisner, @livarcocc  - Can you take a look at this issue related to SDK ?

[2018-12-20 19:31] rakeshsinghranchi opened #4890 "Fail to install dotnet core 2.2 on SLES 12"
_From @rtssrl on December 20, 2018 9:28_

Following instructions at https://dotnet.microsoft.com/download/linux-package-manager/sles/runtime-current:

[code]
Looks like dotnet-host-2.2 RPM is missing from https://packages.microsoft.com/sles/12/prod/

_Copied from original issue: dotnet/core#2174_

[2018-12-20 19:31] rakeshsinghranchi commented on #4890
_From @karelz on December 20, 2018 19:21_

@rakeshsinghranchi @leecow can you take a look please and help route it?

[2018-12-20 19:31] rakeshsinghranchi commented on #4890
@leecow , @vivmishra  - Looks like package publish issue.

[2018-12-20 22:35] rakeshsinghranchi opened #4894 "Revert : Double the default timeout. Publishing is subject to huge delays due to exclusive lock"
Do this when dotnet/arcade#1175  is fixed.

[2018-12-21 14:58] vitek-karas commented on #4868
This will have to wait till Jan, people needed to make this change are on holidays.

[2018-12-25 22:41] EgorBo commented on #4884
I am experiencing the same issue, dotnet 3.0.100-preview-009844

[2018-12-26 09:15] OpenGDBX opened #4900 ".net core 2.2 sdk install failed on windows 7 sp1"
# Issue Title

.net core 2.2 sdk install failed on windows 7 sp1

# General

 the cabinet file sfx_x64.cab has an invalid digital signature

[2018-12-27 14:23] Symbai opened #4904 "Programmatically way to detect installed .NET Core version"
Is there any reliable way to programmatically detect if .NET Core is installed on a computer (Windows only) and get the installed version? I'm aware of most guides say we can run `dotnet --version` or even worser `dotnet --info` in command line. However this is more related for a human sitting in front of a computer and wants to see the version and for this purpose only its okay. But it's not a go

[2018-12-27 20:00] robertborr opened #4903 "Build failure: Link"
@dotnet-mc-bot commented on [Thu Dec 27 2018](https://github.com/dotnet/core-eng/issues/4871)

Opened on behalf of @robertborr

Warnings: 1
Status Message: failed

Build : 3.0 - 20181227.01 (Product Build)
Failing configurations:
- Windows
  - Validation-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcore-setup~2Fmaster~2F/type/build~2Fproduct~2F/build/2

[2018-12-27 20:01] robertborr commented on #4903
problems loading nuget to validate signing.

[2018-12-27 22:00] vitek-karas commented on #4819
This will be fixed in .NET Core 3.0 (you can actually try it on the preview where it already works).
See dotnet/sdk#2722 for more details.

Closing this as resolved.

[2018-12-27 22:00] #4819 closed

[2018-12-27 22:11] vitek-karas commented on #4904
Currently running 'dotnet --version' or 'dotnet --info' is probably the simplest way. You can also programmatically look up the `dotnet` folder in `Program Files`. If it's there, go to the `host/fxr` sub directory and find the latest version there. In it there's `hostfxr.dll`. This library exposes an export [`hostfxr_get_available_sdks`](https://github.com/dotnet/core-setup/blob/c90112f389a5687603

[2018-12-28 00:10] Symbai commented on #4904
Thanks @vitek-karas the registry key will be useful. I still recommend to add a key for the version though its much easier to read this information from a static location for all kind of software and programming languages including and most important installers like inno setup. I don't think you can easily load the library with inno setup and all the API.

[2018-12-28 19:47] vitek-karas commented on #4904
@Symbai can you please describe in a bit more detail your scenario specifically what you need the version number for, and what exact version number you're looking for (highest SDK version, highest "runtime" version, something else, ...)? Feel free to add more details to the discussion in dotnet/cli@10100.

[2019-01-02 16:18] ViktorHofer opened #4915 "Support DOTNET_ROOT with dotnet.exe"
As discussed offline this is necessary for at least corefx to get rid of our custom dotnet installation in our testhost folder and just use the repo one under corefx/.dotnet/.

We need to treat DOTNET_ROOT as a third multi-level location. So there would be three locations searched with multi-level lookup:
1. The current directory\location of dotnet.exe (as today)
2. The default installation locati

[2019-01-02 19:15] rakeshsinghranchi commented on #4879
cc @johnbeisner  from Core SDK team.

Core-SDK uninstall log is missing in the cab. File name starts with Microsoft_.Net_Core_SDK_3.0.100_-*.log and is available under %temp% location.

Tried to repro the issue locally. Do you see similar log entries in repro machine ?
What versions of .NET Core is installed in the machine?
What CLI command did you execute ?
What CLI error message did you get ? Pl

[2019-01-02 19:56] rakeshsinghranchi commented on #4900
This issue was moved to dotnet/core-sdk#234

[2019-01-02 19:56] #4900 closed

[2019-01-02 19:59] #4784 closed

[2019-01-02 19:59] #4786 closed

[2019-01-02 20:08] #4722 closed

[2019-01-02 22:21] leecow commented on #4890
Confirmed, dotnet-host-2.2 is missing from https://packages.microsoft.com/sles/12/prod/

@vivmishra

[2019-01-03 00:42] AaronRobinsonMSFT commented on #4530
@pauldotknopf I have looked into your implementation more. I like the API surface, but want to make sure what your use case is and how you would anticipate using it. Are you planning on loading `coreclr.dll` or `hostpolicy.dll` directly? You mention using `coreclrhost.h` so I assume `coreclr.dll`, but want to make sure we are on the same page. Generally this kind of API contract would be contained

[2019-01-03 01:00] pauldotknopf commented on #4530
Yes, this new export would be added to ```hostfxr.dll```, named ```hostfxr_get_clr_properties```.

This would return the path to the found ```coreclr.dll``` as well as all the properties used to create a .NET Core runtime. I would use this information to load/manage the .NET Core runtime myself (```coreclr_initialize```, ```coreclr_create_delegate```, ```coreclr_shutdown```, etc). So yeah, I think

[2019-01-03 17:14] leecow commented on #4890
Missing dotnet-host published and tested.

[2019-01-03 17:14] #4890 closed

[2019-01-03 22:33] robertborr opened #4921 "Build failure: CoreSetup 20190103.01"
@dotnet-mc-bot commented on [Thu Jan 03 2019](https://github.com/dotnet/core-eng/issues/4900)

Opened on behalf of @v-asdhin

Warnings: 1
Status Message: failed

Build : 3.0 - 20190103.01 (Product Build)
Failing configurations:
- Windows
  - Validation-x64
[Mission Control Build Info](https://mc.dot.net/#/product/netcore/30/source/official~2Fcore-setup~2Fmaster~2F/type/build~2Fproduct~2F/build/201

[2019-01-04 11:14] feliwir commented on #4230
Having this issue aswell.

[2019-01-04 11:40] JulidaRocks opened #4923 "Could not load file or assembly 'Microsoft.AspNetCore.CookiePolicy, Version=2.2.0.0"
## Steps to reproduce
Upgraded from dotnet core 2.1 to 2.2. When running the integration tests, an exception is thrown when initializing TestServer with
`var testServer = new Microsoft.AspNetCore.TestHost.TestServer(webHostBuilder);`

## Expected  behavior
Should create the test server object

## Actual behavior
throws exception

## Environment data

Stack trace:

   at <projectname>.Api.Startup.C

[2019-01-04 17:47] RussKeldorph commented on #4884
@livarcocc Can you route this?  If this isn't the right repo, please move or let us know where to put it.

[2019-01-05 21:08] vitek-karas commented on #4915
I'm not yet sold on this solution. There's a larger problem with VS and other similar tools, which always use `dotnet.exe` from the path (our recommended approach). Having the `DOTNET_ROOT` env. variable helps, but it means these tools must set the variable, or the user must set it before invoking these tools, which is cumbersome.
There's an offline discussion about using something like `global.js