[2019-06-28 20:54] merriemcgaw commented on #6966
Sweet!

[2019-06-28 23:28] omajid opened #7062 "apphost has a permission of -rwxr--r--"
I built .NET Core 3.0 preview 6. It includes an apphost executible that can only be executed by owner, no one else.

[code]

That looks pretty weird. Is this a known issue?

Other executibles look okay:

[code]

[2019-06-29 02:49] iskiselev opened #6991 "stdlib symbols exported by dotnet"
We have reproduced strange application crash on Linux CoreCLR. We have native library, which is loaded in CoreClr application and called though PInvoke (and create it's own unmanged threads). To be clear, it is really CoreCLR profiler (and was loaded as profiler), but crash happens outside of any profiler calls/callbacks, so I believe it can be ignored that it is also profiler.
Application crashes

[2019-06-29 06:00] iskiselev commented on #6991
Reading more about function interposition (https://jayconrod.com/posts/23/tutorial-function-interposition-in-linux) makes me believe that similar change should be done in libcoreclr.so and other libraries:
"At runtime, each symbol is resolved using the first library that provides it. This means that if we can get a library containing our wrapper functions to load before other libraries, the undefi

[2019-07-01 07:30] jyoungyun commented on #2806
This issue is outdated. I will close it.

[2019-07-01 07:30] #2806 closed

[2019-07-01 18:15] dagood opened #7018 "Sign macOS installers, Linux packages during official build on Arcade SDK"
We may get this essentially for free in `master` and `release/3.0` because the Arcade SDK migration is able to use the Arcade signing infra. Filing this issue to track, but if it ends up not being trivial it'll be cut from the initial migration.

This issue doesn't track implementation on the servicing branches.

/cc @leecow @JohnTortugo

[2019-07-01 19:01] elinor-fung commented on #6958
I like the struct for extensibility. I do think it could make sense to move the optional `assembly_path` parameter into `get_hostfxr_parameters` as well?

[2019-07-02 15:52] dagood opened #7031 "MSI installer outputs are not signed in most recent release/3.0 build"
E.g. this build:

* https://dotnetcli.blob.core.windows.net/dotnet/Runtime/3.0.0-preview7-27901-06/dotnet-runtime-3.0.0-preview7-27901-06-win-x64.msi
* https://dotnetcli.blob.core.windows.net/dotnet/Runtime/3.0.0-preview7-27901-06/dotnet-targeting-pack-3.0.0-preview7-27901-06-win-x64.msi
* https://dotnetcli.blob.core.windows.net/dotnet/Runtime/3.0.0-preview7-27901-06/dotnet-runtime-3.0.0-preview7-

[2019-07-02 16:01] dagood commented on #7031
Preview 6 MSIs are signed, this is a regression. Based on the sequence of events in the build, I'd bet something went wrong with msbuild target dependencies. Will look further.

[2019-07-02 16:02] leecow commented on #7031
Thanks, Davis - unsigned MSIs will indeed block the release.

[2019-07-02 18:43] dagood commented on #7031
The fix has been merged into `release/3.0` by https://github.com/dotnet/core-setup/pull/7033, waiting for next build to confirm MSIs are signed.

[2019-07-02 21:33] peterhuene opened #7039 "Duplicate entry for libclrjit.so in RuntimeList.xml for linux-arm."
## Steps to reproduce

1. Install a .NET Core SDK version `3.0.100-preview7-012769` or later.
2. `mkdir repro && cd repro`
3. `dotnet new web`
4. `dotnet publish -r linux-arm`

## Expected  behavior

The application publishes correctly.

## Actual behavior

[code]

This is caused by a duplicate for `libclrjit.so` in the `RuntimeList.xml` file:

[code]

The `x64_arm/native/libclrjit.so` probably do

[2019-07-02 22:38] dagood opened #7046 "Improve how the cross-target libclrjit is excluded from RuntimeList.xml"
This approach has shortcomings:

https://github.com/dotnet/core-setup/blob/32cdcac88710b83a83c25dd1e2be946e3c180931/tools-local/tasks/CreateFrameworkListFile.cs#L107-L117

1. We don't know that all files that have this impact on self-contained publish will have `_` in the name of the dir.
2. It can't be tweaked by build logic.

I think a better way to do this is changing `runtime/` to `runtimes/li

[2019-07-02 22:43] dagood commented on #7039
https://github.com/dotnet/core-setup/pull/7042 is merged for this, waiting for a new build to validate.

[2019-07-02 22:43] peterhuene commented on #4038
@vitek-karas any chance this could be addressed in 3.0?  The `realpath()` messages are confusing to users that run into it.  We had a user that (incorrectly) published their application with a dev runtime config that caused the host to probe locations that it didn't have access to (the build was done as root and the application runs as non-root in the container; thus /root directories ended up in

[2019-07-02 22:57] dagood commented on #7031
Confirmed all MSIs (and bundle installers) are signed in the latest 3.0 build. I also made sure the copies in the VS insertion nupkgs are signed.

[2019-07-02 22:57] #7031 closed

[2019-07-03 18:02] dagood commented on #7039
Confirmed the entry is gone in `3.0.0-preview7-27902-19`.

[2019-07-03 18:02] #7039 closed

[2019-07-03 18:46] dleeapho commented on #6881
Closing since this was addressed by source-build.

[2019-07-03 18:46] #6881 closed

[2019-07-03 21:26] lpereira opened #7063 "Use symbolic link to speed up looking up latest version of hostfxr"
In order to find the latest and greatest hostfxr, the hosting layer has to traverse directories, parse version strings, and select the latest one.  In deployments with just a few versions of hostfxr, this isn't all that bad; however, over time -- and since this might not be trimmed by the setup program --, this will eventually perform useless work.

I propose to use symbolic links that always poin

[2019-07-03 21:37] dagood commented on #7062
@wli3 @peterhuene do we expect everyone to have execute permission for the apphost?

An execute permission issue was fixed a while back for the macOS installers (https://github.com/dotnet/cli/issues/11231), but I believe the tarball is assembled from the apphost pack nupkg which didn't get that fix.

(This doesn't appear to be a regression in particular:)

[code]

[2019-07-04 00:02] swaroop-sridhar opened #7065 "Single-file: Facilitate signing on mac"
The single-file bundler adds additional contents (the apps's dependencies) at the end of the host-binary. This violates the strict consistency checks performed by codesign tool in MAC.

This work item track the effort to make the MAC bundle amenable to signing.

#### Original issue

https://github.com/dotnet/core/issues/2811

#### Repro stesps

1. Create a console "Hello world" executable on macOS

[2019-07-04 12:36] dasMulli opened #7070 "Single file bundle extraction fails on systems with on-access antivirus protection"
## Steps to reproduce

(Win10 1903 x64)
* Use a system with McAffee endpoint protection with enabled on-access scanning.
* Run a single-file exe (preview 6)

## Expected  behavior

App runs.

## Actual behavior

[code]

## Workarounds

1. Disable on-access scanning (bad. souldn't be required to run .NET applications)

2. Run the app multiple times until it works - apparrently McAffee recognizes th

[2019-07-04 16:28] #6958 closed

[2019-07-05 01:31] swaroop-sridhar commented on #7065
Here's an attempt to fixup the  __LINKEDIT section to accommodate the SingleFile blob at the end of the file: https://github.com/dotnet/core-setup/compare/master...swaroop-sridhar:mac?expand=1

There are some downsides to doing this fixup:
1) We cannot just fixup the size on disk, we also need to increase the vmsize of __LINKEDIT section (that is, the size as loaded). This means that the entire si

[2019-07-05 08:25] dasMulli commented on #7070
@swaroop-sridhar my suspicion is that renaming a directory after writing a bunch of dlls and native executables to it doesn't work well on windows+corporate AV 😢

[2019-07-05 11:59] vitek-karas commented on #5120
@Symbai can you try the single-file in the latest preview? See this for how to enable it: https://github.com/dotnet/sdk/pull/3074

It does extract onto disk the first time you run the app, but subsequent runs should simply reuse the files which are already on the disk...

[2019-07-05 15:04] dagood commented on #7070
You could try procmon (Process Monitor) to see exactly what file access is going on and maybe get some more info. (I did this to diagnose some build flakiness that sounds similar to this: part of our toolset likes to write an EXE to disk then immediately move it, and Windows Defender ATP holds it open and causes a failure. I ended up adding retries.)

[2019-07-06 08:39] vitek-karas commented on #7063
Sounds great. Some comments:
* Since this will require setup changes anyway, we might as well consider trimming the installed versions - there's really no reason for the old versions to be there. In that case it's questionable if it's better to implement just the trimming as the symbolic link won't add much value if there's only one or two versions installed.
* If we go with the trimming approach

[2019-07-06 08:41] vitek-karas commented on #7062
The interesting question is if it should have execute permissions at all. The `apphost.exe` itself is not usable, it is only usable after it goes through the patching process in the SDK. If that process sets the right permissions, then it should be just fine.

[2019-07-06 10:55] Symbai commented on #5120
It does work but it's not exactly what I had in mind. Rather something like this https://github.com/0xd4d/dnSpy/blob/master/Build/AppHostPatcher/Program.cs . It allows to tell the native .NET Core apphost executable to launch the application.dll from a sub folder. This way the folder structure is a bit more clean and user friendly. So it becomes:

[code]

An improved version of this would only mov

[2019-07-06 15:19] dagood commented on #7062
The SDK doesn't set permissions, hence the need for that earlier macOS-focused fix. (https://github.com/dotnet/cli/issues/11231.) The publish output shows this in practice:

[code]

Setting apphost permissions *could* be implemented in the SDK, and yeah, giving this apphost *template* execute permissions seems weird to me in principle. The reasoning for putting the fix in Core-Setup is that making

[2019-07-06 15:21] jkotas commented on #7063
We should get an estimate for how much startup time would this save; and how this savings compares with other startup time performance improvements that we may be doing.

[2019-07-08 14:09] vitek-karas opened #7112 "Support pay-for-play runtime properties/services"
Currently the only way to pass information between the host and the runtime is the "runtime properties" array. This array is not pay-for-play, all the properties which the runtime will ever know must be in it. This means that if there are properties which are filled by the host itself (like `TRUSTED_PLATFORM_ASSEMBLIES`), all the applications will pay the price to create the property and pass it t

[2019-07-08 14:30] vitek-karas commented on #5120
The approach implemented by @0xd4d is possible today without external tools, it's just not very easy to use:
[code]

This is essentially what the SDK does to produce the original app.exe. Currently there's no way to customize that process (I filed https://github.com/dotnet/sdk/issues/3405 for that). The above basically recreates the `app.exe` from scratch (so duplicating the work which SDK already

[2019-07-08 15:59] NextTurn opened #7114 "No `.a` file in nethost packages"
## Expected  behavior

In https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/native-hosting.md#new-host-binary-for-finding-hostfxr

## Actual behavior

There is no `.a` file in linux/osx packages.

Do you have any plan to provide static libraries? `.a` files are not for DLL implicit linking.

## Environment data

Microsoft.NETCore.App.Host.(linux-x64/osx-x64)

-or-

runtime

[2019-07-08 16:13] omajid commented on #7114
Duplicate https://github.com/dotnet/core-setup/issues/5105

[2019-07-08 18:26] JohnTortugo commented on #7018
These two issues might provide some insight here: https://github.com/dotnet/arcade/issues/2852 https://github.com/dotnet/arcade/issues/2915

As far as I can think of, signing Linux packages (dep / rpm) is just a matter of specifying the right certificate in your eng\signing.props - Arcade doesn't have that configuration by default yet, I plan to do it soon. FYI: Lee currently uses this build defin

[2019-07-08 19:35] Symbai commented on #5120
@vitek-karas Thanks for explaining this to me. Do you think I should leave this issue open or rather close it as there are no plans for it anywhere like you said?

[2019-07-08 20:13] dohnuts commented on #2808
FYI : lower ulimit -l, same error

the requirement are quite high and higher than before

USERDONET hard    as      2097152

is not enough ! to start !

[2019-07-08 20:16] vitek-karas commented on #5120
We are "making" the plans for .NET 5 now, so I would say now is actually the best time to come up with "ideas". The larger SDK feature is something which would probably be better tracked in the [SDK repo](https://github.com/dotnet/sdk) (the right people will see that and so on). Also because I think most of the work would be on the SDK side.

If you can spare some time, please create an issue ther

[2019-07-08 20:17] vitek-karas commented on #5120
In any case, thanks a lot for providing the feedback and answering our questions - these kinds of discussions help so much to understand what are the issues with the product.

[2019-07-08 20:34] lpereira commented on #6991
`_M_emplace_back_aux()` is part of `libstdc++`'s implementation of `std::vector`. `__to_xstring` is part of `libstdc++`'s `std::to_string()` implementation.

While it's possible for this to cause the same issues experienced in the original description if the library you're linking against has been compiled with `libstdc++` headers that are different than the one that was used to build `dotnet`, it

[2019-07-08 20:41] #6991 closed

[2019-07-08 20:54] vitek-karas commented on #7114
@omajid  I don't think this is duplicate of the mentioned issue. This is solely about the `nethost.dll` nothing else.

@NextTurn for now we don't have plans to provide statically linked `lib`/`a` files, only the dynamic libraries. For the dynamic libraries we include the `.lib` file on Windows as it makes it easy to link against. There's no need for `.a` file on Linux for that purpose. This is pro

[2019-07-08 21:42] dagood opened #7118 "Use Arcade publish functionality"
The initial implementation of publish as part of the move to the Arcade SDK still uses the finalize job and custom tasks. Core-Setup should rely on Arcade publishing functionality instead, where possible.

[2019-07-09 01:30] NextTurn commented on #7114
Not like that. I was just asking if there is a mistake in the design docs. :)

But I did wonder if it's possible to build staic libraries.

[2019-07-09 10:17] NextTurn opened #7123 "Using load_assembly_and_get_function_pointer"
Why is the new API different from the `coreclr_create_delegate`, requiring a delegate type for every different method signature?

If I have a lot of methods to call, is it recommended to define delegate types or create `ComponentEntryPoint` wrappers for them?

[2019-07-09 14:05] wstaelens commented on #2981
I've implemented that "ReferencesMetadataReferenceFeatureProvider"

but still I get
[code]

[code]

[2019-07-09 15:01] jeffschwMSFT commented on #7123
cc @vitek-karas @elinor-fung

[2019-07-09 15:05] NextTurn commented on #7123
dotnet/coreclr#23958 may answer the first question.

If you are not going to "expose the full set of functionality to the connecting coreclr/native host dll", can I get the CoreCLR host from `nethost` - `hostfxr` - `hostpolicy` and directly call `coreclr_create_delegate` instead of using this heavyweight API?

[2019-07-09 15:08] jeffschwMSFT commented on #7123
Yes.  The nethost layer offers a few convience apis to assist with 1) locating the correct .NET Core version to load, and 2) generates the necessary initialization parameters using the standard logic.  Once .NET Core (eg. coreclr) is loaded, you can then use the exports as you would before.  The hope is that value comes in finding and initializing.

The current nethost is a first step on a journey

[2019-07-09 15:29] vitek-karas commented on #7123
The `load_assembly_and_get_function_pointer` is not meant as a replacement for a low level so called "embedding" API - which would let you work with managed objects/methods from native code in a generic manner. It is meant to provide a robust way to initialize the runtime and get a way to call into managed code.

We expect people to use this functionality to either make a single (or few) calls to

[2019-07-09 15:48] NextTurn commented on #7123
Thanks a lot for your answers. I would be super happy to see the "embedding APIs" in the future.

We used `MarshalAsAttribute` to specify the marshalling behaviors in reverse P/Invoke.

[2019-07-09 16:38] peterhuene commented on #5105
@dagood now that we have runtime pack lists, it would be great to filter out `.a`, `.md`, or any other file that has nothing to do with running a self-contained application.

Also, is `createdump` a runtime dependency?  If not, I don't think most users would want that in their published application.

[2019-07-09 16:55] dagood commented on #5105
Yep, it is considered part of the runtime. It's launched when there's an unhandled exception and needs to be in the same dir as `libcoreclr.so`. /cc @mikem8361

[2019-07-09 16:56] peterhuene commented on #5105
I figured as much but I want to make sure.  Thanks!

[2019-07-09 17:10] dagood opened #7128 "[dev/arcade-migration] Fix flaky ResolvePackageAssets error"
https://dev.azure.com/dnceng/internal/_build/results?buildId=255796&view=logs

[code]

Binlog task tree:

[code]

I'd guess this is somehow because it's being called multiple times in parallel, trying to use the same cache file. These projects reference the same cache file (unfortunately no timestamps I can find):

[code]

[code]

[code]

Maybe it would be enough to fix up the global properties to

[2019-07-09 17:24] mikem8361 commented on #5105
Yes, createdump has a dependency on “libmscordaccore.so” in the runtime directory.

.

[2019-07-09 21:10] vitek-karas commented on #7070
@dasMulli could you please email me (contact info should be in my profile on GitHub)? We're trying to workout the right fix, and it would be great to get a validation on the system where it fails.

[2019-07-09 21:58] lpereira commented on #4038
@peterhuene There's a fix for this in #7133. It doesn't change behavior (won't print the `realpath()` errors while probing paths, though), so it's very likely it's going to be addressed in 3.0. :crossed_fingers:

[2019-07-09 22:46] #4038 closed

[2019-07-09 23:23] nguerrera opened #7137 "Latest DependencyModel writes / as \u0002f breaks all but bleeding edge versions of xunit + `dotnet test`"
Deps files come out like this:

[code]

Where \u0002f could be /

This breaks `dotnet test` on `dotnet new xunit` unless the xunit version used has https://github.com/xunit/visualstudio.xunit/commit/7553f4fa3b67884ccdda597f5429c5cdf2809d77 from yesterday.

Once https://github.com/dotnet/corefx/issues/37192 is available, DependencyModel should use it to only escape what's truly necessary. At a mini

[2019-07-09 23:24] nguerrera commented on #7137
Putting this in 3.0 milestone because we will have to pin the version of dependency model to a preview 6 build and we can't ship like that.

[2019-07-09 23:42] nguerrera commented on #7137
Looks like it + escaping is also a problem (so / fix is not sufficient). Ideally, the escaping would mimic what newtonsoft.json was doing with 2.2 dependency model.

[2019-07-10 00:32] dsplaisted commented on #6507
We do want this data file, but it is OK if it is a static list of dead-end packages, as opposed to the including the latest version of every active package that is included in the shared framework.

[2019-07-10 01:20] dagood commented on #6509
You mentioned in a more recent email we probably want this, is that right? (After the Arcade SDK migration the infra difficulties I was having with this should be gone.)

[2019-07-10 06:52] dasMulli commented on #7070
Sent mail

[2019-07-10 07:11] borysl commented on #6189
I've reproduced this issue when was running xunit tests with the project reference

[2019-07-10 08:54] vitek-karas commented on #7070
Candidate fix has been merge here: https://github.com/dotnet/core-setup/pull/7135

[2019-07-10 09:56] WeihanLi commented on #6189
I met the error with dot net framework project

[2019-07-10 11:40] WeihanLi opened #7149 "dotnet exec with fx project got error `The library 'hostpolicy.dll' required to execute the application was not found`"
## Steps to reproduce

I've upload a demo here <https://github.com/WeihanLi/FxProjectDotNetExecBug>

## Expected  behavior

should work like dotnet core project

## Actual behavior

can not exec and get an error like

[code]

![error](https://github.com/WeihanLi/FxProjectDotNetExecBug/raw/master/images/2019-07-10_193451.png)

## Environment data

`dotnet --info` output:

.NET Core SDK (reflecting

[2019-07-10 15:58] AaronRobinsonMSFT commented on #7070
Fixed with #7135

[2019-07-10 15:58] #7070 closed

[2019-07-10 16:22] dagood opened #7147 "Fix some CoreFX PDBs not being included in symbol archive zip/tarball"
Reported at https://github.com/dotnet/source-build/issues/783#issuecomment-509816845:

This issue is present in the Microsoft build too, not just source-build. The "Symbols (zip)" linked in the readme has this gap. The `.ni.pdb` files seem to be present, there. For example:

[code]

The "Symbols (tar.gz)" links don't have `.ni.pdb` files, but have the same gap.

The transport package from CoreFX d

[2019-07-10 16:40] dagood opened #7148 "source-build: Update build task project to use stable versions to remove prebuilts"
|  | Prebuilt | Planned ref-only package
--- | --- | ---
NuGet.ProjectModel | 4.3.0-preview2-4095 | 4.9.4
Microsoft.Extensions.DependencyModel | 2.1.0-preview2-26306-03 | 2.1.0

For example:

https://github.com/dotnet/core-setup/blob/3a2d0293bc7717a6fa038f2a12a9a91391205b06/dependencies.props#L34

should be changed to:

https://github.com/dotnet/core-setup/blob/8d445c071754cbb95b28b7b84d066adf9268

[2019-07-10 17:58] dagood opened #7150 "Ensure dev scenarios are preserved through the migration to Arcade SDK"
As I've been working on migrating Core-Setup to the Arcade SDK, I've been ok changing up the dev scenarios for the Setup area, but I don't know enough about development on the Host to know what impact I'm having there. I want to validate dev scenarios still work in Core-Setup (or have reasonable alternatives) with the changes.

Areas I know I need help with:

1. Which `run.sh/cmd` arguments were t

[2019-07-10 19:43] dleeapho commented on #7118
Currently dependent on Arcade publish functionality that is not yet complete.

[2019-07-10 21:57] Lakritzator opened #7173 "Published single-exe doesn't want to start"
The error can be found in the event log and is the following:

[code]

dotnet --info
[code]

using dotnet publish with the following options:
-f netcoreapp3.0 -c Release /p:PublishSingleFile=true /p:RuntimeIdentifier=win-x64

Tried different repositories and bits (x86 / x64), all the same effect.

I'm assuming this is an issue with not finding the target (tmo) directory?

[2019-07-10 23:20] vitek-karas commented on #7149
I think the main confusion is the fact that .NET Core SDK can build .NET Framework apps, but .NET Core runtime can't run them. Unfortunately the `dotnet.exe` tool handles both cases.
* `dotnet build` - is an SDK command, and it will be able to build .NET Framework apps - like the one in your repro. The app has `TargetFramework=net471` which is .NET Framework target (.NET Core target would be somet

[2019-07-10 23:30] vitek-karas commented on #6189
@borysl @WeihanLi - I'm just trying to understand your comments better:
* Is it that you've ran into this by also trying to run a non-app project and are simply reporting the fact that the error message is confusing?
* Is it that you were trying to do something you think should work and it failed?

The scenario described above is supposed to fail, this issues is about the fact that the failure mes

[2019-07-11 01:41] WeihanLi commented on #6189
Thanks for your reply @vitek-karas , this is not exactly the same with my scene, I'm running a web project with dotnet framework, so I opened a new issue here <https://github.com/dotnet/core-setup/issues/7149>

[2019-07-11 01:58] WeihanLi commented on #7149
Hi @vitek-karas , I'm running a dot net framework project that use aspnetcore, I wanna host it with windows container, happen to find can not dotnet exec, from the information you supply above, a .rumtimeconfig.json is required, and I try to add a .runtimeconfig.json like follow:

[code]

but it seemed not work either, is there a `runtimeconfig.json` document or sample for dot net  framework proje

[2019-07-11 04:46] vitek-karas commented on #7149
As mentioned above, the `dotnet exec` doesn't support running .NET Framework. It is only gonna run code on .NET Core.

The `.runtimeconfig.json` is an artifact only used by .NET Core.

If you want to run it on .NET Framework, why do you need to use `dotnet exec`, just start the `.exe` itself, it will run on .NET Framework automatically.

[2019-07-11 04:50] #7114 closed

[2019-07-11 04:50] WeihanLi commented on #7149
Got it, thanks @vitek-karas

[2019-07-11 04:50] #7149 closed

[2019-07-11 06:39] dasMulli commented on #7070
Validated the fix on company machines together with @ThomasBergholdWieser with a test app provided by @vitek-karas.
Thanks for the quick fix!

[2019-07-11 17:36] GrabYourPitchforks commented on #7137
How is this breaking? This is perfectly valid JSON. In theory every single character could be "\uXXXX" escaped and it would still be a legitimate, well-formed payload. All JSON consumers need to anticipate "\uXXXX" escape sequences in the payload and handle them appropriately, otherwise they're not spec-compliant.

[2019-07-11 17:41] nguerrera commented on #7137
It's not about theoretical spec compliance. It's about the practical fact that every project in the world will have to take a new xunit to use 3.0 SDK because until a few days ago the private json reader in xunit was not spec compliant around this.

It will break users that upgrade to 3.0 SDK without upgrading xunit. In this emprical sense, it is a breaking change.

I could maybe live with that (t

[2019-07-11 17:43] GrabYourPitchforks commented on #7137
"/" should probably be allowed unescaped by default. I've been investigating this and I never found a valid reason why it was escaped. Escaping "+" definitely serves a purpose and prevents viable, real-world attacks for which there exists proofs of concept. See my comment at https://github.com/dotnet/corefx/issues/38354#issuecomment-504780719 for further information.

[2019-07-11 17:50] GrabYourPitchforks commented on #7137
That said, there are a few workarounds that can be performed. The JSON serializer is getting an option to pass a custom escaper. We could introduce a flag that directs the serializer to be less aggressive about escaping, and at your call site you could set that flag. (This flag clearly _would not_ be enabled by default, and we'd need to create some sort of signoff procedure for anybody who sets it

[2019-07-11 17:52] nguerrera commented on #7137
I assume 'you' here is the DependencyContext writer in this repo. We will do no such post-processing. I am not at all making any case to change System.Text.Json defaults, but I think the DependencyModel API should make .deps files that are compatible with readers in the wild unless there really is a security hole in that.

As far as security hole, would it at all convince you that nobody is provid

[2019-07-11 18:07] GrabYourPitchforks commented on #7137
Totally fine by me. :)

The scenario is well-defined, and I don't want to block this scenario from working. ASP.NET is in a similar situation, where they control the entire scenario end-to-end so they can make firm claims about how the data will be processed.

At the `System.Text.Json` level, the APIs have no knowledge whatsoever of the scenario in play or how the data will ultimately be used. So

[2019-07-12 18:36] dagood commented on #5812
I confirmed that the 2.1.12/2.2.6 release includes this change, and works across various distros/releases. For example, I can go as far as using the Ubuntu 19.04 instructions to install in a Debian 10 Docker container.

[2019-07-12 18:36] #5812 closed

[2019-07-12 23:37] jeffschwMSFT commented on #7173
Fixed with https://github.com/dotnet/sdk/pull/3411

[2019-07-12 23:37] #7173 closed

[2019-07-14 20:58] dagood commented on #5489
Done in the arcade migration dev branch, putting in rollout column awaiting merge into master.

[2019-07-14 20:59] dagood commented on #5337
Done in arcade-migration dev branch, marking rollout awaiting merge into master.

[2019-07-14 21:07] dagood commented on #4148
We can't: including the version would require the readme.md content to change after every build, and since readme.md is checked into source control, this is undesirable. We actually take pains in publish infra to replace the version with `latest` so we can link them in the readme!

(1.0/1.1 were quirky for historical reasons, but now they're EOL.)

[2019-07-14 21:07] #4148 closed

[2019-07-15 14:45] dagood opened #7212 "[dev/arcade-migration] Fix MSI bugs found in wxs diffs"
Bugs found via diff of `dark foo.msi foo.wxs` output across all MSIs output by official vs. dev branch build:

* `Version="24.0.4214"`, previously `Version="24.0.27902"`
* Missing `dotnet` part of component name in `dotnet-runtime`:
  * `<Component Id="_runtime_24.0.4214_x64"`
  * `<Component Id="dotnet_runtime_24.0.27902_x64"`
* `netstandard-targeting-pack` installs to product-versioned dir (3.0)

[2019-07-15 19:48] nguerrera opened #7218 "Add framework list metadata to prevent WPF theme assemblies from being auto-referenced"
The targeting pack framework list for Microsoft.WindowsDesktop.App should add ReferencedByDefault="false" to the following assemblies:

PresentationFramework.Aero
PresentationFramework.Aero2,
PresentationFramework.AeroLite
PresentationFramework.Classic
PresentationFramework.Luna
PresentationFramework.Royale

See https://github.com/dotnet/sdk/issues/3265 and dotnet/designs#81

cc @dagood

[2019-07-15 20:44] dagood commented on #6825
There's discussion in an email thread about the need to do this before building any 5.0 prerelease versions. It would be a shame to get locked in with semver v1. (Although I believe we'd only be locked in for one prerelease.)

A complication is that the Arcade migration work isn’t merged yet, and I don’t know how well the pre-Arcade tooling works with semver v2. A workaround would be to use a temp

[2019-07-15 21:36] dagood commented on #6825
I tried to rig it up, submitted this PR: https://github.com/dotnet/core-setup/pull/7222. But I expect if it works we'd put it in https://github.com/dotnet/core-setup/pull/7221 to merge at the same time as moving to 5.0.

[2019-07-16 01:24] danmosemsft commented on #6412
EventLog is windows only. What is the story for Unix?

[2019-07-16 01:37] jkotas commented on #6412
`stderr`

https://github.com/dotnet/coreclr/issues/15466 has some more discussion on this. We follow the common practices. Other runtimes do not seem to log crashes into system log on Linux either.

[2019-07-16 04:41] elinor-fung commented on #7173
@Lakritzator I think you will need a newer build than `3.0.100-preview8-013116`. Unfortunately, based on how the different dotnet repos come together, the fix in dotnet/sdk had to flow through a couple repos to make it to the official full build. The fix should be in `3.0.100-preview8-013133` and higher.

[2019-07-16 17:53] nguerrera opened #7234 "Potential for conflict between runtime args and app args"
When running an app with the muxer, you pass runtime args like --roll-forward before the dll like so:

`dotnet --roll-forward major myapp.dll myapparg1 ... myappargN`

The dll between the runtime args and the app args removed any ambiguity. However, when running an app via apphost, runtime args are passed liked so:

`myapp.exe --roll-forward major myapparg1 .. myappargN`

Arguments are consumed by

[2019-07-16 21:11] nguerrera commented on #7234
From #11852

I don't think a delimiter solves the problem in general. Suppose we choose our own delimiter. Say '@@` is the delimiter we choose.

T=1: I write `app` app that takes `--potato` arg
T=2: Host adds --potato arg
T=3: `app --potato` is broken and must be changed to `app @@ --potato`

So I think the scheme should apply to each arg and not be based on a delimiter.

[2019-07-16 21:14] richlander commented on #7234
I would expect it to work like this:

[code]

The host would scan until it sees `@@`. If it doesn't, it doesn't look at any of arguments string. If it does, it processes/eats everything up until and including `@@` and passes the rest to the app. This is similar to other schemes, right?

[2019-07-16 21:16] nguerrera commented on #7234
Oh, I see. Only if @@ is present, then the args before it go to runtime. Yeah, I think that could work. The delimiter does have to be unique / obscure.  I was thinking the other way for some reason.

[2019-07-16 21:32] richlander commented on #7234
My proposal is a breaking change on existing behavior. It can be added in a non-breaking way (only when '@@' is present), but that's kinda bad.

I can also see some apps saying "please don't scan the damn arguments every launch; I'm never going to tell you anything" so I'd want to way to tell the host to not scan arguments at all. I can imagine this for web apps as opposed to tools. In fact, we mi

[2019-07-16 21:33] nguerrera commented on #7234
I think it's slightly different in a way that explains how I misinterpreted the proposal.

A common way `--` is used is to indicate that all arguments after it are file arguments, not switches.
[code]

So it changes the meaning of things after it, not things before it in some sense. Anyway, I don't think this matters, just trying to see how I missed this.

[2019-07-16 21:34] richlander commented on #7234
I think I understood the existing semantics of the typical `--` scheme less well then you, so I was less confused by it ;)

[2019-07-16 23:23] KathleenDollard commented on #7234
@jonsequitor looked at the issue of orthogonal information in the context of directives for System.CommandLine.

A lot of characters we might want to se already have meaning in some context or another.

While the @@ syntax above looks like it would work, I'm concerned about readability. I like the namespace idea early on:

[code]
 if there is no issue with it. But I also keep coming back to the id

[2019-07-17 07:53] Lakritzator opened #7250 "Single file bundle extraction misses feedback"
I have provided a Greenshot preview version to a couple of users, to detect any issues with the direction we are going. I was especially interested in the single file bundle functionality, as this could provide a very quick feedback.

When watching two of the users to see if they like the UX. My first observation was that they, seconds after clicking the Greenshot.exe icon stored in their download

[2019-07-17 07:55] Lakritzator commented on #7173
@elinor-fung thanks for updating this, and now things are working again (besides some other issues).

I keep repeating myself: it's REALLY hard to be able to detect if a certain issue is fixed in a SDK version, there are not release notes or ways to see if a fix is available.

[2019-07-17 10:21] vitek-karas commented on #5062
The designed behavior `LatestMinor` has been implemented by default in https://github.com/dotnet/sdk/pull/3305.

[2019-07-17 10:21] #5062 closed

[2019-07-17 10:25] vitek-karas commented on #6420
Using `LatestMinor` for both COM server and components has been enabled by default in https://github.com/dotnet/sdk/pull/3305/files.

[2019-07-17 10:28] vitek-karas commented on #6084
I validated that for COM server and component projects get `.runtimeconfig.json` with the correct content by default.

[2019-07-17 10:33] vitek-karas commented on #5113
Given that the product should be almost done, can we please revisit this?
* If there are necessary changes in the repo (to consume newer SDK) now would be a good time after we forked for 5
* Should implement some of the validation as either samples/one offs/tests to make sure that what we're shipping in 3.0 works end to end.

[2019-07-17 14:11] dagood commented on #5113
My work to migrate to the Arcade SDK involves upgrading the SDK because Arcade requires a new one--currently `3.0.100-preview6-012264`.

[2019-07-17 15:06] vitek-karas commented on #5113
Could we choose to upgrade to Preview 8 or is P6 "required" by the current Arcade bits?
There was a change in how the COM stuff works in the SDK between P6->P8 (not sure if it made to P7).

[2019-07-17 15:11] dagood commented on #5113
The known limitation is source-build, we should only use an SDK we've released.

[2019-07-17 15:24] MarcWils commented on #7065
Any update about when this will be fixed or available in a preview release?

We want to distribute a .NET Core 3.0 (preview6) app on MacOS. Code siging is a must.

[2019-07-17 15:33] dagood opened #7253 "[dev/arcade-migration] Package content diffs after Arcade migration"
I plan to fix these:

`Microsoft.NETCore.App.versions.txt` no longer has Core-Setup hash, and is missing CoreCLR (in the runtime package txt files).

Commit hash no longer appears in pkgproj nupkg descriptions. (The managed projects now have a `repository` element containing this information, but pkgproj-based projects don't.)

`Microsoft.NETCore.App.Internal` (legacy netcoreapp framework package)

[2019-07-17 15:41] vitek-karas commented on #5113
bummer - but it makes sense. We can write the tests using the "old" style on P6 and once we move to P8 we will have to fix them, but the change is trivial.

[2019-07-17 15:46] dagood commented on #5113
Maybe we can get an additional SDK to use only for those tests? (Tests don't have to build from source.) There's some provision in Arcade for multiple versions of a runtime, maybe multiple versions of the SDK would work too.

[2019-07-17 15:53] vitek-karas commented on #5113
I think that's OK - no need to come up with some new tech for this... forget I asked 😄

[2019-07-17 16:36] elinor-fung opened #7254 "Release builds should enable debugging information for native binaries"
We currently have no source file information in the PDBs for native binaries in release builds. This makes debugging official releases and customer issues much harder.

[2019-07-17 16:42] elinor-fung commented on #7254
@jeffschwMSFT thoughts on this for 3.0?

cc @vitek-karas

[2019-07-17 17:37] jeffschwMSFT commented on #7254
I feel it is important and am asking to understand the approval process.

[2019-07-17 18:05] #7137 closed

[2019-07-17 20:03] vitek-karas commented on #6420
I adapted the hostfxr sample to load two separate components with different version requirements and it worked exactly as designed - no matter the other the components did load successfully.

[2019-07-17 20:03] #6420 closed

[2019-07-17 21:57] leecow commented on #4295
Confirmed on a few different distros that `restore` works without setting `SSL_CERT_FILE` and `SSL_CERT_DIR`.

[2019-07-17 21:57] #4295 closed

[2019-07-17 22:00] leecow commented on #6341
Removed the runtime wrapper for now. Will revisit if it's determined the original scenario (multiple runtimes installed via snap) is needed.

[2019-07-17 22:00] #6341 closed

[2019-07-17 22:19] #7254 closed

[2019-07-17 22:45] AaronRobinsonMSFT commented on #5113
See https://github.com/dotnet/core-setup/pull/5833

[2019-07-18 16:03] richlander commented on #7234
One of the challenges I have with this is that there are multiple levels of this. It's a bit like the old saying "one man's garbage is another's treasure" ...

We're talking about the host/apphost having its own private switches. It's possible that someone could build some kind of managed host for hosting plugins that has the same need. In fact, the CLI itself is basically that.

I don't see how t

[2019-07-18 19:28] dagood opened #7269 "macOS NETCoreApp platform manifest doesn't include other platforms' assets when installed by the SDK bundle installer"
## Steps to reproduce
1. Get macOS SDK bundle installer from e.g. https://dotnet.microsoft.com/download/thank-you/dotnet-sdk-3.0.100-preview6-macos-x64-installer.
2. Read `/usr/local/share/dotnet/packs/Microsoft.NETCore.App.Ref/3.0.0-preview6-27804-01/data/PlatformManifest.txt`.

## Expected  behavior
Assets for all platforms are in the file: native `dll`, `so`, `a`, and `dylib` files.

## Actual

[2019-07-18 19:32] dagood commented on #7212
Fixed by https://github.com/dotnet/core-setup/pull/7238.

[2019-07-18 19:32] #7212 closed

[2019-07-18 19:56] vitek-karas commented on #7234
I personally like the proposal from @nguerrera - with the namespaces... The exact syntax is TBD, but I think this would work nicely. In next version we would support all the options via the new syntax, and the existing ones via the old one as well - there's probably no good way to retire the old syntax (muxer is for all versions, so we can't say that in 6 we won't support it)...

[2019-07-18 19:57] vitek-karas commented on #7234
/cc @lpereira who might have some experience with Linux based tools and how they handle similar situations.

[2019-07-18 20:12] KathleenDollard commented on #7234
@jonsequitur for Posix/Linux experience

If we can find a syntax that works with namespaces, I could be OK with that. I do not like it because. I do not believe the users should have to understand who needs their meta request, I believe many of these orthogonal issues should be available to all meta code. By meta code, I mean all code that is not the code of the thing being called.

I feel the nam

[2019-07-18 20:45] dagood commented on #7269
I'll fix this for preview 8.

FYI @dsplaisted @nguerrera

[2019-07-18 21:31] nguerrera commented on #7234
IIRC, posix only defines getopt() which only supports single character options. The long-form derivatives like GNU getopt_long don’t seem to conform to a single standard.

I’m more accustomed to seeing --name=value than --name=value in the long form.

[2019-07-18 21:34] nguerrera commented on #7234
Like I said, I didn’t mean to propose a precise syntax, just the general idea of something that is namespace-like. I arbitrarily borrowed from C++ namespace syntax and threw in the $ to try to make it more likely to be unique. I realize now that $ does not work as it will get interpreted by shells as a variable reference.

But I think we should decide if we want the namespace concept before worryi

[2019-07-18 21:38] nguerrera commented on #7234
I was also deliberately trying to avoid “prior art” as that increases the likelihood of conflict with the app.

[2019-07-18 21:50] PhoenixKing13 opened #7274 "Problem installing dotnet core sdk 2.2 on Ubuntu and Pop!_OS 19.04"
The link below has all the details for the problem some users are encountering.
This bug seems to be happening for both Ubuntu and Pop!_OS 19.04 users when trying to install version 2.2.
https://github.com/dotnet/core/issues/3052#issue-469540013

[2019-07-18 22:16] dagood commented on #7274
Thanks for pinging over on this repo, I can repro as well in an Ubuntu 19.04 Docker container. @leecow, do you know if anything's being repaired right now?

[code]

[2019-07-18 22:25] elinor-fung commented on #6084
VS experience (VS 16.3 + .NET Core Preview 7) looks fine for COM scenarios. Project system support is not yet ready for IJW.

[2019-07-18 22:26] dagood commented on #7253
Fixed by https://github.com/dotnet/core-setup/pull/7259

[2019-07-18 22:26] #7253 closed

[2019-07-18 22:30] leecow commented on #7274
Yes, looks like something is sideways with the repo. Sent them a hi-pri mail and included you.

[2019-07-18 23:36] jonsequitur commented on #7234
This issue is one example among a set of similar cases so I'd like to provide some background on the square bracket convention.

The use case (but not the syntax, initially) emerged from seeing many examples of command line gestures that were orthogonal to a tool's core functionality, including:

* Specifying versioning if you want a tool whose syntax or behavior has changed over time
* Setting ou

[2019-07-18 23:39] nguerrera commented on #7234
Our goals are very similar here. One challenge is layering two levels of these. Suppose you have one set of things for the host, another as meta commands for System.CommandLine, followed by the app args. You need for the three sets to be disambiguated from each other. So we while we would be in search of similar characteristics, it seems that we can't just use what you chose. This is why I was dra

[2019-07-18 23:41] leecow commented on #7274
Fixed and confirmed.

[2019-07-19 00:03] nguerrera commented on #7234
Perhaps we can combine namespacing and square brackets. We say that in the square bracket world of meta options, there are namespaces. This is our new real estate to specify, right?

One thing to consider is that we should keep the host parsing and stripping of its options simple, though. It starts to get a lot more complicated if it's strip everything from square brackets with our namespace, and

[2019-07-19 00:12] jonsequitur commented on #7234
I think both namespacing and a generalized directive syntax are valuable and complementary.

Exact string match is the simplest thing for the host as I understand it, versus needing a full parser. The square-bracketed directives syntax is deliberately constrained in a way that I think works well here. It is (per the current System.CommandLine implementation, but there's room to change this if it m

[2019-07-19 00:43] PhoenixKing13 commented on #7274
Thanks guys, I can now download the package. I'll close out the original post.

[2019-07-19 00:43] #7274 closed

[2019-07-19 15:22] vitek-karas commented on #6084
I think this is done - we've validated most of the scenarios (IJW is the long pole, but it works from the host's point of view).

[2019-07-19 15:22] #6084 closed

[2019-07-19 19:00] dagood opened #7290 "Fix up list of Windows compatibility pack libraries included in WindowsDesktop targeting pack and runtime"
There are some bits of the compat pack that are very commonly used in ports to .NET Core WindowsDesktop, and we'd like to include in the WD targeting pack (and runtime) for ease of use.

## Expose in Desktop SDK

Assembly | Justification
-- | --
Microsoft.Win32.Registry.AccessControl | ACLs makes sense on Windows
System.Diagnostics.EventLog |  
System.Diagnostics.PerformanceCounter |  
System.Dire

[2019-07-19 21:09] dagood commented on #6713
Merged with https://github.com/dotnet/core-setup/pull/7288 and https://github.com/dotnet/core-setup/pull/7293!

[2019-07-19 21:09] #6713 closed

[2019-07-22 15:26] dagood opened #7317 "Platform manifests have unwanted symbol file entries in them"
Followup from the migration to the Arcade SDK, https://github.com/dotnet/core-setup/issues/7290:

I don't think this breaks anything, so I didn't fix it with the initial Arcade SDK conversion work. However, AFAIK they don't serve any purpose and should be removed as clutter.

[2019-07-22 16:53] dagood commented on #6587
Confirmed this is gone after the Arcade SDK migration.

[2019-07-22 16:53] #6587 closed

[2019-07-22 16:53] dagood commented on #6588
Confirmed this is gone after the Arcade SDK migration.

[2019-07-22 16:53] #6588 closed

[2019-07-22 16:53] dagood commented on #6589
Confirmed this is gone after the Arcade SDK migration.

[2019-07-22 16:53] #6589 closed

[2019-07-22 19:13] dagood commented on #7150
Done, as far as the initial migration goes. New issues will be used for anything missed.

[2019-07-22 19:13] #7150 closed

[2019-07-22 19:13] #5489 closed

[2019-07-22 19:13] dagood commented on #2349
Completed by the migration to the Arcade SDK.

[2019-07-22 19:13] #2349 closed

[2019-07-22 19:14] dagood commented on #7148
Complete: change merged into `master` and `release/3.0`.

[2019-07-22 19:14] #7148 closed

[2019-07-22 19:45] dagood commented on #7290
The situation here looks a little strange, so I want to confirm. New CoreFX builds aren't producing a package for this library, you can see this in the 3.0 preview6 Windows compat pack dependencies, for example:

https://www.nuget.org/packages/Microsoft.Windows.Compatibility/3.0.0-preview6.19303.8

[code]

@ericstj The assembly is currently shipped "runtime only" in NETCoreApp. The other AccessCon

[2019-07-22 22:04] johnbeisner opened #7327 "Updates to AppHostPack MSIs forces an update to VS's sign exception list"
**Problem:**
Visual Studio's 'Insertion Sign Check' whitelist: \src\ProductData\Engineering\VS_Baseline.csv
has 24 entries for the 'AppHostPack' MSIs:
[code]

These exception entries correspond to unsigned files in the MSIs: "apphost.exe" and "comhost.dll"

Each time we insert a new version of the 'AppHostPack' MSIs; the randomly generated fileId needs to be updated.

Solution:
Make the fileId sta

[2019-07-22 22:10] ericstj commented on #7290
The package for System.IO.Pipes.AccessControl was removed with https://github.com/dotnet/corefx/commit/4e76a6c02552422ce07967f4249acad3b71b80ef.  You can use the 4.5.1 package.  What happens WRT implementation when you do this? So long as we omit it, should be fine.  @JeremyKuhne @carlossanlop

[2019-07-23 14:58] dagood opened #7340 "Detect WindowsDesktop assemblies that already exist in NETCoreApp runtime"
https://github.com/dotnet/core-setup/issues/6727 tracks some instances where WindowsDesktop runtime carries the same libraries as the NETCoreApp runtime. This issue tracks automatic detection. (Also, maybe automatic resolution.)

This is this feature mentioned in https://github.com/dotnet/core-setup/pull/4749:

This should be implemented in a way not specific to WindowsDesktop, so it can be shared

[2019-07-23 15:00] dagood commented on #7290
With https://github.com/dotnet/core-setup/pull/7324 as it is, `System.IO.Pipes.AccessControl.dll` from the 4.5.1 package does end up in the sharedfx and runtime pack, but I can add `ExcludeAssets="Runtime"` to make that not happen. (Closure validation then still works because it automatically ignores references to assemblies included in NETCoreApp.) This seems reasonable to me.

(Overlap like this

[2019-07-23 15:11] dagood commented on #6509
This has been done in `master`, planning to port to `release/3.0` as well.

[2019-07-23 15:34] ericstj commented on #7290
Interesting that it's getting added to the runtime pack.  I wonder why: I would have expected conflict resolution to knock it out.  Perhaps that's not being used when constructing the higher level shared frameworks?  I wonder if there are other unnecessary copies of runtime files.

[2019-07-23 15:39] dagood commented on #7290
Yeah, https://github.com/dotnet/core-setup/issues/6727 lists some that I saw.

I haven't looked into any mechanism yet, that's tracked by https://github.com/dotnet/core-setup/issues/7340. This is something we've planned to do from the beginning but I haven't had time for it.

[2019-07-23 17:07] dagood opened #7343 "WindowsDesktop dependencies (WPF, WinForms) are stale in master"
It looks like `dotnet-wpf-int` isn't producing builds for the `.NET Core 5 Dev` channel yet, so `master` isn't getting updates. A few solutions:

* Change the subscription `master` has on the WindowsDesktop repos to use the 3.0 channel.
* Start merging `release/3.0` into `master` to get updates. (Still flowing, there.)

@wtgodbe, thoughts?

/cc @vatsan-madhavan @zsd4yr @ericstj @mmitche

[2019-07-23 17:12] mmitche commented on #7343
@dagood This is by design.  There are no 5.0 branded wpf/winforms assets yet.  We do not want to mix 5.0 and 3.0 together in a single build, and so we will be in this state for 5.0 until wpf/winforms have a branch producing 5.0 branded outputs.

[2019-07-23 17:14] ericstj commented on #7343
Why let them continue to get staler and staler in master?  Are the old 3.0 bits that are there any better than newer 3.0 bits from release?  I can imagine that not having them up to date will block some changes that need to be made in master.

[2019-07-23 17:18] dagood commented on #5732
It turns out this also helps with branching... https://github.com/dotnet/core-setup/issues/7343.

[2019-07-23 17:24] dagood commented on #7343
To make sure this is clear, we already do this: core-setup pulls in 3.0 WPF and WinForms assets and redistributes them as a 5.0 WindowsDesktop sharedfx and set of packages.

(Looks like we have another reason to split out WD generation into another repo (https://github.com/dotnet/core-setup/issues/5732).)

[2019-07-23 17:31] dagood opened #7344 "Investigate WindowsDesktop dependencies on System.Security.Permissions so it can be safely omitted"
While trying to remove `System.Security.Permissions` for https://github.com/dotnet/core-setup/issues/7290, some closure validation errors came up:

[code]

Some may be caused by having stale dependencies (https://github.com/dotnet/core-setup/issues/7343), but not all (https://github.com/dotnet/core-setup/pull/7324#discussion_r306436855):

Once we're sure this is safe (not sure if Core-Setup should

[2019-07-23 17:41] vatsan-madhavan commented on #7344
Re System.Xaml, WindowsBase: they forward types to s.s.permissions. Those are the only references they have left. We want those TypeForwardedTo attributes to become dangling references.

[2019-07-23 17:42] vatsan-madhavan commented on #7344
/cc @ojhad,@rladuca

[2019-07-23 17:52] mmitche commented on #7343
Ahh that is true.  We could flow to 5.0 Dev in addition to 3.0 Dev, which would solve the problem...any objections?

And yes, #5732 would be great to do once we get a little clearer on what the repo structure will look like.

[2019-07-23 17:53] ericstj commented on #7344
This list seems like it contains implementation dependencies as well.  I'll look at the CoreFx dependencies on S.S.P and report back the usage.

@vatsan-madhavan have you reviewed the DirectoryServices dependency?  That seems a bit unusual from PresentationUI.

[2019-07-23 18:05] vatsan-madhavan commented on #7344
There is a People picker UI in PresetationUI that uses DirectoryServices.

[2019-07-23 18:10] dagood commented on #7343
Sounds fine to me. I like that better than my suggestion about changing the Core-Setup subscription, because once the WD repos do create 5.0 assets, the change will be to where they publish rather than tracking down subscriptions that need to be added.

[2019-07-23 18:19] mmitche commented on #7343
Done.  New builds of master should flow into .NET Core 5 Dev and into core-setup master

[2019-07-23 18:21] vatsan-madhavan commented on #7344
This is what I'm seeing:

- System.Security.Cryptography.Xml.dll
  - System.Security.Policy.Evidence, System.Security.Permissions, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51
- System.DirectoryServices.dll
  - System.Security.Permissions.ResourcePermissionBase, System.Security.Permissions, Version=4.0.2.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51
  - System.Security.P

[2019-07-23 18:24] vatsan-madhavan commented on #7344
System.Drawing.dll is a type-forwards only assembly. I'm sure allowing its dependency on System.Security.Permissions to become a dangling-dependency will be ok.

[2019-07-23 18:39] ericstj commented on #7344
- System.Windows.Forms.Design.Editors
  - was cleaned up in https://github.com/dotnet/winforms/pull/1397/files.

- System.Configuration.ConfigurationManager
  - Public API dependency on PermissionSet and targets NETStandard.  https://github.com/dotnet/corefx/blob/e6a5951fb68a09598f1fc1826a94de212385c649/src/System.Configuration.ConfigurationManager/ref/System.Configuration.ConfigurationManager.cs#

[2019-07-23 18:41] dagood commented on #6793
We have tests for some nupkgs now, created during the Arcade migration. However, we still need these for installers.

[2019-07-23 18:46] ericstj commented on #7344
What are folks thoughts on leaving System.Security.Permissions in the ref-pack but making folks use a Reference item in order to get it?

[2019-07-23 18:52] vatsan-madhavan commented on #7344
Seems reasonable to me. We should probably do a test pass for WinForms & WPF to make sure nothing breaks because of the missing S.S.Permissions (we did some testing already in WPF a few days back to validate this fact by manually removing S.S.Permissions manually from the runtime pack).

Is this work in already (support for Reference items for Framework assemblies) ?

Given repos below core-setup

[2019-07-23 18:56] ericstj commented on #7344
I'm not suggesting it be removed from run-time, so run-time behavior shouldn't change, only reference.

[2019-07-23 19:11] vatsan-madhavan commented on #7344
So retain it in both ref and runtime packs, but not include it in any profiles?

I'm good with this proposal.

[2019-07-23 19:23] ericstj commented on #7344
So it looks like omitting it from the framework list does this:
![image](https://user-images.githubusercontent.com/8918108/61740712-29ab8a00-ad44-11e9-82a3-bd3ac23475dd.png)

Then if I click that helper it just brings up the add-reference dialog without doing anything.  Manually adding a simple reference doesn't fix it either, so I guess this isn't a great option, if we leave it out might as well

[2019-07-23 19:24] dagood commented on #7218
How does this differ from having no `Profile` assignment?

Maybe my question is how the "Integration" assemblies, the ones with no profile per https://github.com/dotnet/cli/issues/10536#issuecomment-488871926, end up being referenced, vs. how these are referenced.

[2019-07-23 19:28] dagood commented on #7344
There's also `ReferencedByDefault="false"` (new), but I'm not sure how it's different from having no profiles.   Maybe it's unrelated, but I asked about what makes it different in https://github.com/dotnet/core-setup/issues/7218 FYI.

[2019-07-23 19:37] wtgodbe commented on #7343
Ack, I agree with the solution here, thanks @mmitche

[2019-07-23 19:40] nguerrera commented on #7344
This is what ReferencedByDefault="false" implies. However, the ability to reference them individually isn't implemented or planned to be implemented in 3.0. I don't think we intended to use that for things that are not leaf nodes in the reference closure. We do not expect to have 'You must add a reference to X' errors when consuming things in the default references. That is a pretty bad experience

[2019-07-23 19:41] nguerrera commented on #7344
No profile means something very different: if the entire shared framework is referenced, then include it, but there are no subsets which include it. Integration is like this because it pulls in both WPF and WindowsForms. You have to pull in both to use it.

[2019-07-23 19:43] nguerrera commented on #7218
Replied here: https://github.com/dotnet/core-setup/issues/7344#issuecomment-514354724

[2019-07-23 19:44] dagood commented on #5337
Done: arcade migration merged.

[2019-07-23 19:44] #5337 closed

[2019-07-23 21:12] dagood opened #7348 "Remove Arcade SDK versioning workaround while doing branding update from preview8 to preview9"
https://github.com/dotnet/core-setup/pull/7347 adds a workaround to keep Arcade SDK versions above the BuildTools versions, and it must be removed:

https://github.com/dotnet/core-setup/blob/7eada7f4473f28b4eaf16272ff923666f29483a4/eng/Versions.props#L7-L13

[2019-07-23 21:14] dagood commented on #7348
FYI @wtgodbe

[2019-07-23 21:57] ericstj commented on #7344
Right, we don't have this today.  We do have this when you consume a desktop library.

I believe the extent of this issue if we were to omit S.S.P would be the EncryptedXml API I showed above, the DocumentEvidence property on the same type, and the System.Configuration.Internal.IInternalConfigHost.GetRestrictedPermissions method.  These aren't exactly show-stopper APIs.  It may be acceptable.

[2019-07-24 04:45] maxi2009 opened #7470 "dotnet error"
C:\Users\Maximiliano>dotnet new console -o Myapp
Failed to load the dll from [C:\Program Files\dotnet\host\fxr\2.2.6\hostfxr.dll], HRESULT: 0x80070057
The library hostfxr.dll was found, but loading it from C:\Program Files\dotnet\host\fxr\2.2.6\hostfxr.dll failed
  - Installing .NET Core prerequisites might help resolve this problem.
     https://go.microsoft.com/fwlink/?LinkID=798306&clcid=0x409

[2019-07-24 15:00] eiriktsarpalis opened #7368 "Please update tracking changes documentation"
According to @ViktorHofer the instructions detailed in https://github.com/dotnet/core-setup/blob/master/Documentation/project-docs/how-to-track-changes.md are out of date. Could you possibly update them? cc @ericstj

[2019-07-24 15:12] ericstj commented on #7368
/cc @noahfalk who wrote the doc and @dagood who's likely changed most of what I'm imagining @ViktorHofer's referring to.

[2019-07-24 15:18] ViktorHofer commented on #7368
We aren't pushing to myget anymore therefore we need to update some parts of the doc. Happy to do that 😁

[2019-07-24 15:24] ericstj commented on #7368
Probably lots of those package IDs and what not are wrong now with the 3.0 work as well.

[2019-07-24 15:43] dagood commented on #7368
It *should* be more straightforward now, broad strokes:

1. To find the "root" commit hash, look at the package's `nuspec`, some `.version` file, in a binary, etc.
   * Losing MyGet and not having a browsable feed means I don't know how to do this without downloading a whole artifact.
2. Open the repo at that commit.
3. Look at `eng/Version.Details.xml` (all repos have this now).
4. Use that to se

[2019-07-24 16:39] dagood commented on #7343
`master` is getting updates again, e.g. https://github.com/dotnet/core-setup/pull/7366. Thanks!

[2019-07-24 16:39] #7343 closed

[2019-07-24 16:47] dagood commented on #7018
I had to revert macOS pkg installer signing because it broke the Core-Setup build in real-sign mode (https://github.com/dotnet/core-setup/pull/7306), and I had to revert Linux package signing because either signing silently did something bad or Core-SDK CI couldn't handle it (#7359).

We'll have to revisit this when there's more time to debug.

[2019-07-24 23:40] dagood commented on #3607
Is this something that can happen in 3.0? Will the move away from "real" NuGet packages to packs make generation not useful?

If the override list won't change at all in the future, maybe we can close this issue.

[2019-07-25 00:01] dagood commented on #6507
Merged into 3.0 with https://github.com/dotnet/core-setup/pull/7374.

[2019-07-25 00:01] #6507 closed

[2019-07-25 01:24] nguerrera opened #7377 "Port unit tests for AppHost creation from dotnet/sdk"
#6831 moved some code from dotnet/sdk, but it seems it didn't carry all of the unit tests with it. These unit tests should be ported over.

cc @swaroop-sridhar @elinor-fung

[2019-07-25 07:39] guy-rouillier commented on #5186
Found this issue by reading through core-setup for all issues containing "snap".  I have Ubuntu 19.04, which has migrated to using snap for parts of the system.  I decided to try out the dotnet snaps.  After installing the dotnet-sdk-2.2, I am able to auto-generate a simple Console app and run it.  But when I auto-generate a GtkSharp basic app, I can build it, but trying to run it produces:

[code

[2019-07-25 13:09] liesauer commented on #3634
u can try this aewsome tool, [NetCoreBeauty](https://github.com/nulastudio/NetCoreBeauty)

[2019-07-25 14:08] eerhardt commented on #3607
I think this issue can now be closed with #6507. The only thing listed here that wasn't explicitly covered is generating the overridden packages and versions, but I'm not sure that is worth the effort. If we find maintaining that the .txt file manually is too cumbersome, we can re-open this issue, or just create a new one at that time.

[2019-07-25 14:08] #3607 closed

[2019-07-25 15:58] vatsan-madhavan commented on #7344
+1. This sounds like a lot for 3.0 and out of scope for 3.1.

If the functionality for individual references is coming in 3.1, then can we live with this until 3.1?

Or are we now thinking that SSP should just stay in, and we can reconsider removal in .NET 5?

[2019-07-25 17:29] osagga commented on #4295
if anyone facing this problem on Linux (with `openssl 1.1`), this fix (https://github.com/NuGet/Home/issues/8169#issuecomment-497591809) worked for me

[2019-07-25 22:15] tlakollo opened #7396 "Build command won't work on preview visual studio versions"
## Steps to reproduce
Install Visual Studio 2019 Preview, run the build.cmd in core-setup and it will fail with error:
Error: Visual Studio 2017 or 2019 required
Please see https://github.com/dotnet/core-setup/tree/master/Documentation/building/windows-instructions.md for build instructions.
Although clearly Visual Studio is installed, the code that checks for installation path only checks for rel

[2019-07-26 00:42] #6509 closed

[2019-07-26 07:28] albahari opened #7412 "InvalidCastException and ArgumentException in Microsoft.Extensions.DependencyModel Preview 7"
I've just received two different bug reports from LINQPad 6 users since upgrading Microsoft.Extensions.DependencyModel from Preview 4 to Preview 7 yesterday.

The exceptions are thrown when calling DependencyContextJsonReader.Read(Stream stream).

I can't give you the .deps.json files that caused the exceptions because the users in question haven't included their contact details, however, I can pr

[2019-07-26 08:31] ViktorHofer commented on #7368
@dagood would you mind updating the doc with your details?

[2019-07-26 13:43] vatsan-madhavan commented on #5732
Is the plan to refactor and expose the tooling through the Arcade SDK?

[2019-07-26 14:46] dagood commented on #5732
Yep, https://github.com/dotnet/core-setup/issues/4787 tracks that. I'm hoping we can get past the point where splitting a repo means duplicating all the infra inside it (like CLI => Core-Setup all that time ago).

[2019-07-26 14:57] dagood commented on #7368
Can do, but I don't know when I'll have time. My comment lists all the stuff I know offhand, I'd have to look more into the scenarios in the doc to find suitable alternatives.

Something that would help get started is the entry point. How are you installing the SDK or runtimes that would be best to focus on as the artifact to start tracing from? (Not using NuGet packages as much anymore and not ha

[2019-07-26 17:52] dagood commented on #7290
The additions are complete in `release/3.0` by #7372.

(Making the same change in `master` (https://github.com/dotnet/core-setup/pull/7324) isn't practical until WindowsDesktop repos produce 5.0 builds.)

Removing `System.Security.Permissions` hasn't been done, and doesn't seem to be in scope for 3.0/3.1. This is discussed in/tracked by https://github.com/dotnet/core-setup/issues/7344.

/cc @terra

[2019-07-26 17:52] #7290 closed

[2019-07-29 15:58] vitek-karas commented on #7470
Can you please make sure that you followed the instructions in the link in the error message? Specifically this part:

[2019-07-29 16:28] dasMulli opened #7491 "single file publish: AppContext.BaseDirectory doesn't point to apphost directory"
## Steps to reproduce
1. Create a hello world program:
[code]
2. Publish self contained - `dotnet publish -c Release -r win-x64 -p:PublishSingleFile=True --self-contained false` (or self-contained)

3. Run the resulting exe file.

## Expected  behavior

According to the [design document](https://github.com/dotnet/designs/blob/686205657ace53b3e6d568cb098be302f6974956/accepted/single-file/design.md)

[2019-07-29 17:02] omajid commented on #7147
With 3.0 preivew 7, there's no longer a `SOS.NETCore.dll` at all, so there's no matching `SOS.NETCore.dll.pdb` either.

[2019-07-29 18:17] 8bg commented on #4295
I am just now encountering these certificate errors on a new install of .NET 2.2 SDK on Ubuntu 19.04. The above resolved my issues - thank you!

[2019-07-29 21:48] #7396 closed

[2019-07-30 01:11] AhmadChaker commented on #7070
I am still getting this error on .NET preview 7.
"Failure processing application bundle. Failed to commit extracted to files to directory"
If I run it a couple more times then it works.
This is being run from a corporate network with antivirus protection enabled.

[2019-07-30 04:04] AaronRobinsonMSFT commented on #7070
@AhmadChaker Can you give us some more details on the type of anti-virus being used? Is this the official preview 7? Can you please run the following command from a developer command prompt on the applications exe: `dumpbin /headers <application_exe>` This should give us enough details to determine exactly what build is being used.

cc @vitek-karas @jeffschwMSFT @swaroop-sridhar

[2019-07-30 07:01] dasMulli commented on #7070
Doesn't seem to be in preview7 as it didn't work when i tried yesterday, figured it didn't make it in - same error message and failing step as before. I worked around by registering the exe names of my projects as exclusions in the AV.

trace file reads

[code]

And the retry code is not yet in the repo at that commit hash.

<details>
<summary>Headers</summary>
Microsoft (R) COFF/PE Dumper Version

[2019-07-30 15:49] vitek-karas commented on #7412
Thanks for reporting these.
The biggest change is that we've switched from `Newtonsoft.Json` to `System.Text.Json` as the underlying JSON parser. There might be some behavioral differences between the two, but I would expect those to be in error cases mostly.

`InvalidCastException`:
This is a bug. The input was invalid (probably a non-array value for the `compilationOptions/defines` property). It

[2019-07-30 19:09] peterhuene opened #7516 "Make the exception thrown by ResourceUpdater public."
Currently the [two exceptions](https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.NET.HostModel/AppHost/ResourceUpdater.cs#L420-L432) that are thrown by the `ResourceUpdater` are private.

In the .NET Core SDK we attempt to catch these so that we can retry the creation of the apphost if, for example, some external process is temporarily locking the apphost.  Right now we're cat

[2019-07-31 09:06] liesauer commented on #5645
hi, i am working on an awesome tool called [NetCoreBeauty](https://github.com/nulastudio/NetCoreBeauty) that makes the .net core application directory looks beauty recently, and got the same problem. here's the things happends, if i `cd` into app base directory, and then run my app with command `./myapp` or just double-click it, everything works properly, but when i try to run my app at other dire

[2019-07-31 09:12] liesauer commented on #5120
you can try this tool [NetCoreBeauty](https://github.com/nulastudio/NetCoreBeauty), and it should works, but it still have a bug that cannot  be fixed it a short time, see https://github.com/dotnet/core-setup/issues/5645#issuecomment-516764531.

[2019-07-31 16:41] dagood commented on #7368
@markwilkie is it possible to address this from the Darc side, as part of tooling? Is there a doc about how to track down changes using Darc from artifacts?

Marking up for grabs because anyone could figure out what the process is and submit a PR to update the doc.

[2019-07-31 16:47] dagood commented on #7340
Note: this is already in 3.0 with https://github.com/dotnet/core-setup/pull/7372, and therefore will automatically be in 3.1. It still needs to be ported to master (5.0) and this issue tracks that work.

[2019-07-31 16:53] dagood commented on #7062
@wli3 @peterhuene @livarcocc, what do you think is the right resolution for this problem? Fixing the permissions on the setup side or in the SDK when it produces a host based on the templates?

[2019-07-31 16:56] dagood commented on #7269
This was completed by https://github.com/dotnet/core-setup/pull/7346 which is in preview 8.

[2019-07-31 16:56] #7269 closed

[2019-07-31 16:57] dagood commented on #5297
Fixed by https://github.com/dotnet/core-setup/pull/7346, in preview 8.

[2019-07-31 16:57] #5297 closed

[2019-07-31 16:59] dagood commented on #7218
Done by https://github.com/dotnet/core-setup/pull/7346 for preview 8. (Missed closing this issue earlier.)

[2019-07-31 16:59] #7218 closed

[2019-07-31 16:59] dagood commented on #6762
Done by https://github.com/dotnet/core-setup/pull/7346 for preview 8. (Missed closing this issue earlier.)

[2019-07-31 16:59] #6762 closed

[2019-07-31 17:06] peterhuene commented on #7062
Personally I think the template should be `r--r--r--` and the `HostWriter` should set `u+x` when creating the customized apphost.

[2019-07-31 19:39] dagood opened #7530 "Determine branding for WindowsDesktop shared framework bundle installer"
This is what the Windows Desktop Runtime bundle installer UI looks like with my initial implementation, basically just replacing `.NET Core` with `Windows Desktop`. Initial questions:

1. Is `Microsoft Windows Desktop Runtime` the right name?
2. What should the description text be changed to?
3. What should/can we do about the overflow?
   * An interesting wrinkle with fixing it is the `Alpha 1`/`

[2019-07-31 19:42] vatsan-madhavan commented on #7530
/cc @grubioe, @richlander ,@diverdan92, @OliaG

[2019-07-31 19:46] vatsan-madhavan commented on #7530
My 2c - Let's stick to a name that matches what we already selected for the runtime & sdk etc. -  _Windows Desktop_. In other words, I'm happy with @dagood's proposal for _name_ - **Windows Desktop Runtime**

[2019-07-31 19:58] dasMulli commented on #7491
@swaroop-sridhar is there any other path at the moment that points to the app host directory and/or name?

[2019-07-31 20:37] grubioe commented on #7530
+ @BethMassi for input.

Windows Desktop Runtime works from my perspective.

[2019-07-31 20:43] dagood opened #7531 "Put WindowsDesktop shared framework bundle installer through loc process"
There are new strings with the WindowsDesktop shared framework bundle installer (at minimum `.NET Core Runtime` => `Windows Desktop Runtime`) that need to be localized.

(Bundle implementation tracked at https://github.com/dotnet/core-setup/issues/6384, this is a preemptive followup issue.)

[2019-07-31 21:21] schuettecarsten opened #7532 "Feature Request: look for global.json file next to sln file"
Currently, dotnet looks for `global.json` file in the current directory (ref: https://docs.microsoft.com/de-de/dotnet/core/tools/global-json). If you put the `global.json` next to your solution sln file and call then `dotnet build` with a sln file parameter that uses a subfolder or a full qualified folder name, the `global.json` is not used.

I suggest that - if dotnet is called with a sln file -

[2019-07-31 21:22] peterhuene commented on #7532
See [my comment](https://github.com/microsoft/msbuild/issues/4564#issuecomment-516525464) on the original issue for more context.

This would be a feature request for an option to specify the path to the global.json file to use to the muxer.

[2019-07-31 21:24] nguerrera commented on #7532
Side note: Visual Studio will actually look relative to the sln for global.json. It can do this because it can be evaluating the project with desktop msbuild before it ever needs to look for .NET Core SDK. For `dotnet` that is not possible.

[2019-07-31 21:49] merriemcgaw commented on #7530
I'm fine with that or with "Windows Desktop Shared Framework Runtime", but that seems even more excessive :)

[2019-07-31 22:31] hoyosjs commented on #7348
This downgrade problem hit master builds as well (.NET Core Dev 5). The highest versioned `Microsoft.NETCore.App` (and `Microsoft.NETCore.App.Internal`) pack is `5.0.0-alpha1.27919.8`, while the latest sane build is `5.0.0-alpha1.19381.4`. Should this fix be replicated on master until `alpha2` branding is building? @dagood

[2019-07-31 22:37] dagood commented on #7348
Where does it cause problems? I want to minimize usage of the workaround. I wouldn't expect it to be causing any issues in the SDK because it doesn't even build for 5.0 yet.

[2019-08-01 03:01] swaroop-sridhar commented on #7491
In the current version, we simply extract the contents of the bundle to a directory on the disk, and declare that directory as the base-directory. This choice aims to preserve compatibility for apps that assume that apcontext.basedirectory contains the app.dll. In the current version, we'll need to use native APIs such as [GetModuleFileName](https://docs.microsoft.com/en-us/windows/win32/api/liblo

[2019-08-01 03:12] albahari commented on #7412
Thanks. When Preview8 is released, I'll ensure that LINQPad includes the .deps.json file in the error report should this happen again.

[2019-08-01 06:37] liesauer opened #7534 "is there any reasons that merging working dir not app base dir into probing path?"
https://github.com/dotnet/core-setup/blob/6db018b7fc5c104810f5a53b538841004e099713/src/corehost/cli/fxr/fx_muxer.cpp#L214

see https://github.com/dotnet/core-setup/issues/5645#issuecomment-516764531 too.

[2019-08-01 06:56] liesauer commented on #7534
it should be supposed to merge app base dir.

[2019-08-01 07:26] vitek-karas commented on #7412
@albahari Unfortunately the fix will not make it into Preview8. P8 is almost done (basically waiting for official build). Once the #7527 gets merged, it should hopefully make P9.

[2019-08-01 09:33] vitek-karas commented on #7534
I don't know - but it's unlikely to change now. Changing it would be a significant breaking change. Also note that it's not just in the `fx_muxer` you linked above, the same behavior applies to other places - basically everywhere the call to `pal::realpath` is made.

[2019-08-01 15:39] dagood opened #7539 "Remove old 5.0 Core-Setup packages from blob feed to fix precedence issues vs. new builds"
When Core-Setup switched to Arcade, package prerelease version build number jumped downwards. This means that pre-Arcade builds always "win" against Arcade-based builds in package version rules. Floating dependencies (`5.0.0-*`) always end up with old pre-Arcade builds because of this.

I'll be the first to caution against floating dependencies, but some people still use them, and it's easy to hel

[2019-08-01 16:32] dagood commented on #7539
This is underway, see https://github.com/dotnet/core-eng/issues/7204 for status.

[2019-08-01 16:32] #7539 closed

[2019-08-01 21:30] dagood commented on #7530
Cool, sounds like we agree on this so far, which perfectly mirrors what shows up in the .NET Core Runtime installer:

* Title: **Microsoft Windows Desktop Runtime - 5.0.0 Alpha 1 (x64)**
* Description header: **Windows Desktop Runtime**

I believe branding is consistent across the product with calling the shared frameworks "runtimes", so no need to add the extra words. 🙂 (In some contexts I might

[2019-08-02 02:38] liesauer commented on #7534
i edited this line https://github.com/dotnet/core-setup/blob/6db018b7fc5c104810f5a53b538841004e099713/src/corehost/cli/fxr/fx_muxer.cpp#L217

to
[code]

everything seems working properly, no `pal::realpath` changes needed,  so i don't think this solution is a breaking change.

[2019-08-02 06:03] vitek-karas commented on #7534
There are multiple ways to specify additional probing paths, one such way is command line: `--additionalprobingpath`. So if somebody has a script which does something along these lines:
[code]
With your proposed change such script would stop working. Before your change it would look for the `LoggingExtension` under the `MyExtensionsDirectory`. After your change it would look for it in the `myapp`.

[2019-08-02 06:34] liesauer commented on #7534
right, probing paths specified in the `.runtimeconfig.json` should be considered relative to the app.

[2019-08-02 08:39] liesauer commented on #7534
Update.
https://github.com/dotnet/core-setup/blob/6db018b7fc5c104810f5a53b538841004e099713/src/corehost/cli/runtime_config.cpp#L98-L109

[code]

[2019-08-02 08:43] vitek-karas commented on #7534
Thanks - that makes sense. But we're still facing the fact that it would be a breaking change.

I'm curious, do you think #5645 would fix your scenario?

[2019-08-02 08:51] liesauer commented on #7534
partially, it only works perfectly when combo with `additionalProbingPaths` in `runtimeconfig.json`.

[2019-08-02 09:20] vitek-karas commented on #7534
Can I ask why is that? If we fix #5645 you should be able to specify any path relative to app base in the `.deps.json`. In which case why would you need `additionalProbingPaths`?

[2019-08-02 16:30] joperezr commented on #6222
Customers are reporting hitting this issue with the latest sdk, and don't like the manual workaround of having to add a reference to the Targets package. This is a regression, @dsplaisted do we plan to fix this for 3.0?

[2019-08-02 16:52] dagood commented on #6222
In case this is weighed against implementation difficulty (although so far it hasn't sounded like it), it's trivial to add workaround package dependencies, they just need to be added to this itemgroup:

https://github.com/dotnet/core-setup/blob/ccf0024ba099103a5b759613c48b8cd46af8754a/src/pkg/projects/netcoreapp/pkg/workaround/Microsoft.NETCore.App.pkgproj#L20-L22

[2019-08-02 17:20] dsplaisted commented on #6222
No, we don't plan to fix this for 3.0.  We only had one report of the issue, and we analyzed the packages on NuGet.org to try to figure out how common the issue would be.  The data seemed to indicate that the issue would be quite rare.

We are not using the Microsoft.NETCore.App package anymore, so simply adding these dependencies as @dagood suggests won't fix the issue.  Referencing the Microsoft

[2019-08-02 17:23] dsplaisted commented on #6222
@joperezr Can you point us to where customers are hitting this?  I've still only seen the one original bug report.

[2019-08-02 18:05] joperezr commented on #6222
Sure, this is the report I got in the iot repo since the customer thought it was related to the package built in that repository: https://github.com/dotnet/iot/issues/646#issuecomment-517544584

[2019-08-02 18:07] joperezr commented on #6222
Do note that the only thing that the user did in order to repro this was:

[code]

That alone would get you a repro since the problem happens when `<PackageReference Include="Microsoft.AspNetCore.Blazor.Server" Version="3.0.0-preview7.19365.7" />` is added to your project and tries to restore for a linux RID

[2019-08-02 18:14] dsplaisted commented on #6222
In that case I think something in the MVC or Blazor package graph needs to be updated, or this may be a different issue.

The issue happens when you have contract packages (such as System.IO.FileSystem, etc) from both the 1.0 and 1.1 bands of .NET Core in your package graph.  For vanilla 3.0 projects, we shouldn't have any 1.x packages in the graph.

[2019-08-02 18:28] jimbergstrom opened #7546 "RPM URL in CentOS install instructions returns 404"
## Steps to reproduce

Following the install instructions on https://dotnet.microsoft.com/download/linux-package-manager/centos/sdk-current

1.  Try to install the RPM from https://packages.microsoft.com/config/rhel/7/packages-microsoft-prod.rpm

## Expected  behavior

RPM downloads and installs

## Actual behavior

[code]

I think the rpm URL in the instructions for CentOS may need to be updated

[2019-08-02 18:36] jimbergstrom commented on #7546
Closing this to reopen it on dotnet/core

[2019-08-02 18:36] #7546 closed

[2019-08-02 19:38] dagood commented on #6384
These are now being produced by `master`, latest build download links are:
* https://dotnetcli.blob.core.windows.net/dotnet/Runtime/master/windowsdesktop-runtime-latest-win-x64.exe
* https://dotnetcli.blob.core.windows.net/dotnet/Runtime/master/windowsdesktop-runtime-latest-win-x86.exe

Note: they probably won't work, because they try to use 3.0 WD bits on top of a 5.0 .NET Core, and due to versio

[2019-08-02 20:10] joperezr commented on #6222
whether the fix goes on the blazor packages or on the sdk, I do think that something must be fixed for 3.0 since I think that it is pretty broken that you can hit this problem so easily. For reference, here is the error message which has the package tree dependency graph:
[code]

[2019-08-02 20:31] swaroop-sridhar commented on #7491
You could also try using: `Process.GetCurrentProcess().MainModule.FileName` as suggested here: https://github.com/dotnet/coreclr/issues/20287#issuecomment-506590901

[2019-08-02 21:33] elinor-fung opened #7550 "[release/3.0] Built app executable cannot be signed"
## Steps to reproduce
- Build an app with an xcopy install of .NET Core Preview 8 (3.0.100-preview8-013640)
- Use SignTool.exe to sign the built .exe

## Expected  behavior
Signing suceeds

## Actual behavior
Signing fails with `error: 0x800700C1`

## Notes
This is a regression (from Preview 7). The apphost.exe (and comhost.dll) in the NuGet packages out of core-setup are being signed.  We need to

[2019-08-02 21:37] elinor-fung commented on #7550
cc @dagood @vitek-karas @AaronRobinsonMSFT

[2019-08-02 23:36] dagood commented on #5254
We also need to add anti-signing validation for `apphost.exe` and `comhost.dll`. (Not just skip them.)

[2019-08-03 09:09] liesauer commented on #7534
https://github.com/dotnet/core-setup/blob/6db018b7fc5c104810f5a53b538841004e099713/src/corehost/cli/hostpolicy/deps_resolver.cpp#L278-L366

this method also base on the probe config, i don't think we can avoid modifying probing path part.

[2019-08-03 22:23] mwpowellhtx opened #7557 "Guidance for DependencyContext followed by ICompilationAssemblyResolver usage"
Ostensibly, as I understand it, my process starts with adding a loaded ``Assembly`` to a ``DependencyContext`` and *Merging* that *context* with the original one. Upon adding the reference, I turn around and fold in a new ``CompositeCompilationAssemblyResolver`` with that ``AppBaseCompilationAssemblyResolver``. The inner resolver contains within it a ``PackageCompilationAssemblyResolver`` and a ``

[2019-08-03 22:47] nguerrera commented on #6222
See also https://github.com/dotnet/sdk/issues/3044#issuecomment-517959056

[2019-08-03 22:48] nguerrera commented on #6222
A nestandard2.0 target should be added to Mono.Cecil and Blazor should depend on that.

cc @sbomer

[2019-08-03 22:51] nguerrera commented on #6222
It looks like the code was already moved to netstandard2.0, but no release was pushed to nuget?

https://github.com/jbevain/cecil/issues/599#issue-471255986

cc @jbevain

[2019-08-04 00:44] nguerrera commented on #6222
@davidfowl Can you help push out 1.x assets out of `dotnet new mvc` graph?

[2019-08-05 16:21] dagood opened #7567 "Update master branch NETStandard.Library.Ref to produce 2.2 (for 5.0)"
@nguerrera pointed out in https://github.com/dotnet/core-sdk/pull/3741#discussion_r310339695 that core-setup `master` still produces 2.1 `NETStandard.Library.Ref`. dotnet/standard now produces 2.2 from its `master` branch (https://github.com/dotnet/standard/pull/1344), which core-setup should probably match.

A consideration is that we should move this package to dotnet/standard, https://github.co

[2019-08-05 17:42] dagood commented on #7550
The fix is merged for 3.0 preview 8: https://github.com/dotnet/core-setup/pull/7549.

[2019-08-05 17:42] #7550 closed

[2019-08-05 18:03] dagood commented on #7530
Current text:

My motivation for changing this:

1. The text describes development and building, which this isn't for.
   * Depending on our guidance, developers may point end users at this installer to be able to launch their FDE/FDD apps. (https://github.com/dotnet/core-setup/issues/6381, https://github.com/dotnet/core/issues/2618.)
2. It mentions various types of projects, but desktop apps are

[2019-08-05 20:56] dagood opened #7572 "Disable Microsoft.WindowsDesktop.App.Ref when building from source (source-build)"
In 3.0 preview 7, it was reported that during source-build, Core-Setup created a `Microsoft.WindowsDesktop.App.Ref` that had to be deleted manually: https://github.com/dotnet/source-build/issues/1123. It should not be created--source-build isn't targeting Windows, the only place the output would work.

[2019-08-05 23:24] nguerrera commented on #6222
I cannot reproduce this in preview 8.

This didn't trigger it either:

Neither of these have package references.

[2019-08-06 01:20] johnbeisner commented on #6370
@dagood what is the status of this work - we have a dependent issue.

[2019-08-06 11:21] NMSAzulX opened #7575 "Question: Is Microsoft.Extensions.DependencyModel compatible with desktop and WEB environments?"
[code]
There was nothing wrong with it while I was debugging. （,NET Core 2.0+ / VS2019）
When I published web application, it can't find some necessary dll. (.NET Core 2.2.6 / IIS )

Like this: **Cannot find compilation library location for package 'Microsoft.AspNet.WebApi.Client'**

I tried to solve it, like https://github.com/dotnet/core/issues/2301.
But It still makes some mistakes.
It does not

[2019-08-06 15:47] dagood commented on #6370
It's in the backlog. Should be an easy change, but since Core-SDK isn't taking 5.0 and Core repos don't branch for previews, it will take a while for it to be able to flow.

[2019-08-06 16:12] dagood commented on #6370
Actually, with https://github.com/dotnet/core-sdk/pull/3741 coming in soon, 5.0 will be flowing to the SDK shortly. I went ahead and submitted https://github.com/dotnet/core-setup/pull/7581 to make this change.

[2019-08-06 19:45] dsplaisted commented on #6222
I don't think this happens with default projects.  The binlog with the failure is linked [here](https://github.com/dotnet/iot/issues/646#issuecomment-517544584).  Based on that, the following is a minimal repro:

[code]

For the failure to occur, there need to be dependencies to both 1.0 and 1.1 band contract packages.  The Blazor package is bringing in Mono.Cecil which is bringing in 1.0 contract

[2019-08-06 19:59] batzen opened #7585 "Allow initialization of secondary components in self contained context"
## Steps to reproduce
- Create a self contained app
- Create a component that has "managed" dll exports (through IL manipulation as C#/roslyn does not currently allow this)
- Set `EnableDynamicLoading` to true
- Rewrite that component to point to ijwhost instead of mscoree in it's `DllMain` (can be done using a hex editor)
- Load ijwhost into the app via `kernel32.LoadLibrary`
- Try to load the ad

[2019-08-07 04:48] jkoritzinsky commented on #7585
This is a duplicate of/related to #6961

cc: @vitek-karas

[2019-08-07 06:55] NMSAzulX commented on #7575
This issue solved my problem............ https://github.com/dotnet/roslyn/issues/37760

[2019-08-07 08:02] AbhishekHumagain commented on #6189
Add this json to the **application.runtimeconfig.json** file.
{
  "runtimeOptions": {
    "tfm": "netcoreapp2.2",
    "framework": {
      "name": "Microsoft.NETCore.App",
      "version": "2.0.0"
    }
  }
}

[2019-08-07 08:06] WeihanLi commented on #6189
I don't think that's bug or something need change, you can not run `dotnet`/`dotnet exec` with a class library, the class library had no entry point for a executable program

[2019-08-07 11:25] dasMulli commented on #7491
That works, thanks!

Is this (esp. `AppContext.BaseDirectory`) subject to change? If not, I'd ask for the design document to be in line with the actual implementation, or hint at which parts are part of .NET Core 3.0.

[2019-08-07 16:05] dasMulli opened #7597 "Publishing large single file executables fails on systems with on-access scan"
## Steps to reproduce

* Use a system with on-access scanning enabled (e.g. Enterprise laptop with McAffee Endpoint Security), no exclusion for `dotnet.exe`
* Create an app with lots of external DLLs and some front-end assets as well (Angular App)
* Publish it as single file self-contained app to an empty directory or from clean state.

## Expected  behavior

Publish works

## Actual behavior

[co

[2019-08-07 17:00] vitek-karas commented on #7412
#7527 has been merged into the P9 branch.

[2019-08-07 17:00] #7412 closed

[2019-08-07 21:15] dleeapho commented on #7530
/cc @leecow can you chase down the answer for the above?

[2019-08-07 21:33] dagood opened #7609 "Copy updated .NET Core installer messaging to Core-Setup from Core-SDK"
See https://github.com/dotnet/core-sdk/issues/2570. The Runtime installer currently has the same text as the SDK installer, so we should copy it directly.

We could also make the .NET Core Runtime installer have different text (because describing the Runtime as an SDK might be confusing!) but that is orthogonal.

If the message is simple enough, it might apply to the WindowsDesktop installer: #753

[2019-08-07 21:35] vitek-karas opened #7610 "Self-contained .NET Core apps can't use .NET Core COM components"
#### Observed behavior
Self-contained apps can't natively host other .NET Core components.
Natively hosted components are:
* COM objects which are implemented with .NET Core
* IJW assemblies in some cases
* WinRT objects which are implemented with .NET Core
* explicit native hosting of .NET Core components using `hostfxr` APIs like `hostfxr_initialize_for_runtime_config`.

#### Repro
Clone the dot

[2019-08-07 21:37] vitek-karas commented on #7585
It's not a duplicate of #6961 although it's somewhat related. This is a "bigger" problem. I filed #7610 for it since the IJW scenario described in this one is very uncommon.

That said the potential fix for #7610 will still not fix all the other issues with IJW assemblies used the way described in this issue.

[2019-08-07 21:47] swaroop-sridhar commented on #7597
@dasMulli  is the failure consistent, with the same call-stack?

[2019-08-08 01:51] vatsan-madhavan commented on #7530
This is what I see for ASP.NET Core. Are we planning on changing this or adding more verbiage to it? If the answer is **no**, then I'd recommend that we take out the text from WindowsDesktop shared framework as well and keep things consistent.

![image](https://user-images.githubusercontent.com/20246435/62669181-8c577500-b943-11e9-824e-edbf102de81f.png)

If we plan on adding some text to ASP.NET C

[2019-08-08 02:28] merriemcgaw commented on #7530
@vatsan-madhavan  - Why WPF first:

😁

I actually really like just keeping it simple like the current text for ASP.NET. Either that or we arm-wrestle over who is first 😉

[2019-08-08 03:34] vatsan-madhavan commented on #7530
@merriemcgaw, No idea - I copied it from https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0#windows-desktop ;-). I’m fine with any order really - let’s change it up by all means!

[2019-08-08 06:01] dasMulli commented on #7597
Yes it is consistent. 2/3 executables in my solution publish fine - they are console apps with a few dependencies. A self-contained web app resulting in a ~100 MB exe doesn't build and consistently throws this call stack.

[2019-08-08 15:37] dagood commented on #7530
That installer's text is a little busted (note the double space and weird phrase), here's the 2.2 one:

![image](https://user-images.githubusercontent.com/12819531/62715176-95892600-b9c5-11e9-9213-0c7ab0d020fd.png)

Might want to report the 3.0 issue (if it hasn't been already)?

The audience seems to me to be different enough that I don't know if it makes sense to take cues from that installer. (

[2019-08-08 18:11] dagood opened #7629 "Disable 'RestoreAllBuildRids' when building from source (source-build)"
In https://github.com/dotnet/source-build/pull/1164, to build core-setup, source-build has to pass `/p:RestoreAllBuildRids=false`. This should be incorporated into core-setup.

[2019-08-08 18:28] dagood commented on #6370
Done with https://github.com/dotnet/core-setup/pull/7581 and ported to 3.0 with https://github.com/dotnet/core-setup/pull/7584.

[2019-08-08 18:28] #6370 closed

[2019-08-08 18:29] dagood commented on #7327
Merged for 3.0 with https://github.com/dotnet/core-setup/pull/7393.

[2019-08-08 18:29] #7327 closed

[2019-08-08 20:08] merriemcgaw commented on #7530
@vatsan-madhavan maybe we can alternate the order each major release to keep it fair ;)

[2019-08-08 22:58] elinor-fung opened #7635 "Product versions for binaries no longer contain commit information"
The commit is listed as `unknown` in the product version for binaries built from core-setup.

For example, for `hostpolicy.dll` from https://dotnetcli.blob.core.windows.net/dotnet/Runtime/3.0.0-preview9-19408-09/Microsoft.NETCore.App.Runtime.win-x64.3.0.0-preview9-19408-09.nupkg, the product version is:
[code]

In Preview 7, the product version had the commit hash:
[code]

cc @dagood

[2019-08-08 23:22] wtgodbe commented on #7567
CC @JunTaoLuo @dougbu. @dagood, this is blocking Asp.Net repos since they're consuming `2.1.0-alpha` versions of this package from master, which the SDK automatically rolls forward to the latest on nuget (`preview7`), which doesn't contain some new API that they rely on.

[2019-08-08 23:43] JunTaoLuo commented on #7567
Would appreciate an eta when available since our master branches are blocked currently.

[2019-08-09 15:33] dagood commented on #7567
Is changing the package version enough, or do you know if there's an assumption somewhere that the major.minor of the package is the same as the major.minor of the TFM? https://github.com/dotnet/core-setup/pull/7646 is just the package version. If needed, Core-Setup can move stuff into the right place without much effort, but don't want to do that unless needed.

If infra problems clear up, no rea

[2019-08-09 15:48] nguerrera commented on #7567
Why are your branches blocked. I saw something about NuGet picking a different older version somewhere but that sounds like the issue with packages disappearing if that’s what the blocker is. If the alpha package is found it should work.

[2019-08-09 15:49] nguerrera commented on #7567
Please don’t bump the version to 2.2 with 2.1 tfm

[2019-08-09 15:55] nguerrera commented on #7567
The SDK does no such roll forward of targeting pack versions. NuGet rolls forward package versions if the exact version is not found in some cases, and warns.

I saw something about packages going missing, are we sure that's not what is happening. Can you share a pointer to a failing build or binlog?

[2019-08-09 15:57] dagood commented on #7567
Filed https://github.com/dotnet/standard/issues/1421 to get to 2.2 with consistency.

The missing package issues are tracked at https://github.com/dotnet/arcade/issues/3620.

[2019-08-09 16:04] wtgodbe commented on #7567
@JunTaoLuo can you share a link to one of the failed builds?

[2019-08-09 17:31] rladuca opened #7651 "WindowsDesktop located in incorrect directory in latest daily (5.0.100-alpha1-013704)"
## Steps to reproduce
Install 5.0.100-alpha1-013704 build of .NET Core

## Expected  behavior
WindowsDesktop lives under dotnet/shared/Microsoft.WindowsDesktop,App and applications load properly.

## Actual behavior
It's under dotnet/shared/shared/Microsoft.WIndowsDesktop.App causing all WindowsDesktop applications to crash immediately.

## Environment data
![image](https://user-images.githubuserc

[2019-08-09 17:32] rladuca commented on #7651
@ericstj @livarcocc @nguerrera

[2019-08-09 17:33] dagood commented on #7651
Duplicate of https://github.com/dotnet/core-sdk/issues/3883

[2019-08-09 17:33] dagood commented on #7651
This is an issue in SDK zip assembly due to a change requested to support installing the WD sfx with `dotnet-install.ps1`.

[2019-08-09 17:33] #7651 closed

[2019-08-09 17:35] rladuca commented on #7651
Ah thanks, didn't check SDK!

[2019-08-09 17:54] JunTaoLuo commented on #7567
My bad, it wasn't a roll forward that cause the issue for us. We did an oopsie when porting over @nguerrera's fix for targeting netcoreapp5.0 and accidentally removed the mechanism to specify an exact version of the targeting pack to use and ended up falling back to the bundled targeting pack in the SDK. False alarm, we're not blocked on this.

[2019-08-09 18:05] eerhardt commented on #6222
@ericstj and @joperezr pointed me to this issue.

I hit this today upgrading ML.NET to 3.0.  Restoring this project:

[code]
with the 3.0.100-preview8-013437 SDK results in:

[code]

If I literally change any line in the .csproj, it works:
* change TFM to netcoreapp2.1 - works
* remove RuntimeIdentifier - works
remove either PackageReference - works

[2019-08-09 18:05] eerhardt commented on #6222
Re-opening this issue so it gets noticed.

[2019-08-09 18:05] #6222 closed

[2019-08-09 18:07] nguerrera commented on #6222
I don't think this issue can track a fix. We can't use an empty package for reasons that have been discussed. I'll be writing a longer reply and will point to where we should track the real fix in NuGet.

[2019-08-09 18:12] nguerrera commented on #6222
Well, we can have the empty packages, but we can't auto reference them in the SDK.

[2019-08-09 19:00] nguerrera commented on #6222
https://github.com/dotnet/sdk/issues/3044 tracks the work on the SDK to make these scenarios just work, which after trying many workarounds and failing is now blocked on https://github.com/NuGet/Home/issues/7344

Both are still open so we should focus there rather than on this workaround issue that won't work.

Please link any reports on either of those issues.

[2019-08-09 19:20] omajid opened #7653 "Working around LibGitSharp2 not working on arm64?"
I am trying to build core-setup (commit `e4c55203`) on arm64.

[code]

Aside from a number of other issues, `./build.sh` gives me this error:

[code]

I know there are multiple fixes (some in the works) to get this working on arm64:

- https://github.com/dotnet/sourcelink/pull/288
- https://github.com/libgit2/libgit2sharp.nativebinaries/pull/99

Can someone help me get one of these fixes to be con

[2019-08-09 19:45] dagood commented on #7635
I looked at a binlog, and it looks like this is causing it:

https://github.com/dotnet/core-setup/blob/4c96b8dd94df35b9fd73fabb374bf75c1822d691/src/corehost/build.proj#L5-L10

https://github.com/dotnet/core-setup/blob/4c96b8dd94df35b9fd73fabb374bf75c1822d691/eng/DisableSourceControlManagement.targets#L11-L19

We're relying on Arcade to generate the version part of this include file, and Arcade dep

[2019-08-09 20:01] dagood commented on #7653
The version comes from here:

https://github.com/dotnet/core-setup/blob/e4c5520372fe36552a67ee1d51c1c08fba9aa316/eng/Versions.props#L89-L90

I'd kind of expect that to come from Arcade, so the best solution might be to remove that and use an Arcade default... but maybe doing a one-time upgrade is fine as a fix for this particular problem?

[2019-08-09 21:46] dagood opened #7659 "In host MSI, repairing TPN file is broken: install txt files in separate components"
https://github.com/dotnet/core-setup/blob/0e6effe229e0913dcd71bc20d63faac8cd34391b/src/pkg/projects/Microsoft.NETCore.DotNetHost/host.wxs#L18-L21

[2019-08-10 09:58] vitek-karas commented on #7610
#7628 implements a fix for 3.0. The proper long term fix will require SDK changes and additional information in `.runtimeconfig.json`.

[2019-08-12 14:28] MichaelSimons opened #7691 "Remove 1.* source code artifacts for producing snaps"
Given .NET Core 1.* is EOL, the source code artifacts for producing 1.* snaps should be removed.

https://github.com/dotnet/core-setup/tree/master/src/pkg/packaging/snaps/dotnet-runtime-1.1

[2019-08-12 15:55] dagood commented on #7567
Closing: there's no plan to declare `netstandard2.2` (https://github.com/dotnet/standard/issues/1421) and without that, we can't do this. It also shouldn't be blocking anyone.

[2019-08-12 15:55] nguerrera commented on #7567
I don't agree with this. You have to pick a version for your branch that is ahead of 2.1.

[2019-08-12 15:57] dagood commented on #7567
Do you have any suggestion about what to do, with the constraint of not bumping the version to 2.2 with the `netstandard2.1` tfm?

[2019-08-12 16:00] nguerrera commented on #7567
I think they should bump the TFM. They are producing bits in a branch that is logically after the final 2.1 surface area, that needs a new TFM. Maybe they don't want the next one to be 2.2, but they should assign one and 2.2 is the lowest possible. Later they can bump to 3.0 or whatever.

[2019-08-12 21:30] dagood opened #7693 "Add auto-update configuration for non-SDK Arcade packages"
These versions are old, because `Versions.Details.xml` doesn't have entries for them:

https://github.com/dotnet/core-setup/blob/6f3ead36128f5ef3287a847fe9f4cf0d1177a057/eng/Versions.props#L39-L42

We should add them to `Versions.Details.xml` to get auto-update PRs for build serviceability.

[2019-08-12 21:47] peterhuene commented on #7516
This has now been addressed with #7692.

[2019-08-12 21:47] #7516 closed

[2019-08-13 07:04] liesauer opened #7694 "how can i know a specific net core sdk using which version of core-setup?"
let's say `SDK 2.2.205`, when i run `dotnet publish`, how can i know which version of `hostfxr` is using?

[2019-08-13 16:28] jcagme opened #7698 "Getting native binaries and executables entitled"
As per the "Getting .NET Core ready for Mac OS Catalina" email we need to add a flag and entitlements to native binaries and executables to get them ready for notarization.

The steps needed are:

1.	Add a plist which sets CSFlags to 65536. This is used to preserve the codesign flag “-o runtime” when codesign is called on it. We’d need to do “ld -sectcreate _TEXT __info_plist  plist_name.plist”. [

[2019-08-13 16:52] lpereira opened #7700 "Build intermediary static libraries to speed up compilation"
Some files are used by multiple targets in corehost. Mainly:

[code]

(Other candidates include `trace.cpp`, `utils.cpp`, and the PAL.)

Those are built twice, when building `hostpolicy` and `hostfxr`.  It might be a better idea to create a `common` static library that's linked against those targets.

[2019-08-14 08:19] vitek-karas commented on #7694
There are potentially two `hostfxr`s in question:
* The `hostfxr` used to run the SDK itself (in the above case the `dotnet publish` command is implemented in the SDK as managed code and runs that way). This will typically be the globally installed `hostfxr` in something like `ProgramFiles\dotnet\host\fxr\` - it always uses the latest version available on the machine (regardless of which SDK is be

[2019-08-14 09:18] vitek-karas commented on #7470
If you're still running into problems, please open another issue or reopen this one if it makes sense.

[2019-08-14 09:18] #7470 closed

[2019-08-14 14:41] #7377 closed

[2019-08-14 20:04] nguerrera opened #7728 "System.Private.CoreLib designated as native in runtime pack"
## Steps to reproduce

1. `dotnet new console`
2. `dotnet publish -r win-x64`
3. Look at bin\Debug\netcoreapp3.0\win-x64\app.deps.json

## Expected  behavior

System.Private.Corelib is designated as a runtime asset

## Actual behavior

System.Private.Corelib is designated as a native asset

Is there a reason for this? It is complicating my fix for dotnet/sdk#3109

The app works fine if I edit .dep

[2019-08-14 20:09] omajid commented on #7693
Possibly related: https://github.com/dotnet/arcade/pull/3468

[2019-08-14 20:50] jeffschwMSFT commented on #7610
@vitek-karas would you like to keep this issue open to track the long term?  My preference would be to close this (as a fix for the short term) and open a new issue to track future work.

[2019-08-14 20:52] dagood commented on #7728
The root cause is that CoreCLR puts it into the transport package that way, and Core-Setup doesn't second-guess it: `transport.runtime.win-x64.microsoft.netcore.runtime.coreclr\5.0.0-alpha1.19403.2` for example has `runtimes\win-x64\native\System.Private.CoreLib.dll`.

There is also a `runtimes\win-x64\il\System.Private.CoreLib.dll`. I'm drawing a blank on what that one's for.  It doesn't get pick

[2019-08-14 20:56] vitek-karas commented on #7728
S.P.Corelib is special in the way that it gets crossgenes in the coreclr repo (everything else is crossgened in the core-setup repo) - so it comes from coreclr as a RID specific file I assume... that might be the reason it's marked as native (since it kind of is).
I would venture a guess that the weird "il" version is the pure IL corelib (with no R2R).

If the above is true - than I think it would

[2019-08-14 22:17] dagood commented on #7728
Core-Setup puts the crossgen'd CoreFX in `runtimes\win-x64\lib\netcoreapp5.0\`, maybe it would make sense to follow the same convention in CoreCLR for this. That seems like a pretty far-reaching change, though. Special casing for `RuntimeList.xml` would be fairly trivial, on the other hand.

[2019-08-14 22:33] dagood opened #7730 "VS insertion federation: manufacture and push MSI insertion nupkgs for 2.1/2.2"
Port https://github.com/dotnet/core-setup/pull/6913 to 2.1/2.2.

@dleeapho, @MichaelSimons, this tracks the work to port MSI nupkg creation back to `release/2.1` and `release/2.2`. We'll have to figure out when to make this happen.

/cc @wtgodbe

(Core-Setup tracking issue for https://github.com/dotnet/core-sdk/issues/2148 and https://github.com/dotnet/core-sdk/issues/2150.)

[2019-08-15 01:12] swaroop-sridhar commented on #7491
Yes @dasMulli the value of `AppContext.BaseDirectory` is open question in the next version of .net core, -- because when we load assemblies directly from the bundle, there's no extraction directory.

[2019-08-15 08:27] liesauer commented on #7694
for the second one, is it reliable that i extract the version of package `Microsoft.NETCore.DotNetHostResolver` from `deps.json`?

[2019-08-15 08:38] vitek-karas commented on #7694
Sorry - I don't understand the question. The `Microsoft.NETCore.DotNetHostResolver` package is not referenced from `.deps.json`. Self-contained apps will have the `hostfxr.dll` listed as a native asset, but that's all.

Can I ask what is the scenario? Why do you need to know the version of `hostfxr` in the app?

[2019-08-15 09:02] liesauer commented on #7694
when we build a self-contained app, it has `Microsoft.NETCore.DotNetHostResolver/x.y.z` under `libraries` section in `.deps.json`, i have tested a couple of different netcore version, and it seems to be reliable for me.
i have a tool which is used to optimize a netcore self-contained app but have a bug, see #5645(we have discussed before), since this bug cannot be fixed in a short time, i need to

[2019-08-15 09:11] vitek-karas commented on #7694
The record in the `libraries` section will only be there for 2.* apps. 3.0 apps won't have it. Maybe a better way to do this would be to look at the `hostfxr.dll` itself and check its file version (build number).

[2019-08-15 15:57] vitek-karas opened #7732 "Self-contained apps don't validate frameworks when loading components through native hosting APIs"
#### Issue description
This is a followup to dotnet/core-setup#7610. After dotnet/core-setup#7628 native hosting APIs don't validate framework references in dynamically loaded components. This affects COM, IJW, WinRT as well as direct native hosting API calls.

For 3.0 alone this is not a problem because there are only two cases where the validation is important and have no real impact in 3.0:
* C

[2019-08-15 15:59] vitek-karas commented on #7610
The 3.0 problem has been resolved by #7628. The followup changes to start validation framework references again are tracked by #7732.

[2019-08-15 15:59] #7610 closed

[2019-08-15 16:51] #7653 closed

[2019-08-15 18:47] dagood commented on #5628
Closing, this was done a while ago, and it's in 2.1.12.

I haven't had a chance myself to do a fuller validation of the results, but there haven't been any reports of problems, and if any turn up, I'd expect the best way to handle them is by filing new issues.

[2019-08-15 18:47] #5628 closed

[2019-08-15 22:01] dagood opened #7737 "Move explanation of host MSI always copying files to default location into a referenceable doc"
This description is useful, but not easy to find or point people to. It should live in a Markdown file or something:

https://github.com/dotnet/core-setup/blob/e8cef8ea52a98092cc3c4fc252e611d88be29222/src/pkg/projects/Microsoft.NETCore.DotNetHost/host.wxs#L10-L21

[2019-08-15 23:31] peterhuene commented on #5186
We appear to be hitting this issue for any framework-depdent apphost (not just global tools), which is produced by default for 3.0 builds when using a snap-installed .NET Core SDK.

[2019-08-15 23:45] AhmadChaker opened #7738 "dotnet publish single file does not copy appsettings.json"
## Steps to reproduce
When I try to run:
dotnet publish -r win-x64 -c Release /p:PublishSingleFile=true
It gives me a single file exe however there is no appsettings.json file in sight.
How do I ensure that this file is copied across?

When I run the same command without the /p:PublishSingleFile=true switch then the appsettings.json file is included in the output directory.

## Expected  behavior

[2019-08-16 07:05] sudoudaisuke opened #7746 "PublishSingleFile error on .NET Core 3.0 Preview 8 "Invalid input specification: Found multiple entries with the same BundleRelativePath""
## Steps to reproduce

1. Create Console app project.
1. Add nuget package "Microsoft.VCRTForwarders.140".
1. Add "PublishSingleFile" element to csproj file.
1. exec command >dotnet publish ConsoleApp1.csproj /p:PublishProfile=\PublishProfiles\FolderProfile.pubxml

[ConsoleApp1.zip](https://github.com/dotnet/core-setup/files/3508354/ConsoleApp1.zip)

## Expected  behavior
success GenerateBundle ta

[2019-08-16 07:20] hmvs commented on #5186
https://forum.snapcraft.io/t/rpath-in-elf-that-can-be-moved-across-system/10118
So we need either bump the thread that I created or help them implement it in the snap by ourselves.

My idea was to introduce an option in the snap that will allow ELF patch with an absolute path to the binaries.

[2019-08-16 08:19] #7575 closed

[2019-08-16 08:33] vitek-karas commented on #7738
What type of app is this? Is it an ASP.NET, console, or something else?
I would expect the file to be part of the `.exe` and when you run the app it will be unpacked into the temp folder which where the app runs. Is that not the case?

[2019-08-16 10:04] vitek-karas commented on #7746
The root cause seems to be that there are the same files coming from the `Microsoft.NETCore.App` framework as well as the nuget package `Microsoft.VCRTForwarders.140`. The weird thing is that the error only happens if the `Platform` property is set (to x86 in this case), if that property is left undefined everything works.

@sudoudaisuke Can you please try to simply delete the `<Platform>` element

[2019-08-16 10:10] vitek-karas commented on #7746
Hmm - digging into this some more - the `Microsoft.VCRTForwarders.140` seems to be inflicting this upon itself:
https://github.com/microsoft/vcrt-forwarders/blob/master/Microsoft.VCRTForwarders.140.targets

The targets file they include adds the duplicate items to the `ReferenceCopyLocalPaths`, and only does so if the `Platform` property is defined. So simple publish from command line actually doe

[2019-08-16 10:15] vitek-karas commented on #7746
@sudoudaisuke could you please reopen the issue https://github.com/microsoft/vcrt-forwarders/issues/8? (I can't do it myself, probably don't have the right access rights)?
I added some details - in general this feels like something the nuget package should fix.

I'll keep this issue opened for a little bit so that we can discuss if SDK/bundler should be resilient to these kinds of issues or not.

[2019-08-16 10:16] vitek-karas commented on #7746
@nguerrera Please look at https://github.com/dotnet/core-setup/issues/7746#issuecomment-521959806
Is the behavior of the package something we should support, or the package should make changes to how it works? (I don't fully know how we resolve assets from NuGet packages in the SDK)

[2019-08-16 11:50] AhmadChaker commented on #7738
It's a console app.
The exe runs as if the appsettings.json is not there.
It's easily reproducible with a hello world app

[2019-08-16 13:33] vitek-karas commented on #7738
Could you please share the piece of the code which reads the configuration? I just tried with an ASP.NET web app and the configuration works just fine - it reads values from `appsettings.json` even if it's a single-file where the `appsettings.json` is extracted to the temp directory.

[2019-08-16 13:51] nguerrera commented on #7746
This is the second case of a package with custom targets working around nuget triggering double writes that we're only now unearthing with post processing of publish list.

There's a bug on the sdk to warn and dedupe the list down to the copy that would win. I'll link it when I find it.

Both of the packages are Microsoft owned and I will also follow up with the authors to clean up their packages.

[2019-08-16 16:43] swaroop-sridhar commented on #7746
We've previously agreed that the HostModel must not attempt to fixup such bugs -- because it has no inherent knowledge of which version to choose. So, I added the check (which failed above) to ensure that the problem is caught at build time, rather than getting strange failures at runtime.

[2019-08-16 16:47] dagood commented on #6678
I don't know how to fix this. This string is defined here, which simply uses the value of `DOTNETHOME`:

https://github.com/dotnet/core-setup/blob/d1bbd70e6f50ba0759fa84d616ab9b46f1e1edf8/src/pkg/projects/netcoreapp/sfx/theme/1041/bundle.wxl#L65

According to https://stackoverflow.com/a/7314690, this is a difference in how the separator is displayed, not what it actually is. So it would seem that

[2019-08-16 16:54] vitek-karas commented on #7746
Well - in this case the two items are effectively identical (it's the same file, just different syntax of the path)... so there's nothing to choose from (if we would normalize the path, the two items would be identical). But I understand the sentiment - and agree with it.

[2019-08-16 16:59] joeloff commented on #6678
yeah, I think the bundle will just map it back to the neutral locale. The strings are passed through the Engine's formatter to resolve variable references. I can dig a bit more, but I suspect you can't fix this. It's just how the text is displayed, I don't think anything should be broken

[2019-08-16 17:14] dagood commented on #6678
Well, this is a loc issue about the text being displayed in a broken way. 😄 It is good that the files are still expected to end up in the right place, though. (And we do see in the screenshot that they indeed end up in the right place.)

Moving out of 3.0: with this probably having to do with the burn bundle internals (something about which codepoint it uses to display?), this is in a different le

[2019-08-16 17:52] nguerrera commented on #7746
I will track the work to harden against this with https://github.com/dotnet/sdk/issues/3510

The proposal there is to dedupe down to the same that would survive based on copy order and warn if there are dupes. I will add a note there to conisder not warning if it is a pure dupe (i.e. source and destination paths are the same).

I do not think we should be complicating each individual post-processi

[2019-08-16 17:52] nguerrera commented on #7746
Duplicate of https://github.com/dotnet/sdk/issues/3510

[2019-08-16 17:52] #7746 closed

[2019-08-16 17:54] nguerrera commented on #7746
In the meantime, this question is very relevant:

If you can get away with not referencing this package or conditioning the reference to TargetFramework not being .NET Core, then I would suggest doing that.

If this is not possible, understanding why will help to prioritize https://github.com/dotnet/sdk/issues/3510

[2019-08-16 18:15] dagood commented on #7530
I'm going to move a little forward with porting the installer to 3.0 with the one-liner and description removed--this means we can reuse the .NET Core Runtime loc, because those lines appear to be the only text that wouldn't work for both.

![image](https://user-images.githubusercontent.com/12819531/63188549-4a0af380-c027-11e9-8446-230f4cea7134.png)

If there's text that should be there for Previe

[2019-08-16 21:59] richlander commented on #7530
Proposal:

- Microsoft .NET Core for Windows Desktop Apps -- 3.0.0 (x64)
- Microsoft .NET Core for Windows Server Apps -- 3.0.0
- Microsoft ASP.NET Core Runtime -- 3.0.0
- Microsoft .NET Core Runtime -- 3.0.0 (x64)

Note: The first two are intended for direct customer download and usage since they are for specific app-models. The SDK is similar in that respect. The bottom two are not useful in mos

[2019-08-17 15:34] BethMassi commented on #7530
Agree with Rich on naming. Branding still falls under .NET Core.

[2019-08-17 15:57] vatsan-madhavan commented on #7530
I like @richlander’s proposal!

Yes, WindowsDesktop should include both x86 and x64. @dagood can you confirm ?

[2019-08-18 20:54] dagood opened #7763 "Create WindowsDesktop + .NET Core support bundle"
Similar to the "ASP.NET Core/.NET Core Runtime & Hosting Bundle", there should be one for WindowsDesktop that sets up everything needed to run a WPF or WinForms app on .NET Core. It should include both x86 and x64, and both the .NET Core Runtime and Windows Desktop Runtime.

[2019-08-18 21:11] dagood commented on #7530
The download page https://dotnet.microsoft.com/download/dotnet-core/3.0 has this currently:

I believe only the `Runtime & Hosting Bundle` includes both x64 and x86. Another important difference is that the `Runtime & Hosting Bundle` includes the .NET Core Runtime. Others have one installer per arch and only includes a single shared framework.

Here's what a "complete" lineup looks like to me, bas

[2019-08-19 00:19] AhmadChaker commented on #7738
Apologies, it does indeed look like the appsettings.json is in the zipped temp location.

[2019-08-19 18:12] dagood commented on #7118
Completed by https://github.com/dotnet/core-setup/pull/7725 (master) and https://github.com/dotnet/core-setup/pull/7735 (release/3.0). Will handle any new issues that pop up as new build breaks.

[2019-08-19 18:12] #7118 closed

[2019-08-19 18:28] DamianEdwards commented on #7530
I like @richlander's proposal above. That gives us something that I think will translate to what we need to display on the main [download](https://dotnet.microsoft.com/download) page too (basically we'd add a button to download the desktop apps runtime).

Richard also suggested we combine both architectures into the installer for Windows Desktop app runtimes. This would simplify the download choic

[2019-08-20 00:48] sudoudaisuke commented on #7746
Thank you.
I reopened [microsoft/vcrt-forwarders#8](https://github.com/microsoft/vcrt-forwarders/issues/8).

I was trying to use [Microsoft.Toolkit.Wpf.UI.Controls](https://github.com/windows-toolkit/Microsoft.Toolkit.Win32/tree/master/Microsoft.Toolkit.Wpf.UI.Controls) v6.0.0-preview7.1 from WPF .NET Core App. The preview package was target for .NETCoreApp, Version=v3.0.

Nuget package refference

[2019-08-20 01:37] swaroop-sridhar commented on #7597
This is expected to be resolved by: https://github.com/dotnet/core-setup/pull/7638

[2019-08-20 01:37] #7597 closed

[2019-08-20 01:41] swaroop-sridhar commented on #7738
The behavior of the bundler is to pack all files in the publish directory -- except PDBs and files explicitly annotated to be left out -- into the bundle. Please see: https://github.com/dotnet/designs/blob/master/accepted/single-file/design.md#build-system-interface

So, for `appsettings.json` to be left beside the published app, is should be marked as `<ExcludeFromSingleFile>true</ExcludeFromSing

[2019-08-20 02:44] #6679 closed

[2019-08-20 02:44] #6532 closed

[2019-08-20 06:29] AhmadChaker commented on #7738
That's perfect.  Thanks mate

[2019-08-20 06:29] #7738 closed

[2019-08-20 14:58] dleeapho commented on #7530
@NikolaMilosavljevic can you answer?

[2019-08-20 17:07] dagood commented on #6384
Completed by https://github.com/dotnet/core-setup/pull/7540, port to 3.0 is https://github.com/dotnet/core-setup/pull/7764.

Followup: branding https://github.com/dotnet/core-setup/issues/7530, bigger "support" bundle #7763.

[2019-08-20 17:07] #6384 closed

[2019-08-20 19:16] dagood commented on #4188
Closing: we've had this implemented for a while now, since https://github.com/dotnet/core-setup/pull/5509. (Installing a Runtime uninstalls older Runtimes within the same product band.) Other efforts to address the general problem of having a bunch of old Runtimes installed are tracked elsewhere.

[2019-08-20 19:16] #4188 closed

[2019-08-20 19:19] dagood commented on #7348
Closing: this was done by https://github.com/dotnet/core-setup/pull/7500.

[2019-08-20 19:19] #7348 closed

[2019-08-20 19:23] dagood commented on #5753
Version updated a while ago, and is now far past `2.2.0-beta.19208.9`.

https://github.com/dotnet/core-setup/blob/33656b4bd015e62836fb3ee52a914b73c40052e9/eng/Versions.props#L39

[2019-08-20 19:23] #5753 closed

[2019-08-20 20:29] dagood opened #7772 "Official build publish order problem: downstream update PRs created before assets are ready"
We have an ordering issue with the custom publish step:

![custompublish](https://user-images.githubusercontent.com/12819531/63381480-61671b00-c35e-11e9-8d35-45a16a3e1e77.png)

https://dev.azure.com/dnceng/internal/_build/results?buildId=316758&view=results

Promoting the build to the BAR channel causes an auto-update PR in Core-SDK. The custom publish step uploads to `dotnetcli`. The Core-SDK PR'

[2019-08-20 21:16] dagood commented on #7772
Remembered that the "publish build to BAR" job is actually outside of `post-build`, so I believe we can add something between them:

https://github.com/dotnet/core-setup/blob/7ccd18d805ec46de2bc87fecdc0c3f780f933cc1/azure-pipelines.yml#L166-L177

So, another possibility:

4. Split out the custom blob storage publish and put it between `publish-build-assets.yml` and `post-build.yml`.
   * Don't inc

[2019-08-20 22:10] dagood commented on #7772
I gave 4 a stab: https://dev.azure.com/dnceng/internal/_build/results?buildId=317885&view=results.

[2019-08-20 22:15] JohnTortugo commented on #7772
@dagood is this a blocking issue?

@markwilkie

[2019-08-20 22:19] dagood commented on #7772
It isn't blocking. When Core-SDK hits it, the upgrade PR can be be retried until the artifacts are available in blob storage and then it succeeds. (@mmitche would have more context than me on how painful that is right now.)

[2019-08-21 01:05] theinterestingstory opened #7778 "Having trouble in Ubuntu 18.04 installing dotnet"
## Steps to reproduce

Following the instruction for 18.04 Ubuntu on this page: https://dotnet.microsoft.com/learn/dotnet/hello-world-tutorial/install

## Expected  behavior

To be able to install dotnet.

## Actual behavior

[code]

I think the repo may be messed up? Or maybe it's me? I don't know.

[2019-08-21 01:35] vietvudanh commented on #7274
I am having the problem today, it happened again?
[code]

[2019-08-21 02:20] dagood commented on #7778
Not just you. 😞 Thanks for filing the issue.

@leecow, looks like the hash mismatch issue is happening again. Can you ping the repo admins?

/cc @dleeapho

[2019-08-21 02:21] dagood commented on #7274
Yeah, a fresh issue is filed over at https://github.com/dotnet/core-setup/issues/7778.

[2019-08-21 06:42] nbns commented on #7778
kde neon. the same issue when update system

[code]

[2019-08-21 15:05] mmitche commented on #7772
I'm seeing some cases where it doesn't seem to be able to be retried:

https://dev.azure.com/dnceng/public/_build/results?buildId=318032

[2019-08-21 15:11] dagood commented on #7778
I sent the repo admins a high-pri mail about this issue, we will hopefully have more info soon.

(There are backlinks, but note that this is also being discussed and tracked at https://github.com/dotnet/core/issues/3221, and that's where most people will probably look first.)

[2019-08-21 15:13] mdee77 commented on #7778
same for me. waiting for a fix.

[2019-08-21 15:40] marcwittke commented on #7778
it's working for me now

[2019-08-21 15:45] herebebeasties commented on #7778
@dagood This is a recurring issue. See at least:
 * microsoft/vscode#41094
 * microsoft/vscode#45868
 * dotnet/core#2608
 * dotnet/core#3221
 * microsoft/msphpsql#938

Any chance of some proper root cause analysis and fix for this?

(And jeez, everyone please stop adding "me too" comment spam to things. Eighteen thousand copies of the same error message is really unhelpful for the signal-to-noise

[2019-08-21 15:49] dagood commented on #7778
The repo owners confirmed they've fixed this now.

@herebebeasties I would like that, I'll see what info I can post over at https://github.com/dotnet/core/issues/2731 where this question has also come up.

[2019-08-21 15:49] #7778 closed

[2019-08-21 16:41] dagood commented on #7763
/cc @leecow, reference https://github.com/dotnet/core-setup/issues/7530#issuecomment-522355716 for the list of installers I think will exist once this is done. Branding is discussed more broadly in #7530 as well.

[2019-08-21 16:50] dagood commented on #7728
@nguerrera are there any other SDK scenarios that would be impacted by changing this classification?

[2019-08-21 17:03] dagood commented on #7609
Closing: we'll address this in the 5.0 installer.

[2019-08-21 17:03] #7609 closed

[2019-08-21 17:19] nguerrera commented on #3807
Done by #6953

[2019-08-21 17:19] #3807 closed

[2019-08-21 17:25] dagood commented on #7772
For future readers, this is a separate issue where custom publishing wasn't defined for the 3.0 Release BAR channel. @mmitche is fixing with e.g. PR https://github.com/dotnet/core-setup/pull/7785.

[2019-08-21 19:42] nguerrera commented on #4497
Done by https://github.com/dotnet/core-setup/pull/4632

[code]

[2019-08-21 19:42] #4497 closed

[2019-08-21 20:15] vitek-karas opened #7794 "GenerateBundle Task fails in SPA app with single file embedded SPA part"
Filed by @dasMulli in https://github.com/dotnet/core-sdk/issues/4135

Not sure what the expected behaviour is when creating a SPA app that is embedded in the single file publish. However, I could not understand what the exception meant and it took me a while to get a clean repro.

Repro steps:

* dotnet new angular
* Change csproj file to embed built SPA app into bundle:
[code]
(this is just addin

[2019-08-21 20:17] vitek-karas commented on #7794
/cc @swaroop-sridhar

[2019-08-21 20:35] vitek-karas commented on #7794
The immediate problem is that the host executable (apphost, in this case called `testangular.exe`) is passed to the bundler twice.

I quickly scanned the binlog, but I can't figure out why that happens. I can repro it locally though, and it seems pretty simple.

@nguerrera recently we discussed a similar issue where the input to bundler contained duplicates, so you might have a better idea what's

[2019-08-21 20:42] swaroop-sridhar commented on #7794
The host is always included in the list of things to bundle.
Looks like the .csproj change has caused the host to be included in `ResolvedFileToPublish` twice.
Not sure why yet (because `<ExcludeFromSingleFile>False</ExcludeFromSingleFile>` is the default).

This caused the check here to fail:
https://github.com/dotnet/core-setup/blob/master/src/managed/Microsoft.NET.HostModel/Bundle/Bundler.cs#L1

[2019-08-21 20:42] nguerrera commented on #7794
I will take a look.

[2019-08-21 21:22] dagood commented on #7018
Closing, a tiny bit successful but the issue is also out of date:

On the Linux side, I was able to keep Deb/RPM package signing enabled in `master`, and Core-SDK took a fix to accept Msft-signed RPM packages and unblock dependency flow: https://github.com/dotnet/core-sdk/pull/3741#issuecomment-518797039. Deb/RPM signing is still disabled in `release/3.0`, and there's no pressing need to enable it

[2019-08-21 21:22] #7018 closed

[2019-08-21 23:09] dagood commented on #7772
Complete: fixed in `master` https://github.com/dotnet/core-setup/pull/7779 and `release/3.0` https://github.com/dotnet/core-setup/pull/7796, and I tentatively opened https://github.com/dotnet/core-setup/pull/7797 for `release/3.0-preview9` to be merged if needed.

[2019-08-21 23:09] #6893 closed

[2019-08-22 05:57] robert-io opened #7800 "Please add support for ComInterfaceType.InterfaceIsDual"
## Steps to reproduce
Create a .Net Core Class Library and set the Target Framework to .NET Core 3.0 and add the following code (setting you own GUIDs) in the PersonRegistration class:

using System;
using System.Runtime.InteropServices;

namespace CoreComTest {
    internal class PersonRegistration {
        public const string IID_IPerson = "########-####-####-####-############";
        public

[2019-08-22 07:36] vitek-karas commented on #7800
/cc @AaronRobinsonMSFT

[2019-08-22 15:24] dagood commented on #7772
We also need to add `publishUsingPipelines: true` to the publish build to BAR job, or else the build is promoted *way* early, before any publish happens at all.

See https://github.com/dotnet/core-setup/pull/7797#discussion_r316465897.

[2019-08-22 15:41] AaronRobinsonMSFT commented on #7800
@robert-io I will try to reproduce this issue locally, but I think the issue here is the missing ProgID support we recently added - https://github.com/dotnet/core-setup/pull/7573. I will verify the above scenario works though.

[2019-08-22 17:45] FabianTerhorst opened #7809 "Threadpool stops working inside delegates called from unmanaged code when using hostfxr_initialize_for_dotnet_command_line_fn with hostfxr_run_app_fn"
## Steps to reproduce
Call hostfxr_initialize_for_dotnet_command_line_fn with following params
[code]
The application is now unable to use the threadpool

[code]

The ThreadPool.PendingWorkItemCount just increases but never reduces.

When using instead threadpool continues to work. It seems to be related to hosting using hostfxr_initialize_for_dotnet_command_line_fn
[code]

## Expected  behavior

[2019-08-22 17:58] leecow commented on #7698
@jeffschwMSFT / @markwilkie - based on our Tuesday discussion I understood that we do not need to worry about entitlements on our side, rather, this will be the responsibility of the dev if they want _their_ application to the 'proper' on Catalina. This is a separate issue from final hardening work which will be done for 3.1. Are both of these statements correct?

[2019-08-22 18:02] jeffschwMSFT commented on #7698
@leecow that is our current understanding.  We are looking to fully validate once we have signed packages, but experimentally and through discussions this is our current thinking.

[2019-08-22 20:30] dagood commented on #5872
@johnbeisner @joeloff Is this a bug (that should be fixed for 3.0)?

The affected code lives over here now:

https://github.com/dotnet/core-setup/blob/a307f0df21061400efeaf50b267f032a09146fee/src/pkg/projects/Microsoft.NETCore.DotNetHost/host.wxs#L23-L27

(`RegistryKey` missing `Win64="no"`.)

[2019-08-22 20:49] dagood commented on #4866
To clarify: the goal is to allow devs to easily build Deb/RPM packages in the same way as the official goal. The most reasonable way to accomplish this is to move the logic currently in yaml into executable build scripts.

Moving out of 3.0: significant risk and effort and no pressing need.

An alternative would be to use a single tool (`fpm`?) to build both types of package, eliminating the need

[2019-08-22 21:05] johnbeisner commented on #5872
The risk of moving this key is that a consumer of this key will not be able to find it going forward. I'm not aware of anything that uses this key - doesn't mean that it doesn't exist.

[2019-08-22 21:05] dagood commented on #6938
Any update on this issue?

The concern was that it makes it harder to hit 3.0 size goals (https://github.com/dotnet/core-setup/pull/6882#issuecomment-504679826), is that still a problem?

[2019-08-22 21:13] dagood commented on #4731
Closing this, based on the principle from https://github.com/dotnet/core-setup/pull/5046 that this is being done for new distros and where necessary, but there is no pressing need to make this change to established packages.

[2019-08-22 21:13] #4731 closed

[2019-08-22 21:14] dagood commented on #7772
Added `publishUsingPipelines: true` with https://github.com/dotnet/core-setup/pull/7807 and https://github.com/dotnet/core-setup/pull/7808.

[2019-08-22 21:14] #7772 closed

[2019-08-22 21:19] dagood commented on #5872
I believe I ran into this initially when someone asked me where it was, because they couldn't find it. But you're right, there are likely others who managed to find the key and now depend on it as it is now, and would be broken if we moved it.

Closing, unless I hear otherwise.

[2019-08-22 21:19] #5872 closed

[2019-08-22 21:20] wjk commented on #7698
Some things to keep in mind:

* If Hardened Runtime is enabled, you'll run into the problem described in https://github.com/mono/monodevelop/pull/8396 (scroll down until you see my review and the replies thereto).
* I do agree that ensuring notarization correctness should be the responsibility of the downstream dev using .NET Core, unless it hampers use of the `dotnet` tool during development, as

[2019-08-22 22:03] jeffschwMSFT commented on #7698
Thanks @wjk

We do not anticipate any impact of using dotnet during development as it is not part of a bundle and hardened runtime checks are not in effect.  In what scenario do you anticipate an issue (note that we anticipate having all our native binaries signed and marked as hardened)?

We (Microsoft) cannot sign for the reason you noted, but our customers can.  The intention is to document the

[2019-08-22 22:20] vitek-karas commented on #7809
I tried this on both Linux and Windows - even on the container you specified, but it seems to work for me. I'm trying this with managed app like this:
[code]

For the native host I'm using the test host `nativehost` which is here: https://github.com/dotnet/core-setup/tree/master/src/corehost/cli/test/nativehost
I run something like:
[code]

Which will call `hostfxr_initialize_for_dotnet_command_li

[2019-08-22 22:46] wjk commented on #7698
@jeffschwMSFT I once tried to notarize an installer package containing a signed binary to be installed under `/usr/local` without having hardened runtime enabled on that binary, and the notarization service kicked it back with an error stating as such. Apart from that, everything else LGTM. Thanks!

[2019-08-22 23:10] FabianTerhorst commented on #7809
Yes sry i missed a important step for reproducing. My host is creating a AssemblyLoadContext and loads the dll via ```resourceAssembly = resourceAssemblyLoadContext.LoadFromAssemblyPath(resourceDllPath);```
In my host the threadpool works as well, but not inside the loaded assembly. And the assembly load context is collectable. I also cache the assembly load context in a dictionary in my host
[cod

[2019-08-23 04:00] vatsan-madhavan commented on #7530
.NET Framework follows Window’s rules.

Installing x64 will (in fact, **must**) implicitly install WoW64 binaries (ie x86).

There is no such thing as registration-free installation (ie, “zip”, “xcopy” etc) - an “installer” is always involved, so managing WoW64 gets handled by the installer (MSI, CBS etc).

[2019-08-23 04:30] vitek-karas commented on #7809
Still having trouble reproing, but I'll work on that some more.

Can you try running the app with just `dotnet app.dll`? Does that work?

The main difference between running the code as an app versus via the delegate is that the "app" version will have all the app assemblies in the `AssemblyLoadContext.Default`, while the one via delegate will only have the framework in the `Default`, and the "app

[2019-08-23 08:01] FabianTerhorst commented on #7809
The assembly the host loads is a class library, so it can't be executed directly without the host.

[2019-08-23 08:03] vitek-karas commented on #7809
In that case I don't understand - how can it work at all with `hostfxr_initialize_for_dotnet_command_line` and `hostfxr_run_app`? For that to work the assembly must be an app (as in must have an entry point).

Internally the `hostfxr` does pretty much the same thing is you use `hostfxr_run_app` and if you use `dotnet app.dll`...

[2019-08-23 09:48] FabianTerhorst commented on #7809
The host.dll is a assembly, but the dll the host loads via ```resourceAssembly = resourceAssemblyLoadContext.LoadFromAssemblyPath(resourceDllPath);``` isn't. You mean with app.dll the host and not the dll the host loads?

[2019-08-23 12:14] FabianTerhorst commented on #7809
I couldn't find a lot of documentation or small sample code for hostfxr_initialize_for_dotnet_command_line_fn. Is the only required argument the name of the dll to execute as a assembly?

[2019-08-23 13:41] FabianTerhorst commented on #7809
Its actually not related to the alc but the threadpool isn't working in the function pointer i pass to the cpp code. But its working when not using hostfxr_initialize_for_dotnet_command_line_fn.

[2019-08-23 13:42] FabianTerhorst commented on #7809
My host is registering some functions on startup that im calling from the cpp code to communicate the host to load or unload specific dlls.

[2019-08-23 13:43] FabianTerhorst commented on #7809
I used the same way with the delegate way and also just used load_assembly_and_get_function_pointer to call the static main that registers the function pointers

[2019-08-23 13:54] FabianTerhorst commented on #7809
Thats how i pass my delegates
[code]
[code]

[2019-08-23 16:14] vitek-karas opened #7818 "Missing version in framework reference leads to misleading error"
New console app with framework reference to `Microsoft.NETCore.App`, remove the `version` property from `.runtimeconfig.json`, run the app:

Fails with:
[code]

Running this on a Debug build causes an assert in `fx_resolver`.

We should explicitly check for this and fail with a meaningful error message. It's not valid to have a framework reference without version.

[2019-08-23 16:16] vitek-karas opened #7819 "Rename GivenThatICareAboutNativeUnitTests test class"
We removed the `GivenThatICareAbout` prefix from all our tests some time ago, this one seems to slip through somehow.

[2019-08-23 16:17] vitek-karas commented on #7818
Once implemented, this should work for both framework references and "included frameworks" (in self-contained apps). All cases should have tests as well.

[2019-08-23 21:10] vitek-karas commented on #7809
Thanks for the additional information, I tried another repro, but no luck still.
I tried only on Windows this time - to make it faster for me - but if this is the right approach I can try to make this happen in Linux as well.

What I did:
* Managed app `Host` (so one that has Main)
  * This loads a native module `HostModule` which exports one function `CoreClr_SetResourceLoadDelegate`
  * It calls

[2019-08-23 21:20] dsplaisted opened #7825 "Bad error message when DOTNET_ROOT is set to x86 install of dotnet"
## Steps to reproduce

- Publish a framework-dependent console app with the win-x64 RuntimeIdentifier:

[code]

- Set DOTNET_ROOT to a folder with the Windows x86 version of the .NET Core SDK.
- Run the published app (via the Exe in the publish folder)

## Expected  behavior

Error message indicating bitness mismatch, or that DOTNET_ROOT is set incorrectly (ie DOTNET_ROOT(x86) should be used inste

[2019-08-23 23:02] FabianTerhorst commented on #7809
One difference is that my host main isn't blocking, because it's executed in the main thread of the cpp application and the delegates will call on that same thread a bit later.

[2019-08-23 23:09] vitek-karas commented on #7809
Hmm - I don't understand that. What does your host main do? And how is it started? Sorry - I must admit a'm getting a bit lost in all of this ... please bear with me.

If your host is an application, how can it "not" block in main - do you mean you actually exit `Main` and then the native side will call into the runtime again (via the passed delegates)?

[2019-08-23 23:14] FabianTerhorst commented on #7809
Yes it exists Main and then the native side calls the runtime again with the passed delegates.

[2019-08-23 23:15] FabianTerhorst commented on #7809
The host mainthread dies after the Main exists but that wasn't the case with load_assembly_and_get_function_pointer

[2019-08-23 23:27] vitek-karas commented on #7809
OK - I finally understand...
The short answer is: This is not supported.

If you run it as an application, once the `Main` exits, the runtime goes through a shutdown sequence, turning things off. One of those things is probably the thread pool (I would expect it to release/stop all threads in it). It's true that in .NET Core the shutdown is very "limited", but things still happen.
To be honest I'm

[2019-08-23 23:38] FabianTerhorst commented on #7809
But this worked before with coreclrhost. I had to switch to hostfxr for supporting AssemblyDependencyResolver. When not executing the host as a assembly it has some platform limitations like ```System.Configuration.ConfigurationManager```.

[2019-08-23 23:50] vitek-karas commented on #7809
That is very possible... the coreclrhost (and the coreclr_initialize based hosting) are "Direct" coreclr hosts which have greater control over the runtime.
The hostfxr hosting is more for "common" cases and makes some things much easier, but it is intentionally not allowing full control over the runtime. This is one such example. Yes, the call to explicitly shutdown the runtime is very likely what

[2019-08-23 23:56] FabianTerhorst commented on #7809
My usecase is to provide a c# coding api to a server that is single threaded. The server starts all resources on the main thread and all server apis are called on the main thread as well. The server itself is written in cpp.

[2019-08-24 08:10] vitek-karas commented on #7825
I guess we could detect the failure 0x800700C1 (which is ERROR_BAD_EXE_FORMAT) and show a more specific error message. The error is probably not explicit enough to always just cover bitness mismatch, but that's probably the most common case for this error.

[2019-08-25 00:03] FabianTerhorst commented on #7809
For me the workaround with the extra thread that is initializing the runtime works just fine and the server starts a few ms faster now as well because the runtime initializes while server is doing some work on startup as well.

[2019-08-25 07:19] vitek-karas commented on #7809
Great to hear that the workaround is suitable for you.
As for your overall scenario, this is what the `load_assembly_and_get_function_pointer` was designed for. Since it doesn't work fully for you, could you please describe in a bit more detail what are the issues you're aware of with that approach?

[2019-08-26 19:21] dagood opened #7846 "Create AppHost MSIs that install to other RID's SDK location"
This is for C++/CLI support, specifically for scenarios like building a win-x86 app using the win-x64 SDK. Visual Studio and the SDK bundle installer must support this.

C++/CLI projects don't support nuget restore, so the AppHost packs need to be in the `DOTNETHOME\packs` dir for the SDK to find them. (There is a side effort to try to get this working, but we may not be able to wait for that.)

T

[2019-08-27 02:34] joanna1010 commented on #6189
I am having the same issue when deploying my Function app in Azure.

Going into https://my-web-app.scm.azurewebsites.net
and trying to do dotnet myapp.dll
here's the output

![image](https://user-images.githubusercontent.com/5986383/63736593-b8796c80-c8d7-11e9-9dd8-ab3c5b16fe75.png)

By default, Function app boilerplate makes it as class library and you can deploy that dll straight into Azure, mea

[2019-08-27 09:53] whuanle opened #7860 "Have you compiled the. NET Core version of Armel?"
I don't know much about cross compilation and C/C++.But now you need to run .NET Core 2.x or 3.0 on the armel development board.I have a server that I can use (armhf, arm64, x86-64).

I have found this Issue, but the method is not available:
https://github.com/dotnet/core-setup/issues/3100

[2019-08-27 20:15] MeikTranel opened #7870 "Support PInvoke exports via regular LoadLibrary/etc. without setting up runtime first"
As i understand, as of .NET Core 3.0 calling .NET library functions from something like a native wrapper is supported only via the new external host model, where a slew of APIs have to be called before actually being able to hit the .NET Core dll C API endpoint (but this time without the need for rewriting the assembly post-build).

I have been working on a modern replacement for the `UnmanagedExp

[2019-08-27 22:10] Sewer56 commented on #7870
Related: https://github.com/dotnet/csharplang/issues/308

Personally I would love this feature too, even if just only for Windows however not everyone can always have the cake they want. If there are technical reasons as to why exports cannot work on a multiplatform level (or simply would take considerable effort to do so) then I do accept the possibility of the developers not wanting to discrimin

[2019-08-27 22:30] Sewer56 opened #7872 "[Nethost/Hostfxr] Hosting: `load_assembly_and_get_function_pointer` fails if native process runs Windows compatibility mode."
## Steps to reproduce

- Clone the following repository: https://github.com/Reloaded-Project/Reloaded.Core.Bootstrap
- Build the project with Visual Studio 2019.
- Enable compatibility mode for the output binary.
![image](https://user-images.githubusercontent.com/6697380/63812210-93a9e700-c921-11e9-9bf7-5a466af2972d.png)

If you would like to reproduce this in a more "real software scenario", feel

[2019-08-28 22:38] dagood commented on #6662
I wrote a scraper that merges in extra sections from various repos, and it triples the size of the TPN file we have right now. I haven't looked too deeply at it, but it seems to have copied things over with reasonable formatting. (Formatting is different between repos and even within each TPN file, so it's not pretty.)

Here's the file: https://gist.github.com/dagood/73e517568cbef760e3781af54c5bc9

[2019-08-29 10:57] batzen commented on #7870
I got it working in snoopwpf without a custom host and special setup on the "hosting" side, aside from loading ijwhost.
But my use case is a bit different than the usual use case as i have to load assemblies in a foreign process. And my, self imposed, limit is to only use managed code to achieve this.

The setup to create a working core dll also isn't that much different from the steps needed in f

[2019-08-29 15:42] dagood commented on #7635
Fixed.

[2019-08-29 15:42] #7635 closed

[2019-08-29 17:02] dagood commented on #5329
Unable to reproduce the problem on `3.0.0-preview8-28405-07`. (Note that the issue was filed for `3.0.0-preview3-27504-2`.) I'm not sure exactly which `system.private.corelib` row caused this, but I tried a bunch of the ones I see and none had this issue.

[2019-08-29 17:02] #5329 closed

[2019-08-29 21:33] #6865 closed

[2019-08-29 22:05] wli3 commented on #7846
also @nguerrera

[2019-08-29 22:11] wli3 commented on #7846
On SDK side:
All in archives, all in installers, and **VS**

[2019-08-29 22:12] wli3 commented on #7846
On core-setup:

Wrap msi with nupkg and pubish to VS feed

[2019-08-30 07:46] elinor-fung commented on #7872
The failure is in trying to add to the dictionary of assembly paths to ALCs. `ArgumentException` is being thrown based on the result of a call to `LCMapStringEx` : https://github.com/dotnet/coreclr/blob/master/src/System.Private.CoreLib/shared/System/Globalization/CompareInfo.Windows.cs#L127-L135

Call stack:
[code]

From this, I suspect this may be an issue with coreclr in general (or at least Sy

[2019-08-30 21:13] dagood commented on #7147
I noticed the missing files in the preview 7 symbol tarball correspond to the difference between the files that are in the shared framework vs. the targeting pack. This probably had to do with the complicated way the symbols are gathered together to put in the zip/tarball--maybe it used the wrong list of DLLs for discovery somehow.

But it looks like this got worse in preview 8, there are no CoreF

[2019-08-30 23:58] elinor-fung opened #7913 "Segmentation fault on handling SIGTERM due to race in destruction and usage of static objects"
## Steps to reproduce
- Start an ASP.NET Core application
- Send `SIGTERM` to the process

## Expected behavior
Application shuts down properly

## Actual behavior
Intermittent segfault in the host due to a race:
- Thread 2 receives and handles the `SIGTERM` signal, which destructs static objects
  - One of these static objects is `hostpolicy_context_t`, which holds on to a `coreclr_t` (in libhost

[2019-08-31 00:00] elinor-fung commented on #7913
Test in aspnetcore hitting this:
https://github.com/aspnet/AspNetCore/blob/master/src/Hosting/test/FunctionalTests/ShutdownTests.cs

[2019-08-31 08:09] ViktorHofer commented on #4809
I think it's the right time now to continue our discussion here. We still need a way to associate a self-built shared framework with a locally acquired dotnet hive. The proposal was to add an entry in runtimeconfig.dev.json for the local dev experience, in combination with `DOTNET_MULTILEVEL_LOOKUP=0`.

On the helix side it would be nice to be able to use this feature as well but this would requir

[2019-09-02 06:53] vitek-karas commented on #7809
@FabianTerhorst could you please describe in a bit more detail what are the limitations when not executing the assembly as an app? You mentioned something about `ConfigurationManager` - what is the problem there?

[2019-09-02 07:42] vitek-karas commented on #7870
@Sewer56 - just a comment on your suggestion that such load should involve some amount of isolation. Currently all the ways to load an assembly into a process (through the native hosting APIs in `hostfxr`) will already do that - the assembly is loaded into a new ALC which isolates its dependencies from the rest of the managed code in the process. As of now there's no way to disable this though - w

[2019-09-02 13:34] vitek-karas commented on #4809
Related to this discussion is #7851 - although it's env. variable based, so probably not going to solve the issues described here.

[2019-09-02 13:58] vitek-karas commented on #7872
Note: this also happens if the compatibility mode is set to Windows 8 (not that it matters much).

[2019-09-02 13:59] Sewer56 commented on #7870
I see. Thank you.

I've never seen mention of isolation anywhere in the documentation so I assumed the behaviour was similar to NetFX/Framework where assemblies with exports get loaded into the default AppDomain. Glad to hear that I've been wrong.

[2019-09-02 14:01] vitek-karas commented on #7870
Not sure where in the official docs this is mentioned (if anywhere actually - we still have a lot of work left to cleanup the official docs) - it is definitely in the design doc: https://github.com/dotnet/core-setup/blob/master/Documentation/design-docs/native-hosting.md#loading-managed-components

[2019-09-02 19:07] janvorli opened #7933 "No version info included in core-setup repo products in Preview 8"
While looking into an issue reported by a customer, I’ve just noticed that we are not adding version information into the native binaries produced by the core-setup repo in Preview 8 anymore (at least for Linux, I haven’t checked others). It was present in Preview 7 and previous versions.

Preview 8:
[code]
Preview 7:
[code]
This is an important information I use to find out exact commit from whic

[2019-09-02 19:07] janvorli commented on #7933
cc: @jeffschwMSFT

[2019-09-02 19:17] #7872 closed

[2019-09-02 21:55] dagood commented on #7933
This is a duplicate of https://github.com/dotnet/core-setup/issues/7635, fixed for 3.0. (Not in the Preview 9 branch/build.)

[2019-09-02 21:55] #7933 closed

[2019-09-03 15:54] stevemk14ebr opened #7940 "Single EXE extractor path w/ AWS Lambda"
## Steps to reproduce
Make a .net binary with /p:PublishSingleFile=true. Place this binary in an aws lambda bundle and invoke it.

## Expected  behavior
It should extract all deps to a temporary directory and execute.

## Actual behavior
It attempts to extract to /var/tmp but fails as only /tmp is writable in lambda.

## Suggestion to fix
To get out of the box runability without setting DOTNET_BUN

[2019-09-03 16:37] #7317 closed

[2019-09-03 18:44] am11 commented on #7940
Maybe a simple fix is to not consider `/var/tmp` at all following exactly what corefx does: https://github.com/dotnet/corefx/blob/d391103/src/Common/src/CoreLib/System/IO/Path.Unix.cs#L72-L85.

i.e. deleting these lines:
https://github.com/dotnet/core-setup/blob/9bb119b2a4b82d54e73669928a3b831cc07a1291/src/corehost/common/pal.unix.cpp#L311-L316

[2019-09-03 19:52] swaroop-sridhar commented on #7940
On systems where `/var/tmp` is available, we prefer to use it because it is expected to be [survive across system reboots](https://refspecs.linuxfoundation.org/FHS_3.0/fhs/ch05s15.html) unlike `/tmp` directory.

The host currently tries `$TMPDIR`,  `/var/tmp`,  `/tmp` in that order. However, it only checks for existence, and not write-ability. So, that's the best fix in this scenario.

[2019-09-04 06:08] am11 commented on #7940
What happens if `/tmp` is cleared; does it slow down the single-file app(s) startup significantly compared to if it was persisted? Does the implementation take advantage of this caching?

In some systems, `/tmp` has activity-based cleanup policy, as opposed to every reboot. For example, some systems have (configurable) policy to cleanup the tmp files only if they haven't been accessed in past N da

[2019-09-04 07:51] vitek-karas commented on #7940
In the current implementation the single-file extracts all files to disk - this can be lot of data (100MB). The path into which it extracts is deterministic, so on a second run it looks if it's there and will avoid extraction if possible. This makes the second startup much faster (basically just like a non-single-file app). If the extract location is too volatile the benefit of doing this would be

[2019-09-04 14:49] #7819 closed

[2019-09-04 15:07] eerhardt commented on #6960
See also https://github.com/dotnet/core-setup/issues/1846 for a related proposal - `The dotnet host should respect a RID graph from an app's .deps.json`.

[2019-09-04 15:12] vitek-karas commented on #6960
@eerhardt I am aware of that one - it's related but not quite the same. In this case there's no RID graph at all, so it's really just a matter of taking the RID graph from the app instead of a framework - in fact the host change is trivial, the meat of the change is in the SDK to actually bake the RID graph into the app's `.deps.json` in this case.

In #1846 it becomes a little trickier as we woul

[2019-09-04 15:20] dagood opened #7954 "Symbol zip/tarball missing 'dotnet' host symbols"
The symbol archive zip/tarball (`dotnet-runtime-symbols-3.0.0-...-win-x64.zip`) doesn't have symbols for `dotnet`/`dotnet.exe`, like `dotnet.pdb`, `dotnet.dbg`, `dotnet.dwarf`. It looks like it has been this way at least since 2.1.

The binary archive (`dotnet-runtime-3.0.0-...-win-x64.zip`) contains the `dotnet` host, so it seems reasonable to expect its symbols to be in the symbol archive.

Othe

[2019-09-04 15:21] dagood commented on #7147
Noticed that `dotnet` symbols don't show up, but that being missing dates back much further. Opened https://github.com/dotnet/core-setup/issues/7954 for that separately, if it's even a problem.

[2019-09-04 15:36] omajid commented on #7954
AFAIK, for consuming source-build on Linux we want split native (unmanaged) symbols. When I try and build for Fedora copr repos, I make sure nothing gets stripped and all executibles and shared object contain the debug info. The packaging tooling (rpmbuild, for me) later strips all the debuginfo and makes a separate `-debuginfo` package with it.

[This patch](https://pagure.io/dotnet-sig/dotnet-3-

[2019-09-04 15:44] dagood commented on #7954
Ah! I remember that now. Didn't put it together with why certain symbols being in that tarball matters. Seems like it would be neat for it to be possible to embed PDB info in the managed DLLs and strip it out during packaging as well, sometime in the future... 😄

In any case, closing because there's no known reason to fix this particular missing symbols file.

[2019-09-04 15:44] #7954 closed

[2019-09-04 15:49] dagood commented on #7954
By the way, the patch shouldn't be necessary now--the `StripSymbols` MSBuild property has to be set to `true` in the build command to pass `--stripsymbols` to the native build script to turn on `STRIP_SYMBOLS` in CMake. I actually recently ran into a little surprise that the stripped symbol files were "missing" in a dev build until I remembered this.

[2019-09-04 18:01] dagood commented on #5518
The way this works for the SDK involves running a tool we don't have access to in the Windows runtime bundle installer: [InternalReportinstallsuccessCommand.cs](https://github.com/dotnet/cli/blob/95c6eff6daa1a69f29c42b2d405400ad44bdec91/src/dotnet/commands/dotnet-internal-reportinstallsuccess/InternalReportinstallsuccessCommand.cs). Moving this to Future until implementation (or at least requireme

[2019-09-04 18:11] dagood commented on #4788
Closing as complete!

There is still one attached issue regarding build flakiness introduced by the move, however it hasn't been encountered again and didn't block the done condition. Followup about moving common infra to Arcade is in epic #4770.

[2019-09-04 18:11] #4788 closed

[2019-09-04 18:15] dagood commented on #6825
The logic worked! The 3.1 and 5.0 builds produce artifacts with semver v2 versions.

[2019-09-04 18:15] #6825 closed

[2019-09-04 21:29] dagood commented on #4054
I wrote some code that does this for https://github.com/dotnet/core-setup/issues/6662. However, we don't know yet if the update it generates is what we want--I'll submit my tooling along with the TPN update in the PR when that resolves.

[2019-09-04 22:14] dagood commented on #6838
Complete: master https://github.com/dotnet/core-setup/pull/7868, 3.0 https://github.com/dotnet/core-setup/pull/7970.

[2019-09-04 22:14] #6838 closed

[2019-09-05 01:55] stevemk14ebr commented on #7940
@swaroop-sridhar i think the working directory should be added to the end of that list. Additionally i think failover should occur if the extracted files fail to execute at all, rather than just writability. This would prevent future unforseen causes of execution failure (such as this case was)

[2019-09-05 20:01] dagood commented on #7147
Fixed with https://github.com/dotnet/core-setup/pull/7959 and https://github.com/dotnet/core-setup/pull/7995 (3.0 port).

[2019-09-05 20:01] #7147 closed

[2019-09-05 20:31] dagood commented on #7572
Fixed with https://github.com/dotnet/core-setup/pull/7897, ported to 3.0 with https://github.com/dotnet/core-setup/pull/7910.

[2019-09-05 20:31] #7572 closed

[2019-09-05 21:57] leecow commented on #6662
I don't know enough to have an informed opinion on if this satisfies requirements. The formatting seems fine. It does seem strange to have Asp.Net, DotNetTools, IIS-Common, IIS-Setup, MSBuildLocator and dotnet-install.ps1 (.sh is not included). Do we typically include our own components in the TPN?

[2019-09-05 22:17] dagood commented on #6662
ASP.NET comes from CoreFX adding it here: https://github.com/dotnet/corefx/pull/38324/files, DotNetTools from https://github.com/dotnet/roslyn/pull/29403/files#diff-fa732c8fac311b142a7fa1c4f3fde1a9, and so on... can trace it back from the data in the third link. Everything added is in at least one TPN in some repo.

[2019-09-06 10:06] YunWeiaa opened #8024 "The x86 installers has different contents as the x86 zip archives."
## Steps to reproduce

1. Installing the .NET Core SDK 3.0.100-rc2-014192 (x86) (Use release/3.0.1XX branch from https://github.com/dotnet/core-sdk)
2. Downloading and extracting the zip archive of the .NET Core SDK
3. Running a folder diff on the extracted SDK and the install folder
Note:
Tool WinDiff :[ \\bvtsrv2\team\v-yunwei\Docshare\windiff](\\bvtsrv2\team\v-yunwei\Docshare\windiff)

## Expec

[2019-09-06 10:11] SinxHe commented on #4368
i have the same problam

[2019-09-06 16:01] dagood commented on #8024
Do you have access to the two platform manifests, or a diff of them?

They may be different just because the file contents are not sorted. The platform manifest is reproduced on each platform so they could end up different for that reason. We should sort the lines, but I want to make sure there aren't any other issues lurking underneath that are higher priority.

[2019-09-06 16:23] dagood opened #8030 "Can src/packaging/windows/eula.rtf be removed without affecting the installer?"
The file is included in the .NET Core Runtime Windows burn bundle installer, but I don't see it being used. In the installer UI I've only seen a link to an online copy of the license.

https://github.com/dotnet/core-setup/blob/master/src/pkg/packaging-tools/windows/eula.rtf

https://github.com/dotnet/core-setup/blob/7bc2cd591ca8f2ae31119d8a137c69a192a88bac/src/pkg/packaging-tools/windows/bundle/bu

[2019-09-06 18:33] joeloff commented on #8030
The only reason usually for having the hard copy is if we're required to drop it on disk during the install. The bundle won't do that. Depending on the BA used, some will show the EULA in the UI, though we generally prefer the hyperlink EULA BA

[2019-09-06 19:17] dagood commented on #8030
Cool, this file can be removed then. The host MSI drops `C:\Program Files\dotnet\LICENSE.txt`, but that's a different file. (https://github.com/dotnet/core-setup/blob/master/resources/LICENSE-MSFT.txt)

[2019-09-06 20:30] dagood commented on #5732
@vatsan-madhavan, @zsd4yr, and I chatted about this offline, **dotnet/windowsdesktop** seems like a reasonable new repo name.

This also unlocks some other improvements that can be made over time: there's some code that would be much better off moved to dotnet/windowsdesktop, like project templates and the windowsdesktop SDK. (Hence no `-setup` suffix!)

[2019-09-09 08:09] YunWeiaa commented on #8024
Here is the two platform manifests:
[PlatformManifest for x86 installers .txt](https://github.com/dotnet/core-setup/files/3589337/PlatformManifest.for.x86.installers.txt)

[PlatformManifest for x86 zip archives.txt](https://github.com/dotnet/core-setup/files/3589338/PlatformManifest.for.x86.zip.archives.txt)

The difference between them:
![image](https://user-images.githubusercontent.com/33921754/

[2019-09-09 15:59] dagood commented on #8024
That diff isn't complete: here's what I get (with e.g. `git diff --no-index a b > file.diff`):

[code]

After sorting both files, I get zero diff between them. Order doesn't affect the use case of this file, so this won't cause a product bug.

Thanks for filing the issue, I'm going to leave it open and rename it to track sorting so that this test can be done with results that are easier to interpr

[2019-09-09 17:23] dagood opened #8100 "Fix infra to allow stabilized builds"
The known problem right now is that the VS insertion packages end up with stable versions, even though they are nonshipping. This causes problems because the packages fail to push to the VS feed: mutation is not allowed.

[2019-09-09 22:26] dagood opened #8112 "Remove package version assumptions in nonshipping nupkg dependencies"
Right now, Core-Setup builds nonshipping packages stable even though Arcade wants to build them unstable. See https://github.com/dotnet/arcade/pull/3909.

If I try to force a Core-Setup build with the shipping packages stabilized and nonshipping packages unstable, the nonshipping packages end up with invalid dependencies.

For example, Microsoft.NETCore.App.Internal `5.0.0-dev` ends up depending o

[2019-09-09 22:47] dagood commented on #8112
This is required. During a stable build, the nonshipping packages are still published to a static feed: only the shipping ones are published to the generated-per-build isolated feed. This means that nonshipping packages must not be stable.

[2019-09-10 01:20] btflying commented on #4350
Yep. It works for me. Just delete `C:\Program Files(x86)\dotnet\`. Thansk.

[2019-09-10 12:15] asmichi opened #8125 "WPF project with AutoGenerateBindingRedirects enabled produces MSB3277"
WPF project with `AutoGenerateBindingRedirects` enabled produces a MSB3277 warning, which is a similar issue to https://github.com/dotnet/corefx/issues/40012#issuecomment-522209519:

I started to get this MSB3277 warning after migrating my WPF project from 3.0 preview 7 to 3.0 preview 9.

## Steps to reproduce
`dotnet build` the following project: [WpfApp.zip](https://github.com/dotnet/core-setup/

[2019-09-10 12:20] asmichi commented on #8125
I fixed my actual project by disabling `AutoGenerateBindingRedirects` when the TFM is netcoreapp3.0 because I do not need it on .NET Core anyway. However, something looks wrong.

[2019-09-10 14:59] dagood commented on #8125
@vatsan-madhavan, @ericstj, any ideas?

The manifests in the 3.0 preview 9 packages seem to match up with this note:

netcoreapp:
[code]

windowsdesktop:
[code]

Did Core-Setup miss an update? Did CoreFX not mark the package to service properly?

[2019-09-10 16:16] ericstj commented on #8125
The version differences are due to https://github.com/dotnet/corefx/commit/4e76a6c02552422ce07967f4249acad3b71b80ef which removed the package.  Now the reference assembly is built in CoreFx and not shipped anywhere, but is a seed for the desktop facades.  In the past we used assembly-rewriting to 0.0.0.0-out all the references from these facades, but now in 3.0 they reference the exact version.  T

[2019-09-10 18:39] DamianEdwards commented on #4112
*ping* ?

[2019-09-10 18:41] jeffschwMSFT commented on #4112
It is on our backlog.  @DamianEdwards are you the right person to get the specifics on what is needed?  We explored this in late .NET Core 3, but the requirements were not solid enough for us to build something.

cc @vitek-karas @elinor-fung @lpereira

[2019-09-10 19:26] dagood commented on #8112
The versioning assumptions seem to go all the way into the SDK targets. (Not criticizing the assumptions... this is an exceedingly strange scenario that is completely unlike how the SDK is actually used.)

For example:
1. I got restore errors that it couldn't find the runtime pack with the prerelease version.
2. I changed `RuntimeFrameworkVersion` to use the runtime pack's stable version to fix th

[2019-09-10 19:31] mmitche commented on #8112
/cc @ericstj

[2019-09-10 19:33] mmitche commented on #8112
@dagood That sounds fine with me I think, though I'm not really seeing what you're getting at.

Are we at risk for a GA branded build by Sunday? night?

[2019-09-10 19:37] dagood commented on #8112
Not with the new workaround, I expect I'll have that working by EOD today.

[2019-09-11 09:48] vitek-karas opened #8170 "Handle failures from printf when tracing errors"
We've seen failures which indicate that the call to `pal::str_vprintf` can fail (return -1) - currently no idea what causes the failure though. When this happens `trace::error` will end up calling `fputs` with `NULL` which is a hard failure (parameter validation error in CRT).

The code should be changed to handle the failure `printf` and probably try to print out the message in some other way - m

[2019-09-11 16:42] dagood commented on #8030
Is it possible this is used during admin install? /cc @leecow

[2019-09-11 16:43] dagood commented on #8030
@dleeapho @dseefeld What is the impact of not removing this on source-build? Is there maintenance overhead in an exception?

[2019-09-11 16:47] #7691 closed

[2019-09-11 20:02] dagood commented on #8100
Done: ported to 3.0 by https://github.com/dotnet/core-setup/pull/8188.

[2019-09-11 20:02] #8100 closed

[2019-09-11 20:02] dagood commented on #8112
Done: ported to 3.0 by https://github.com/dotnet/core-setup/pull/8188.

[2019-09-11 20:02] #8112 closed

[2019-09-11 21:00] dseefeld commented on #8030
I don't think there is alot of overhead in an exception.  But it would be good to eliminate it if possible.

[2019-09-11 21:09] mkArtakMSFT opened #8222 "Prompt user to install .Net Core Runtime"
_From @Safirion on Wednesday, September 11, 2019 4:51:17 PM_

### Is your feature request related to a problem? Please describe.

When a user tries to run a non-autonomous .Net Core Desktop application (WPF) without having the .Net Core runtime (+ .NET Core Desktop Runtime) installed, nothing happens. The only thing that happens is the creation of a log in the windows event viewer.

### Describe t

[2019-09-12 16:35] dagood opened #8233 "Make Core-Setup build work with authenticated sources"
This is necessary for internal servicing builds, because we want to use AzDO feeds which require complex auth. Core-Setup needs to install the auth provider and perform workarounds to deal with known flakiness issues.

[2019-09-12 18:24] JohnTortugo opened #8254 "Core-setup blob publishing location"
Looks like Core-setup is publishing blobs to this location of the private blob storage:

```dotnet/assets/core-setup/Runtime/*```

but Core-SDK is looking for the blobs in this location:

```dotnet/Runtime/*```

I don't think there was a change in Core-SDK recently around this. So I guess it's something that Core-setup is doing differently.

@dagood @livarcocc @mmitche @riarenas @markwilkie

[2019-09-12 20:03] dagood opened #8244 "Use unstable version when publishing a stabilized build's outputs to blob storage"
Note that this issue is talking about the build asset location, e.g.:

`https://dotnetcli.blob.core.windows.net/dotnet/Runtime/3.1.0/dotnet-runtime-3.1.0-win-x64.exe`

not the channels ("latest" links), which should remain the same:

`https://dotnetcli.blob.core.windows.net/dotnet/Runtime/release/3.1/dotnet-runtime-latest-win-x64.exe`

Core-SDK uses the build asset location to download bits, and h

[2019-09-12 22:31] dagood opened #8252 "Use NuGet.config for sources, not RestoreSources"
Darc adds a source to the NuGet.config as the way to access upstream repos' stable packages. Core-Setup doesn't currently use it. I remember a larger effort to remove RestoreSources a while back, but I suppose Core-Setup slipped through:

https://github.com/dotnet/core-setup/blob/bb4e417c12f81bc6e35110de22726f960f2ec1e9/eng/Versions.props#L22-L31

https://github.com/dotnet/core-setup/blob/bb4e417c

[2019-09-13 12:49] vitek-karas commented on #8222
At one point in time the host did popup a dialog with the error for GUI apps - but we were not able to do it for all error cases consistently, so we switched to stderr + EventLog. Long discussion about this is here: https://github.com/dotnet/core-setup/issues/6412

That said, maybe we should treat missing frameworks special. It's probably the most common error and it does have a clear guidance of

[2019-09-13 16:51] dagood commented on #7763
We have new plans in 3.1 to use a single SDK installer with options to install various components including this runtime, with dependency information to simplify the process. @leecow, can you add a pointer to the issue where that's tracked (when available)?

With that plan, it's unclear whether this artifact is necessary--closing for now.

[2019-09-13 16:51] #7763 closed

[2019-09-13 16:54] dagood commented on #7530
For tracking purposes, this issue is about finding the right branding for the installers we're producing for 3.0 that only include the Windows Desktop runtime and only include a single architecture. (Windows Desktop Installer: x64 | x86 above.)

The installer that bundles x86 + x64 + WindowsDesktop + .NET Core is tracked at https://github.com/dotnet/core-setup/issues/7763 and it's unclear whether

[2019-09-13 17:00] MichaelSimons commented on #6688
When fixing, please validate whether or not this applies to the 2.* installers as well.

[2019-09-13 17:09] dagood commented on #5044
Closing: doesn't seem worth investment until we get to the new macOS installer.

[2019-09-13 17:09] #5044 closed

[2019-09-13 17:10] assyadh opened #8275 "The tag v2.1.13-dependencies is missing"
## Steps to reproduce
Go to https://github.com/dotnet/core-setup/tags

## Expected  behavior
The tag v2.1.13-dependencies should be present, as it was for 2.1.12:
https://github.com/dotnet/core-setup/releases/tag/v2.1.12-dependencies

## Actual behavior

The tag is not present.

## Environment data

n/a

[2019-09-13 17:12] dagood commented on #5181
This work is obviated by the new 3.1 installer. Installing downlevel targeting packs in the new 3.1 installer may be an interesting scenario.

/cc @johnbeisner @KathleenDollard

[2019-09-13 17:12] #5181 closed

[2019-09-13 17:13] dagood commented on #4943
Closing: all issues done.

[2019-09-13 17:13] #4943 closed

[2019-09-13 17:14] dagood commented on #6678
Closing: obviated by the 3.1 installer plans. We don't think we can fix it for 3.0.

[2019-09-13 17:14] #6678 closed

[2019-09-13 17:14] #4783 closed

[2019-09-13 17:16] #4780 closed

[2019-09-13 17:17] #4779 closed

[2019-09-13 17:18] #4777 closed

[2019-09-13 17:18] dagood commented on #5174
Closing: same situation as https://github.com/dotnet/core-setup/issues/5181.

[2019-09-13 17:18] #5174 closed

[2019-09-13 17:18] #4774 closed

[2019-09-13 17:31] Anipik commented on #8275
The build is failing on this PR  https://github.com/dotnet/core-setup/pull/7517 which is blocking the dependency tag work. I was little occupied with GA release but i can take a look later today.
feel free to go ahead and fix the failure. :)

[2019-09-13 19:33] dagood commented on #8252
Implemented with https://github.com/dotnet/core-setup/pull/8253 and ported to 3.0+ by https://github.com/dotnet/core-setup/pull/8256 (thanks @mmitche!).

[2019-09-13 19:33] #8252 closed

[2019-09-13 23:02] lpereira opened #8276 "Common files are built twice"
Building corehost will build some files more than once; mainly:

- trace.cpp
- utils.cpp
- PAL

This happens for all targets: nativehost, mockhostpolicy, mockcoreclr, test_fx_ver, nethost, hostpolicy, dotnet, and apphost.

Some files are also built more than once in other targets; mainly deps-related stuff in hostfxr and hostpolicy:

- deps_format.cpp
- deps_entry.cpp
- host_startup_info.cpp
- rol

[2019-09-16 15:24] vitek-karas commented on #7809
@FabianTerhorst could you please describe shortly what are the limitations you know about when not executing assembly as an app? I want to make sure we track this issue correctly and possibly fix it in the future. Thank you very much.

[2019-09-16 15:54] assyadh commented on #8275
Hi,

Any ETA for this? I need to build this version ASAP as 2.1.13 fixes high severity issues.

Thanks.

[2019-09-16 17:43] elinor-fung commented on #8276
Does this supersede #7700?

[2019-09-16 19:24] Anipik commented on #8275
Should be resolved by EOD or tomorrow

[2019-09-16 19:39] assyadh commented on #8275
Thanks!

[2019-09-16 19:44] lpereira commented on #8276
Oh, I had forgotten I had filed this one already. Yes, it does supersede that one.

[2019-09-16 19:44] lpereira commented on #7700
Closing as duplicate of #8276.

[2019-09-16 19:44] #7700 closed

[2019-09-16 20:36] mmitche opened #8278 "Installers and checksums should publish to suffixed locations"
Right now the installers and checksums for 3.x and 5 branches are publishing to stable locations in a stable build. This means a subsequent build will need to overwrite. Instead,the subfolder under which the stable assets should be located should always be suffixed. For example:

Instead of:

dotnet/Runtime/3.0.1/installer-3.0.1.exe

Do:

dotnet/Runtime/3.0.1-servicing-1235/installer-3.0.1.exe

[2019-09-16 20:36] mmitche commented on #8278
/cc @dagood @JohnTortugo @riarenas

[2019-09-16 20:45] dagood commented on #8278
Duplicate of https://github.com/dotnet/core-setup/issues/8244

[2019-09-16 20:45] #8278 closed

[2019-09-16 20:46] mmitche commented on #8278
Gracias.

[2019-09-16 20:49] dagood commented on #8244
@mmitche @JohnTortugo @riarenas, is this a considered a requirement for GA readiness?

/cc @dleeapho

[2019-09-16 20:51] mmitche commented on #8244
Nope.  We're good for GA. Just a matter of hygiene.

[2019-09-16 21:18] Anipik commented on #8275
the dependency tag has been created for 2.1.13 https://github.com/dotnet/core-setup/releases/tag/v2.1.13-dependencies

[2019-09-16 21:18] #8275 closed

[2019-09-17 15:47] dagood commented on #8244
+cc @MichaelSimons, a future plan to use two types of version in the runtime download path to avoid overwrites. I think this will need changes in Docker download and version uptake. Example:

`https://dotnetcli.blob.core.windows.net/dotnet/Runtime/3.1.0-rc1.12345.1/dotnet-runtime-3.1.0-win-x64.exe`

No timeline for doing this yet.

[2019-09-17 16:26] dagood opened #8285 "Migrate to Arcade's blob publish infrastructure"
The blob (installer and checksum) publish infra for Core-Setup official builds is custom, per https://github.com/dotnet/arcade/pull/3630.

This should be moved over to take advantage of features built on top of it like https://github.com/dotnet/arcade/issues/3963, and make the assets follow more well-understood flows so the build can be traced better through BAR.

(There is unfortunately not a sig

[2019-09-17 17:01] assyadh commented on #8275
Thanks

[2019-09-17 22:23] #8233 closed

[2019-09-17 22:23] dagood commented on #8254
Done with https://github.com/dotnet/core-setup/pull/8279 and https://github.com/dotnet/core-setup/pull/8286.

[2019-09-17 22:23] #8254 closed

[2019-09-18 16:42] dagood commented on #8244
Closing: I think this will be out of our control when moving to Arcade's blob publishing (#7118). It would be good for this to be supported by Arcade in some way. (Or superseded by a new feed feature?)

[2019-09-18 16:42] #8244 closed

[2019-09-18 23:40] albahari commented on #8222
Right now, GUI apps fail silently if netcore hasn't been installed, which is the worst kind of experience for the end-user. A simple messagebox would fix this.

In terms of a presenting a UI which runs the installer, would it work (in the Windows 10 case) to implement this as a separate executable written as a .NET Framework 4 WPF app which is installed to %programfiles%\dotnet\bootstrap.exe and i

[2019-09-19 19:02] wtgodbe commented on #5562
Resolved: https://github.com/dotnet/core-setup/blob/release/2.2/dependencies.props#L19

[2019-09-19 19:02] #5562 closed

[2019-09-20 16:13] dagood opened #8297 "Make tests fail when packages to test are not found locally (even if they are found online)"
## Steps to reproduce

Build locally with tests, using a build number matching a completed official build's number, with these lines removed:

https://github.com/dotnet/core-setup/blob/65dc0465be93850df24f444010491dc2e53127f2/NuGet.config#L9-L13

## Expected  behavior

The tests fail because they are unable to find the packages it just built.

## Actual behavior

The tests succeed, using packages

[2019-09-20 17:08] kimbaudi opened #8298 "dotnet-dev-1.1.14 package fails to install on Ubuntu"
## Steps to reproduce

Open terminal and install `dotnet-dev-1.1.14` package.

[code]

**Note:** `dotnet-dev-1.1.11` and `dotnet-dev-1.1.13` packages install fine without problems. But `dotnet-dev-1.1.14` package fails to install.

## Expected  behavior

The `dotnet-dev-1.1.14` package should install fine.

## Actual behavior

The `dotnet-dev-1.1.14` package fails to install.

Here is the output:

[2019-09-20 17:31] dagood commented on #8298
.NET Core 1.0 and 1.1 are end-of-life, you should use one of the supported versions instead: https://dotnet.microsoft.com/download.

This package didn't support Ubuntu 18.04, it looks like only 14.04 and 16.04 were supported at that point in time.

/cc @leecow

---

For what it's worth, the first step to diagnose this type of issue is to drill into the dependencies to see why they aren't installab

[2019-09-20 17:31] #8298 closed

[2019-09-20 18:57] dagood commented on #7846
Merged into 3.1 with https://github.com/dotnet/core-setup/pull/8295. Build going with the change: https://dev.azure.com/dnceng/internal/_build/results?buildId=361681&view=results.

[2019-09-20 18:57] #7846 closed

[2019-09-20 19:56] vitek-karas opened #8299 "Prepare hosting components for single-exe with integrated runtime"
If one day the single-exe bundle integrates the hosting components and the runtime into the `apphost` itself and won't extract them to disk, the current design of native hosting will break.

Right now native hosting scenarios which "Attach" to a process with .NET Core runtime already running rely on this mechanism:
* Find the `hostfxr` module in the process and get a handle to it
* Get an export f

[2019-09-21 19:03] vitek-karas opened #8305 "nethost should ship via vcpkg"
Currently `nethost` ships via NuGet which is very .NET centric and not very friendly to native build toolchains. There's vcpkg which seems to be a much better fit: https://vcpkg.readthedocs.io/en/latest/about/faq/

[2019-09-21 21:54] tannergooding commented on #8305
For reference, I had already logged https://github.com/microsoft/vcpkg/issues/8260 on the vcpkg side.

It might be good to coordinate across the two teams to get this done 😄

[2019-09-23 00:57] cup commented on #3260
https://github.com/dotnet/core-setup/issues/4080

[2019-09-23 00:58] petermcclymont opened #8306 "[Snap] .NET Core 3.0 RC1 console app (and webapp) does not work under Linux"
I am using .NET Core from a snap package on KUbuntu. I switched to the beta and edge channels to upgrade from .NET Core 2.2 to .NET Core 3.0.

When on beta or edge my console app doesn't work, whereas it was working perfectly under .NET Core 2.2.

I decided to go back to basics. Create a new console app to see what would happen,

mkdir testdotnet
cd testdotnet
dotnet new console
dotnet build
dotne

[2019-09-23 14:59] dagood opened #8307 "Official build master branch break: Arcade stage removal breaking change"
https://dev.azure.com/dnceng/internal/_build/results?buildId=362042&view=results

https://github.com/dotnet/arcade/pull/3965

Uptaken in https://github.com/dotnet/core-setup/pull/8272. (Publish not exercised in public CI.)

@mmitche

[2019-09-23 15:04] dagood commented on #8306
/cc @MichaelSimons @leecow, an issue labeled for the snap, however, based on @kevingosse's last comment I would guess it's somehow a host issue in the end.

[2019-09-23 15:12] #8307 closed

[2019-09-23 15:44] kevingosse commented on #8306
Might be a dupe of https://github.com/dotnet/cli/issues/12269

[2019-09-23 20:09] kevingosse commented on #8306
Following the discussion https://github.com/dotnet/core-setup/issues/5186, I tried dumping the RPATH on the ELF loader:

[code]
The faulty bit seems to be `$ORIGIN/../../../../../../lib/x86_64-linux-gnu`.

If $ORIGIN is less than 7 folders deep, then `$ORIGIN/../../../../../../` resolves to `/`, and `/lib/x86_64-linux-gnu/libc.so.6` is loaded, resulting in a segfault.
If $ORIGIN is 7 folders deep

[2019-09-23 20:58] dagood opened #8310 "Targeting pack symbol package contains win-x64 runtime PDBs, preventing automated symbol publish from working"
Focusing on a single file for clarify, the targeting pack symbol package contains these binary/symbol files for `System.Console`:

[code]

The runtime symbols file is unexpected in this artifact.

The `win-x64` runtime pack symbol package contains these:

[code]

When running the symbol publish tool on all packages, it finds `runtimes\win-x64\lib\netcoreapp3.0\System.Console.pdb` in the targeting

[2019-09-23 22:49] petermcclymont commented on #8306
I did have to run this to get the dotnet command working to start with,

https://askubuntu.com/questions/1131867/dotnet-command-not-found-after-installing-using-snap

sudo snap alias dotnet-sdk.dotnet dotnet

So for example, install the snap, then try dotnet it says something like this,

The dotnet command is not found, you can install it with the command shap install dotnet-sdk --classic

If this

[2019-09-25 12:03] theimowski opened #8314 "single file publish: missing files in %TEMP%\.net"
## Steps to reproduce

Unfortunately no deterministic steps to reproduce here, but we've experienced multiple cases of files getting removed from %TEMP%\.net on windows.
The files that were locked by main executable were still there, but "casual" dlls and other files got removed either by AntiVirus or other software.
As a result when our long-running process tried to load files from the temp direc

[2019-09-25 15:54] elinor-fung commented on #7913
Merged into release/3.1 with #8290

[2019-09-25 15:54] #7913 closed

[2019-09-25 17:39] jkotas commented on #8299
I do not think we need to worry about sharing the runtime and framework bundled in the single-exe with other dynamically loaded components. I think about the single-exe as static linking in C/C++. If you statically link C/C++ runtime or other libraries into your .exe, there is no way to share them with other dynamically loaded components either. The other dynamically loaded components have to brin

[2019-09-25 18:04] vitek-karas commented on #8299
@jkotas that would mean we would sign up to support (if we support the scenario) two .NET Core runtimes in one process. That feels a bit risky. Note that this proposal is to actually actively block the ability to load anything into the single-exe runtime from the outside (since we don't know how to do that yet anyway).
We may decide that we keep that block in place indefinitely.

[2019-09-26 13:49] omajid commented on #7147
With rc1, the only dll file missing a pdb file is `System.Runtime.CompilerServices.Unsafe.dll`

[2019-09-26 15:18] dagood commented on #7147
That's built from IL, so I'm guessing it makes sense for it not to have a PDB: https://github.com/dotnet/corefx/tree/master/src/System.Runtime.CompilerServices.Unsafe/src. (If not, CoreFX would be the place for a new issue. The PDB doesn't exist in the CoreFX transport package.)

[2019-09-26 16:30] dagood commented on #8297
IMO we should treat this as a relatively high priority test infra fix in 3.0. It is not good to be unsure whether green CI is actually ok, and it wastes time when investigating other issues to wonder if this problem is occurring.

With servicing builds needing to edit nuget.config a bunch, this could have an identical repro if there's some Darc regression or new bug.

/cc @mmitche @MichaelSimons @

[2019-09-27 12:52] vitek-karas commented on #5225
@elinor-fung @lpereira
What do you think is the best approach here:
* Start treating COREHOST_TRACEFILE as a directory - if it specified a file we could modify the filename with the PID somehow - and then generate one file per PID in it.
* Write everything into one file, but prepend PID (and probably TID) to each trace.

We could do both - prepend PID/TID to traces anyway and split the output to p

[2019-09-27 13:12] turowicz opened #8347 "Fail to install dotnet core 2.2/3.0 on SLES 12"
I get the following error for runtime:

[code]

I get the following error for asp.net runtime:

[code]

[2019-09-27 13:13] turowicz commented on #8347
3.0 is broken too:

[code]

[2019-09-27 13:13] turowicz commented on #8347
cc @leecow @rakeshsinghranchi @vivmishra

[2019-09-27 13:58] dagood commented on #8347
This is tracked by https://github.com/dotnet/core-setup/issues/8277, and the user who reported that issue listed workaround steps at https://github.com/dotnet/core-setup/issues/8277#issuecomment-532148224.

[2019-09-27 13:58] #8347 closed

[2019-09-27 13:58] dagood commented on #8347
Duplicate of https://github.com/dotnet/core-setup/issues/8277

[2019-09-27 15:33] turowicz commented on #8347
@dagood doesn't that mean that as soon as he tries doing any SSL operations in .NET Core it will blow up?

[2019-09-27 15:51] dagood commented on #8347
Not quite, .NET Core works with openssl 1.0 and 1.1, whichever is available. The workaround tells the package manager to ignore our package's incorrect dependency on 1.1, and this is ok because we know 1.0 is actually installed.

(RPM added logical dependencies recently--the way to express "we can use 1.0 *or* 1.1" in an RPM. But it's too recent: using it would make our package incompatible with n

[2019-09-27 17:31] elinor-fung commented on #5225
I like having a separate file per PID and prepending the TID to the trace lines. I think that would be my personal preference for consuming and making sense of the trace output as a user.

[2019-09-27 18:40] lpereira commented on #5225
Just food for thought: strace, my favorite tracing tool, does the following:

- If you specify a command-line parameter to "follow forks" (and thread creation), it'll prepend the PID to every log line. That's specified with "-f", and a second "-f" (or "-ff") can be specified too.
- If only one "-f" is specified, when saving to a file with "-o", everything is coalesced in a single file.
- If two "-

[2019-09-27 18:51] vitek-karas commented on #5225
The potential problem with one big file is synchronization - there's basically no good way to make sure that at the least each line is written atomically - so the file can actually be read. That said in the cases we're going after it's not very common for two processes to run in parallel and produce traces.

I guess we could support both modes relatively easily - currently `COREHOST_TRACEFILE` mus

[2019-09-27 18:54] sdmaclea commented on #5225
We had a proposal to fix this.
We were going to share either the tracer instance or its mutex.

[2019-09-27 19:06] vitek-karas commented on #5225
That is for multiple components in the same process, but if we do this cross process we will have a hard time sharing it (it would have to be a named object of some sort, which has all kinds of issues).

[2019-09-27 20:42] dagood opened #8354 "Create announcement for the .NET Core Runtime moving to SemVer v2 in 3.1"
Per discussion with @leecow we should make an announcement (dotnet/announcement) about the change to semver v2. Also we need to ensure the release pipelines are changed.

_Originally posted by @dleeapho in https://github.com/dotnet/core-setup/issues/6825#issuecomment-503638013_

[2019-09-27 22:10] sdmaclea commented on #5225
@vitek-karas I thought this proposal was for a PID appended to the filename.  Not sure why cross process synchronization would matter if they are writing to separate files.... Perhaps I didn't fully understand the context when I commented...

[2019-09-27 22:14] vitek-karas commented on #5225
I'm evaluating options - one of those is to allow merging output of multiple processes to one file (which is what we do now).

[2019-09-27 22:28] dagood opened #8356 "Produce debuginfo/dbgpkg RPM and Debian packages"
The Microsoft approach of storing symbols in a symbol server and downloading them based on file info is unusual for Linux development. Instead, we should provide debug packages that contain symbols and install them adjacent to the corresponding binary.

Both native and managed symbols should be included.

* Debian package `dbg`/`dbgsym` packages: https://wiki.debian.org/DebugPackage
* RPM debuginf

[2019-09-28 07:10] Symbai opened #8368 ".NET Core runtime for Desktop does not include the actual runtime and it doesn't block or prompt for it"
1. Created a plain .NET Core 3.0 WPF project
2. Rebuild in release mode
3. Copied the files in the release folder to a new computer which is missing .NET Core at all
![image](https://user-images.githubusercontent.com/14368203/65813024-c2d0a400-e1be-11e9-8fb0-c154b3c273ad.png)
4. Visited https://dotnet.microsoft.com/download on this computer and downloaded the `Download .NET Core Runtime for deskto

[2019-09-28 14:32] deinok commented on #8306
Hi, same issue here but with stable release.

Could somebody give me a bit more information on how the `dotnet-sdk` snap is build? As it seems to be due how it is packed?

[2019-09-28 14:50] mscrivo opened #8363 "WinForms .net core 3 app fails to find runtime for Desktop Apps"
## Steps to reproduce
Create a WinForms app that targets netcoreapp3.0 and build it.
Run it on a machine that only has the .net core 3 Desktop runtime installed.

## Expected  behavior
The app should run with the desktop runtimes installed.

## Actual behavior
Observe that the app does not load, and you see this in the event viewer:

## Environment data

It works fine if you install the full SDK.

[2019-09-28 19:22] dagood commented on #8363
Did you install the .NET Core Runtime too? This banner on https://dotnet.microsoft.com/download/thank-you/dotnet-runtime-3.0.0-windows-x64-desktop-runtime-installer is meant to let you know:

![image](https://user-images.githubusercontent.com/12819531/65821256-cf71ee00-e1f8-11e9-9ad7-80498daa72f3.png)

We don't have an installer for 3.0 that bundles both together (or both x86 and x64 together), mo

[2019-09-28 20:02] nabeelio commented on #7746
I'm getting this on the release version of net core 3, but I'm not sure how to debug this. Running with `-verbosity:diag` doesn't give any extra info, I've tried trimming down packages to try to narrow things down but no luck:

[code]

[2019-09-28 23:13] mscrivo commented on #8363
I see, thank you.

[2019-09-28 23:13] #8363 closed

[2019-09-30 13:29] vitek-karas commented on #8314
/cc @swaroop-sridhar

[2019-09-30 14:45] dagood commented on #8306
@deinok, there are snapcraft files checked in at https://github.com/dotnet/core-setup/tree/master/src/pkg/packaging/snaps. Note that they aren't built by CI or official builds, and they're kept up to date manually. I wouldn't *expect* the overall strategy to change much between 3.0 builds, however, so there may be some good insights in there.

@leecow would know for sure.

[2019-09-30 15:06] deinok commented on #8306
@dagood For what I see, seems like the process is just dump the published precompiled binaries inside the Snap package, so the issue is probably due something regarding snap.

Could you point me on what folder should I apply changes in order to fix the next dotnet-sdk snap release? I supose `dotnet-sdk-3`

[2019-09-30 15:52] danmosemsft commented on #8368
Does `C:\Program Files\dotnet\host\fxr\3.0.0\hostfxr.dll` exist?

[2019-09-30 16:01] dagood commented on #8368
Did you also install the .NET Core Runtime? Missing it would explain hostfxr not existing and nothing happening. This message on the WindowsDesktop Runtime download page is meant to point to it:

![image](https://user-images.githubusercontent.com/12819531/65821256-cf71ee00-e1f8-11e9-9ad7-80498daa72f3.png)

https://github.com/dotnet/core-setup/issues/8363 is an earlier issue about this.

We also ha

[2019-09-30 16:50] leecow commented on #8306
dotnet-sdk is the one to use at the moment. Based on this issue and another related conversation, we'll be re-working the package mix soon (possibly this week).

[2019-09-30 17:48] Symbai commented on #8368
@dagood Thanks this explains the issue, although the notice is not visible for me (might be browser setting, who knows). Sadly the choice of two installers wasn't a good idea. It means there are two dependencies now? Why? Why can't Desktop Runtime contain the .NET Core Runtime or vice versa (for Windows only)? Having two installers causes a lot of support issues for developers dealing with inquiri

[2019-09-30 17:57] Symbai commented on #8222
This would drastically reduces the amount of work developers need to spend on support especially as of now where WPF / Winforms require TWO runtimes of .NET Core 3 in order to not crash silently.

A downloader would be great but I for myself would be very happy to just see an official notice which runtime is missing and where to get it from and with a native bootloader having all the desired infor