[2017-02-01 10:32] jyoungyun opened #1400 "Ubuntu arm and tizen armel build on Docker"
## Steps to reproduce
[code]

## Expected  behavior
Successful building core-setup

## Actual behavior
1. Disappears the required arguments
[code]
2. The lack of cross build toolchain (binutils-arm-linux-gnueabihf)
[code]

[2017-02-01 10:33] jyoungyun commented on #1400
/cc @hqueue @hseok-oh @gkhanna79

[2017-02-01 10:44] jyoungyun commented on #1400
I used the exisiting Ubuntu Dockerfile for building Ubuntu ARM. If you want to create Dockerfile for Ubuntu ARM in a seperate file, please let me know.

[2017-02-01 12:00] hqueue commented on #1400
@jyoungyun Although size of each image can be larger than before, I think it would be desirable to have a few docker image for maintanance. Therefore I prefer updating existing Ubuntu image as your PR.

[2017-02-01 14:43] stevedesmond-ca commented on #725
I'm just doing my builds from a xenial VM, no Docker involved.

[2017-02-01 15:25] gkhanna79 commented on #1400
@jyoungyun Are you doing this to enable CI support, as done for https://github.com/dotnet/core-setup/blob/master/netci.groovy#L42?

[2017-02-01 22:02] gkhanna79 commented on #400
This was done as part of https://github.com/dotnet/core-setup/commit/eeb1dd3c996ffef38b2e7df731434861a9576e9f#diff-67e7dead39850a89512d22ee6b517b09

[2017-02-01 22:02] #400 closed

[2017-02-01 22:54] piotrpMSFT opened #1408 "Installation failure when installing Shared Framework 1.0 after Shared Framework 1.1"
CLI saw installation failures after a recent PR reversed the order in which Shared Frameworks were installed within the CLI bundle. The immediate issue was resolved in CLI, but it seems there is a fundamental problem in play.

Users should not have to care about the order in which they install the Shared Frameworks. 1.0 should be able to install cleanly on a machine that already has 1.1, 2.0, etc.

[2017-02-01 23:02] wtgodbe commented on #256
@naamunds has been working on this

[2017-02-01 23:13] naamunds commented on #256
The remaining work is:

- Port  #1148, #1149, #1309, and #1393 to the release/1.0.0 and release/1.1.0 branches (the only change should be setting the defaultBranch in each build definition to the appropriate branch)
- Update the release/1.0.0 and release/1.1.0 pipebuild definitions to use the checked-in build definitions.
- Update the core-setup pipelines.json files in the VSTS repo to say that th

[2017-02-01 23:14] hqueue commented on #1400
@gkhanna79 Not determined yet. We are trying to make use of docker for local build as well as for CI and try to evaluate any possible choices.

[2017-02-01 23:19] gkhanna79 commented on #1400
@hqueue In that case, once your investigations have determined the option you wish to pursue, do let me know as I would like to ensure there is a single place for Docker images that can be used across the board.

[2017-02-01 23:36] hqueue commented on #1400
@gkhanna79 Sure, I will let you know when investigation is don. And glad to hear that there is a single place for Docker images. We also hope that we can make use of same Docker image across Core-Setup, CoreClr, and CoreFx, if we decided to use Docker.

[2017-02-01 23:57] gkhanna79 commented on #1400
I mentioned it on one of the PRs from @jyoungyun - for Ubuntu 1404, try `chcosta/dotnetcore:ubuntu1404_cross_prereqs_v1` and for 1604, try `chcosta/dotnetcore:ubuntu1604_cross_prereqs_v1` docker images.

[2017-02-02 00:13] hqueue opened #1411 "[ARM32/Linux] stable default clang version for cross compilation"
From last week, Arm32 (armhf) packages of Coreclr for Ubuntu 14.04 and Ubuntu 16.04 are published on myget. https://github.com/dotnet/coreclr/issues/8549#issuecomment-275252583.

However they can not be ran correcly when built with `-O3` optimization, since default clang version used to build ARM32 binaries is 3.6 and it has problem with `-O3` optimization as described at https://github.com/dotnet

[2017-02-02 00:28] hqueue commented on #1411
/cc: @gkhanna79 @janvorli @jyoungyun @hseok-oh @chunseoklee

FYI. Previous discussion on clang version was made at  Core-Setup(https://github.com/dotnet/core-setup/issues/790) and CoreCLR(https://github.com/dotnet/coreclr/pull/9211)

[2017-02-02 07:04] gkhanna79 commented on #1411
Thank you @hqueue. Can you please link this issue at https://github.com/dotnet/core-setup/issues/725 as well?

[2017-02-02 07:14] hqueue commented on #1411
@gkhanna79 I've already at this item  in a "common" section :)

[2017-02-02 07:15] jyoungyun commented on #1400
@gkhanna79 As I know, the release processing of core-setup have used docker image, so I wanna test it whether it works well in docker too. Until now, I have only tested local build, not using docker. Then I was faced a little issue like #1401 and to use the exisiting docker image, we need to install ARM cross toolchain. Even though we may not use this docker image in ARM CI, I think the ARM cross

[2017-02-02 08:46] jyoungyun commented on #1400
@gkhanna79 Do we have to make ARM CI core-setup, CoreCLR and CoreFX the exactly same? No matter how I think, in case of core-setup, it is better to use the existing routine. In the case of Ubuntu ARM on the netci.groovy side, it is not necessary modifications if you just add the simple command. If we want to implement it with CoreCLR and CoreFX like ARM CI structure, we have to add extra arm32 ci

[2017-02-02 17:16] ThadHouse commented on #725
Thanks for sharing the debian softfp tarball! I was able to get it working on one of the embedded platforms I normally work with (The NI roboRIO for FRC). Worked fantastically, and even was able to run a fairly complex socket based program with no issues I could find. Going to be so nice not to have to custom compile Mono anymore.

[2017-02-02 18:56] gkhanna79 commented on #1400
@jyoungyun In general, consistency is good. However, I agree that simplicity should not be sacrificed in favor of consistency, so I am fine with the general approach you are suggesting.

That said, I would suggest that, instead of updating the DockerFile (e.g. at https://github.com/jyoungyun/core-setup/blob/arm/ci-test/scripts/docker/ubuntu.14.04/Dockerfile), you should consider updating the scrip

[2017-02-03 08:26] hqueue opened #1432 "Use same logic to prepare rootfs across dotnet if possible"
We need rootfs for cross compilation for arm, armel, arm64 and x86, and we have a script file for each repository as follows.

https://github.com/dotnet/coreclr/blob/master/cross/build-rootfs.sh
https://github.com/dotnet/corefx/blob/master/cross/build-rootfs.sh
https://github.com/dotnet/core-setup/blob/master/cross/build-rootfs.sh

While preparing arm release #725, we found out that it would be gr

[2017-02-03 08:43] hqueue commented on #1432
@gkhanna79 Ideally, We can use a single rootfs which can be used for core-setup, coreclr and corefx, if we can accept increse in size of rootfs for coreclr, because corefx requires some more packages than coreclr.
What do you think of it ? If you think this is acceptable, I will add this task to #725 as a item.

[2017-02-03 11:23] hqueue commented on #1411
We have tested with clang 3.9 with -O3 optimization.

- For coreclr and corefx, no problem is found when cross building for Linux/ARM32 with clang 3.9 after enabling `-O3` optimization.
- For coreclr, no regression is found in unit test. All failing tests are also failed with current infra, i.e. clang-3.6 with -O1 option. Test is performed on rpi3 with ubuntu.16.04-arm.
- For core-setup, no proble

[2017-02-03 11:35] hqueue commented on #1400
@gkhanna79 I also think it is good idea to maintain a single Docker image for various purpose to maintain consistency. In addition to this, I think devlopers may improve and test CI /build system easily if they can change configruation of docker image easily, as I already desribed at https://github.com/dotnet/coreclr/issues/9273#issuecomment-277221352.
I hope we can achieve two goals together by e

[2017-02-03 12:04] hqueue commented on #725
@ThadHouse Glad to hear it helps. And also goot to hear that real complex applications run on dotnet for debian (softfp).

[2017-02-03 12:14] hqueue commented on #790
CI support for core-setup will be done along with CoreCLR (https://github.com/dotnet/coreclr/issues/9273).

[2017-02-03 19:17] gkhanna79 commented on #1432
@hqueue Can you please help me understand what is the common logic you are working towards? My (naive) understanding of build-rootfs.sh is that it uses the source list files and pulls them down - thus, the implementation of build-rootfs.sh is pretty much the same across the repos.

Are you proposing that all the repos use the same source list file? If so, how would that help given that these files

[2017-02-03 19:28] gkhanna79 commented on #1411
Thanks for validating these scenarios @hqueue. To drive for simplicity, it will be good to have a single clang version we could use - not just for Arm but also for x64. Do you think 3.9 is good for x64 as well?

Aside from that, is 3.9 publicly released (and not under development)?

[2017-02-03 19:29] gkhanna79 commented on #1400
CC @dleeapho @MichaelSimons

[2017-02-04 00:33] mellinoe commented on #196
I was discussing this problem a bit more in the context of [Avalonia](https://github.com/AvaloniaUI/Avalonia) who have a working (but still in-progress) version of their GUI toolkit for .NET Core.

One option that's worth considering is:

* Unconditionally linking against the Windows subsystem instead of the console subsystem.
* Conditionally creating a console window if it is detected that the pr

[2017-02-04 01:20] wjk commented on #196
@mellinoe That still won't quite hit all my required feature boxes, though. I would also need a Win32 common control manifest, an icon, and a `VERSIONINFO` resource. While I would much prefer a public API in hostFXR I could call into directly, I could insert these resources using an MSBuild target and the Windows resource-modification APIs.

In addition, while a dual-mode EXE as you described _mig

[2017-02-04 01:22] mellinoe commented on #196
@wjk Yes, you're absolutely correct. Upon further research my idea does not actually work, although it would have been simple and clean if possible.

[2017-02-04 04:34] dasMulli commented on #196
This has been a hard-to-solve problem on windows for a long time and this is the reason java ships `java.exe` and `javaw.exe`. There isn't really a solution without a flashing console window or loosing outputting / spawning another console (and maybe nano server refusing to launch it?) - even though `AttachConsole()` and `FreeConsole()` really want to make you believe otherwise. :trollface:

In or

[2017-02-04 15:22] gkhanna79 commented on #1121
Closing in favor of https://github.com/dotnet/core-setup/issues/325

[2017-02-04 15:22] #1121 closed

[2017-02-04 15:26] gkhanna79 commented on #1217
CC @livarcocc @piotrpMSFT

[2017-02-04 15:34] gkhanna79 commented on #233
@naamunds PTAL and resolve is this is still applicable.

[2017-02-04 15:35] gkhanna79 commented on #276
@Innocence Are there more details you can share with any recent builds where this repros?

[2017-02-04 15:36] gkhanna79 commented on #635
CC @eerhardt

[2017-02-04 15:38] gkhanna79 commented on #458
CC @eerhardt

[2017-02-04 15:47] gkhanna79 commented on #637
@AlfredoMS Assigning this to you since you are working on the transition to build tools.

[2017-02-04 15:51] gkhanna79 commented on #216
Fixed in the associated PR at https://github.com/dotnet/core-setup/pull/711/files#diff-d879441c77c53723780bea5613c6056dR52.

[2017-02-04 15:51] #216 closed

[2017-02-04 15:57] gkhanna79 commented on #618
Fixed with https://github.com/dotnet/core-setup/pull/1425 from @ericstj

[2017-02-04 15:58] gkhanna79 commented on #211
We have clean Ubuntu 14.04 builds. @parjong Can this be closed?

[2017-02-04 16:19] gkhanna79 commented on #37
No longer applicable

[2017-02-04 16:19] #37 closed

[2017-02-04 16:23] gkhanna79 commented on #23
Xcode brings in the native tools (clang, etc) that are required to build. How else are you proposing to get the toolset?

[2017-02-04 16:24] gkhanna79 commented on #23
See https://github.com/dotnet/coreclr/blob/master/Documentation/building/osx-instructions.md - it is applicable for all .NET Core repos that build for OSX.

[2017-02-04 16:27] gkhanna79 commented on #279
@naamunds Are you driving this for 2.0?

[2017-02-04 16:27] gkhanna79 commented on #279
CC @dleeapho

[2017-02-05 13:09] benaadams opened #1454 "Daily builds aren't very daily"
Download build is `2.0.0-beta-001501-00` though current build should be `2.0.0-beta-25005-00`?

Means following the "Get a daily build" instructions from here don't get you a daily build https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md

[2017-02-05 20:46] dagood commented on #306
@wtgodbe did this with https://github.com/dotnet/core-setup/pull/500, https://github.com/dotnet/core-setup/pull/503, and https://github.com/dotnet/core-setup/pull/504 a while back. (Thanks. :smile:) Closing as resolved.

[2017-02-05 20:46] #306 closed

[2017-02-06 01:56] wjk opened #1461 "dotnet-host-build compilation throwing NullReferenceException"
## Steps to reproduce

1. Clone [my fork of core-setup](https://github.com/wjk/dotnet-core-setup).
1. Run `build_projects/dotnet-host-build/build.sh --build-driver-only`.

## Expected  behavior

`dotnet-host-build` should compile.

## Actual behavior

When `dotnet-host-build` is compiled, `dotnet compile-csc` fails with no output other than "Object reference not set to an instance of an object."

[2017-02-06 01:58] wjk commented on #1461
Note: I am using a fork of core-setup because I am integrating it into a (closed-source) script that builds all of .NET Core from source. Some patches were already required to make core-setup interact correctly with this script, and those patches would not be acceptable pushed to upstream. (However, if a patch is suitable to merged with upstream, such as the one in #1458, I will readily open a PR.

[2017-02-06 02:06] jyoungyun commented on #1400
@gkhanna79 Thank you for kindly explanation. Like @hqueue 's opinion, I want to maintain and test CI/build system easily. In addition to this, I want to be able to manage Docker image easily. So I think we may need some repo for Docker Image to save the DockerFiles. Like the comments you wrote on other issues(https://github.com/dotnet/coreclr/issues/9273#issuecomment-277338398), I understood that

[2017-02-06 02:10] jyoungyun commented on #725
@ThadHouse Actually I tested the operation for debian.8-armel tarball on DockerImage by using rpi3. It is really good news that it works well on real device. :)

[2017-02-06 02:15] jyoungyun commented on #725
@gkhanna79 Could you let me know the progress of nupkg uploading for arm in core-setup? AFAIK this should be preceded, CoreFX nupkgs can upload to MyGet Feed. Thank you for your continued support.

[2017-02-06 03:42] gkhanna79 commented on #1461
@jyoungyun Can you please take a look at this as you helped add the support for this switch?

CC @hqueue

[2017-02-06 03:54] gkhanna79 commented on #725
@jyoungyun I have done trial builds over the weekend and they look good and expect to have them running by Tuesday if all goes well. I will keep this discussion updated with the status.

[2017-02-06 03:56] gkhanna79 commented on #1400
As I mentioned, @dleeapho and @MichaelSimons own the repo where the Docker files used for pipeline (i.e. official) builds are kept. I am looking to them to describe how we can enable these to be  available such that you can contribute to them as well.

[2017-02-06 03:58] gkhanna79 commented on #1454
Core-Setup build number logic is different from what is used in CoreFX and CoreCLR. Hence, 1501 is expected. There is an effort underway (non-trivial overall engineering change for the repo) that, when completed, will result in similar build numbers.

Until then, the current scheme will be maintained.

Hope this clarifies.

[2017-02-06 03:59] ThadHouse commented on #725
If you get the NuGet packages, I will be happy to help test the debian.8 version.

Note I am not actually testing on a debian system, but its actually an arch system. But it does have the same sysroot, or a very close one from what I can tell.

[2017-02-06 04:09] benaadams commented on #1454
Hmm... this is NetCore App? Might need to go bug dotnetcli as the sdk install is `2.0.0-alpha-004775` so maybe its that that isn't daily

[2017-02-06 04:14] gkhanna79 commented on #1454
Core-Setup repo only produces the SharedFX on a daily basis (using the build number scheme unique to it), modulo any build breaks.

SDK is produced in CLI repo. Thus, if you are asking about it, CLI is the right repo for it.

[2017-02-06 04:24] wjk commented on #1461
@gkhanna79 This happens whether or not the `--build-driver-only` switch is passed; I simply included it because the running of `dotnet-host-build` is not relevant to the bug I am reporting.

[2017-02-06 04:33] Petermarcu commented on #1454
It's not too slow although I don't think it's daily. I think its just a couple days old. We're still ironing out that flow.

The version of the sdk is alpha but if you install it, you will see a version of netcoreapp that is beta installed.

I see `2.0.0-beta-001486-00` in the installer from the CLI which is about 20 checkins behind core-setup. I do see that the links to just get the runtime are b

[2017-02-06 04:49] benaadams commented on #1454
Going from the numbers in coreclr and corefx which are the versions I'm trying to use e.g. https://github.com/dotnet/coreclr/commit/e5d6ecbfe30c1824134a290ed5f2f8fb1dc43e7a and https://github.com/dotnet/corefx/commit/6e837bb7bc3b807b4dcc5f0c8096e82af00fd986

My method currently is build app self-contained `<RuntimeIdentifier>win7-x64</RuntimeIdentifier>` publish; build coreclr from source, copy ov

[2017-02-06 04:57] jyoungyun commented on #1461
@gkhanna79 I think this issue is not related to `--build-driver-only` switch.
@wjk According to your error log, the error occured during the `dotnet restore` process (https://github.com/dotnet/core-setup/blob/master/build_projects/dotnet-host-build/build.sh#L165) , and you should check if your environment is capable of `dotnet restore`.

[2017-02-06 04:57] Petermarcu commented on #1454
I see. Yeah, that should work. The intent of those instructions I believe we're to show people how to use the latest buildskyberg@microsoft.com to publish with rather than the "copy over" method. The 2.0 tooling stack is just being brought up as most of the focus is still on getting 1.0 tooling finished.

[2017-02-06 05:05] gkhanna79 commented on #1461
In that case, I have noticed that it happens if you have not done a clean build. If you do "git clean -xdf" and then reattempt the build, you should not see it.

[2017-02-06 05:11] jyoungyun commented on #725
@gkhanna79 My mistake :( Uploading CoreFX nupkgs should be ahead of core-setup job. And I found the CoreFX nupkgs for ARM in dotnet-core myget. Thank you.

[2017-02-06 05:17] hqueue commented on #1432
@gkhanna79 Your understanding is definitely correctl. All build-rootf.sh already have similar logic, but there is minor differences across fx, clr and setup and I want to minimize them to reduce fragmentation and use exactly same build-rootfs.sh and soruce files eventually if possible.

Right, eventually I think this is a rapproach.
However as you mentioned, unless we introduce a central update pr

[2017-02-06 05:46] hqueue commented on #1411
@gkhanna79 I also agree that using clang 3.9 for all dotnet platform will be ideal and I expect no problem using 3.9.  However we need more verfication from developers of x64 dotnet for using 3.9, since I don't have much experience in x64 dotnet yet.

It seems that llvm 3.9.1 is officially released on Dec. 23, 2016 as in http://releases.llvm.org/.
I've also installed stable 3.9.1 on host machine (

[2017-02-06 07:29] hqueue commented on #1461
@wjk I also sometimes faced same exception. I usually also use  `git clean -xdf` to resolve the exception.

[2017-02-06 10:31] janvorli commented on #1411
@gkhanna79 I have recently changed CoreRT to use clang 3.9 by default too and the CI machines that CoreRT use were already updated to contain clang 3.9. So moving CoreCLR and other related projects to that version as well would be nice.
We would need to update more VMs in the CI though, since for CoreRT, only Ubuntu 14.04 is used and so only those VMs were updated, as far as I know.

[2017-02-06 12:13] parjong commented on #211
Sure. I'll close this PR.

[2017-02-06 12:13] #211 closed

[2017-02-06 13:30] wjk commented on #1461
Yep, `git clean -xdf` solved it for me. I'm going to close this issue now. Thanks!

[2017-02-06 13:30] #1461 closed

[2017-02-06 17:18] eerhardt commented on #1454
If by "fix up" you mean "remove", then yes.  It doesn't make sense for the CLI readme to have the installer links for the runtime.  Instead, I'll just add a link from the CLI readme to the core-setup readme, which will always have the correct/updated links.

[2017-02-06 17:23] eerhardt commented on #1454
@benaadams - yes, if you need to use a private build of coreclr or corefx, this is the best option today.  It is unfortunate, but our tooling is all based around the `Microsoft.NETCore.App` NuGet package. So to use the default tooling behavior, you would need to build `dotnet/core-setup` using your private coreclr/corefx builds, which is not a trivial process at the moment.

[2017-02-06 17:28] eerhardt commented on #1454
One last FYI - the cli uses a versioning scheme that is based on the commit count.  So version `2.0.0-alpha-004775` of the CLI is from commit 4775 (which was the latest commit as of 9 hours ago before the latest PR was merged).

The advantage of this build/versioning scheme is that if there are 20 commits in one day, you can get a new official build in the middle of the day for a bug fix/feature.

[2017-02-06 18:26] gkhanna79 commented on #1411
@hqueue Thanks for the details. Looks like http://apt.llvm.org/ also has links for 16.04 and 16.10. Is there a reason you used the above approach to install as opposed to the instructions in `Install (stable branch) `section?

@janvorli Thanks for the confirmation.

[2017-02-06 20:19] naamunds commented on #233
It looks like this was fixed by https://github.com/dotnet/core-setup/pull/403

/cc @dagood

[2017-02-06 20:19] #233 closed

[2017-02-06 20:24] naamunds commented on #279
I had been waiting for core-setup to adopt the MSBuild build infrastructure like CLI, but my understanding is that this work may no longer be needed for Docker (which was the primary driver), which de-prioritized it.

/cc @dleeapho and @MichaelSimons for comment on the current priority of this work.

[2017-02-06 22:36] livarcocc commented on #1217
I can make the change once we decide we want to take it. But I don't understand the scenario well enough to make a call.

[2017-02-07 01:01] hqueue commented on #1411
@gkhanna79 I think  I followed the instrtuction in `Install (stable branch)`.  We have to update `/etc/apt/source.list` to locate and install clang-3.9 with  `apt-get install clang-3.9`.

[2017-02-07 07:43] PurelySimple commented on #1219
Agreed that this is annoying for a self contained deployment. I thought about distributing my application with a shortcut to the actual application at an upper level but obviously this is not cross platform compatible. If the application has such a strong dependency on having the .NET Core runtime in the same directory, could we get a publish option that combines the entire runtime into a single D

[2017-02-07 08:50] tmds commented on #1217
By removing the minor it will no longer be possible to do minor-specific stuff. Which is okay because RHEL minors are point releases with binary compatibility.

[2017-02-07 19:09] anurse commented on #617
I don't think this is relevant after MSBuild conversion

[2017-02-07 21:49] Petermarcu opened #1484 "We have duplicate IL for System.Private.Corelib.dll and mscorlib.dll"
## Steps to reproduce
Look in the tar.gz's

## Expected  behavior
No System.Private.Corelib.dll next to System.Private.Corelib.ni.dll

## Actual behavior
They are both there.

## Environment data

[2017-02-08 02:22] piotrpMSFT opened #1489 "Dotnet.exe does not support long file path"
Moved from dotnet/cli#5611 on behalf of @jhkimnew

This is related to https://github.com/dotnet/core-setup/issues/1267

------

## Steps to reproduce
1. Enable long file name on Windows 10 or any OS which supports long file name
2. Create a long file path directory such as "d:\1111111111111111111111111111111111111111111111111111111111\1111111111111111111111111111111111111111111
111111111111111\111

[2017-02-08 02:25] piotrpMSFT opened #1490 "Where to start with Segmentation Fault (core dumped)"
Moving from dotnet/cli#5616 on behalf of @fearthecowboy

----

## Steps to reproduce
I've ported our code base to run on .NET Core, and we've got it working fairly fine on Windows.

I went to run it on Linux (Ubuntu 16.04 ) and I can get it to build, when I go to run it I get `Segmentation Fault (core dumped)`

Where do I start to figure out whats going wrong?

I added `COREHOST_TRACE=1` when I ra

[2017-02-08 16:19] fearthecowboy commented on #1490
I'd just like to mention that this is a fairly important step as part of our work to ensure that all the Azure SDK and services are built and tested on Linux and MacOS, so if there is someone that can help us out, that'd be really awesome.

this morning, I'll post the steps to build/repro from our code base.

[2017-02-08 16:28] Petermarcu commented on #1490
What's the architecture of the machine? First thought based on what I see is that you didn't publish for ubuntu x64.

How are you building the output aND how are you launching it?

I'll respond again shortly...

[2017-02-08 16:32] gkhanna79 commented on #1490
@fearthecowboy Have you tried running the host under lldb/gdb? They should break at the point where core-dump generation is triggered and you should be able to look at your callstack to determine what is going wrong.

[2017-02-08 17:53] fearthecowboy commented on #1490
Here's how to replicate what I'm looking at

[code]

@Petermarcu it's Ubuntu x64

![image](https://cloud.githubusercontent.com/assets/133736/22749738/39b47a42-ede3-11e6-9bd4-8cb421535986.png)

In the `.csproj` file, I've set `<RuntimeIdentifier>ubuntu.16.04-x64</RuntimeIdentifier>`

I've also tried doing

[code]

and running the published binary:
![image](https://cloud.githubusercontent.com/assets

[2017-02-08 18:03] Petermarcu commented on #1490
As far as I can tell, you are doing everything right. @janvorli @gkhanna79 , any advice here?

[2017-02-08 18:08] fearthecowboy commented on #1490
I originally built it on Windows, targeted `ubuntu.16.04-x64` and copied the binaries over to WSL, and it segfaulted. I then installed all tools on WSL, and recompiled, and got the same thing.

Then I finally spun up a brand new VM, installed the tools and built it and got the same thing again.

So, the good news is, that's it's terribly consistent  😜

[2017-02-08 18:20] fearthecowboy commented on #1490
It would appear that it dies in glibc at https://code.woboq.org/userspace/glibc/sysdeps/unix/sysv/linux/getsysstats.c.html#317

[code]

We're wandering outside my immediate knowledge here...

[2017-02-08 18:22] Petermarcu commented on #1490
adding @jkotas in case he has any ideas.

[2017-02-08 18:30] janvorli commented on #1490
@fearthecowboy let me try to repro it.  But before I start, could you please disass the crashing function so that I can see at what instruction it crashed? I wonder if it could be a stack overflow.

[2017-02-08 18:58] fearthecowboy commented on #1490
Played around, it's dying in different places, depending on which window I run it it.

Not even sure how that's possible.

in this terminal, it's `InternalEnterCriticalSection`

![image](https://cloud.githubusercontent.com/assets/133736/22752420/49ee52c0-eded-11e6-8401-8765605002e8.png)

in this terminal it's `__get_phys_pages `

![image](https://cloud.githubusercontent.com/assets/133736/22752459/

[2017-02-08 18:59] Petermarcu commented on #1490
@Maoni0

[2017-02-08 19:06] janvorli commented on #1490
@fearthecowboy can you please try to set env variable COMPlus_INTERNAL_ThreadSuspendInjection to 0 and see if the issue goes away?

[2017-02-08 19:10] fearthecowboy commented on #1490
@janvorli No Effect.

![image](https://cloud.githubusercontent.com/assets/133736/22752940/2111ea72-edef-11e6-8284-f1a887577e92.png)

[2017-02-08 19:48] fearthecowboy commented on #1490
Rebuilt it under WSL / ubuntu 14.04 / x64

Still crashes, just somewhere else.

[code]

[2017-02-08 19:50] janvorli commented on #1490
@fearthecowboy I can confirm that I can repro the issue on my Ubuntu 14.04 as well.

[2017-02-08 19:59] janvorli commented on #1490
It is a stack overflow. That's why you hit it at different places. It seems that your stack trace above is unrelated to the issue.
In my stack trace, I could see that the code was trying to make a call, but the RSP was already out of stack:
At frame 0:
[code]

[2017-02-08 20:02] janvorli commented on #1490
Breaking into the debugger right after starting the app and dumping the managed stack, I can see that there is an infinite recursion in  AutoRest.Core.Utilities.FileSystem.ReadFileAsText(System.String) calling itself.

[2017-02-08 20:04] janvorli commented on #1490
Part of the stack to demonstrate that:
[code]

[2017-02-08 20:05] fearthecowboy commented on #1490
It's actually getting into our code?!

Well, that's good to know.

ok, lemme go look at that...

[2017-02-08 20:31] fearthecowboy commented on #1490
Thanks!, that unblocked me!

So, I'm a little confused how someone is supposed to know how to find out what's going on in a case like this.

In a 'traditional' dotnet app, I'd generally expect a `StackOverflowException` to get thrown, and give me a smidgen of a chance of finding out where the actual error is.

[2017-02-08 20:47] janvorli commented on #1490
I guess that you could use VSCode to debug the managed code on Unix for better experience.

The issue with stack overflow in a tight loop is that when we get out of stack, the process doesn't have enough stack to even execute the SIGSEGV handler. So the process is killed without any notification that would allow us to print some message.
There is a way around it, but it introduces some ugly comple

[2017-02-08 21:19] Petermarcu commented on #1490
@janvorli, Would this same stack overflow in user code happen on Windows? From a .NET developers perspective, getting a segfault for a problem in their code is the worst possible outcome. Do we need to think about things like reserving stack space to be able to not segfault and instead give a stack overflow error?

[2017-02-08 21:37] naamunds opened #1503 "RHEL builds intermittently fail due to not being able to delete files owned by root"
The RHEL official builds sometimes fail on the "Get Sources" step, with errors like:

This is because "docker run" is called directly, without specifying the user as which to run. This means that
the build artifacts which are mapped to the host have "root" as their owner, because "root" is the default Docker user. This prevents the build agent's user from being able to delete those files in subseq

[2017-02-08 21:37] janvorli commented on #1490
It would not happen on Windows, since the SO handling works in a different way. As for reserving stack space, just imagine a tight loop of a recursive function. The stack grows by the size of the stack frame of that function in small increments until the processor hits the end of the stack and cannot write to the memory. Since the kernel would need to run the SIGSEGV handler on the same stack and

[2017-02-08 21:42] gkhanna79 opened #1504 "Fix the RID host is built for"
The highest RID host is built for is a function of the RID that comes out of https://github.com/dotnet/core-setup/blob/master/build_projects/dotnet-host-build/PrepareTargets.cs#L100. I see the same in 1.1.0 as well - https://github.com/dotnet/core-setup/blob/release/1.1.0/build_projects/dotnet-host-build/PrepareTargets.cs#L50.

TargetRID from above is passed to CMake at https://github.com/dotnet/c

[2017-02-08 22:32] eerhardt commented on #1504
Repro:

Reference the attached nupkg in a `netcoreapp1.0` app
[MyRidLib.1.0.0-alpha.nupkg.zip](https://github.com/dotnet/core-setup/files/762118/MyRidLib.1.0.0-alpha.nupkg.zip)

with the following code:

[code]

run on a Windows 10 machine, and you get the output:

[code]

now upgrade your app to `netcoreapp2.0` and run it on the same machine:

[code]

Notice how the wrong asset got selected at ru

[2017-02-08 22:38] ianhays commented on #1504
I'm going to revert the portion of [my commit](https://github.com/dotnet/core-setup/commit/20600ceb2e8be73bf63e72341132cf8125c8fcdb) that modified the rid being passed to the host build. I'll just special-case it for ARM64 since that's what I really wanted anyways.

[2017-02-08 22:39] eerhardt commented on #1504
From my understanding it is going to take building core-setup official builds on a win10 machine to fix this.

[2017-02-08 22:41] ianhays commented on #1504
That is also required, yes.

[2017-02-08 23:16] naamunds commented on #1504
Would Windows Server 2016 work?  Does that have a RID of win10?

[2017-02-08 23:20] gkhanna79 commented on #1504
Server 2016 may work - I think it is peer of Win10. Is it not possible to get Win10 machines for the build?

[2017-02-08 23:21] eerhardt commented on #1504
IIRC, we used a technical preview of Server 2016 on mseng.  We should probably be able to use RTM by now.

[2017-02-08 23:25] naamunds commented on #1503
Fixed by #1501 and #1502.

[2017-02-08 23:25] #1503 closed

[2017-02-08 23:45] MichaelSimons opened #1507 "`Error resolving full path []` when running dotnet"
## Steps to reproduce
1. Run on Nano Server.  You can use the microsoft/dotnet-nightly:2.0-sdk-nanoserver Docker image.
2. run any dotnet command e.g. dotnet

## Actual behavior
Keep getting multiple `Error resolving full path []` messages in the output.  The commands seem to work correctly however.

**Actual Output**
[code]

When I run with COREHOST_TRACE=1 set I spotted the following in the outp

[2017-02-08 23:47] MichaelSimons commented on #1507
@ramarag - could this possibly be related to https://github.com/dotnet/core-setup/commit/31a4a03d38565d3fdd13101a830a78ad5fb6bf1e?

[2017-02-09 16:03] fearthecowboy commented on #1490
I'm unblocked, so you can close this unless you want to track it for frustration purposes :D

![image](https://cloud.githubusercontent.com/assets/133736/22791408/1d6ca1c8-ee9e-11e6-890e-646ccba9b7c8.png)

I'm satisfied with my care!

[2017-02-09 16:04] #1490 closed

[2017-02-09 16:48] fearthecowboy opened #1519 "Crafting a self-contained deployment"
I'm in the process of crafting our deployment for our project, and I'd like to be able to split the framework from the application binaries.

I have reviewed https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/deploying/#self-contained-deployments-scd alot.

I would _**not**_ like to use the system-level shared framework - I do not want to require root/admin to install.

I have the nece

[2017-02-09 17:19] Petermarcu commented on #1519
Just make sure the first "dotnet.exe" on the path is the one in the location of the private framework and all dotnet commands will run in the context of that dotnet.exe.

Get the tar.gz for the runtime from here: https://www.microsoft.com/net/download/linux.
Set the PATH properly as I said above of just call the right dotnet version and then pass it the app you want it to run on that runtime.

[2017-02-09 18:18] fearthecowboy commented on #1519
Looks pretty good....

Quick question -- I notice it's picking up assemblies for libraries that I don't have in the output folder from the nuget package cache.

I see that I can use `--additionalprobingpath ../shared/packages` and tell it to find packages from there. Is there a way to tell it *not* to search the global package cache?

I'm assuming that explicitly stated `--additionalprobingpath` i

[2017-02-09 18:26] fearthecowboy commented on #1519
And can I rely on those fwlinks to point to the specific version of those files?

[2017-02-09 18:31] Petermarcu commented on #1519
It's picking things up from the .nuget cache because you didn't publish. Build doesn't get you a final shippable thing, you have to publish. Once you do that, you will get your dependencies with you.

Do you mean, can you put the links in your scripts to pull them down? I would put them somewhere you own.

[2017-02-09 18:46] Petermarcu commented on #1519
I can also get you some links you can rely on if you want :)

[2017-02-09 18:55] fearthecowboy commented on #1519
DERP. Ah, yeah, I was in the `output` dir, not the `publish` dir under that. Nice.

Yeah, I'd love some links that will be immutable; we're doing this under the covers in a VSCode extension, and I certainly don't want it to die obscurely if the framework link changes :D

Hmm. I'm nearly to the point of success 😄

[2017-02-09 18:57] Petermarcu commented on #1519
Which links do you need? Windows and Ubuntu 16.10? For .NET Core 1.0.4 and 1.1.0?

[2017-02-09 19:19] fearthecowboy commented on #1519
Realistically, I need them all.

I've swiped the platform detection and installer logic from the omnisharp-csharp extension, and our tools should run everywhere vscode does (windows, Debian, Ubuntu, Redhat, fedora, opensuse ,centos, macos).

Yeah, 1.0.4 and 1.1.0 would be great.

[2017-02-09 22:05] Petermarcu commented on #1519
1.0.4 hasn't shipped yet. I assume you are just grabbing that from our master branch? Do want to be on 1.0.3?

There is a good script for getting the right thing on the distro that @piotrpMSFT is going to help me understand how to use better. Its here:

https://github.com/dotnet/cli/blob/rel/1.0.0/scripts/obtain/dotnet-install.sh

It helps resolve what I'm about to describe...

These are example l

[2017-02-10 16:40] gkhanna79 opened #1530 "Enable platform installers for Ubuntu Arm32"
See https://github.com/dotnet/core-setup/pull/1527 for discussion.

CC @eerhardt

[2017-02-10 19:21] fearthecowboy commented on #1519
Awesome thanks!

[2017-02-10 19:35] fearthecowboy opened #1532 "Programatically Getting the path to the directory containing the framework?"
Ok, I have a reaaaaly strange question now.

We have app that generates c# code.

We have unit tests that use the generator to generate c# code, then compiles the code using Roslyn, and then loads the generated assembly and  uses reflection to inspect the code to check that things went right.

When we were running on desktop clr, we used `AppDomain.GetAssemblies()` to get the assemblies that were

[2017-02-10 19:38] Petermarcu commented on #1532
@gkhanna79 , @weshaggard , can you guys give @fearthecowboy guidance here?

[2017-02-10 19:48] weshaggard commented on #1532
One approach that may work is to do typeof(object).GetAssembly().Location and then traverse for "*.dll" in that directory which will give you all the assemblies next to the core assembly. That will give you all the potential references not necessary what is loaded at runtime so depending on your scenario that might be enough.

[2017-02-10 19:49] weshaggard commented on #1532
Actually thinking about that a little more that would also pick-up native dlls which you don't want to pass to the compiler but you can probably do a little further filtering to things that start with "System" or "Microsoft".

[2017-02-10 19:50] fearthecowboy commented on #1532
I've been trying that.

I can't seem to get one in the framework folder. They are all showing up as the ones in the `nuget` packages folder.

Have an idea of a type that's in `mscorlib` (but doesn't come from a pkg elsewhere?)

[2017-02-10 19:53] fearthecowboy commented on #1532
The closest I've come so far is :

[code]

But I'd hate to hard-code the '1.0.3' part of that ...

[2017-02-10 19:54] weshaggard commented on #1532
How are you running? If you are doing "dotnet run" it does do a hybrid of loading assemblies from packages instead of the shared framework. If you do "dotnet <yourapp>" I think the approach I used would work.

I'm not sure what a great way to do that is for "dotnet run" scenario.

Unfortunately we don't expose the shared framework version anywhere, especially not in "dotnet run" scenarios because

[2017-02-10 20:02] fearthecowboy commented on #1532
It's unit tests, so it's run with `dotnet test`

[2017-02-10 20:19] weshaggard commented on #1532
Yeah I guess there isn't any great solution right now. Good news is that AppDomain.GetAssemblies() will be back in .NET Core 2.0.

For now in 1.0 you try another hack like getting the FX deps file location that the host sets up via AppContext.GetData("FX_DEPS_FILE") and getting the directory from that. I believe that might get you what you want for your scenarios right now.

[2017-02-10 21:09] blackdwarf commented on #1519
The script should be a preferred way to get the CLI and/or the runtime in these kinds of scenarios, mostly because it also downloads from the CDN. You can actually see the specc for the overall CLI acquisition scenarios on https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/cli-installation-scenarios.md and it covers the installation script. We also have docs for it on https://docs.microsof

[2017-02-10 22:57] gkhanna79 commented on #725
We now have Ubuntu 14.04 and 16.04 Arm32 builds getting published daily! Here is the first set of packages that came out today:

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.14.04-arm.Microsoft.NETCore.App/2.0.0-beta-001559-00

https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.16.04-arm.Microsoft.NETCore.App/2.0.0-beta-001559-00

[2017-02-11 09:25] tmds commented on #725
This is great! Are there plans for a portable arm32 build? It would be super to have dotnet run on
Rasbian, Fedora, ... too.

[2017-02-11 23:51] gkhanna79 commented on #725
@tmds Yes, we plan to look into that soon.

[2017-02-13 06:36] gkhanna79 opened #1548 "Port RID fix for 1504"
This is to track port the fix for https://github.com/dotnet/core-setup/issues/1504 once it gets checked into master via https://github.com/dotnet/core-setup/pull/1505.

We will take this fix post 1.1.1 release.

[2017-02-13 19:00] Petermarcu opened #1550 "Everything in the NetCore.App nuget packages needs to be R2R"
We need a test to ensure it too.

[2017-02-13 20:10] ericstj commented on #1550
Same as https://github.com/dotnet/corefx/issues/14595

[2017-02-13 23:02] omajid opened #1551 "How to add support for new RIDs?"
I pushed a fix to corefx (https://github.com/dotnet/corefx/commit/68c03688188cb2fd8adbfd12cadc5c6f30f99b43) to add support for some additional runtimes. I am trying to build core-setup now and it still isn't picking up the additional runtimes. My builds fail with some variant of:

    System.Threading.Timer 4.3.0-preview1-24508-08 provides a compile-time reference assembly for System.Threading.Tim

[2017-02-13 23:05] gkhanna79 commented on #1551
@weshaggard Should be able to help.

[2017-02-13 23:42] gkhanna79 commented on #1551
CC @ericstj

[2017-02-13 23:45] gkhanna79 commented on #934
@ramarag Please use this issue to tracking the various workitems for the feature.

CC @eerhardt

[2017-02-14 01:06] ericstj commented on #1551
@omajid it looks like you're building an old branch of core-setup.  Which branch is it you're trying to build?  master is the only branch picking up new builds of CoreFx.

[2017-02-14 02:30] omajid commented on #1551
I am building `8446414ae6a0ed3e8eb2c0057eafb499f7657a9d`, which was the latest when I checked out `core-setup`.

[2017-02-14 10:39] hqueue commented on #1432
Closing this issue, since all build-rootfs.sh in core-setup, coreclr and corefx now have same logic and only small difference remains.

[2017-02-14 10:39] #1432 closed

[2017-02-14 17:19] ericstj commented on #1551
That's interesting, nowhere is that version `-preview1-24508-08` referenced.  Perhaps you have some nuget.config settings that are leaking into the build.  Can you share more context of the failure (a full log) this should list what sources are being used.  /cc @AlfredoMS

[2017-02-14 18:06] gkhanna79 commented on #228
Fixed.

[2017-02-14 18:06] #228 closed

[2017-02-14 18:07] #789 closed

[2017-02-14 18:07] omajid commented on #1551
I just tried again from a fresh clone. Here's what I did. Please let me know if there's something else that I should remove to avoid any stale artifacts from older builds leaking through.

    $ cat /etc/os-release
    NAME="Red Hat Enterprise Linux Workstation"
    VERSION="7.3 (Maipo)"
    ID="rhel"
    ID_LIKE="fedora"
    VERSION_ID="7.3"
    PRETTY_NAME="Employee SKU"
    ANSI_COLOR="0;31"

[2017-02-14 18:10] gkhanna79 commented on #23
@sokket Does the above help answer your question?

[2017-02-14 18:14] ericstj commented on #1551
You've truncated the portion of interest.  Before those errors there should be a text that indicates which project is being restored and which sources are used.  Can you please put the whole log up on https://gist.github.com/?

/cc @chcosta and @ellismg who have both been looking into making the build work without changes on new distros.

[2017-02-14 18:16] sokket commented on #23
Yeah, we can close this issue now. Thanks!

[2017-02-14 18:16] #23 closed

[2017-02-14 18:21] gkhanna79 commented on #181
@eerhardt Can you remind me why we would want to fix this? What breaks if this is not fixed?

[2017-02-14 18:50] eerhardt commented on #181
This is kind of tricky IMO.  The issue here is that we have multiple versions of assets being built out of the same repo.  So the "shared framework" can be version `1234` and the "host" can be version `4321`.  When we publish assets for a single build, to me it feels like all the assets for that build should go to a single place.  But that makes it hard to go find those assets because when I'm loo

[2017-02-14 19:20] omajid commented on #1551
Added the full output of `./build.sh`.

[2017-02-14 20:00] gkhanna79 commented on #181
@eerhardt and I discussed this - we could go either way but it is slightly more straightforward to find host packages in the same folder as SharedFX since if the host changes, SharedFX would also version alongwith the host.

Also, since the repo will be undergoing changes regarding how it is built, changing this is not really helpful as that would throwaway.

Given this, I am closing the issue.

[2017-02-14 20:00] #181 closed

[2017-02-14 21:38] ericstj commented on #1551
I see, its failing when restoring all the build_projects.  These are running as standalone apps and will fail if they don't have your new RID mapping.

I believe @AlfredoMS's work to refactor this part of the build will fix a lot of these.  In the meantime we can try to limp along by upgrading these projects and including the latest RID graph.

I've given this a try in this branch: https://github.

[2017-02-14 21:46] ericstj commented on #1484
@gkhanna79 feel free to fix the duplicate entries in your CoreCLR packages.  EG: https://github.com/dotnet/coreclr/blob/89ba46aa6e113486428ac7528f662e3a0a5a55eb/src/.nuget/Microsoft.NETCore.Runtime.CoreCLR/ubuntu/14.04/Microsoft.NETCore.Runtime.CoreCLR.pkgproj#L21-L22

[2017-02-14 21:49] eerhardt commented on #455
@SpiraMira - can you provide more information about your environment?  What version of .NET Core did you install?  Where did you install it from?  What does your Apple -> "About this Mac" say?

[2017-02-14 21:52] AlfredoMS commented on #1551
Yep, I'm working on https://github.com/dotnet/core-setup/issues/283 and that will make it more straightforward.

[2017-02-14 21:54] AlfredoMS commented on #283
Update:

New dev branch: https://github.com/AlfredoMS/core-setup/tree/build-eng

I expect this to build and package on all OS in the next couple of days. After that I will work on the publishing step.

[2017-02-14 23:08] gkhanna79 commented on #121
@eerhardt and I chatted about this and he confirmed that this issue is no longer applicable to the new CLI. Also, we have not seen this issue reported in the wild.

Given the above, we will close the issue and reopen it if it surfaces on 2.0 in future.

[2017-02-14 23:08] #121 closed

[2017-02-14 23:09] gkhanna79 commented on #1532
@fearthecowboy Does the above answer your question?

[2017-02-14 23:24] gkhanna79 commented on #229
Resurrecting this discussion, to correctly address the problem, we need to compute the RID of the OS during host startup (similar to what we do for OSX [here](https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/deps_format.cpp#L130)) and remove the hard-coded RID from the host.

This will also have the appropriate side-affect of host not picking up the higher RID assets, incorrectly,

[2017-02-14 23:25] gkhanna79 commented on #229
CC @weshaggard

[2017-02-14 23:28] gkhanna79 commented on #626
If you enable COREHOST_TRACE=1, you will get log messages indicative of picking up the latest version. The design of the SDK activation is that in the event of invalid/non-existent versions, we pickup the latest version of the SDK.

[2017-02-14 23:50] omajid commented on #1551
@ericstj Thanks! Unfortunately, I didn't get much further with that.

    $ git branch -v
      master              3c4e456 Merge pull request #1552 from gkhanna79/Fix228
    * updateBuildProjects 3941577 Update build projects to netcoreapp1.1

Now `./build.sh` results in:

    dotnet-install: Calling: machine_has curl
    dotnet-install: Calling: calculate_vars
    dotnet-install: Calling: get_az

[2017-02-15 00:50] gkhanna79 commented on #619
@pakrym I installed CLI from yesterday and created a repro similar to what you have above and I am unable to repro the issue when passing `--additionalprobingpath` to an unpublished standalone app. Do you have a repro you can share?

However, when I do `dotnet run --verbose`, I see the following:

[code]

@piotrpMSFT @livarcocc Shouldn't --verbose be stripped out before the application is executed

[2017-02-15 00:58] gkhanna79 commented on #634
@dcorns Can you confirm if you can repro this issue using https://go.microsoft.com/fwlink/?LinkID=836297, which is the latest CLI we have corresponding to preview build you mentioned above?

[2017-02-15 01:23] TheRadziu commented on #725
is there any build I can use on Raspbian Pixel now ? Today I updated my distro which somehow broke mono I was using up to this point. If not is there any ETA on builds that can be used on raspberry pi?

[2017-02-15 01:53] hqueue commented on #725
@TheRadziu I'm not sure whether it works on raspbian pixel correctly or not but https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/dotnet-ubuntu.16.04-arm.latest.tar.gz is for ubuntu-mate (ubuntu.16.04-arm) and it works well on my rpi3 with ubuntu-mate.
Both raspbian and ubuntu-mate are based on debian, so I think you can try it for raspbian too.

[2017-02-15 02:23] TheRadziu commented on #725
@hqueue thanks for your answer! Sadly, I cant make it work
`./dotnet
./dotnet: /usr/lib/arm-linux-gnueabihf/libstdc++.so.6: version `GLIBCXX_3.4.21' not found (required by ./dotnet)`
when I checked it by `strings /usr/lib/arm-linux-gnueabihf/libstdc++.so.6 | grep GLIBCXX`it listed **GLIBCXX_3.4** up to **GLIBCXX_3.4.20**.
I wonder if I can update it somehow

[2017-02-15 02:56] piotrpMSFT commented on #619
From `dotnet run --help`:

[code]

--verbose is not a supported option for the run command.

[2017-02-15 03:39] ramarag opened #1553 "Containerize the test execution"
The dotnet hostpolicy will increasingly start to look in global locations for some artifacts, like servicing directory , assembly caches etc

These policies might interfere with the way tests execute, causing test failures on dev machine.
For example, if the dev machine has an assembly cache in their user profile containing newtsoft.json then
https://github.com/dotnet/cli/blob/c20e106d7570e8a1d244

[2017-02-15 03:39] ramarag commented on #1553
cc @gkhanna79 @piotrpMSFT

[2017-02-15 03:53] gkhanna79 commented on #619
@piotrpMSFT If that is the case, then what is equivalent of `dotnet -v run` that @pakrym has in his output above?

[2017-02-15 03:57] gkhanna79 commented on #1553
@ramarag There is only ever a single servicing location and it is looked up by hostfxr to ensure we can pickup the serviced hostpolicy. Later, ofcourse, hostpolicy does the same for other assemblies.

The already happens today.

That said, from the cache standpoint, I do agree.

[2017-02-15 04:12] hqueue commented on #725
@TheRadziu Did you tried ubuntu.14.04-arm ? ( https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/dotnet-ubuntu-arm.latest.tar.gz)

It seems that ubuntu.14.04-arm requires 3.4 not 3.4.21.

[2017-02-15 05:11] tmds commented on #725
@TheRadziu @hqueue fyi, glibc has a backwards compatibility feature. The portable linux x64 build of dotnet requires glibc 2.14 as a minimum. The portable arm32 build will have a similar requirement.

[2017-02-15 07:36] piotrpMSFT commented on #1553
I imagine this working similarly to `NUGET_PACKAGES`. We will be able to isolate ourselves within the context of a folder across the board. Dev isn't the only relevant experience here. I'm much more interested in ensuring isolation in CI!

[2017-02-15 07:39] piotrpMSFT commented on #619
@gkhanna79 @pakrym is on `1.0.0-beta-002113` which is a VERY old build. I suspect the equivalent today will be `dotnet -d run`.

[2017-02-15 15:58] gkhanna79 commented on #619
Thanks @piotrpMSFT. @pakrym I am unable to repro this issue even with `-d`:
[code]

Please share a repro if you have one.

[2017-02-15 16:14] pakrym commented on #619
I tries it too, this is fixed with a new sdk

[2017-02-15 16:14] #619 closed

[2017-02-15 16:24] Ponant commented on #572
I just ran into this issue after I installed and uninstalled the .NET Core SDK 2.0. Is there a workaround?

[2017-02-15 16:27] joeloff commented on #572
@Ponant If the 1.x runtime is installed you can try repairing that.

[2017-02-15 16:39] ericstj commented on #1551
I've added a new commit.  https://github.com/ericstj/core-setup/commit/c2bdc5ce8e0a0703dc476a1b377a0a8ea6053b3b

Essentially for any project that fails in this way, make sure it has an updated copy of Microsoft.NETCore.Platforms.  Ideally we'd also make sure it's on a consistent set of dependencies (eg: NETCoreApp 1.1 release).  Core-setup hasn't seen the same sort of diligence here as other repos

[2017-02-15 16:41] Ponant commented on #572
@joeloff , I am reparing VS 2017 RC4 at the moment, I expect it to work.

[2017-02-15 17:31] omajid commented on #1551
@ellismg Hey, does the new source-build stuff need support for new RIDs the way I am trying to add it here? The way I am doing this is to add the new RIDs in `corefx` and update the packages in `core-setup` to pull them.

If this RID support not needed by source-build, I have no urgency for this issue, though it would be nice to keep .NET Core building when users do a general package update on RHE

[2017-02-15 18:12] ellismg commented on #1551
The composed build will take care of both adding the target rid to Microsoft.NETCore.Platforms and updating the runtimes sections of project.jsons as we go up the stack.  In addition, we'll "roll forward" and package references during a composed build (so if Core-Setup already had a reference to Microsoft.NETCore.Platforms somehow (or it was brought in transitively by some other package) you would

[2017-02-15 18:54] omajid commented on #1551
Thanks. I guess I will wait until #283 lands.

[2017-02-15 20:12] naamunds opened #1555 "Refactor checked-in build definitions to share common code"
The checked-in build definitions (at https://github.com/dotnet/core-setup/tree/master/buildpipeline) share a lot of logic and could be consolidated into a smaller number of build definitions to make maintenance easier. This would follow the pattern used by CoreFX.

/cc @wtgodbe @gkhanna79 @chcosta @mmitche @MichaelSimons

[2017-02-15 21:18] MichaelSimons commented on #1555
Assigned to @wtgodbe per discussions with @gkhanna79.

[2017-02-15 21:30] dcorns commented on #634
Unable to comply. I am now operating on fedora 25. fyi: this build does not work on fedora 25. Get Failed to initialize CoreCLR, HRESULT: 0x80131500. (Both libunwind and libicu installed.)

[2017-02-15 22:33] ramarag commented on #1553
@gkhanna79 , i filed this issue so that the test execution should not be modified due to the machine state.
So if there is a servicing done, the tests should not pick it up.
@piotrpMSFT : Generalized it to ensure each test do not interfere with others.

[2017-02-15 23:33] gkhanna79 commented on #572
Assigning this to you @rakeshsinghranchi and @vivmishra

[2017-02-15 23:34] gkhanna79 commented on #1408
Assigning this to you @rakeshsinghranchi and @vivmishra

[2017-02-15 23:34] gkhanna79 commented on #444
Assigning this to you @rakeshsinghranchi and @vivmishra

[2017-02-15 23:35] gkhanna79 commented on #1183
Assigning this to you @rakeshsinghranchi and @vivmishra

[2017-02-16 00:48] gkhanna79 commented on #276
@Innocence For the lack of repro details, I am closing this issue for now. Please feel free to reopen once you have repro details.

[2017-02-16 00:48] #276 closed

[2017-02-16 00:48] gkhanna79 commented on #1192
Assigning to you @vivmishra and @rakeshsinghranchi

[2017-02-16 00:50] gkhanna79 commented on #229
Thoughts on this?

CC @Petermarcu

[2017-02-16 00:57] ellismg commented on #229
The way the rid is computed is here: https://github.com/dotnet/core-setup/blob/afdc2ba4a62c860ac62265f8fc64081d465dc725/src/Microsoft.DotNet.PlatformAbstractions/Native/PlatformApis.cs#L100

It's reading /etc/os-release

[2017-02-16 01:27] gkhanna79 commented on #229
Is this is the consistent approach we are following everywhere? I ask because, IIRC, there was a conversation couple of weeks ago whether RID should have major version only or both major and minor.

Based upon the above link, RID would have whatever VERSION_ID would contain. How does that resonate with the concerns around single version number in RID?

[2017-02-16 01:37] ellismg commented on #229
This is how the tooling computes the rid for the runtime you are on.  We've been trying to use this logic more across places which need to answer the same question (I think CoreFX or BuildTools now pulls this in)  We have a bunch of places where logic has been duplicated because it can't take a dependency on managed code (e.g. our shell scripts).  We should centralize on this file being the "sourc

[2017-02-16 01:39] ellismg commented on #618
From my reading, #1425 was about the fact that `crossgen` was not in the `tools` folder of `Microsoft.NETCore.App`.

The ask here is to ensure that `crossgen` is in the shared framework directory (i.e. included in the `shared/Microsoft.NETCore.App/2.0.0` folder) so folks don't need to restore and poke instead a nupkg to get the tool.

[2017-02-16 01:58] gkhanna79 commented on #229
Sounds good @ellismg.  Are we planning to make change to the code above for RHEL?

[2017-02-16 16:45] ericstj commented on #618
If that's the case we need to decide if that happens in the Microsoft.NETCore.Runtime.CoreCLR package and just flows downstream or if we want to remap it to that folder during the build of Microsoft.NETCore.App.  @gkhanna79 I'd like your opinion on this.

[2017-02-16 18:06] gkhanna79 commented on #1530
@rakeshsinghranchi and @vivmishra - once you are done with the immediate issues, we can talk about this.

[2017-02-16 18:07] gkhanna79 commented on #472
Assigning to you @rakeshsinghranchi and @vivmishra - this can be looked into once there are no other immediate issues.

[2017-02-16 18:18] gkhanna79 opened #1557 "UAC prompt UI of .NET Core Runtime Bundle should display product details"
1) Run the Bundler generated by official build.
2) The UI displayed under the UAC prompt does shows the branch/architetcure instead of product name.

@rakeshsinghranchi and @vivmishra Another one to look into.

[2017-02-16 18:19] gkhanna79 commented on #1557
Once we understand this, we should port the fix to 1.0.x and 1.1.x as well.

[2017-02-17 01:14] gkhanna79 commented on #186
This is not blocking release and is best done once we have moved our build/packaging system to build tools, to prevent non-trivial amount of throwaway work.

[2017-02-17 01:18] gkhanna79 commented on #1532
@fearthecowboy Let us know if the above answers your question.

[2017-02-17 01:30] gkhanna79 opened #1559 "Port Nuget lowercasing change to 1.0.X"
@rrelyea @emgarten This is for 1.0.5

CC @eerhardt @piotrpMSFT @livarcocc @srivatsn @leecow

[2017-02-17 12:05] hqueue commented on #790
@gkhanna79 For corefx and corefx, we are almost done for arm32 cross-building in docker by now. (dotnet/corefx#15900 (merged), dotnet/coreclr#9445 (not merged yet))
Therefree I think it's time to discuss on enabling auto-PR test for coreclr and corefx.
Can we start discussion here ? or in the new issue ?

[2017-02-17 12:20] hqueue commented on #725
@gkhanna79  I found out that #789 is closed recently for arm.
Can we add "Enable Pipeline build support for Linux Arm32" for armel(tizen) and make a new issue for the item ? Let us know your plan for pipeline for armel, so we can keep pace with you :)

[2017-02-17 15:15] gkhanna79 commented on #725
@hqueue Yes, please create a new issue (assigned to me) for Tizen pipeline build for each of the 3 repos and add it to the workitem list for Tizen above.

[2017-02-17 18:50] alexanderuv commented on #570
I found this issue today as well, is there any solution? Why do we need the runtime json file?

[2017-02-17 19:20] joelverhagen commented on #1559
This is my commit to 1.1.0 that implemented this: https://github.com/dotnet/core-setup/commit/e5d476944462bce31a61852cf8fa1692f7683e7f

[2017-02-18 14:41] gkhanna79 opened #1561 "Treat negative test failures as passing"
Port https://github.com/dotnet/core-setup/pull/1560 and https://github.com/dotnet/core-setup/pull/1563

@wtgodbe do look into fixing this when servicing branch opens.

[2017-02-18 14:42] gkhanna79 opened #1562 "Treat negative test failure as passing"
Port https://github.com/dotnet/core-setup/pull/1560 and https://github.com/dotnet/core-setup/pull/1563

@wtgodbe do look into fixing this when servicing branch opens.

[2017-02-18 15:04] gkhanna79 commented on #570
Runtimeconfig.json is required to when building apps that run against Shared FX (i.e. Microsoft.NETCore.App FX). If it is missing, then we expect the app to be standalone and go down that path for activation and any missing components will be raised (as in the message above).

To attempt to run the app, as in the example above, is a user-error since that is not a supported publish/activation model

[2017-02-19 00:11] gkhanna79 commented on #1378
Looked at the failures and confirmed that they were just negative tests not being marked as passing. Fixed the status reporting with https://github.com/dotnet/core-setup/pull/1563 and https://github.com/dotnet/core-setup/pull/1560.

[2017-02-19 00:11] #1378 closed

[2017-02-19 01:36] Thealexbarney opened #1564 "Self-contained application won't start because dotnet.exe is missing"
## Steps to reproduce
Create a project with `dotnet new console`

Change the .csproj to this:
[code]

This .csproj results in a published application that doesn't contain some assemblies it doesn't need. The resulting application is 25MB instead of almost 50MB.

Restore and publish the application
`dotnet restore -r <RID>`
`dotnet publish -c release -r <RID>`

Run the resulting executable
## Expec

[2017-02-19 02:13] gkhanna79 commented on #1564
@piotrpMSFT @livarcocc Can you please take the first look at this publishing issue?

[2017-02-19 19:45] livarcocc commented on #1564
@Thealexbarney You are using `<DisableImplicitFrameworkReferences>true</DisableImplicitFrameworkReferences>` but then you are not adding Microsoft.NetCore.App to your `PackageReferences`.

When you disable the implicit framework, M.NC.App does not get automatically referenced for you. That's why you are missing so many things.

[2017-02-19 20:32] Thealexbarney commented on #1564
I'm doing what's described [here](https://github.com/dotnet/docs/blob/16d7af196144ed0ec97eb1a438646bedcea45c2d/docs/core/preview3/deploying/index.md#deploying-a-self-contained-deployment-with-a-smaller-footprint) by replacing the Microsoft.NetCore.App reference with only the needed dependencies.

I don't completely know how dependencies are resolved at runtime, but it appears that that it's lookin

[2017-02-20 03:32] gkhanna79 commented on #186
@AlfredoMS Can you PTAL at this as part of your transition to use build tools? Essentially, we need to generate symbol packages for the host binaries.

[2017-02-20 03:37] gkhanna79 commented on #634
@dcorns Can you repro the issue (of CoreCLR initialization) using Fedora 24 version of .NET Core (which you can download from https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/dotnet-fedora.24-x64.latest.tar.gz) on Fedora 25?

[2017-02-20 03:41] Petermarcu commented on #1564
I think this is because in 2.0, the granular packages aren't there anymore.

@ericstj can confirm. In 2.0, you can only reference the platform and we're coming up with a different way of making sure your application is as small as possible that doesn't require that you manange such granular references.

@richlander @russellhadley , Looks like apps that followed the docs [here](https://github.com/d

[2017-02-20 03:43] gkhanna79 opened #1565 "Enable conditional rollforward when no candidate FX is found"
After the patch rollforward that we do today, if the version of .NET required is not available on the machine, and DOTNET_NO_CANDIDATE_FX_ROLLFORWARD environment variable is set, we will load the next lowest version available and do patch rollforward on that version.

a.      If 1.0.1 is requested and only 1.1.0 and 1.1.1 are on the machine, then you would get 1.1.1
b.      If 1.0.1 is requested a

[2017-02-20 05:37] DamianEdwards commented on #1565
👍

[2017-02-20 05:38] DamianEdwards commented on #1565
Perhaps this should be possible via a cmd line arg and/or runtimeconfig.json setting also.

[2017-02-21 04:54] hqueue opened #1566 "Enable Pipeline build support for Linux armel (Tizen)"
Enable Pipeline build support for Linux armel (Tizen) and publish packages.

[2017-02-21 17:54] omajid commented on #1217
Here's an example of something that will benefit immensely from this change.

Currently, building roslyn fails. This is what rolsyn is doing, which would probably apply to other projects too:

    $(BINARIES_PATH)/dotnet-cli/dotnet publish

This fails:

    Can not find runtime target for framework '.NETCoreApp,Version=v1.1' compatible with one of the target runtimes: 'rhel.7.3-x64'. Possible caus

[2017-02-21 19:04] gkhanna79 commented on #1217
For this scenario, isn't the RID computed by CLI publish infrastructure @livarcocc @eerhardt and if so, shouldn't it account for the missing/unknown RID and cap to the known ones?

[2017-02-21 19:44] gkhanna79 commented on #626
I will close this for now as I believe the question has been answered. Please reopen if there are more questions on this.

[2017-02-21 19:44] #626 closed

[2017-02-21 19:45] gkhanna79 commented on #229
CC @eerhardt

[2017-02-21 19:53] omajid commented on #1217
At least part of the runtime knows about `rhel.7.3-x64`: https://github.com/dotnet/corefx/pull/15006

[2017-02-21 19:57] gkhanna79 commented on #753
@livarcocc @piotrpMSFT Is this still applicable with the change to MSbuild based CLI?

CC @eerhardt

[2017-02-21 20:00] ellismg commented on #1217
I believe that the RID is computed by using Microsoft.DotNet.PlatformAbstractions (and if it isn't, IMHO we should be fix that).

If we took this change, Roslyn would just have to list "rhel.7-x64" in their runtimes section and then we could publish on any RHEL version.

[2017-02-21 20:28] tmds commented on #1217
@ellismg Why does the roslyn publish operation care about the runtime id? Is this being published to run as a 'stand-alone' app?

[2017-02-21 21:55] ellismg commented on #1217
Yes, today they publish some stuff in their build infrastructure as a standalone app, hence the dependency on a rid.

[2017-02-22 00:00] cakine commented on #1565
@gkhanna79 What is the expected behavior when dealing with prereleases?

For instance:
a. If 1.0.0-dummyA is requested and only 1.1.0-dummyC and 1.1.1-dummyB are on the machine.
b. If 1.0.0 is requested and only 1.1.0-dummy  and 1.2.0 are on the machine.
c. If 1.0.0-dummy is requested and only 1.2.0-dummy and 1.1.0 are on the machine.

[2017-02-22 00:16] gkhanna79 commented on #1565
For pre-release versions, the current policy is to the return the next higher minimum version of the requested pre-release version is missing. There are no patch roll forwards for pre-release versions. Thus, for (a) above, it will return 1.1.0-dummyB after this feature is enabled.

For (b), since the requested version is non-prerelease, 1.2.0 will be returned after this feature is enabled (if you

[2017-02-22 00:31] eerhardt opened #1570 "Only publish dotnet-deb-tool for Ubuntu.14.04-x64 build"
See the conversation here:

https://github.com/dotnet/core-setup/pull/1569/files/f2002f2a9eb1755ca5af0adc7e6cac305060590d#r102353639

We currently publish the deb-tool for both x64 and arm builds.  We only need to publish it once.  When we fix this, we can remove `CLI_NUGET_FEED_URL` variable from the Core-Setup-CrossBuild.json pipe build definition.

[2017-02-22 03:14] naamunds commented on #1555
All build definitions should be made to upload build logs; currently only the Fedora 23 build definition does this (see https://github.com/dotnet/core-setup/blob/master/buildpipeline/Core-Setup-Fedora23-x64.json#L22-L39).  For the Windows build definitions, the `Contents` will need to use a backslash instead (`"**\\*.log"`).

/cc @ramarag

[2017-02-22 03:37] MichaelSimons commented on #279
This is still something we would like to have for our Dockerfiles.  It is part of Docker's [criteria for making official images](https://github.com/docker-library/official-images#security).

[2017-02-22 03:37] rakeshsinghranchi opened #1573 "UAC prompt UI of .NET Core Runtime Bundle should display product details in 1.1.x"
1.Run the Bundler generated by official build for 1.1 .
2.The UI displayed under the UAC prompt does shows the exe name instead of product name.

[2017-02-22 03:40] rakeshsinghranchi opened #1574 "Uninstalling 1.1.0-preview1 runtime breaks 1.0.1 runtime - Fix in 1.0.x"
## Steps to reproduce

1. Install [1.0.1 runtime](https://go.microsoft.com/fwlink/?LinkID=827515)
(I see that the `C:\Program Files\dotnet\host\fxr\1.0.1` directory gets created)
2. Install [1.1.0-preview1 runtime](https://go.microsoft.com/fwlink/?LinkID=831444)
3. Uninstall 1.1.0-preview1 runtime
(There is no longer a `C:\Program Files\dotnet\host` directory)
## Expected  behavior
[code]

## Actu

[2017-02-22 03:41] rakeshsinghranchi opened #1575 "Uninstalling 1.1.0-preview1 runtime breaks 1.0.1 runtime - Fix in 1.1.x"
## Steps to reproduce

1. Install [1.0.1 runtime](https://go.microsoft.com/fwlink/?LinkID=827515)
(I see that the `C:\Program Files\dotnet\host\fxr\1.0.1` directory gets created)
2. Install [1.1.0-preview1 runtime](https://go.microsoft.com/fwlink/?LinkID=831444)
3. Uninstall 1.1.0-preview1 runtime
(There is no longer a `C:\Program Files\dotnet\host` directory)
## Expected  behavior
[code]

## Actu

[2017-02-22 06:46] hqueue commented on #790
@gkhanna79 @jyoungyun Let' discuss about "default triggers" and "on-demand triggers" for arm32 in core-setup, coreclr and corefx.
Following is a draft plan. For Core-Setup, I think you have similar plan in mind. What do you think of it ?

- Core-Setup
  **default triggers**
  Ubuntu arm Release
  Ubuntu16.04 arm Release
  Tizen armel Release

- CoreCLR & CoreFX
  **default triggers**
    Ubuntu ar

[2017-02-22 07:33] tmds commented on #1217
Do you know why they publish it standalone? The source build doesn't need a standalone version of the compiler, right?

It would be best if the target rid doesn't need to exist. So for version 16 of my home-brew banana linux:
[code]
I am borrowing the terms `build` and `target` from the GCC (https://gcc.gnu.org/onlinedocs/gccint/Configure-Terms.html).

What do you think?

The discussion has trigge

[2017-02-22 09:09] tmds opened #1578 "How to make a linux-x64 SDK"
There is a linux-x64 download link available at README.md. How can it be used to make a linux-x64 SDK?

[2017-02-22 16:39] gkhanna79 commented on #1578
@piotrpMSFT @livarcocc would need to update CLI to consume it and build the SDK support for it.

CC @eerhardt

[2017-02-22 16:48] gkhanna79 commented on #790
@hqueue Overall this looks fine. Any reason 16.04 is excluded for CoreCLR and CoreFX from the default configuration?

CC @weshaggard

[2017-02-22 17:05] naamunds commented on #279
@gkhanna79 Who would you like this issue to be assigned to?

[2017-02-22 17:07] gkhanna79 commented on #279
Is there BuildTools support to generate the checksums and persist them?

[2017-02-22 17:11] #1570 closed

[2017-02-22 17:20] naamunds commented on #279
@gkhanna79 No; I added this logic directly to CLI in https://github.com/dotnet/cli/pull/4191.

[2017-02-22 17:38] gkhanna79 commented on #279
But if we are going to move to BuildTools based build, why does not this logic exist there for the repos to consume?

[2017-02-22 18:00] naamunds commented on #279
@dleeapho What do you think about moving the checksum generation logic to BuildTools? I think it might make sense, so it could be utilized by multiple dotnet repos.

[2017-02-22 19:55] gkhanna79 commented on #618
@ellismg even if crossgen is part of sharedFX, you would still need to do something like https://github.com/dotnet/core-setup/blob/e82cf3aef2537ba95aa5a0d258b1daf60d2a2dca/build_projects/shared-build-targets-utils/Utils/Crossgen.cs#L38 to pickup the appropriate crossgen. Doesn't this mean that the additional work being done is simply to restore the CoreCLR package?

This leads me to another questi

[2017-02-22 20:25] dleeapho commented on #279
Makes sense, we should move the checksum and persistence logic out of CLI into BuildTools to share it across CLI and Core-Setup. Logged the issue [https://github.com/dotnet/core-eng/issues/497](https://github.com/dotnet/core-eng/issues/497)

[2017-02-22 20:51] dagood commented on #186
The CMake parts of enabling symbol stripping are [CMakeLists.txt#L139-L230](https://github.com/dotnet/corefx/blob/eab37f9a596583b55e67568036dc1987c1319447/src/Native/Unix/CMakeLists.txt#L139-L230). The `STRIP_SYMBOLS` arg is passed in by [build-native.sh#L216](https://github.com/dotnet/corefx/blob/eab37f9a596583b55e67568036dc1987c1319447/src/Native/build-native.sh#L216).

After that, to start putt

[2017-02-22 21:06] ellismg commented on #618
I don't understand why that's the case.  If it is part of the shared framework, I know there's "crossgen" in `$DOTNET_ROOT/shared/<version>` and I can just invoke that.

Look at [crossgen.sh](https://github.com/dotnet/corefx/blob/master/Tools-Override/crossgen.sh) in CoreFX.   It does the restore dance and copy just to get stuff in the shared framework folder.  It has to do all this goofy fallback

[2017-02-22 21:18] gkhanna79 commented on #618
@ellismg For cross-targeted SharedFX (e.g. M.N.App for WinArm32), which crossgen should be in SharedFX - the one that runs natively on Arm32 (in which case you can only crossgen on Arm32 machine) or the one that is x86 hosted targeting Arm32 (in which case you can crossgen without Arm32 machine) or both?

What is your crossgen scenario?

[2017-02-22 21:23] ellismg commented on #618
I would assume the one present would be the the Arm32 version, just like all the other native stuff in there.

Basically what crossgen.sh is doing in CoreFX.  There we want to crossgen a bunch of IL images we restored and published from other packages to speed things up.  When @mellinoe added crossgen.sh we found it speed up the CoreFX build considerably.

[2017-02-22 21:26] gkhanna79 commented on #618
So, to confirm, you will run crossgen to generate R2R version of FX assemblies on an Arm32 machine - is that correct? Other native stuff being Arm32 does not matter until you decide to execute it.

[2017-02-22 21:27] gkhanna79 commented on #215
@ramarag Assigning this to you as part of you looking into the host signing work.

[2017-02-22 21:28] gkhanna79 commented on #215
Please see https://github.com/dotnet/core-setup/pull/711 for links to the proposal of the work and outstanding issues.

[2017-02-22 21:32] ellismg commented on #618
Yes.

[2017-02-22 21:59] gkhanna79 commented on #618
Thanks @ellismg.

@brianrob Can you comment on the question above as well?

[2017-02-22 22:29] janvorli commented on #1490
@fearthecowboy I have just merged in change #9650 that ensures that stack overflow is properly reported in all cases.

[2017-02-23 03:44] hqueue commented on #790
@gkhanna79  There is no reason excluding 16.04 at all, just want to minimize the CI legs.
If there is room, we want to add CI for Debug instead of another Release.
Because there is little code difference between 14.04 and 16.04 Release build, but there is a lot of code difference between Release and Debug, also there is difference btw  arm and armel.

Therefore how about following legs for coreclr

[2017-02-23 04:31] gkhanna79 commented on #790
@hqueue what if you moved U16.04 Debug to default and moved Ubuntu Arm Debug to on-demand and keep everything else the same?

[2017-02-23 04:48] gkhanna79 commented on #1578
@tmds Can you please move this to CLI repo where this is applicable to?

[2017-02-23 04:55] gkhanna79 commented on #177
This was a general tracking issue for host security split and can be closed against other issues tracking that work.

[2017-02-23 04:55] #177 closed

[2017-02-23 04:56] gkhanna79 commented on #618
@brianrob Can you please help with the above question?

[2017-02-23 05:06] brianrob commented on #618
We'd use crossgen for profiling at all times, production included.  We will likely need to support standalone apps as well.  I think the key is that we don't want to have our tooling depend on the runtime or Nuget (which has a runtime dependency) to download crossgen.  If there was a nice way for us to get crossgen (perhaps via the symsrv protocol) then that would be fine as well.

[2017-02-23 05:09] gkhanna79 commented on #618
I dont believe this would work for non-Windows scenarios. How does your script work today?

[2017-02-23 05:15] brianrob commented on #618
Today, the script assumes that crossgen is present next to libcoreclr.so.  We've not implemented any automation around deploying crossgen.

With respect to symsrv - there is work being done at this time to support a cross-platform symbol story, which would allow us to pull symbol files, etc. in a manner similar to symsrv.

[2017-02-23 05:20] gkhanna79 commented on #618
Who is doing that work and what is its ETA? Will that work result in automatically indexing (or enabling capability) binaries we build as that should enable your script to pull down crossgen from this "symsrv" equivalent for both Shared and Standalone scenarios?

[2017-02-23 05:24] brianrob commented on #618
@noahfalk and @markwilkie should be able to provide more details on the work and timeline.

Yes, this work would potentially allow us to index crossgen (and other binaries/symbols as required) to be downloaded by using a lookup key that can be derived from information on the box in both standalone and shared framework scenarios.

The bigger picture for this work is that if you have a crash dump or

[2017-02-23 05:27] gkhanna79 commented on #618
In that case, @brianrob, I think your dependency should be on the work @noahfalk and @markwilkie are driving as that will also alleviate the need to have crossgen in standalone apps and make your scenario work in an independent manner.

[2017-02-23 05:28] brianrob commented on #618
That seems reasonable to me.  This issue (or the CLI version of it) pre-dates the symbols work, so that was not an option at the time.

[2017-02-23 05:51] hqueue commented on #790
@gkhanna79 That sounds better :)

[2017-02-23 05:53] gkhanna79 commented on #790
Excellent!

[2017-02-23 08:13] tmds commented on #1578
Moved to https://github.com/dotnet/cli/issues/5811

[2017-02-23 08:13] #1578 closed

[2017-02-23 18:47] fearthecowboy commented on #1532
Yes, I'm doing pretty good with this approach.

[2017-02-23 18:47] #1532 closed

[2017-02-23 19:48] fearthecowboy commented on #1519
The script isn't really a fantastic way to automate the installation. Further to that, it doesn't solve any of the problems we actually have...

I was under the (apparently mistaken) impression that there was the notion of a "self-contained deployment" -- which there is, only if you have already installed the pre-requisites mentioned at https://github.com/dotnet/core/blob/master/Documentation/prer

[2017-02-23 22:41] fearthecowboy commented on #1519
@Petermarcu Is it physically possible for me to gather up all the system-level dependent bits and merge them into the framework so that I don't have to do system-level installs of those things?

[2017-02-23 22:47] JunTaoLuo opened #1581 "Incorrect link in Readme for Release/1.0.X Ubuntu 14.04 Shared Framework"
## Steps to reproduce
Download the https://dotnetcli.blob.core.windows.net/dotnet/preview/Installers/Latest/dotnet-sharedframework-ubuntu-x64.latest.deb

## Expected  behavior
Installs Microsoft.NETCore.App 1.0.4

## Actual behavior
Installs Microsoft.NETCore.App 1.0.1

## Environment data
Ubuntu 14.04, let me know if there is any other environment data that is relevant here.

cc @Petermarcu

[2017-02-23 22:59] Petermarcu commented on #1519
Yes, @janvorli is working on making sure you can do that. I think there were a couple bugs he had to fix to make sure we load them but would love to have you try it out :)

Note, it's only going to work for .NET Core 2.0+.

[2017-02-23 23:38] janvorli commented on #1519
@fearthecowboy regarding the list of dependencies, you are right. We need to fix our documentation to describe separately the runtime dependencies and the build time (meaning coreclr / corefx build) dependencies. Basically, you don't need any of the dev packages for runtime, just their corresponding non-dev variants.

[2017-02-23 23:45] fearthecowboy commented on #1519
@Petermarcu  At this point, I'm more concerned with making sure it all installs smoothly, rather than which version of .NET Core I'm attached to. 😃

I'll take whatever @janvorli has, right away!

[2017-02-24 02:19] Petermarcu commented on #1519
This is where I usually point people :) https://github.com/dotnet/dotnet-docker/blob/master/1.1/debian/runtime-deps/Dockerfile

Thats what is actually needed at runtime for debian.

@janvorli, we should see whether @fearthecowboy can try the work you are doing to enable people to copy the linux binaries into their app and point to them to alleviate the deployment pain.

[2017-02-25 00:52] Petermarcu opened #1589 "Ubuntu 16.04 and 14.04 arm32 builds don't seem to be hooked up to netcore.app"
## Steps to reproduce
try to publish standalone for ubuntu.14.04-arm

I looked at runtimes.json in the package and its not referenced.

## Expected  behavior
You get a standalone app with all the assets

## Actual behavior
You get a shared framework app

## Environment data

[2017-02-25 00:52] Petermarcu commented on #1589
@ericstj

[2017-02-26 02:41] am11 opened #1590 "Why is the rc4 SDK package size over double compared to preview3?"
The size of https://dotnetcli.blob.core.windows.net/dotnet/Sdk/1.0.0-preview3-003223/dotnet-dev-centos-x64.1.0.0-preview3-003223.tar.gz is 49.4 MB

whereas https://dotnetcli.blob.core.windows.net/dotnet/Sdk/1.0.0-rc4-004911/dotnet-dev-centos-x64.1.0.0-rc4-004911.tar.gz is 123 MB

Is it by design or the packaging error?

[2017-02-26 14:21] nazal2013 opened #1591 "Hi everyone, after suffring during three weeks, running through linux OS, installing, uninstalling, I finally find issue about segmentation fault on debian 8 to highier when running dotnet new/dotnet restore/dotnet build and so on. The issue is to downgrade libcurl3 instead of the newest version. Enjoy"
## Steps to reproduce

## Expected  behavior

## Actual behavior

## Environment data

[2017-02-26 16:38] Petermarcu commented on #1591
Which version of Debian 8 are you on? We do testing on Debian 8+. Also, can you provide more details on the version of libcurl that didn't work and which one you downgraded to to get it working?

[2017-02-26 16:41] Petermarcu commented on #1590
This is by design. The SDK grew in size for two reasons with the goal being that you only have to download one thing to do the majority of your work with 1.X.

1. It delivers you a 1.0 and a 1.1 runtime so you can develop against both LTS and Current
2. It delivers a larger NuGet cache including more of ASP.NET so you can do offline ASP.NET development and don't have to go to NuGet for any of the

[2017-02-26 18:27] am11 commented on #1590
@Petermarcu, thanks for your detailed reply!

Actually I was preparing a PR for CoreRT, to update to .NET Core 1.1 and realized that the runtime download time has significantly increased during the build tools init.

Is there a way to compose a smaller bundle, with specific needs? For example, CoreRT needs a bug fix in 1.1 runtime to be able to run on CentOS7 etc. or generally any Linux Kernel 4.6

[2017-02-26 19:00] MichalStrehovsky commented on #1590
+1 on the smaller bundles. US is a country where internet speeds below 25 MBit/second [can't even be called broadband anymore](http://www.nbcnews.com/tech/internet/faster-internet-fcc-sets-new-definition-broadband-speeds-n296276), but there are plenty of regions where less is the norm. Pay for play download sizes would be nice.

[2017-02-26 19:35] jkotas commented on #1484
FWIW, this duplication was introduced originally to make nuget guardrails happy: https://github.com/dotnet/coreclr/pull/3043#issuecomment-180515876

[2017-02-26 20:18] Petermarcu commented on #1590
I've been looking at other CI times as well and this did significantly increase the overall time not just for download but also extraction. Yes there is a way to have something smaller for CI if you don't want everything. We should figure out a way to create that for our engineering system and any other engineering system that:

1. Knows the version of the runtime they need.
2. Does want or need t

[2017-02-26 20:31] Petermarcu commented on #1590
@dleeapho This is an interesting toolset conversation. The SDK that we should be using for our CI should be optimized to not have multiple runtimes, a NuGet cache, or any upstack components that are not needed.

[2017-02-26 20:48] Petermarcu commented on #1590
One thing to note, I believe there is a problem with getting rid of the duplicate runtimes in 1.X because some tools bind against 1.0 and some against 1.1. I think dotnet test is still 1.0.

@am11 , is there a reason you can't use the 2.0 SDK? It still has duplicate runtimes but I'm guessing thats where the fixes will go. https://github.com/dotnet/cli/tree/master

Just with a quick experiment dele

[2017-02-26 20:57] am11 commented on #1590
There are some known package bundling techniques which Linux distributions use. For example, CentOS offers `minimal`, `everything` and `live` options.

.NET Core can probably have same kind of stepped-approach for most common scenarios:

Minimum == { AllCoreCLR, AllCoreFX }
Everything == { Minimum, AllASPNET }
EverythingWithALegacyGeneration = { Everythingv_vLatest, Everythingv_vLatest-1 }

and so

[2017-02-26 20:58] am11 commented on #1590
@Petermarcu, I will try with 2.0. Thanks for the tip.

[2017-02-26 21:03] Petermarcu commented on #1590
Interesting insight with the Centos example. I'll take a closer look at that. Making the NuGet server smarter is a great idea but I fear that will be harder to get done in the near term.

[2017-02-26 21:04] Petermarcu commented on #1590
BTW, like I said, 2.0 is still going to be kinda big for now but it is something on my radar that I am looking at addressing.

[2017-02-26 23:13] nazal2013 commented on #1591
Dear Peter,

Thanks a lot for your interest in my answer, I have kali linux with latest update(now = debian 9) and after downgrade from libcurl3_7.58 to libcurl3_7.38, I fixed the Segmentation fault error. Thanks

________________________________
De : Peter Marcu <notifications@github.com>
Envoyé : dimanche 26 février 2017 17:38:11
À : dotnet/core-setup
Cc : Oumarou CHAÏBOU; Author
Objet : Re: [do

[2017-02-27 00:06] Petermarcu commented on #1591
Thanks for the info. We'll take a look at whats going on with the newer curl. @janvorli @gkhanna79

[2017-02-27 04:23] Petermarcu commented on #1589
@gkhanna79 as well. I can make the PR to fix this if someone points me at where this needs to be. I tried here: https://github.com/dotnet/core-setup/blob/master/pkg/projects/Microsoft.NETCore.App/Microsoft.NETCore.App.props but that doesn't seem to do it.

[2017-02-27 08:40] jyoungyun commented on #725
@gkhanna79 What do you have a 2.0.0 release plan about `sdk` ? Currently I can't find branch for 2.0.0 release in `cli`.

[2017-02-27 10:59] janvorli commented on #1591
I am just installing Debian 9 and I will look into it.

[2017-02-27 16:25] Petermarcu commented on #725
@jyoungyun , take a look at the master branch of the cli repo.

[2017-02-27 16:43] janvorli commented on #1591
Unfortunately, Debian 9 VM gets into perpetual restart loop on my HyperV after the installation completion. I'll try to get the Kali Linux you've mentioned to see if that works for me. They have HyperV image, so that should work, I hope.

[2017-02-27 16:58] ericstj commented on #1484
@jkotas that's never been a problem for System.Private.Corelib.  It was needed to match ref of mscorlib with lib of mscorlib, but never S.P.C since there is no ref exposed for that.  This is purely a bug in the coreclr package.

[2017-02-27 16:59] nazal2013 commented on #1591
Try it must work
________________________________________
De : Jan Vorlicek [notifications@github.com]
Envoyé : lundi 27 février 2017 17:43
À : dotnet/core-setup
Cc : Oumarou CHAÏBOU; Author
Objet : Re: [dotnet/core-setup] Hi everyone, after suffring during three weeks, running through linux OS, installing, uninstalling, I finally find issue about segmentation fault on debian 8 to highier when run

[2017-02-27 17:01] ericstj commented on #1589
@Petermarcu that's the right place to do it.  What made you think it wasn't working?

[2017-02-27 17:04] Petermarcu commented on #1589
I added the additional entries and built but didn't see them showing up in the runtimes.json under pkg\bin\localpkg. Where should I look to see if the change worked?

[2017-02-27 17:12] Petermarcu commented on #1589
I may see the problem with my change. Can you confirm I'm looking in the right place to verify the change?

[2017-02-27 17:14] gkhanna79 commented on #1589
I would like to understand this better - https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.ubuntu.14.04-arm.Microsoft.NETCore.App is already getting published. Why do we need a change in the file above to ensure that CLI's standalone publish should work like it used to before this file was introduced?

[2017-02-27 17:18] Petermarcu commented on #1589
It seems like you either have to link it in the runtimes.json or explicitly reference the runtime package. I was also hoping that there wasn't a need to have a reference in the runtimes.json but it appeared to be the way it works.

[2017-02-27 17:19] Petermarcu commented on #1589
@ericstj , it was a bug in my change. It is now showing up in the runtime.json.

[2017-02-27 17:21] gkhanna79 commented on #1589
Which runtimes.json is this and why is this change required to make standalone work (and not required earlier)?

[2017-02-27 17:34] Petermarcu commented on #1589
Here is my PR: https://github.com/dotnet/core-setup/pull/1592

[2017-02-27 17:35] Petermarcu commented on #1589
When I publish standalone for the new RID's the contents of the runtime package don't get placed into my publish folder.

[2017-02-27 17:41] gkhanna79 commented on #1589
My question is that such a change was not required earlier as CLI would ensure that all artifacts would get to the publish folder. Why do we need to make a change Core-Setup now to support the standalone experience in CLI?

[2017-02-27 17:44] Petermarcu commented on #1589
I've had the same question in my head. I'd like to understand how all this hooks up better.

[2017-02-27 17:46] livarcocc opened #1593 "dotnet --version/--help should be more explicit that they only work when the SDK is installed"
From @davkean at https://github.com/dotnet/cli/issues/5775

Provide a little clearer information that dotnet --version/--help are only applicable when the SDK is installed.

Running:
[code]

or

[code]

Outputs the following:

[code]

This should be more clearer that this is only applicable when the _actual SDK_ is installed.

[2017-02-27 17:52] ericstj commented on #1589
Because core-setup builds RID specific packages.  Previously it did not.

FWIW vertical build for these RIDs still works just fine with no change.  It's just needed because we ship a single package for convenience of reference that needs to list all the RID-specific packages.

[2017-02-27 17:52] gkhanna79 commented on #725
@hqueue @hseok-oh @jyoungyun Over the last week, I have switched our official pipeline builds to use the _ubuntu1404_cross_prereqs_v2_ and _ubuntu1604_cross_prereqs_v2_ Docker images that contain the arm32 toolset in _/crossrootfs/arm_. Can you please look into update the CI scripts you are adding/added for CoreCLR/CoreFX/Core-Setup repos to use them and remove the build-rootfs step?

[2017-02-27 18:05] Petermarcu commented on #1589
I thought the whole design was to allow additional rids to hook up to netcoreapp without needing to modify it.

[2017-02-27 18:07] ericstj commented on #1589
That's right, it isn't needed for vertical build.  This package isn't a vertical build package.  Its a single RID-less package that has to be produced in one place.

[2017-02-27 18:25] janvorli commented on #1591
@nazal2013 So I have installed the Kali Linux and it works in the VM. How do I install the latest update that will bring the debian 9 stuff in?
And can you please tell me which link have you used to install dotnet? We provide various versions and two ways of installation (tar.gz vs debian package).

[2017-02-27 18:43] omajid commented on #1217
I opened https://github.com/dotnet/roslyn/issues/17421 to track the roslyn issues

[2017-02-27 20:38] omajid commented on #1593
As a user, I find this very confusing!

If I install a program named `python`, I can use `python --version`. Same for `java -version` and `gcc --version`. Is there any other program that requires installing something else for `--version` (or equivalent) to work? Why does `dotnet` behave this way?

[2017-02-28 02:12] hqueue commented on #725
@gkhanna79 Cool! We will update the script.

[2017-02-28 05:16] jyoungyun commented on #725
@Petermarcu Thank you!

[2017-02-28 16:05] dagood opened #1596 "[release/1.0.0, release/1.1.0] Use NuGet v2 endpoint (not v1.6) to push to MyGet"
Currently the release servicing branches push to the v1.6 MyGet url, which fails in some situations such as overwriting a package. https://github.com/dotnet/core-setup/pull/1567 needs to be ported to the release branch builds, when possible.

[2017-02-28 16:11] ravimeda commented on #1596
Update the value of NUGET_FEED_URL from "https://dotnet.myget.org/F/dotnet-core"  to  "https://dotnet.myget.org/F/dotnet-core/api/v2"  in all buildpipeline/*.json.

[2017-02-28 16:22] gkhanna79 opened #1597 "Dynamically lightup of injected packages as part of application closure"
Today, an application's closure is defined by its corresponding .deps.json file, which is statically computed and known at publish time. However, there are scenarios where certain packages may needed to be injected at runtime for them to become part of the application closure.

To support this, the entity wishing to inject packages would produce a _lightup.deps.json_ and place it in a folder that

[2017-02-28 16:34] challe commented on #725
I'm trying to create a .NET Core Web API for my Raspberry Pi 3 running Ubuntu 16.04 with the lates 2x runtime. I'm using Visual Studio Code on my Windows when developing. My current SDK version is `2.0.0-alpha-004853`, but when I do `dotnet new webapi` it adds these  package references in my csproj-file:
[code]
I have heard this is the reason I can't make it run when I then try to publish the file

[2017-02-28 16:35] eerhardt commented on #1597
@gkhanna79 - Can you give a more concrete user scenario?

[2017-02-28 16:47] gkhanna79 commented on #725
@challe Please file an issue in CLI repo to drive the discussion there about how to get a CLI SDK that supports 2.0 framework (which is under development right now).

[2017-02-28 17:09] challe commented on #725
I'll do that. Thanks.

[2017-02-28 17:53] glennc commented on #1597
@eerhardt When you deploy your application to Azure App Service it will automatically log to the right place, taking into account Azure specific configuration, without you needing to remember to explicitly turn it on or configure it before a problem occurs. That's one end goal that we would enable using this.

[2017-02-28 17:55] rahulreddy65 commented on #725
Hi, I tried to run 1.0.0-preview5-004431 version but it doesn't work. It doesn't even work with hello world. Can anyone please tell me if there is any working version which I can use? If you can, please post the download link. Thank you.

[2017-02-28 17:58] gkhanna79 commented on #725
@rahulreddy65 Lets discuss this in https://github.com/dotnet/cli/issues/5868.

[2017-02-28 18:28] #1565 closed

[2017-02-28 20:12] gkhanna79 commented on #753
@piotrpMSFT @livarcocc Any thoughts on this?

[2017-02-28 20:15] gkhanna79 commented on #1484
@brianrob @noahfalk Do you rely on having the IL version of SPC.dll to be present next to CoreCLR in SharedFX?

[2017-02-28 20:17] brianrob commented on #1484
@gkhanna79, I don't know of any reason why we need the IL version.  Confirming - if we did need IL for something, it's still in the NI, right?

[2017-02-28 20:55] noahfalk commented on #1484
No dependency that I am aware of from the diagnostics side.

[2017-02-28 21:10] livarcocc commented on #753
I still think this is applicable. The overall problem, just not sure if this is the best solution.

[2017-02-28 22:02] gkhanna79 commented on #1484
@brianrob IL is present in the NI image but the question is really about how you wish to access it. What is the use-case for IL when you would need it?

[2017-02-28 22:03] brianrob commented on #1484
@gkhanna79, I don't have a use-case for needing IL at this time.  I think you're fine to remove it.  I was just confirming my understanding.

[2017-02-28 22:40] RheaAyase opened #1599 "Linux Packaging"
A few things to make clear regarding packaging.

1. What are we packaging? A single package that contains everything, or two or even three separate packages? (host, framework...)
2. How do we call it? There are debian based packages with naming as dotnet-host, dotnet-hostfxr, dotnet-sharedframework. Now imagine `dnf install` or `apt-get install` - what would the user install when, which takes me t

[2017-02-28 22:47] noahfalk commented on #1484
Debuggers and profilers expect the IL/metadata to exist in the NI image. I don't think anyone was suggesting removing that content from the NI image, but mentioning it just in case. Both of those tools access the data by virtue of the NI being loaded at runtime, then native APIs the runtime provides allow that IL/metadata to be consumed by tools.

[2017-02-28 22:59] gkhanna79 commented on #229
Closed with https://github.com/dotnet/core-setup/pull/1584.

[2017-02-28 22:59] #229 closed

[2017-03-01 02:29] ellismg commented on #1599
/cc @Petermarcu @piotrpMSFT @leecow @bleroy @gkhanna79

Let's take a moment and step back and look at the different pieces of the product. There are three major parts:

1. The host (also known as the muxer or `dotnet`). This is the native goup built from dotnet/core-setup. It contains both the host itself (`dotnet`) and the supporting policy libraries (installed in `host/fxr`). `dotnet`'s job is t

[2017-03-01 04:01] bleroy commented on #1599
Seen from the user's perspective, I would expect most developers will want to just install the latest SDK. Users who want to setup a server environment where the tooling is not required will prefer `dotnet-sharedframework-*`. I don't see a scenario where you'd get only the muxer, this is mostly to be a dependency for the others. This makes me think we might want to tweak those package names a bit

[2017-03-01 04:21] Petermarcu commented on #1599
One thing I've liked is a package convention I've seen which has "platformname" for the execution runtime, and "platformname-dev" for the development assets for that package. Is that a convention we should follow. It's very intuitive in that people ask the right questions. If someone see a dockerfile with a -dev package in it they know its for development and they also then look for one that doesn

[2017-03-01 04:26] bleroy commented on #1599
Maybe:

* `dotnet` -> latest runtime / shared fx
* `dotnet-major.minor` -> specific runtime / shared fx
* `dotnet-sdk` -> latest sdk

[2017-03-01 04:34] Petermarcu commented on #1599
I personally like that pattern

[2017-03-01 07:19] Petermarcu commented on #1599
A couple comments but I think @ellismg has really well articulated much of it.

I could see there being a challenge when installing the `dotnet-sdk` package (latest) brings in `dotnet-1.1`, then we update the sdk to have 2.0 in it and updating `dotnet-sdk` would remove `dotnet-1.1` and install `dotnet-2.0`

Am I correct on that being the behavior of the package manager? Is there a way to express t

[2017-03-01 15:39] omajid commented on #1599
Hey everyone. Thanks for the great input and thoughts.

@ellismg said:

Would it be fair to say that users will want:

1. Latest version of `dotnet-host` (or equivalent)
2. Latest version of `dotnet-sdk` (or equivalent)
3. Multiple versions of `dotnet-sharedfamework` (or equivalent)

Is this combination is working for 1.0 and 1.1? Is it expected to continue working for 2.0 and foreseeable future?

[2017-03-01 15:55] Petermarcu commented on #1599
Good input. Sounds like "-sdk" is the way to go for the name. Sounds like we also don't need "-runtime" because thats what "dotnet" is when it doesn't have "-sdk".

#1 and #2 are correct.

For #3 it's unclear to me if over time users will want to be able to get multiple copies of "-sdk". That would depend on the SDK always being backwards compatible. If it ever broke, the fix would be to explicitl

[2017-03-01 20:54] Petermarcu opened #1605 "core-setup needs to move to 2.0.0-preview1-XYZ versioning scheme."

[2017-03-01 23:49] leecow commented on #1599
To touch on a question in Matt's original post, the current Ubuntu debs are authored to resolve and download dependencies at install time. eg `apt-get install dotnet-dev-1.0.0-preview2.1-003177` also downloads and installs the defined `dotnet-host`, `dotnet-hostfxr`, `dotnet-sharedframework` and `dotnet-sdk` (in that order).

I would want to be very careful about automatically removing past versio

[2017-03-02 00:05] brianrob opened #1607 "Debian Packages Strip Symbols from Shared Object Files"
The process of producing the .deb package files strips symbols out of the .so files.  However, we explicitly include function-level symbols in native binaries for use during performance tracing.  tar.gz files are unaffected.

## Steps to reproduce
1. Install the .deb files for the shared framework for any of the Ubuntu distros either directly or via apt-get.
2. Run nm </path/to/libcoreclr.so>

##

[2017-03-02 00:06] gkhanna79 commented on #1599
@ellismg Does this mean the new package will be `dotnet-host-1.0.1`?

How would the user revert back to 1.0.4 if they ran into issues with 1.0.5?

Correct.

I think we want to have the packages be componentized and something like dotnet-1.0 is what would be equivalent to the Windows bundle we generate (whether, on RHEL, it is a bundle or triggers the chain is an implementation detail). `dotnet-sha

[2017-03-02 00:20] ellismg commented on #1599
There are two components to the package.  The name of the package (in my proposal, that's `dotnet-host`) and the version.  I'd advocate just bumping the version.  That means anyone who does a dnf update and has `dotnet-host` installed would get the newer version.

This is in contrast to how I would say we should handle the shared framework.  In that world we bake the major and minor number into th

[2017-03-02 00:37] gkhanna79 commented on #1607
@chcosta Will this be addressed as part of your symbol packaging work?

CC @ericstj @noahfalk

[2017-03-02 05:17] hseok-oh commented on #725
@gkhanna79 Please apply two items in docker images in your next docker images update.
- Add rootfs for x86 in ubuntu1404 or/and 1604. We are preparing x86 linux CI build.
- Apply dotnet/coreclr#9897 in ubuntu1404 rootfs to build `libcoreclrtraceptprovider.so`

[2017-03-02 06:46] Petermarcu opened #1609 "Enable "Hacking Mode" for host"
It would be really nice to be able to set something that would allow an application to load even if files in its deps file aren't present. In this mode, I would also like to be able to drop additional dll's in my app and have them be allowed to load.

[2017-03-02 11:09] hseok-oh commented on #725
I makes new issues for x86 docker image. dotnet/coreclr#9903.

[2017-03-02 14:50] janvorli commented on #1591
@nazal2013 Could you please respond to my previous comment? I have installed Kali Linux, tried `apt-get upgrade` and `apt-get dist-upgrade`, but I am probably still on some older stuff since my libcurl3 version is 7.52.1-3.

[2017-03-02 15:34] omajid commented on #1599
Matt's entirely correct. A few points that I thought might be worth clarifying.

A (distro) package is generally identified by two components: name and version. The version in turn often consists of two components: the upstream version and the distribution version. As an example for python on my system, the name is `python`, the upstream version is `2.7.13` and the distro version is `1.fc25` (Ubun

[2017-03-02 17:16] tmds commented on #1217
@ellismg I had some comments and questions in this thread (https://github.com/dotnet/core-setup/issues/1217#issuecomment-281591614). Can you have a look please?

[2017-03-02 17:36] nazal2013 commented on #1591
Hi, sorry for late, I download it from Debian packages website not via repositories. Just download libicurl3 version 7.38 as deb package and install it
________________________________________
De : Jan Vorlicek [notifications@github.com]
Envoyé : jeudi 2 mars 2017 15:50
À : dotnet/core-setup
Cc : Oumarou CHAÏBOU; Mention
Objet : Re: [dotnet/core-setup] Hi everyone, after suffring during three week

[2017-03-02 17:44] chcosta commented on #1607
This is not directly related to the symbol packaging work I'm doing.  @dagood has more experience with the symbol stripping stuff.

[2017-03-02 17:55] dagood commented on #1607
As written, this has more to do with how `deb-tool` works. That kind of step is where symbol stripping is commonly done in Linux package manager flows (so I hear). I don't know where `deb-tool` comes from. It seems unrelated to packaging work to me, unless the root cause is how Core-Setup gets CoreCLR bits rather than `deb-tool` like the description says.

[2017-03-02 18:32] omajid commented on #1607
I am from Fedora land, where a similar problem would happen, I suppose. From what I understand, the packaging tool, during the package build process, goes over all binaries and strips them. The stripped binaries are put into a separate package (`-dbgsym` for Debian, `-debuginfo` for Fedora).

See [AutomaticDebugPackages](https://wiki.debian.org/AutomaticDebugPackages) for how debian packages get s

[2017-03-02 19:13] brianrob commented on #1607
My understanding matches that of @omajid.  Likely we just need to disable the stripping when producing packages.

[2017-03-02 19:14] omajid commented on #1607
A tangential question: is there some way to automatically verify that symbols needed for performance testing are available?

[2017-03-02 19:16] brianrob commented on #1607
Yes, you could do something like nm libcoreclr.so and make sure that the result is not "no symbols".

[2017-03-02 19:17] brianrob commented on #1607
Or, you could also take the output of nm before and after the production of the package and diff them.

[2017-03-02 19:22] omajid commented on #1607
Thanks, those are good suggestions.

That said, is there some way to verify the functionality itself? What I mean is that the format for debugging symbols seems to be evolving. I know that (some versions of) lldb have trouble reading debugging symbols processed by some versions of `rpmbuild`. Is there a way to verify that the symbols present are sufficient for the performance tracing implementatio

[2017-03-02 20:35] gkhanna79 commented on #1504
Closing since 1.1.x port is being tracked by https://github.com/dotnet/core-setup/issues/1548.

[2017-03-02 20:35] #1504 closed

[2017-03-02 20:36] gkhanna79 commented on #1589
Fixed with https://github.com/dotnet/core-setup/pull/1592

[2017-03-02 20:36] #1589 closed

[2017-03-02 20:39] RheaAyase commented on #1217
I touched on that topic in the issue #1599 as well, but I am yet to go through that thread so I've no idea where did it lead there. Too much traveling/pto this week, I won't have time til Sunday...

[2017-03-02 21:49] janvorli commented on #1591
@nazal2013 I am not sure how could you have succeeded running dotnet restore on Debian 9. There is no `openssl1.0.0` package for it, only `openssl1.1.0` (based on this: https://security-tracker.debian.org/tracker/source-package/openssl) which we don't support and when I run `dotnet restore`, it fails with the following error due to the missing openssl1.0.0 dependency:
[code]

[2017-03-02 22:23] janvorli commented on #1591
@nazal2013 I think I understand what you have done. You have probably installed libssl1.0.0, openssl1.0.0 and libcurl3 for Debian 8 and that made it work for you, right? I've tried these steps and they fixed the problem.

[2017-03-02 22:26] natemcmaster opened #1614 "Update corehost docs"
The corehost documentation is out of date. https://github.com/dotnet/cli/blob/master/Documentation/specs/corehost.md

For example, docs say the servicing index is configured via environment variable `DOTNET_SERVICING`, but at somepoint this was renamed to [`CORE_SERVICING`](https://github.com/dotnet/core-setup/blob/ccd5fdea16a55a9b79f551b5b060fe82de8b9fd4/src/corehost/common/pal.unix.cpp#L144)...a

[2017-03-02 23:33] gkhanna79 commented on #1614
@ramarag Can you please move this to Core-Setup repo and update the text as well?

[2017-03-03 08:40] rakeshsinghranchi commented on #1573
Issue is in signing step for runtime bundle. Advanced setting field for ProductName is incorrectly set to BuildConfiguration name. This needs to be fixed in Build definitions for 1.1.x branch.

[2017-03-03 08:47] rakeshsinghranchi commented on #1557
In 2.0.0 packages, UAC shows bundle exe name. Build definition for 2.0.0 uses microbuild for signing step. It does not expose ProductName field under advanced section. Also, looked at the msbuild SignFile task and it doesn't provide option to pass signtool.exe '/d' equivalent argument . This needs further follow up with MSBuild team for SignFile task. Note, this issue is common across the board ,

[2017-03-03 17:08] gkhanna79 commented on #1557
@chcosta @dagood Do you have suggestions on how to fix this?

CC @wtgodbe

[2017-03-03 17:21] gkhanna79 opened #1620 "Handle computed RIDs that are missing in RID fallback graph"
With PR https://github.com/dotnet/core-setup/pull/1584, the host now computes it's RID at execution time. This works well so long as the RID in question is present in the RID fallback graph the host uses from the SharedFX.

However, if the OS the host is running upon is not supported in the RID fallback graph, then the asset lookup will fail on OSX and Linux (on Windows, we conservatively set the

[2017-03-03 17:21] gkhanna79 commented on #1620
One manual workaround for such platforms is to set DOTNET_RUNTIME_ID environment variable to a supported RID.

[2017-03-03 17:25] weshaggard commented on #1620
Could we also add support for passing this as a parameter to the host? I really hate depending on environment variables.

[2017-03-03 17:26] dagood commented on #1557
I don't, maybe @crummel?

[2017-03-03 18:22] crummel commented on #1557
We didn't end up having to do this, but Barry said the MicroBuild team is very open to adding signing methods, they could probably add a version of this that passes the "/d" argument.  I'd probably start with the microbuild alias.

[2017-03-03 18:32] glennc commented on #1565
@gkhanna79 I don't think C is correct in the example. I think you should get 1.1.0.

Rolling forward onto a pre-release of 1.2.0 when I asked for a 1.0.0 pre-release doesn't seem right.

Moving to a `1.0.0-echo` or to the next lowest stable would be fine. But I am not convinced about moving to another pre-release of a different version. Do you have more reasoning about why you think it should floa

[2017-03-03 18:43] gkhanna79 commented on #1565
This change didn't affect how prerelease versions are handled and even today, if the requested prerelease version is missing, then we will move to the next higher build of the prerelease.

This is the thing that your scenario requested in 1.0.

Thanks,
Gaurav

-------- Original message --------
From: Glenn Condron <notifications@github.com>
Date: 3/3/17 10:32 AM (GMT-08:00)
To: dotnet/core-setup <

[2017-03-03 19:10] glennc commented on #1565
You are saying that today, before this change or if this change is not enabled, then `1.0.0-foo` will roll forward to `1.1.0-foo` if `1.0.0-foo` is not on the machine?

[2017-03-03 20:32] cakine commented on #1565
Actually, C will fail in the example. Pre-releases can only roll forward onto pre-releases with the same major, minor and patch values. But, like @gkhanna79 stated, this change didn't affect this behavior.

[2017-03-03 20:52] glennc commented on #1565
OK. That makes sense. It is rolling forward across major/minor versions that I was concerned about. Today a pre-release doesn't roll forward onto a stable either, and if I understand correctly this doesn't change that either. Is that correct?

[2017-03-03 20:53] cakine commented on #1565
Correct.

[2017-03-03 20:58] challe opened #1622 "Segmentation fault on Raspberry Pi (Ubunty 16.04) when trying to run a Web API"
## Steps to reproduce
`dotnet new webapi`

Change the `csproj`-file so that it looks like this:

[code]
Followed by
[code]

Now take all of the files that were created in the `bin/Debug/netcoreapp2.0/publish` and copy these files to the Raspberry Pi. Try to run the application by doing:
`usr/bin/dotnet /home/challe/dev/test/test.dll`

## Expected  behavior
Something along the lines of `Now listeni

[2017-03-03 21:09] rakeshsinghranchi commented on #572
This issue is fixed in 2.0.0 . https://github.com/dotnet/core-setup/pull/1571#pullrequestreview-23143709

[2017-03-03 21:11] rakeshsinghranchi commented on #1575
Refer similar fix in 2.0.0 : https://github.com/dotnet/core-setup/pull/1571#pullrequestreview-23143709

[2017-03-03 21:11] rakeshsinghranchi commented on #1574
Refer similar fix in 2.0.0 : https://github.com/dotnet/core-setup/pull/1571#pullrequestreview-23143709

[2017-03-03 21:26] gkhanna79 commented on #572
@rakeshsinghranchi Do you have the 1.1.x and 1.0.x version of the issue filed? If so, please close this.

[2017-03-03 21:48] gkhanna79 commented on #1622
Does the segmentation fault go away when the following is false?

`<ServerGarbageCollection>true</ServerGarbageCollection>`

CC @janvorli

[2017-03-03 21:50] gkhanna79 commented on #458
Bringing this back to your attention @piotrpMSFT @eerhardt

[2017-03-03 21:51] gkhanna79 commented on #1454
@benaadams Are there any outstanding questions/concerns around this?

[2017-03-03 21:52] gkhanna79 commented on #1581
@JunTaoLuo 1.0.4 is not yet released.

[2017-03-03 21:53] gkhanna79 commented on #1581
Let me know if that helps.

[2017-03-03 21:54] gkhanna79 commented on #1590
Is there anything actionable on this issue?

[2017-03-03 22:01] rakeshsinghranchi commented on #572
@gkhanna79  Yes.
1.0.x : https://github.com/dotnet/core-setup/issues/1574
1.1.x:https://github.com/dotnet/core-setup/issues/1575

[2017-03-03 22:01] #572 closed

[2017-03-03 22:13] benaadams commented on #1454
No; it sort of makes sense :)

[2017-03-03 22:13] #1454 closed

[2017-03-03 22:31] gkhanna79 commented on #1593
What is incorrect above the information above? The output reflects the version details for the host. SDKVersion display should be a SDK command - and the above does not require SDK to be installed.

[2017-03-04 07:00] challe commented on #1622
That's the one that is supposed to add `System.GC.Server` to your `runtimeconfig.json`, right? I have tried running it with it being set to both `true` and`false` with the same result:
[code]

[2017-03-04 07:26] challe commented on #1622
After updating the runtime on my Raspberry Pi from `2.0.0-beta-001518-00` to 2.0.0-beta-001663-00, this error does no longer occur.

[2017-03-04 07:44] gkhanna79 commented on #1622
Excellent @challe

[2017-03-04 07:49] gkhanna79 commented on #1231
@rakeshsinghranchi @vivmishra Please work with @leecow on this.

[2017-03-04 07:51] gkhanna79 commented on #1229
@Petermarcu Do you know what this is about?

[2017-03-04 07:52] gkhanna79 commented on #1183
@rakeshsinghranchi @vivmishra Isnt this a dup of one of the issues already assigned to you for 1.0.X? If so, please close this as a dup.

[2017-03-04 08:09] challe opened #1632 "Missing Method Exceptions from Kestrel when trying to run Web API on Raspberry Pi"
## Steps to reproduce
`dotnet new webapi`

Change the `csproj`-file so that it looks like this:

[code]
Followed by
[code]

Now take all of the files that were created in the `bin/Debug/netcoreapp2.0/publish` and copy these files to the Raspberry Pi. Try to run the application by doing:
`usr/bin/dotnet /home/challe/dev/test/test.dll`.

It says that the application has started and that it is listen

[2017-03-04 11:32] rakeshsinghranchi commented on #1229
Payload cab that contains the files carried by MSI is embedded in MSI. Ask is to keep the cab external to MSI so that msi size is smaller when cached in Windows Installer Cache . Once the cab is external to the MSI, both should exist beside  each other for sucessful installation. This means existing MSI will split into msi + cab file.

[2017-03-04 15:43] Petermarcu commented on #1632
Interesting, there is an effort going on right now to move ASP.NET on top of Span. @KrzysztofCwalina , does there need to be an explicit reference to the Span package at this point?

I think its in this package: https://dotnet.myget.org/feed/dotnet-core/package/nuget/System.Memory

ASP.NET versions that use that type should be referencing that package.

[2017-03-04 15:44] Petermarcu commented on #1632
I'm guessing this happens everywhere. Not just on your Pi.

[2017-03-04 17:45] goldshtn commented on #1607
I think it would be perfectly fine to provide a separate debuginfo package and put full symbols in it. This makes installation faster and smaller, and most users and production deployments won't need the debuginfo anyway. I realize it might complicate things on your end a bit, but that's what most packages use. Even fundamentals like libc would usually have minimal symbols embedded and then a debu

[2017-03-04 20:33] gkhanna79 commented on #1632
CC @jkotas

[2017-03-04 20:46] jkotas commented on #1632
This is caused by breaking change in System.Memory public surface that @ahsonkhan made to fix https://github.com/dotnet/corefx/issues/13681.

ASP.NET needs to pick up latest version of System.Memory packages to be compatible with latest Microsoft.NETCore.App.

[2017-03-04 21:10] jkotas commented on #1632
@davidfowl What does need to happen for ASP.NET to pick up latest System.Memory?

[2017-03-04 23:07] davidfowl commented on #1632
I'm surprised we're even binding to that method. We need to wait until the corefxlab packages get mirrored into asp.net's feed. That's being worked on...No eta yet /cc @pranavkm

[2017-03-04 23:10] Petermarcu commented on #1632
In the meantime, can @challe reference the package directly or will that break other things?

[2017-03-04 23:32] davidfowl commented on #1632
Referencing the package won't help. You'd need to downgrade your runtime back to netcoreapp1.1

[2017-03-05 02:28] Petermarcu commented on #1632
Can't, this is an architecture we don't have in 1.X. we need to get 2.0 working.

[2017-03-05 02:29] Petermarcu commented on #1632
Should we undo the breaking change until this is properly coordinated?

[2017-03-05 02:30] omajid commented on #1607
This is what we are doing in Fedora [1](https://copr-be.cloud.fedoraproject.org/results/nmilosev/dotnet-clean/fedora-25-x86_64/00516123-dotnetcore/). There's a .NET Core package (`dotnetcore`) and a debug symbols package (`dotnetcore-debuginfo`). If debug symbols aren't required for general functionality, I suggest that the debian packages follow the same format. But see also https://github.com/do

[2017-03-05 02:35] gkhanna79 opened #1636 "Native DLL's used through platform invoke arent loaded from AppContext.BaseDirectory"
@piotrpMSFT commented on [Thu Feb 09 2017](https://github.com/dotnet/coreclr/issues/9447)

Moved from https://github.com/dotnet/cli/issues/5622 on behalf of @PurelySimple. There are more details in the original issue.

 @yizhang82

----

## Steps to reproduce
1. Create a new console project (ie MyApp) that outputs `Console.WriteLine(AppContext.BaseDirectory);`
2. Reference a native DLL call on a m

[2017-03-05 03:37] davidfowl commented on #1632
We *could* but I like using it as a forcing function to get our mirror fixed.

/cc @Eilon

[2017-03-05 04:09] Petermarcu commented on #1632
It would be great to understand how long this will be broken and back out the change if its going to be more than a day or so. We have a lot of people using 2.0 pre-release builds that will quickly discover this break.

[2017-03-05 05:03] jkotas commented on #1632
https://github.com/aspnet/kestrelHttpServer is the last part that requires updating to get the change absorbed. Revering it would need to propagate through coreclr, corefx and corefxlab.

[2017-03-05 20:21] richlander opened #1638 "Keep ~/resources/ThirdPartyNotices.txt up to date"
How does that happen? which  repos are "consulted" for this content?

https://github.com/dotnet/core-setup/blob/master/resources/ThirdPartyNotices.txt

[2017-03-05 22:41] Petermarcu commented on #1632
Looks like ASP.NET was able to get a build out with all the updated references.  If you get the latest from the MyGet feed this should be fixed. Here is the feed to add to your NuGet.config (I assume you already had it).

https://dotnet.myget.org/F/aspnetcore-ci-dev/api/v3/index.json

Make sure you have at least : Microsoft.AspNetCore.Server.Kestrel 1.2.0-preview1-23736

[2017-03-05 23:05] omajid commented on #1638
I am also curious about the difference between `resources/ThirdPartyNotices.txt` and `THIRD-PARTY-NOTICES`.

[2017-03-06 01:41] richlander commented on #1638
THIRD-PARTY-NOTICES is a statement for the repository. You can see we have those in most of our repos.

This other file in resources is for the built product as a binary distribution. When you build any product, commercial or free, you need to include a notice (in some form) that states what third party components are included. Assuming the form is a file (which is quite common) then that file nee

[2017-03-06 01:53] davkean commented on #1593
@gkhanna79 --help and --version require that the SDK installed. It's extremely unclear from the output of those commands that this is the case. It's confusing as it is, that dotnet.exe is really two things in one.

Why is --version and --help even shown as options when SDK isn't installed?

[2017-03-06 01:56] davkean commented on #1593
To make it clear, this is what it outputs when the SDK _is_ installed:
[code]

-and-

[code]

[2017-03-06 01:57] davkean commented on #1593
The jekyll and hyde behavior of these commands is confusing.

[2017-03-06 05:37] AlfredoMS commented on #283
New public branch https://github.com/dotnet/core-setup/tree/buildtools
Work to be completed on this branch before merging into master.

@ellismg

[2017-03-06 05:38] AlfredoMS commented on #283
**How to use new branch**

Windows:
- run build.cmd
Mac and Linux
- run build.sh -- /p:TargetRid= [your desired target rid, e.g. osx.10.10-x64  or ubuntu.16.04-x64

you can use -verbose for msbuild verbose logging and -SkipTests=true to skip test that are broken*

To run the build step by step you can use this commands just add .sh or .cmd according to your os

sync
run build-custom -verbose -- sr

[2017-03-06 17:29] eerhardt commented on #458
We've asked @SpiraMira for more information on the issue in #455, but haven't heard back.  I would suggest closing this and #455 until we can get more info on how to reproduce the error.

[2017-03-06 17:55] #458 closed

[2017-03-06 17:55] gkhanna79 commented on #455
Closing until we have more specific repro steps. Please reopen when you have the details.

[2017-03-06 17:55] #455 closed

[2017-03-06 18:59] gkhanna79 commented on #1632
Issue moved to [dotnet/corefx #16778](https://github.com/dotnet/corefx/issues/16778) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-06 18:59] #1632 closed

[2017-03-06 19:01] gkhanna79 commented on #1638
@richlander What is the expected next step here?

[2017-03-06 19:01] gkhanna79 commented on #1638
cc @leecow

[2017-03-06 19:46] richlander commented on #1638
@Petermarcu and I were discussing this. Here is the basic take-away:

- Each repo should have an up-to-date 3PN at the root using our uniform format.
- Each repo should publish repo-specific distributions that include that 3PN. This will typically be NuGet packages.
- A tool/process should be written that harvests and aggregates the 3PN files from either NuGet or GitHub (I don't personally care wh

[2017-03-06 20:09] eerhardt commented on #635
I've spoken with @ericstj in the past on this type of situation.  In short, what you are trying to do is not supported.

The dependencies of libraries that target `netstandard` change between build-time and runtime.  More correctly, the dependencies change between the build-time of the library and the build-time of the composing application, which actually knows which runnable .NET platform it is

[2017-03-06 21:04] vivmishra opened #1645 "Enable Host to carry shared component (registry and files) - 1.0.X fix"
This issue for fixing the 1.0.x issue as per https://github.com/dotnet/core-setup/pull/1615

## Broken scenario :
Install Runtime Bundle 2 ( higher version )
Install Runtime Bundle 1 ( lower version )
Uninstall Runtime Bundle 2

### Expected result :
-- Host (dotnet.exe) from Bundle2 should exist
Actual result:
-- Host ( dotnet.exe) is removed

## Issue
As of today , Host MSIs are major upgradable

[2017-03-06 21:06] vivmishra opened #1646 "Enable Host to carry shared component (registry and files) - 1.1.X fix"
This issue for fixing the 1.1.x issue as per https://github.com/dotnet/core-setup/pull/1615

## Broken scenario :
Install Runtime Bundle 2 ( higher version )
Install Runtime Bundle 1 ( lower version )
Uninstall Runtime Bundle 2

### Expected result :
-- Host (dotnet.exe) from Bundle2 should exist
Actual result:
-- Host ( dotnet.exe) is removed

## Issue
As of today , Host MSIs are major upgradable

[2017-03-06 21:55] gkhanna79 commented on #634
@dcorns Please feel free to reopen the issue if you are able to repro the problem per https://github.com/dotnet/core-setup/issues/634#issuecomment-280980697 above.

[2017-03-06 21:55] #634 closed

[2017-03-07 01:03] natemcmaster commented on #635
Closing as we don't need this anymore. We worked around it by using project.asset.json to get the info we need about runtimes.

[2017-03-07 01:03] #635 closed

[2017-03-07 01:34] #1386 closed

[2017-03-07 13:26] Petermarcu commented on #1638
@richlander can you work with @shawnro to get this tool on the engineering backlog? Its something that all our projects are going to need to have so things will flow properly.

[2017-03-07 13:33] cydhaselton opened #1651 "Enabling Android ARM64 for .NET Core"
This issue will be a list of tasks necessary to enable Android ARM64 for .NET Core, in the style of [Enabling Linux ARM32 for .NET Core](https://github.com/dotnet/core-setup/issues/725).

References
- [Android: Next Steps](https://github.com/dotnet/coreclr/issues/9946#issuecomment-284232191)

cc\ @qmfrederik

[2017-03-07 14:44] RheaAyase commented on #1599
_Sorry for the somewhat late reply, I had a bunch of PTO last week and didn't get to sit down long enough to go through this._

@bleroy said:

Yes that is what I was thinking about (I don't like the current naming for debian branch...)
* **Except** that the `dotnet-sdk` might be a bit different for every distro. _(As @omajid replied to @Petermarcu)_ I do not see this as a problem, so for example t

[2017-03-07 16:56] eerhardt opened #1653 "Port #1424 to master"
We merged a fix to `release/1.1.0`, but that fix isn't in the `master` branch.

See #1424.  in `release/1.1.0` we have DiaSymReader.Native `1.4.1`.  In `master` we still have `1.4.0`.

@gkhanna79 @tmat @mikem8361

[2017-03-07 19:03] gkhanna79 commented on #1653
@tmat Can you please do the needful?

[2017-03-08 01:43] jyoungyun commented on #725
@gkhanna79 Can I know when the tizen nupkgs are upload to MyGet server? I wanna enable tizen CI in core-setup. And... are you going to upload ubuntu arm tarball to Azure server? I'm trying to build cli for ubuntu arm but it depends on Azure server to download runtime tarball.

[2017-03-08 01:57] gkhanna79 commented on #725
Ubuntu tarball is available - see https://dotnetcli.blob.core.windows.net/dotnet/master/Binaries/Latest/dotnet-ubuntu.16.04-arm.latest.tar.gz. Does this not help @jyoungyun ?

[2017-03-08 03:59] richlander commented on #1638
Sure. Can do.

@bleroy - can you include this in your "build from source" effort with @shawnro. It's somewhat related.

[2017-03-08 04:14] dsplaisted opened #1664 "dotnet version picker prefers version 1.0.0 over preview builds of 2.0.0"
- Install VS 2017
- Install [latest build of the 2.0.0 SDK](https://dotnetcli.blob.core.windows.net/dotnet/Sdk/master/dotnet-dev-win-x64.latest.exe)
- Run `dotnet --info`

EXPECTED: Version number is the 2.0.0 preview version, such as 2.0.0-alpha-005165 (exact number will depend on the build that was installed)
ACTUAL: Version number is 1.0.0

Workaround: Use a global.json, with contents such as:

[2017-03-08 04:20] richlander commented on #1564
@Petermarcu  In general, that makes sense to me as the reason.

I think we're going to need to start a 2.0 branch for docs for some of this before long (like next month). That's a little bizarre given that we just merged over the csproj content, replacing the previous p.j content today.

@blackdwarf For now, I suggest you make a note in the current doc to cover this case. Other ideas?

[2017-03-08 04:38] jyoungyun commented on #725
Oh, there it is. However, it seems that the tarball should upload below url when I build the cli. Who should I talk to at the url below?
`https://dotnetcli.azureedge.net/dotnet/master/Binaries/2.0.0-beta-001675-00/dotnet-ubuntu-x64.2.0.0-beta-001675-00.tar.gz`

[2017-03-08 17:38] gkhanna79 commented on #1664
Isn't this a CLI issue @dsplaisted @livarcocc? I am not aware of the host hardcoding 1.0.0 anywhere for this scenario.

[2017-03-08 19:16] livarcocc commented on #1664
This is how the host picks which CLI to run.

I think the host today, prefers a no-preview version of the CLI over a higher version one that is preview. And that's how 1.0.0 is winning over 2.0.0-alpha-something.

[2017-03-08 19:20] gkhanna79 commented on #1664
Yes, this is by design. And if there is no production version available, then the highest pre-release will be picked up.

[2017-03-08 19:30] gkhanna79 commented on #1581
With .NET Core 1.0.4 released, can you retry this @JunTaoLuo?

[2017-03-08 19:51] livarcocc commented on #1664
Shouldn't it just follow semver instead of having this special rule?

[2017-03-08 19:56] gkhanna79 commented on #1664
This policy was defined as the scenario for SDK from get-go. @piotrpMSFT may have more context on this than I do.

[2017-03-08 20:02] JunTaoLuo commented on #1581
The .deb package still installs 1.0.1

[2017-03-08 21:08] tloo opened #1673 "Is .Net Framework 4.5.1 required .Net Core Windows Hosting by force?"
Is .Net Framework 4.5.1 required .Net Core Windows Hosting by force?

## Steps to reproduce
On Windows Server 2008, we have .Net Framework 4.5.5 installed.

## Expected  behavior
.Net Core Windows Hosting should be installed correctly.

## Actual behavior
![image](https://cloud.githubusercontent.com/assets/375419/23723943/0626ab68-0419-11e7-9999-7849ac8078e1.png)
The logs
[dd_DotNetCoreWinSvrHosti

[2017-03-08 21:36] gkhanna79 commented on #1581
@blackdwarf Have we published the 1.0.4 SharedFX to the Deb feeds?

[2017-03-08 21:36] gkhanna79 commented on #1581
CC @leecow

[2017-03-08 21:53] gkhanna79 commented on #1673
@glennc @DamianEdwards Can you please loop in the right folks? Also, is there a more appropriate repo to move this issue to?

CC @leecow

[2017-03-08 23:47] gkhanna79 opened #1674 "HostPolicy servicing maybe broken after RID split package support"
See https://github.com/dotnet/core-setup/blob/master/src/corehost/cli/fxr/fx_muxer.cpp#L57

CC @ericstj

[2017-03-08 23:54] gkhanna79 commented on #1620
I have been thinking about this. While it is straightforward for us to cap Windows and OSX RIDs to the highest OS version known at the time FX was built (by hard-coding that information), it is not scalable for us to keep that information for Linux as we will need to maintain a list of all known distros and match against them to determine the version we know of. This becomes more fundamental as we

[2017-03-09 00:03] weshaggard commented on #1620
I'm not necessary seeing a difference between hard-coding these pseudo RIDs in the runtime.json for the RID graph vs in the host policy? They both can be updated independently as needed.

I see a couple potential risks with having the pseudo RIDs in the runtime graph, that wouldn't exist if they were in the host policy.

1. will start potentially using them in their packages and essentially cause

[2017-03-09 00:21] gkhanna79 commented on #1620
One fundamental difference is that host code remains unchanged (aside from adding the look up of the new pseudo RID) and when we add new RIDs in future, we do not have a dependency to update the host as well. Otherwise, we need to update the everytime the RID graph is updated, splitting it into two different repos and coordinating the change.

Also, making the change in the host implies that we wi

[2017-03-09 00:26] gkhanna79 commented on #1620
Needless to say, the guideline would be to not use these RIDs. I also corrected the representation of pseudo RID above.

[2017-03-09 01:31] gkhanna79 commented on #1620
@Petermarcu @weshaggard and I chatted about this offline as well and agreed that we need to keep things simple. In that light, when the computed RID (which will not be capped to the known highest version for Windows and OSX) is not found in the RID fallback graph, we will use the base RID for all the platforms (e.g. win-x64, osx-x64, linux-x64).

[2017-03-09 05:21] mellinoe commented on #196
@dasMulli I think it would be sufficient (at least IMO) to just provide alternative versions of `dotnet.exe` and `apphost.exe` to be deployed next to the application. I'm not very concerned about the scenario where the application is invoked through the shared / CLI host program. Doing so implies to me that you are already operating from the command line and thus don't care about the console windo

[2017-03-09 05:40] richlander commented on #196
I'm happy to consider this scenario. As @gkhanna79 suggests, the team is focused on scenarios that don't require this, however, I appreciate and love the experimentation and productization we are seeing with .NET Core. I want to encourage that more and part of doing that is developing a track record of helping people do cool stuff. If we can find a good solution that doesn't add significant compli

[2017-03-09 05:41] richlander commented on #676
Linking to the PR: https://github.com/dotnet/core-setup/pull/855

[2017-03-09 06:19] Petermarcu commented on #196
I am supportive too. Seems like the leading proposals are:

1. Provide an alternate entrypoint `dotnetw` that will do the right thing to avoid the command prompt.
2. Provide a variant of `dotnet` in the SDK that gets copied and renamed to `myapp` depending on a setting in the project. Default would be what it does today. The the value for `GUIApplication` could be set to true to get the alternate.

[2017-03-09 08:02] mellinoe commented on #196
"2." is something I think could be easily accomplished, assuming we agree on the particulars. There's a couple of additional things discussed above which are not necessarily restricted to GUI apps:

* Renaming the published executable file. Right now .NET Core apps always show up as `dotnet.exe` in the process list -- not great. This is probably something we should do for non-GUI apps, anyways, al

[2017-03-09 08:13] richlander commented on #196
Clarification -- Is this soley for self-contained apps? The "always dotnet" is a shared fx scenario but then you wouldn't be copying.

[2017-03-09 08:16] Petermarcu commented on #196
I would start with self-contained. @mellinoe , do you agree? The shared scenario I think would neccesitate something more like #1.

[2017-03-09 09:45] mellinoe commented on #196
I'm interested in the native host which is published next to all applications, both portable and standalone. I'm not really as interested in having a version of the "global dotnet" host, because the use of that implies to me that you are running from a command line in the first place.

[2017-03-09 13:40] yzrmn commented on #196
Hi guys,

@mellinoe, thanks for bringing this up.

I am currently developing a purely managed, CPU-based graphics toolkit for .NET and running into the same problem that @zwcloud described with Core (console window is showing and output type 'Windows Application' does not work).

This might be OT, but I would like to propose a approach that might be better in terms of user experience for GUI appli

[2017-03-09 14:36] dasMulli commented on #196
So i guess this would mean a new "branch" of RIDs?
Like.. you put `<RuntimeIdentifier>win7-x64-gui</RuntimeIdentifier>` in your `csproj` and it will resolve a "gui subsystem" host?

[2017-03-09 15:01] wjk commented on #196
@yzrmn @mellinoe I have already accomplished what is being discussed (mark as GUI subsystem, add resources to entry point) with an MSBuild task in a private repo of mine. No modifications to .NET Core itself are required, and Visual Studio still debugs the application just fine. I will work on moving the code into a public repo sometime in the near future. Thanks!

[2017-03-09 18:26] mellinoe commented on #196
Like.. you put <RuntimeIdentifier>win7-x64-gui</RuntimeIdentifier> in your csproj and it will resolve a "gui subsystem" host on dotnet publish?

I don't think we need anything so complicated. I was anticipating we could just ship `apphostw.exe` in the existing Windows package next to `apphost.exe`. The SDK already understands that it needs to deploy and rename this file for published executable pr

[2017-03-09 22:03] omajid commented on #1620
I can't comment on Windows, but for an unknown linux distribution, handling it as `linux-x64` (which assumes a linux with recent-ish glibc) seems like a very good approach.

[2017-03-10 01:15] jyoungyun commented on #725
@gkhanna79 Do you want to enable ubuntu 16.04 arm CI by default ?

[2017-03-10 16:06] gkhanna79 commented on #725
@jyoungyun Is there significant difference between the 14.04 and 16.04? IMHO, unless we start to see issues unique to it (which will manifest as build breaks in official pipeline), having one should be sufficient. What do you think?

[2017-03-10 17:57] #1620 closed

[2017-03-10 20:26] gkhanna79 commented on #1484
Issue moved to [dotnet/coreclr #10097](https://github.com/dotnet/coreclr/issues/10097) via [**ZenHub**](https://www.zenhub.com/)

[2017-03-10 20:26] #1484 closed

[2017-03-10 21:34] mikaelm12 commented on #1565
Just fyi, the environment variable is actually called  `DOTNET_ROLL_FORWARD_ON_NO_CANDIDATE_FX`.
[Located here](https://github.com/cakine/core-setup/blob/7245872288f911eedb7bf4daebf360f61e9c19be/src/corehost/cli/runtime_config.cpp#L83)

[2017-03-10 22:18] gkhanna79 commented on #753
@livarcocc Can you please summarize the scenario on this thread to ascertain whether to fix this or not?

CC @eerhardt

[2017-03-10 22:21] gkhanna79 commented on #1622
@challe I am closing this issue based upon your comment above.

[2017-03-10 22:21] #1622 closed

[2017-03-11 00:50] wjk commented on #196
@mellinoe I have just finished open-sourcing my .NET Core GUI-entry-point solution. [Here it is!](https://github.com/wjk/Sunburst.Win32UI) Note that my implementation of this task requires both Win32 APIs _and_ Visual Studio, simply because I found that invoking `rc.exe` and `link.exe` is easier and less error-prone than trying to assemble the resource data myself. However, even if I did assemble

[2017-03-11 01:11] Petermarcu commented on #1664
Do we really want the presence of a pre-release SDK to take over for people who are all using a Release quality SDK? Installing a preview SxS and having that "take over" with lower quality sounds wrong.

[2017-03-11 04:02] blackdwarf commented on #1664
I agree with @Petermarcu. We have a well-defined and understood (and documented) mechanism that provides support for people that want to try out previews. I would not think that our users would expect that they get the preview SDK when they type `dotnet build` on their 1.0 project.

[2017-03-11 13:28] olegsavelos commented on #725
@hqueue Am i correct in my assumption that this build dotnet-debian.8-armel.1.2.0-beta-001271-00.tar.gz should run on PI Zero Raspbian?
I have tried it but get segmentation fault when executing dotnet command. Anything i can do to resolve it?

[2017-03-11 16:10] Petermarcu commented on #725
I don't think it works on Pi Zero. I don't think anyone has looked at why.

[2017-03-11 16:14] ThadHouse commented on #725
@olegsavelos the debian.8-armel build will not work on a raspberry pi zero. All of the builds here are for armv7 devices, with the different versions selecting between hard float ABI and soft float ABI. The Pi Zero (and the original Pi) is an armv6 device. I do not know what it will take to get armv6 working and building, but it could range from fairly easy (changing compiler flags) to very diffic

[2017-03-11 20:43] richlander opened #1707 "Merge core-setup and core repos"
I have been looking at the core-setup and core repos. It increasingly seems like they have overlapping goals. I am wondering if we would be best off by merging them. Also core-setup is a bad name, while Core is a good one (more intuitive / accurately descriptive).

If people agree, I would suggest that we rename this repo to core and delete the other one (import current core repo history here via

[2017-03-11 22:34] Petermarcu commented on #1707
It's an interesting thought. There are some things to consider. netcoreapp as well as uwp get built here. The cli and sdk repos likely need consideration as well. IMHO, they are in a much more confusing state. Whichever way we go, there will be a lot of infra and links to fix up and it would have to be a well coordinated effort.

[2017-03-12 00:04] richlander commented on #1707
Github repos preserve links on rename.

Major point is that I would like for the core repo to be more useful, including build information (like core-setup has) and the build from source effort is going to target that.

It could be that core-setupjust isn't the one to join forces with and I am willing to believe that.

In any case, now is the time to rethink some of this as the start of the 2.0 pro

[2017-03-12 01:27] Petermarcu commented on #1707
I agree with the direction. Let's see if we can come up with a proposal for the shape we want to get to. The links I'm talking about aren't the comment links. It's all ouright infra that points to different places and all the checked in links.

[2017-03-12 05:22] richlander commented on #1707
All the links should work (I believe), like `git clone core-setup`. Anyway, I agree with you ... let's come up with a plan.

This is related: https://github.com/dotnet/core/issues/520#issuecomment-285753568

[2017-03-12 08:49] olegsavelos commented on #725
Can anyone shed some light on Armv6 support ?

[2017-03-12 12:32] JensNordenbro commented on #725
@jyoungyun , will the tizen build work on an image including https://github.com/TizenTeam/meta-tizen on yocto?

[2017-03-12 14:44] hqueue commented on #725
@olegsavelos If you meant PI Zero with Broadcom BCM2835, I'm afraid it's not easy to work  dotnet-debian.8-armel.1.2.0-beta-001271-00.tar.gz  on your Pi Zero. As @ThadHouse said, PI Zero is based on armv6 and current dotnet for ARM make use of Thumb-2 ISA which is not available in armv6 and vfp feature which is mostly available in armv7, but only optinally available in armv6. AFAIK armv6 support o

[2017-03-13 03:37] rahulreddy65 commented on #725
@olegsavelos where can I get dotnet-debian.8-armel.1.2.0-beta-001271-00.tar.gz? Please send me the download link. Thank you

[2017-03-13 14:56] omajid commented on #1707
Request from (somewhat of) an outsider: it would be great if someone cloned github/dotnet/core and got the same thing as the "full" .NET Core: the SDK. That's equivalent to the current "cli" repo, right?

If not, +1 on making it match .NET Core runtime (aka current core-setup).

[2017-03-13 15:38] ravimeda opened #1719 "Core-Setup build should not rely on Dockerfile within the repository"
## Steps to reproduce

1. Perform an official build.

## Expected  behavior
Rather than consuming (or maintaining) a Dockerfile within a repository, it is more efficient to specify the image name required through PB_DockerImageName variable in a build task, and let PipeBuild pull the appropriate image on behalf of the build.  Investigate the possibility of reusing the shared images in `microsoft/d

[2017-03-13 17:58] gkhanna79 commented on #1707
Can you please elaborate on this @richlander ?

[2017-03-13 19:34] MichaelSimons opened #1721 "build-rootfs.sh does not always set the exit code to a non-zero value when hitting a failure"
The [build-rootfs.sh](https://github.com/dotnet/core-setup) script does not set the exit code correctly upon most failures.  This is problematic when invoking directly because the output is very lengthy and you can easily miss errors when scanning.  More importantly, because of this it is not practical to invoke this script programmatically and determine if it succeeds.

Sample error I would expec

[2017-03-13 19:53] eerhardt opened #1722 "Microsoft.NETCore.App 2.0 should no longer depend on Microsoft.NETCore.DotNetHost"
End users will no longer consume the host that is contained in `Microsoft.NETCore.DotNetHost`.  It no longer makes sense to have every .NET Core console app depend on this host, and have tooling that just takes it out of the build/publish content.

Another approach we could take:

No longer build the `Microsoft.NETCore.DotNetAppHost` package.  Instead, just put the "AppHost" in the existing `Micro

[2017-03-13 20:27] gkhanna79 commented on #1722
I agree that doing this will definitely simplify things in SDK. However, it also requires thinking a bit more about how Core-Setup platform installers would need to be produced, how we specify the version of DotnetHost package to be used for platform installer generation, to name a few.

We cannot do this as explained at https://github.com/dotnet/sdk/pull/978#discussion_r105721813. I think better

[2017-03-13 21:21] ramarag opened #1725 "Provide an exception for apphost.exe in hostpolicy"
https://github.com/dotnet/core-setup/blob/8d2969489eed71571ccc1555c690b67171b275e1/src/corehost/cli/deps_resolver.cpp#L473

assumes apphost is resolved from M.N.App, correct it to microsoft.netcore.dotnetapphost

cc @gkhanna79

[2017-03-14 00:53] #1614 closed

[2017-03-14 01:16] ramarag commented on #1507
@MichaelSimons please add/point to steps to get the repro environment. For expedient investigation a ready to use repro environment will be appreciated

[2017-03-14 02:29] richlander commented on #1707
Sure. There is now engineering work in the core repo: https://github.com/dotnet/core/tree/master/tools/dotnet-bootstrap. This work enables you to build the whole product from source. The existing core-setup repo doesn't something similar in a different way. Is that right?

[2017-03-14 04:29] gkhanna79 commented on #1707
I am not sure what the above mwans - Are you asking if Core-Setup offers similar capability?

[2017-03-14 05:09] richlander commented on #1707
Sorry. I mis-typed. I meant: "The existing core-setup repo does something similar in a different way". Also, the whole readme is an intro to .NET Core of sorts. That's what we had in mind for dotnet/core.

[2017-03-14 05:19] richlander commented on #1664
We had a related conversation today. We should keep the following characteristics:

- Customers can install pre-release .NET Core versions easily and use the same workflows as normal (like `dotnet new`).
- Customer do not regret installing pre-release .NET Core versions. They can continue to use their stable versions for prod work and can uninstall or upgrade the pre-release version cleanly.

[2017-03-14 05:25] gkhanna79 commented on #1664
IIRC, there was a discussion around doing something like `dotnet new --fxver <ver>` that would help such scenarios and the goals above. Where did that eventually land?

[2017-03-14 14:00] MichaelSimons commented on #1507
@ramarag,

1. IMO the quickest would be to use Docker
   1. https://docs.docker.com/docker-for-windows/install/
   1. Make sure you switch to windows containers - https://docs.docker.com/docker-for-windows/#switch-between-windows-and-linux-containers
   1. To reproduce the problem run `docker run microsoft/dotnet-nightly:2.0-sdk-nanoserver dotnet --help`  This will run the latest 2.0 CLI within a

[2017-03-14 21:34] shaunluttin commented on #1489
We are experiencing this with `dotnet test` and seeing `...deps.json] does not exist`.

[2017-03-14 23:03] gkhanna79 commented on #1597
Initial PR for this is at https://github.com/dotnet/core-setup/pull/1727

[2017-03-14 23:18] gokarnm opened #1739 "Microsoft.Extensions.DependencyModel and plugin based applications"
Microsoft.Extensions.DependencyModel package which contains classes read deps files and provides list of dependencies, depends on internal mechanisms that make it difficult to use this package in a plugin based application.
I'm have a host application that loads one or more plugins. Each plugin is loaded from a different base directory that contains the plugin DLL and plugin deps.json file. Each p

[2017-03-14 23:22] gkhanna79 opened #1740 "Do not copy hostpolicy built afresh into SharedFX"
See https://github.com/dotnet/core-setup/blob/master/build_projects/shared-build-targets-utils/Utils/SharedFrameworkPublisher.cs#L238-L242

This does not seem correct as there is nothing special about hostpolicy being in SharedFX anymore than any other binary that is part of it.

CC @eerhardt @ramarag @ellismg

[2017-03-15 06:02] Petermarcu opened #1741 "pdb's are showing up in the archives"

[2017-03-15 06:14] Petermarcu commented on #1741
Looks like this is related: https://github.com/dotnet/core-setup/pull/1723

@chcosta

[2017-03-15 14:57] eerhardt commented on #1740
Just an FYI - that comment came when we "Locked down the Muxer":

https://github.com/dotnet/cli/commit/62eda6c2d7fb398986fff98093e887d7ce6e13e3#diff-0318e14ec884b5700c20aa3e06d856ceR564

This came in on this PR: https://github.com/dotnet/cli/pull/2636

[2017-03-15 22:20] gkhanna79 commented on #1674
This is a forcing function to understand how the following will work in 2.0.0:

1) Hammer servicing for M.N.App constituents
2) Ensure that RID split version of M.N.App only gets the locked versions of the host (or only gets the components that are serviced).

CC @weshaggard @eerhardt @ramarag

[2017-03-15 22:28] omajid commented on #1599
The case that I am referring to is the following:

- `foo`, version `1` depends on `bar`
- `foo`, version `2` depends on `baz`

In this case the dependency on `bar` does not exist when `foo`, `2` is installed. Upgrading from `foo`, `1` to `foo`, `2` does not remove `bar`. Both [Fedora](https://fedoraproject.org/wiki/Upgrade_paths_%E2%80%94_renaming_or_splitting_packages) and [Debian](https://www.d

[2017-03-15 22:39] omajid commented on #1599
I would prefer it .NET Core project made a recommendation. I personally prefer `sdk`, over `-dev`/`-devel` since that's what https://www.microsoft.com/net/download/core calls it. Is there another named for it used here on github or on microsoft.com?

[2017-03-15 22:41] bleroy commented on #1599
Yes, sdk would be preferable as far as we're concerned. Let's go for that.

[2017-03-15 23:59] RheaAyase commented on #1599
Updated to reflect your preferences, I'm also inclined to it, was just wondering how strong are the dev/devel conventions... Do we have anything else to add to this, or can we write it up somewhere in a better .md file perhaps, as guidelines?

---
**Packages:**
* `dotnet-host` - Refer to @ellismg's [comment](https://github.com/dotnet/core-setup/issues/1599#issuecomment-283226359). _[No relevant do

[2017-03-16 00:28] ericstj commented on #1674
I think @ramarag was undoing the change that merged the host into NETCore.App.  I don't care much what you do here, just make your scenarios work and understand that there is a desire to flatten the package graph for .NET Core App.  I think you can make either work and there are likely additional changes to make the merge work.

[2017-03-16 00:54] Petermarcu opened #1749 "Should we rename Microsoft.NetCore.App to avoid the problem that Mac's think its a package?"
I've gotten feedback a few times now that people wish this weren't the case. Renaming has impact. I thought I'd at least file the issue and we can discuss the merits one way or the other.

[2017-03-16 03:38] ramarag commented on #1507
looks like nano does not recognize the guids for
FOLDERID_Profile and FOLDERID_ProgramData

I have verified that value in the host are the same as what we find in https://msdn.microsoft.com/en-us/library/windows/desktop/dd378457(v=vs.85).aspx

Is there a good way to find the sdk headers for nano ?
The SHGetKnownFolderPath windows call on nano returns an error code ERROR_ENVVAR_NOT_FOUND  and E_NOT

[2017-03-16 15:16] fsateler commented on #1599
On debian and derived distros, this is true, but only if you use `apt-get`. If you use `apt` (which is the new recommendation for end users) or `aptitude`, automatically installed packages will be removed if nothing else depends on them. This can be easily worked around by creating a virtual package `dotnet-runtime`, that all `dotnet-major.minor` packages Provide. `dotnet` could then Recommend thi

[2017-03-16 18:57] ericstj opened #1755 "Add validation in NETCore.App that RID-specific assets are present"
Nothing in NuGet nor MSBuild makes sure a RID-specific asset is present.  We used to be able to rely on the matching REF/LIB check (AKA: gaurdrails) but that has been removed in NuGet 4.

We should add our own check in our targets for .NETCore.App to make sure the RID specific runtime bits are present.

/cc @weshaggard @Petermarcu

[2017-03-16 19:07] natemcmaster commented on #1664
cc @davidfowl @kichalla are you aware of this? It looks like we need to re-add global.json to all aspnet projects to make 2.0.0 CLI work.

[2017-03-16 19:39] natemcmaster commented on #626
@gkhanna79 can we reopen this? This is actually a problem for us. The way that it silently falls back to some version makes it hard to enforce the global.json version. We _want_ an error if the global.json sdk version isn't available. How do we do that?

[2017-03-16 19:46] natemcmaster commented on #679
+1. Would also be nice to have an option such as "preferPrerelease" to opt-in to latest unstable installation even if a stable SDK version is installed. cref https://github.com/dotnet/core-setup/issues/1664#issuecomment-285140280

[2017-03-16 19:48] natemcmaster commented on #1664
This is painful for dogfooding. global.json more a guideline than an actual rule. The muxer **silently** ignores global.json (https://github.com/dotnet/core-setup/issues/626), and the global.json format is limited to listing a specific version (https://github.com/dotnet/core-setup/issues/679). There is no way to express "use 2.0.0-*".

[2017-03-16 20:03] weshaggard commented on #1674
We need to be sure that we still have a working hammer servicing story for other things beyond just the hostpolicy. We need to make sure it works for everything in the flat NETCore.App package.

[2017-03-16 20:28] chcosta opened #1756 "Update readme.md to include links to shared-framework symbols zips / tarballs"
https://github.com/dotnet/core-setup/pull/1748 creates symbols zips / tarballs.  This issue is tracking adding links to those in the [README.md](https://github.com/dotnet/core-setup/blob/master/README.md) file.

[2017-03-16 21:01] ericstj commented on #1674
That just works.  They are still in packages and the path is based on the package path.  Hammer servicing has always been 1:1 with the package ID, version, and path in the package.

[2017-03-16 22:26] dagood opened #1757 "dockerrun.sh explicit pre-build image pull uses wrong path: doesn't append /Dockerfile"
When building using a dockerfile, for example:

    build.sh --skip-prereqs --configuration Release --docker ubuntu.14.04 --targets Default

The build emits this in the logs:

    grep: scripts/docker/fedora.23: Is a directory

[dockerrun.sh#L118](https://github.com/dotnet/core-setup/blob/19829e68d80a6ca249d230a09f7da8a90c0fb60d/scripts/dockerrun.sh#L118) should be trying to grep `scripts/docker/f

[2017-03-16 22:31] livarcocc opened #1758 "VS and CLI offline package cache have mismatching SHAs"
_From @muratg on March 2, 2017 18:39_

When dotnet is first executed after a CLI installation, dotnet uncompresses its offline package cache, and does a restore.  This restore creates a SHA. This SHA is different between dotnet initial installation and Visual Studio restore.

![image](https://cloud.githubusercontent.com/assets/1808428/23521434/d925ea00-ff33-11e6-9017-565157fc3d6a.png)

_Copied fro

[2017-03-16 22:31] livarcocc commented on #1758
@ericstj Would you know why the lzma decompressed nupkgs would differ for the CLI?

[2017-03-16 22:31] livarcocc commented on #1758
_From @ericstj on March 2, 2017 19:27_

Because we reconstruct the nupkg ZIPs from a list of files and the zip implementation is platform specific.    In @muratg's example above the files are the same but their compressed representation is different.

[2017-03-16 22:31] livarcocc commented on #1758
_From @ericstj on March 2, 2017 19:34_

FWIW I did try to get them byte for byte identical in v1 and I believe I had it working assuming the folks who originally packed the nupkg did it with the same zip implementation we used.  But all bets are off if someone used a different implementation (eg: pack with desktop, zip the folder using explorer or winzip, etc).  I'll get the order of entries corre

[2017-03-16 22:32] livarcocc commented on #1758
@gkhanna79 we discussed this a few weeks ago and the conclusion we arrived to was that the host should not use these SHA's anymore. Moved this here in case you don't have an issue tracking that already. If you do, just close this one as a dup of it.

[2017-03-16 22:46] natemcmaster opened #1760 "Muxer will invoke an SDK versioned "-1.-1.-1""
## Steps to reproduce
mkdir -p sdk/-1.-1.-1/
touch sdk/-1.-1.-1/dotnet.dll
dotnet --version

## Expected  behavior
It should ignore the "-1.-1.-1" file. This is a placeholder version

## Actual behavior
It attempts to use sdk/-1.-1.-1/dotnet.dll.

## Environment data
Using dotnet 2.0.0-beta-001747-00

[2017-03-17 03:32] gkhanna79 commented on #1758
Removing the SHA check would be a breaking change for the servicing releases - are we sure we want to make such a change?

CC @leecow @eerhardt @DamianEdwards @davidfowl @rrelyea

[2017-03-17 04:17] richlander commented on #1707
@leecow - Can you share our notes from our discussion today and then close the issue? We should also create an issue for @livarcocc in the dotnet/sdk repo, per the repo for the SDK. Thanks!

[2017-03-17 04:41] livarcocc opened #1762 "Strange behavior with Process creation and termination"
_From @mellinoe on April 29, 2016 21:36_

## Steps to reproduce

Consider this program:

[code]

NOTE: This is just an easy example, my use case is slightly different (using xdg-open to launch a browser). Ping works here because it usually takes a while to exit.
## Expected  behavior

The program starts a process, prints out "Process started", and terminates.
## Actual behavior

When executed via

[2017-03-17 04:41] livarcocc commented on #1762
_From @mellinoe on April 29, 2016 21:43_

Another point of data: If I execute `dotnet <test.dll>`, then the correct behavior is exhibited.

This repros on both Ubuntu and Windows (all I've tried).

[2017-03-17 04:41] livarcocc commented on #1762
_From @brthor on May 2, 2016 18:53_

It seems like we should be a little more robust in how we manage child processes in `dotnet run` here, it sounds like we are waiting for the entire process tree instead of the immediate child.

I don't think this is a blocker for RC2 though, comment if you feel otherwise.

[2017-03-17 04:41] livarcocc commented on #1762
@mellinoe I just tried this in 1.0.1 and I hit the same thing, except that when I published the app and run it using dotnet <dll> it exhibited the same delay there. So, wondering if that's an issue with dotnet.exe, since that's also what we use during dotnet run.

I will move this issue to core-setup.

[2017-03-17 04:55] gkhanna79 commented on #626
While this is implemented in the host, this is really the policy of CLI - how does it want such scenarios treated? Please work with @livarcocc if you really wish to have this behaviour changed.

[2017-03-17 05:06] gkhanna79 commented on #679
CC @livarcocc as this is in the CLI/SDK policy resolution.

[2017-03-17 16:01] gkhanna79 commented on #1664
CLI resolution policy does not ignore global.json - it simply ignores an invalid version, specified in global.json, to find the next valid version. The policy, as implemented, is to first look for the version in global.json and if not found, look for stable CLI version and if that is also not found, look for a pre-release CLI version.

[2017-03-17 16:36] natemcmaster commented on #1664
All of that is invisible to the user. There is no console output, warnings, or errors when the global.json version is as invalid format or valid but not installed. Hence, the appearance of dotnet.exe silently ignoring global.json.

[2017-03-17 16:43] natemcmaster commented on #626
Hey @livarcocc I wish to have this behavior changed. As @shanselman originally wrote, I would also expect dotnet.exe to issue some kind of warning or error when the sdk version in global.json is invalid or not found. Can we have a discussion about implementing this?

[2017-03-17 16:59] leecow commented on #1707
Meeting notes:

**Core repos**
 - Common information, dependency info, etc are appropriate for a central location. Eg dotnet/core
     - Release documentation assets
     - Issue logging
     - Potentially sub-module as BfS entry point

 - core-setup remains separate but common info in readme and info moves to /core
 - cli bootstrapper (https://github.com/dotnet/core/tree/master/tools/dotnet-boots

[2017-03-17 16:59] #1707 closed

[2017-03-17 19:00] gkhanna79 commented on #1762
Dotnet.exe is not launching processes @livarcocc. It simply calls into the managed entrypoint.

How did you repro this? What delay did you see?

[2017-03-17 19:42] #1756 closed

[2017-03-18 00:35] ramarag commented on #1126
@daneb please provide the trace generated when run with export COREHOST_TRACE=1.
If that will not be sufficient, we would need full steps to reproduce this issue

[2017-03-18 00:37] ramarag commented on #636
@pgrm can you please provide the trace generated when run with export COREHOST_TRACE=1.

[2017-03-18 00:38] ramarag commented on #1725
fixed by https://github.com/dotnet/core-setup/pull/1728

[2017-03-18 00:38] #1725 closed

[2017-03-18 01:36] ramarag commented on #1636
@PurelySimple please try this scenario again with 1.0 tooling. This appears to have been resolved there.
If you are still facing this issue please feel free to reopen the issue
https://blogs.msdn.microsoft.com/dotnet/2017/03/07/announcing-net-core-tools-1-0/

[2017-03-18 01:36] #1636 closed

[2017-03-18 01:42] omajid commented on #1126
Can someone provide the systemd service file?

Systemd unit files are a little weird, `Exec=COREHOST_TRACE=1 /usr/bin/dotnet Wolverine.dll` is interpreted as trying to run `CORESHOST_TRACE=1` or something, which it refuses. Use the following syntax:

[code]
I would suggest adding in LD_DEBUG=all if this might have anything to do with the runtime dynamic linker.

[2017-03-18 01:56] omajid commented on #1126
Here's what I did:

    $ ~/dotnet-1.1.1/dotnet --info
    .NET Command Line Tools (1.0.0-preview2-1-003176)

    Product Information:
     Version:            1.0.0-preview2-1-003176
     Commit SHA-1 hash:  de817fd2d5

    Runtime Environment:
     OS Name:     rhel
     OS Version:  7.2
     OS Platform: Linux
     RID:         rhel.7.2-x64

    $ mkdir hello-web
    $ cd hello-web/
    $ ~/dot

[2017-03-19 12:14] olegsavelos commented on #725
Mono seems to be working fine on armv6 so wouldn't it be possible to port the portions of code related to armv6 to .net core? In any case i think PI Zero is excellent platform for wide range of solutions and it would be shame not to support it.

[2017-03-19 18:16] PurelySimple commented on #1636
@ramarag I am able to verify that the 1.0 tooling fixes the above reproduction steps.

However, if the native DLL depends on another native DLL (secondary dependency) that is not referenced in the managed project, it will not successfully load the dependency even though it resides in the same directory as all the other DLL's.

Is it better to reopen and add this caveat or open a new issue? Thanks

[2017-03-20 10:15] gegenschall commented on #1599
Hey everyone,

I'm currently maintaining .NET Core on Arch Linux (as [AUR](https://wiki.archlinux.org/index.php/Arch_User_Repository) packages) and want to chime in on this discussion. Thanks @omajid for notifying me about it.

First of all: Arch Linux is not an officially supported distribution by .NET Core, so I (and the maintainers before me) had to jump through some hoops to get it running. Sp

[2017-03-20 15:59] gkhanna79 commented on #1636
Is the second native DLL in the same nuget package as the first native DLL? If so, i would expect it to be present in app.deps.json.

CC @eerhardt

[2017-03-20 17:40] muratg commented on #1739
Assigning to @gkhanna79 and @eerhardt based on our discussion last week.

[2017-03-20 17:42] muratg commented on #624
Assigning to @gkhanna79 and @eerhardt based on our discussion last week.

@gkhanna79 This is one of the bugs that we need in 2.0.0.

[2017-03-20 17:44] muratg commented on #622
Assigning to @gkhanna79 and @eerhardt based on our discussion last week.

[2017-03-20 17:49] muratg commented on #638
Assigning to @gkhanna79 and @eerhardt based on our discussion last week.

@gkhanna79 This is not a scenario we care about from MVC point of view in 2.0.0. Please feel free to move it to a future milestone.

[2017-03-20 17:51] muratg commented on #625
Assigning to @gkhanna79 and @eerhardt based on our discussion last week.

@gkhanna79 This is not a scenario we care about from MVC point of view in 2.0.0. Please feel free to move it to a future milestone.

[2017-03-20 17:53] gkhanna79 commented on #1597
@davidfowl @DamianEdwards @glennc Do you have any thoughts on this?

[2017-03-20 17:54] muratg commented on #617
Assigning to @gkhanna79 and @eerhardt based on our discussion last week.

@gkhanna79 Ideally the following two methods would be removed in 2.0.0:

https://github.com/dotnet/core-setup/blob/master/src/Microsoft.Extensions.DependencyModel/RuntimeLibrary.cs#L76-L77

[2017-03-20 17:56] bleroy commented on #1599
Thanks all, this is very useful. We'll certainly add documentation with recommendations on package naming based on your input.

@gegenschall can you give more details about some scenarios where someone would install `dotnet-cli` and not `dotnet-sdk`? I understand you said this is something you inherited, but is there a compelling reason to keep it around?

[2017-03-20 18:02] eerhardt commented on #625
@danroth27 - I think your rename has drastically changed the intention of this issue.

The original issue was asking to "allow for custom compilation assembly load locations", meaning to be able to add more https://github.com/dotnet/core-setup/search?utf8=%E2%9C%93&q=ICompilationAssemblyResolver instances.

I'm not sure what the new name is asking for.  Do you want to retrieve the DependencyModel

[2017-03-20 18:24] danroth27 commented on #625
@davidfowl

I want to be able to get the DependencyModel for a different assembly than the current app assembly. This came up when I was working on ASP.NET Core modules, where I wanted to be able to add a package to my app that brings in MVC controllers and views. The discovery of controllers for that package would need to be scoped to the dependency model for just that package.

[2017-03-20 18:54] DamianEdwards commented on #1597
@gkhanna79 I think it's fine for this feature to not be a capability of standalone apps. I think it's in keeping with the general ethos that standalone/self-contained apps are deployed that specifically because they don't want outside influences on them.

[2017-03-20 19:11] RheaAyase commented on #1599
@gegenschall:
Yep your scheme is close enough to the idea, with a small difference - that we would prefer `dotnet.major.minor` instead of `dotnet-lts` because... which lts? :p

[2017-03-20 19:35] gkhanna79 commented on #1597
@DamianEdwards, in that case, I would like to ensure that feature does not lightup for standalone scenarios. Are you fine with this enforcement?

Also, can you folks please chime in on https://github.com/dotnet/core-setup/pull/1727#discussion_r106680983 as well?

[2017-03-20 19:37] DamianEdwards commented on #1597
I'm fine with this not working for stand-alone apps.

[2017-03-20 20:44] muratg commented on #625
cc @Eilon

[2017-03-21 02:13] ramarag commented on #1636
@gkhanna79 this issue is not consuming native assets from nuget packages.
@PurelySimple  copies over the native binaries to the bin folder and expects the app to consume it.

@PurelySimple the host is not in charge of the policy to load the native dlls which are copied over,
Can you explain how the secondary dependency is being used by the native DLL.
Can you provide the repro ?
Did you try the sa

[2017-03-21 04:13] gkhanna79 commented on #1636
@ramarag My point is that the host only consumes native components that are specified in the app.deps.json and is the reason why copying over will not work. thus, any secondary dependency needs to be in the nuget package as well.

[2017-03-21 08:20] davidfowl commented on #625
AFAIK the issue is with the fact that we only search the application base for dependencies.

/cc @pakrym

[2017-03-21 10:44] gegenschall commented on #1599
@bleroy If you were to deploy a server you wouldn't need the SDK, right? But this is a case you most likely wouldn't do with Arch + .NET Core as its officially unsupported, you're right.
Apart from that I guess I would annoy several people if I remove or rename dotnet-cli...

@RheaAyase You are absolutely right! I'll upload `dotnet-major.minor` packages, point `dotnet` to the latest, and ask for a

[2017-03-21 15:13] eerhardt commented on #1559
`1.0.5` is open for check-in, correct?  Should we make this change now?

[2017-03-21 15:48] pakrym commented on #625
Yes, we can get dependency model for random assembly but we are not using its location during compilation assembly resolution.

[2017-03-21 15:57] eerhardt commented on #625
I think I'm getting more confused as the discussion goes on.

Can we start over and list the exact scenario that doesn't work?  Maybe some repro steps and expected/actual results would help explain.

[2017-03-21 16:01] bleroy commented on #1599
@gegenschall if you deploy to a server, you should only need the shared framework release, no?

[2017-03-21 16:58] gkhanna79 commented on #1559
Yes, we should get it in now.

[2017-03-21 16:59] pakrym commented on #625
Scenario in which people hit this issue looks the following way.
There is an application that uses MVC, and a plugin application that user want's to load dynamically from random directory on disk that brings own dependencies, MVC views, ref assemblies.

When doing `DependencyContext.Load` for plugin.dll you compilation library resolution would no work because it donesn't know to search for compila

[2017-03-21 17:27] emgarten commented on #1559
Great! I'll take a look at merging Joel's change.

[2017-03-21 19:10] RheaAyase commented on #1599
@bleroy that should depend on the host because that is what decides which version of framework to use for said application you want to run. You can have as many versions of framework as you wish.

[2017-03-21 20:07] livarcocc opened #1801 "Unsigned files in the shared framework"
\2.0.0-beta-001808-00\mscorlib.dll NotSigned
\2.0.0-beta-001808-00\netstandard.dll NotSigned
\2.0.0-beta-001808-00\SOS.NETCore.dll NotSigned
\2.0.0-beta-001808-00\System.dll NotSigned

Guys, I found these unsigned files in the shared framework. Any reason why they are not being signed?

@gkhanna79 @Petermarcu @eerhardt

[2017-03-21 20:12] gkhanna79 commented on #1801
These files should be getting signed and must be getting signed until recently (else this would have come up earlier).

@dagood @chcosta Do you know why these maybe getting dropped?

[2017-03-21 20:17] gkhanna79 commented on #1801
@chcosta I am assigning this to you take a look. Looking at https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build/index?buildId=627451&_a=summary, for example, the signing step is green even though the `MicroBuild.Plugins.Signing.Targets` is having a red cross next to it.

[2017-03-21 20:24] emgarten commented on #1559
@gkhanna79 @eerhardt which branch should this go into for 1.0.5? master?

[2017-03-21 20:29] chcosta commented on #1801
I would suspect this change - https://github.com/dotnet/core-setup/commit/3573ecb82607fabdda104722d8df32c00263892a

I can prepare a fix.

[2017-03-21 20:38] bleroy commented on #1599
oooh, no, ok, sorry, so @gegenschall's `dotnet-cli` is just our `dotnet-host`... That was actually clearly stated...

[2017-03-21 20:42] gkhanna79 commented on #1559
release/1.0.0 and once your PR is prepared, please send email to shiproom.

[2017-03-21 21:26] ramarag commented on #1636
@gkhanna79
The unamanged native binary loading is handled by the OS, coreclr just calls into the OS to load it. The OS is in fact responsible for loading the native binary's dependency. So listing it the deps file will not be useful unless it is loaded before the current binary in question

@PurelySimple does this make sense to you?

[2017-03-21 21:28] gkhanna79 commented on #1636
That path  (in nuget package) is not something that LoadLibrary will search as it is not an app path.

Thanks,
Gaurav

-------- Original message --------
From: Rama krishnan Raghupathy <notifications@github.com>
Date: 3/21/17 2:27 PM (GMT-08:00)
To: dotnet/core-setup <core-setup@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Mention <mention@noreply.github.com>
Subjec

[2017-03-21 21:58] chcosta commented on #1801
I've merged a fix for this.  I'll take a look at tomorrow's packages to see if the listed binaries are getting signed.

[2017-03-21 22:59] eerhardt commented on #624
Assigning to @ramarag to fix along with https://github.com/dotnet/sdk/issues/1002, which is basically the same issue.

@ramarag - the high-level plan here is that if the native dotnet host knows how to load assemblies from a given place, then DependencyModel should be able to load assemblies from that place as well.  So in my mind, the work necessary is:

1. The dotnet host will pass all `addition

[2017-03-21 23:04] ellismg commented on #1741
Fixed with 19829e68d80a6ca249d230a09f7da8a90c0fb60d

[2017-03-21 23:04] #1741 closed

[2017-03-21 23:14] pakrym opened #1805 "Bring back dependency model funtional tests"
They got lost during CLI - core-setup migration:

https://github.com/dotnet/cli/commit/ee1474c161f6c862ebfaa31506840cbbc449b1ac#diff-f2e26b66d6ee9d609fe65e5877080cf4

https://github.com/dotnet/core-setup/commit/e416af6140697699d9d6533e1f534faf22d7770a#diff-f2e26b66d6ee9d609fe65e5877080cf4

There were also couple test projects that were in `/TestAssets/DependencyContextValidator` directory but I ca

[2017-03-21 23:44] #1597 closed

[2017-03-22 00:28] chcosta commented on #1801
mscorlib.dll, netstandard.dll, and System.dll now appear to be test signed.  @dagood , @crummel , do you know the magic to fix this sot hey get real signed?

[2017-03-22 04:34] gkhanna79 commented on #215
@ramarag Was this completed as part of the host-split work?

CC @eerhardt

[2017-03-22 04:34] gkhanna79 commented on #217
@ramarag I take it you will use this issue to track the packaging resolution work you are doing, right?

CC @eerhardt @ericstj

[2017-03-22 12:00] raffaeler opened #1810 "Assembly Loading in a mixed framework environment"
[This is just a discussion / brainstorming]
Let's say there is a scenario with:
- An App running either with netstandard or netcoreapp
- A common netstandard dll defining an interface
- A number of plugins, either netstandard or netstandard, that are NOT directly referenced by the App

The discussion is about the best solution and/or the missing runtime and tools to ease developer's life.

Here th

[2017-03-22 14:32] raffaeler commented on #1810
Point 3
One way to identify the current running framework (netstandard vs netcoreapp) is the following.
This is fine for code compiled with the latest compilers.
Older assemblies do not have this attribute, therefore this system is not reliable to retrieve the framework they were supposed to run on.

[code]

_The nuget package Microsoft.Extensions.Platform.Abstractions (currently version 1.1.0) us

[2017-03-22 14:36] dagood commented on #1801
I don't have any ideas. The build step's logs say that they're being submitted for real signing and it seems to succeed, but even remoting into the machine (in case the wrong thing got packaged) shows them being test signed. I don't know what's responsible for printing the "for Real signing" message, so I don't know if something's being misrepresented.

[2017-03-22 15:05] PurelySimple commented on #1636
@ramarag The secondary dependency is a plugin library that is loaded via [LoadLibrary()](https://msdn.microsoft.com/en-us/library/windows/desktop/ms684175(v=vs.85).aspx) with a relative path from the primary dependency.

From my understanding, [Windows DLL load order](https://msdn.microsoft.com/en-us/library/windows/desktop/ms682586(v=vs.85).aspx) should follow this behavior:
`The directory from w

[2017-03-22 15:18] raffaeler commented on #1810
Point 1. Curiosity about VS2017
As already said, the editor is aware of the "TargetFramework", but the debugger is not.
This is a valid multi-targeting for the new csproj.
`<TargetFrameworks>netcoreapp1.1;net462</TargetFrameworks>`

If instead I specify the following, the *last* wins and the first is just ignored.
[code]
Every time you need to debug under one of the two frameworks, you need to cha

[2017-03-22 15:31] Petermarcu commented on #1810
@ramarag @gkhanna79

[2017-03-22 16:00] eerhardt commented on #215
I don't think this was completed.  I just tried it with the latest core-setup build `2.0.0-beta-001820-00`, and I was able to use the muxer to invoke a published self-contained app.

For my education - are we sure we want to limit this?  What is the reasoning/background/priority of this take-away?

[2017-03-22 16:10] gkhanna79 commented on #215
Yes, we need to do this. The plan is that, post the host split work, dotnet.exe will be signed and while apphost.exe won't be. As a result, we do not want dotnet.exe to be copied over, renamed to app.exe and be executed with our signature.

[2017-03-22 16:24] eerhardt commented on #215
But what about using the muxer located at `%PROGRAMFILES%\dotnet\dotnet.exe`?  We want it to fail for invoking self-contained apps as well?

[2017-03-22 16:28] gkhanna79 commented on #1636
Are you trying a portable app or standalone app? For the former, this is the path to dotnet.exe while latter, this will be path to app.exe which is actually containing all app binaries. Copying over in the standalone case would work since OS would find it in app's folder.

@PurelySimple Where is the secondary dependency coming from? Is it not next to the actual native binary that depends upon it?

[2017-03-22 16:33] gkhanna79 commented on #215
That muxer is the dotnet.exe which is going to be signed and will only support activation of portable apps. For standalone apps, apphost.exe is going to be published in the app that will be unsigned and can only activate standalone apps.

[2017-03-22 16:33] gkhanna79 commented on #215
This is the change that host-split work is all about.

[2017-03-22 16:56] eerhardt commented on #1805
@livarcocc - do you remember why these tests were removed?  or was it not intentional?

[2017-03-22 19:48] dagood opened #1816 "Use init-docker in CrossBuild"
CrossBuild doesn't use `init-docker` before trying to use an image. As a result, the ordinary Docker logic is to pull without retries, which often fails. We need to work out how to properly include this script in the CrossBuild.

It isn't straightforward to include because in `master` we want to use init-docker from BuildTools, but we don't have BuildTools at this point in the build.

[2017-03-22 20:09] chcosta commented on #1801
https://github.com/dotnet/corefx/pull/17398

[2017-03-22 20:11] gkhanna79 commented on #1801
@chcosta This file comes from CoreCLR. Do you need to make a similar change there as well?

[2017-03-22 20:16] chcosta commented on #1801
That file appears to be signed.  Can you provide a specific instance where it's not so that I can investigate further?

[2017-03-22 20:26] chcosta commented on #1801
The Microsoft.NETCore.App package contains signed binaries (or will after dotnet/corefx#17398 is merged and consumed in Core-setup).  Looking at the zips, the binaries there do not appear to be signed, which is somewhat surprising to me.

[2017-03-22 20:28] gkhanna79 commented on #1801
SOS.NETCore is listed at the start of this thread as unsigned and hence, I brought it up. If it is indeed signed, then I am wondering why @livarcocc came across it as unsigned - do you know?

[2017-03-22 22:18] rakeshsinghranchi commented on #1183
This is dupe of https://github.com/dotnet/core-setup/issues/1575

[2017-03-22 22:18] #1183 closed

[2017-03-22 23:08] chcosta commented on #1801
The zips contains crossgen'd binaries which don't get strong-name signed again.  The CoreFx fix should address the signing issue initially reported.  We can close this issue once Core-Setup gets updated to consume the signed CoreFx binaries.

[2017-03-23 07:36] gkhanna79 commented on #1674
@ramarag I am assigning this to you since you are looking into fixing this.

[2017-03-23 14:11] dagood opened #1824 "HTTP 400 "The specified block list is invalid." when publishing to blob storage"
In the official build, we sometimes get a 400 error when trying to publish artifacts onto Azure blob storage. https://devdiv.visualstudio.com/DevDiv/_build?buildId=631398:

[code]

[code]

---

Approaches:

 1. Remove our parallel overwrites: https://github.com/dotnet/core-setup/issues/1994.
 2. Catch and ignore this specific exception.
 3. Use more semaphores to avoid concurrent writes.

[2017-03-23 14:24] eerhardt opened #1825 "NETCore packages are being produced for both win10-x64 and win7-x64"
We are producing packages for win10-x64 and win10-x86, when we should only be producing for win7 (or possibly just `win`):

See
https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win10-x64.Microsoft.NETCore.App
https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win10-x86.Microsoft.NETCore.App

/cc @ericstj @chcosta @gkhanna79

[2017-03-23 14:27] PurelySimple commented on #1636
@gkhanna79 I've built a lot of managed code around my native dependencies. My workflow as I develop it is a portable app as I can debug it faster but the end goal is a nuget package that other projects will consume and be built as standalone apps. The standalone build works great as all the dependency DLL's live in the same folder and I can distribute it on platforms just fine. Its the portable ap

[2017-03-23 15:33] markwilkie commented on #1824
Do you know if there’s an issue tracking retries (or other hardening) for this Davis?

From: Davis Goodin [mailto:notifications@github.com]
Sent: Thursday, March 23, 2017 7:11 AM
To: dotnet/core-setup <core-setup@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [dotnet/core-setup] HTTP 400 "The specified block list is invalid." when publishing to blob storage (#1824)

In

[2017-03-23 16:23] dagood commented on #1824
There isn't, but it sounds reasonable to fix this that way because it seems pretty random. This issue could track it, since it's specific to the core-setup build system.

[2017-03-23 16:43] chcosta commented on #1801
@livarcocc , can you provide a link to the package which had an unsigned SOS.NETCore.dll?  I looked at the contents of this package and it appeared to be fine - https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.win7-x64.Microsoft.NETCore.App/2.0.0-beta-001808-00

[2017-03-23 16:43] ericstj commented on #1825
I did this intentionally so we had runtime packages with a smaller layout: no API sets.  The API-sets aren't easily trimmable since they will always be referenced its just that they are inbox on Win10.

Also, perhaps with some recent changes to our toolset/pinvokes perhaps we no longer even need the API sets on win7.  @gkhanna79 can you clarify that?

[2017-03-23 17:12] Petermarcu commented on #1825
We dropped them completely from the shared framework that runs on all our supported windows platforms.

[2017-03-23 17:25] gkhanna79 commented on #1825
Correct - we do not need APISets anymore.

[2017-03-23 18:50] gkhanna79 commented on #1636
@PurelySimple Let me try to understand this better by giving some definitions to locations:

0) DotnetFolder - folder containing dotnet.exe (e.g. PF(x86)\dotnet)
1) ProjFolder - folder containing source files of your portable app
2) bin/Debug - Folder where dotnet build places the app binaries post build
3) bin/debug/netcoreapp1.0/debug - Folder where dotnet publish places the app binaries, and it

[2017-03-23 19:09] gkhanna79 commented on #1810
This is on our backlog to enable for Desktop FX as well.

@AlexGhiondea can you chime in on this?

@livarcocc should chime in on this.

This is by design since nuget packages do not have any 1:1 assembly/assembly version associations with their contents.

This is the correct way to help resolve dependencies that are not known at app build time.

Can you please elaborate on this? If a dependency is

[2017-03-23 19:41] yizhang82 commented on #1636
@gkhanna79 Can we document this somewhere? I've seen enough folks having trouble with this on .NET Core and we should publish a guidance doc for it. Perhaps @ramarag can write up something?

[2017-03-23 19:44] gkhanna79 commented on #1636
I would like to understand the issue first before we writeup something.

[2017-03-23 19:46] yizhang82 commented on #1636
@gkhanna79 Of course. :) However I"m also talking about the general question of "how do I make sure my native dependency gets loaded properly by the dotnet host".

[2017-03-23 19:54] gkhanna79 commented on #1636
They are already loaded if they are part of your nuget package since they are listed in the app.deps.json - nothing special is required.

[2017-03-23 21:21] ramarag commented on #217
will be fixed by https://github.com/dotnet/core-setup/pull/1819

[2017-03-23 21:27] ericstj commented on #1825
I see, https://github.com/dotnet/coreclr/commit/4f0753dce7402a2f9f51735292f07b6165989d17 removed that dependency.

In that case I agree, lets delete the extra packages.

[2017-03-23 21:36] eerhardt opened #1832 "Need to build core-setup for `linux-arm`"
We currently have `linux-x64` and `ubuntu.xx.yy-arm`, but we don't have a portable `linux-arm` build yet.

We need to get Jenkins and official builds for this new runtime.

/cc @gkhanna79

[2017-03-23 21:37] Petermarcu commented on #1832
@janvorli started looking that that.

[2017-03-23 21:39] gkhanna79 commented on #1832
CoreCLR started to produce linux-arm since yesterday. I am in the process of transitioning all repos to do the same - @Petermarcu what is @janvorli working upon? I want to make sure we are not doing the same thing.

[2017-03-23 21:42] gkhanna79 commented on #1832
Here is the package in question - https://dotnet.myget.org/feed/dotnet-core/package/nuget/runtime.linux-arm.Microsoft.NETCore.Runtime.CoreCLR

[2017-03-23 21:43] Petermarcu commented on #1832
he was just making sure that there weren't any blockers in building that way. I dont think he was actually hooking it all up.

[2017-03-23 21:44] gkhanna79 commented on #1832
I believe this was validated sometime ago, no?

[2017-03-23 21:46] Petermarcu commented on #1832
yeah

[2017-03-23 22:01] raffaeler commented on #1810
Thank you @gkhanna79
About the «Identifying missing dlls.» point.
I knew about COREHOST_TRACE but the logs are not as accurate as the fusion log viewer (fuslogvw.exe) is for the .net framework.
Are you telling me that will not be replacement for that tool in .net core?

[2017-03-23 22:09] MichaelSimons opened #1835 "Not all build definitions upload build logs."
Copied from https://github.com/dotnet/core-setup/issues/1555#issuecomment-281556352 for better visibility.

All build definitions should be made to upload build logs; currently only the Fedora 23 build definition does this (see https://github.com/dotnet/core-setup/blob/master/buildpipeline/Core-Setup-Fedora23-x64.json#L22-L39). For the Windows build definitions, the Contents will need to use a bac

[2017-03-23 22:11] MichaelSimons commented on #1555
I logged #1835 to cover the build log issue @naamunds mentioned.  I did this because I am going to fix the shared build definition problem without fixing the build log issue.

Taking ownership of this issue.

[2017-03-23 22:33] gkhanna79 commented on #1810
What specific things do you find missing that you are looking for? Currently, there is no plan for something like that for .NET Core.

[2017-03-24 00:10] #1825 closed

[2017-03-24 02:03] MichaelSimons commented on #1757
@ravimeda - Is this issue fixed?  Can it be closed?

[2017-03-24 02:11] ravimeda commented on #1757
Yes, PRs are as follows -

- Master  https://github.com/dotnet/core-setup/pull/1759
- 1.1.0  https://github.com/dotnet/core-setup/pull/1769
- 1.0.0  https://github.com/dotnet/core-setup/pull/1767

[2017-03-24 02:11] #1757 closed

[2017-03-24 02:14] ramarag opened #1840 "Host should give a better message when assemblies are not found in cache"
When apps are published with filter step and if we are not able to find them at runtime, we should throw a more meaningful message

[2017-03-24 02:27] PurelySimple commented on #1636
@gkhanna79

Using your definitions, let me clarify.
- (Fail Case)Copying all native DLL's (including the secondary dependency) into the bin/Debug folder post build and running dotnet bin/Debug/MyApp.dll from the ProjFolder, the secondary dependency DLL will not be found in 1.0 tooling.
- (Success Case # 1)Copying all native DLL's into the bin/Debug folder post build and running dotnet MyApp.dll fr

[2017-03-24 03:58] Petermarcu opened #1842 "Remove the VC Redist"
As soon as the runtime is carrying the uCRT with it, we need to merge this change into master: https://github.com/Petermarcu/core-setup/commit/340ab6690d36610c6ca0c49deb64cc2da889ba5f

[2017-03-24 03:58] Petermarcu commented on #1842
@gkhanna79 - FYI

[2017-03-24 11:47] raffaeler commented on #1810
The fuslogvw trace all the binding resolution steps: the folders where the assembly is looked for, and if it is found traces the version mismatch and the exact reason why the version cannot be loaded.

[2017-03-24 14:56] gkhanna79 commented on #1810
The same semantic equivalent is shown in corehost trace output, corresponding to the simpler binding model of .net core.

Thanks,
Gaurav

-------- Original message --------
From: Raf <notifications@github.com>
Date: 3/24/17 4:48 AM (GMT-08:00)
To: dotnet/core-setup <core-setup@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Mention <mention@noreply.github.com>
Subject:

[2017-03-24 15:23] raffaeler commented on #1810
hmm, in the trace I have created right now I just see
`Could not load file or assembly 'System.Net.Ping, Version=4.0.0.0, ....`
but there is no mention about the places where the dll has been looked for.

In a different test, I copied the 4.0.0.0 version of the System.Net.NetworkInformation.dll instead of the version 4.1.1.0 and there was no mention of it in the trace.
I obtained instead this outp

[2017-03-24 18:08] gkhanna79 commented on #1636
@PurelySimple Please see **Standard Search Order for Desktop Applications** section at https://msdn.microsoft.com/en-us/library/windows/desktop/ms682586(v=vs.85).aspx. All the cases enumerated above can be explained by the DLL search order. Specifically, when your "current working directory" does not contain the binaries, it fails but when it does, it passes.

I believe even if this is packaged wi

[2017-03-24 18:11] #1555 closed

[2017-03-24 23:05] eerhardt opened #1846 "The dotnet host should respect a RID graph from an app's .deps.json"
In applications that run on the shared framework, the app will have native assets for all the runtimes that are necessary.  For example, if you reference `SQLite`, you get the following in your publish directory:
![image](https://cloud.githubusercontent.com/assets/8291187/24316453/1158be72-10bc-11e7-98c1-617249ab9ad9.png)

However, the problem is the host only knows how to resolve these assets usi

[2017-03-24 23:26] gkhanna79 commented on #1846
If the host computed RID for the current OS is not in the RID fallback graph present with SharedFX, then we would use the fallback RID, which will be linux-* for the case above. Why would we need to have a RID fallback graph in the app unless our goal is to let external folks author their own RIDs and fallback graphs (something that we want to avoid, IIUC)?

[2017-03-24 23:34] eerhardt commented on #1846
Well, you need to take the scenario one step further.  Now `SQLite` ships a `LinuxEric` native asset.  (Or even better, as the maintainer of `LinuxEric`, I shipped a `runtime.LinuxEric.SQLite` package that contained the native asset for my distro.)  Will it still find the asset correctly?

Or if `LinuxEric` is based off of `debian`, and there is a `debian` asset that should be used.

The whole poi

[2017-03-25 00:09] gkhanna79 commented on #1846
If .NET Core does not support a new distribution of Linux (or Solaris) that has come out, what does it mean for someone to author an asset for it, using a custom RID, when the SharedFX does not exist for that platform (or does not work on it), even if the host can merge the RID fallback graph from FX and app? On the other hand, if it is possible for portable Linux RID sharedFX to work on such a ne

[2017-03-25 00:46] ramarag opened #1848 "Find Cached files relative to dotnet.exe"
This is useful when developers download CLI and use cache to populate the assemblies in
```<dotnet-install-dir>\packages\```
and expect the host to pick them up

originally reported in https://github.com/dotnet/sdk/issues/928

[2017-03-25 01:01] #1674 closed

[2017-03-25 01:02] #1722 closed

[2017-03-25 01:02] #274 closed

[2017-03-25 01:03] #217 closed

[2017-03-25 01:04] gkhanna79 commented on #1674
To close the loop, have we confirmed that fx.deps.json contains the data expected for this validation?

Thanks,
Gaurav

-------- Original message --------
From: Rama krishnan Raghupathy <notifications@github.com>
Date: 3/24/17 6:01 PM (GMT-08:00)
To: dotnet/core-setup <core-setup@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Assign <assign@noreply.github.com>
Subject

[2017-03-25 01:33] ramarag commented on #1674
I have verified the entry in fx.deps.json and it now points to hostpolicy package.

Just for the sake of completeness, the version of hostpolicy in the  fx.deps.json is whatever that was specified in the M.N.App package and the assembly that is put in the shared framework is from the locked version in the core-setup repo, They could Diverge!!!

[2017-03-25 01:44] gkhanna79 commented on #1674
I am not aware of this behavior being valid even before Eric's changes. Where do you see that happening? It is a bug.

Thanks,
Gaurav

-------- Original message --------
From: Rama krishnan Raghupathy <notifications@github.com>
Date: 3/24/17 6:33 PM (GMT-08:00)
To: dotnet/core-setup <core-setup@noreply.github.com>
Cc: "Gaurav Khanna (CLR)" <Gaurav.Khanna@microsoft.com>, Assign <assign@noreply.gith

[2017-03-25 22:04] PurelySimple commented on #1636
@gkhanna79 I can confirm the secondary dependency is not part of any nuget package. I suppose I could add PInvoke bindings to my secondary dependency just to insure that it becomes a primary dependency and can be found in the bin/Debug directory (as of 1.0 tooling). It just circumvents the original intentions of the native library.

I am wrapping the widely popular [SDL2 Library](https://www.libsd